<% if current_student.full_access_enabled? %>
  <% if current_student.is_on_team? %>
    <% if SeasonToggles.team_building_enabled? %>
      <li class="nav-link <%= al(new_student_mentor_search_path) %>">
        <%= link_to t('views.student.navigation.find_a_mentor'),
          new_student_mentor_search_path %>
      </li>
    <% end %>

    <li class="nav-link <%= al(student_team_path(current_team)) %>">
      <%= link_to t("views.student.navigation.my_team"), student_team_path(current_team) %>
    </li>
  <% elsif current_student.can_join_a_team? %>
    <li class="nav-link <%= al(new_student_team_path) %>">
      <%= link_to t("views.student.navigation.create_a_team"), new_student_team_path %>
    </li>

    <li class="nav-link <%= al(new_student_team_search_path) %>">
      <%= link_to t("views.student.navigation.join_team"), new_student_team_search_path %>
    </li>
  <% end %>

  <% if current_student.is_on_team? and current_team.submission.present? %>
    <li class="nav-link <%= al(student_team_submission_path(current_team.submission)) %>">
      <%= link_to t("views.application.dashboards.menu.team_submission"),
        student_team_submission_path(current_team.submission) %>
    </li>
  <% elsif current_student.is_on_team? %>
    <li class="nav-link <%= al(new_student_team_submission_path) %>">
      <%= link_to t("views.application.dashboards.menu.team_submission"),
        new_student_team_submission_path %>
    </li>
  <% end %>
<% end %>

<li class="nav-link <%= al(student_profile_path) %>">
  <%= link_to t("views.application.dashboards.menu.my_account"), student_profile_path %>
</li>

<li class="nav-link">
  <%= link_to t('views.application.signout'), signout_path, method: :delete %>
</li>
