<%= student_navigation.team_link %>

<% unless Rails.env.production? or Rails.env.staging? %>
  <% if current_account.is_on_team? and current_team.submission.present? %>
    <li class="nav-link">
      <%= link_to t("views.application.dashboards.menu.team_submission"),
        student_team_submission_path(current_team.submission) %>
    </li>
  <% elsif current_account.is_on_team? %>
    <li class="nav-link">
      <%= link_to t("views.application.dashboards.menu.team_submission"),
        new_student_team_submission_path %>
    </li>
  <% end %>
<% end %>

<li class="nav-link">
  <%= link_to t("views.application.dashboards.menu.my_account"), student_account_path %>
</li>

<li class="nav-link">
  <%= link_to t('views.application.signout'), signout_path, method: :delete %>
</li>

