<h6>Technovation Ambassador</h6>

<nav>
  <%= link_to "Dashboard", regional_ambassador_dashboard_path %>

  <% if current_ambassador.onboarded? %>
    <%= link_to "Events",
      regional_ambassador_events_path,
      data: { turbolinks: false },
      class: al(regional_ambassador_events_path) %>

    <%= link_to "Scores",
      regional_ambassador_scores_path,
      data: { turbolinks: false },
      class: al(regional_ambassador_scores_path) %>

    <%= link_to "Judges",
      regional_ambassador_judges_path,
      data: { turbolinks: false },
      class: al(regional_ambassador_judges_path) %>

    <%= link_to "Participants",
      regional_ambassador_participants_path,
      data: { turbolinks: false },
      class: al(regional_ambassador_participants_path) %>

    <%= link_to "Teams",
      regional_ambassador_teams_path,
      data: { turbolinks: false },
      class: al(regional_ambassador_teams_path) %>

    <%= link_to "Submissions",
      regional_ambassador_team_submissions_path,
      data: { turbolinks: false },
      class: al(regional_ambassador_team_submissions_path) %>

    <%= link_to "Activity",
      regional_ambassador_activities_path,
      class: al(regional_ambassador_activities_path) %>
  <% end %>

  <%= link_to "My Account",
    regional_ambassador_profile_path,
    class: al(regional_ambassador_profile_path) %>

  <%= link_to "Logout", logout_path, data: { method: :delete } %>

  <hr />

  <%= link_to "Mentor Mode",
    mentor_dashboard_path,
    data: { turbolinks: false } %>

  <% if current_ambassador.can_switch_to_judge? %>
    <%= link_to "Judge Mode",
      judge_dashboard_path,
      data: { turbolinks: false } %>
  <% end %>
</nav>
