<div class="signup_page">
  <h1><%= t('views.signups.new.title') %></h1>

  <%= simple_form_for(@coach) do |f| %>
    <div class="basic_fields">
      <%= render 'signups/basic_profile_fields', f: f %>
      <%= render 'signups/coach_profile_fields', f: f %>
    </div>

    <div class="specialized_fields">
      <%= f.input :email, as: :email %>

      <%= f.input :password %>
      <%= f.input :password_confirmation,
                  label: t('views.signups.form.confirm_password') %>

      <%= f.button :submit, t('views.signups.form.signup') %>
    </div>
  <% end %>
</div>
