<p>On <%= Division.cutoff_date.strftime("%B %e, %Y") %>:</p>

<ul class="unstyled">
  <% team.students.each do |s| %>
    <li>
      <strong><%= s.full_name %></strong>
      will be age <%= s.age_by_cutoff %>
    </li>
  <% end %>
</ul>

<p>
  which makes <%= team.name %> a
  <strong><%= team.division_name.humanize %> division</strong>
  team.
</p>

<hr />

<ul class="reset">
  <li>
    <strong>Beginner Division</strong>
    <ul class="unstyled">
      <li>
        Team members are between 8-12 years old as
        of <%= Division.cutoff_date.strftime("%B %e, %Y") %>.
      </li>
    </ul>
  </li>

  <li>
    <strong>Junior Division</strong>
    <ul class="unstyled">
      <li>
        Team members are between 13-15 years old as
        of <%= Division.cutoff_date.strftime("%B %e, %Y") %>.
      </li>
    </ul>
  </li>

  <li>
    <strong>Senior Division</strong>
    <ul class="unstyled">
      <li>
        Team members are between 16-18 years old as
        of <%= Division.cutoff_date.strftime("%B %e, %Y") %>.
      </li>
    </ul>
  </li>
</ul>
