<%= simple_form_for [current_scope, @team] do |f| %>
  <div class="fields-edit">
    <%= f.input :name %>

    <% if f.object.persisted? %>
      <%= f.input :description, label: t("models.team.description") %>
    <% end %>

    <% action = f.object.persisted? ? :save : :create %>

    <p>
      <%= f.button :submit,
        t("views.application.#{action}",
          thing: t("models.team.class_name")),
        class: "button" %>

      <%= t("views.application.or") %>

      <% if f.object.persisted? %>
        <%= link_to t("views.application.cancel"), [current_scope, @team] %>
      <% else %>
        <%= link_to "find a team",
          [:new, current_scope, :team_search] %>
      <% end %>
    </p>
  </div>
<% end %>
