<%
  admin_chapter_ambassador ||= false
  link_opts = admin_chapter_ambassador ?
    {
      member_id: member.id,
      member_type: member.class.name,
      allow_out_of_region: params.fetch(:allow_out_of_region) { false },
    } :
    { member_id: member.id }
%>

<li id="<%= dom_id(member) %>" class="grid">
  <div class="grid__col-3 grid__col--bleed-x">
    <%= image_tag member.profile_image_url, class: "grid__cell-img" %>
  </div>

  <div class="grid__col-9">
    <% if admin_chapter_ambassador %>
      <h5 class="reset">
        <%= link_to member.full_name,
          [
            current_scope,
            :participant,
            {
              id: member.account_id,
              allow_out_of_region: true,
            }] %>
      </h5>
    <% else %>
      <h5 class="reset"><%= member.full_name %></h5>
    <% end %>

    <p class="reset"><%= mail_to member.email %></p>

    <% if CanRemoveTeamMember.(current_account, member, admin_chapter_ambassador) %>
      <%= link_to "remove this member",
        [current_scope, @team, :membership, link_opts],
        data: {
          method: :delete,
          confirm: t("views.teams.show.confirm_leave", name: member.name),
        },
        class: "danger small" %>
    <% end %>
  </div>
</li>
