<%
  admin_chapter_ambassador ||= false
  link_opts = admin_chapter_ambassador ?
    {
      member_id: member.id,
      member_type: member.class.name,
    } :
    { member_id: member.id }
%>

<li id="<%= dom_id(member) %>" class="grid">
  <div class="grid__col-2 grid__col--bleed-x">
    <%= image_tag member.profile_image_url,
      class: "thumbnail-sm grid__cell-img" %>
  </div>

  <div class="grid__col-10">
    <% if admin_chapter_ambassador %>
      <h5 class="reset">
        <%= link_to_if current_account.is_admin? ||
            (current_account.ambassador? &&
              ambassador_can_view_participant_details?(ambassador: current_ambassador, participant_profile: member)
            ),
          member.full_name,
          send("#{current_scope}_participant_path", {id: member.account_id})
        %>
      </h5>
    <% else %>
      <h5 class="reset"><%= member.full_name %></h5>
    <% end %>

    <p class="reset"><%= mail_to member.email %></p>

    <% if CanRemoveTeamMember.(current_account, member, admin_chapter_ambassador) %>
      <%= link_to "remove this member",
        send("#{current_scope}_team_membership_path",
          @team,
          member_id: member.id,
          member_type: member.class.name
        ),
        data: {
          method: :delete,
          confirm: t("views.teams.show.confirm_leave", name: member.name),
        },
        class: "danger small"
      %>
    <% end %>
  </div>
</li>
