<% admin ||= false %>

<li class="grid">
  <div class="grid__col-3 grid__col--bleed-x">
    <%= image_tag member.profile_image_url, class: "grid__cell-img" %>
  </div>

  <div class="grid__col-9">
    <% if admin %>
      <h5 class="reset">
        <%= link_to member.full_name, admin_participant_path(member.account) %>
      </h5>
    <% else %>
      <h5 class="reset"><%= member.full_name %></h5>
    <% end %>

    <p class="reset"><%= mail_to member.email %></p>

    <% if CanRemoveTeamMember.(current_account, member) %>
      <%= link_to "remove this member",
        [current_scope, @team, :membership, { member_id: member.id }],
        data: {
          method: :delete,
          confirm: t("views.teams.show.confirm_leave"),
        },
        class: "danger small" %>
    <% end %>
  </div>
</li>
