<% admin ||= false %>
<% #TODO: fix this admin/profile/user/account stuff %>
<% path_name = current_scope == "admin" ? "profile" : "user" %>

<li class="grid">
  <div class="grid__col-3 grid__col--bleed-x">
    <%= image_tag member.profile_image_url, class: "grid__cell-img" %>
  </div>

  <div class="grid__col-9">
    <% if admin %>
      <h5 class="reset">
        <%= link_to member.full_name, send(
          "#{current_scope}_#{path_name}_path",
          member.account_id
        ) %>
      </h5>
    <% else %>
      <h5 class="reset"><%= member.full_name %></h5>
    <% end %>

    <p class="reset"><%= mail_to member.email %></p>

    <% if CanRemoveTeamMember.(current_account, member) %>
      <%= link_to "remove this member",
        [current_scope, @team, :membership, { account_id: member.account_id }],
        data: {
          method: :delete,
          confirm: t("views.teams.show.confirm_leave"),
        },
        class: "danger small" %>
    <% end %>
  </div>
</li>
