<% admin_chapter_ambassador ||= false %>

<h2>Mentors</h2>

<% if current_scope == "student" || current_scope == "mentor" %>
  <p>You can add as many mentors as your team needs.</p>
<% end %>

<% if team.mentors.any? %>
  <ul class="reset">
    <%= render partial: "teams/member",
      collection: team.mentors,
      locals: {
        admin_chapter_ambassador: admin_chapter_ambassador,
      } %>
  </ul>
<% else %>
  <div class="grid grid--bleed">
    <div class="grid__col-auto">
      <p>Your team doesn't have any mentors!</p>
    </div>
  </div>
<% end %>

  <div class="margin--t-large margin--b-large">
    <% if current_scope == "student" || current_scope == "mentor" %>
      <hr>
      <h2>Do you want more mentors?</h2>

      <% if SeasonToggles.team_building_enabled? %>
        <%= form_with model: team,
          data: { submit_on_change: true },
          url: send("#{current_scope}_team_path", team, { format: :json }),
          method: :patch do |f| %>
          <p>
            <%= f.check_box :accepting_mentor_requests,
              id: :team_accepting_mentor_requests %>

            <%= f.label :accepting_mentor_requests,
              "Allow mentors to find our team and request to join us", for: :team_accepting_mentor_requests %>
          </p>
        <% end %>

        <br>
        <p>
          If you're looking to add a student to your team,
          <%= link_to "go here", public_send("#{current_scope}_team_path", team, anchor: "!students") %>.
        </p>

        <hr>
      <% else %>
        <p class="notice">
          Team building is not enabled at this time, so your team cannot add mentors.
        </p>
      <% end %>
    <% end %>
</div>

<% if (current_scope == "student" || current_scope == "mentor") && SeasonToggles.team_building_enabled? %>
  <h3 class="margin--t-large margin--b-none">Invitations and requests</h3>

  <%= render "teams/pending_invites",
    team: team,
    invites: team.pending_mentor_invites %>

  <% if current_scope == "student" %>
    <%= link_to "Search for a mentor to invite", new_student_mentor_search_path, class: "button" %>
  <% elsif current_scope == "mentor" %>
    <br>
    <%= link_to"Connect with Mentors", new_mentor_mentor_search_path, class: "button" %>
    <p class="hint margin--t-large">Only students can invite mentors to a team.</p>
  <% end %>

  <br><br><br>

  <%= render "teams/pending_requests",
    team: team,
    requests: team.pending_mentor_join_requests %>
<% end %>
