<% admin_chapter_ambassador ||= false %>

<h2 class="text-align--left">Mentors</h2>
<p>
  You can add as many mentors as your team needs.
</p>

<% if team.mentors.any? %>
  <ul class="reset">
    <%= render partial: "teams/member",
      collection: team.mentors,
      locals: {
        admin_chapter_ambassador: admin_chapter_ambassador,
      } %>
  </ul>
<% else %>
  <div class="grid grid--bleed">
    <div class="grid__col-auto">
      <p>Your team doesn't have any mentors!</p>
    </div>
  </div>
<% end %>

<% unless admin_chapter_ambassador %>
  <hr />
  <div class="margin--t-large margin--b-large">
    <h2>Do you want more mentors?</h2>

    <% if !SeasonToggles.team_building_enabled? || SeasonToggles.judging_enabled_or_between? %>
      <p class="notice">
        Team building is not enabled at this time, so your team cannot add mentors.
      </p>
    <% else %>
      <%= form_with model: team,
        data: { submit_on_change: true },
        url: [current_scope, team, { format: :json }],
        method: :patch do |f| %>
        <p>
          <%= f.check_box :accepting_mentor_requests,
            id: :team_accepting_mentor_requests %>

          <%= f.label :accepting_mentor_requests,
            "Allow other mentors to find our team and request to join us" %>
        </p>
      <% end %>
    <% end %>

    <p>
      If you're looking to add a student to your team,
      <%= link_to 'go here', public_send("#{current_scope}_team_path", team, anchor: "!students") %>.
    </p>
  </div>

  <hr />
  <h3 class="reset">Invitations and requests</h3>
  <div class="margin--b-large">
    <%= render "teams/pending_invites",
      team: team,
      invites: team.pending_mentor_invites %>

    <% if SeasonToggles.team_building_enabled? &&
         !SeasonToggles.judging_enabled_or_between? %>
      <p>
        <%= link_to(
          "Search for a mentor to invite",
          send("new_#{current_scope}_mentor_search_path"),
          class: "button secondary"
        ) %>
      </p>
    <% end %>
  </div>

  <div class="margin--t-xlarge">
    <%= render 'teams/pending_requests',
      team: team,
      requests: team.pending_mentor_join_requests %>
  </div>
<% end %>
