<% admin_chapter_ambassador ||= false %>

<li class="grid">
  <div class="grid__col-2 grid__col--bleed-x">
    <%= image_tag onboarding_member.profile_image_url,
      class: "thumbnail-sm grid__cell-img" %>
  </div>

  <div class="grid__col-10">
    <h5 class="reset">
      <% if admin_chapter_ambassador %>
        <%= link_to onboarding_member.full_name,
          [
            current_scope,
            :participant,
            {
              id: onboarding_member.account_id,
              allow_out_of_region: true,
            }
          ] %>
      <% else %>
        <%= onboarding_member.full_name %>
      <% end %>
    </h5>


    <div class="help">
      <h6 class="reset">
        <%= onboarding_member.first_name %> still needs to:
      </h6>

      <ul class="reset">
        <% onboarding_member.actions_needed.each do |action| %>
          <li><%= action %></li>
        <% end %>
      </ul>
    </div>

    <% if CanRemoveTeamMember.(current_account, onboarding_member) %>
      <%= link_to "remove this member",
        [
          current_scope,
          team,
          :membership,
          member_id: onboarding_member.id,
          member_type: onboarding_member.class.name,
        ],
        data: {
          method: :delete,
          confirm: t("views.teams.show.confirm_leave",
                     name: onboarding_member.name),
        },
        class: "danger small" %>
    <% end %>
  </div>
</li>
