<li class="grid">
  <div class="grid__col-2 grid__col--bleed-x">
    <%= image_tag onboarding_member.profile_image_url,
      class: "thumbnail-sm grid__cell-img" %>
  </div>

  <div class="grid__col-10">
    <h5 class="reset"><%= onboarding_member.full_name %></h5>

    <p class="reset"><%= mail_to onboarding_member.email %></p>

    <% if CanRemoveTeamMember.(current_account, onboarding_member) %>
      <%= link_to "remove this member",
        [current_scope, @team, :membership, { member_id: onboarding_member.id }],
        data: {
          method: :delete,
          confirm: "Are you sure you want to REMOVE #{onboarding_member.full_name} from your team?"
        },
        class: "danger small" %>
    <% end %>

    <div class="help">
      <h6 class="reset"><%= onboarding_member.first_name %> still needs to:</h6>

      <ul class="reset">
        <% onboarding_member.actions_needed.each do |action| %>
          <li><%= action %></li>
        <% end %>
      </ul>
    </div>
  </div>
</li>
