<% if requests.any? %>
  <hr />

  <div class="grid grid--bleed">
    <div class="grid__col-auto">
      <h3 class="reset">Requests from others</h3>

      <p class="hint">
        These people are waiting for your team's response
      </p>

      <ul class="reset">
        <% requests.each do |join_request| %>
          <li class="row">
            <div class="grid">
              <div class="grid__col-2 grid__col--bleed-y">
                <%= image_tag join_request.requestor.profile_image_url,
                  class: "thumbnail-sm grid__cell-img" %>
              </div>

              <div class="grid__col-10 grid__col--bleed-y">
                <div class="grid__cell">
                  <strong><%= join_request.requestor_first_name %></strong><br />
                  <small><%= join_request.requestor_scope_name %></small><br />

                  <%= link_to "view profile",
                    send(
                      "#{current_scope}_#{join_request.requestor_scope_name}_path",
                      join_request.requestor
                    ) %>

                  <p class="buttons">
                    <%= link_to t("views.application.approved"),
                      [current_scope, join_request, status: :approved],
                      class: "button small",
                      data: {
                        method: :put,
                        confirm: t("views.application.confirm_approved",
                                  name: join_request.requestor_first_name),
                      } %>

                    <%= link_to t("views.application.declined"),
                      [current_scope, join_request, status: :declined],
                      class: "button small danger",
                      data: {
                        method: :put,
                        confirm: t("views.application.confirm_declined",
                                  name: join_request.requestor_first_name),
                      } %>
                  </p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
