<% provide :title, team.name %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8">
    <div class="grid__cell">
      <h3>Technovation team</h3>

      <%= image_tag team.team_photo, class: "thumbnail-lg grid__cell-img" %>

      <h3><%= team.name %></h3>

      <dl>
        <dt>Primary Location</dt>
        <dd><%= team.primary_location %></dd>

        <dt>Division:</dt>
        <dd><%= team.division_name.humanize %></dd>
      </dl>

      <div class="clear">
        <strong>Summary:</strong>
        <%= simple_format team.description %>
      </div>
    </div>
  </div>

  <div class="grid grid--justify-space-around">
    <div class="panel grid__col-sm-8">
      <%= render "teams/public_member_list", team: team %>
      <%= render "teams/public_mentor_list", team: team %>
    </div>
  </div>
</div>
