<div class="dashboard-page-info">
  <div class="team-photo">
    <%= image_tag team.team_photo, width: 450, height: 300 %>
  </div>

  <h3 class="team_name"><%= team.name %></h3>

  <p class="team_division">
    <%= t("views.teams.show.division_name", name: team.division_name.humanize) %>
  </p>

  <p class="team_description"><%= team.description %></p>

  <% if team.current? %>
    <p><%= link_to t("controllers.teams.edit"), [:edit, account.type_name, team] %></p>
  <% end %>
</div>

<div>
  <%= simple_form_for [account.type_name, @team], data: { remote: true } do |f| %>
    <%= f.input :accepting_student_requests, as: :boolean, label: t("models.team.accepting_student_requests") %>
    <%= f.input :accepting_mentor_requests, as: :boolean, label: t("models.team.accepting_mentor_requests") %>
  <% end %>
</div>

<div class="team-memberships">
  <%= render "teams/member_list", team: team %>
  <%= render "teams/mentor_list", team: team %>
</div>
