<!-- Students My Team page
  Todo: Localize the text
-->

<h1 class="appy-title">
  My Team
</h1>

<div class="team-submissions">

  <div class="team-submissions__row-left">
    <div class="ts-about-team simple-card">
      <a
        data-uploader="true"
        class="ts-about-team__photo"
        style="background-image: url(<%= team.team_photo_url %>)">
      </a>
      <%= render 'teams/upload_team_photo',
                  uploader: @uploader,
                  namespace: account.type_name,
                  team: team %>
    </div>
  </div>

  <div class="team-submissions__row-center">
    <div class="ts-about-team simple-card">
      <div class="ts-about-team__name">
        <%= team.name %>
      </div>

      <div class="ts-about-team__description">
        <%= team.description %>
      </div>
    </div>
  </div>

</div>




















<br><br><br><br><br><br><br><br><br><br><br>



<div class="dashboard-page-info">


  <h3 class="team_name"><%= team.name %></h3>

  <p class="team_division">
    <%= t("views.teams.show.division_name", name: team.division_name.humanize) %>
  </p>

  <p class="team_description"><%= team.description %></p>

  <% if team.current? %>
    <p><%= link_to t("controllers.teams.edit.link"), [:edit, account.type_name, team], class: "appy-button" %></p>

    <%= simple_form_for [account.type_name, @team], remote: true do |f| %>
      <%= f.input :accepting_student_requests, as: :boolean, label: t("models.team.accepting_student_requests") %>
      <%= f.input :accepting_mentor_requests, as: :boolean, label: t("models.team.accepting_mentor_requests") %>
    <% end %>
  <% end %>

  <div class="team-memberships">
    <%= render "teams/member_list", team: team %>
    <%= render "teams/mentor_list", team: team %>
  </div>

  <div>
    <% if team.current? && team.spot_available? %>
      <%= render "teams/invite_students" %>
    <% elsif team.spot_available? %>
      <%= t("views.teams.show.past_team") %>
    <% else %>
      <%= t("views.teams.show.members_full") %>
    <% end %>
  </div>
</div>
