<% admin_ra ||= false %>

<div class="grid tabs tabs--vertical tabs--css-only vue-enable-tabs">
  <div class="grid__col-sm-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <%= render 'teams/intro',
          hidden_on: %w{xs xxs},
          modal_id: "team_photo_desktop",
          admin_ra: admin_ra,
          team: team %>

        <%= render 'teams/edit_menu' %>
      </div>
    </div>
  </div>

  <div class="tabs__content grid__col-sm-9 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="tabs__tab-content" v-show="isSection('students')">
          <div class="grid grid--bleed">
            <div class="grid__col-auto">
              <h1 class="content-heading"><%= team.name %></h1>
            </div>
          </div>

          <%= render 'teams/edit_students',
            admin_ra: admin_ra,
            team: team %>
        </div>

        <div class="tabs__tab-content" v-show="isSection('mentors')">
          <div class="grid grid--bleed">
            <div class="grid__col-auto">
              <h1 class="content-heading"><%= team.name %></h1>
            </div>
          </div>

          <%= render "teams/mentor_list",
            admin_ra: admin_ra,
            team: team %>
        </div>

        <div class="tabs__tab-content hidden-md hidden-lg hidden-sm" id="photo">
          <div class="grid grid--bleed">
            <div class="grid__col-auto">
              <h1 class="content-heading"><%= team.name %></h1>
            </div>
          </div>

          <%= render 'teams/intro',
            admin_ra: admin_ra,
            modal_id: "team_photo_mobile",
            team: team %>
        </div>

        <div class="tabs__tab-content" v-show="isSection('description')">
          <div class="grid grid--bleed">
            <div class="grid__col-auto">
              <h1 class="content-heading"><%= team.name %></h1>
            </div>
          </div>

          <%= render 'teams/edit_description', team: team %>
        </div>

        <div class="tabs__tab-content" v-show="isSection('location')">
          <div class="grid grid--bleed">
            <div class="grid__col-auto">
              <h1 class="content-heading"><%= team.name %></h1>
            </div>
          </div>

          <%= render 'teams/location', team: team %>
        </div>

        <div class="tabs__tab-content" v-show="isSection('division')">
          <div class="grid grid--bleed">
            <div class="grid__col-auto">
              <h1 class="content-heading"><%= team.name %></h1>
            </div>
          </div>

          <%= render "teams/division", team: team %>
        </div>
      </div>
    </div>
  </div>
</div>
