<div class="dashboard-page-info">
  <h3 class="team_name"><%= team.name %></h3>

  <p class="team_division">
    <%= t("views.teams.show.division_name",
          name: team.division_name.humanize) %>
  </p>

  <p class="team_description"><%= team.description %></p>

  <p><%= link_to t("controllers.teams.edit"), [:edit, account.type_name, team] %></p>
</div>

<div class="team-memberships">
  <%= render "teams/member_list", team: team %>
  <%= render "teams/mentor_list", team: team %>
</div>
