<% admin_chapter_ambassador ||= false %>

<div class="grid tabs tabs--vertical">
  <div class="grid__col-sm-3">
    <%= render 'teams/intro',
      hidden_on: %w{xs xxs},
      modal_id: "team_photo_desktop",
      admin_chapter_ambassador: admin_chapter_ambassador,
      team: team %>

    <%= render 'teams/edit_menu' %>
  </div>

  <div class="tabs__content grid__col-sm-9">
    <div class="padding--r-l-t-large">
      <h1 class="content-heading text-align--left">
        <%= team.name %>
      </h1>
    </div>

    <div class="tabs__tab-content" id="students">
      <%= render 'teams/edit_students',
        admin_chapter_ambassador: admin_chapter_ambassador,
        team: team %>
    </div>

    <div class="tabs__tab-content" id="mentors">
      <%= render "teams/mentor_list",
        admin_chapter_ambassador: admin_chapter_ambassador,
        team: team %>
    </div>

    <div class="tabs__tab-content hidden-md hidden-lg hidden-sm" id="photo">
      <%= render 'teams/intro',
        admin_chapter_ambassador: admin_chapter_ambassador,
        modal_id: "team_photo_mobile",
        team: team %>
    </div>

    <div class="tabs__tab-content" id="description">
      <%= render 'teams/edit_description', team: team %>
    </div>

    <div class="tabs__tab-content" id="location">
      <%= render 'teams/location', team: team %>
    </div>

    <div class="tabs__tab-content" id="division">
      <%= render "teams/division", team: team %>
    </div>
  </div>
</div>
