<%= direct_upload_form_for uploader, html: { class: 'fancy-upload' } do |f| %>
  <%= link_to t("controllers.teams.update.change_image"), '#',
              data: { uploader: true },
              class: "appy-button" %>
  <p class="appy-hint">
    <%= t("controllers.teams.update.change_image_hint") %>
  </p>


  <%= f.file_field :team_photo, data: { fancy: true } %>
  <%= f.submit t("views.application.save"), class: "appy-button" %>
<% end %>
