<div class="h-screen">
  <div class="overflow-auto h-full border p-4 text-base">
    <p class="mb-8">
      THIS VOLUNTEER AGREEMENT (this “Agreement”), made on the date indicated with your signature, is an 
      understanding made between Technovation, a US 501c3 nonprofit, and <%= current_ambassador.full_name %>                                    
      (henceforth referred to as Chapter Ambassador), a Technovation Girls Volunteer (unpaid by Technovation)  
      connected with <%= current_ambassador.current_chapter.organization_name %>, who organizes a Technovation 
      Girls chapter.  This agreement is valid for one year from the date indicated with your signature. T
      he Chapter Ambassador may choose to end the Agreement with Technovation at any point before the end of 
      the one-year time period. The Parties hereby agree to the following:
    </p>

    <ul class="list-decimal space-y-8 ml-4">
      <li>
        <span class="font-semibold">Responsibilities of a Chapter Ambassador</span>
        <br>
        <span class="tw-hint">Chapter Ambassador agrees to the following:</span>

        <ol class="ml-6 list-decimal space-y-4">
          <li>
            <span class="font-semibold">Serve as the Chapter's primary contact</span>
            with external stakeholders, the Technovation headquarters team, and other volunteers & Mentors.
          </li>
          <li>
            <span class="font-semibold">
              Engage students who identify as female or gender nonconforming from local schools and/or
              community-based organizations:
            </span>
            Recruit as needed to engage Technovation Girls participants, particularly those from underserved
            or underrepresented communities. (Chapter Ambassadors are expected to have 15 or more girls on
            teams registered on the my.technovationchallenge.org virtual platform. Organizations that run
            Technovation on a smaller scale will be invited to be a mentor.)
          </li>
          <li>
            <span class="font-semibold">Have procedures in place for participant safety:</span>
            This should include information on how girls can report potential issues when meeting with
            mentors or other adults. By signing this Agreement, the Chapter Ambassador agrees to complete
            applicable training and review resources as they become available. Training and resources can
            be found on the
            <%= link_to "Technovation safety page",
              ENV.fetch("INTERNET_SAFETY_URL"),
              target: "_blank",
              class: "text-blue-600 hover:text-blue-800" %>.
          </li>
          <li>
            <span class="font-semibold">Ongoing season support via the Technovation Girls platform:</span>
            Assist girls to join teams and connect with local Mentors. Regularly check the Technovation Girls
            platform to ensure girls have registered and formed teams.
          </li>
          <li>
            <span class="font-semibold">Coordinate with Technovation Girls funders</span>
            (if applicable): Chapter Ambassador will connect with and support foundation/corporate
            staff who fund Technovation Girls in the region to meet specific program deliverables
            (potential funding might be associated).
          </li>
          <li>
            <span class="font-semibold">Follow Chapter Ambassador Rules and Code of Conduct</span>
            Chapter Ambassador must adhere to the Rules,
            <%= link_to "Technovation safety page",
              ENV.fetch("CODE_OF_CONDUCT_URL"),
              target: "_blank",
              class: "text-blue-600 hover:text-blue-800" %>
            , and Safety instructions as mentioned in
            the chapter Affiliation signed by the Partner Organization. Failure to adhere could result in the
            termination of Chapter Ambassador status.
          </li>
          <li>
            <span class="font-semibold">Identify and support Mentors</span>
            Mentors can be teachers, organization staff, community members, professionals, university students,
            or faculty. As needed, reach out to local companies and community partners to help support Technovation
            Girls participants. Chapter Ambassadors can organize mentor orientation sessions and share mentor training
            and support materials.
          </li>
          <li>
            <span class="font-semibold">
              Ensure any additional staff or volunteers that need to access student information on the Technovation
              platform have a Chapter Ambassador account
            </span>
            and sign this Volunteer Agreement as part of their Chapter Ambassador onboarding. Please send the names
            and emails of these individuals to your point of contact, who will invite them to create an account
            associated with your Chapter.
          </li>
          <li>
            <span class="font-semibold">
              Where applicable, work with Student Ambassadors (SAs)<sup>1</sup>
            </span>
            Please follow the guidelines below when working with SAs:
            <ul class="list-disc ml-8">
              <li>
                If there is a Chapter and Technovation HQ-approved Student Ambassador in your location,
                please connect with them virtually or in person to understand their desired role and
                relationship with your Chapter. As desired by both parties, involve them in local Technovation
                recruitment and programming.
              </li>
              <li>
                It is important to note that:
                <ul class="list-disc ml-8">
                  <li>
                    Student Ambassadors are NOT responsible for recruiting adult mentors for teams and should
                    not meet one-on-one with Technovation volunteers.
                  </li>
                  <li>
                    Student Ambassadors are not expected to fundraise.
                  </li>
                  <li>
                    If Technovation provides the Student Ambassador's funding for program support and/or to purchase a
                    technological device, the Chapter may need to help receive and transfer funding to the SA and/or
                    their parent/guardian. Funding sent from Technovation to SAs is intended only for use by the named SA.
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <span class="font-semibold">As needed, organize events</span>
            such as information sessions, Launch Workshops, mentor training sessions, field trips, Regional Pitch Events,
            and/or Celebration Events. Technovation does not require any Chapter to hold any in-person events.
            Please adhere to any health restrictions, permit requirements, or other legal conditions required by your
            organization and country.
          </li>
          <li>
            <span class="font-semibold">As needed, recruit judges</span>
            Share promotional materials to recruit judges for Regional Pitch events and/or virtual judging.
            Note: Hosting judging events is optional.
          </li>
          <li>
            <span class="font-semibold">Reporting:</span>
            Chapter Ambassador agrees to complete any required documentation during the season, such as their profile on
            the Technovation platform, the mid-season survey, and the End of Season Report. These reports help
            our team understand local needs and best practices to better support our global community.
          </li>
          <li>
            <span class="font-semibold">Share alumnae stories and in-season highlights:</span>
            Chapter Ambassador will share success stories and alumnae achievements with Technovation to help raise the
            visibility of the program and its impact.
          </li>
          <li>
            <span class="font-semibold">Cross-promote:</span>
            Chapter Ambassador agrees to promote Technovation Girls whenever possible and relevant through websites,
            social media, press, promotional materials, and public occasions. Chapter Ambassador must mention and recognize
            Technovation in local press coverage and interviews related to the Technovation Girls teams/program <sup>2</sup>.
            If managing a Technovation social media page, the Chapter Ambassador will read and abide by the
            <%= link_to "Technovation's Social Media Guidelines",
              ENV.fetch("SOCIAL_MEDIA_GUIDELINES_URL"),
              target: "_blank",
              class: "text-blue-600 hover:text-blue-800" %>
          </li>
        </ol>
        <p class="tw-hint mt-8">
          <sup>1</sup> SAs are student leaders selected by Technovation who recruit and support students in their
          school or region to participate in the Technovation program
        </p>
        <p class="tw-hint">
          <sup>2</sup>  Technovation Girls social media handles: @technovationglobal [Facebook, Instagram]
          @technovation [Twitter, LinkedIn]
        </p>
      </li>

      <li>
        <span class="font-semibold">Responsibilities of Technovation</span>
        <ol class="ml-6 list-decimal space-y-4">
          <li>
            Provide access to Technovation Girls’ free, updated <span class="font-semibold">curricula</span> and associated Materials.
          </li>
          <li>
            Provide <span class="font-semibold">participant information</span> for participants within the Chapter Ambassador’s geographic region
            via access to our platform and any survey results requested by the Chapter Ambassador.
          </li>
          <li>
            Provide a <span class="font-semibold">dedicated staff point of contact for each region.</span>
          </li>
          <li>
            Provide <span class="font-semibold">training and support</span> throughout the season for Chapter Ambassadors, including
            an Ambassador resource page.
          </li>
          <li>
            Provide access to <span class="font-semibold">marketing collateral</span> and
            <%= link_to "brand guidelines.",
              ENV.fetch("BRAND_GUIDELINES_URL"),
              target: "_blank",
              class: "text-blue-600 hover:text-blue-800" %>
          </li>
          <li>
            <span class="font-semibold">Organize the global competition and World Summit</span> to motivate and celebrate participants. Cover
            educational stipends and costs of participation and travel for finalist teams, if applicable.
          </li>
        </ol>
      </li>

      <li>
        <span class="font-semibold">Confidentiality Rules</span>
        <ol class="ml-6 list-decimal space-y-4">
          <li>
            Chapter Ambassador may have access to Confidential information <sup>3</sup> in connection with the program.
            Confidential information may not be disclosed to others not included in this
          </li>
          <li>
            Chapter Ambassador shall use Confidential information only in connection with and to benefit the Technovation
            Girls program and participants.
          </li>
          <li>
            Any party who will be sharing any participant work publicly shall only share materials of participants
            who have media consent on file with Technovation.
          </li>
          <li>
            All parties shall comply with all local laws regarding data privacy,such as GDPR for European participants.
          </li>
          <li>
            Should there be a breach of information and/or confidentiality, Technovation reserves the right to
            remove any involved parties from their roles with Technovation.
          </li>
        </ol>
        <p class="tw-hint mt-8">
          <sup>3</sup>Definition of Confidential includes any information about Technovation Girls participants or
          volunteers including but not limited to names, email addresses, locations (cities), and submission information.
        </p>
      </li>

      <li>
        <span class="font-semibold">Liability Waiver</span>
        <ol class="ml-6 list-decimal space-y-4">
          <li>
            The Chapter Ambassador understands that there are risks of harm associated with activities, events, locations,
            people, or organizations, related to their volunteer service.
          </li>
          <li>
            The Chapter Ambassador understands that they are responsible for their own safety during their volunteer
            service, and states that they have the skills and abilities needed to serve as a Volunteer safely.
            The Volunteer agrees not to hold Technovation liable for any harms or losses they may suffer while serving
            as a volunteer or while participating in any activities or events connected with the Technovation Girls program.
          </li>
          <li>
            Any Volunteer working for an organization partnering with Technovation understands that they need to follow
            their organization’s rules in regard to liability.
          </li>
          <li>
            The Chapter Ambassador agrees not to sue or make any claim, including any claim of negligence, against
            Technovation for any expenses, damages, losses, or harms that may occur from any activity, event, location,
            person, or organization relating to their service as a Technovation Girls volunteer.
          </li>
        </ol>
      </li>

      <li>
        <span class="font-semibold">Safety</span>
        <ol class="ml-6 list-decimal space-y-4">
          <li>
            Technovation created resources for all its volunteers, including Chapter Ambassadors, mentors,
            and judges, to ensure the safety of its participants.
            <span class="font-semibold">
              By signing this Agreement, the Chapter Ambassador agrees to complete applicable training and review resources
              as they become available.
            </span>
            Training and resources can be found on the
            <%= link_to "Technovation safety page.",
              ENV.fetch("INTERNET_SAFETY_URL"),
              target: "_blank",
              class: "text-blue-600 hover:text-blue-800" %>
          </li>
        </ol>
      </li>

      <li>
        <span class="font-semibold">Use of Likeness Release</span>
        <ol class="ml-6 list-decimal space-y-4">
          <li>
            Chapter Ambassador agrees that Technovation may produce or participate in the production and/or
            dissemination of video (including team submissions), motion picture, audio recording, web page,
            public relations, or still photograph productions, broadcasting, and/or publication of printed
            and digital assets which may involve the use of Chapter Ambassador’s name, photo, likenesses,
            or voices. Chapter Ambassador agrees that such productions may be used for educational, exhibition,
            promotional, advertising, or other purposes by Technovation and/or its partners. Technovation will
            always obtain consent for using footage that includes minors.
          </li>
        </ol>
      </li>

      <li>
        <span class="font-semibold">Termination and Resignation</span>
        <ol class="ml-6 list-decimal space-y-4">
          <li>
            <span class="font-semibold">Termination of a Chapter Ambassador:</span> A Chapter Ambassador serves
            at the discretion of Technovation, and Technovation may terminate the volunteer relationship at any
            time for any reason. Main reasons for termination:
            <ul class="ml-6 list-disc">
              <li>
                Chapter Ambassador violates any section of this Agreement or the Code of Conduct.
              </li>
              <li>
                Chapter Ambassador becomes inactive - Inactivity is defined by two or more of the following:
                having less than 10 girls registered for the program, little to no interactions with Technovation staff,
                no communication with other Chapter Ambassadors, and not attending webinars or training.
                <br>
                <span class="tw-hint">
                  If terminated, Chapter Ambassador must immediately refrain from any further action related to
                  Technovation Girls or communication with program participants as a Chapter Ambassador.
                </span>
              </li>
            </ul>
          </li>
          <li>
            <span class="font-semibold">Resignation:</span>
            If a Chapter Ambassador wishes to resign, he/she should try to find a replacement and help transition the program
            to the new Chapter Ambassador whenever possible
          </li>
        </ol>
      </li>

      <li>
        <span class="font-semibold">Technovation Complaint Process</span>
        <ol class="ml-6 list-decimal space-y-4">
          <li>
            If a Chapter Ambassador would like to raise concerns over the program delivery in their country,
            communication or conduct with Technovation staff, judging results, a termination decision, or any
            other subject, he/she should contact Technovation’s Senior Program Director, Rebecca Anderson
            rebecca@technovation.org. Chapter Ambassadors shall not send communication to teams and/or mentors regarding disputes.

          </li>
        </ol>
      </li>

      <li>
        <span class="font-semibold">Choice of Law</span>
        <ol class="ml-6 list-decimal space-y-4">
          <li>
            This Agreement is governed by the laws of California.
          </li>
        </ol>
      </li>
    </ul>
  </div>
</div>
