<div class="flex-row">
  <div class="flex-col-md-4">
    <div class="admin-search__filter-options">
      <%= render 'admin/background_checks/filter_options' %>
    </div>
  </div>

  <div class="flex-col-md-8 wrapper__report-column">
    <div class="admin-results-table">
      <div class="admin-results-header-table">
        <div class="header">Account type</div>
        <div class="header">Submitted</div>
        <div class="header">Email</div>
        <div class="header">Status</div>
      </div>

      <div class="admin-results-data-table">
        <% @background_checks.order('created_at DESC').each do |bg_check| %>
          <div class="row">
            <div class="cell">
              <%= bg_check.account.scope_name %>
            </div>

            <div class="cell">
              <%= time_ago_in_words(bg_check.created_at) %> ago
            </div>

            <div class="cell">
              <%= bg_check.account.email %>
            </div>

            <div class="cell">
              <%= bg_check.status %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="wrapper__report-footer">
      <%= render 'admin/background_checks/footer' %>
    </div>
  </div>
</div>
