<section class="flex flex-col space-y-6 mb-8">
  <p>A request for parent program permission and media consent was sent to:</p>

  <div class="flex flex-col lg:flex-row justify-between">
    <p>Name: <span class="font-bold"><%= current_student.parent_guardian_name %></span></p>
    <p>Email: <span class="font-bold"><%= current_student.parent_guardian_email %></span></p>
  </div>

  <div>
    <p>Ask the parent/guardian listed above to check their email inbox and spam folder.</p>
  </div>

  <div class="flex flex-col md:flex-row md:justify-center md:items-center md:space-x-4">
    <%= link_to "Resend consent email",
                student_parental_consent_notice_path,
                data: { method: :post },
                class:"tw-gold-btn"
    %>
    <%= link_to "Edit parent email",
                new_student_parental_consent_notice_path,
                class:"tw-green-btn"
    %>
  </div>
</section>

<div class="bg-energetic-blue h-1 mb-8"></div>

<section class="mb-8">
  <%= render "student/paper_consent_uploads/form" %>
</section>
