<div class="notice notice--success">
  Your parent/guardian has given you permission to compete in Technovation!
</div>

<dl>
  <dt><%= t("models.student_profile.parent_guardian_name") %></dt>
  <dd><%= current_student.parent_guardian_name %></dd>

  <dt><%= t("models.student_profile.parent_guardian_email") %></dt>
  <dd><%= current_student.parent_guardian_email.presence || "N/A" %></dd>

  <% if current_student.in_parental_consent_text_message_country? %>
    <dt><%= t("models.student_profile.parent_guardian_phone_number") %></dt>
    <dd><%= current_student.parent_guardian_phone_number.presence || "N/A" %></dd>
  <% end %>

  <dt>Signed on</dt>
  <dd><%= current_student.parental_consent.signed_at.strftime("%B %e, %Y") %></dd>
</dl>

<p class="mb-2">
  <%= link_to "Change your parent/guardian details",
    new_student_parental_consent_notice_path(
      back: student_profile_path(anchor: "!parent")
    ),
    class: "tw-green-btn" %>
</p>

<p class="hint">Changing this email or phone number will send and require a new consent.</p>