<% provide :title, "My profile" %>

<% if !current_account.parental_consent.signed? || !current_account.valid_address? %>
  <% content_for :notifications do %>
    <%= render "student/profiles/rebrand/welcome_message_with_required_steps" %>
  <% end %>
<% end %>

<div class="container mx-auto lg:h-screen flex flex-col lg:flex-row justify-around" id="show-container">
  <%= render 'student/profiles/rebrand/menu' %>

    <div class="tab">
      <div id="basic-tab-content" class="tab-content tw-active">
        <%= render 'student/profiles/rebrand/basic' %>
      </div>
      <div id="parent-tab-content" class="tab-content">
        <%= render 'student/profiles/rebrand/parent' %>
      </div>
      <div id="location-tab-content" class="tab-content">
        <%= render 'student/profiles/rebrand/location' %>
      </div>
      <div id="email-tab-content" class="tab-content">
        <%= render 'student/profiles/rebrand/email' %>
      </div>
      <div id="pw-tab-content" class="tab-content">
        <%= render 'student/profiles/rebrand/password' %>
      </div>
    </div>
</div>