<div class="relative">
  <% if SeasonToggles.judging_finished? %>
    <div class="flags -top-2 -right-6">
      <span class="flag tw-flag-magenta">
        Season close
      </span>
    </div>

    <h2 class="text-2xl text-energetic-blue font-semibold tracking-wide mb-2">
      Thank you!
    </h2>

    <p class="mb-3 text-base">
      Thank you for your help scoring and giving valuable feedback to
      Technovation teams.
    </p>

    <p class="mb-3 text-base">
      Your judging certificate will be available
      <%= ImportantDates.certificates_available.strftime("%B %e") %>.
    </p>

    <p class="text-base">
      Thank you again for helping girls lead the change. See you next season!
    </p>
  <% elsif SeasonToggles.between_rounds? %>
    <%= render 'judge/dashboards/onboarded/between_rounds' %>
  <% elsif SeasonToggles.quarterfinals_or_earlier? %>

    <% if current_judge.live_event? %>
      <h1 class="content-heading">Regional Pitch Events</h1>

      <p>
        <% if current_judge.onboarding? %>
          Please finish your onboarding steps above, so
          that you will be able to judge at your events.
        <% else %>
          You will be judging teams at the following events.
        <% end %>
      </p>

      <p>
        If you want to change events or leave an event,
        please contact your Chapter Ambassador.
      </p>

      <% current_judge.events.each do |event| %>
        <div class="grid">
          <div class="grid__col-auto grid__col--bleed-x">
            <dl>
              <dt><%= event.name %></dt>
              <dd>
                <%= event.starts_at
                  .in_time_zone(event.timezone)
                  .strftime("%A, %B %e") %>

                <br />

                <%= event.starts_at
                  .in_time_zone(event.timezone)
                  .strftime("%-I:%M%P") %>

                &ndash;

                <%= event.ends_at
                  .in_time_zone(event.timezone)
                  .strftime("%-I:%M%P %Z") %>
              </dd>
            </dl>
          </div>

          <div class="grid__col-auto grid__col--bleed-x">
            <h6>Chapter Ambassador</h6>

            <dl>
              <dt>Name</dt>
              <dd><%= event.ambassador.name  %></dd>

              <dt>Email</dt>
              <dd><%= mail_to event.ambassador.email %></dd>
            </dl>
          </div>
        </div>

        <p>
          You can preview your event's submissions
          beginning on
          <%= ImportantDates.quarterfinals_judging_begins.strftime("%B %-d, %Y") %>.
        </p>

        <div class="step-actions margin--b-xlarge">
          <%= link_to "View details",
                      send("judge_regional_pitch_event_path", event),
                      class: "tw-green-btn" %>
        </div>
      <% end %>
    <% else %>
      <section class="mb-8">
        <p>
          <% if current_judge.onboarding? %>
            To be able to judge submissions online this season, make sure to complete the To-do items on the left: Consent Waiver and Judge Training.
          <% end %>
        </p>
      </section>

      <div class="border-l-2 border-energetic-blue bg-blue-50 p-2 mb-4">
        <ul class="list-disc list-inside">
          <li class="text-left">
            <strong class="font-bold">Quarterfinals</strong> judging begins on
            <%= ImportantDates.quarterfinals_judging_begins.strftime("%B %-d") %>
            and ends on
            <%= ImportantDates.virtual_quarterfinals_judging_ends.strftime("%B %-d, %Y") %>
          </li>

          <li class="text-left">
            <strong class="font-bold">Semifinals</strong> judging begins on
            <%= ImportantDates.semifinals_judging_begins.strftime("%B %-d") %>
            and ends on
            <%= ImportantDates.semifinals_judging_ends.strftime("%B %-d, %Y") %>
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
