<div class="relative">
  <% if SeasonToggles.quarterfinals_or_earlier? %>
    <div class="mb-4">
      <p>
        <% if current_judge.onboarding? %>
          To be able to judge submissions online this season, make sure to complete the items on the left: Consent Waiver and Judge Training.
        <% else %>
          Welcome to the online judging portal!
        <% end %>
      </p>
    </div>
    <% if current_judge.live_event? %>
      <%= render 'judge/dashboards/onboarded/rebrand/live_events' %>
    <% else %>
      <div class="border-l-2 border-energetic-blue bg-blue-50 p-2 mb-4">
        <ul class="list-disc list-inside">
          <li class="text-left">
            <strong class="font-bold">Quarterfinals</strong> judging begins on
            <%= ImportantDates.quarterfinals_judging_begins.strftime("%B %-d") %>
            and ends on
            <%= ImportantDates.virtual_quarterfinals_judging_ends.strftime("%B %-d, %Y") %>
          </li>

          <li class="text-left">
            <strong class="font-bold">Semifinals</strong> judging begins on
            <%= ImportantDates.semifinals_judging_begins.strftime("%B %-d") %>
            and ends on
            <%= ImportantDates.semifinals_judging_ends.strftime("%B %-d, %Y") %>
          </li>
        </ul>
      </div>
    <% end %>
  <% elsif SeasonToggles.between_rounds? %>
    <%= render 'judge/dashboards/onboarded/between_rounds' %>
  <% elsif SeasonToggles.judging_finished? %>
    <%= render 'judge/dashboards/onboarded/rebrand/judging_finished' %>
  <% end %>
</div>
