<div class="relative">
  <% if SeasonToggles.judging_off? %>
    <%= render 'judge/dashboards/onboarded/rebrand/judging_off' %>
  <% elsif SeasonToggles.quarterfinals_judging? %>
    <% if current_judge.live_event? %>
      <%= render 'judge/dashboards/onboarded/rebrand/live_events' %>
    <% else %>
      <%= render 'judge/dashboards/onboarded/rebrand/quarterfinals_or_semifinals' %>
    <% end %>
  <% elsif SeasonToggles.between_rounds? %>
    <%= render 'judge/dashboards/onboarded/between_rounds' %>
  <% elsif SeasonToggles.semifinals_judging? %>
    <%= render 'judge/dashboards/onboarded/rebrand/quarterfinals_or_semifinals' %>
  <% elsif SeasonToggles.judging_finished? %>
    <%= render 'judge/dashboards/onboarded/rebrand/judging_finished' %>
  <% end %>
</div>
