<table class="ra-participants-list" style="align:center">
  <% if unofficial_scores? and round == :quarterfinals %>
    Official Scores - These scores counted
  <% end %>
  <thead>
    <tr>
      <th>Score</th>
      <th>Judge Location </th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <% scores.official.each do |score| %>
      <tr>
        <td><%= score.total %> </td>
        <td><%= score.judge_profile.address_details %></td>
        <td><%= link_to 'View details', student_score_path(score) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if unofficial_scores? and round == :quarterfinals%>
  <br>
  <table class="ra-participants-list" style="align:center">
    Unofficial Scores - These scores are from a celebration event
    <thead>
      <tr>
        <th>Score</th>
        <th>Judge Location </th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% scores.unofficial.each do |score| %>
        <tr>
          <td><%= score.total %> </td>
          <td><%= score.judge_profile.address_details %></td>
          <td><%= link_to 'View details', student_score_path(score) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>