<%= simple_form_for current_profile, url: [current_scope, :profile] do |f| %>
  <%= render 'errors', record: current_profile %>

  <%= f.fields_for :account do |a| %>
    <%= a.input :existing_password,
      placeholder: "Enter your current password here first",
      label: t("views.accounts.edit.existing_password") %>

    <%= a.input :password, label: t("models.account.change_password") %>
  <% end %>

  <p class="hint">
    <%= t("models.account.password_hint") %>
  </p>

  <%= f.button :submit,
    t("views.application.save"),
    class: "button" %>
<% end %>
