<%
  title ||= t("views.accounts.show.title")
  edit ||= false
  admin ||= false
%>

<% provide :title, title %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8 panel">
    <div class="grid__cell">
      <h3><%= title %></h3>

      <%= image_tag account.profile_image_url,
        class: "thumbnail-lg grid__cell-img" %>

      <dl>
        <dt><%= t('models.account.full_name') %></dt>
        <dd><%= account.full_name %></dd>

        <dt><%= t('models.account.email') %></dt>
        <dd><%= mail_to account.email %></dd>

        <dt><%= t('models.account.age') %></dt>
        <dd><%= account.age %></dd>

        <% unless account.student_profile.present? %>
          <dt><%= t('models.account.gender') %></dt>
          <dd><%= account.gender %></dd>
        <% end %>

        <dt><%= t('models.account.address') %></dt>
        <dd>
          <%= account.address_details %>
          <% if admin %>
            <p>
              <%= link_to "Edit location", location_edit_path %>
            </p>
          <% end %>
        </dd>

        <%= render "#{current_scope}/profiles/profile",
          account: account.public_send("#{account.scope_name}_profile") %>

        <% if account.respond_to?(:bio) %>
          <dt><%= t('models.profile.bio') %></dt>
          <dd><%= simple_format account.bio %></dd>
        <% end %>
      </dl>

      <% if edit %>
        <%= link_to 'Edit', path %>
      <% end %>
    </div>
  </div>
</div>
