<%
  title ||= t("views.accounts.show.title")
  editing ||= false
  admin ||= false
  edit_path ||= ""
%>

<% provide :title, title %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8 panel">
    <div class="grid__cell">
      <h3><%= title %></h3>

      <%= image_tag profile.profile_image_url,
        class: "thumbnail-lg grid__cell-img" %>

      <% if admin %>
        <%= link_to "Login as #{profile.full_name}",
          admin_participant_session_path(profile.account) %>
      <% end %>

      <dl>
        <dt><%= t('models.account.full_name') %></dt>
        <dd><%= profile.full_name %></dd>

        <dt><%= t('models.account.email') %></dt>
        <dd><%= mail_to profile.email %></dd>

        <dt><%= t('models.account.age') %></dt>
        <dd><%= profile.age %></dd>

        <% unless profile.student_profile.present? %>
          <dt><%= t('models.account.gender') %></dt>
          <dd><%= profile.gender %></dd>
        <% end %>

        <dt><%= t('models.account.address') %></dt>
        <dd>
          <%= profile.address_details %>
          <% if admin %>
            <p>
              <%= link_to "Edit location", location_edit_path %>
            </p>
          <% end %>
        </dd>

        <%= render "#{profile.scope_name}/profiles/profile",
          edit_path: edit_path,
          editing: editing,
          account: profile.public_send("#{profile.scope_name}_profile") %>

        <% if profile.respond_to?(:bio) %>
          <dt><%= t('models.profile.bio') %></dt>
          <dd><%= simple_format profile.bio %></dd>
        <% end %>
      </dl>

      <% if editing %>
        <%= link_to 'Edit', edit_path %>
      <% end %>
    </div>
  </div>
</div>
