<%
  editing ||= false
  edit_path ||= edit_profile_path
%>

<div class="grid">
  <div class="grid__col-xs-12 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading"><%= account.full_name %></h1>
    </div>

    <div class="grid grid--bleed">
      <div class="grid__col-sm-3">
        <%= image_tag account.profile_image_url, class: "grid__cell-img" %>

        <% if editing %>
          <%= render 'image_upload',
            heading: "Upload a profile photo",
            size: "300x300" %>
        <% end %>
      </div>

      <div class="grid__col-sm-4 gird__col--bleed-y">
        <dl class="grid__cell grid__cell--padding-sm">
          <dt><%= t('models.account.age') %></dt>
          <dd><%= account.age %></dd>

          <%= render "#{account.scope_name}/profiles/profile",
            editing: editing,
            edit_path: edit_path,
            account: account %>

          <% unless account.student_profile.present? %>
            <dt><%= t('models.account.gender') %></dt>
            <dd><%= account.gender %></dd>
          <% end %>

          <dt><%= t('models.account.address') %></dt>
          <dd><%= account.address_details %></dd>

          <% if editing and not account.scope_name == "regional_ambassador" %>
            <%= link_to t('views.accounts.show.edit_location'),
              [account.scope_name, :location_details] %>
          <% end %>
        </dl>
      </div>

      <div class="grid__col-sm-5 gird__col--bleed-y">
        <div class="grid__cell grid__cell--padding-sm">
          <dl>

            <dt><%= t('models.account.email') %></dt>
            <dd><%= account.email %></dd>
          </dl>
        </div>
      </div>

      <%= render "#{account.scope_name}/profiles/bio",
        editing: editing,
        account: account %>
    </div>
  </div>
</div>
