<%
  editing ||= false
  edit_path ||= edit_profile_path
%>

<div class="grid">
  <div class="grid__col-xs-12 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading"><%= profile.full_name %></h1>
    </div>

    <div class="grid grid--bleed">
      <div class="grid__col-sm-3">
        <%= image_tag profile.profile_image_url,
          id: "profile-image",
          class: "grid__cell-img" %>

        <% if editing %>
          <%= render 'image_upload',
            choose_from_defaults: true,
            heading: "Upload a profile photo",
            size: "300x300" %>
        <% end %>
      </div>

      <div class="grid__col-sm-4 gird__col--bleed-y">
        <dl class="grid__cell grid__cell--padding-sm">
          <dt><%= t('models.account.age') %></dt>
          <dd><%= profile.age %></dd>

          <%= render "#{profile.class.name.underscore.sub("_profile", "")}/profiles/profile",
            editing: editing,
            edit_path: edit_path,
            profile: profile %>

          <% unless profile.class.name == "StudentProfile" %>
            <dt><%= t('models.account.gender') %></dt>
            <dd><%= profile.gender %></dd>
          <% end %>

          <dt><%= t('models.account.address') %></dt>
          <dd><%= profile.address_details %></dd>

          <% if editing and
                  not profile.class.name.underscore.sub("_profile", "") == "chapter_ambassador" %>
            <%= link_to t('views.accounts.show.edit_location'),
              [profile.class.name.underscore.sub("_profile", ""), :location_details] %>
          <% end %>
        </dl>
      </div>

      <div class="grid__col-sm-5 gird__col--bleed-y">
        <div class="grid__cell grid__cell--padding-sm">
          <dl>

            <dt><%= t('models.account.email') %></dt>
            <dd><%= profile.email %></dd>
          </dl>
        </div>
      </div>

      <%= render "#{profile.class.name.underscore.sub("_profile", "")}/profiles/bio",
        editing: editing,
        profile: profile %>
    </div>
  </div>
</div>
