<%
  url ||= false
  edit ||= false
  title ||= t("views.accounts.show.title")
  path ||= edit_profile_path
%>

<div class="dashboard-page-info">
  <h3><%= title %></h3>
</div>

<div class="flex-row">
  <div class="flex-col-sm-3 well profile-avatar">
    <%= image_tag account.profile_image_url %>
    <% if url %>
      <%= render 'profiles/profile_image_upload', url: url %>
    <% end %>
  </div>

  <div class="flex-row flex-col-sm-9 account-info">
    <dl class="flex-col-sm-6 account-basic">
      <dt><%= t('models.account.full_name') %></dt>
      <dd><%= account.full_name %></dd>

      <dt><%= t('models.account.email') %></dt>
      <dd><%= account.email %></dd>

      <dt><%= t('models.account.date_of_birth') %></dt>
      <dd><%= account.date_of_birth %></dd>

      <% unless account.student_profile.present? %>
        <dt><%= t('models.account.gender') %></dt>
        <dd><%= account.gender %></dd>
      <% end %>

      <dt><%= t('models.account.address') %></dt>
      <dd><%= account.address_details %></dd>

      <% if edit and not account.type_name == "regional_ambassador" %>
        <%= link_to t('views.accounts.show.edit_location'), [account.type_name, :location_details] %>
      <% end %>
    </dl>

    <div class="flex-col-sm-6 account-special">
      <dl>
        <%= render "#{account.type_name}/profiles/profile", account: account %>
      </dl>

      <% if edit %>
        <%= link_to t('views.accounts.show.edit'), path %>
      <% end %>
    </div>

    <%= render "#{account.type_name}/profiles/bio", edit: edit, account: account %>
  </div>
</div>
