<% provide :title, "Find Missing Participants" %>

<% provide :subnav, render('chapter_ambassador/participants/sub_menu') %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <h3 class="content-heading">Find a missing participant</h3>

      <h5>Your search:</h5>
      <dl>
        <dt>First name:</dt>
        <dd><%= search_params[:first_name] %></dd>

        <dt>Last name:</dt>
        <dd><%= search_params[:last_name] %></dd>

        <dt>Email:</dt>
        <dd><%= search_params[:email] %></dd>
      </dl>

      <% if @account.present? %>
        <%= render "chapter_ambassador/missing_participant_searches/participant",
          account: @account %>
      <% else %>
        <p>Sorry, no match was found.</p>
      <% end %>

      <%= link_to "Go back",
        new_chapter_ambassador_missing_participant_search_path(
          missing_participant_search: params[:missing_participant_search]
        ),
        class: "button small" %>
    </div>
  </div>
</div>
