<%= javascript_tag do %>
  function onFileUploadFinished(data) {
    const screenshot = document.getElementById("screenshot");
    screenshot.src = filestack_client.transform(data.handle);
  }

  function onFileSelected(file) {
  // https://www.filestack.com/docs/uploads/pickers/web/#callbacks
    if (file.size >  2 * 1024 * 1024) {
        throw new Error("Image is too large. Please select a photo under 2MB.");
    }
  }
<% end %>

<div class="grid">
  <div class="grid__col-10">
    <div class="panel">

      <h1>Add an image</h1>
      <% @team_submission.while_no_screenshots_remaining do %>
        <p>Please delete an image in order to upload additional images.</p>
      <% end %>

      <% @team_submission.while_screenshots_remaining do %>
        <img src="" alt="" id="screenshot" class="og-style-filestack-img">

        <%= form_with model:[@team_submission, @screenshot], url: admin_team_submission_screenshots_path(@team_submission), local: true do |f| %>
          <%= f.label :image, "Image" %>
          <%= f.filestack_field :image,
                                "Select image",
                                id: "admin-image-picker",
                                pickerOptions: filestack_picker_options(@team_submission) %>
          <br>
          <%= f.submit "Save", class:"button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>