<div class="regional-pitch-event__info">
  <h1><%= regional_pitch_event.name %></h1>

  <h2><%= regional_pitch_event.city %></h2>

  <h3 class="regional_pitch_event__info-time">
    <%= regional_pitch_event.starts_at
      .in_time_zone(regional_pitch_event.timezone)
      .strftime("%A, %B %e") %><br />
    <%= regional_pitch_event.starts_at
      .in_time_zone(regional_pitch_event.timezone)
      .strftime("%H:%M") %>
    to
    <%= regional_pitch_event.ends_at
      .in_time_zone(regional_pitch_event.timezone)
      .strftime("%H:%M") %>

    <small>(<%= regional_pitch_event.timezone %> time zone)</small>
  </h3>

  <h3>Division: <%= regional_pitch_event.division_names %></h3>

  <p><%= regional_pitch_event.venue_address %></p>

  <% unless regional_pitch_event.eventbrite_link.blank? %>
    <p>
      <%= link_to "More details",
        regional_pitch_event.eventbrite_link,
        target: :_blank %>
    </p>
  <% end %>
</div>
