<% provide :title, "My profile" %>

<div class="grid tabs tabs--vertical">
  <div class="grid__col-sm-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="hidden-xs hidden-xxs">
          <h3><%= current_mentor.full_name %></h3>
          <%= image_tag current_mentor.profile_image_url,
                        id: "main-profile-image",
                        class: "grid__cell-img og-style-filestack-img" %>
          <div>
            <%= render 'profiles/filestack_profile_image_upload' %>
          </div>
        </div>
        <%= render 'mentor/profiles/menu' %>
      </div>
    </div>
  </div>

  <div class="tabs__content grid__col-sm-9 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="tabs__tab-content" id="basic">
          <%= render 'mentor/profiles/basic' %>
        </div>

        <div class="hidden-sm hidden-md hidden-lg tabs__tab-content" id="avatar">
          <%= image_tag current_mentor.profile_image_url, class: "grid__cell-img" %>


        </div>

        <div class="tabs__tab-content" id="location">
          <%= render 'mentor/profiles/location' %>
        </div>

        <div class="tabs__tab-content" id="change-email">
          <%= render 'profiles/email' %>
        </div>

        <div class="tabs__tab-content" id="change-password">
          <%= render 'profiles/password' %>
        </div>
      </div>
    </div>
  </div>
</div>
