<h3 class="reset">Resources</h3>

<ul>
  <li>
    <%= link_to "Chapter Ambassador Resource Page",
                "https://technovationchallenge.org/ambassador-resources/",
                target: "_blank" %>
  </li>
  <li>
    <%= link_to "Chapter welcome document",
                "https://docs.google.com/document/d/1toRXuJmLXbIBO60QOiXpvBNs7V_LqCMNpPv3uRj8rBI/edit?usp=sharing",
                target: "_blank" %>
    <span class="font-style--italic">
      - contains videos of how to use your dashboard and more
    </span>
  </li>
  <li>Student Curricula
    <ul>
      <li>
        <%= link_to "Beginner",
                    "https://beginner.technovationchallenge.org/",
                    target: "_blank" %>
          <br>
          <span class="font-style--italic">
            Please fill out
            <%= link_to "this form",
                        "https://docs.google.com/forms/d/e/1FAIpQLSfPsj9BK9YoV4qclVST--CHoKozvl8eYI5AI4NyAfWbZoVntA/viewform",
                        target: "_blank"%>
            if you need access to the beginner curriculum
          </span>
      </li>
      <li>
        <%= link_to "Junior/Senior",
                    "https://technovationchallenge.org/curriculum-landing-page/",
                    target: "_blank" %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to "Mentor Curriculum",
                "https://technovationchallenge.org/mentor-curriculum/",
                target: "_blank" %>
  </li>
  <li>
    <%= link_to "Mentor Resources",
                "https://technovationchallenge.org/mentor-resources/",
                target: "_blank" %>
  </li>
  <li>
    <%= link_to "Safety Information",
                "https://www.technovation.org/safety/",
                target: "_blank" %>
  </li>
</ul>


<h3 class="reset">FAQ & Rules</h3>

<ul>
  <li>
    <%= link_to "How do teams submit?",
      "https://iridescentsupport.zendesk.com/hc/en-us/sections/115000630314-Submission",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "Submission Guidelines",
      "https://www.technovationchallenge.org/submission-guidelines/",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "How will a team's app or AI project be judged?",
      "https://iridescentsupport.zendesk.com/hc/en-us/sections/115000250428-Judging-Pitching-and-Results",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "Judging Rubrics for all divisions",
      "https://www.technovationchallenge.org/judging-rubric/",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "Award Structure",
      "https://technovationchallenge.org/award-structure/",
      target: "_blank" %>
  </li>
</ul>
