<% if current_ambassador.onboarding? %>
  <%= render "chapter_ambassador/chapter_admin/onboarding" %>
<% else %>
  <div class="grid tabs tabs--vertical">
    <div class="grid__col-sm-3 col--sticky-parent">
      <div class="col--sticky-spacer">
        <div class="col--sticky">
          <div class="grid__cell clearfix">
            <%= image_tag current_ambassador.profile_image_url,
              class: "grid__cell-img thumbnail-md thumbnail-no-float" %>

            <div>
              <h6 class="small reset">
                <%= current_ambassador.full_name %>
              </h6>

              <%= link_to "edit profile",
                chapter_ambassador_profile_path,
                class: "small" %>
            </div>
          </div>

          <%= render "ambassador/admin/side_nav" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
