<div class="tw-tab-content">
  <div class="whitespace-nowrap">
    <% if false %>
      <%= web_icon(
            "check-circle",
            class: "icon--green ml-4",
            text: "Background Check"
          ) %>
    <% else %>
      <%= web_icon(
            "circle-o",
            class: "ml-4"
          ) %>
      <%= link_to "Background Check", "#" %>
    <% end %>
  </div>

  <div class="whitespace-nowrap">
    <% if false %>
      <%= web_icon(
            "check-circle",
            class: "icon--green ml-4",
            text: "Chapter Ambassador Training"
          ) %>
    <% else %>
      <%= web_icon(
            "circle-o",
            class: "ml-4"
          ) %>
      <%= link_to "Chapter Ambassador Training", "#" %>
    <% end %>
  </div>

  <div class="whitespace-nowrap">
    <% if false %>
      <%= web_icon(
            "check-circle",
            class: "icon--green ml-4",
            text: "Memorandum of Understanding"
          ) %>
    <% else %>
      <%= web_icon(
            "circle-o",
            class: "ml-4"
          ) %>
      <%= link_to "Memorandum of Understanding", "#" %>
    <% end %>
  </div>

  <div class="whitespace-nowrap">
    <% if false %>
      <%= web_icon(
            "check-circle",
            class: "icon--green ml-4",
            text: "Program Profile"
          ) %>
    <% else %>
      <%= web_icon(
            "circle-o",
            class: "ml-4"
          ) %>
      <%= link_to "Program Profile", "#" %>
    <% end %>
  </div>
</div>
