<h4><%= score_question.label %></h4>

<%= render partial: 'judge/scores/form_fields/score_value',
           collection: score_question.score_values,
           cached: true,
           locals: { f: f, score_question: score_question } %>

<p>
  <%= label_tag "score_scored_values_attributes_#{score_question.id}_comment",
                t('models.scored_value.comment') %>

  <%= text_area_tag "score[scored_values_attributes][#{score_question.id}][comment]",
                    f.object.scored_values.comment(score_question) %>
</p>

<%= hidden_field_tag "score[scored_values_attributes][#{score_question.id}][id]",
                     f.object.scored_values.id(score_question) %>
