<div class="rebrand">
  <div class="rebrand__page-head">
    <h1>We're evolving</h1>
  </div>

  <div class="grid grid--justify-center">
    <div class="grid__col-12 grid__col-md-10">
      <p>
        As of August 2, Iridescent, parent organization to the AI Family Challenge and Technovation programs,
        will change its name to Technovation. We’re excited to continue to empower  youth and adults to be leaders,
        creators and problem-solvers through technology.
      </p>
      <p>
        We’ve also renamed our programs to clearly connect them to Technovation and address feedback we’ve received
        from amazing partners like you. <strong>The educational focus of each program is not changing</strong>.
      </p>
    </div>

    <div class="grid__col-6 grid__col-md-5 margin--t-large">
      <%= image_tag asset_path("tg-logo-color.svg"),
        alt: "Technovation Girls logo",
        width: "60%",
        class: "margin--b-large" %>
      <p>
        Technovation will now be called <strong>Technovation Girls</strong>.
      </p>
      <p>
        The program will continue to equip young women ages 10-18 with the skills to become tech entrepreneurs and leaders. 
      </p>
    </div>
    <div class="grid__col-1 margin--t-large"></div>
    <div class="grid__col-5 grid__col-md-4 margin--t-large">
      <%= image_tag asset_path("evolving2.png"),
        alt: "Technovation Girls participants",
        width: "100%" %>
    </div>

    <div class="grid__col-5 grid__col-md-4 margin--t-large">
      <%= image_tag asset_path("evolving1.png"),
        alt: "Technovation Families participants",
        width: "100%" %>
    </div>
    <div class="grid__col-1 margin--t-large"></div>
    <div class="grid__col-6 grid__col-md-5 margin--t-large">
      <%= image_tag asset_path("tf-logo-color.svg"),
        alt: "Technovation Families logo",
        width: "60%",
        class: "margin--b-large" %>
      <p>
        AI Family Challenge will now be called <strong>Technovation Families</strong>. 
      </p>
      <p>
        The program will continue to bring together families, schools, communities and industry mentors to learn, play,
        and create with artificial intelligence. 
      </p>
    </div>

    <div class="grid__col-12 grid__col-md-10 margin--t-large">
      <p class="text-align--center"><strong class="callout">
        Please continue to visit this site - my.technovationchallenge.org - to run and manage the Technovation Girls 
        program in your community. 
      </strong></p>
      <p class="text-align--center">
        <%= link_to "Learn more about both Technovation programs",
          "https://technovation.org",
          target: :_blank,
          class: "button" %>
      </p>
      <p class="text-align--center margin--t-xlarge margin--b-xlarge">
        We look forward to this next step and to continuing to support you! 
      </p>
    </div>
  </div>
</div>
