<div class="antialias">
  <h1><%= @submission.team_name %></h1>

  <dl>
    <dt>Rank:</dt>
    <dd><%= @submission.contest_rank %></dd>

    <dt>Event:</dt>
    <dd><%= @submission.team.event.name %></dd>

    <dt>Quarterfinals average:</dt>
    <dd>
      <%= @submission.quarterfinals_average_score %> /
      <%= @submission.senior_division? ? 100 : 80 %>
    </dd>

    <% if @submission.semifinalist? %>
      <dt>Semifinals:</dt>
      <dd><%= @submission.semifinals_average_score %></dd>
    <% end %>

    <% if @submission.submission_scores.unofficial.any? %>
      <dt>Quarterfinals unofficial:</dt>
      <dd><%= @submission.average_unofficial_score %></dd>
    <% end %>
  </dl>

  <p>
    <%= @submission.team_name %>
    earned
    <%= pluralize @submission.code_checklist_points, 'point' %>
    for their code checklist.
  </p>

  <h5>Complete scores</h5>

  <table>
    <tbody>
      <% @submission.scores.complete.each do |score| %>
        <tr>
          <td style="width: 100px;"><%= score.total %> / <%= score.total_possible %></td>
          <td style="width: 200px;">
            <%= link_to score.judge_name,
              [current_scope, :participant, id: score.judge_profile.account_id] %>
          </td>
          <td style="width: 100px;"><%= score.official? ? "official" : "unofficial" %></td>
          <td><%= link_to 'View score', [current_scope, :score, id: score.id] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h5>Scores still in progress</h5>

  <table>
    <tbody>
      <% @submission.scores.incomplete.each do |score| %>
        <tr>
          <td style="width: 100px;"><%= score.total %> / <%= score.total_possible %></td>
          <td style="width: 200px;">
            <%= link_to score.judge_name,
              [current_scope, :participant, id: score.judge_profile.account_id] %>
          </td>
          <td style="width: 100px;"><%= score.official? ? "official" : "unofficial" %></td>
          <td><%= link_to 'View score', [current_scope, :score, id: score.id] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to 'Back to scores', [current_scope, :scores], class: "button button--small" %></p>
</div>