<p>You're writing a message to <strong><%= message.recipient_name %></strong></p>

<%= simple_form_for [:regional_ambassador, message] do |f| %>
  <%= f.input :regarding_id, as: :hidden %>
  <%= f.input :regarding_type, as: :hidden %>

  <% if message.is_a?(MultiMessage) %>
    <%= f.input :team, as: :hidden %>
    <%= f.input :judge_profile, as: :hidden %>
  <% else %>
    <%= f.input :recipient_id, as: :hidden %>
    <%= f.input :recipient_type, as: :hidden %>
  <% end %>

  <%= f.input :subject %>

  <div class="message-preview">
    <p>
      Dear <em>{name}</em>,
    </p>

    <% if message.regarding %>
      <p>
        This is a message from your Regional Ambassador regarding<br />
        <strong><%= message.regarding_name %></strong>.
      </p>

      <p>
        <em>{link to <%= message.regarding_name %>}</em>
      </p>
    </div>

    <%= f.input :body, label: false, as: :text, input_html: { size: "60x15" } %>

    <p>
      Your Ambassador,<br />
      <%= current_ambassador.full_name %><br />
      <%= mail_to current_ambassador.email %>
    </p>
  <% end %>

  <p>
    <%= f.submit "Preview", class: "appy-button" %>
  </p>
<% end %>
