<h1>Messages</h1>

<p>
  Message to: <strong><%= @message.recipient_name %></strong>
</p>

<div class="card message-preview">
  <div class="card__heading">
    <%= @message.subject %>
  </div>

  <div class="card__body">
    <p>
      Dear <em>&lt;individual name will go here&gt;</em>,
    </p>

    <% if @message.regarding %>
      <p>
        This is a message from your Regional Ambassador regarding<br />
        <strong><%= @message.regarding_name %></strong>.
      </p>

      <p>
        <em>&lt;link to <%= @message.regarding_name %> will go here&gt;</em>
      </p>
    <% end %>

    <%= simple_format(@message.body) %>

    <p>
      Your Ambassador,<br />
      <%= current_ambassador.full_name %><br />
      <%= mail_to current_ambassador.email %>
    </p>

    <% unless @message.sent_at %>
      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to 'Edit',
          [:edit, :regional_ambassador, @message],
          class: "appy-button appy-button--sm" %>
      </div>
    <% end %>
  </div>
</div>

<% if @message.sent_at %>
  <p><strong>This message has already been sent and cannot be edited</strong></p>
<% else %>
  <div class="standalone-buttons">
    <p>
      Once you hit SEND NOW,<br />
      you <strong>cannot edit</strong> this message.
    </p>

    <p>
      <%= link_to 'SEND NOW',
        regional_ambassador_message_deliveries_path(message_id: @message.id),
        class: "appy-button",
        data: {
          method: :post,
          confirm: "You are about to SEND THIS MESSAGE and you WILL NOT be able to undo it or edit it",
        } %>
    </p>
  </div>
<% end %>
