<%= simple_form_for [:judge, submission_score], data: { remote: true }, html: { class: "no-simple-form-style"} do |f| %>
  <h1>Ideation</h1>

  <%= f.input :sdg_alignment,
    label: LabelForStatedGoal.(submission_score.team_submission_stated_goal),
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :evidence_of_problem,
    label: "The team has clearly outlined and provided evidence through facts and statistics of the problem they are addressing.",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :problem_addressed,
    label: "The app effectively addresses the problem that was outlined.",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :ideation_comment %>

  <p>
    The team clearly demonstrates how their app idea aligns with their selected Technovation theme of the UN Sustainable Development Goal:
    <strong><%= submission_score.team_submission_stated_goal %></strong>
  </p>

  <p>
    <%= link_to "Learn more about Sustainable Development Goals",
      "https://sustainabledevelopment.un.org/?menu=1300.",
      target: :_blank %>
  </p>

  <%= f.button :submit, "Save Ideation Score" %>
<% end %>
