<h1 class="appy-title">
  Judging for Regional Pitch Event:
  <%= current_judge.selected_regional_pitch_event_name %>
</h1>

<div class="flex-row">
  <div class="flex-col-sm-8">
    <% if @submission_scores.complete.any? %>
      <h2>Completed Scores</h2>

      <p>Editable until Monday, May 15</p>

      <% @submission_scores.complete.each do |score| %>
        <div class="card judge-submission-cta">
          <div class="card__heading">
            <%= score.team_submission_app_name %>
            <small><%= score.team_submission_team_name %></small>
          </div>

          <div class="card__body">
            <%= image_tag score.team_submission_team_photo, width: "100%" %>

            <div class="card-body__details">
              <p><strong>App:</strong> <%= score.team_submission_app_name %></p>
              <p><strong>Team:</strong> <%= score.team_submission_team_name %></p>
              <p><strong>Division:</strong> <%= score.team_submission_team_division_name %></p>
              <p><strong>Score:</strong> <%= score.total %> / <%= score.total_possible %></p>
            </div>

            <div class="card__actions-row card__actions-row--pos-end">
              <%= link_to 'Continue Scoring',
                edit_judge_submission_score_path(score),
                class: "appy-button" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h2>Submissions from your event</h2>

      <% if @team_submissions.empty? %>
        <p>
          There is nothing here because all of your scores are in progress.
        </p>

        <p>
          Please complete scores which appear on the right! Thank you!
        </p>
      <% end %>

      <% @team_submissions.each do |submission| %>
        <div class="card judge-submission-cta">
          <div class="card__heading">
            <%= submission.app_name %>
            <small>Team: <%= submission.team_name %></small>
          </div>

          <div class="card__body">
            <div class="card-body__img">
              <%= image_tag submission.team_photo, width: 200, height: 133.33 %>
            </div>

            <div class="card-body__details">
              <p><strong>App:</strong> <%= submission.app_name %></p>
              <p><strong>Team:</strong> <%= submission.team_name %></p>
              <p><strong>Division:</strong> <%= submission.team_division_name %></p>
              <p><strong>Location:</strong> <%= submission.team_primary_location %></p>
              <p><strong>Ages:</strong> <%= submission.team_ages.to_sentence %></p>
            </div>

            <div class="card__actions-row card__actions-row--pos-end">
              <% if Rails.env.production? %>
                <%= link_to 'Review this submission',
                  app_path(submission),
                  target: :_blank,
                  class: "appy-button" %>
              <% else %>
                <%= link_to 'Score this submission',
                  new_judge_submission_score_path(team_submission_id: submission.id),
                  class: "appy-button" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="flex-col-sm-4">
    <% if @submission_scores.incomplete.any? %>
      <% @submission_scores.incomplete.each do |score| %>
        <div class="card judge-submission-cta">
          <div class="card__heading">
            Submission score in progress
          </div>

          <div class="card__body">
            <%= image_tag score.team_submission_team_photo, width: "100%" %>

            <div class="card-body__details">
              <p><strong>App:</strong> <%= score.team_submission_app_name %></p>
              <p><strong>Team:</strong> <%= score.team_submission_team_name %></p>
              <p><strong>Division:</strong> <%= score.team_submission_team_division_name %></p>
              <p><strong>Score:</strong> <%= score.total %> / <%= score.total_possible %></p>
            </div>

            <div class="card__actions-row card__actions-row--pos-end">
              <%= link_to 'Continue Scoring',
                edit_judge_submission_score_path(score),
                class: "appy-button" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You have no scores in progress at this time.</p>
    <% end %>
  </div>
</div>
