<%= simple_form_for [:judge, submission_score], data: { remote: true }, html: { class: "no-simple-form-style"} do |f| %>
  <h1>Overall Impression</h1>

  <%= f.input :business_plan_feasible,
    label: "Are you convinced the idea is feasible and that the business could succeed?",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :submission_thought_out,
    label: "Was each component of the team submission well thought out?",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :cohesive_story,
    label: "Was there a cohesive and well communicated story about the problem and the solution?",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :solution_originality,
    label: "Does the app address the problem in an original way?",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :solution_stands_out,
    label: "Does the app solution stand out from other teams?",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :overall_comment,
      wrapper_html: {
        data: {
          canned_responses: [
            'I love how your business and app solve your problem because ',
            'Your business and app could solve your problem better if ',
            'The part I loved the most about your submission is ',
            'Your submission could be improved if ',
          ],
        }
      } %>

  <%= f.button :submit, "Save Overall Impression Score" %>
<% end %>
