<%= simple_form_for [:judge, submission_score], data: { remote: true }, html: { class: "no-simple-form-style"} do |f| %>
  <h1>Pitch</h1>

  <%= f.input :problem_clearly_communicated,
    label: "The team clearly communicates the problem they are addressing.",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :compelling_argument,
    label: "The team presents a compelling argument to support the solution they are proposing.",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :passion_energy,
    label: "The team’s passion and energy for solving the problem is evident in their pitch delivery.",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :pitch_specific,
    label: "The pitch is specific and to the point.",
    collection: JudgingRubricScores.new,
    label_method: :name,
    value_method: :value,
    as: :radio_buttons %>

  <%= f.input :pitch_comment,
      wrapper_html: {
        data: {
          canned_responses: [
            'Your pitch was convincing because ',
            'Your pitch would be more convincing if ',
            'The strongest part of your pitch video was ',
            'Your pitch video could be improved by ',
          ],
        }
      } %>

  <%= f.button :submit, "Save Pitch Score" %>
<% end %>
