<h1 class="appy-title">
  Scoring
  <%= @current_team_submission.app_name || "[No App Name]" %>
  by
  <%= @current_team_submission.team.name %>
</h1>

<%= render 'judge/submission_scores/ideation', submission_score: @submission_score %>
<%= render 'judge/submission_scores/technical', submission_score: @submission_score %>
<%= render 'judge/submission_scores/entrepreneurship', submission_score: @submission_score %>
<%= render 'judge/submission_scores/pitch', submission_score: @submission_score %>
<%= render 'judge/submission_scores/overall_impression', submission_score: @submission_score %>
