<h1 class="appy-title">
  Scoring
  <%= @current_team_submission.app_name || "[No App Name]" %>
  by
  <%= @current_team_submission.team.name %>
</h1>

<div class="judging-form" id="judging-form">
  <div class="judging-form__section">
    <%= render 'judge/submission_scores/ideation', submission_score: @submission_score %>
  </div>
  <div class="judging-form__section">
    <%= render 'judge/submission_scores/technical', submission_score: @submission_score %>
  </div>
  <div class="judging-form__section">
    <%= render 'judge/submission_scores/entrepreneurship', submission_score: @submission_score %>
  </div>
  <div class="judging-form__section">
    <%= render 'judge/submission_scores/pitch', submission_score: @submission_score %>
  </div>
  <div class="judging-form__section">
    <%= render 'judge/submission_scores/overall_impression', submission_score: @submission_score %>
  </div>
</div>

<div class="team-submissions">
  <div class="team-submissions__row-left">
    <div class="team-submissions__fixed-col">
      <%= render 'team_submissions/team_photo', submission: @current_team_submission, current_team: @current_team_submission.team %>
    </div>
  </div>

  <div class="team-submissions__row-center">
    <%= render 'team_submissions/app_description', submission: @current_team_submission %>
    <%= render 'team_submissions/sustainable_development_goal', submission: @current_team_submission %>
    <%= render 'team_submissions/demo_pitch_videos', submission: @current_team_submission %>
    <%= render 'team_submissions/screenshots', submission: @current_team_submission %>
  </div>

  <div class="team-submissions__row-right">
    <div class="team-submissions__fixed-col">
      <%= render 'team_submissions/source_code', submission: @current_team_submission %>
      <%= render 'team_submissions/development_platform', submission: @current_team_submission %>
      <%= render 'team_submissions/business_plan', submission: @current_team_submission %>
    </div>
  </div>
</div>
