<%= form_with model: invitation,
  url: send("#{current_scope}_user_invitations_path"),
  local: true do |f| %>
  <% if invitation.errors.any? %>
    <div class="notice notice--error">
      <ul class="reset">
        <% invitation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profile_type, "Registration Type", for: :user_invitation_profile_type %>
    <%= f.select :profile_type,
      UserInvitation::PROFILE_TYPES,
      include_blank: true,
      id: :user_invitation_profile_type
    %>
  </div>

  <div class="field">
    <%= f.label :name, for: :user_invitation_name %>
    <%= f.text_field :name, id: :user_invitation_name, placeholder: "Optional" %>
  </div>

  <div class="field">
    <%= f.label :email, for: :user_invitation_email %>
    <%= f.email_field :email, id: :user_invitation_email %>
  </div>

  <div class="field">
    <span class="inline-checkbox">
      <%= f.check_box :register_at_any_time %>
      <%= f.label :register_at_any_time, "Register at any time (bypass registration settings)" %>
    </span>
  </div>

  <div class="actions margin--t-xlarge">
    <p>
      <%= f.submit "Send invitation", class: "button" %>
    </p>
  </div>
<% end %>
