<%
  extra_count ||= false
  verb ||= "found"
%>

<div class="panel">
  <%= datagrid_form_for grid,
    data: { turbolinks: false },
    url: form_url %>

  <h6>
    <%= number_with_delimiter(grid.assets.count) %>
    <%= model_name.humanize.downcase.pluralize(grid.assets.count) %>
    <%= verb %>
  </h6>

  <% if extra_count %>
    <h6><%= extra_count %></h6>
  <% end %>

  <%= yield %>

  <% if csv_export_supported?(grid) %>
    <p>
      <%= link_to "Export current results to CSV", "#",
        data: {
          opens_modal: "export_csv",
        },
        class: "button secondary small" %>
    </p>
  <% end %>

  <div class="table--scrollable">
    <%= datagrid_table(grid) %>
  </div>

  <%= will_paginate grid.assets %>
</div>

<%= content_tag :div, class: "modal", id: "export_csv" do %>
  <div class="modal-content">
    <div style="text-align: left;">
      <h5 class="reset">Current export settings:</h5>

      <p class="hint">
        Make sure you performed the search to get the desired settings!
      </p>
    </div>

    <dl style="text-align: left;">
      <% grid.attributes.each do |name, value| %>
        <% next if value.blank? %>
        <% filter = grid.filters.detect { |f| f.name == name } %>
        <% next unless filter.present? %>

        <dt><%= filter.header %></dt>
        <dd><%= Array(value).to_sentence %></dd>
      <% end %>

      <dt>Total accounts</dt>
      <dd><%= grid.assets.count %></dd>
    </dl>

    <%= form_with(
      method: :get,
      data: { wait_for_jobs: true },
      url: url_for(format: 'json')
    ) do |f| %>

      <% grid.attributes.each do |name, value| %>
        <% next if value.blank? %>

        <% if Array(value).many? %>
          <%= f.select "#{param_root}[#{name}]", nil, {},
            class: "hidden",
            multiple: true do %>
            <% Array(value).each do |v| %>
              <%= content_tag :option, v, selected: true %>
            <% end %>
          <% end %>
        <% else %>
          <%= f.hidden_field "#{param_root}[#{name}]", value: value %>
        <% end %>
      <% end %>

      <%= f.label :filename,
        "Customize the filename (optional)" %>

      <%= f.text_field :filename,
        placeholder: default_export_filename(:csv) %>

      <p>
        <%= f.submit "Export now", class: "button" %>
        or
        <%= link_to 'cancel', '#', class: "close" %>
      </p>
    <% end %>
  </div>
<% end %>
