<h1 class="appy-title">Accounts</h1>

<div class="wrapper__report-table">
  <label class="no-text-transform inline">
    Season:
    <%= select_tag :season,
                  options_for_select(Season.pluck(:year).sort.reverse, params[:season]),
                  class: "inline",
                  data: { reload: true, param: :season } %>
  </label>

  <label class="no-text-transform inline">
    Account type:
    <%= select_tag :type,
                  options_for_select(%w{All Mentor Student RegionalAmbassador Judge}, params[:type]),
                  class: "inline",
                  data: { reload: true, param: :type } %>
  </label>

  <% if params[:type] == "Student" %>
    <label class="no-text-transform inline">
      Parental Consent Status:
      <%= select_tag :parental_consent_status,
                    options_for_select(%w{All Signed Sent No\ Info\ Entered}, params[:parental_consent_status]),
                    class: "inline",
                    data: { reload: true, param: :parental_consent_status } %>
    </label>
  <% end %>

  <label class="no-text-transform inline">
    How did you hear about us?
    <%= select_tag :how_heard,
                   options_for_select(["All"] + Account.referred_bies.keys, params[:how_heard]),
                   class: "inline",
                   data: {
                     reload: true,
                     param: :how_heard,
                   } %>
  </label>

  <label class="no-text-transform">
    Search by name or email:
    <%= text_field_tag :text, params[:text], class: "submit-on-enter",
                                             placeholder: "Press enter after typing",
                                             data: { param: :text } %>
  </label>

  <label class="no-text-transform inline">
    Per page:
    <%= select_tag :per_page,
                   options_for_select([10, 25, 50, 100], params[:per_page]),
                   class: "inline",
                   data: {
                     reload: true,
                     param: :per_page,
                   } %>
  </label>

  <div class="pagination_info">
    <%= page_entries_info @accounts, model: params[:type] == "All" ? "Account" : params[:type] %>
  </div>

  <%= will_paginate @accounts %>

  <table class="table__report_table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Signed up</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Team name(s)</th>
        <th>Division</th>
        <th>Referred by</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
      </tr>
      <tr>
        <td colspan="11">
          <%= link_to "Export these results", admin_exports_path(params.merge(class: "account")), data: { method: :post } %>
        </td>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <% cache(account) do %>
          <tr>
            <td><%= account.type_name %></td>
            <td><%= account.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= link_to account.first_name, admin_account_path(account) %></td>
            <td><%= account.last_name %></td>
            <td><%= account.email %></td>
            <td><%= account.teams.current.flat_map(&:name).to_sentence %></td>
            <td><%= account.division %></td>
            <td><%= account.referred_by %> <%= account.referred_by_other %></td>
            <td><%= account.city %></td>
            <td><%= account.state_province %></td>
            <td><%= Country[account.country].name %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @accounts %>
</div>
