<div id="change-email" class="h-auto mb-auto rounded-md border-solid border-4 border-energetic-blue" >
  <div class="sm-header-wrapper">
    <p class="font-bold">Change Your Password</p>
  </div>

  <div id="change-pw-wrapper" class="p-6">
    <div id="pw-details">
      <%= simple_form_for(current_profile, url: send("#{current_scope}_profile_path")) do |f| %>
        <%= render 'errors', record: current_profile %>

        <%= f.fields_for :account, include_id: false do |a| %>
          <%= a.input :existing_password,
            placeholder: "Enter your current password here first",
            label: t("views.accounts.edit.existing_password") %>

          <%= a.input :password,
            input_html: { id: "existing_password_field_password" },
            label: t("models.account.change_password") %>
        <% end %>

        <p class="hint">
          <%= t("models.account.password_hint") %>
        </p>

        <%= f.button :submit,
          t("views.application.save"),
          class: "tw-green-btn" %>
      <% end %>
    </div>
  </div>

</div>

