<%= simple_form_for submission.technical_checklist,
  method: :post,
  url: judge_team_submission_technical_checklist_verifications_path(submission) do |f| %>

  <% submission.technical_checklist.checked_items.each do |item| %>
    <strong><%= item.label %></strong>

    <% if item.explanation %>
      <%= simple_format item.explanation %>
    <% else %>
      <br />
      <%= image_tag item.display, width: 100 %>
      <br />
      TODO: Dan, please modalify (or whatever) a full-size (fit to window) version of the image
    <% end %>

    <div class="tc-form-group__item tc-form-group__item--verify">
      <%= f.input "#{item.name}_verified",
        label: "Verify this",
        as: :boolean %>
    </div>
  <% end %>

  <%= f.submit "Save verification", class: "appy-button" %>
<% end %>
