<div slot="change-email">
  <%= render 'profiles/email' %>
</div>

<div slot="change-password">
  <%= render 'profiles/password' %>
</div>

<div slot="mentor-training">
  <%= render 'slots/mentor/training' %>
</div>

<div slot="bio">
  <%= render 'slots/mentor/bio' %>
</div>

<div slot="consent-waiver">
  <%= render 'completion_steps/consent_waiver', profile: current_mentor %>
</div>

<div slot="background-check">
  <%= render 'completion_steps/background_check', profile: current_mentor %>
</div>

<div id="find-team" slot="find-team">
  <%= render 'slots/mentor/join_team' %>
</div>

<div slot="create-team">
  <%= render 'slots/mentor/create_team' %>
</div>

<div slot="submission">
  <%= render 'slots/mentor/submissions' %>

  <% if SeasonToggles.submissions_disabled? and
          SeasonToggles.quarterfinals_or_earlier? %>
    <% rpe_teams = current_mentor.teams.select { |t| t.live_event? } %>
    <% if rpe_teams.any? %>
      <h1 class="margin--t-xlarge">Regional Events</h1>
      <% rpe_teams.each do |team| %>
        <div class="progress margin--t-large margin--b-xlarge">
          <div class="progress__section">
            <h2 class="reset">
              <%= link_to team.name,
                send(
                  "#{current_scope}_team_submission_section_path",
                  team.submission,
                  section: :pitch_presentation
                ) %>
            </h2>

            <div class="margin--b-large">
              <ol class="list--reset">
                <li>
                  <small>
                    Your team is attending a live, regional event:
                  </small>

                  <%= link_to submission_progress_web_icon(
                    team.submission,
                    :pitch_presentation,
                    "Edit presentation slides"
                  ),
                  send(
                    "#{current_scope}_team_submission_path",
                    team.submission,
                    section: :pitch_presentation
                  ) %>
                </li>
              </ol>
            </div>

            <%= render 'regional_pitch_events/event',
              event: team.selected_regional_pitch_event,
              current_team: team %>

          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div slot="events">
  <%= render 'slots/mentor/events' %>
</div>

<div slot="scores">
  <%= render 'slots/mentor/scores' %>
</div>