<div class="to-do">
  <h2 class="to-do__heading appy-heading-lg">
    <%= t("views.application.to_do") %>
  </h2>

  <ul class="to-do__list">
    <%= render 'completion_steps/consent_waiver', account: current_mentor %>
    <%= render 'completion_steps/background_check', account: current_mentor %>
    <%= render 'completion_steps/complete_profile', account: current_mentor %>
    <%= render 'completion_steps/create_join_team', account: current_mentor %>
  </ul>
</div>
