<% unless current_mentor.full_access_enabled? %>
  <h1 class="content-heading">Complete your registration</h1>

  <p>
    To be eligible for the competition, please complete these steps:
  </p>
<% end %>

<ul class="steps">
  <%= render 'completion_steps/location_details', account: current_mentor %>
  <%= render 'completion_steps/consent_waiver', account: current_mentor %>
  <%= render 'completion_steps/background_check', profile: current_mentor %>
  <%= render 'completion_steps/complete_profile', account: current_mentor %>
  <%= render 'completion_steps/confirm_changed_email', profile: current_mentor %>
</ul>
