<div class="grid">
  <div class="grid__col-auto">
    <h3>Mentor training</h3>

    <p>
      <%= link_to "Open the Mentor Training E-book",
        "https://iridescentlearning.atavist.com/technovation-mentor-training",
        target: "_blank" %>
    </p>

    <h3>Curriculum</h3>

    <p>
      <%= link_to "Open the Technovation Curriculum",
        "https://www.technovationchallenge.org/curriculum-intro/registered",
        target: "_blank" %>
    </p>

    <h3>Project Workbook</h3>

    <p>
      <%= link_to "Open the Student Project Workbook",
        "https://bit.ly/2z7xwP9",
        target: "_blank" %>
    </p>

    <h3>Submission Guide</h3>

    <p>
      <%= link_to "Read the Submission Guidelines",
        "https://www.technovationchallenge.org/submission-guidelines/",
        target: "_blank" %>
    </p>

    <h3>Judging Rubric</h3>

    <p>
      <%= link_to "Read the Judging Rubric",
        "https://www.technovationchallenge.org/judging-rubric/",
        target: "_blank" %>
    </p>
  </div>
</div>
