<div class="mentor-resources">
  <%= link_to "Mentor Training E-book",
    "https://iridescentlearning.atavist.com/technovation-mentor-training",
    target: "_blank" %>

  <%= link_to "Technovation Curriculum",
    "https://www.technovationchallenge.org/curriculum-intro/registered",
    target: "_blank" %>

  <%= link_to "Project Workbook",
    "https://bit.ly/2z7xwP9",
    target: "_blank" %>

  <%= link_to "Submission Guidelines",
    "https://www.technovationchallenge.org/submission-guidelines/",
    target: "_blank" %>

  <%= link_to "Read the Judging Rubric",
    "https://www.technovationchallenge.org/judging-rubric/",
    target: "_blank" %>
</div>
