<div id="mentor-dashboard-menu" class="tabs">
  <%= render 'mentor/dashboards/menu' %>

  <div class="content">
    <% if current_mentor.mentor_invites.pending.any? %>
      <div class="tab-content" id="invitations">
        <%= render 'dashboards/invitations',
          invites: current_mentor.mentor_invites.pending %>
      </div>
    <% end %>

    <% if current_mentor.is_on_team? and SeasonToggles.display_scores? %>
      <div class="tab-content" id="scores">
        <%= render 'mentor/dashboards/onboarded/scores' %>
      </div>
    <% end %>

    <div class="tab-content grid" id="submissions">
      <%= render 'mentor/dashboards/onboarded/submissions' %>
    </div>

    <div class="tab-content grid" id="pitch-events">
      <%= render 'mentor/dashboards/onboarded/pitch_events' %>
    </div>
  </div>
</div>
