<div class="my-stuff">
  <h2 class="my-stuff__heading appy-heading-lg">
    My Stuff
  </h2>

  <ul class="my-stuff__list">
    <li class="my-stuff__item-wrapper">
      <div class="card">
        <div class="card__body">
          <div class="my-stuff__img">
            <%= image_tag account.profile_image_url, width: 100, height: 100 %>
          </div>

          <div class="my-stuff__name">
            <%= account.full_name %>
          </div>

          <div class="my-stuff__blurb">
            <%= account.email %>
          </div>

          <div class="card__actions-row--pos-fill">
            <%= link_to t("views.quick_links.my_account"),
              mentor_profile_path,
              class: "appy-button" %>
          </div>
        </div>
      </div>
    </li>

    <li class="my-stuff__item-wrapper">
      <div class="card">
        <div class="card__body">
          <% total_width = (30 * (account.teams.count - 1)) + 100 %>

          <div class="my-stuff__img-teams" style="width: <%= total_width %>px;">
            <% account.teams.current.shuffle.each.with_index do |team, i| %>
              <%= link_to mentor_team_path(team),
                class: "my-stuff__img my-stuff__img-team",
                style: "left: #{30 * i}px;" do %>
                <%= image_tag team.team_photo,
                  title: team.name,
                  width: 100,
                  height: 100 %>
              <% end %>

              <% if account.teams.count > 1 %>
                <div class="my-stuff__team-name">
              <% else %>
                <div class="my-stuff__team-name"
                     style="width: 100px; display: block; margin-left: -15px;">
              <% end %>
                <strong><%= team.name %></strong>
              </div>
            <% end %>
          </div>

          <div class="card__actions-row--pos-fill">
            <%= link_to t("views.application.dashboards.menu.my_teams"),
              mentor_teams_path,
              class: "appy-button" %>
          </div>
        </div>
      </div>
    </li>

    <li class="my-stuff__item-wrapper">
      <div class="card">
        <div class="card__body">
          <div class="my-stuff__name">
            <p>
              <%= fa_icon("user-plus 4x") %><br />
              <%= t("views.student.navigation.join_team") %>
            </p>
          </div>

          <div class="card__actions-row--pos-fill">
            <%= link_to t("controllers.team_searches.new.link"),
              new_mentor_team_search_path,
              class: "appy-button" %>
          </div>
        </div>
      </div>
    </li>

    <li class="my-stuff__item-wrapper">
      <div class="card">
        <div class="card__body">
          <div class="my-stuff__name">
            <p>
              <%= fa_icon("users 4x") %><br />
              <%= t("views.student.navigation.create_a_team") %>
            </p>
          </div>

          <div class="card__actions-row--pos-fill">
            <%= link_to t("controllers.teams.new.link"),
              new_mentor_team_path,
              class: "appy-button" %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
