<div class="my-stuff">
  <h2 class="my-stuff__heading appy-heading-lg">
    My Stuff
  </h2>

  <ul class="my-stuff__list">
    <li class="my-stuff__item-wrapper">
      <div class="card">
        <div class="card__body">
          <div class="my-stuff__img">
            <%= image_tag account.profile_image_url, width: 100, height: 100 %>
          </div>

          <div class="my-stuff__name">
            <%= account.full_name %>
          </div>

          <div class="my-stuff__blurb">
            <%= account.email %>
          </div>

          <div class="card__actions-row--pos-fill">
            <%= link_to t("views.quick_links.my_account"),
              mentor_profile_path,
              class: "appy-button"
            %>
          </div>
        </div>
      </div>
    </li>

    <li class="my-stuff__item-wrapper">
      <div class="card">
        <div class="card__body">
          <div class="my-stuff__img-teams">
            <% account.teams.current.shuffle.each.with_index do |team, i| %>
              <%= link_to mentor_team_path(team),
                class: "my-stuff__img my-stuff__img-team",
                style: "left: #{i * 8}%;" do %>
                <%= image_tag team.team_photo,
                  title: team.name,
                  width: 100,
                  height: 100 %>
              <% end %>

              <div class="my-stuff__team-name">
                <%= team.name %>
              </div>
            <% end %>
          </div>

          <div class="card__actions-row--pos-fill">
            <%= link_to t("views.application.dashboards.menu.my_teams"),
              mentor_teams_path,
              class: "appy-button" %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
