  <nav class="p-4">
    <ol role="list" class="space-y-4 mb-6 overflow-hidden">
      <%= render "application/templates/side_nav_item",
         name: "Onboarding",
         url: mentor_dashboard_path,
         is_active_item: al(mentor_dashboard_path).present?
      %>

      <ol class="ml-6">
        <%= render "application/templates/completion_step",
           name: "Background Check",
           url: mentor_background_check_path,
           is_complete: current_mentor.background_check_exempt_or_complete?,
           is_active_item: al(mentor_background_check_path).present?
        %>

        <%= render "application/templates/completion_step",
           name: "Mentor Training",
           url: mentor_training_path,
           is_complete: current_mentor.training_complete?,
           is_active_item:  al(mentor_training_path).present?
        %>

      <%= render "application/templates/completion_step",
         name: "Consent Waiver",
         url: mentor_consent_waiver_path,
         is_complete: current_mentor.consent_signed?,
         is_active_item: al(mentor_consent_waiver_path).present?
      %>

        <%= render "application/templates/completion_step",
           name: "Personal Summary",
           url: mentor_bio_path,
           is_complete: current_mentor.bio.present?,
           is_active_item: al(mentor_bio_path).present?
        %>
      </ol>

      <ol role="list" class="space-y-4 mb-6 overflow-hidden">
        <%= render "application/templates/side_nav_item",
                   name: "Build your Team",
                   url: mentor_team_building_path,
                   is_active_item: al(mentor_team_building_path).present?
        %>

        <ol class="ml-6 space-y-4">
          <%= render "application/templates/side_nav_item",
                     name: "Join or Create your Team",
                     url: mentor_team_building_path,
                     is_active_item: al(mentor_team_building_path).present?
          %>

          <%= render "application/templates/side_nav_item",
                     name: "Pending Team Invites & Join Requests",
                     url: mentor_pending_team_requests_path,
                     is_active_item: al(mentor_pending_team_requests_path).present?
          %>
        </ol>
      </ol>

      <%= render "application/templates/side_nav_item",
        name: "Learn from the Curriculum",
        url: mentor_curriculum_path,
        is_active_item: al(mentor_curriculum_path).present?
      %>

      <%= render "application/templates/side_nav_item",
        name: "Submit your Project",
        url: mentor_team_submissions_path,
        is_active_item: al(mentor_team_submissions_path).present?
      %>

      <%= render "application/templates/side_nav_item",
         name: "Find a Pitch Event",
         url: mentor_regional_pitch_events_finder_path,
         is_active_item: al(mentor_regional_pitch_events_finder_path).present?
      %>

      <%= render "application/templates/side_nav_item",
        name: "View Scores & Certificates",
        url: mentor_scores_path,
        is_active_item: al(mentor_scores_path).present?
      %>
    </ol>
  </nav>
