<div id="vue-enable-mentor-app" class="hidden">
  <%= content_tag :div,
    nil,
    id: "vue-data-registration",
    data: {
      chapter_ambassador: ChapterAmbassadorSerializer.new(chapter_ambassador).serialized_json,
      current_account: AccountSerializer.new(current_account).serialized_json,
      current_mentor: MentorProfileSerializer.new(current_mentor).serialized_json,
      current_teams: TeamSerializer.new(current_mentor.current_teams).serialized_json,
      consent_waiver: ConsentSerializer.new(current_mentor.consent_waiver).serialized_json,
      background_check: BackgroundCheckSerializer.new(current_mentor.background_check).serialized_json,
      settings: {
        canDisplayScores: SeasonToggles.display_scores?,
        backgroundCheckCountryCodes: ENV.fetch("BACKGROUND_CHECK_COUNTRY_CODES")
      }.to_json
    } %>
  <app
    :profile-icons="{
      profileIconStudent: '<%= asset_path('wizard-choose-profile__student-primary.svg') %>',
      profileIconMentor: '<%= asset_path('wizard-choose-profile__mentor-secondary--female.svg') %>',
      profileIconMentorMale: '<%= asset_path('wizard-choose-profile__mentor-secondary--male.svg') %>',
    }"
    :regional-pitch-events-enabled="<%= SeasonToggles.select_regional_pitch_event? %>"
    :scores-and-certificates-enabled="<%= SeasonToggles.display_scores? %>"
    <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
      survey-link-text="<%= SeasonToggles.survey_link(current_scope, "text") %>"
      survey-link="<%= SeasonToggles.survey_link(
        current_scope,
        "url",
        format_url: true,
        account: current_account
      ) %>"
    <% end %>
  >
    <%= render 'header' %>

    <% if not current_mentor.email_confirmed? %>
      <%= render 'completion_steps/confirm_changed_email',
        profile: current_mentor %>
    <% else %>
      <%= render 'app' %>
    <% end %>
  </app>
</div>

<%= render 'program_survey_modal' %>
