<div class="student-dashboard">
  <div class="flex-row">
    <div class="flex-col-md-6">
      <h1 class="appy-title">
        <%= t("views.application.mentor_dashboard") %>

        <small>
          <%= link_to fa_icon('refresh', text: "Switch to Judging"),
            judge_dashboard_path %>
        </small>
      </h1>
    </div>

    <div class="flex-col-md-6 align-right">
      <h1 class="appy-title">
        <span id="countdown"></span>

        <small>
          <%= render 'post_program_survey', type: :mentor %>
        </small>
      </h1>
    </div>
  </div>

  <% if current_mentor.full_access_enabled? %>
    <%= render 'mentor/dashboards/full_access' %>
  <% else %>
    <%= render 'mentor/dashboards/to_do' %>
  <% end %>
</div>
