<div class="grid">
  <div class="grid__col-sm-3 grid__col--bleed-y col--sticky-parent dashboard-sidebar">
    <div class="col--sticky-spacer">
      <div class="grid dashboard-notices">
        <div class="grid__col-sm-6 grid__col--bleed-y">
          <div class="grid__cell">
            <h1 class="page-heading">

              <%= t("views.application.mentor_dashboard") %>

              <% if SeasonToggles.signup_enabled?(:judge) %>
                <small>
                  <%= link_to web_icon('refresh', text: "Switch to Judging"),
                    judge_dashboard_path %>
                </small>
              <% end %>

              <% if current_mentor.is_an_ambassador? %>
                <small>
                  <%= link_to "Switch to RA mode",
                    regional_ambassador_dashboard_path,
                    data: { turbolinks: false } %>
                </small>
              <% end %>

            </h1>
          </div>
        </div>

        <div class="grid__col-sm-6 grid__col--bleed-y grid--align-end">
          <div class="grid__cell">
            <% if SeasonToggles.dashboard_text(:mentor).blank? %>
              <%= render 'program_survey' %>
            <% else %>
              <h1 class="page-heading">
                <%= SeasonToggles.dashboard_text(:mentor) %>

                <small>
                  <%= render 'program_survey' %>
                </small>
              </h1>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col--sticky">
        <%= image_tag current_mentor.profile_image_url, class: "grid__cell-img profile-image" %>

          <h3 class="grid__cell--padding-md reset"><%= current_mentor.full_name %></h3>

          <%= link_to "View your profile", mentor_profile_path %>


        <%= render "mentor/dashboards/info_sidebar" %>

        <%= render "dashboards/ra_intro" %>
      </div>
    </div>
  </div>

  <div class="grid__col-sm-auto grid__col--bleed-y col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <%= render 'mentor/dashboards/current_actions' %>
      </div>
    </div>
  </div>
</div>

<%= render 'program_survey_modal' %>