<h1 class="appy-title">
  <%= t("views.application.dashboard") %>
</h1>

<h2 class="appy-subtitle">
  Submission Deadline &ndash; Wednesday, April 26th
</h2>

<div class="dashboard flex-row">
  <div class="flex-col-sm-8 dashboard__main">
    <% if current_mentor.can_join_a_team? and current_mentor.is_on_team?  %>
      <%= render 'quick_links', account: current_mentor %>
    <% else %>
      <%= render 'mentor/dashboards/completion_steps' %>
    <% end %>
  </div>

  <div class="flex-col-sm-4 dashboard__sidebar">
    <div class="card">
      <div class="card__heading">
        <%= t("views.application.curriculum") %>
        <span class="card-heading__flair fa fa-graduation-cap"><!--Fontawesome--></span>
      </div>
      <div class="card__body">
        <% if current_mentor.full_access_enabled? %>
          <p>
            <%= link_to "Get Started on the Technovation Curriculum", "http://www.technovationchallenge.org/curriculum-intro/registered", target: "_blank" %>
          </p>

          <p>
            <%= link_to "Read the Technovation Challenge Primer", "http://www.technovationchallenge.org/curriculum/madewithcodeprimer", target: "_blank" %>
            <br />(if you came from Made With Code)
          </p>
        <% else %>
          <p>Please complete the tasks on the left to gain full access to Technovation.</p>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card__heading">
        <%= t("views.application.submission_deliverables") %>
        <%= fa_icon "file-text-o", class: "card-heading__flair" %>
      </div>

      <div class="card__body">
        <p>
          Make sure you have everything ready to submit your app to Technovation!<br>

          <%= link_to "Submission Deliverables &amp; Guidelines".html_safe,
            "http://www.technovationchallenge.org/submission-guidelines/",
            target: "_blank" %>
        </p>
      </div>
    </div>

    <% if current_mentor.honor_code_signed? %>
      <%= render 'honor_code_signed', account: current_mentor %>
    <% end %>

    <%= render 'team_invitations', invite_type: :mentor, account: current_mentor %>
  </div>
</div>
