<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= t("views.application.mentor_dashboard") %>

        <% if current_mentor.is_a_judge? %>
          <small>
            <%= link_to "Switch to Judge mode", judge_dashboard_path %>
          </small>
        <% end %>

        <% if current_mentor.is_an_ambassador? %>
          <small>
            <%= link_to "Switch to RA mode",
              regional_ambassador_dashboard_path,
              data: { turbolinks: false } %>
          </small>
        <% end %>
      </h1>
    </div>
  </div>

  <div class="grid__col-sm-6 grid__col--bleed-y grid--align-end vue-top-section-header">
    <top-section-header>
      <% if !SeasonToggles.dashboard_text(:mentor).blank? %>
        <template slot="title">
          <%= SeasonToggles.dashboard_text(:mentor) %>
        </template>
      <% end %>
      <template slot="links">
        <small><%= render 'program_survey' %></small>
      </template>
      <template slot="content">
        <h6>
          Mentor training
          <small>
            <%= link_to "Open the Mentor Training E-book",
              "https://iridescentlearning.atavist.com/technovation-mentor-training",
              target: "_blank" %>
          </small>
        </h6>
        <h6>
          Curriculum
          <small>
            <%= link_to "Open the Technovation Curriculum",
              "https://www.technovationchallenge.org/curriculum-intro/registered",
              target: "_blank" %>
          </small>
        </h6>
        <h6>
          Project Workbook
          <small>
            <%= link_to "Open the Student Project Workbook",
              "https://bit.ly/2z7xwP9",
              target: "_blank" %>
          </small>
        </h6>
        <h6>
          Submission Guide
          <small>
            <%= link_to "Read the Submission Guidelines",
              "https://www.technovationchallenge.org/submission-guidelines/",
              target: "_blank" %>
          </small>
        </h6>
        <h6>
          Judging Rubric
          <small>
            <%= link_to "Read the Judging Rubric",
              "https://www.technovationchallenge.org/judging-rubric/",
              target: "_blank" %>
          </small>
        </h6>
      </template>
    </top-section-header>
  </div>
</div>

<div class="grid">
  <div class="grid__col-sm-3 grid__col--bleed-y col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="panel">
          <%= image_tag current_mentor.profile_image_url, class: "grid__cell-img" %>

          <h3 class="reset"><%= current_mentor.full_name %></h3>

          <%= link_to "View your profile", mentor_profile_path %>
        </div>

        <%= render "dashboards/ra_intro" %>
      </div>
    </div>
  </div>

  <% if current_mentor.onboarded? && SeasonToggles.display_scores? %>
    <div
      class="
        grid__col-sm-9
        grid__col--bleed-y
        col--sticky-parent
      "
    >
      <div class="col--sticky-spacer">
        <div class="col--sticky">
          <% if current_mentor.current_teams.any? %>
            <%= render 'mentor/dashboards/onboarded/scores' %>
          <% else %>
            <%= render 'dashboards/no_certificates' %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div
      class="
        grid__col-md-6
        grid__col-sm-9
        grid__col--bleed-y
        col--sticky-parent
      "
    >
      <div class="col--sticky-spacer">
        <div class="col--sticky">
          <%= render 'mentor/dashboards/current_actions' %>
        </div>
      </div>
    </div>

    <div
      class="
        grid__col-md-3
        grid__col--bleed
        dashboard-sidebar
        col--sticky-parent
      "
    >
      <div class="col--sticky-spacer">
        <div class="col--sticky">
          <%= render "mentor/dashboards/info_sidebar" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'program_survey_modal' %>