<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= browser_title %></title>

    <%= render 'favicons' %>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="http://my.technovationchallenge.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= browser_title %>" />
    <meta property="og:description" content="<%= page_description %>" />

    <meta
      property="og:image"
      content="<%= asset_url "social-sharing-preview-image.png" %>"
    />

    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'hello_react' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
