<%
  url = verifying ?
    judge_team_submission_technical_checklist_verifications_path(@technical_checklist.team_submission) :
    student_technical_checklist_path
  method = verifying ? :post : :patch
%>

<h1 class="appy-title">
  Technical Checklist
</h1>

<div class="technical-checklist">
  <div class="technical-checklist__checklist">
    <div class="simple-card">
      <% unless verifying %>
        <div class="tc-intro">
          <p>
            You can earn up to <strong>10 points</strong> in this section.
            All of the coding concepts on this checklist are available to learn for free in the curriculum.
          </p>

          <p>
            Check off and explain the components you used in your app with a simple sentence. You only need to explain one instance where you used it.
          </p>

          <p>
            For example:<br>
            <strong>Strings</strong><br>
            "<em>We used a string to display the user’s name at the top of the screen.</em>"
          </p>
          <hr class="tc-intro__spacer" />
        </div>
      <% end %>

      <%= simple_form_for @technical_checklist,
        method: method,
        url: url,
        html: {
          class: "no-simple-form-style",
          id: "student-technical-checklist-form",
        } do |f| %>
        <%= render 'errors', record: f.object %>

        <div
          class="tc-form-group"
          data-group-name="technical-components"
          data-possible="4"
          data-points-each="1"
        >
          <h3>Technical Components - Four Points</h3>
          <h4>Use at least 4 (1 point each, 4 points max)</h4>

          <% unless verifying %>
            <p>
              <%= link_to "Learn in Code 2",
                "http://www.technovationchallenge.org/curriculum/code-2",
                target: :_blank %>
            </p>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_strings,
              disabled: verifying,
              label: "Strings",
              as: :boolean %>

            <%= f.input :used_strings_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used strings",
              disabled: verifying,
              label: "Explanation (Strings)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_strings_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_numbers,
              disabled: verifying,
              label: "Numbers",
              as: :boolean %>

            <%= f.input :used_numbers_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used numbers",
              disabled: verifying,
              label: "Explanation (Numbers)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_numbers_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_variables,
              disabled: verifying,
              label: "Variables",
              as: :boolean %>

            <%= f.input :used_variables_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used variables",
              disabled: verifying,
              label: "Explanation (Variables)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_variables_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_lists,
              disabled: verifying,
              label: "Lists or Arrays",
              as: :boolean %>

            <%= f.input :used_lists_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used lists",
              disabled: verifying,
              label: "Explanation (Lists or Arrays)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_lists_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <% unless verifying %>
            <p>
              <%= link_to "Learn in Code 3",
                "http://www.technovationchallenge.org/curriculum/code-3",
                target: :_blank %>
            </p>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_booleans,
              disabled: verifying,
              label: "Booleans",
              as: :boolean %>

            <%= f.input :used_booleans_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used booleans",
              disabled: verifying,
              label: "Explanation (Booleans)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_booleans_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_loops,
              disabled: verifying,
              label: "Loops",
              as: :boolean %>

            <%= f.input :used_loops_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used loops",
              disabled: verifying,
              label: "Explanation (Loops)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_loops_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_conditionals,
              disabled: verifying,
              label: "Conditional Statements",
              as: :boolean %>

            <%= f.input :used_conditionals_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used conditionals",
              disabled: verifying,
              label: "Explanation (Conditional Statements)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_conditionals_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>
        </div>

        <div
          class="tc-form-group"
          data-group-name="database"
          data-possible="1"
          data-points-each="1"
        >
          <h3>Databases and Connectivity - One Point</h3>
          <h4>Use at least 1 (1 point each, 1 point max)</h4>

          <% unless verifying %>
            <p>
              <%= link_to "Learn in Code 2",
                "http://www.technovationchallenge.org/curriculum/code-2",
                target: :_blank %>
            </p>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_local_db,
              disabled: verifying,
              label: "Local Database",
              as: :boolean %>

            <%= f.input :used_local_db_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used a local database",
              disabled: verifying,
              label: "Explanation (Local Database)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_local_db_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <% unless verifying %>
            <p>
              <%= link_to "Learn in Code 4",
                "http://www.technovationchallenge.org/curriculum/code-4",
                target: :_blank %>
            </p>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_external_db,
              disabled: verifying,
              label: "External Database or API",
              as: :boolean %>

            <%= f.input :used_external_db_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used an external database",
              disabled: verifying,
              label: "Explanation (External Database or API)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_external_db_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>
        </div>

        <div
          class="tc-form-group"
          data-group-name="mobile"
          data-possible="2"
          data-points-each="2"
        >
          <h3>Mobile Features - Two Points</h3>
          <h4>Use at least 1 (2 points each, 2 points max)</h4>

          <% unless verifying %>
            <p>
              <%= link_to "Learn in Code 4",
                "http://www.technovationchallenge.org/curriculum/code-4",
                target: :_blank %>
            </p>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_location_sensor,
              disabled: verifying,
              label: "Location Sensor",
              as: :boolean %>

            <%= f.input :used_location_sensor_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the location sensor",
              disabled: verifying,
              label: "Explanation (Location Sensor)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_location_sensor_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_camera,
              disabled: verifying,
              label: "Camera or Video",
              as: :boolean %>

            <%= f.input :used_camera_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the camera",
              disabled: verifying,
              label: "Explanation (Camera or Video)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_camera_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_accelerometer,
              disabled: verifying,
              label: "Accelerometer",
              as: :boolean %>

            <%= f.input :used_accelerometer_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the accelerometer",
              disabled: verifying,
              label: "Explanation (Accelerometer)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_accelerometer_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_sms_phone,
              disabled: verifying,
              label: "Text Messaging or Phone Call",
              as: :boolean %>

            <%= f.input :used_sms_phone_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used SMS or phone call features",
              disabled: verifying,
              label: "Explanation (Text Messaging or Phone Call)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_sms_phone_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_sound,
              disabled: verifying,
              label: "Sound or Speaker",
              as: :boolean %>

            <%= f.input :used_sound_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used sound",
              disabled: verifying,
              label: "Explanation (Sound or Speaker)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_sound_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_sharing,
              disabled: verifying,
              label: "Sharing",
              as: :boolean %>

            <%= f.input :used_sharing_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used sharing",
              disabled: verifying,
              label: "Explanation (Sharing)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_sharing_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_clock,
              disabled: verifying,
              label: "Clock",
              as: :boolean %>

            <%= f.input :used_clock_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the clock",
              disabled: verifying,
              label: "Explanation (Clock)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_clock_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__item">
            <%= f.input :used_canvas,
              disabled: verifying,
              label: "Canvas",
              as: :boolean %>

            <%= f.input :used_canvas_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the canvas",
              disabled: verifying,
              label: "Explanation (Canvas)",
              as: :text %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :used_canvas_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>
        </div>

        <div
          class="tc-form-group"
          data-group-name="process-pics"
          data-possible="3"
          data-points-each="1"
          data-all-required="true"
        >
          <h3>Pictures of your process - Three Points</h3>

          <% unless verifying %>
            <h4>Do all 3 for full points</h4>

            <p>
              <%= link_to "Learn in Code 5",
                "http://www.technovationchallenge.org/curriculum/code-5",
                target: :_blank %>
            </p>
          <% end %>

          <div class="tc-form-group__photo-item">
            <%= f.label :paper_prototype %>

            <% if f.object.paper_prototype.present? %>
              <%= image_tag(f.object.paper_prototype_url, width: 200) %>
            <% end %>

            <% unless verifying %>
              <%= f.file_field :paper_prototype %>
              <%= f.input :paper_prototype_cache,
                as: :hidden %>
            <% end %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item">
              <%= f.input :paper_prototype_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <div class="tc-form-group__photo-item">
            <%= f.label :event_flow_chart, "Flowchart or Pseudocode" %>

            <% unless verifying %>
              <p>
                <%= link_to "Learn in Code 6",
                  "http://www.technovationchallenge.org/curriculum/code-6",
                  target: :_blank %>
              </p>
            <% end %>

            <% if f.object.event_flow_chart.present? %>
              <%= image_tag(f.object.event_flow_chart_url, width: 200) %>
            <% end %>

            <% unless verifying %>
              <%= f.file_field :event_flow_chart %>
              <%= f.input :event_flow_chart_cache, as: :hidden %>
            <% end %>
          </div>

          <% if verifying %>
            <div class="tc-form-group__item tc-form-group__item--verify">
              <%= f.input :event_flow_chart_verified,
                label: "Verify the above is true",
                as: :boolean %>
            </div>
          <% end %>

          <% unless verifying %>
            <p data-count-needed="2" data-count-has="<%= f.object.team_submission.screenshots.count %>">
              At least <strong>two</strong> app screenshots.<br>
              Your team has uploaded
              <strong><%= pluralize f.object.team_submission.screenshots.count, "screenshot" %></strong>
            </p>
          <% end %>
        </div>

        <%= f.button :submit,
          (verifying ? "Verify checklist" : "Save checklist"),
          class: "appy-button technical-checklist__submit-button" %>
      <% end %>
    </div>
  </div>

  <div class="technical-checklist__progress">
    <div class="simple-card">
      <div class="indicator" data-name="technical-components">
        <h4>Technical Components</h4>
        <span class="total"></span>/<span class="possible"></span>
        points
        <%= fa_icon 'check' %>
      </div>

      <div class="indicator" data-name="database">
        <h4>Databases & Connectivity</h4>
        <span class="total"></span>/<span class="possible"></span>
        points
        <%= fa_icon 'check' %>
      </div>

      <div class="indicator" data-name="mobile">
        <h4>Mobile Features</h4>
        <span class="total"></span>/<span class="possible"></span>
        points
        <%= fa_icon 'check' %>
      </div>

      <div class="indicator" data-name="process-pics">
        <h4>Pictures of your process</h4>
        <span class="total"></span>/<span class="possible"></span>
        points
        <%= fa_icon 'check' %>
      </div>
    </div>
  </div>
</div>
