<h1 class="appy-title">
  Technical Checklist
</h1>

<div class="technical-checklist">
  <div class="technical-checklist__checklist">
    <div class="simple-card">
      <div class="tc-intro">
        <p>
          You can earn up to <strong>10 points</strong> in this section.
          All of the coding concepts on this checklist are available to learn for free in the curriculum.
        </p>

        <p>
          Check off and explain the components you used in your app with a simple sentence. You only need to explain one instance where you used it.
        </p>

        <p>
          For example:<br>
          <strong>Strings</strong><br>
          "<em>We used a string to display the user’s name at the top of the screen.</em>"
        </p>
        <hr class="tc-intro__spacer" />
      </div>

      <%= simple_form_for @technical_checklist,
        method: :patch,
        url: [current_account.type_name, :technical_checklist],
        html: {
          class: "no-simple-form-style",
          id: "student-technical-checklist-form",
        } do |f| %>
        <%= render 'errors', record: f.object %>

        <%= hidden_field_tag :team_id, current_team.id %>

        <div
          class="tc-form-group"
          data-group-name="technical-components"
          data-possible="4"
          data-points-each="1"
        >
          <h3>Technical Components - Four Points</h3>
          <h4>Use at least 4 (1 point each, 4 points max)</h4>

          <p>
            <%= link_to "Learn in Code 2",
              "http://www.technovationchallenge.org/curriculum/code-2",
              target: :_blank %>
          </p>

          <div class="tc-form-group__item">
            <%= f.input :used_strings,
              label: "Strings",
              as: :boolean %>

            <%= f.input :used_strings_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used strings",
              label: "Explanation (Strings)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_numbers,
              label: "Numbers",
              as: :boolean %>

            <%= f.input :used_numbers_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used numbers",
              label: "Explanation (Numbers)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_variables,
              label: "Variables",
              as: :boolean %>

            <%= f.input :used_variables_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used variables",
              label: "Explanation (Variables)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_lists,
              label: "Lists or Arrays",
              as: :boolean %>

            <%= f.input :used_lists_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used lists",
              label: "Explanation (Lists or Arrays)",
              as: :text %>
          </div>

          <p>
            <%= link_to "Learn in Code 3",
              "http://www.technovationchallenge.org/curriculum/code-3",
              target: :_blank %>
          </p>

          <div class="tc-form-group__item">
            <%= f.input :used_booleans,
              label: "Booleans",
              as: :boolean %>

            <%= f.input :used_booleans_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used booleans",
              label: "Explanation (Booleans)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_loops,
              label: "Loops",
              as: :boolean %>

            <%= f.input :used_loops_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used loops",
              label: "Explanation (Loops)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_conditionals,
              label: "Conditional Statements",
              as: :boolean %>

            <%= f.input :used_conditionals_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used conditionals",
              label: "Explanation (Conditional Statements)",
              as: :text %>
          </div>
        </div>

        <div
          class="tc-form-group"
          data-group-name="database"
          data-possible="1"
          data-points-each="1"
        >
          <h3>Databases and Connectivity - One Point</h3>
          <h4>Use at least 1 (1 point each, 1 point max)</h4>

          <p>
            <%= link_to "Learn in Code 2",
              "http://www.technovationchallenge.org/curriculum/code-2",
              target: :_blank %>
          </p>

          <div class="tc-form-group__item">
            <%= f.input :used_local_db,
              label: "Local Database",
              as: :boolean %>

            <%= f.input :used_local_db_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used a local database",
              label: "Explanation (Local Database)",
              as: :text %>
          </div>

          <p>
            <%= link_to "Learn in Code 4",
              "http://www.technovationchallenge.org/curriculum/code-4",
              target: :_blank %>
          </p>

          <div class="tc-form-group__item">
            <%= f.input :used_external_db,
              label: "External Database or API",
              as: :boolean %>

            <%= f.input :used_external_db_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used an external database",
              label: "Explanation (External Database or API)",
              as: :text %>
          </div>
        </div>

        <div
          class="tc-form-group"
          data-group-name="mobile"
          data-possible="2"
          data-points-each="2"
        >
          <h3>Mobile Features - Two Points</h3>
          <h4>Use at least 1 (2 points each, 2 points max)</h4>

          <p>
            <%= link_to "Learn in Code 4",
              "http://www.technovationchallenge.org/curriculum/code-4",
              target: :_blank %>
          </p>

          <div class="tc-form-group__item">
            <%= f.input :used_location_sensor,
              label: "Location Sensor",
              as: :boolean %>

            <%= f.input :used_location_sensor_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the location sensor",
              label: "Explanation (Location Sensor)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_camera,
              label: "Camera or Video",
              as: :boolean %>

            <%= f.input :used_camera_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the camera",
              label: "Explanation (Camera or Video)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_accelerometer,
              label: "Accelerometer",
              as: :boolean %>

            <%= f.input :used_accelerometer_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the accelerometer",
              label: "Explanation (Accelerometer)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_sms_phone,
              label: "Text Messaging or Phone Call",
              as: :boolean %>

            <%= f.input :used_sms_phone_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used SMS or phone call features",
              label: "Explanation (Text Messaging or Phone Call)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_sound,
              label: "Sound or Speaker",
              as: :boolean %>

            <%= f.input :used_sound_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used sound",
              label: "Explanation (Sound or Speaker)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_sharing,
              label: "Sharing",
              as: :boolean %>

            <%= f.input :used_sharing_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used sharing",
              label: "Explanation (Sharing)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_clock,
              label: "Clock",
              as: :boolean %>

            <%= f.input :used_clock_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the clock",
              label: "Explanation (Clock)",
              as: :text %>
          </div>

          <div class="tc-form-group__item">
            <%= f.input :used_canvas,
              label: "Canvas",
              as: :boolean %>

            <%= f.input :used_canvas_explanation,
              placeholder: "Use 1 or 2 sentences ONLY to explain how you used the canvas",
              label: "Explanation (Canvas)",
              as: :text %>
          </div>
        </div>

        <div
          class="tc-form-group"
          data-group-name="process-pics"
          data-possible="3"
          data-points-each="1"
          data-all-required="true"
        >
          <h3>Pictures of your process - Three Points</h3>

          <h4>Do all 3 for full points</h4>

          <p>
            <%= link_to "Learn in Code 5",
              "http://www.technovationchallenge.org/curriculum/code-5",
              target: :_blank %>
          </p>

          <div class="tc-form-group__photo-item">
            <%= f.label :paper_prototype %>

            <p>
              You <strong>only have to attach one</strong>,
              so choose your favorite example!
            </p>

            <% if f.object.paper_prototype.present? %>
              <%= image_tag(f.object.paper_prototype_url, width: 200) %>
            <% end %>

            <%= f.file_field :paper_prototype %>
            <%= f.input :paper_prototype_cache,
              as: :hidden %>
          </div>

          <div class="tc-form-group__photo-item">
            <%= f.label :event_flow_chart, "Flowchart or Pseudocode" %>

            <p>
              You <strong>only have to attach one</strong>,
              so choose your favorite example!
            </p>

            <p>
              <%= link_to "Learn in Code 6",
                "http://www.technovationchallenge.org/curriculum/code-6",
                target: :_blank %>
            </p>

            <% if f.object.event_flow_chart.present? %>
              <%= image_tag(f.object.event_flow_chart_url, width: 200) %>
            <% end %>

            <%= f.file_field :event_flow_chart %>
            <%= f.input :event_flow_chart_cache, as: :hidden %>
          </div>

          <p data-count-needed="2"
             data-count-has="<%= f.object.team_submission.screenshots.count %>">
            At least <strong>two</strong> app screenshots.<br>
            Your team has uploaded
            <strong>
              <%= pluralize f.object.team_submission.screenshots.count, "screenshot" %>
            </strong>
          </p>

          <p>
            <em>
              You can add/edit your screenshots on the bottom of the submission page.<br />
              Saving this checklist will take you back to that page.
            </em>
          </p>
        </div>

        <%= f.button :submit,
          "Save checklist",
          class: "appy-button technical-checklist__submit-button" %>
      <% end %>
    </div>
  </div>

  <div class="technical-checklist__progress">
    <div class="simple-card">
      <div class="indicator" data-name="technical-components">
        <h4>Technical Components</h4>
        <span class="total"></span>/<span class="possible"></span>
        points
        <%= fa_icon 'check' %>
      </div>

      <div class="indicator" data-name="database">
        <h4>Databases & Connectivity</h4>
        <span class="total"></span>/<span class="possible"></span>
        points
        <%= fa_icon 'check' %>
      </div>

      <div class="indicator" data-name="mobile">
        <h4>Mobile Features</h4>
        <span class="total"></span>/<span class="possible"></span>
        points
        <%= fa_icon 'check' %>
      </div>

      <div class="indicator" data-name="process-pics">
        <h4>Pictures of your process</h4>
        <span class="total"></span>/<span class="possible"></span>
        points
        <%= fa_icon 'check' %>
      </div>
    </div>
  </div>
</div>
