<% if can_generate_certificate?(:mentor, :appreciation) %>
  <div id="cert_appreciation" class="certs-sidebar">
    <h1>Thank you!</h1>

    <p>
      You completed the <%= Season.current.year %> Technovation program!
    </p>

    <p>
      Download your certificate as proof of your participation as a
      Technovation Mentor.
    </p>

    <% if current_mentor.certificates.appreciation.empty? %>
      <%= form_with url: mentor_certificates_path, local: true do |f| %>
        <%= f.hidden_field :type, value: :appreciation %>

        <p>First, we need to prepare your certificate for you.</p>

        <%= f.submit "Prepare my certificate" %>
      <% end %>
    <% else %>
      <%= link_to "Download my certificate",
        current_mentor.certificates.appreciation.current.file_url %>
    <% end %>
  </div>
<% end %>
