<% @current_teams.each do |team| %>
  <div class="panel mentor-scores">
    <% all_scores = team.submission.submission_scores.complete %>
    <% quarterfinals_scores = all_scores.quarterfinals %>
    <% semifinals_scores = all_scores.semifinals %>

    <%= image_tag team.team_photo_url, class: "team-photo" %>

    <h3><span>Team</span> <%= link_to team.name, mentor_team_path(team) %></h3>
    <h3>
      <span>Submission</span>
      <%= link_to team.submission.app_name,
        mentor_published_team_submission_path(team.submission)
      %>
    </h3>

    <% if all_scores.empty? %>
      <% if !team.submission.complete? || !team.submission.present? %>
        <h3>No Scores Available</h3>

        <p>
          Unfortunately, no scores are available for <%= team.name %>
          because the submission was incomplete. Give your team some
          feedback on how to improve for next year!
        </p>

        <% if team.submission.present? %>
          <p>
            <%= link_to "Open your submission page",
                project_path(team.submission),
                class: "button",
                target: "_blank" %>
          </p>
        <% end %>
      <% else %>
        <h3>Congratulations!</h3>

        <p>
          Congratulations on completing the <%= Season.current.year %>
          season of Technovation! Your team can use the feedback they
          received at their pitch event to help learn more and to
          participate in Technovation next year. Your team should be proud
          of their work and share it with friends and mentors!
        </p>

        <p>
          <%= link_to "Open your submission page",
              project_path(team.submission),
              class: "button",
              target: "_blank" %>
        </p>
      <% end %>
    <% elsif all_scores.any? %>
      <% if semifinals_scores.any? %>
        <%= render 'mentor/dashboards/onboarded/score_table',
            team: team,
            round: :semifinals,
            round_name: "semifinals",
            scores: semifinals_scores %>
      <% end %>

      <% if quarterfinals_scores.any? %>
        <%= render 'mentor/dashboards/onboarded/score_table',
            team: team,
            round: :quarterfinals,
            round_name: "quarterfinals",
            scores: quarterfinals_scores %>
      <% end %>
    <% end %>

    <div class="certificate-button">
      <% current_account.current_appreciation_certificates.for_team(team).each do |certificate| %>
        <% if !current_account.took_program_survey? %>
          <p id="post-survey-text">Before you can view your certificate, please complete the
            <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
              <%= link_to "post survey",
                  SeasonToggles.survey_link(
                    current_scope, "url",
                    format_url: true,
                    account: current_account
                  ),
                  target: "_blank"
              %>
            <% else %>
              post survey
            <% end %>
          </p>
        <% end %>
        <%= link_to "Open your certificate",
          certificate.file_url,
          target: "_blank",
          class: "button button--reward",
          disabled: !current_account.took_program_survey?
        %>

      <% end %>
    </div>
  </div>
<% end %>
