<% if submission.source_code_external_url.present? %>
  <%= form_with model: submission,
                url: send("#{current_scope}_team_submission_url", submission),
                local: true do |f| %>
    <p>
      <%= f.label :scratch_project_url %>
      <%= f.text_field :scratch_project_url %>
    </p>

    <div class="flex flex-row justify-end">
      <%= f.submit "Save", class: "tw-green-btn cursor-pointer mt-4" %>
    </div>

  <% end %>
<% else %>
  <p>Source code should be submitted depending on the language used:</p>
  <p>
    If you used a Scratch environment other than the scratch.mit.edu website, you will
    save your project to your computer, and then upload that file in this section.
    The file will have a .sb3 file extension name.
  </p>
  <br>
  <%= direct_upload_form_for source_code_uploader, html: { multipart: true, class: 'source-code-uploader' } do |f| %>
    <input type="hidden" name="utf8">
    <%= f.label :file, "Upload your technical work" %>
    <%= f.file_field :file, accept: ".sb3", class: 'source-code-uploader__file' %>

    <div class="flash flash--alert source-code-uploader__error hidden">
      Sorry, you tried to upload an invalid file type.
    </div>

    <%= f.submit "Upload", class: "button source-code-uploader__submit-button" %>
  <% end %>
<% end %>