<%= simple_form_for [:regional_ambassador, @pitch_event], html: { class: "no-simple-form-style" } do |f| %>
  <%= render 'errors', record: @pitch_event %>

  <%= f.input :division_id, collection: Division.all %>

  <%= f.input :starts_at,
    start_year: Time.current.year,
    end_year: Season.current.year,
    minute_step: 15,
    input_html: {
      class: "inline",
    },
    wrapper_html: {
      data: {
        starting_date_time: true,
        ending_date_time_id: "regional_pitch_event_ends_at_wrapper",
      },
    } %>

  <%= f.input :ends_at,
    start_year: Time.current.year,
    end_year: Season.current.year,
    minute_step: 15,
    input_html: {
      class: "inline",
    },
    wrapper_html: {
      id: "regional_pitch_event_ends_at_wrapper",
    } %>

  <%= f.input :city %>
  <%= f.input :venue_address %>
  <%= f.input :eventbrite_link %>

  <p>
    <%= f.button :submit, class: "appy-button" %> or
    <%= link_to 'cancel', :back %>
  </p>
<% end %>
