<%= simple_form_for [:regional_ambassador, @pitch_event], html: { class: "no-simple-form-style" } do |f| %>
  <%= render 'errors', record: @pitch_event %>

  <%= f.input :starts_at, input_html: { class: "inline" } %>
  <%= f.input :ends_at, input_html: { class: "inline" } %>

  <p>
    <%= f.button :submit, class: "appy-button" %> or
    <%= link_to 'cancel', :back %>
  </p>
<% end %>
