<%
  ambassador ||= false
  user ||= ambassador
%>

<div class="messages-list">
  <%= render 'regional_ambassador/regional_pitch_events/send_multi_messages',
    pitch_event: pitch_event,
    ambassador: ambassador %>

  <table class="ra-messages-list">
    <thead>
      <tr>
        <th>Recipient</th>
        <th>Subject</th>
        <th>Sent at</th>
        <% if ambassador %>
          <th>Review Unsent</th>
          <th>Delete Unsent</th>
          <th>New message</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if (pitch_event.messages + pitch_event.multi_messages).select(&:persisted?).any? %>
        <% (pitch_event.messages + pitch_event.multi_messages).select(&:persisted?).sort_by(&:created_at).reverse.each do |message| %>
          <tr>
            <td class="primary-col">
              <%= message.recipient_name  %>
            </td>

            <td class="primary-col">
              <%= link_to message.subject, send("#{user.type_name}_message_path", message) %>
            </td>

            <td>
              <% if message.sent? || message.delivered? %>
                <%= time_ago_in_words message.sent_at %> ago
              <% else %>
                unsent
              <% end %>
            </td>

            <% if ambassador %>
              <td>
                <% if message.unsent? %>
                  <%= link_to fa_icon('eye', text: 'review'), [:regional_ambassador, message] %>
                <% else %>
                  sent, cannot edit
                <% end %>
              </td>

              <td>
                <% if message.unsent? %>
                  <%= link_to fa_icon('times', text: 'delete'),
                    [:regional_ambassador, message],
                    data: {
                      method: :delete,
                      confirm: "You are DELETING UNSENT message: #{message.subject}!",
                    } %>
                <% else %>
                  sent, cannot delete
                <% end %>
              </td>

              <td>
                <% if message.is_a?(MultiMessage) %>
                  <%= link_to fa_icon('pencil-square-o', text: 'compose another'),
                    new_regional_ambassador_multi_message_path(
                      recipients: message.recipients,
                      regarding_id: message.regarding_id,
                      regarding_type: message.regarding_type,
                    ),
                    data: {
                      modal_trigger: "send-another-message-#{message.id}"
                    } %>

                  <div id="send-another-message-<%= message.id %>"
                       class="modalify modalify--fixed"
                       data-heading="Send a message to <%= message.recipient_name %>">
                    <%= render 'regional_ambassador/messages/new',
                      message: ambassador.multi_messages.build(
                        recipients: message.recipients,
                        regarding_id: message.regarding_id,
                        regarding_type: message.regarding_type,
                      ) %>
                <% else %>
                  <%= link_to fa_icon('pencil-square-o', text: 'compose another'),
                    new_regional_ambassador_message_path(
                      recipient_type: message.recipient_type,
                      recipient_id: message.recipient_id,
                      regarding_id: message.regarding_id,
                      regarding_type: message.regarding_type,
                    ),
                    data: {
                      modal_trigger: "send-another-message-#{message.id}"
                    } %>

                  <div id="send-another-message-<%= message.id %>"
                       class="modalify modalify--fixed"
                       data-heading="Send a message to <%= message.recipient_name %>">
                    <%= render 'regional_ambassador/messages/new',
                      message: ambassador.messages.build(
                        recipient_id: message.recipient_id,
                        recipient_type: message.recipient_type,
                        regarding_id: message.regarding_id,
                        regarding_type: message.regarding_type,
                      ) %>
                  </div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <% if ambassador %>
            <td colspan="6">
          <% else %>
            <td colspan="3">
          <% end %>
            No messages have been written or sent regarding this event
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
