<%
  ambassador ||= false
  user ||= ambassador
%>

<div id="ra-pitch-roster" class="tabs ra-pitch-event-participants-lists">
  <ul class="tab-menu">
    <li class="tab-link">
      <button
        role="button"
        class="tab-button"
        data-tab-id="event-details">
        Event Details
      </button>
    </li>

    <% if event.division_names.include?("senior") %>
      <li class="tab-link">
        <button
          role="button"
          class="tab-button"
          data-tab-id="tab-ra-pitch-senior-teams">
          Senior Teams (<%= event.teams.senior.count %>)
        </button>
      </li>
    <% end %>

    <% if event.division_names.include?("junior") %>
      <li class="tab-link">
        <button
          role="button"
          class="tab-button"
          data-tab-id="tab-ra-pitch-junior-teams">
          Junior Teams (<%= event.teams.junior.count %>)
        </button>
      </li>
    <% end %>

    <li class="tab-link">
      <button
        role="button"
        class="tab-button"
        data-tab-id="tab-ra-pitch-judges">
        Judges (<%= event.judges.count %>)
      </button>
    </li>

    <% if ambassador %>
      <li class="tab-link">
        <button
          role="button"
          class="tab-button"
          data-tab-id="tab-ra-pitch-messages">
          Messages (<%=
            ambassador.messages.select(&:persisted?).count +
              ambassador.multi_messages.select(&:persisted?).count
          %>)
        </button>
      </li>
    <% end %>
  </ul>

  <div class="content">
    <div class="tab-content flex-row" id="event-details">
      <div class="flex-col-md-6">
        <dl>
          <dt>Division:</dt>
          <dd><%= event.divisions.map(&:name).to_sentence %></dd>

          <dt>Starts:</dt>
          <dd>
            <%= event.starts_at.in_time_zone(event.timezone)
              .strftime("%A, %B %e, %H:%M") %>
          </dd>


          <dt>Ends:</dt>
          <dd>
            <%= event.ends_at.in_time_zone(event.timezone)
                .strftime("%A, %B %e, %H:%M") %>
          </dd>
        </dl>

        <p>
          <%= link_to 'Edit',
            [:edit, :regional_ambassador, event],
            class: "appy-button appy-button--sm" %>

          <%= link_to 'Back to all events',
            regional_ambassador_regional_pitch_events_path %>
        </p>
      </div>

      <div class="flex-col-md-6">
        <dl>
          <dt>City:</dt>
          <dd><%= event.city %></dd>

          <dt>Venue address:</dt>
          <dd><%= event.venue_address %></dd>

          <% unless event.eventbrite_link.blank? %>
            <dt>Eventbrite link:</dt>
            <dd>
              <%= link_to event.eventbrite_link,
                  event.eventbrite_link,
                  target: :_blank %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>

    <% if event.division_names.include?("senior") %>
      <div class="tab-content" id="tab-ra-pitch-senior-teams">
        <%= render 'regional_ambassador/regional_pitch_events/team_list',
          anchor: "tab-ra-pitch-senior-teams",
          user: user,
          ambassador: ambassador,
          pitch_event: event,
          division: :senior %>
      </div>
    <% end %>

    <% if event.division_names.include?("junior") %>
      <div class="tab-content" id="tab-ra-pitch-junior-teams">
        <%= render 'regional_ambassador/regional_pitch_events/team_list',
          anchor: "tab-ra-pitch-junior-teams",
          user: user,
          ambassador: ambassador,
          pitch_event: event,
          division: :junior %>
      </div>
    <% end %>

    <div class="tab-content" id="tab-ra-pitch-judges">
      <div class="participants-list">
        <%= render 'regional_ambassador/regional_pitch_events/judge_list',
          anchor: "tab-ra-pitch-judges",
          user: user,
          ambassador: ambassador,
          pitch_event: event %>
      </div>
    </div>

    <% if ambassador %>
      <div class="tab-content" id="tab-ra-pitch-messages">
        <div class="messages-list">
          <%= render 'regional_ambassador/regional_pitch_events/message_list',
            user: user,
            ambassador: ambassador,
            pitch_event: event %>
        </div>
      </div>
    <% end %>
  </div>
</div>
