<% if ambassador %>
  <table class="ra-messages-list">
    <tbody>
      <tr>
        <td colspan="2">
          <%= link_to fa_icon('flag', text: 'Message all teams'),
            new_regional_ambassador_multi_message_path(
              team: pitch_event.team_ids.join(","),
              regarding_id: pitch_event.id,
              regarding_type: "RegionalPitchEvent",
            ),
            data: {
              modal_trigger: "send-all-teams-message"
            } %>

          <div id="send-all-teams-message"
                class="modalify modalify--fixed"
                data-heading="Send a message to all teams">
            <%= render 'regional_ambassador/messages/new',
              message: ambassador.multi_messages.build(
                team: pitch_event.team_ids.join(","),
                regarding_id: pitch_event.id,
                regarding_type: "RegionalPitchEvent",
              ) %>
          </div>
        </td>

        <td colspan="2">
          <%= link_to fa_icon('gavel', text: 'Message all judges'),
            new_regional_ambassador_multi_message_path(
              recipients: {
                judge_profile: pitch_event.judge_ids,
              },
              regarding_id: pitch_event.id,
              regarding_type: "RegionalPitchEvent",
            ),
            data: {
              modal_trigger: "send-all-judges-message"
            } %>

          <div id="send-all-judges-message"
                class="modalify modalify--fixed"
                data-heading="Send a message to all judges">
            <%= render 'regional_ambassador/messages/new',
              message: ambassador.multi_messages.build(
                recipients: {
                  judge_profile: pitch_event.judge_ids,
                },
                regarding_id: pitch_event.id,
                regarding_type: "RegionalPitchEvent",
              ) %>
          </div>
        </td>

        <td colspan="2">
          <%= link_to fa_icon('users', text: 'Message all teams and judges'),
            new_regional_ambassador_multi_message_path(
              recipients: {
                judge_profile: pitch_event.judge_ids,
                team: pitch_event.team_ids,
              },
              regarding_id: pitch_event.id,
              regarding_type: "RegionalPitchEvent",
            ),
            data: {
              modal_trigger: "send-all-participants-message"
            } %>

          <div id="send-all-participants-message"
                class="modalify modalify--fixed"
                data-heading="Send a message to all teams and judges">
            <%= render 'regional_ambassador/messages/new',
              message: ambassador.multi_messages.build(
                recipients: {
                  judge_profile: pitch_event.judge_ids,
                  team: pitch_event.team_ids,
                },
                regarding_id: pitch_event.id,
                regarding_type: "RegionalPitchEvent",
              ) %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

