<% if pitch_event.divisions.include?(Division.public_send(division)) %>
  <div class="participants-list">
    <table class="ra-participants-list teams">
      <thead>
        <tr>
          <th>Team</th>
          <th>Submission</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="3" class="add-participant">
            <%= link_to fa_icon("plus", text: "Add a #{division.to_s.titleize} team to this event"),
              new_regional_ambassador_regional_pitch_event_participation_path(
                event_id: pitch_event.id,
                participant_type: "Team",
                division: division
              ),
              data: { modal_trigger: "participants-list-#{division}-teams" } %>

            <div id="participants-list-<%= division %>-teams"
                 class="modalify modalify--fixed"
                 data-heading="Select <%= division.to_s.titleize %> Teams">
              <%= render 'regional_ambassador/regional_pitch_event_participations/new',
                division: division,
                participant_type: "Team",
                event: pitch_event,
                participants: instance_variable_get("@#{division}_team_participants") %>
            </div>
          </td>
        </tr>

        <% if pitch_event.teams.public_send(division).any? %>
          <% pitch_event.teams.public_send(division).each do |team| %>
            <tr>
              <td>
                <%= link_to team.name, regional_ambassador_team_path(team) %>
              </td>

              <td>
                <% if team.submission.present? %>
                  <%= link_to team.submission.app_name,
                    app_path(team.submission),
                    target: :_blank %>
                <% else %>
                  <small class="has-danger">(submission not begun!)</small>
                <% end %>
              </td>

              <td>
                <%= link_to 'remove',
                  regional_ambassador_regional_pitch_event_participation_path(
                    pitch_event,
                    participant_id: team.id,
                    participant_type: "Team"
                  ),
                  data: {
                    method: :delete,
                    confirm: "You are REMOVING #{team.name} from this event!",
                  } %><% unless Rails.env.production? %> |

                <%= link_to 'send message',
                  new_regional_ambassador_message_path(
                    recipient_type: "Team",
                    recipient_id: team.id,
                    regarding_id: pitch_event.id,
                    regarding_type: "RegionalPitchEvent"
                  ) %><% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">
              No teams are assigned in this event's <%= division.to_s.titleize %> division
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
