<div class="flex-row">
  <div class="flex-col-md-8 wrapper__report-column">
    <div class="admin-results-table">
      <div class="admin-results-header-table">
        <div class="header">Name</div>
        <div class="header">Teams</div>
        <div class="header">Division</div>
        <div class="header">Date / Time</div>
        <div class="header">City</div>
        <div class="header">Actions</div>
      </div>

      <div class="admin-results-data-table">
        <% @pitch_events.each do |pitch_event| %>
          <div class="row">
            <div class="cell">
              <%= link_to pitch_event.name, regional_ambassador_regional_pitch_event_path(pitch_event) %>
            </div>

            <div class="cell">
              <%= pluralize(pitch_event.teams.count, "Team") %>
            </div>

            <div class="cell">
              <%= pitch_event.division_names %>
            </div>

            <div class="cell">
              <%= pitch_event.starts_at.in_time_zone(current_ambassador.timezone).strftime("%a, %b %e, %H:%M") %>
              &ndash;
              <%= pitch_event.ends_at.in_time_zone(current_ambassador.timezone).strftime("%H:%M %Z") %>
            </div>

            <div class="cell">
              <%= pitch_event.city %>
            </div>

            <div class="cell">
              <%= link_to 'View', [:regional_ambassador, pitch_event] %>&nbsp;|

              <%= link_to 'Edit', [:edit, :regional_ambassador, pitch_event] %>&nbsp;|

              <%= link_to 'Delete', [:regional_ambassador, pitch_event],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="wrapper__report-footer">
      <%= render 'regional_ambassador/regional_pitch_events/footer' %>
    </div>
  </div>
</div>
