<h1 class="appy-title">Regional Pitch Events</h1>

<div class="flex-row">
  <div class="flex-col-md-12 wrapper__report-column only-col">
    <div class="scrolly-table">
      <div class="scrolly-table__overflow-handler">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Division</th>
              <th>Date / Time</th>
              <th>City</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @pitch_events.each do |pitch_event| %>
              <tr>
                <td>
                  <%= pitch_event.name %>
                </td>

                <td>
                  <%= pitch_event.divisions.map(&:name).to_sentence %>
                </td>

                <td>
                  <%= pitch_event.starts_at.strftime("%a, %b %e, %H:%M %Z") %>
                </td>

                <td>
                  <%= pitch_event.city %>
                </td>

                <td>
                  <%= link_to 'View', [:regional_ambassador, pitch_event] %>&nbsp;|

                  <%= link_to 'Edit', [:edit, :regional_ambassador, pitch_event] %>&nbsp;|

                  <%= link_to 'Delete', [:regional_ambassador, pitch_event],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <p class="admin-actions">
      <%= link_to 'New Regional pitch event',
        new_regional_ambassador_regional_pitch_event_path,
        class: "appy-button" %>
    </p>
  </div>
</div>
