<% enabled ||= false %>

<div class="signup-scope panel">
  <% if enabled %>
    <%= link_to public_send("#{scope}_signup_path"),
      class: "signup-scope-img #{scope}" do %>
      <span><%= t("views.signups.new.scopes.#{scope}") %></span>
    <% end %>
  <% else %>
    <div class="signup-scope-img disabled <%= scope %>">
      <span>
        <%= t("views.signups.new.scopes.#{scope}") %>
      </span>
    </div>
  <% end %>

  <div class="signup-scope-desc">
    <% if enabled %>
      <p><%= t("views.signups.new.descriptions.#{scope}") %></p>

      <p>
        <%= link_to t("views.signups.new.signup_link.#{scope}"),
          public_send("#{scope}_signup_path"),
          class: "button" %>
      </p>
    <% else %>
      <p>
        <%= t(
          "views.signups.new.descriptions.disabled.#{scope}",
          year: Season.current.year
        ) %>
      </p>
    <% end %>
  </div>
</div>

