<%= f.input :first_name %>

<%= f.input :last_name %>

<%= f.input :date_of_birth, as: :date, prompt: true,
                                       start_year: f.object.oldest_birth_year,
                                       end_year: f.object.youngest_birth_year,
                                       input_html: { class: "account_dob" } %>

<h6 class="signup-section">
  <%= t("views.signups.new.section_headers.location_details") %>
</h6>

<%= f.input :city %>

<%= f.input :state_province, label: t('models.account.state_province') %>

<%= f.input :country, collection: CountryStateSelect.countries_collection,
                      input_html: { id: "account_country" } %>

