<%= f.fields_for :account do |a| %>
  <div class="signup-form-name-fields">
    <%= a.input :first_name %>
    <%= a.input :last_name %>
  </div>

  <%= a.input :date_of_birth,
    as: :date,
    prompt: true,
    start_year: f.object.youngest_birth_year,
    end_year: f.object.oldest_birth_year,
    input_html: { class: "chosen dob_field" } %>

  <%= a.filestack_field :profile_image,
                        "Select Profile Image",
                        id: "profile-image-filepicker",
                        pickerOptions: {
                          uploadConfig: {
                            intelligent: true,
                          },
                          storeTo: {
                            location: "s3",
                            container: ENV.fetch("AWS_BUCKET_NAME"),
                            path: "uploads/account/profile_image/#{current_account.id}/",
                            region: "us-east-1"
                          }
                        } %>
<% end %>