<% editing ||= false %>

<%= f.input :first_name %>

<%= f.input :last_name %>

<%= f.input :date_of_birth, as: :date, prompt: true,
                                       start_year: f.object.youngest_birth_year,
                                       end_year: f.object.oldest_birth_year,
                                       input_html: { class: "account_dob" } %>

<% if editing %>
  <h6 id="account-profile-image" class="signup-section">
    <%= t("views.signups.new.section_headers.profile_image") %>
  </h6>

  <%= image_tag f.object.profile_image, with: 233, height: 233 %>
  <%= f.input :profile_image %>
  <%= f.input :profile_image_cache, as: :hidden %>
<% end %>

<h6 class="signup-section">
  <%= t("views.signups.new.section_headers.location_details") %>
</h6>

<%= f.input :city %>

<%= f.input :state_province, label: t('models.account.state_province') %>

<%= f.input :country, collection: CountryStateSelect.countries_collection,
                      input_html: { id: "account_country" } %>

