<% url ||= url_for(signup) %>
<% title ||= t("views.signups.new.title.#{signup.type_name}") %>
<% editing ||= false %>
<% password_label = editing ? t("models.account.change_password") :
                              t("models.account.password") %>

<div class="signup-page">
  <h2>
    <%= title %>

    <% unless signup.persisted? %>
      <span class="accent">
        <%= t("views.signups.new.roles.#{signup.type_name}") %>
      </span>
    <% end %>
  </h2>

  <div class="signup-form">
    <%= simple_form_for(signup, url: url) do |f| %>
      <%= render 'errors', record: signup %>

      <p><%= t("views.signups.form.required_fields") %></p>

      <%= render 'signups/basic_profile_fields', f: f %>

      <h6 id="account-profile-details" class="signup-section">
        <%= t("views.signups.new.section_headers.profile_details") %>
      </h6>

      <%= render "signups/#{signup.type_name}_profile_fields", f: f %>

      <% if editing or signup.temporary_password? %>
         <h6 class="signup-section">
          <%= password_label %>
        </h6>

        <%= f.input :password, label: password_label %>

        <p class="appy-hint"><%= t("models.account.password_hint") %></p>
      <% end %>

      <% if f.object.persisted? %>
        <%= yield(f) %>
      <% else %>
        <%= f.input :referred_by,
                    collection: Account.referred_bies.keys,
                    label: t("models.account.referred_by"),
                    input_html: {
                      data: {
                        toggle: true,
                        toggle_value: "Other",
                        toggle_reveal: ".referred_by_other",
                      },
                    } %>

        <div class="referred_by_other">
          <%= f.input :referred_by_other,
                      label: false,
                      placeholder: t("models.account.referred_by_other") %>
        </div>

        <%= f.button :submit, t('views.signups.form.signup') %>
      <% end %>
    <% end %>
  </div>
</div>
