<%
  url ||= url_for(signup)
  title ||= t("views.signups.new.title.#{signup.type_name}")
  editing ||= false
  password_label = editing ? t("models.account.change_password") :
                              t("models.account.password")
  admin ||= false
%>

<div class="signup-page">
  <div class="signup-form simple-card">
    <h1 class="appy-title">
      <%= title %>
      <% unless signup.persisted? %>
        <%= t("views.signups.new.roles.#{signup.type_name}") %>
      <% end %>
    </h1>

    <%= simple_form_for(signup, url: url, html: { class: "no-simple-form-style" }) do |f| %>
      <%= render 'errors', record: signup %>

      <p><strong><%= t("views.signups.form.signing_up_email", email: signup.email) %></strong></p>

      <%= render 'signups/basic_profile_fields', f: f, admin: admin %>

      <%= render "signups/#{signup.type_name}_profile_fields", f: f %>

      <% if editing or signup.temporary_password? %>
         <h6 class="signup-section">
          <%= password_label %>
        </h6>

        <%= f.input :password, label: password_label %>

        <p class="appy-hint"><%= t("models.account.password_hint") %></p>
      <% end %>

      <% if f.object.persisted? %>
        <%= yield(f) %>
      <% else %>
        <%= f.input :referred_by,
                    collection: Account.referred_bies.keys,
                    label: t("models.account.referred_by"),
                    input_html: {
                      data: {
                        toggle: true,
                        toggle_value: "Other",
                        toggle_reveal: ".referred_by_other",
                      },
                      class: 'sign-up-referred-by'
                    } %>

        <div class="referred_by_other">
          <%= f.input :referred_by_other,
                      label: false,
                      placeholder: t("models.account.referred_by_other") %>
        </div>

        <%= f.button :submit, t('views.signups.form.create_account'), :class => 'appy-button' %>
      <% end %>
    <% end %>
  </div>
</div>
