<%
  url ||= url_for(signup)
  title ||= t("views.signups.new.title.#{signup.scope_name}")
  admin ||= false
%>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8 panel">
    <h1>
      <%= title %>
      <% unless signup.persisted? %>
        <%= t("views.signups.new.roles.#{signup.scope_name}") %>
      <% end %>
    </h1>

    <%= simple_form_for(signup, url: url) do |f| %>
      <%= render 'errors', record: signup %>

      <%= 
        render 'signups/form_content', 
        url: url, 
        title: title, 
        admin: admin,
        button_class: "button",
        signup: signup,
        f:f 
      %>
    <% end %>
  </div>
</div>