<% url ||= url_for(signup) %>
<% title ||= t('views.signups.new.title') %>
<% editing ||= false %>

<div class="signup-page">
  <h2>
    <%= title %>
    <% unless editing %>
      <span class="accent">
        <%= t("views.signups.new.roles.#{signup.type_name}") %>
      </span>
    <% end %>
  </h2>

  <div class="signup-form">
    <%= simple_form_for(signup, url: url) do |f| %>
      <% if signup.errors.any? %>
        <div class="notify-error">
          <%= t("views.application.form_errors") %>
        </div>
      <% end %>

      <p><%= t("views.signups.form.required_fields") %></p>

      <%= render 'signups/basic_profile_fields', f: f %>

      <h6 id="account-profile-details" class="signup-section">
        <%= t("views.signups.new.section_headers.profile_details") %>
      </h6>

      <%= render "signups/#{signup.type_name}_profile_fields", f: f %>

      <h6 class="signup-section">
        <%= t("views.signups.new.section_headers.account_details") %>
      </h6>

      <%= f.input :email, as: :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation,
                  label: t('views.signups.form.confirm_password') %>

      <% if editing %>
        <%= yield(f) %>
      <% else %>
        <%= f.input :referred_by,
                    collection: Account.referred_bies.keys,
                    label: t("models.account.referred_by"),
                    input_html: {
                      data: {
                        toggle: true,
                        toggle_value: "Other",
                        toggle_reveal: ".referred_by_other",
                      },
                    } %>

        <div class="referred_by_other">
          <%= f.input :referred_by_other,
                      label: false,
                      placeholder: t("models.account.referred_by_other") %>
        </div>

        <%= f.button :submit, t('views.signups.form.signup') %>
      <% end %>
    <% end %>
  </div>
</div>
