<%= f.fields_for :account do |a| %>
  <%= a.input :gender,
    label: t('models.account.gender'),
    collection: Account.genders.keys,
    input_html: { class: "margin--b-large" } %>
<% end %>

<%= f.input :company_name,
  label: "School or company name" %>

<%= f.input :job_title %>

<div class="mb-8">
  <h4 class="text-base"><%= t('views.judge.form.judge_types') %></h4>
  <%= f.association :judge_types, as: :check_boxes, label: false %>
</div>
