<div class="toggle-field judge-field">
  <h4><%= t('views.signups.form.choose_expertises') %></h4>

  <%= f.fields_for :judge_profile do |j| %>
    <%= j.collection_check_boxes :scoring_expertise_ids, @scoring_expertises, :id, :name do |b| %>
      <span class="inline-checkbox">
        <%= b.check_box %><%= b.label { b.text } %>
      </span>
    <% end %>

    <%= j.input :company_name %>
    <%= j.input :job_title %>
  <% end %>
</div>
