<%
 account_id ||= false
 team_id ||= false
 chapter_id ||= false
 club_id ||= false
%>

<div class="vue-enable-location-form">
  <location-form
    scope-name="<%= current_scope %>"
    :account-id="<%= account_id %>"
    :team-id="<%= team_id %>"
    :chapter-id="<%= chapter_id %>"
    :club-id="<%= club_id %>"
    :handle-confirm="goBack"
  >
  </location-form>
</div>