<%= f.fields_for :account do |a| %>
  <%= a.input :gender,
    label: t('models.account.gender'),
    collection: Account.genders.keys %>
<% end %>

<%= f.input :organization_company_name,
  as: :autocomplete,
  label: t("models.regional_ambassador_profile.organization_company_name"),
  input_html: {
    url: registration_top_companies_path,
    no_options_text: "Please begin typing to select your company from a list or add your own"
  } %>
<p class="hint">
  If your organization or company is not part of the options,
  type the name of your company then press "Enter" or "Tab"
</p>

<%= f.input :job_title,
  label: t("models.regional_ambassador_profile.job_title") %>

<%= f.input :ambassador_since_year,
  collection: [t("models.regional_ambassador_profile.ambassador_since_year_option_new")] +
                (2009..Time.current.year).to_a.reverse,
  label: t("models.regional_ambassador_profile.ambassador_since_year") %>

<%= f.input :bio, label: t("models.regional_ambassador_profile.bio.signup_label") %>
