<div data-controller="students--parental-consent-contact-toggle">
  <%= f.input :parent_guardian_name,
    label: t('models.student_profile.parent_guardian_name') %>

  <div data-students--parental-consent-contact-toggle-target="emailField">
    <%= f.input :parent_guardian_email,
      input_html: { placeholder: t("views.application.only_one_email") },
      label: t('models.student_profile.parent_guardian_email'),
      as: :email %>
  </div>

  <% if f.object.in_parental_consent_text_message_country? && f.object.parent_guardian_email.blank? %>
    <div>
      <%= check_box_tag :use_phone_number, 1,
        f.object.parent_guardian_phone_number.present?,
        data: {
          action: "change->students--parental-consent-contact-toggle#toggle",
          "students--parental_consent_contact_toggle_target": "checkbox" } %>

      <%= f.label :use_phone_number, "My parent or guardian doesn't have an email address" %>
    </div>

    <div data-students--parental-consent-contact-toggle-target="phoneNumberField" style="display: none;">
      <p class="mb-4">
        Parental consent forms are automatically sent to an email address.
        If you would like the forms to be sent via text message or WhatsApp,
        please add your parent or guardian's phone number here.
        <br>
        Note: Standard messaging rates apply. If SMS is not available,
        we will try to send the message via WhatsApp.
      </p>
      <%= f.input :parent_guardian_phone_number,
        label: t('models.student_profile.parent_guardian_phone_number') %>
    </div>
  <% end %>
</div>
