<div data-controller="students--parental-consent-contact-toggle">
  <%= f.input :parent_guardian_name,
    label: t('models.student_profile.parent_guardian_name') %>

  <div data-students--parental-consent-contact-toggle-target="emailField">
    <%= f.input :parent_guardian_email,
      input_html: { placeholder: t("views.application.only_one_email") },
      label: t('models.student_profile.parent_guardian_email'),
      as: :email %>
    <p class="hint">Changing this email will send and require a new consent.</p>
  </div>

  <% if f.object.in_parental_consent_text_message_country? && f.object.parent_guardian_email.blank? %>
    <div class="mb-4">
      <%= check_box_tag :use_phone_number, 1,
        f.object.parent_guardian_phone_number.present?,
        data: {
          action: "change->students--parental-consent-contact-toggle#toggle",
          "students--parental_consent_contact_toggle_target": "checkbox" } %>

      <%= f.label :use_phone_number, "My parent or guardian doesn't have an email address" %>
    </div>
    <div data-students--parental-consent-contact-toggle-target="phoneNumberField" style="display: none;" class="mb-6">
      <% if f.object.parental_consent_text_message_limit_reached? %>
        <p>
          Maximum text messages reached. Please upload a paper consent
          or contact <%= mail_to ENV.fetch("HELP_EMAIL") %> for help.
        </p>
      <% else %>
        <p class="mb-6">
          Parental consent forms are automatically sent to an email address. Add your parent
          or guardian's phone number here if you would like the forms to be sent via WhatsApp
          or text message. Please get permission from your parent or guardian to share their
          phone number before you add it here.
          <br>
          By providing the phone number, you agree that your parent or guardian may receive
          text messages from Technovation. We will automatically try to send the message via
          WhatsApp first and then use SMS if WhatsApp is not available. Note: Standard messaging rates apply.
        </p>
        <%= f.input :parent_guardian_phone_number,
          label: t('models.student_profile.parent_guardian_phone_number'),
          placeholder: "Enter the full phone number including country code (For example +1 for US, +234 for Nigeria)" %>
        <p class="hint">Changing this phone number will send and require a new consent.</p>
      <% end %>
    </div>
  <% end %>
</div>
