<div data-controller="students--parental-consent-contact-toggle">
  <%= f.input :parent_guardian_name,
    label: t('models.student_profile.parent_guardian_name') %>

  <div data-students--parental-consent-contact-toggle-target="emailField">
    <%= f.input :parent_guardian_email,
      input_html: { placeholder: t("views.application.only_one_email") },
      label: t('models.student_profile.parent_guardian_email'),
      as: :email %>
    <p class="hint">Changing this email will send and require a new consent.</p>
  </div>

  <% if f.object.in_parental_consent_text_message_country? && f.object.parent_guardian_email.blank? %>
    <div class="mb-4">
      <%= check_box_tag :use_phone_number, 1,
        f.object.parent_guardian_phone_number.present?,
        data: {
          action: "change->students--parental-consent-contact-toggle#toggle",
          "students--parental_consent_contact_toggle_target": "checkbox" } %>

      <%= f.label :use_phone_number, "My parent or guardian doesn't have an email address" %>
    </div>
    <div data-students--parental-consent-contact-toggle-target="phoneNumberField" style="display: none;" class="mb-6">
      <% if f.object.parental_consent_text_message_limit_reached? %>
        <p>
          Maximum text messages reached. Please upload a paper consent
          or contact <%= mail_to ENV.fetch("HELP_EMAIL") %> for help.
        </p>
      <% else %>
        <p class="mb-4">
          Parental consent forms are automatically sent to an email address.
          Have your parent or guardian enter their phone number below to receive program consent
          forms via WhatsApp or SMS instead. Your phone number is only shared with Twilio,
          the company that sends our SMS messages. We will never share or sell your phone
          number to any other third party service.
        </p>

        <div class="mb-6">
          <%= f.input :parent_guardian_text_message_opt_in,
            as: :boolean,
            label: "I agree to receive text messages via SMS or WhatsApp from Technovation
              at the phone number provided for the purpose of receiving program consent forms.
              Standard message and data rates may apply. Reply STOP to opt out at any time." %>
        </div>

        <%= f.input :parent_guardian_phone_country_code,
          collection: ConsentForms.parental_consent_phone_country_code_options,
          label: "Country Code",
          selected: (f.object.parent_guardian_phone_number.present? ? "+#{Phonelib.parse(f.object.parent_guardian_phone_number).country_code}" : nil),
          include_blank:"Select country code" %>

        <%= f.input :parent_guardian_phone_number,
          label: t('models.student_profile.parent_guardian_phone_number'), input_html: { value: f.object.parent_guardian_local_phone_number } %>
        <p class="hint">Changing this phone number will send and require a new consent.</p>
      <% end %>
    </div>
  <% end %>
</div>
