<% if signup_wizard_mode? %>
  <% provide(:title, "Sign up today") %>

  <div class="grid grid--justify-space-around margin--t-xxlarge">
    <div class="grid__col-12 grid__col-md-10">
      <%= render 'signup_wizard', previous_attempt: @signup_attempt %>
    </div>
  </div>
<% else %>
  <% provide(:title, "Select your participant type") %>

  <div class="grid grid--justify-center">
    <div class="grid__col-md-6">
      <h1><%= t("views.signups.new.select_account_type") %></h1>

      <p>
        <%= t("views.signups.new.already_signed_up") %>
        <%= link_to t("views.application.signin"), signin_path %>
        <%= t("views.application.instead") %>.
      </p>

      <%= render 'signups/account_type',
        scope: :student,
        enabled: signup_available?(:student) %>

      <%= render 'signups/account_type',
        scope: :mentor,
        enabled: signup_available?(:mentor) %>
    </div>
  </div>
<% end %>