<div class="signup_page">
  <h2>
    <%= t("views.signups.new.create_an") %>
    <span class="accent"><%= t("models.account.class_name").capitalize %></span>
  </h2>

  <%= render 'signups/account_type', role: :student %>
  <%= render 'signups/account_type', role: :mentor %>
  <%= render 'signups/account_type', role: :judge %>
  <%= render 'signups/account_type', role: :regional_ambassador %>
</div>
