<div class="signup_page">
  <p>Hey! I'm the sign up page! Find me in /app/views/signups/new.html.erb</p>
  <p>Please make me pretty... here are the sign up links:</p>
  <ul>
    <li><%= link_to 'Student sign up', student_signup_path %></li>
    <li><%= link_to 'Mentor sign up', mentor_signup_path %></li>
    <li><%= link_to 'Coach sign up', coach_signup_path %></li>
    <li><%= link_to 'Judge sign up', judge_signup_path %></li>
    <li><%= link_to 'Regional ambassador sign up COMING SOON', '#' %></li>
  </ul>
</div>
