<div class="signup-page">
  <h1 class="appy-title">
    <%= t("views.signups.new.select_account_type") %>
  </h1>

  <p>
    <%= t("views.signups.new.already_signed_up") %>
    <%= link_to t("views.application.signin"), signin_path %>
    <%= t("views.application.instead") %>.
  </p>
  <%= render 'signups/account_type', role: :student %>
  <%= render 'signups/account_type', role: :mentor %>
  <%= render 'signups/account_type', role: :judge, disabled: Rails.env.production? or Rails.env.staging? %>
  <%= render 'signups/account_type', role: :regional_ambassador %>
</div>
