<div class="signup-page">
  <h1 class="appy-title">
    <%= t("views.signups.new.select_account_type") %>
  </h1>

  <p>
    <%= t("views.signups.new.already_signed_up") %>
    <%= link_to t("views.application.signin"), signin_path %>
    <%= t("views.application.instead") %>.
  </p>

  <%= render 'signups/account_type', role: :judge %>
  <%= render 'signups/account_type', role: :student, disabled: true %>
  <%= render 'signups/account_type', role: :mentor, disabled: true %>
  <%= render 'signups/account_type', role: :regional_ambassador, disabled: true %>
</div>
