<h1><%= t('views.signups.new.title') %></h1>

<%= simple_form_for(@signup) do |f| %>
  <%= render 'registration_roles' %>

  <%= f.input :email, as: :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation,
              label: t('views.signups.form.confirm_password') %>

  <%= f.fields_for :basic_profile do |b| %>
    <%= b.input :first_name %>
    <%= b.input :last_name %>
    <%= b.input :city %>
    <%= b.input :region %>
    <%= b.input :country, as: :string %>
    <%= b.input :date_of_birth, as: :date, prompt: true,
                                            start_year: 1920,
                                            end_year: Date.today.year - 12 %>
  <% end %>

  <div class="toggle-field judge-field">
    <h4><%= t('views.signups.form.choose_expertises') %></h4>

    <%= f.fields_for :judge_profile do |j| %>
      <%= j.collection_check_boxes :expertise_ids, @expertises, :id, :name do |b| %>
        <span class="inline-checkbox">
          <%= b.check_box %><%= b.label { b.text } %>
        </span>
      <% end %>
    <% end %>
  </div>

  <div class="toggle-field student-field">
    <h4><%= t('views.signups.form.student_profile') %></h4>

    <%= f.fields_for :student_profile do |s| %>
      <%= s.input :date_of_birth, as: :date, prompt: true,
                                             start_year: Date.today.year - 19,
                                             end_year: Date.today.year - 12 %>
      <%= s.input :parent_guardian_email, label: t('models.student_profile.parent_guardian_email'), as: :email %>
    <% end %>
  </div>

  <%= f.button :submit, t('views.signups.form.signup') %>
<% end %>
