<div class="signup-page">
  <h2>
    <%= t("views.signups.new.create_an") %>
    <span class="accent"><%= t("models.account.class_name").capitalize %></span>
  </h2>

  <p class="center">
    <%= t("views.signups.new.already_signed_up") %>
    <%= link_to t("views.application.signin"), signin_path %>
    <%= t("views.application.instead") %>.
  </p>
  <%= render 'signups/account_type', role: :student %>
  <%= render 'signups/account_type', role: :mentor %>
  <%= render 'signups/account_type', role: :judge, disabled: Rails.env.production? or Rails.env.staging? %>
  <%= render 'signups/account_type', role: :regional_ambassador %>
</div>
