<div class="to-do">
  <% unless current_student.full_access_enabled? %>
    <h2 class="to-do__heading appy-heading-lg">
      <%= t("views.application.to_do") %>
    </h2>
  <% end %>

  <ul class="to-do__list">
    <%= render 'student/dashboards/completion_steps/parental_consent_form' %>
    <%= render 'completion_steps/location_details', account: current_student %>
    <%= render 'completion_steps/honor_code', account: current_student %>

    <% if current_student.full_access_enabled? %>
      <%= render 'student/dashboards/completion_steps/build_a_team' %>
    <% end %>
  </ul>
</div>
