<div class="completion-steps">
  <h2><%= t("views.application.complete_your_profile") %></h2>

  <ol class="completion-steps">
    <li class="completion-step status-<%= current_student.parental_consent.present? ? "complete" : "ready" %>">
      <span class="checkbox"><%= current_student.parental_consent.present? ? fa_icon("check 2x") : nil %></span>

      <%= t("views.profile_requirements.parental_consent.label") %>

      <% unless current_student.parental_consent.present? %>
        <ul>
          <li>
            <% if current_student.student_profile.parent_guardian_email.present? %>
              <span class="crossed-off">
                <%= t("views.profile_requirements.parental_consent.links.send_link.text") %>
                <%= t("views.profile_requirements.parental_consent.links.send_link.postfix") %>
              </span>

              <%= link_to t("views.profile_requirements.parental_consent.links.resend.text"),
                          student_parental_consent_notice_path, data: { method: :post } %>
            <% else %>
              <%= link_to t("views.profile_requirements.parental_consent.links.send_link.text"),
                          new_student_parental_consent_notice_path %>
              <%= t("views.profile_requirements.parental_consent.links.send_link.postfix") %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </li>

    <%= render 'completion_steps/create_join_team', account: current_student %>

    <li class="completion-step status-<%= current_student.team_has_mentor? ? "complete" : current_student.is_on_team? ? "ready" : "future" %>">
      <span class="checkbox"><%= current_student.team_has_mentor? ? fa_icon("check 2x") : nil %></span>

      <%= t("views.profile_requirements.find_mentor.label") %>

      <% if current_student.is_on_team? and not current_student.team_has_mentor? %>
        <ul>
          <li>
            <%= link_to t("views.profile_requirements.find_mentor.links.browse.text"), new_student_mentor_search_path %>
          </li>
        </ul>
      <% else %>
        <span><%= t("views.profile_requirements.links.complete_previous_steps") %></span>
      <% end %>
    </li>
  </ol>
</div>
