<ul class="steps">
  <%= render "completion_steps/invitations",
    hidden: current_student.is_on_team?,
    invites: current_student.team_member_invites.pending %>

  <%= render "student/dashboards/completion_steps/incoming_join_requests",
    requests: current_team.pending_requests %>

  <%= render "completion_steps/join_requests",
    hidden: current_student.is_on_team?,
    requests: current_student.join_requests.pending %>

  <%= render 'student/dashboards/completion_steps/parental_consent_form' %>

  <%= render 'completion_steps/location_details',
    profile: current_student %>

  <%= render 'completion_steps/confirm_changed_email',
    profile: current_student %>

  <%= render "completion_steps/create_team",
    hidden: SeasonToggles.team_building_disabled? ||
              current_student.is_on_team? %>

  <% if SeasonToggles.select_regional_pitch_event? %>
    <%= render "student/dashboards/completion_steps/regional_pitch_events" %>
  <% end %>

  <% if SeasonToggles.display_scores? %>
    <% if current_team.submission.complete? %>
      <%= render "student/dashboards/completion_steps/scores_and_certificates" %>
    <% elsif current_student.participated? %>
      <%= render "student/dashboards/completion_steps/participation_certificate" %>
    <% else %>
      <li class="completion-step">
        <div class="flags">
          <span class="flag">
            Post-season
          </span>
        </div>

        <h1 class="content-heading">Thank you for your participation</h1>

        <p>
          Unfortunately, no scores are available for your team because your
          submission was incomplete. We hope you will continue working on your
          app and join us again next season!
        </p>
      </li>
    <% end %>
  <% end %>
</ul>
