<div id="student-dashboard-menu" class="tabs">
  <%= render 'student/dashboards/menu' %>

  <div class="content">
    <% if current_student.team_member_invites.pending.any? %>
      <div class="tab-content" id="invitations">
        <%= render 'dashboards/invitations',
          invites: current_student.team_member_invites.pending %>
      </div>
    <% end %>

    <% if current_team.submission.present? and SeasonToggles.display_scores? %>
      <div class="tab-content" id="scores">
        <%= render 'student/dashboards/full_access_content/scores' %>
      </div>
    <% end %>

    <div class="tab-content grid" id="your-submission">
      <%= render 'student/dashboards/full_access_content/submission' %>
    </div>

    <div class="tab-content grid" id="live-events">
      <%= render 'student/dashboards/full_access_content/events' %>
    </div>
  </div>
</div>
