<div class="tabs">
  <%= render 'student/dashboards/menu' %>

  <div class="content">
    <div class="tab-content flex-row" id="your-submission">
      <%= render 'student/dashboards/full_access_content/submission' %>
    </div>

    <div class="tab-content flex-row" id="live-events">
      <%= render 'student/dashboards/full_access_content/events' %>
    </div>

    <div class="tab-content flex-row" id="your-team">
      <%= render 'student/dashboards/full_access_content/team' %>
    </div>

    <div class="tab-content flex-row" id="your-account">
      <%= render 'student/dashboards/full_access_content/account' %>
    </div>
  </div>
</div>
