<div class="grid__col-md-4 grid__col--bleed dashboard-sidebar">
  <div class="grid__col-md-12 grid__col-xs-4">
    <div class="grid__cell">
      <%= image_tag current_student.profile_image_url,
        class: "thumbnail grid__cell-img" %>

      <h3><%= current_student.full_name %></h3>

      <%= link_to "View your profile", student_profile_path %>
    </div>
  </div>

  <div class="grid__col-md-12 grid__col-xs-8">
    <% if certs ||= false %>
      <%= render 'student/dashboards/full_access_content/certs_sidebar' %>
    <% else %>
      <h3>Honor Code</h3>

      <%= render 'honor_code_signed', account: current_student %>
    <% end %>
  </div>

  <div class="grid__col-md-12 grid__col-xs-6">
    <h3>Curriculum</h3>

    <p>
      <%= link_to "Open the Technovation Curriculum",
        "https://www.technovationchallenge.org/curriculum-intro/registered",
        target: "_blank" %>
    </p>

    <h3>Google Made With Code</h3>

    <p>
      <%= link_to "Read the Technovation Primer",
        "https://www.technovationchallenge.org/curriculum/madewithcodeprimer",
        target: "_blank" %>
    </p>
  </div>

  <div class="grid__col-md-12 grid__col-xs-6">
    <h3>Submission Guide</h3>

    <p>
      <%= link_to "Read the Submission Guidelines",
        "https://www.technovationchallenge.org/submission-guidelines/",
        target: "_blank" %>
    </p>

    <h3>Judging Rubric</h3>

    <p>
      <%= link_to "Read the Judging Rubric",
        "https://www.technovationchallenge.org/judging-rubric/",
        target: "_blank" %>
    </p>
  </div>
</div>
