<h1><%= t("views.profile_requirements.create_join_team.heading") %></h1>

<p>
  <%= t("views.profile_requirements.create_join_team.labels.student") %>
</p>

<p>
  <%= link_to t("views.profile_requirements.create_join_team.links.pre_unit.text"),
    "http://www.technovationchallenge.org/curriculum/buildateam/",
    target: "_blank" %>
  <%= t("views.profile_requirements.create_join_team.links.pre_unit.postfix") %>
</p>

<p class="standalone-buttons">
  <%= link_to t("views.profile_requirements.create_join_team.links.join.text"),
    [:new, :student, :team_search],
    class: "appy-button" %>

  <%= link_to t("views.profile_requirements.create_join_team.links.create.text"),
    [:new, :student, :team],
    class: "appy-button" %>
</p>
