<nav class="profile">
  <ul>
    <li><%= link_to t("views.student.dashboard.menu.home"), student_dashboard_path %></li>
    <%= student_navigation.mentor_search_link %>
    <%= student_navigation.team_link %>
    <%= student_navigation.find_team_link %>
    <li><%= link_to t("views.application.dashboards.menu.my_account"), student_account_path %></li>
  </ul>
</nav>
