<h2><%= t("views.application.dashboards.title") %></h2>

<nav class="profile">
  <ul>
    <li><%= link_to t("views.student.dashboard.menu.home"), student_dashboard_path %></li>
    <li><%= student_navigation.mentor_search_link %></li>
    <li><%= student_navigation.team_link %></li>
    <li><%= link_to t("views.application.dashboards.menu.my_account"), account_path %></li>
  </ul>
</nav>
