<div class="grid">
  <div class="grid__col-sm-8 grid__col--bleed">
    <h3>Submission Progress</h3>

    <% unless SeasonToggles.team_submissions_editable? %>
      <small>(submissions are not editable at this time)</small>
    <% end %>
  </div>

  <div class="grid__col-sm-4 grid__col--bleed-y legend">
    <p>
      <%= web_icon("circle-o") %> = not finished<br />
      <%= web_icon("check-circle", class: "icon-green") %> = complete
    </p>
  </div>
</div>

<%# see app/helpers/student_helper for SUBPROG function %>

<div class="grid grid--bleed">
  <div class="grid__col-sm-6">
    <ul class="progress">
      <li class="<%= subprog(submission, "team-photo") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>Team photo</span>
      </li>

      <li class="<%= subprog(submission, "app-info") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>Name & description</span>
      </li>

      <li class="<%= subprog(submission, "sdg") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>Sustainable development goal</span>
      </li>

      <li class="<%= subprog(submission, "pitch") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>Pitch video</span>
      </li>

      <li class="<%= subprog(submission, "demo") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>Demo video</span>
      </li>
    </ul>

    <% if submission.team.division.senior? or
            submission.team.selected_regional_pitch_event.live? %>
      <div class="extra-progress-items">
        <% if submission.team.division.senior? %>
          <h5>Senior division teams</h5>

          <ul class="progress">
            <li class="<%= subprog(submission, "business-plan") %>">
              <%= web_icon('circle-o') %>
              <%= web_icon('check-circle') %>
              <span>Business plan</span>
            </li>
          </ul>
        <% end %>

        <% if submission.team.selected_regional_pitch_event.live? %>
          <h5>Teams attending live pitch events</h5>

          <ul class="progress">
            <li class="<%= subprog(submission, "pitch-presentation") %>">
              <%= web_icon('circle-o') %>
              <%= web_icon('check-circle') %>
              <span>Pitch presentation</span><br />
            </li>
          </ul>

          <p>
            <%= link_to 'Edit your pitch presentation',
              new_student_team_submission_pitch_presentation_path,
              class: "button small" %><br />
            <small>the presentation slides are due in time for your live event</small>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="grid__col-sm-6">
    <ul class="progress">
      <li class="<%= subprog(submission, "screenshots") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>At least 2 screenshots</span>
      </li>

      <li class="<%= subprog(submission, "source-code") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>Source code</span>
      </li>

      <li class="<%= subprog(submission, "development-platform") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>Development platform</span>
      </li>

      <li class="<%= subprog(submission, "technical-checklist") %>">
        <%= web_icon('check-circle') %>
        <%= web_icon('circle-o') %>
        <span>Technical checklist</span><br />
        <small>
          The checklist does not have to be complete,
          but is not editable after the deadline.
        </small>
      </li>
    </ul>
  </div>
</div>

<p>
  Check

  <%= link_to 'how the judges will see',
    app_path(submission),
    target: :_blank %>

  your submission, or

  <%= link_to 'share your submission',
    app_path(submission),
    target: :_blank %>

  with friends and family!
</p>

<% if SeasonToggles.team_submissions_editable? %>
  <p>
    <%= link_to "Edit your submission",
      student_team_submission_path(submission),
      class: "button" %>
  </p>
<% end %>
