<h1>Submission Progress</h1>

<p>
  Your team has begun submitting!<br />You can
  <%= link_to 'edit your submission', student_team_submission_path(submission) %>
  as much as you need to until the deadline!
</p>

<%# see app/helpers/student_helper for SUBPROG function %>

<div class="flex-row">
  <div class="flex-col-md-6">
    <ul class="progress-list">
      <li class="<%= subprog(submission, "team-photo") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>Team photo</span>
      </li>

      <li class="<%= subprog(submission, "app-info") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>Name & description</span>
      </li>

      <li class="<%= subprog(submission, "sdg") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>Sustainable development goal</span>
      </li>

      <li class="<%= subprog(submission, "pitch") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>Pitch video</span>
      </li>

      <li class="<%= subprog(submission, "demo") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>Demo video</span>
      </li>
    </ul>

    <% if submission.team.division.senior? or
            submission.team.selected_regional_pitch_event.live? %>
      <div class="extra-progress-items">
        <% if submission.team.division.senior? %>
          <h5>Senior division teams</h5>

          <ul class="progress-list">
            <li class="<%= subprog(submission, "business-plan") %>">
              <%= fa_icon('circle-o') %>
              <%= fa_icon('check-circle') %>
              <span>Business plan</span>
            </li>
          </ul>
        <% end %>

        <% if submission.team.selected_regional_pitch_event.live? %>
          <h5>Teams attending live pitch events</h5>

          <ul class="progress-list">
            <li class="<%= subprog(submission, "pitch-presentation") %>">
              <%= fa_icon('circle-o') %>
              <%= fa_icon('check-circle') %>
              <span>Pitch presentation</span>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex-col-md-6">
    <ul class="progress-list">
      <li class="<%= subprog(submission, "screenshots") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>At least 2 screenshots</span>
      </li>

      <li class="<%= subprog(submission, "technical-checklist") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>Technical checklist</span>
      </li>

      <li class="<%= subprog(submission, "source-code") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>Source code</span>
      </li>

      <li class="<%= subprog(submission, "development-platform") %>">
        <%= fa_icon('check-circle') %>
        <%= fa_icon('circle-o') %>
        <span>Development platform</span>
      </li>
    </ul>
  </div>
</div>

<div class="flex-row">
  <div class="flex-col-md-6">
    <p>
      <%= link_to 'See how your submission looks to judges',
        app_path(submission),
        target: :_blank %>
    </p>
  </div>

  <div class="flex-col-md-6">
    <p class="standalone-buttons align-right">
      <%= link_to 'Edit your submission',
        student_team_submission_path(submission),
        class: "appy-button" %>
    </p>
  </div>
</div>
