<% if not current_student.email_confirmed? %>
  <%= render 'completion_steps/confirm_changed_email',
    profile: current_student %>
<% else %>
  <div id="vue-enable-student-app" class="hidden">
    <%= content_tag :div,
      nil,
      id: "vue-data-registration",
      data: {
        current_account: AccountSerializer.new(current_account).serialized_json,
        chapter_ambassador: ChapterAmbassadorSerializer.new(chapter_ambassador).serialized_json,
        current_team: TeamSerializer.new(current_team).serialized_json,
        current_submission: SubmissionSerializer.new(current_submission).serialized_json,
        parental_consent: ConsentSerializer.new(current_student.parental_consent).serialized_json,
        settings: { canDisplayScores: SeasonToggles.display_scores? }.to_json
      } %>
    <app
      :profile-icons="{
        profileIconStudent: '<%= asset_path('wizard-choose-profile__student-primary.svg') %>',
        profileIconMentor: '<%= asset_path('wizard-choose-profile__mentor-secondary--female.svg') %>',
        profileIconMentorMale: '<%= asset_path('wizard-choose-profile__mentor-secondary--male.svg') %>',
      }"
      :regional-pitch-events-enabled="<%= SeasonToggles.select_regional_pitch_event? %>"
      :scores-and-certificates-enabled="<%= SeasonToggles.display_scores? %>"
      <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
        survey-link-text="<%= SeasonToggles.survey_link(current_scope, "text") %>"
        survey-link="<%= SeasonToggles.survey_link(
          current_scope,
          "url",
          format_url: true,
          account: current_account
        ) %>"
      <% end %>
    >
      <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
        <template slot="survey-links"><%= render 'program_survey' %></template>
      <% end %>

      <div slot="chapter-ambassador-intro">
        <%= render 'dashboards/chapter_ambassador_intro' %>
      </div>

      <div slot="change-email">
        <%= render 'profiles/email' %>
      </div>

      <div slot="change-password">
        <%= render 'profiles/password' %>
      </div>

      <div slot="parental-consent">
        <%= render 'student/profiles/parent' %>
      </div>

      <div slot="find-team">
        <%= render 'slots/student/join_team' %>
      </div>

      <div id="create-team" slot="create-team">
        <h1 class="margin--none padding--none">Create a team</h1>

        <% if current_student.is_on_team? %>
          You're on a team!
          Your team is called <%= current_team.name %>.
          You can
          <%= link_to 'manage your team',
            student_team_path(current_team) %>
        <% elsif SeasonToggles.team_building_disabled? %>
          Technovation Staff has turned off forming teams for everyone right now.
        <% else %>
          <%= render "completion_steps/create_team" %>
        <% end %>
      </div>

      <div slot="find-mentor">
        <h2 class="content-heading">Mentor Status</h2>

        <% if current_student.team.mentors.any? %>
          <p>Your team has <%= pluralize(current_student.team.mentors.count, "mentor") %>. You can have more than one.</p>
        <% else %>
          <p>Your team does not have a Mentor. 91% of teams that complete the program have at least one mentor on their team.</p>
        <% end %>

        <hr class="margin--t-xlarge">

        <h3>Find a Mentor to invite to your team</h3>
        <% if current_team.present? %>
          <%= link_to "Search for a Mentor to invite", new_student_mentor_search_path, class: "button" %>
        <% else %>
          <p>When you are on a team, you will be able to search for mentors.</p>
        <% end %>

        <h5 class="margin--t-xlarge">Your Mentor Invitations</h5>

        <% if current_team.pending_mentor_invite_ids.any? %>
          <p>
            Your team is awaiting a response from
            <%= pluralize(current_team.pending_mentor_invites.count, "mentor invite") %>
          </p>

          <%= link_to "Manage your invites", student_team_path(current_team, anchor: "!mentors"), class: "button" %>
        <% else %>
          <p>Your team has no open invites to a mentor</p>
        <% end %>

        <hr class="margin--t-xlarge">
        <h2>Decide if Mentors (who ask) can join your team</h2>

        <% if current_team.present? %>
          <%= form_with model: current_team,
            data: { submit_on_change: true },
            url: [current_scope, current_team, { format: :json }],
            method: :patch do |f| %>

            <p>
              <%= f.check_box :accepting_mentor_requests,
                id: :team_accepting_mentor_requests %>

              <%= f.label :accepting_mentor_requests,
                "Make your team appear in search results",
                for: :team_accepting_mentor_requests %>
            </p>
          <% end %>
        <% end %>

        <% if current_team.pending_mentor_join_request_ids.any? %>
          <h5 class="margin--t-xlarge margin--b-none">Respond to Mentor requests to join your team</h5>

          <p>
            You have
            <%= pluralize(current_team.pending_mentor_join_requests.count, "mentor request") %>
            waiting for you and your team members
          </p>

          <%= link_to "Manage your invites", student_team_path(current_team, anchor: "!mentors"), class: "button" %>
        <% end %>
      </div>

      <div slot="submission">
        <%= render "slots/student/submissions" %>
        <%= render "student/dashboards/view_submission_link",
          current_team: current_team,
          current_student: current_student %>

        <% if SeasonToggles.submissions_disabled? and
                SeasonToggles.quarterfinals_or_earlier? and
                  current_team.live_event? %>
          <div class="progress">
            <div class="progress__section">
              <h1>
                <%= link_to "Regional events",
                  [
                    current_scope,
                    current_submission,
                    :section,
                    section: :pitch_presentation,
                  ] %>
              </h1>

              <div class="margin--b-large">
                <ol class="list--reset">
                  <li>
                    <small>
                      Your team is attending a live, regional event:
                    </small>

                    <%= link_to submission_progress_web_icon(
                      current_submission,
                      :pitch_presentation,
                      "Edit presentation slides"
                    ),
                    [current_scope, current_submission, piece: :pitch_presentation] %>
                  </li>
                </ol>
              </div>

              <%= render 'regional_pitch_events/event',
                event: current_team.selected_regional_pitch_event %>

            </div>
          </div>
        <% end %>
      </div>

      <div slot="events">
        <%= render 'slots/student/events' %>
      </div>

      <div slot="scores">
        <%= render 'slots/student/scores' %>
      </div>
    </app>

    <%= render 'program_survey_modal' %>
  </div>
<% end %>
