<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col-xs-12 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        Student Dashboard

        <small>
          <%= render 'program_survey' %>
        </small>
      </h1>
    </div>
  </div>

  <div class="grid__col-sm-6 grid__col-xs-12 grid__col--bleed-y grid--align-end">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= SeasonToggles.dashboard_text(:student) %>

        <small>
          <%= link_to "Internet Safety Training",
            "http://iridescentlearning.org/internet-safety/",
            target: "_blank" %>
        </small>
      </h1>
    </div>
  </div>
</div>

<% if current_student.full_access_enabled? %>
  <%= render 'student/dashboards/full_access' %>
<% else %>
  <div class="grid grid--justify-space-around">
    <div class="grid__col-md-8">
      <div class="grid__cell">
        <%= image_tag current_student.profile_image_url,
          class: "thumbnail grid__cell-img" %>

        <h3 class="reset"><%= current_student.full_name %></h3>

        <%= link_to "View your profile", student_profile_path %>
      </div>

      <%= render 'student/dashboards/invitations',
        invites: current_student.team_member_invites.pending %>

      <%= render 'completion_steps' %>
    </div>
  </div>
<% end %>

<%= render 'program_survey_modal' %>
