<h1 class="appy-title dashboard__heading">
  <%= t("views.application.dashboard") %>
</h1>

<div class="flex-row dashboard">

  <div class="flex-col-sm-8 dashboard__main">
    <% if current_student.parental_consent.present? and current_student.is_on_team? and current_student.team_has_mentor? %>
      <%= render 'quick_links', account: current_student %>
    <% else %>
      <%= render 'completion_steps' %>
    <% end %>

    <div class="resources">
      <h2 class="resources__heading appy-heading-lg">
        <%= t("views.application.resources") %>
      </h2>

      <ul class="resources__list">
        <li class="resources__item-wrapper full-width">
          <div class="card">
            <div class="card__heading">
              Internet Safety
              <%= fa_icon("lock", class: "card-heading__flair") %>
            </div>

            <div class="card__body">
              <p>
                Please take some time right now to learn about internet safety and digital literacy. We want you to be safe and well-informed as you participate in online programs!
              </p>

              <p>
                <%= link_to "Take the Internet Safety Training", "http://iridescentlearning.org/internet-safety/", target: "_blank" %>
              </p>
            </div>
          </div>
        </li>

        <% if current_student.parental_consent.present? %>
          <li class="resources__item-wrapper">
            <div class="card">
              <div class="card__heading">
                <%= t("views.application.curriculum") %>
                <span class="card-heading__flair fa fa-graduation-cap"><!--Fontawesome--></span>
              </div>
              <div class="card__body">
                <p>
                <%= link_to "Get Started on the Technovation Curriculum", "http://www.technovationchallenge.org/curriculum-intro/registered", target: "_blank" %>
                </p>

                <p>
                <%= link_to "Read the Technovation Challenge Primer", "http://www.technovationchallenge.org/curriculum/madewithcodeprimer", target: "_blank" %>
                (if you came from Made With Code)
                </p>

              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="flex-col-sm-4 dashboard__sidebar">
    <%= render 'team_invitations', invite_type: :team_member, account: current_student %>
  </div>
</div>
