<div class="student-dashboard">
  <div class="flex-row">
    <div class="flex-col-md-6">
      <h1 class="appy-title">
        <%= t("views.application.student_dashboard") %>
        <small>
          <%= render 'program_survey', type: :student %>
        </small>
      </h1>
    </div>

<%= render 'post_program_survey_modal', type: :student %>

    <div class="flex-col-md-6 align-right">
      <h1 class="appy-title">
        Finalists are announced!

        <small>
          <%= link_to "Internet Safety Training",
            "http://iridescentlearning.org/internet-safety/",
            target: "_blank" %>
        </small>
      </h1>
    </div>
  </div>

  <% if current_student.full_access_enabled? %>
    <%= render 'student/dashboards/full_access' %>
  <% else %>
    <%= render 'student/dashboards/to_do' %>
  <% end %>
</div>
