<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        Student Dashboard

        <small>
          <%= render 'program_survey' %>
        </small>
      </h1>
    </div>
  </div>

  <div class="grid__col-sm-6 grid__col--bleed-y grid--align-end">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= SeasonToggles.dashboard_text(:student) %>

        <small>
          <%= link_to "Internet Safety Training",
            "http://iridescentlearning.org/internet-safety/",
            target: "_blank" %>
        </small>
      </h1>
    </div>
  </div>
</div>

<div id="vue-enable-student-app">
  <%= content_tag :div,
    nil,
    id: "vue-data-registration",
    data: {
      current_account: AccountSerializer.new(current_account).serialized_json,
      previous_attempt: AccountSerializer.new(current_account).serialized_json,
      profile_icon_student: asset_path('wizard-choose-profile__student-primary.svg'),
      profile_icon_mentor: asset_path('wizard-choose-profile__mentor-secondary--female.svg'),
      profile_icon_mentor_male: asset_path('wizard-choose-profile__mentor-secondary--male.svg'),
    } %>
  <app>
    <div slot="parental-consent">
      <%= render 'student/dashboards/completion_steps/parental_consent_form' %>
    </div>

    <div slot="find-team">
      <%= render "completion_steps/invitations",
        hidden: current_student.is_on_team?,
        invites: current_student.team_member_invites.pending %>

      <%= render "student/dashboards/completion_steps/incoming_join_requests",
        requests: current_team.pending_requests %>

      <%= render "completion_steps/join_requests",
        hidden: current_student.is_on_team?,
        requests: current_student.join_requests.pending %>
    </div>

    <div slot="create-team">
      <%= render "completion_steps/create_team",
        hidden: SeasonToggles.team_building_disabled? ||
                  current_student.is_on_team? %>
    </div>
  </app>
</div>

<%= render 'program_survey_modal' %>