<% if not current_student.email_confirmed? %>
  <%= render 'completion_steps/confirm_changed_email',
    profile: current_student %>
<% else %>
  <div id="vue-enable-student-app" class="hidden">
    <%= content_tag :div,
      nil,
      id: "vue-data-registration",
      data: {
        current_account: AccountSerializer.new(current_account).serialized_json,
        chapter_ambassador: ChapterAmbassadorSerializer.new(chapter_ambassador).serialized_json,
        current_team: TeamSerializer.new(current_team).serialized_json,
        current_submission: SubmissionSerializer.new(current_submission).serialized_json,
        parental_consent: ConsentSerializer.new(current_student.parental_consent).serialized_json,
        settings: { canDisplayScores: SeasonToggles.display_scores? }.to_json
      } %>
    <app
      :profile-icons="{
        profileIconStudent: '<%= asset_path('wizard-choose-profile__student-primary.svg') %>',
        profileIconMentor: '<%= asset_path('wizard-choose-profile__mentor-secondary--female.svg') %>',
        profileIconMentorMale: '<%= asset_path('wizard-choose-profile__mentor-secondary--male.svg') %>',
      }"
      :regional-pitch-events-enabled="<%= SeasonToggles.select_regional_pitch_event? %>"
      :scores-and-certificates-enabled="<%= SeasonToggles.display_scores? %>"
      <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
        survey-link-text="<%= SeasonToggles.survey_link(current_scope, "text") %>"
        survey-link="<%= SeasonToggles.survey_link(
          current_scope,
          "url",
          format_url: true,
          account: current_account
        ) %>"
      <% end %>
    >
      <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
        <template slot="survey-links"><%= render 'program_survey' %></template>
      <% end %>

      <div slot="chapter-ambassador-intro">
        <%= render 'dashboards/chapter_ambassador_intro' %>
      </div>

      <div slot="change-email">
        <%= render 'profiles/email' %>
      </div>

      <div slot="change-password">
        <%= render 'profiles/password' %>
      </div>

      <div slot="parental-consent">
        <%= render 'student/profiles/rebrand/parent' %>
      </div>

      <div slot="find-team">
        <%= render 'slots/student/rebrand/join_team' %>
      </div>

      <div id="create-team" slot="create-team">
        <%= render 'student/dashboards/rebrand/create_team' %>
      </div>

      <div slot="find-mentor">
        <%= render 'student/dashboards/rebrand/find_mentor' %>
      </div>

      <div slot="submission">
        <%= render "slots/student/submissions" %>
        <%= render "student/dashboards/view_submission_link",
          current_team: current_team,
          current_student: current_student %>

        <% if SeasonToggles.submissions_disabled? and
                SeasonToggles.quarterfinals_or_earlier? and
                  current_team.live_event? %>
          <div class="progress">
            <div class="progress__section">
              <h1>
                <%= link_to "Regional events",
                  send(
                    "#{current_scope}_team_submission_section_path",
                    current_submission,
                    section: :pitch_presentation
                  )
                %>
              </h1>

              <div class="margin--b-large">
                <ol class="list--reset">
                  <li>
                    <small>
                      Your team is attending a live, regional event:
                    </small>

                    <%= link_to submission_progress_web_icon(
                      current_submission,
                      :pitch_presentation,
                      "Edit presentation slides"
                    ),
                    send(
                      "#{current_scope}_team_submission_section_path",
                      current_submission,
                      section: :pitch_presentation
                    ) %>
                  </li>
                </ol>
              </div>

              <%= render 'regional_pitch_events/event',
                event: current_team.selected_regional_pitch_event %>

            </div>
          </div>
        <% end %>
      </div>

      <div slot="events">
        <%= render 'slots/student/rebrand/events' %>
      </div>

      <div slot="scores">
        <%= render 'slots/student/rebrand/scores' %>
      </div>
    </app>

    <%= render 'program_survey_modal' %>
  </div>
<% end %>
