<ul class="completion-steps">
  <% CompletionSteps.new(current_student).each do |step| %>
    <li class="status-<%= step.completion_status %>">
      <span class="checkbox"><%= step.checkmark %></span>
      <%= step.label %>

      <% if step.links.any? %>
        <ul>
          <% step.links.each do |link| %>
            <li>
              <%= link.prefix %>
              <%= link_to link.text, link.url, link.options %>
              <%= link.postfix %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
