<% if not current_student.email_confirmed? %>
  <%= render 'completion_steps/confirm_changed_email',
    profile: current_student %>
<% else %>
  <div id="vue-enable-student-app" class="hidden">
    <%= content_tag :div,
      nil,
      id: "vue-data-registration",
      data: {
        current_account: AccountSerializer.new(current_account).serialized_json,
        regional_ambassador: RegionalAmbassadorSerializer.new(regional_ambassador).serialized_json,
        current_team: TeamSerializer.new(current_team).serialized_json,
        current_submission: SubmissionSerializer.new(current_submission).serialized_json,
        parental_consent: ConsentSerializer.new(current_student.parental_consent).serialized_json,
      } %>
    <app
      :profile-icons="{
        profileIconStudent: '<%= asset_path('wizard-choose-profile__student-primary.svg') %>',
        profileIconMentor: '<%= asset_path('wizard-choose-profile__mentor-secondary--female.svg') %>',
        profileIconMentorMale: '<%= asset_path('wizard-choose-profile__mentor-secondary--male.svg') %>',
      }"
      :regional-pitch-events-enabled="<%= SeasonToggles.select_regional_pitch_event? %>"
      :scores-and-certificates-enabled="<%= SeasonToggles.display_scores? %>"
      <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
        survey-link-text="<%= SeasonToggles.survey_link(current_scope, "text") %>"
        survey-link="<%= SeasonToggles.survey_link(
          current_scope,
          "url",
          format_url: true,
          account: current_account
        ) %>"
      <% end %>
    >
      <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
        <template slot="survey-links"><%= render 'program_survey' %></template>
      <% end %>

      <div slot="ra-intro">
        <%= render 'dashboards/ra_intro' %>
      </div>

      <div slot="change-email">
        <%= render 'profiles/email' %>
      </div>

      <div slot="change-password">
        <%= render 'profiles/password' %>
      </div>

      <div slot="parental-consent">
        <%= render 'student/profiles/parent' %>
      </div>

      <div slot="find-team">
        <%= render 'slots/student/join_team' %>
      </div>

      <div id="create-team" slot="create-team">
        <h1 class="margin--none padding--none">Create a team</h1>

        <% if current_student.is_on_team? %>
          You're on a team!
          Your team is called <%= current_team.name %>.
          You can
          <%= link_to 'manage your team',
            student_team_path(current_team) %>
        <% elsif SeasonToggles.team_building_disabled? %>
          Technovation Staff has turned off forming teams for everyone right now.
        <% else %>
          <%= render "completion_steps/create_team" %>
        <% end %>
      </div>

      <div slot="find-mentor">
        <% if current_team.pending_mentor_join_request_ids.any? or
            current_team.pending_mentor_invite_ids.any? %>
          <%= render "student/dashboards/completion_steps/incoming_join_requests",
            requests: current_team.pending_mentor_join_requests %>

          <%= render "student/dashboards/completion_steps/outgoing_team_invites",
            invites: current_team.pending_mentor_invites %>
        <% elsif current_student.team.mentors.any? %>
          Your team has a mentor! You can have more than one.
          <%= link_to 'Manage your mentors',
            student_team_path(current_team, anchor: '!mentors') %>
        <% else %>
          <%= render "student/dashboards/completion_steps/find_a_mentor" %>
        <% end %>
      </div>

      <div slot="submission">
        <%= render 'slots/student/submissions' %>

        <% if SeasonToggles.submissions_disabled? and
                SeasonToggles.quarterfinals_or_earlier? and
                  current_team.live_event? %>
          <div class="progress">
            <div class="progress__section">
              <h1>
                <%= link_to "Regional events",
                  [
                    current_scope,
                    current_submission,
                    :section,
                    section: :pitch_presentation,
                  ] %>
              </h1>

              <div class="margin--b-large">
                <ol class="list--reset">
                  <li>
                    <small>
                      Your team is attending a live, regional event:
                    </small>

                    <%= link_to submission_progress_web_icon(
                      current_submission,
                      :pitch_presentation,
                      "Edit presentation slides"
                    ),
                    [current_scope, current_submission, piece: :pitch_presentation] %>
                  </li>
                </ol>
              </div>

              <%= render 'regional_pitch_events/event',
                event: current_team.selected_regional_pitch_event %>

            </div>
          </div>
        <% end %>
      </div>

      <div slot="events">
        <%= render 'slots/student/events' %>
      </div>

      <div slot="scores">
        <%= render 'slots/student/scores' %>
      </div>
    </app>

    <%= render 'program_survey_modal' %>
  </div>
<% end %>