<% if not current_student.email_confirmed? %>
  <%= render "completion_steps/rebrand/confirm_changed_email", profile: current_student %>
<% else %>
  <div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
    <%= render "student/dashboards/side_nav" %>

    <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Dashboard" } do %>
      <p>
        Welcome to Technovation Girls!
      </p>

      <% if SeasonToggles.team_building_enabled? && !current_student.is_on_team? %>
        <p>
          You are not on a team! You can
          <%= link_to "find",
            student_team_search_path,
            class: "tw-link" %>
          or
          <%= link_to "create",
            student_team_creation_path,
            class: "tw-link" %>
          a team.
        </p>
      <% end %>
    <% end %>
  </div>
  <%= render "program_survey_modal" %>
<% end %>
