<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col-xs-12 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        Student Dashboard

        <small>
          <%= render 'program_survey' %>
        </small>
      </h1>
    </div>
  </div>

  <div class="grid__col-sm-6 grid__col-xs-12 grid__col--bleed-y grid--align-end">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= SeasonToggles.dashboard_text(:student) %>

        <small>
          <%= link_to "Internet Safety Training",
            "http://iridescentlearning.org/internet-safety/",
            target: "_blank" %>
        </small>
      </h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__col-md-3">
    <div class="grid__cell">
      <div class="panel">
        <%= image_tag current_student.profile_image_url,
          class: "thumbnail grid__cell-img" %>

        <h3 class="reset"><%= current_student.full_name %></h3>

        <%= link_to "View your profile", student_profile_path %>
      </div>

      <% if current_student.is_on_team? %>
        <div class="panel">
          <%= image_tag current_student.team.team_photo_url,
            class: "thumbnail grid__cell-img" %>

          <h3 class="reset"><%= current_student.team.name %></h3>

          <%= link_to "Manage your team", student_team_path(current_student.team) %>
        </div>
      <% end %>

      <div class="panel panel--left">
        <%= render "student/dashboards/season_checklist" %>
      </div>
    </div>
  </div>

  <div class="grid__col-md-6">
    <div class="grid__cell">
      <%= render "student/dashboards/current_actions" %>
    </div>
  </div>
</div>

<%= render 'program_survey_modal' %>
