<div class="well manage-team">
  <div class="invite-members">
    <h6><%= t("views.student.teams.show.invite") %></h6>

    <%= render "student/team_member_invites/form" %>
  </div>

  <% if @team.pending_invitee_emails.any? %>
    <div class="pending-invites">
      <h6><%= t("views.student.teams.show.pending_invitees_subheading") %></h6>

      <ul class="pending_invitees">
        <% @team.pending_invitee_emails.each do |email| %>
          <li><%= email %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="has-danger">
    <h6><%= t("views.application.danger_zone") %></h6>
    <%= link_to t("controllers.student.team_memberships.destroy.link", name: @team.name),
                [:student, @team, :membership],
                data: {
                  method: :delete,
                  confirm: t("views.student.teams.show.confirm_leave"),
                },
                class: "primary-button" %>
  </div>
</div>
