<% if invites.present? %>
  <div class="my-4">
    <h2 class="text-base text-energetic-blue font-semibold tracking-wide uppercase">
      Students you have invited to your team
    </h2>

    <ul role="list" class="divide-y divide-gray-200">
      <% invites.each do |invite| %>
        <li class="py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0 self-start">
              <% if invite.invitee.present? %>
                <%= image_tag invite.invitee.profile_image_url, class: "rounded-tl-sm rounded-tr-xl rounded-bl-xl rounded-br-sm w-8 h-8" %>
              <% end %>
            </div>

            <div class="flex-1 min-w-0">
              <p class="flex text-sm font-medium text-gray-900 truncate">
                <% if invite.invitee.present? %>
                  <%= invite.invitee.first_name %>
                <% else %>
                  <%= invite.invitee_email %>
                <% end %>
              </p>

              <% if invite.invitee.present? %>
                <p class="text-sm text-gray-500 truncate">
                  <%= invite.invitee.email %>
                </p>
              <% end %>
            </div>

            <div class="self-start">
              <%= link_to(
                "Cancel this invitation",
                student_team_member_invite_path(invite),
                data: {
                  method: :delete,
                  confirm: t("controllers.invites.destroy.confirm",
                             name: invite.invitee_name),
                },
                class: "link-button link-button-neutral"
              ) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
