<% admin_chapter_ambassador = false %>

<% if students.present? %>
  <ul role="list" class="divide-y divide-gray-200">
    <% students.each do |student| %>
      <li class="py-2">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0 self-start">
            <%= image_tag student.profile_image_url, class: "rounded-tl-sm rounded-tr-xl rounded-bl-xl rounded-br-sm w-8 h-8" %>
          </div>

          <div class="flex-1 min-w-0">
            <p class="flex text-sm font-medium text-gray-900 truncate">
              <% if student.onboarded? %>
                <svg class="h-5 w-5 mr-1 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
              <% else %>
                <svg class="h-5 w-5 mr-1 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
              <% end %>

              <%= student.full_name %>
            </p>

            <% if student.actions_needed.present? %>
              <p class="text-sm text-gray-900 truncate">
                <strong class="font-medium">Onboarding steps required:</strong>

                <ul class="list-disc list-inside ml-4">
                  <% student.actions_needed.each do |action| %>
                    <li class="text-sm text-gray-800"><%= action %></li>
                  <% end %>
                </ul>
              </p>
            <% else %>
              <p class="text-sm text-gray-500 truncate">
                <% if current_student.email != student.email %>
                  <%= student.email %><br>
                <% end %>

                <%= student.primary_location %>
              </p>
            <% end %>
          </div>

          <div class="self-start">
            <% if CanRemoveTeamMember.(current_account, student, admin_chapter_ambassador) %>
              <%= link_to "Remove",
                student_team_membership_path(
                  @team,
                  allow_out_of_region: false,
                  member_id: student.id,
                  member_type: student.class.name
                ),
                data: {
                  method: :delete,
                  confirm: t("views.teams.show.confirm_leave", name: student.name)
                },
                class: "link-button link-button-neutral"
              %>
          <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= render "application/templates/alerts/info" do %>
    Your team currently doesn't have any students
  <% end %>
<% end %>
