<div class="h-auto mb-auto rounded-md border-solid border-4 border-energetic-blue">
  <div class="sm-header-wrapper">
    <p class="font-bold">Team Summary</p>
  </div>

  <div class="p-6">
    <div class="flex justify-between">
      <div class="w-3/4 flex flex-col justify-between">
        <div>
          <h3>
            <%= team.name %>
          </h3>

          <% if team.description.present? %>
            <div class="prose">
              <%= simple_format team.description %>
            </div>
          <% else %>
            <div class="mt-2">
              <%= render "application/templates/alerts/info" do %>
                Your team has not written a summary yet
              <% end %>
            </div>
          <% end %>
        </div>

        <div>
          <%= link_to t("controllers.teams.edit.link"),
            edit_student_team_path(team),
            class: "link-button link-button-success" %>
        </div>
      </div>

      <div class="w-1/4 self-end">
        <div class="ml-4 flex flex-col items-center content-start">
          <div>
            <%= image_tag team.team_photo_url,
                          class: "max-w-full h-auto mb-4 rounded-tl-sm rounded-tr-3xl rounded-bl-3xl rounded-br-sm filestack-profile-img filestack-team-photo"%>
          </div>

          <div>
            <%= render "filestack_uploads/team_photo_upload" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
