<% provide :title, "My team: #{current_team.name}" %>

  <div class="container mx-auto flex flex-col lg:flex-row justify-center gap-6 student-tab-container">
    <%= render "student/teams/menu" %>

    <div class="tab">
      <div id="student-tab-content" class="tab-content tw-active">
        <%= render "student/teams/students", team: @team %>
      </div>

      <div id="mentor-tab-content" class="tab-content">
        <%= render "student/teams/mentors", team: @team %>
      </div>

      <div id="summary-tab-content" class="tab-content">
        <%= render "student/teams/summary", team: @team %>
      </div>

      <div id="location-tab-content" class="tab-content">
        <%= render "student/teams/location", team: @team %>
      </div>

      <div id="division-tab-content" class="tab-content">
        <%= render "student/teams/division", team: @team %>
      </div>
    </div>
  </div>
