<h1>Editing Team Submission</h1>

<%= simple_form_for @team_submission, url: admin_team_submission_path(@team_submission) do |f| %>
  <div class="grid">
    <div class="grid__col-6">
      <div class="panel">
        <%= f.input :contest_rank,
          collection: TeamSubmission.contest_ranks.keys %>
        <div class="grid__cell--padding-md-y">
          <h6> Ideation </h6>
          <%= f.input :app_name %>
          <%= f.input :app_description, input_html: { size: "20x8" } %>
        </div>
      </div>
      <p>
        <%= f.submit "Save", class: "button" %>
      </p>
    </div>

    <div class="grid__col-6">
      <div class="panel">
        <div>
          <h6>Pitch</h6>
          <%= f.input :demo_video_link %>
          <%= f.input :pitch_video_link %>
        </div>
        <div class="grid__cell--padding-md-y">
          <h6>Entrepreneurship</h6>
          <%= f.label :business_plan %>
          <% if @team_submission.business_plan_url %>
            <%= link_to @team_submission.business_plan_identifier,
              @team_submission.business_plan_url,
              target: :_blank %>
          <% end %>

          <%= f.file_field :business_plan %>
          <%= f.hidden_field :business_plan_cache %>
        </div>
        <div>
          <h6>Technical</h6>
          <%= f.input :development_platform,
            collection: TeamSubmission::DEVELOPMENT_PLATFORMS %>
          <%= f.input :submission_type,
            collection: TeamSubmission::SUBMISSION_TYPES %>
          <%= f.input :development_platform_other %>
          <%= f.input :learning_journey %>
          <%= f.input :app_inventor_app_name %>
          <%= f.input :app_inventor_gmail %>
          <%= f.input :thunkable_account_email %>
          <%= f.input :thunkable_project_url %>

          <%= f.label :source_code %>

          <% if @team_submission.source_code_url %>
            <%= link_to @team_submission.source_code_identifier,
              @team_submission.source_code_url,
              target: :_blank %>
          <% end %>

          <%= f.file_field :source_code %>
          <%= f.hidden_field :source_code_cache %>
        </div>
      </div>
    </div>
  </div>
<% end %>
