<h1>Editing Team Submission</h1>

<%= simple_form_for [:admin, @team_submission] do |f| %>
  <%= f.input :contest_rank, collection: TeamSubmission.contest_ranks.keys %>
  <%= f.input :app_name %>
  <%= f.input :app_description, input_html: { size: "40x7" } %>
  <%= f.input :stated_goal, collection: TeamSubmission.stated_goals.keys %>
  <%= f.input :stated_goal_explanation, input_html: { size: "40x7" } %>
  <%= f.input :demo_video_link %>
  <%= f.input :pitch_video_link %>

  <div class="form-group">
    <h3>Source code</h3>

    <% if @team_submission.source_code %>
      <%= link_to @team_submission.source_code_url,
        @team_submission.source_code_url,
        target: :_blank %>
    <% end %>

    <%= f.input :source_code %>
    <%= f.input :source_code_file_uploaded, label: "Link to the uploaded file, and NOT the URL" %>
    <%= f.input :source_code_external_url, label: "Or, Source code URL" %>
  </div>

  <%= f.input :development_platform, collection: TeamSubmission.development_platforms.keys %>
  <%= f.input :development_platform_other %>

  <%= f.fields_for :business_plan do |b| %>
    <div class="form-group">
      <h3>Business plan</h3>

      <% if @team_submission.business_plan_url %>
        <%= link_to @team_submission.business_plan_url,
          @team_submission.business_plan_url,
          target: :_blank %>
      <% end %>

      <%= b.hidden_field :id %>

      <%= b.input :uploaded_file, label: "Business plan file" %>
      <%= b.input :file_uploaded, label: "Link to the uploaded file, and NOT the URL" %>
      <%= b.input :remote_file_url, label: "Or, business plan URL" %>
    </div>
  <% end %>

  <p>
    <%= f.submit "Save", class: "appy-button" %>
  </p>
<% end %>
