<h1>Team Submissions</h1>

<div class="flex-row">
  <label class="flex-col-md-12">
    Team name:<br />
    <%= text_field_tag :team_name,
    params[:team_name],
    placeholder: "Press enter after typing",
    data: { reload: true } %>
  </label>

  <label class="flex-col-md-4">
    Status:<br />
    <%= select_tag :status,
      options_for_select([["All", "all"],
                          ["Complete", "complete"],
                          ["Incomplete", "incomplete"]],
                         params.fetch(:status) { "all" }),
      data: { reload: true } %>
  </label>

  <label class="flex-col-md-4">
    Division:<br />
    <%= select_tag :division,
      options_for_select([['All', 'all'],
                          ['Senior', 'senior'],
                          ['Junior', 'junior']],
                        params.fetch(:division) { "all" }),
      data: { reload: true } %>
  </label>

  <label class="flex-col-md-4">
    Rank:<br />
    <%= select_tag :rank,
      options_for_select([['All', 'all'],
                          ['Quarterfinalist', 'quarterfinalist'],
                          ['Semifinalist', 'semifinalist'],
                          ['Finalist', 'finalist'],
                          ['Winner', 'winner']],
                        params.fetch(:rank) { "all" }),
      data: { reload: true } %>
  </label>
</div>

<table class="ra-participants-list">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Division</th>
      <th>City</th>
      <th>State/Province</th>
      <th>Country</th>
      <th>Status</th>
      <th>Rank</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @team_submissions.each do |submission| %>
      <% submission.app_name = "(no name yet)" if submission.app_name.blank? %>

      <tr>
        <td><%= submission.team_name %></td>
        <td><%= submission.team_division_name %></td>
        <td><%= submission.team_city %></td>
        <td><%= submission.team_state_province %></td>
        <td><%= FriendlyCountry.(submission.team) %></td>
        <td><%= submission.status %></td>
        <td><%= submission.contest_rank %></td>

        <td>
          <%= link_to "View details", admin_team_submission_path(submission) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination_info">
  <p><%= page_entries_info @team_submissions %></p>
</div>

<%= will_paginate @team_submissions %>

<label class="per_page">
  Per page:
  <%= select_tag :per_page,
  options_for_select([15, 25, 50, 100], params[:per_page]),
  class: "inline",
  data: {
    reload: true,
    param: :per_page,
  } %>
</label>

<%= form_tag admin_exports_path(params.merge(class: "team_submission")) do %>
  <%= button_tag "Email CSV to:", class: "appy-button" %>
  <%= email_field_tag :export_email, cookies[:export_email], class: "export-to-email" %>
<% end %>
