<div class="grid__cell--padding-md-x">
  <h1>Submission Details</h1>
</div>
<div class="grid__cell--padding-md-x">
  <%= link_to "Back", :back, class: "button button--small" %>
</div>

<div class="grid">
  <div class="grid__col-6">
    <div class="panel">
      <h3>
        <%= link_to @team_submission.team_name,
          admin_team_path(@team_submission.team) %>
      </h3>

      <div class="grid">
        <div class="grid__col-6">
          <%= image_tag(
            @team_submission.team_photo,
            class: "thumbnail--mdlg grid__cell-img"
          ) %>
        </div>

        <div class="grid__col-6">
          <%= web_icon(
            "flag-o",
            text: "Division: #{@team_submission.team.division.name.capitalize}",
            class: "grid__cell--padding-sm-y"
          ) %>

          <%= web_icon(
            "flag-o",
            text: "Rank: #{@team_submission.contest_rank.capitalize}",
            class: "grid__cell--padding-sm-y"
          ) %>

          <div class="grid__cell--padding-sm-y">
            <%= submission_progress_bar(@team_submission) %>
          </div>
        </div>
      </div>

      <h5>
        <% if @team_submission.app_name %>
          <p><%= @team_submission.app_name%></p>
        <% else %>
          blank
        <% end %>
      </h5>

      <p>
        <% if @team_submission.app_description %>
          <p><%= @team_submission.app_description %></p>
        <% else %>
          blank
        <% end %>
      </p>
    </div>

    <div class="grid__col-4">
      <%= link_to "Edit",
        edit_admin_team_submission_path(@team_submission),
        class: "button button--small" %>
    </div>
  </div>

  <div class="grid__col-6">
    <div class="panel">
      <h5>Pitch</h5>

      <p>
        Pitch Video:

        <% if @team_submission.pitch_video_link %>
          <%= link_to @team_submission.pitch_video_link,
            @team_submission.pitch_video_link,
            target: :_blank %>
        <% else %>
          blank
        <% end %>
      </p>

      <p>
        Demo Video:

        <% if @team_submission.demo_video_link %>
          <%= link_to @team_submission.demo_video_link,
            @team_submission.demo_video_link,
            target: :_blank %>
        <% else %>
          <span>blank</span>
        <% end %>
      </p>

      <% if @team_submission.senior_division? %>
        <h5>Entrepreneurship</h5>

        <p>
          Business Plan:

          <% if @team_submission.seasons == [2017] %>
            <% if bp = BusinessPlan.find_by(team_submission_id: @team_submission.id) %>
              <%= link_to bp.uploaded_file_identifier,
                bp.uploaded_file_url,
                target: :_blank %>
            <% else %>
              <span>blank</span>
            <% end %>
          <% else %>
            <% if @team_submission.business_plan_url %>
              <%= link_to @team_submission.business_plan_identifier,
                @team_submission.business_plan_url,
                target: :_blank %>
            <% else %>
              <span>blank</span>
            <% end %>
          <% end %>
        </p>
      <% end %>

      <h5>Technical</h5>

      <p>
        Source Code:

        <% if @team_submission.source_code_url %>
          <%= link_to @team_submission.source_code_identifier,
            @team_submission.source_code_url,
            target: :_blank %>
        <% else %>
          blank
        <% end %>
      </p>

      <p>
        Development Platform:

        <% if @team_submission.development_platform %>
          <%= @team_submission.development_platform_text %>

          <% if @team_submission.app_inventor_2? %>
            <ul>
              <li>
                App Name: <%= @team_submission.app_inventor_app_name %>
              </li>
              <li>
                Email: <%= @team_submission.app_inventor_gmail %>
              </li>
            </ul>
          <% elsif @team_submission.thunkable? %>
            <ul>
              <li>
                Account email: <%= @team_submission.thunkable_account_email %>
              </li>
              <li class="overflow-wrap--break-word">
                Project URL: <%= link_to nil, @team_submission.thunkable_project_url, :target => "_blank" %>
              </li>
            </ul>
          <% end %>
        <% else %>
          blank
        <% end %>
      </p>

      <p>
        <% if @team_submission.screenshots.any? %>
          <div class="submission-pieces__screenshots">
            <% @team_submission.screenshots.each do |screenshot| %>
              <div class="submission-pieces__screenshot">
                <%= image_tag screenshot.image_url,
                data: {
                  modal_url: screenshot.image_url(:large),
                } %>
              </div>
            <% end %>
          </div>
        <% else %>
          No screenshots uploaded
        <% end %>
      </p>

      <p>
        <%= "#{@team_submission.team_name} has earned #{@team_submission.code_checklist_points}/10 for their code checklist." %>
     </p>
    </div>
  </div>
</div>
