<h1>Team Submission Details</h1>

<%= render 'admin/team_submissions/detail/summary',
  submission: @team_submission,
  user_type: :admin %>

<div class="flex-row">
  <div class="flex-col-sm-6">
    <%= link_to 'Edit this submission',
      edit_admin_team_submission_path(@team_submission) %>

    <br /><br />

    <%= link_to 'See the public/judge version',
      app_path(@team_submission),
      target: :_blank %>
  </div>
  <div class="flex-col-sm-6">
    <dl>
      <dt>Contest rank:</dt>
      <dd><%= @team_submission.contest_rank %></dd>

      <dt>Average <%= @team_submission.contest_rank %> score</dt>
      <dd>
        <%= @team_submission.public_send(
          "#{@team_submission.contest_rank.sub("ist", "s")}_average_score"
        ) %>

        <% if @team_submission.submission_scores.deleted.any? %>
           - <%= link_to 'Restore scores',
            admin_submission_score_restoration_path(@team_submission),
            data: { method: :patch } %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<hr />

<div class="flex-row">
  <div class="flex-col-sm-6">
    Student completion certificates:
    <ul>
      <% @team_submission.team.students.each do |student| %>
        <% next if student.certificates.empty? %>
        <li><%= link_to "#{student.full_name}", student.certificates.last.file_url %></li>
      <% end %>
    </ul>
  </div>

  <div class="flex-col-sm-6">
    Mentor completion certificates:
    <ul>
      <% @team_submission.team.mentors.each do |mentor| %>
        <% next if mentor.certificates.empty? %>
        <li><%= link_to "#{mentor.full_name}", mentor.certificates.last.file_url %></li>
      <% end %>
    </ul>
  </div>

  <div class="flex-col-sm-12">
    <%= link_to 'Generate Completion Certificates',
      admin_team_submission_certificate_path(@team_submission, type: :completion),
      data: { method: :patch } %>
  </div>
</div>

<hr />

<%= render 'admin/team_submissions/detail/full',
  submission: @team_submission %>
