<div class="grid__cell--padding-md-x">
  <h1>Submission Details</h1>
</div>
<div class="grid__cell--padding-md-x">
  <%= link_to "Back", :back, class: "button button--small" %>
</div>

<div class="grid">
  <div class="grid__col-6">
    <div class="panel">
      <h3>
        <%= link_to @team_submission.team_name,
          admin_team_path(@team_submission.team) %>
      </h3>

      <div class="grid">
        <div class="grid__col-6">
          <%= image_tag(
            @team_submission.team_photo_url,
            class: "thumbnail--mdlg grid__cell-img"
          ) %>
        </div>

        <div class="grid__col-6">
          <%= web_icon(
            "flag-o",
            text: "Division: #{@team_submission.team.division.name.capitalize}",
            class: "grid__cell--padding-sm-y"
          ) %>

          <%= web_icon(
            "flag-o",
            text: "Rank: #{@team_submission.contest_rank.capitalize}",
            class: "grid__cell--padding-sm-y"
          ) %>

          <div class="grid__cell--padding-sm-y">
            <%= submission_progress_bar(@team_submission) %>
          </div>
        </div>
      </div>

      <h5>
        <% if @team_submission.app_name %>
          <p><%= @team_submission.app_name%></p>
        <% else %>
          blank
        <% end %>
      </h5>

      <p>
        <% if @team_submission.app_description %>
          <p><%= @team_submission.app_description %></p>
        <% else %>
          blank
        <% end %>
      </p>
    </div>

    <div class="grid__col-4">
      <%= link_to "Edit",
        edit_admin_team_submission_path(@team_submission),
        class: "button button--small" %>
    </div>
  </div>

  <div class="grid__col-6">
    <div class="panel">
      <h5>Pitch</h5>

      <p>
        Pitch Video:

        <% if @team_submission.pitch_video_link %>
          <%= link_to @team_submission.pitch_video_link,
            @team_submission.pitch_video_link,
            target: :_blank %>
        <% else %>
          blank
        <% end %>
      </p>

      <p>
        <%= t("submissions.demo_video").titleize %>:

        <% if @team_submission.demo_video_link %>
          <%= link_to @team_submission.demo_video_link,
            @team_submission.demo_video_link,
            target: :_blank %>
        <% else %>
          <span>blank</span>
        <% end %>
      </p>

      <% if @team_submission.senior_division? %>
        <h5>Entrepreneurship</h5>

        <p>
          Business Plan:

          <% if @team_submission.seasons == [2017] %>
            <% if bp = BusinessPlan.find_by(team_submission_id: @team_submission.id) %>
              <%= link_to bp.uploaded_file_identifier,
                bp.uploaded_file_url,
                target: :_blank %>
            <% else %>
              <span>blank</span>
            <% end %>
          <% else %>
            <% if @team_submission.business_plan_url %>
              <%= link_to @team_submission.business_plan_identifier,
                @team_submission.business_plan_url,
                target: :_blank %>
            <% else %>
              <span>blank</span>
            <% end %>
          <% end %>
        </p>
      <% end %>

      <% if @team_submission.junior_division? %>
        <p>
          User Adoption Plan:

          <% if @team_submission.business_plan_url_complete? %>
            <%= link_to @team_submission.business_plan_identifier,
              @team_submission.business_plan_url,
              target: :_blank %>
          <% else %>
            <span>blank</span>
          <% end %>
        </p>
      <% end %>

      <h5>Technical</h5>

      <p>
        Technical Additions:

        <% if @team_submission.source_code_url %>
          <%= link_to @team_submission.source_code_identifier,
            @team_submission.source_code_url,
            target: :_blank %>
        <% else %>
          blank
        <% end %>
      </p>

      <p>
        Development Platform:

        <% if @team_submission.development_platform %>
          <%= @team_submission.development_platform_text %>

          <% if @team_submission.app_inventor_2? %>
            <ul>
              <li>
                App Name: <%= @team_submission.app_inventor_app_name %>
              </li>
              <li>
                Email: <%= @team_submission.app_inventor_gmail %>
              </li>
            </ul>
          <% elsif @team_submission.thunkable? %>
            <ul>
              <li>
                Account email: <%= @team_submission.thunkable_account_email %>
              </li>
              <li class="overflow-wrap--break-word">
                Project URL: <%= link_to nil, @team_submission.thunkable_project_url, :target => "_blank" %>
              </li>
            </ul>
          <% end %>
        <% else %>
          blank
        <% end %>
      </p>

      <p>
        Learning Journey:
        <% if @team_submission.learning_journey.present? %>
          <%= @team_submission.learning_journey %>
        <% else %>
          blank
        <% end %>
      </p>

      <p>
        Submission Type:
        <% if !@team_submission.submission_type.nil? %>
          <%= @team_submission.submission_type %>
        <% else %>
          blank
        <% end %>
      </p>

      <h5>Additional Questions</h5>
      <p>
        Does your submission use artificial intelligence?
        <%= @team_submission.question_response("ai")  %>
      </p>
      <% if @team_submission.ai? %>
        <i><%= @team_submission.ai_description  %></i>
      <% end %>

      <p>
        Does your submission help solve climate change?
        <%= @team_submission.question_response("climate_change")  %>
      </p>
      <% if @team_submission.climate_change? %>
        <i><%= @team_submission.climate_change_description  %></i>
      <% end %>

      <p>
        <%= t("submissions.solves_hunger_or_food_waste_question") %>
        <%= @team_submission.question_response("health_problem")  %>
      </p>
      <% if @team_submission.game? %>
        <i><%= @team_submission.game_description  %></i>
      <% end %>

      <h5>Screenshots</h5>

      <p>
        <% if @team_submission.screenshots.any? %>
          Total Uploaded Images: <%= @team_submission.screenshots.count %>
          <div class="submission-pieces__screenshots">
            <% @team_submission.screenshots.each do |screenshot| %>
              <% if screenshot.image_url.present? %>
                <%= render "screenshots/screenshot_grid", screenshot: screenshot %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          No screenshots uploaded
        <% end %>
      </p>

      <% if @team_submission.max_screenshots_remaining > 0 %>
        <%= link_to 'Add Screenshot', new_admin_team_submission_screenshot_path(@team_submission) %>
      <% else %>
        <p>Delete a screenshot(s) to upload additional images</p>
      <% end %>
    </div>
  </div>
</div>
