<h3 class="reset"><%= link_to team.name, [:mentor, team] %></h3>
<hr>
<br>

<%= link_to image_tag(
  team.team_photo,
  class: "thumbnail-lg grid__cell-img"
), [:mentor, team] %>

<p>
  Division: <%= team.division_name.humanize %>
</p>

<% if team.submission.present? %>
  <p>
    Submission app name:
    <strong><%= team.submission.app_name %></strong>
  </p>

  <% if SeasonToggles.team_submissions_editable? %>
    <p>
      <%= link_to "Edit this team's submission",
        mentor_team_submission_path(team.submission),
        class: "button small" %>
    </p>
  <% else %>
    <p class="hint">Submissions are not editable at this time.</p>
  <% end %>
<% elsif SeasonToggles.team_submissions_editable? %>
  <p>
    <%= link_to "Start a submission now",
      new_mentor_team_submission_path(team_id: team.id),
      class: "button small" %>
  </p>
<% else %>
  <p class="hint">Submissions may not be started at this time.</p>
<% end %>

<div class="bar-graph">
  <p>Team submission progress</p>
  <div class="bar-wrap">
    <span class="bar-fill" style="width: 80%;"></span>
  </div>
  <p>80% completed</p>
</div>
