<% if teams.any? %>
  <ul class="mentor-teams">
    <% teams.each do |team| %>
      <li>
        <h4><%= link_to team.name, [:mentor, team] %></h4>
        <p class="team_division">
          <%= t("views.teams.show.division_name", name: team.division_name.humanize) %>
        </p>

        <% if type === :current and team.team_submissions.any? %>
          <% submission = team.team_submissions.last %>

          <p>
            Submission:
            <%= link_to "#{submission.app_name || '(no name yet)'} by #{submission.team_name}",
              app_path(submission),
              target: :_blank %>
          </p>

          <%= render 'student/team_submissions/progress', submission: submission %>

          <small>(finished sections will appear green with a checkmark)</small>
        <% elsif type === :current %>
          <p><%= t("views.teams.index.submission_not_started", name: team.name) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t("views.teams.index.none", type: type) %></p>
<% end %>
