<% if teams.any? %>
  <ul class="mentor-teams">
    <% teams.each do |team| %>
      <% cache(team) do %>
        <li>
          <h4><%= link_to team.name, [:mentor, team] %></h4>
          <p class="team_division">
            <%= t("views.teams.show.division_name", name: team.division_name.humanize) %>
          </p>

          <% if type === :current and team.team_submissions.any? %>
            <%= render 'student/team_submissions/progress', submission: team.team_submissions.last %>
            <small>(finished sections will appear green with a checkmark)</small>
          <% elsif type === :current %>
            <p><%= t("views.teams.index.submission_not_started", name: team.name) %></p>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p><%= t("views.teams.index.none", type: type) %></p>
<% end %>
