<% unless Rails.env.production? %>
  <h1 class="appy-title">
    Regional Pitch Events
  </h1>

  <div class="card standalone-buttons">
    <div class="card__heading">
      Regional Pitch Events
    </div>

    <div class="card__body">
      <p>You can now select any pitch events in your region for your teams to attend!</p>

      <p>
        <%= link_to "Manage your regional pitch events",
          new_mentor_regional_pitch_event_selection_path,
          class: "appy-button" %>
      </p>
    </div>
  </div>
<% end %>

<h1 class="appy-title">
  <%= t("views.teams.index.current_teams") %>
</h1>

<div class="current-teams">
  <%= render 'mentor/teams/team_list',
    type: :current,
    teams: @current_teams %>
</div>

<p class="standalone-buttons">
  <%= link_to t("controllers.team_searches.new.link"),
    new_mentor_team_search_path,
    class: "appy-button" %>
  <%= t("views.application.or") %>
  <%= link_to t("controllers.teams.new.link"), new_mentor_team_path %>
</p>

<% if @past_teams.any? %>
  <h1 class="appy-title">
    <%= t("views.teams.index.past_teams") %>
  </h1>

  <%= render 'mentor/teams/team_list',
            type: :past,
            teams: @past_teams %>
<% end %>
