<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <h3><%= t("views.teams.index.current_teams") %></h3>

    <%= render 'mentor/teams/team_list',
      type: :current,
      teams: @current_teams %>

    <% if SeasonToggles.team_building_enabled? %>
      <p class="buttons">
        <%= link_to "Find more teams",
          new_mentor_team_search_path,
          class: "button" %>

        <%= link_to "Register a new team",
          new_mentor_team_path,
          class: "button secondary" %>
      </p>
    <% end %>
  </div>
</div>

<% if @past_teams.any? %>
  <div class="grid grid--justify-space-around">
    <div class="grid__col-sm-8">
      <h3><%= t("views.teams.index.past_teams") %></h3>

      <%= render 'mentor/teams/team_list',
        type: :past,
        teams: @past_teams %>
    </div>
  </div>
<% end %>

<% if SeasonToggles.select_regional_pitch_event? %>
  <div class="grid grid--justify-space-around">
    <div class="panel grid__col-sm-8">
      <h3>Regional Pitch Events</h3>

      <p>
        You can now select any pitch events in your region for your teams to attend!
      </p>

      <p>
        <%= link_to "Manage your regional pitch events",
          new_mentor_regional_pitch_event_selection_path,
          class: "button" %>
      </p>
    </div>
  </div>
<% end %>
