<% admin_chapter_ambassador ||= false %>

<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "mentor/teams/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Team Overview" } do %>
    <div class="flex flex-col lg:flex-row lg:space-x-12 mb-4">
      <%= image_tag @team.team_photo_url, class: "rounded-tr-3xl rounded-bl-3xl w-1/4" %>
      <div class="mb-auto">
        <h3 class="font-medium text-2xl mb-2"><%= @team.name %></h3>

        <div class="mb-4">
          <p class="font-medium">Location</p>
          <p><%= @team.primary_location %></p>
        </div>

        <div class="mb-4">
          <p class="font-medium">Division</p>
          <p>
            <%= @team.division_name.humanize %>
            <%= @team.division.none_assigned_yet? ? "" : "Division"  %>
          </p>
        </div>

        <div class="mb-4">
          <p class="font-medium">Summary</p>
          <% if @team.description.blank? %>
            <p>Your team has not written a summary.</p>
          <% else %>
            <%= simple_format @team.description %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>