<div class="grid__cell--padding-md">
  <h1>Submission Details</h1>
</div>
<div class="grid">
  <div class="grid__col-6">
    <div class="panel">
      <h3><%= @team_submission.team_name %></h3>

      <div class="grid">
        <div class="grid__col-6">
          <%= image_tag(
            @team_submission.team_photo.url,
            class: "thumbnail--mdlg grid__cell-img"
          ) %>
        </div>

        <div class="grid__col-6">
          <%= web_icon(
            "flag-o",
            text: "Division: #{@team_submission.team.division.name.capitalize}",
            class: "grid__cell--padding-sm-y"
          ) %>

          <%= web_icon(
            "flag-o",
            text: "Rank: #{@team_submission.contest_rank.capitalize}",
            class: "grid__cell--padding-sm-y"
          ) %>

          <div class="grid__cell--padding-sm-y">
            <%= submission_progress_bar(@team_submission) %>
          </div>
        </div>
      </div>

      <dl>
        <dt>App Name</dt>
        <dd><%= @team_submission.app_name%></dd>

        <dt>Description</dt>
        <dd><%= simple_format @team_submission.app_description %></dd>
      </dl>
    </div>

    <div class="grid__cell--padding-sm-x">
      <%= link_to "Back", :back, class: "button button--small" %>
    </div>
  </div>

  <div class="grid__col-6">
    <div class="panel">
      <dl>
        <dt>Pitch Video:</dt>

        <dd>
          <% if @team_submission.pitch_video_link %>
            <%= link_to @team_submission.pitch_video_link,
                @team_submission.pitch_video_link,
                target: :_blank %>
          <% else %>
            -
          <% end %>
        </dd>

      <dt>Demo Video:</dt>

      <dd>
        <% if @team_submission.demo_video_link %>
          <%= link_to @team_submission.demo_video_link,
              @team_submission.demo_video_link,
              target: :_blank %>
        <% else %>
          -
        <% end %>
      </dd>

        <% if @team_submission.team.live_event? %>
          <dt>Pitch Presentation</dt>
          <dd>
            <% if @team_submission.pitch_presentation_url %>
              <%= link_to @team_submission.pitch_presentation_identifier,
                @team_submission.pitch_presentation_url,
                target: :_blank %>
            <% else %>
              -
            <% end %>
          </dd>
        <% end %>
      </dl>

      <% if @team_submission.senior_division? %>
        <dl>
          <dt>Business Plan:</dt>
          <dd>
            <% if @team_submission.seasons == [2017] %>
              <% if bp = BusinessPlan.find_by(team_submission_id: @team_submission.id) %>
                <%= link_to bp.uploaded_file_identifier,
                  bp.uploaded_file_url,
                  target: :_blank %>
              <% else %>
                -
              <% end %>
            <% else %>
              <% if @team_submission.business_plan_url %>
                <%= link_to @team_submission.business_plan_identifier,
                  @team_submission.business_plan_url,
                  target: :_blank %>
              <% else %>
                -
              <% end %>
            <% end %>
          </dd>
        </dl>
      <% end %>

      <% if @team_submission.junior_division? %>
        <dl>
          <dt>User Adoption Plan:</dt>
          <dd>
            <% if @team_submission.business_plan_url_complete? %>
              <%= link_to @team_submission.business_plan_identifier,
                @team_submission.business_plan_url,
                target: :_blank %>
            <% else %>
              -
            <% end %>
          </dd>
        </dl>
      <% end %>

      <dl>
        <dt>Technical Additions:</dt>

        <dd>
          <% if @team_submission.source_code_url %>
            <%= link_to @team_submission.source_code_identifier,
              @team_submission.source_code_url,
              target: :_blank %>
          <% else %>
            -
          <% end %>
        </dd>

        <dt>Development Platform:</dt>

        <dd>
          <% if @team_submission.development_platform %>
            <%= @team_submission.development_platform_text %>
          <% else %>
            -
          <% end %>
        </dd>

        <% if @team_submission.thunkable? %>
          <dt>Thunkable Account Email:</dt>

          <dd>
            <%= @team_submission.thunkable_account_email %>
          </dd>

          <dt>Thunkable Project URL:</dt>

          <dd class="overflow-wrap--break-word">
            <%= link_to nil, @team_submission.thunkable_project_url, :target => "_blank" %>
          </dd>
        <% end %>

        <dt>Learning Journey:</dt>
        <dd>
          <% if @team_submission.learning_journey.present? %>
            <%= @team_submission.learning_journey %>
          <% else %>
            blank
          <% end %>
        </dd>

        <dt>Submission Type:</dt>
        <dd>
          <% if !@team_submission.submission_type.nil? %>
            <%= @team_submission.submission_type %>
          <% else %>
            blank
          <% end %>
        </dd>

        <dt>Additional Questions</dt>
        <dd>
          <p>
            Does your submission use artificial intelligence?
            <%= @team_submission.question_response("ai")  %>
          </p>
          <% if @team_submission.ai? %>
            <i><%= @team_submission.ai_description  %></i>
          <% end %>

          <p>
            Does your submission help solve climate change?
            <%= @team_submission.question_response("climate_change")  %>
          </p>
          <% if @team_submission.climate_change? %>
            <i><%= @team_submission.climate_change_description  %></i>
          <% end %>

          <p>
            Does your submission help solve a health problem?
            <%= @team_submission.question_response("health_problem")  %>
          </p>
          <% if @team_submission.game? %>
            <i><%= @team_submission.game_description  %></i>
          <% end %>
        </dd>

        <dt>Images</dt>
        <dd>
          <% if @team_submission.screenshots.any? %>
            <div class="submission-pieces__screenshots">
              <% @team_submission.screenshots.each do |screenshot| %>
                <% if screenshot.image_url.present? %>
                  <div class="submission-pieces__screenshot">
                    <%= image_tag screenshot.image_url,
                      data: {
                      modal_url: screenshot.image_url(:large),
                    } %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% else %>
            No images uploaded
          <% end %>
        </dd>
      </dt>
    </div>
  </div>
</div>
