<div class="mentor-debug">
  <h3>Mentor Profile debugging info</h3>

  <p>
    <strong>Has judge profile?</strong>
    <%= profile.account.judge_profile.present? ? "yes" : "no" %>
  </p>

  <p>
    <strong>Consent waiver</strong>
    <%= profile.consent_signed? ? 'signed' : 'not signed' %>
  </p>

  <p>
    <strong>Background check</strong>
    <% if profile.background_check %>
      <%= profile.background_check.status %>
    <% elsif profile.country != "US" %>
      International mentor! No BG Check needed
    <% else %>
        Not submitted
    <% end %>
  </p>

  <p>
    <strong>Honor code</strong>
    <%= profile.honor_code_signed? ? 'signed' : 'not signed' %>
  </p>

  <p>
    <strong>Browser / OS Info</strong>
    <%= [profile.browser_name,
         profile.browser_version,
         profile.os_name,
         profile.os_version].compact.join(' - ') %>
  </p>

  <p>
    <strong>Searchable to students?</strong>
    <% if profile.searchable? %>
      <%= profile.accepting_team_invites? ? 'yes' : 'no' %>
      <span class="hint">
        To change this, mentor should toggle <strong>Allow teams to invite me to be their mentor</strong> on their profile page
      </span>
    <% else %>
      no
    <% end %>
  </p>

  <p>
    <strong>Searchable to other mentors?</strong>
    <% if profile.searchable? %>
      <%= profile.connect_with_mentors? ? 'yes' : 'no' %>
      <span class="hint">
        To change this, mentor should toggle <strong>Allow other mentors to contact me</strong> on their profile page
      </span>
    <% else %>
      no
    <% end %>
  </p>

  <p>
    <strong>Virtual mentoring enabled?</strong>
    <%= profile.virtual? ? 'yes' : 'no' %>
    <span class="hint">
      To change this, mentor should toggle <strong>I am available to mentor teams virtually (online) from anywhere</strong> on their profile page
    </span>
  </p>
</div>
