<div class="student-debug">
  <h3>Student Profile debugging info</h3>

  <p>
    <strong>Parental consent</strong>
    <%= profile.consent_signed? ? 'signed' : 'not signed' %>
  </p>

  <p>
    <strong>Browser / OS Info</strong>
    <%= [profile.browser_name,
         profile.browser_version,
         profile.os_name,
         profile.os_version].compact.join(' - ') %>
  </p>

  <% if not account.student_profile.team.present? and
       account.student_profile.full_access_enabled? %>
    <%= form_tag(admin_team_memberships_path) do %>
      <%= hidden_field_tag :account_id, profile.account_id %>
      <p>
        <strong> Add this student to a team </strong> <br>
        <%= select_tag "team_id",
            options_from_collection_for_select(Team.current, "id", "name"),
            include_blank: true,
            required: true,
            class: "chosen" %>
        <%= submit_tag 'Add', class: "appy-button" %>
      </p>
    <% end %>
  <% elsif account.student_profile.team.present? %>
    <p>
      This student is already on a team.
    </p>
  <% elsif not account.student_profile.full_access_enabled? %>
    <p>
      This student cannot be added to a team until they get full access to the platform.
    </p>
  <% end %>
</div>
