<%= render 'profiles/privileged_show',
  admin: true,
  edit: true,
  account: account,
  location_edit_path: edit_admin_profile_location_path(account),
  path: edit_admin_profile_path(account) %>


<%= simple_form_for @profile,
  url: admin_profile_path(@profile),
  html: { data: { remote: true } } do |f| %>
  <%= f.fields_for :account do |a| %>
    <%= a.input :location_confirmed, as: :boolean %>
  <% end %>
<% end %>

<% if account.student_profile %>
  <%= render 'admin/profiles/student_debugging', profile: account.student_profile %>
<% end %>

<% if account.regional_ambassador_profile %>
  <%= render 'admin/profiles/ra_debugging', profile: account.regional_ambassador_profile %>
<% end %>

<% if account.judge_profile %>
  <%= render 'admin/profiles/judge_debugging', profile: account.judge_profile %>
<% end %>

<% if account.mentor_profile %>
  <%= render 'admin/profiles/mentor_debugging', profile: account.mentor_profile %>
<% end %>

<% if account.mentor_profile || account.student_profile %>
  <div class="flex-row">
    <div class="flex-col-sm-12">
      <h3><%= t("views.student.mentors.show.teams", name: account.first_name) %></h3>

      <% if account.teams.current.any? %>
        <ul>
          <%= render partial: 'student/mentors/team_preview',
            collection: account.teams.current,
            locals: {
              admin: true,
              profile: account.mentor_profile || account.student_profile
            } %>
        </ul>
      <% else %>
        <p><%= t("views.student.mentors.show.no_teams", name: account.first_name) %></p>
      <% end %>
    </div>
  </div>
<% end %>

<% if account.mentor_profile %>
  <%= link_to "Drop #{account.first_name} out of Season #{Season.current.year}",
    admin_mentor_drop_out_path(id: account.mentor_profile.id),
    class: "appy-button",
    data: {
      method: :post,
      confirm: "Are you sure you want to DROP #{account.first_name} OUT from Season #{Season.current.year}?",
    } %>
<% end %>

<% if account.student_profile and account.parental_consent.nil? %>
  <%= link_to "Paper parental consent on file",
    admin_paper_parental_consent_path(id: @profile.id),
    class: "appy-button",
    data: {
      method: :post,
      confirm: "You are marking #{account.full_name} as having a paper parental consent on file.",
    } %>
<% end %>
