<div class="panel panel--left">
  <% if SeasonToggles.between_rounds? %>
    <%= render 'judge/dashboards/onboarded/between_rounds' %>
  <% elsif SeasonToggles.quarterfinals_or_earlier? %>
    <div class="flags">
      <span class="flag flag-events">
        Judging
      </span>
    </div>

    <% if current_judge.live_event? %>
      <h1 class="content-heading">Regional Pitch Events</h1>

      <p>
        <% if current_judge.onboarding? %>
          Please finish your onboarding steps above, so
          that you will be able to judge at your events.
        <% else %>
          You will be judging teams at the following events.
        <% end %>
      </p>

      <p>
        If you want to change events or leave an event,
        please contact your Regional Ambassador.
      </p>

      <% current_judge.events.each do |event| %>
        <div class="grid">
          <div class="grid__col-auto grid__col--bleed-x">
            <dl>
              <dt><%= event.name %></dt>
              <dd>
                <%= event.starts_at
                  .in_time_zone(event.timezone)
                  .strftime("%A, %B %e") %>

                <br />

                <%= event.starts_at
                  .in_time_zone(event.timezone)
                  .strftime("%-I:%M%P") %>

                &ndash;

                <%= event.ends_at
                  .in_time_zone(event.timezone)
                  .strftime("%-I:%M%P %Z") %>
              </dd>
            </dl>
          </div>

          <div class="grid__col-auto grid__col--bleed-x">
            <h6>Regional Ambassador</h6>

            <dl>
              <dt>Name</dt>
              <dd><%= event.ambassador.name  %></dd>

              <dt>Email</dt>
              <dd><%= mail_to event.ambassador.email %></dd>
            </dl>
          </div>
        </div>

        <p>
          You can preview your event's submissions
          beginning on
          <%= ImportantDates.quarterfinals_judging_begins.strftime("%B %-d, %Y") %>.
        </p>

        <div class="step-actions margin--b-xlarge">
          <%= link_to 'View details',
            [current_scope, event],
            class: "button" %>
        </div>
      <% end %>
    <% else %>
      <h1 class="content-heading">Online Judging</h1>

      <p>
        <% if current_judge.onboarding? %>
          Once you are finished onboarding,
          you will be able to judge submissions online.
        <% else %>
          You are currently set to judge submissions online.
        <% end %>
      </p>

      <p class="scent--strong">
        You may be expecting an invitation to a live event from a
        Regional Ambassador. In that case, just wait for the email.
        <strong>
          Most judges are online and will not attend a live event.
        </strong>
      </p>

      <p>
        Quarterfinals judging begins on
        <%= ImportantDates.quarterfinals_judging_begins.strftime("%B %-d, %Y") %>.
      </p>
    <% end %>
  <% end %>
</div>