<div class="panel panel--left">
  <% if SeasonToggles.between_rounds? %>
    <%= render 'judge/dashboards/onboarded/between_rounds' %>
  <% elsif SeasonToggles.quarterfinals_or_earlier? %>
    <div class="flags">
      <span class="flag flag-events">
        Judging
      </span>
    </div>

    <% if current_judge.live_event? %>
      <h1 class="content-heading">Regional Pitch Events</h1>

      <p>
        <% if current_judge.onboarding? %>
          Please finish your onboarding steps above, so
          that you will be able to judge at
          <%= current_judge.event.name %>.
        <% else %>
          You will be judging teams at <%= current_judge.event.name %>.
        <% end %>
      </p>

      <p>
        If you want to change events or leave this event,
        please contact your Regional Ambassador
      </p>

      <div class="grid">
        <div class="grid__col-auto grid__col--bleed-x">
          <dl>
            <dt><%= current_judge.event.name %></dt>
            <dd>
              <%= current_judge.event.starts_at
                .in_time_zone(current_judge.event.timezone)
                .strftime("%A, %B %e") %>

              <br />

              <%= current_judge.event.starts_at
                .in_time_zone(current_judge.event.timezone)
                .strftime("%-I:%M%P") %>

              &ndash;

              <%= current_judge.event.ends_at
                .in_time_zone(current_judge.event.timezone)
                .strftime("%-I:%M%P %Z") %>
            </dd>
          </dl>
        </div>

        <div class="grid__col-auto grid__col--bleed-x">
          <h6>Regional Ambassador</h6>

          <dl>
            <dt>Name</dt>
            <dd><%= current_judge.event.ambassador.name  %></dd>

            <dt>Email</dt>
            <dd><%= mail_to current_judge.event.ambassador.email %></dd>
          </dl>
        </div>
      </div>

      <p>
        You can preview your event's submissions
        beginning on
        <%= ImportantDates.quarterfinals_judging_begins.strftime("%B %-d, %Y") %>.
      </p>

      <div class="step-actions">
        <%= link_to 'View details',
          [current_scope, current_judge.event],
          class: "button" %>
      </div>
    <% else %>
      <h1 class="content-heading">Online Judging</h1>

      <p>
        <% if current_judge.onboarding? %>
          Once you are finished onboarding,
          you will be able to judge submissions online.
        <% else %>
          You are currently set to judge submissions online.
        <% end %>
      </p>

      <p class="scent--strong">
        You may be expecting an invitation to a live event from a
        Regional Ambassador. In that case, just wait for the email.
        <strong>
          Most judges are online and will not attend a live event.
        </strong>
      </p>

      <p>
        Quarterfinals judging begins on
        <%= ImportantDates.quarterfinals_judging_begins.strftime("%B %-d, %Y") %>.
      </p>
    <% end %>
  <% end %>
</div>