<% if current_judge.onboarded? and SeasonToggles.judging_enabled? %>
  <div id="judge-dashboard-scores-app">
    <% if CanStartNewScore.(current_judge) %>
      <div class="panel">
        <h5 class="heading--reset">
          You are ready to start a new score!
        </h5>

        <p>
          <%= link_to "Start a new score",
            new_judge_score_path,
            class: "button",
            data: { turbolinks: false } %>
        </p>
      </div>
    <% elsif @score_in_progress.present? %>
      <div class="panel score-in-progress">
        <h5 class="heading--reset">Complete your score in progress</h5>

        <div class="grid grid--justify-space-between">
          <div class="grid__col-4 grid__col--bleed-x">
            <small>Submission name</small>
            <%= @score_in_progress.submission_name %>
          </div>

          <div class="grid__col-4 grid__col--bleed-x">
            <small>
              <%= @score_in_progress.team_division %> division team
            </small>
            <%= @score_in_progress.team_name %>
          </div>

          <div class="grid__col-2 grid__col--bleed-x">
            <small>Score so far</small>
            <%= @score_in_progress.total %> /
            <%= @score_in_progress.possible %>
          </div>

          <div class="grid__col-2 grid__col--bleed-x">
            <%= link_to "Resume",
              new_judge_score_path(score_id: @score_in_progress.id),
              class: "button button--remove-bg" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel">
      <h5 class="heading--reset">Manage your scores</h5>

      <% if LiveEventJudgingEnabled.(current_judge) %>
        <live-event-nav></live-event-nav>
      <% else %>
        <virtual-nav></virtual-nav>
        <div ref="disableAssigned"></div>
      <% end %>

      <div
        ref="deadline"
        data-date="<%= SeasonToggles.current_round_deadline(current_judge) %>"
      ></div>

      <router-view></router-view>
    </div>
  </div>
<% end %>
