<% if current_judge.onboarded? and SeasonToggles.judging_enabled? %>
  <div id="judge-dashboard-scores-app">
    <% if CanStartNewScore.(current_judge) %>
      <div class="panel">
        <h5 class="heading--reset">
          You are ready to start a new score!
        </h5>

        <p>
          <%= link_to "Start a new score",
            new_judge_score_path,
            class: "button",
            data: { turbolinks: false } %>
        </p>
      </div>
    <% elsif @scores_in_progress.present? %>
      <div class="panel score-in-progress">
        <h5 class="heading--reset">Complete your scores in progress</h5>

      <% @scores_in_progress.each do |score| %>
        <div class="grid grid--justify-space-between">
          <div class="grid__col-4 grid__col--bleed-x">
            <small>Submission name</small>
            <%= score.team_submission.app_name %>
          </div>

          <div class="grid__col-4 grid__col--bleed-x">
            <small>
              <%= score.team_division_name %> division team
            </small>
            <%= score.team_submission.team.name %>
          </div>

          <div class="grid__col-2 grid__col--bleed-x">
            <small>Score so far</small>
            <%= score.total %> /
            <%= score.total_possible %>
          </div>

          <div class="grid__col-2 grid__col--bleed-x">
            <%= link_to "Resume",
              new_judge_score_path(score_id: score.id),
              class: "button button--remove-bg" %>
          </div>
        </div>
    <% end %>
      </div>
    <% end %>

    <div class="panel">
      <h5 class="heading--reset">Manage your scores</h5>

      <% if LiveEventJudgingEnabled.(current_judge) %>
        <div ref="enableAssigned"></div>
        <assigned-scores-list></assigned-scores-list>
        <finished-scores-list></finished-scores-list>
      <% else %>
        <finished-scores-list></finished-scores-list>

        <% if SeasonToggles.semifinals_judging? %>
          <qf-scores-list></qf-scores-list>
        <% end %>
      <% end %>

      <div
        ref="deadline"
        data-date="<%= SeasonToggles.current_round_deadline(current_judge) %>"
      ></div>
    </div>
  </div>
<% end %>
