<header class="navigation" role="banner">
  <div class="container">
    <div class="navigation__content-wrapper">
      <%= link_to image_tag("tc-logo-white-tm.png"),
        admin_dashboard_path,
        class: "logo" %>

      <nav>
        <ul class="navigation__links-list">
          <li class="nav-link <%= al(admin_dashboard_path) %>">
            <%= link_to "Dashboard", admin_dashboard_path %>
          </li>

          <li class="nav-divider"></li>

          <li class="nav-link <%= al(admin_profiles_path) %>">
            <%= link_to "Accounts", admin_profiles_path %>
          </li>

          <li class="nav-link <%= al(admin_regional_ambassadors_path) %>">
            <%= link_to "Regional Ambassadors", admin_regional_ambassadors_path %>
          </li>

          <li class="nav-link <%= al(admin_background_checks_path) %>">
            <%= link_to "Background Checks", admin_background_checks_path %>
          </li>

          <li class="nav-link <%= al(admin_signup_attempts_path) %>">
            <%= link_to "Signup attempts", admin_signup_attempts_path %>
          </li>

          <li class="nav-divider"></li>

          <li class="nav-link <%= al(admin_teams_path) %>">
            <%= link_to "Teams", admin_teams_path %>
          </li>

          <li class="nav-link <%= al(admin_team_submissions_path) %>">
            <%= link_to "Team Submissions", admin_team_submissions_path %>
          </li>

          <li class="nav-divider"></li>

          <li class="nav-link <%= al(admin_regional_pitch_events_path) %>">
            <%= link_to "Regional Pitch Events", admin_regional_pitch_events_path %>
          </li>

          <li class="nav-link <%= al(admin_scores_path) %>">
            <%= link_to "Quarterfinals Scores", admin_scores_path %>
          </li>

          <li class="nav-link <%= al(admin_semifinals_scores_path) %>">
            <%= link_to "Semifinals Scores", admin_semifinals_scores_path %>
          </li>

          <li class="nav-divider"></li>

          <li class="nav-link logout">
            <%= link_to "Logout", logout_path, data: { method: :delete } %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
