<nav class="profile">
  <ul>
    <li><%= link_to "Admin", admin_dashboard_path %></li>
    <li><%= link_to "Accounts", admin_accounts_path %></li>
    <li><%= link_to "Regional Ambassadors", admin_regional_ambassadors_path %></li>
    <li><%= link_to "Teams", admin_teams_path %></li>
    <li><%= link_to "Background Checks", admin_background_checks_path %></li>
  </ul>
</nav>
