<h6>Technovation Admin</h6>

<nav>
  <% if current_account.full_admin? %>
    <%= link_to "Dashboard",
      admin_dashboard_path,
      class: al(admin_dashboard_path) %>

    <%= link_to "Content & Settings",
      edit_admin_season_schedule_settings_path,
      class: al(edit_admin_season_schedule_settings_path) %>

    <%= link_to "Participants",
      admin_participants_path,
      data: { turbolinks: false },
      class: al(admin_participants_path) %>

    <%= link_to "Teams",
      admin_teams_path,
      data: { turbolinks: false },
      class: al(admin_teams_path) %>

    <%= link_to "Submissions",
      admin_team_submissions_path,
      data: { turbolinks: false },
      class: al(admin_team_submissions_path) %>

    <%= link_to "Events",
      admin_events_path,
      class: al(admin_events_path) %>

    <%= link_to "Scores",
      admin_scores_path,
      class: al(admin_scores_path) %>

    <%= link_to "Scores export",
      admin_score_exports_path,
      class: al(admin_score_exports_path) %>

    <%= link_to "Certificates",
    admin_certificates_path,
    class: al(admin_certificates_path) %>

    <%= link_to "Judges",
      admin_judges_path,
      class: al(admin_judges_path) %>

    <%= link_to "Invite users",
      admin_user_invitations_path,
      class: al(admin_user_invitations_path) %>

    <%= link_to "Admins",
      admin_admins_path,
      class: al(admin_admins_path) %>

    <%= link_to "Background jobs",
      "/sidekiq",
      target: :_blank,
      data: { turbolinks: false } %>
  <% end %>

  <hr />

  <p><%= current_account.name %></p>

  <%= link_to "Logout", logout_path, data: { method: :delete } %>
</nav>