<h1><%= t('views.judges.scores.index.title') %></h1>

<%= render 'judge_submissions_link' %>

<table class="table-minimal">
  <thead>
    <tr>
      <th><%= t('models.scores.team_name') %></th>
      <th><%= t('models.scores.total') %></th>
      <th><%= t('views.application.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.team_name %></td>
        <td><%= score.total %></td>
        <td>
          <%= link_to(
                t('views.application.edit'),
                edit_judges_submission_score_path(score.submission, score)
              ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
