<h1><%= t('views.judges.scores.index.title') %></h1>

<ul>
  <% @submissions.each do |submission| %>
    <li><%= link_to t('controllers.judges.scores.new.add',
                      team_name: submission.team_name),
                    new_judges_submission_score_path(submission) %></li>
  <% end %>
</ul>

<table class="table-minimal">
  <thead>
    <tr>
      <th><%= t('models.scores.total') %></th>
      <th><%= t('views.application.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.total %></td>
        <td>
          <%= link_to(
                t('views.application.edit'),
                edit_judges_submission_score_path(score.submission, score)
              ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
