<h1>Add new score</h1>

<%= simple_form_for [:judges, @score] do |f| %>
  <% @score.categories.each do |category| %>

    <h2><%= category.name %></h2>

    <% category.score_attributes.each do |attribute| %>
      <%= f.label attribute.label %>

      <%= f.collection_radio_buttons :score_value_id,
                                     attribute.score_values.map { |v|
                                       [v.id, v.label]
                                     },
                                     :first, :last,
                                     item_wrapper_class: "inline-radio" %>
    <% end %>
  <% end %>

  <%= f.button :submit, "Save" %>
<% end %>
