<% admin_chapter_ambassador ||= false %>

<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "mentor/teams/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Students" } do %>
    <h5 class="font-medium mb-4">Current Students</h5>

    <% if @team.students.onboarded.any? %>
      <%= render "mentor/teams/students/students_list",
        students: @team.students.onboarded %>
    <% else %>
      <p>Your team does not have any students</p>
    <% end %>

    <h5 class="font-medium mt-16">Pending Students</h5>
    <p class="tw-hint">
      These students are listed on your team,
      but are not yet eligible to compete.
    </p>

    <% if @team.students.onboarding.any? %>
      <%= render "mentor/teams/students/students_list",
        students: @team.students.onboarding %>
    <% else %>
      <p>Your team does not have any pending students</p>
    <% end %>

    <h5 class="font-medium mt-16">Requests to join your team</h5>

    <% if @team.pending_student_join_requests.present? %>
      <%= render "teams/rebrand/pending_requests",
        team: @team,
        requests: @team.pending_student_join_requests %>
    <% else %>
      <p>There are no pending join requests</p>
    <% end %>

    <h5 class="font-medium mt-16">Do you want more teammates?</h5>

    <% if !SeasonToggles.team_building_enabled? || SeasonToggles.judging_enabled_or_between? %>
      <p class="notice">
        Team building is not enabled at this time, so your team cannot add students.
      </p>
    <% elsif !@team.spot_available? %>
      <p class="notice">
        You cannot invite more students while you have a combined total
        of five members, invitations, and/or join requests.
      </p>
    <% elsif !@team.current? %>
      <p class="notice">
        <%= t("views.teams.show.past_team") %>
      </p>
    <% end %>

    <% if SeasonToggles.team_building_enabled? && !SeasonToggles.judging_enabled_or_between? %>
      <%= form_with model: @team,
        data: { submit_on_change: true },
        url: send("#{current_scope}_team_path", @team, { format: :json }),
        method: :patch do |f| %>

        <p>
          <%= f.check_box :accepting_student_requests,
            id: :team_accepting_student_requests %>

          <%= f.label :accepting_student_requests,
            "Allow other students to find our team and request to join us",
            for: :team_accepting_student_requests %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>