<%= simple_form_for current_chapterable,
  url: club_ambassador_club_headquarters_location_path do |f| %>

  <div class="mb-4">
    <%= f.label :headquarters_location, "Headquarters Location" %>
    <%= f.text_field :headquarters_location,
      placeholder: "Full address OR city, state, country",
      class: "mb-0"
    %>
    <p class="text-sm italic">
      The city entered for the headquarters will be used to map the location of your club.
    </p>
  </div>

  <p class="mt-8">
    <%= f.submit "Save", class: "tw-green-btn" %>
      or
    <%= link_to "cancel", club_ambassador_club_location_path %>
  </p>
<% end %>
