<h3>Technical - <%= score.technical_total %></h3>

<dl>
  <dt>
    The app is fully functional and has no noticeable bugs.
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(score.app_functional) %>
  </dd>

  <dt>
    The demo video demonstrates the functionality of the app well.
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(score.demo_video) %>
  </dd>

  <dt>
    Technical Checklist
  </dt>
  <dd>
    <%= score.team_submission_team_name %>
    earned
    <%= pluralize(score.total_technical_checklist, 'point') %>
    from their technical checklist.
  </dd>

  <dt>Comment:</dt>
  <dd><%= simple_format score.technical_comment %></dd>
</dl>
