<%= form_with model: current_mentor, url: mentor_bio_path, data: { turbo: false }, local: true  do |f| %>
  <%= f.label :bio, "Tell the students about yourself" %>
  <%= f.text_area :bio, id: "mentor_profile_bio" %>

  <%= content_tag :p, data: { keep_count_of: "#mentor_profile_bio" } do %>
    <span><%= (f.object.bio || "").length %></span>
    <span><%= "character".pluralize((f.object.bio || "").length) %></span>
  <% end %>

  <p class="tw-hint">
    Please provide at least 100 characters (about 15 words). Maximum 1500 characters. 
  </p>

  <p class="text-center">
    <%= f.submit "Save", class: "tw-green-btn inline-block" %>
  </p>
<% end %>