<div class="sidebar">
  <%= render 'student/mentor_searches/filter_options' %>
</div>

<div class="content">
  <h1><%= t("views.student.mentor_searches.title") %></h1>

  <p><%= t("views.student.mentor_searches.intro") %></p>

  <%= render(partial: 'student/mentor_searches/mentor_preview',
              collection: @mentors) or
        t("views.student.mentor_searches.none_found") %>

  <%= will_paginate @mentors %>
</div>
