<h3>Ideation - <%= @score.ideation_total %> points</h3>

<dl>
  <dt>
    The team clearly demonstrates how their app idea aligns with their
    selected Technovation theme of the UN Sustainable Development Goal:
    <%= @score.team_submission_stated_goal %>
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(@score.sdg_alignment) %>
  </dd>

  <dt>
    The team has clearly outlined and provided evidence through facts
    and statistics of the problem they are addressing.
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(@score.evidence_of_problem) %>
  </dd>

  <dt>
    The app effectively addresses the problem that was outlined.
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(@score.problem_addressed) %>
  </dd>

  <dt>Comment:</dt>
  <dd><%= simple_format @score.ideation_comment %></dd>
</dl>