<h3>Overall Impression - <%= @score.overall_impression_total %> points</h3>

<dl>
  <dt>
    Are you convinced the business plan is feasible and that the business could succeed?
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(@score.business_plan_feasible) %>
  </dd>

  <dt>
    Was each component of the team submission well thought out?
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(@score.submission_thought_out) %>
  </dd>

  <dt>
    Was there a cohesive and well communicated story about the problem and the solution?
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(@score.cohesive_story) %>
  </dd>

  <dt>
    Does the app address the problem in an original way?
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(@score.solution_originality) %>
  </dd>

  <dt>
    Does the app solution stand out from other teams?
  </dt>
  <dd>
    <%= JudgingRubricScores::Explain.(@score.solution_stands_out) %>
  </dd>

  <dt>Comment:</dt>
  <dd><%= simple_format @score.overall_comment %></dd>
</dl>
