<div class="grid">
  <% scores.each do |score| %>
    <div class="grid__col-6 ">
      <p>
        Judge Location: <%= score.judge_profile.address_details %>
      </p>
      <div class="score-title">
        <p class="score-title-left"><strong>Total Score:</strong></p>
        <p class="score-title-right"> <%= score.total %></p>
      </div>

      <dl class="accordion">

        <dt> Ideation: <%= score.ideation_total %> </dt>
        <dd>
          <%= render "student/scores/ideation",
              score: score %>
        </dd>


        <dt>Technical: <%= score.technical_total %></dt>
        <dd>
          <%= render "student/scores/technical",
              score: score  %>
        </dd>

        <% if current_team.senior? %>
          <dt>Entrepreneurship: <%= score.entrepreneurship_total %></dt>
          <dd>
            <%= render "student/scores/entrepreneurship",
                score: score  %>
          </dd>
        <% end %>


        <dt>Pitch: <%= score.pitch_total %></dt>
        <dd>
          <%= render "student/scores/pitch",
              score: score  %>
        </dd>


        <dt>Overall Impression: <%= score.overall_impression_total %></dt>
        <dd>
          <%= render "student/scores/overall_impression",
              score: score  %>
        </dd>
      </dl>

    </div>
  <% end %>
</div>
