<% if current_team.submission.complete? && current_team.submission.scores.complete.any? %>
  <p>
    Congratulations! Your team was a <%= current_team.submission.contest_rank %>.
  </p>

  <% if !current_student.took_program_survey? %>
    <%= render "student/scores/post_survey_requirement" %>
  <% else %>
    <%= render "student/scores/scores_overview" %>
  <% end %>

<% elsif current_team.submission.complete? %>
  <p>
    Congratulations on completing your submission! Your certificate is ready.
    To see your scores from your live event, ask your Chapter Ambassador for a copy.
  </p>

  <% if !current_student.took_program_survey? %>
    <%= render "student/scores/post_survey_requirement" %>
  <% else %>
    <div class="step-actions">
      <%= link_to 'View your certificate',
          student_scores_path,
          class: "button",
          disabled: !current_student.took_program_survey?%>
    </div>
  <% end %>
<% elsif !current_team.submission.complete? || !current_team.submission.present? %>
  <h3>No Scores Available</h3>

  <p>
    Unfortunately, no scores are available for <%= current_team.name %>
    because the submission was incomplete. Ask your mentor for
    feedback on how to improve for next year!
  </p>

  <% if current_team.submission.present? %>
    <p>
      <%= link_to "Open your submission page",
          project_path(current_team.submission),
          class: "button",
          target: "_blank" %>
    </p>
  <% end %>
<% else %>
  <h3>Congratulations!</h3>

  <p>
    Congratulations on completing the <%= Season.current.year %>
    season of Technovation! Your can use the feedback you
    received at your pitch event to help learn more and to
    participate in Technovation next year. Your team should be proud
    of your work and share it with your friends and mentors!
  </p>

  <p>
    <%= link_to "Open your submission page",
        project_path(current_team.submission),
        class: "button",
        target: "_blank" %>
  </p>
<% end %>
