<div class="grid">
  <% scores.each do |score| %>
    <% globes = %w{ðŸŒ ðŸŒŽ ðŸŒ}.shuffle %>

    <div class="grid__col-6">
      <div class="score-title">
        <div class="score-title__total">
          <%= score.total %><sub>/<%= score.total_possible %></sub>
        </div>

        <div class="score-title__judge">
          from<br />
          <%= globes.pop %>
          <strong><%= score.judge_profile.address_details %></strong>
          <%= globes.pop %>
        </div>
      </div>

      <dl class="accordion">
        <dt>Ideation <span><%= score.ideation_total %></span></dt>

        <dd>
          <%= render "student/scores/section",
            score: score,
            section: :ideation %>
        </dd>

        <dt>Technical <span><%= score.technical_total %></span></dt>

        <dd>
          <%= render "student/scores/section",
            score: score,
            section: :technical %>
        </dd>

        <% if current_team.senior? %>
          <dt>Entrepreneurship <span><%= score.entrepreneurship_total %></span></dt>

          <dd>
            <%= render "student/scores/section",
              score: score,
              section: :entrepreneurship %>
          </dd>
        <% end %>

        <dt>Pitch <span><%= score.pitch_total %></span></dt>

        <dd>
          <%= render "student/scores/section",
            score: score,
            section: :pitch %>
        </dd>

        <dt>Overall Impression <span><%= score.overall_impression_total %></span></dt>

        <dd>
          <%= render "student/scores/section",
            score: score,
            section: :overall %>
        </dd>
      </dl>
    </div>
  <% end %>
</div>
