<div class="">
  <div class="grid__col-12">
    Average <%= String(round).titlecase %> Score
    <span>
      <%= scores.average_score(round) %>
      <sub>/<%= scores.total_possible %></sub>
    </span>
  </div>
</div>

<div class="grid">
  <% scores.sort_by(&:total).reverse.each do |score| %>
    <% questions = Questions.for(score) %>
    <% globes = %w{ðŸŒ ðŸŒŽ ðŸŒ}.shuffle %>

    <div class="grid__col-6">
      <div class="score-title">
        <div class="score-title__total">
          <%= score.total %><sub>/<%= score.total_possible %></sub>
        </div>

        <div class="score-title__judge">
          from<br />
          <%= globes.pop %>
          <strong><%= score.judge_profile.address_details %></strong>
          <%= globes.pop %>
        </div>
      </div>

      <dl class="accordion">
        <% questions.sections_for(division: score.team.division_name).each do |section| %>
          <dt>
            <% if section === "ideation" %>
              Learning Journey
            <% elsif section === "entrepreneurship" %>
              <%= current_team.senior? ? "Business Plan" : "User Adoption Plan" %>
            <% else %>
              <%= section.titlecase %>
            <% end %>
            (<%= score.total_points_for_section(score.team.division_name,section) %>)
            <span class="custom-dropdown"> <img  src="https://icongr.am/fontawesome/chevron-down.svg?color=903D54" /></span>
            <span class="numeric-score"><%= score.total_for_section(section)%></span>
          </dt>
          <dd>
            <%= render "student/scores/section",
                       score: score,
                       section: section %>
          </dd>
        <%end %>
      </dl>
    </div>
  <% end %>

  <%= render "student/scores/score_explanation" %>
</div>
