<div class="grid score-banner">
  <div class="grid__col-12">
    Average <%= String(round).titlecase %> Score
    <span>
      <%= scores.average_score(round) %>
      <sub>/<%= scores.total_possible %></sub>
    </span>
  </div>
</div>

<div class="grid judging-banner">
  <div class="grid__col-6">
    <h3 class="judging-banner__header">
      Scores Explained
    </h3>

    <dl>
      <dt>1: Incomplete</dt>
      <dd>The work is missing.</dd>

      <dt>2: Needs Improvement.</dt>
      <dd>The work needs major improvement.</dd>
    </dl>
  </div>

  <div class="grid__col-6">
    <dl>
      <dt>3: Acceptable.</dt>
      <dd>The work needs minor improvement.</dd>

      <dt>4: Good.</dt>
      <dd>The work is of good quality.</dd>

      <dt>5: Excellent.</dt>
      <dd>The work is of excellent quality.</dd>
    </dl>
  </div>
</div>

<div class="grid">
  <% scores.sort_by(&:total).reverse.each do |score| %>
    <% globes = %w{ðŸŒ ðŸŒŽ ðŸŒ}.shuffle %>

    <div class="grid__col-6">
      <div class="score-title">
        <div class="score-title__total">
          <%= score.total %><sub>/<%= score.total_possible %></sub>
        </div>

        <div class="score-title__judge">
          from<br />
          <%= globes.pop %>
          <strong><%= score.judge_profile.address_details %></strong>
          <%= globes.pop %>
        </div>
      </div>

      <dl class="accordion">
        <dt>Ideation
            <span class="custom-dropdown"> <img  src="https://icongr.am/fontawesome/chevron-down.svg?color=903D54" /></span>
            <span class="numeric-score"><%= score.ideation_total %></span>
        </dt>

        <dd>
          <%= render "student/scores/section",
            score: score,
            section: :ideation %>
        </dd>

        <dt>Technical
          <span class="custom-dropdown"> <img  src="https://icongr.am/fontawesome/chevron-down.svg?color=903D54" /></span>
          <span class="numeric-score">
            <%= score.technical_total %>
          </span>
        </dt>

        <dd>
          <%= render "student/scores/section",
            score: score,
            section: :technical %>
        </dd>

        <% if current_team.senior? %>
          <dt>Entrepreneurship
            <span class="custom-dropdown"> <img  src="https://icongr.am/fontawesome/chevron-down.svg?color=903D54" /></span>
            <span class="numeric-score"><%= score.entrepreneurship_total %></span>
          </dt>

          <dd>
            <%= render "student/scores/section",
              score: score,
              section: :entrepreneurship %>
          </dd>
        <% end %>

        <dt>Pitch
          <span class="custom-dropdown"> <img  src="https://icongr.am/fontawesome/chevron-down.svg?color=903D54" /></span>
          <span class="numeric-score"><%= score.pitch_total %></span>
        </dt>

        <dd>
          <%= render "student/scores/section",
            score: score,
            section: :pitch %>
        </dd>

        <dt>Overall Impression
          <span class="custom-dropdown"> <img  src="https://icongr.am/fontawesome/chevron-down.svg?color=903D54" /></span>
          <span class="numeric-score"><%= score.overall_impression_total %></span>
        </dt>

        <dd>
          <%= render "student/scores/section",
            score: score,
            section: :overall %>
        </dd>
      </dl>
    </div>
  <% end %>
</div>
