<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render layout: 'application/templates/dashboards/side_nav', locals: { heading: 'My Scores'} do%>
    <div class="p-6" id="tab-wrapper">
      <%= render 'student/scores/side_nav_content' %>
    </div>
  <% end %>
  <%= render layout: 'application/templates/dashboards/energetic_container', locals: { heading: 'Scores'} do %>
    <div class="tab">
      <div id="scores-tab-content" class="tab-content tw-active">
        <% if current_student.onboarded? && SeasonToggles.display_scores? %>
          <% if current_team.submission.complete? %>
            <%= render "student/scores/scores_and_certificates" %>
          <% elsif current_student.participated? %>
            <%= render "student/scores/participation_certificate" %>
          <% else %>
            <h1 class="content-heading">Thank you for your participation</h1>
            <p>
              Unfortunately, no scores are available for your team because your
              submission was incomplete. We hope you will continue working on your
              app and join us again next season!
            </p>
          <% end %>
        <% else %>
          <%= render 'explanations/feature_not_available', feature: :scores %>
        <% end %>
      </div>

      <div id="certificates-tab-content" class="tab-content">
        <% if !current_student.took_program_survey? %>
          <%= render "student/scores/post_survey_requirement" %>
        <% else %>
          <%= render 'student/scores/certificates' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
