<h3 class="heading--page">View your Scores and Certificate</h3>

<div id="student-scores-tabs" class="tabs">
  <ul class="score-tabs-menu tabs__menu">
    <% if @quarterfinals_scores.official.any? %>
      <li class="tabs__menu-link">
        <button
          class="tabs__menu-button"
          data-tab-id="quarterfinal"
        >Quarterfinals</button>
      </li>
    <% end %>

    <% if @quarterfinals_scores.unofficial.any? %>
      <li class="tabs__menu-link">
        <button
          class="tabs__menu-button"
          data-tab-id="unofficial"
        >Celebration Scores</button>
      </li>
    <% end %>

    <% if @semifinals_scores.any? %>
      <li class="tabs__menu-link">
        <button
          class="tabs__menu-button"
          data-tab-id="semifinal"
        >Semifinals</button>
      </li>
    <% end %>

    <li class="tabs__menu-link">
      <button
        class="tabs__menu-button"
        data-tab-id="certificates"
      >Certificate</button>
    </li>
  </ul>

  <div class="score-tab-content tabs__content">
    <% if @quarterfinals_scores.official.any? %>
      <div class="score-tab tabs__tab-content" id="quarterfinal">
        <%= render "student/scores/scores",
          round: :quarterfinals,
          scores: @quarterfinals_scores.official %>
      </div>
    <% end %>

    <% if @quarterfinals_scores.unofficial.any? %>
      <div class="score-tab tabs__tab-content" id="unofficial">
        <%= render "student/scores/scores",
          round: UnofficialJudgingRound.new,
          scores: @quarterfinals_scores.unofficial %>
      </div>
    <% end %>

    <% if @semifinals_scores.any? %>
      <div class="score-tab tabs__tab-content" id="semifinal">
        <%= render "student/scores/scores",
          round: :semifinals,
          scores: @semifinals_scores %>
      </div>
    <% end %>

    <div class="score-tab tabs__tab-content" id="certificates">
      <h2>YOU DID IT!</h2>

      <p>
        Congratulations on developing real change for your community and the world.
        We hope you take the time to celebrate your accomplishment with your team —
        and maybe even show off your certificate! 👏
      </p>

      <p>
        Download and share your achievement on
        <a href="https://twitter.com/technovation">Twitter</a>,
        <a href="https://www.facebook.com/technovationglobal">Facebook</a>,
        <a href="https://www.instagram.com/technovationglobal">Instagram</a>, or
        <a href="https://www.linkedin.com/company/technovation">LinkedIn</a>
        use hashtag #Technovation2021Alum.
      </p>

      <p>
        Congratulations again, and we hope you enjoy your certificate.
      </p>

      <%= image_tag "certificates-congrats.svg", width: 500 %>

      <div class="certificates-btn-wrapper">
        <% @certificates.each do |certificate| %>
          <%= link_to "Open your #{certificate.cert_type} certificate",
            certificate.file_url,
            target: "_blank",
            class: "certificates-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
