<h3>Breakdown</h3>

<table class="ra-participants-list">
  <thead>
    <tr>
      <th>Ideation</th>
      <th>Technical</th>
      <% if current_team.division.senior? %>
        <th>Entrepreneurship</th>
      <% end %>
      <th>Pitch</th>
      <th>Overall impression</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @score.ideation_total %></td>
      <td><%= @score.technical_total %></td>
      <% if current_team.division.senior? %>
        <td><%= @score.entrepreneurship_total %></td>
      <% end %>
      <td><%= @score.pitch_total %></td>
      <td><%= @score.overall_impression_total %></td>
      <td><strong><%= @score.total %></strong></td>
    </tr>
  </tbody>
</table>

<p>
  <em>You earned <strong><%= @score.total_technical_checklist_verified %> points</strong> from your technical checklist.</em>
</p><br>

<div id="ra-scores-detail" class="flex-row tabs tabs-vertical">
  <div class="content flex-col-md-9">

    <div class="score-section" id="score-section-ideation">
      <%= render 'student/scores/ideation' %>
    </div><hr>

    <div class="score-section" id="score-section-technical">
      <%= render 'student/scores/technical' %>
    </div><hr>

    <% if current_team.division.senior? %>
      <div class="score-section" id="score-section-entrepreneurship">
        <%= render 'student/scores/entrepreneurship' %>
      </div><hr>
    <% end %>

    <div class="score-section" id="score-section-pitch">
      <%= render 'student/scores/pitch' %>
    </div><hr>

    <div class="score-section" id="score-section-overall">
      <%= render 'student/scores/overall' %>
    </div><hr>

  </div>
</div>

<%=link_to "Back", student_dashboard_path %>
