<div class="grid__col-sm-4 grid__col--bleed">
  <div class="search-result-head">
    <%= image_tag result.team_photo_url, class: "grid__cell-img" %>

    <h3><%= result.name %></h3>

    <p><%= result.primary_location %></p>

    <div class="badges">
      <span class="badge badge-success">
        <%= t("views.application.division") %>: <%= result.division.name.humanize %>
      </span>
    </div>
  </div>

  <div class="search-result-foot grid--justify-center grid__cell-footer">
    <p>
      <%= link_to "Ask to join this team",
        [:new, current_scope, :join_request, { team_id: result.id }],
        class: 'button' %>
    </p>
  </div>
</div>
