<div class="team-search-result">
  <div class="team-search-result__card">
    <div class="team-search-result__photo">
      <%= image_tag result.team_photo_url, width: 120, height: 120 %>
    </div>

    <p class="team-search-result__name">
      <%= result.name %>
    </p>

    <p class="team-search-result__location">
      <%= result.creator_address_details %>
    </p>

    <p class="team-search-result__blurb">
      <%= truncate(result.description, length: 80) %>
    </p>

    <%= link_to t("views.team_searches.new.results_link_label"),
      [:new, account_type, :join_request, { team_id: result.id }],
      class: 'appy-button team-search-result__link-wrapper' %>
  </div>
</div>
