<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8 grid__col--bleed-x">
    <h3 class="reset">
      <%= t(
        "views.join_requests.show.greeting",
        name: @join_request.requestor_name,
        team_name: @join_request.team_name,
      ) %>
    </h3>

    <p><%= t("views.join_requests.show.message") %></p>
  </div>
</div>

<div class="grid grid--bleed grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="grid__cell">
      <h1 class="page-heading"><%= @join_request.requestor_name %></h1>
    </div>
  </div>
</div>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8">
    <div class="grid grid--bleed">
      <div class="grid__col-sm-4">
        <div class="grid__cell">
          <%= image_tag @join_request.requestor.profile_image_url,
            class: "thumbnail-lg grid__cell-img" %>
        </div>
      </div>

      <div class="grid__col-sm-4">
        <dl>
          <% unless @join_request.requestor.student_profile.present? %>
            <dt><%= t('models.account.gender') %></dt>
            <dd><%= @join_request.requestor.gender %></dd>
          <% end %>

          <dt><%= t('models.account.address') %></dt>
          <dd><%= @join_request.requestor.address_details %></dd>
        </dl>
      </div>

      <div class="grid__col-sm-4">
        <dl>
          <%= render "#{@join_request.requestor.scope_name}/profiles/public_profile",
            account: @join_request.requestor %>
        </dl>
      </div>
    </div>

    <% if @join_request.requestor.respond_to?(:bio) %>
      <div class="grid">
        <div class="grid__col-auto grid__col--bleed-x">
          <dl>
            <dt><%= t('models.profile.bio') %></dt>
            <dd><%= simple_format @join_request.requestor.bio %></dd>
          </dl>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8 grid__col--bleed">
    <div class="grid">
      <%= button_to(
        t("controllers.join_requests.update.accept",
          name: @join_request.requestor_name),
          send("#{current_scope}_join_request_path", @join_request),
        class: "button small",

        params: {
          join_request: { status: :approved },
        },

        method: :put,

        data: {
          confirm: t("views.join_requests.form.confirm_accept"),
          positive: true,
        },

        form_class: "grid__col-sm-6 grid__col--bleed-x grid--align-center"
      ) %>

      <%= button_to(
        t("controllers.join_requests.update.decline",
          name: @join_request.requestor_name),
          send("#{current_scope}_join_request_path", @join_request),
        class: "button danger small",

        params: {
          join_request: { status: :declined },
        },

        method: :put,

        data: {
          confirm: t("views.join_requests.form.confirm_decline"),
        },

        form_class: "grid__col-sm-6 grid__col--bleed-x grid--align-center"
      ) %>
    </div>
  </div>
</div>
