<h1>Edit Location for <span><%= @team.name %></span></h1>

<%= simple_form_for [:admin, @team] do |f| %>
  <%= f.input :city %>

  <%= f.input :state_province,
    label: t("models.account.state_province") %>

  <%= f.input :country,
    collection: CountryStateSelect.countries_collection,
    input_html: {
      class: "chosen",
      id: "account_country",
    } %>

  <p>
    <%= f.submit "Save", class: "appy-button" %>
  </p>
<% end %>
