<h3 class="info-heading">Competition Qualification</h3>

<% if team.qualified? %>
  <p class="scent">
    <%= web_icon "check-circle", class: "icon-green" %>
    Every member of <%= team.name %> is qualified to compete. Well done!
  </p>
<% else %>
  <p class="scent">
    <%= web_icon "exclamation-circle", class: "icon-red" %>
    <%= team.name %> is not qualified to compete!
  </p>

  <% if team.students.any? %>
    <p class="scent">
      The following students need to finish their registration:
    </p>

    <% team.students.onboarding.each do |pending_student| %>
      <div class="onboarding-reminder">
        <%= image_tag pending_student.profile_image_url, class: "thumbnail-xs" %>
        <%= pending_student.full_name %>
      </div>
    <% end %>

    <p>
      <%= link_to "Fix this now",
        student_pending_teammates_path,
        class: "button small" %>
    </p>
  <% else %>
    <p class="scent">
      This team has no students! Have you invited them to sign up and join the team?
    </p>
  <% end %>
<% end %>
