<% submission.while_qualified do %>
  <p class="scent">
    <%= web_icon "check-circle", class: "icon--green" %>
    Great job! Your app is qualified to be submitted for judging!
  </p>

  <p class="scent">
    <%= web_icon("exclamation-circle", class: "icon--green") %>
    Even after submitting,
    <strong>you will be able to make changes</strong>
    until April 26.
  </p>

  <p>
    <%= link_to "Submit for judging",
      [current_scope, :published, submission],
      class: "button" %>
  </p>
<% end %>

<% submission.while_unqualified do %>
  <p class="scent">
    <%= web_icon "exclamation-circle", class: "icon--red" %>
    Your submission still has deliverables that are not complete.
  </p>

  <p class="scent">
    Once your team is fully qualified, and you have finished all of the
    deliverables, you will be able to submit your app for the judging
    rounds.
  </p>

  <p class="scent">
    <%= web_icon("exclamation-circle", class: "icon--green") %>
    Even after submitting,
    <strong>you will be able to make changes</strong>
    until April 26.
  </p>

  <p>
    <%= link_to "Submit for judging", "#",
      class: "button button--disabled",
      disabled: true %>
  </p>
<% end %>
