<% submission.while_qualified do %>
  <% submission.awaiting_publish do %>
    <%= render "team_submissions/qualified_students_reminder",
      team: submission.team %>

    <p class="scent">
      <%= web_icon "check-circle", class: "icon--green" %>
      Great job! Your <%= t("submissions.app") %> is qualified to be submitted for judging!
    </p>

    <p class="scent">
      <%= web_icon("exclamation-circle", class: "icon--green") %>
      Even after submitting,
      <strong>you will be able to make changes</strong>
      until <%= Season.deadline %>.
    </p>

    <p>
      <%= link_to "Review and submit",
        send("#{current_scope}_published_team_submission_path", submission),
        class: "button" %>
    </p>
  <% end %>

  <% submission.already_published do %>
    <p class="scent">
      <%= web_icon "check-circle", class: "icon--green" %>
      Your <%= t("submissions.app") %>  has been entered for judging!
    </p>

    <p class="scent">
      <%= web_icon("exclamation-circle", class: "icon--green") %>
      <strong>You are allowed to make changes</strong> until <%= Season.deadline %>.
    </p>

    <p>
      <%= link_to "View your complete submission",
        send("#{current_scope}_published_team_submission_path", { id: submission.to_param }),
        class: "button" %>
    </p>
  <% end %>
<% end %>

<% submission.while_unqualified do %>
  <%= render "team_submissions/qualified_students_reminder",
    team: submission.team %>

  <p class="scent">
    Once your team is fully qualified, and you have finished all of the
    deliverables, you will be able to submit your <%= t("submissions.app") %>  for the judging
    rounds.
  </p>

  <p class="scent">
    <%= web_icon("exclamation-circle", class: "icon--green") %>
    Even after submitting,
    <strong>you will be able to make changes</strong>
    until <%= Season.deadline %>.
  </p>

  <p>
    <%= link_to "Submit for judging", "#",
      class: "button button--disabled",
      disabled: true %>
  </p>

  <p class="scent">
    <%= web_icon "exclamation-circle", class: "icon--red" %>
    Your submission still has deliverables that are not complete.
  </p>
<% end %>
