<% embedded ||= false %>

<div class="progress">
  <div class="progress__section">
    <h1>Start</h1>

    <ol class="list--reset">
      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :honor_code,
          "Honor code"
        ),
        [
          current_scope,
          :honor_code,
          team_submission_id: submission.id,
        ] %>
      </li>

      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :team_photo,
          "Team photo"
        ),
        [current_scope, current_team] %>
      </li>
    </ol>
  </div>

  <div class="progress__section">
    <h1>Ideation</h1>

    <ol class="list--reset">
      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :app_name,
          "Your app's name"
        ),
        [current_scope, submission, piece: :app_name] %>
      </li>

      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :app_description,
          "A description of your app"
        ),
        [current_scope, submission, piece: :app_description] %>
      </li>
    </ol>
  </div>

  <div class="progress__section">
    <h1>Marketing</h1>

    <ol class="list--reset">
      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :demo_video,
          "Demo video"
        ),
        [current_scope, submission, piece: :demo_video_link] %>
      </li>

      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :screenshots,
          "2 or more screenshots"
        ),
        [current_scope, submission, piece: :screenshots] %>
      </li>
    </ol>
  </div>

  <div class="progress__section">
    <h1>Code</h1>

    <ol class="list--reset">
      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :development_platform,
          "Development platform"
        ),
        [current_scope, submission, piece: :development_platform] %>
      </li>

      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :source_code,
          "Upload your source code"
        ),
        [current_scope, submission, piece: :source_code] %>
      </li>

      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :code_checklist,
          "Code checklist*"
        ),
        [current_scope, submission, piece: :code_checklist] %>

        <% unless embedded %>
          <small>
            * The checklist does not have to be complete;<br />
            &nbsp;&nbsp;
            However, you may not change it after the deadline.
          </small>
        <% end %>
      </li>
    </ol>
  </div>

  <div class="progress__section">
    <h1>Business</h1>

    <ol class="list--reset">
      <li>
        <small>
          senior division teams only:
        </small>

        <%= link_to submission_progress_web_icon(
          submission,
          :business_plan,
          "Upload your business plan"
        ),
        [current_scope, submission, piece: :business_plan] %>
      </li>
    </ol>
  </div>

  <div class="progress__section">
    <h1>Pitch</h1>

    <ol class="list--reset">
      <li>
        <%= link_to submission_progress_web_icon(
          submission,
          :pitch_video,
          "Pitch video"
        ),
        [current_scope, submission, piece: :pitch_video_link] %>
      </li>

      <li>
        <small>
          only if attending a live, regional event:
        </small>

        <%= link_to submission_progress_web_icon(
          submission,
          :pitch_presentation,
          "Presentation slides"
        ),
        [current_scope, submission, piece: :pitch_presentation] %>
      </li>
    </ol>
  </div>
</div>
