<% embedded ||= false %>

<div class="progress">
  <% if SeasonToggles.team_submissions_editable? %>
    <div class="progress__section">
      <h1>
        <%= link_to "Start",
          send("#{current_scope}_team_submission_section_path", submission, section: :start) %>
      </h1>

      <ol class="ml-4">
        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :honor_code,
            "Honor code"
          ),
          send(
            "#{current_scope}_honor_code_path",
            team_submission_id: submission.id
          ) %>
        </li>
        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :team_photo,
            "Team photo"
          ),
          send(
            "#{current_scope}_team_submission_path",
            submission,
            piece: :team_photo
          ) %>
        </li>
      </ol>
    </div>

    <%= render 'application/templates/tw_thick_rule'%>

    <div class="progress__section">
      <h1>
        <%= link_to "Ideation",
          send(
            "#{current_scope}_team_submission_section_path",
            submission,
            section: :ideation
          ) %>
      </h1>

      <ol class="ml-4">
        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :app_name,
            "Your #{t("submissions.app")}'s name"
          ),
            send(
              "#{current_scope}_team_submission_path",
              submission,
              piece: :app_name
            )
          %>
        </li>

        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :app_description,
            "A description of your #{t("submissions.app")}"
          ),
            send(
              "#{current_scope}_team_submission_path",
              submission,
              piece: :app_description
            )
          %>
        </li>

        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :learning_journey,
            "Learning journey"
          ),
            send(
              "#{current_scope}_team_submission_path",
              submission,
              piece: :learning_journey
            )
          %>
        </li>

        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :screenshots,
            "2 or more images"
          ),
          send(
            "#{current_scope}_team_submission_path",
            submission,
            piece: :screenshots
          ),
          data: { turbolinks: false } %>
        </li>

        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :app_details,
            "Additional information"
          ),
            send(
              "#{current_scope}_team_submission_path",
              submission,
              piece: :app_details
            )
          %>
        </li>
      </ol>
    </div>

    <%= render 'application/templates/tw_thick_rule'%>

    <div class="progress__section">
      <h1>
        <%= link_to "Pitch",
          send(
            "#{current_scope}_team_submission_section_path",
            submission,
            section: :pitch
          )
        %>
      </h1>

      <ol class="ml-4">
        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :demo_video,
            t("submissions.demo_video").upcase_first
          ),
          send(
            "#{current_scope}_team_submission_path",
            submission,
            piece: :demo_video_link
          )
        %>
        </li>

        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :pitch_video,
            "Pitch video"
          ),
          send(
            "#{current_scope}_team_submission_path",
            submission,
            piece: :pitch_video_link
          )
         %>
        </li>
      </ol>
    </div>

    <%= render 'application/templates/tw_thick_rule'%>

    <div class="progress__section">
      <h1>
        <%= link_to "Technical Elements",
          send(
            "#{current_scope}_team_submission_section_path",
            submission,
            section: :code
          )
        %>
      </h1>

      <ol class="ml-4">
        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :development_platform,
            "Submission Type"
          ),
          send(
            "#{current_scope}_team_submission_path",
            submission,
            piece: :development_platform
          )
        %>
        </li>

        <li>
          <%= link_to submission_progress_web_icon(
            submission,
            :source_code_url,
            "Technical Additions"
          ),
          send(
            "#{current_scope}_team_submission_path",
            submission,
            piece: :source_code_url
          )
        %>
        </li>
      </ol>
    </div>

    <%= render 'application/templates/tw_thick_rule'%>

    <div class="progress__section">
      <h1>
        <%= link_to "Entrepreneurship",
          send(
            "#{current_scope}_team_submission_section_path",
            submission,
            section: :business
          )
        %>
      </h1>

      <ol class="ml-4">
        <li>
          <small>
            junior and senior division teams only:
          </small>

          <%= link_to submission_progress_web_icon(
            submission,
            :business_plan,
            "Your plan"
          ),
          send(
            "#{current_scope}_team_submission_path",
            submission,
            piece: :business_plan
          )
        %>
        </li>
      </ol>
    </div>

    <%= render 'application/templates/tw_thick_rule'%>

    <div class="progress__section">
      <h1>
       Submit
      </h1>

      <ol class="ml-4">

        <li>
          <%= render "team_submissions/finalize", submission: @team_submission %>
        </li>
      </ol>
    </div>

<% end %>
</div>
