<%= render 'team_submissions/pieces/piece',
  submission: submission,
  title: "Your app's name",
  scope: scope,
  attribute: :app_name,
  cta_when_empty: "Set your app's name",
  cta_when_filled: "Change your app's name" %>

<%= render 'team_submissions/pieces/piece',
  submission: submission,
  title: "A description of your app",
  scope: scope,
  yield_block: true,
  attribute: :app_description,
  cta_when_empty: "Add your app's description",
  cta_when_filled: "Change your app's description" do %>
  <%= simple_format(submission.app_description) %>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: submission,
  title: "Demo video",
  scope: scope,
  attribute: :demo_video_link,
  yield_block: true,
  cta_when_empty: "Add the demo video link",
  cta_when_filled: "Change the demo video link" do %>
  <%= submission.embed_code(:demo_video_link).html_safe %>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: submission,
  title: "Pitch video",
  scope: scope,
  yield_block: true,
  attribute: :pitch_video_link,
  cta_when_empty: "Add the pitch video link",
  cta_when_filled: "Change the pitch video link" do %>
  <%= submission.embed_code(:pitch_video_link).html_safe %>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: submission,
  title: "Development platform",
  scope: scope,
  attribute: :development_platform,
  cta_when_empty: "Select the development platform " +
                  "that your team used",
  cta_when_filled: "Change your selection" %>

<%= render 'team_submissions/pieces/piece',
  submission: submission,
  title: "Source code",
  scope: scope,
  yield_block: true,
  attribute: :source_code,
  cta_when_empty: "Upload your app's source code",
  cta_when_filled: "Change your upload" do %>
  <p>
    Your team has uploaded:
    <%= link_to submission.source_code_filename,
      submission.source_code_url %>
  </p>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: submission,
  title: "Screenshots",
  scope: scope,
  yield_block: true,
  attribute: :screenshots,
  cta_when_empty: "Upload screenshots of your app",
  cta_when_filled: "Make changes to your screenshots" do %>
  <p>
    Your team has uploaded
    <strong>
      <%= pluralize(
        submission.screenshots.persisted.count,
        "screenshot"
      ) %>
    </strong>
  </p>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: submission,
  title: "Code checklist",
  scope: scope,
  yield_block: true,
  attribute: :code_checklist,
  cta_when_empty: "Confirm your code checklist",
  cta_when_filled: "Make changes to your code checklist" do %>
  <p>
    Your team will earn
    <strong>
      <%= submission.code_checklist_points %>
      out of 10 possible points
    </strong>
    for your code checklist
  </p>
<% end %>

<div
  id="<%= dom_id(submission) %>_business_plan"
  class="
    panel
    submission-piece
    business_plan
    <%= completion_css(submission, :business_plan_url) %>
  "
>
  <h3 class="panel--heading">
    Business plan
  </h3>

  <% if team.senior? %>
    <% if submission.business_plan_url_complete? %>
      <p>
        Your team has uploaded:
        <%= link_to submission.business_plan_filename,
          submission.business_plan_url %>
      </p>

      <div class="panel--footer">
        <%= link_to "Change your upload",
          send(
            "edit_#{current_scope}_team_submission_path",
            submission,
            piece: :business_plan
          ),
          class: "button secondary small" %>
      </div>
    <% else %>
      <p class="scent">
        There's nothing here yet,
        but your team can update this part whenever it's ready!
      </p>

      <div class="panel--footer">
        <%= link_to "Upload your team's business plan",
          send(
            "edit_#{current_scope}_team_submission_path",
            submission,
            piece: :business_plan
          ),
          class: "button small" %>
      </div>
    <% end %>
  <% else %>
    <p class="scent--strong">
      Your team is in the
      <strong>
        <%= team.division_name.humanize %>
        Division
      </strong>
    </p>

    <p class="scent">
      Uploading a business plan is
      <strong>not required</strong>
      in the Junior Division.
    </p>

    <p class="scent">
      If your team has put one together, that is awesome!
      Hold on to it for your own records and be extremely proud!
    </p>
  <% end %>
</div>

<div
  id="<%= dom_id(submission) %>_pitch_presentation"
  class="
    panel
    submission-piece
    <%= completion_css(
      submission,
      :pitch_presentation_url
    ) %>
  "
>
  <h3 class="panel--heading">
    Pitch presentation slides
  </h3>

  <% if team.selected_regional_pitch_event.live? %>
    <% if submission.pitch_presentation_url_complete? %>
      <p>
        Your team has uploaded:
        <%= link_to submission.pitch_presentation_filename,
          submission.pitch_presentation_url %>
      </p>

      <div class="panel--footer">
        <%= link_to "Change your upload",
          send(
            "edit_#{current_scope}_team_submission_path",
            submission,
            piece: :pitch_presentation
          ),
          class: "button secondary small" %>
      </div>
    <% else %>
      <p class="scent">
        There's nothing here yet,
        but your team can update this part whenever it's ready!
      </p>

      <div class="panel--footer">
        <%= link_to(
          "Upload the pitch presentation slides " +
          "for your live event",
          send(
            "edit_#{current_scope}_team_submission_path",
            submission,
            piece: :pitch_presentation
          ),
          class: "button small"
        ) %>
      </div>
    <% end %>
  <% else %>
    <p class="scent--strong">
      Your team is not set to attend a live regional pitch event.
    </p>

    <p>
      In March and April,
      Regional Ambassadors will invite teams
      to pitch at a live event.
    </p>

    <p>
      If your team is invited,
      then you will be required to upload
      your pitch presentation slides here.
    </p>

    <p class="scent">
      (pitching at a live regional event is not required)
    </p>
  <% end %>
</div>
