<% if team.qualified? %>
  <p class="scent">
    <%= web_icon "check-circle", class: "icon-green" %>
    Every member of <%= team.name %> is qualified to compete. Well done!

    <%= link_to "what is this?", "#",
      class: "small tw-link",
      data: {
        opens_modal: "explain_qualified_students_reminder",
      } %>
  </p>
<% else %>
  <p class="scent">
    <%= web_icon "exclamation-circle", class: "icon-red" %>
    <%= team.name %> is not qualified to compete!

    <%= link_to "what is this?", "#",
      class: "small",
      data: {
        opens_modal: "explain_qualified_students_reminder",
      } %>
  </p>
<% end %>

<% unless team.qualified? %>
  <% if team.students.any? %>
    <p class="scent">
      The following students need to finish their registration:
    </p>

    <% team.students.onboarding.each do |pending_student| %>
      <div class="onboarding-reminder">
        <%= image_tag pending_student.profile_image_url,
          class: "thumbnail-xs" %>
        <%= pending_student.full_name %>
      </div>
    <% end %>

    <p>
      <%= link_to "Fix this now",
        send(
          "#{current_scope}_pending_teammates_path",
          current_team
        ),
        class: "button small"
      %>
    </p>
  <% else %>
    <p class="scent">
      This team has no students!
      Have you invited them to sign up and join the team?
    </p>
  <% end %>
<% end %>

<%= content_tag :div,
  data: {
    heading: "What is a qualified team?",
  },
  class: "modal",
  id: "explain_qualified_students_reminder" do %>
  <div class="modal-content modal-content--left-aligned">
    A team that is qualified to compete has students, and every
    student on the team has finished these required steps:

    <ul class="list-disc ml-8">
      <li>Got their parent or guardian's permission to participate</li>
      <li>Has entered a location on their account</li>
      <li>Confirmed their email, if they changed it</li>
    </ul>
  </div>
<% end %>
