<% team ||= submission.team %>

<div class="ts-about-team simple-card">
  <div class="ts-about-team__photo no-edit"
       style="background-image: url(<%= team.team_photo_url %>);">
  </div>

  <div class="ts-about-team__name">
    <%= team.name %>
  </div>

  <div class="ts-about-team__description">
    <%= team.description.blank? ?
      "This team has not written a summary." :
      team.description %>
  </div>

  <div class="ts-about-team__description">
    <strong>Ages <%= team.ages.to_sentence %></strong>
  </div>

  <%= link_to "View the Team Page",
    team,
    class: "ts-about-team__team-quick-link" %>
</div>
