<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <div class="panel panel--left">
      <h1><%= Season.current.year %> Technovation Honor Code</h1>

      <%= form_with(
            model: [current_scope, @team_submission],
            local: true
          ) do |f| %>
        <%= hidden_field_tag :team_id, params[:team_id] %>

        <div class="field">
          <%= render "team_submissions/honor_code" %>

          <p class="scent--strong">
            By checking the box below, you confirm that each team member
            has read and agreed to the statements above.
          </p>

          <%= f.check_box :integrity_affirmed,
            id: :team_submission_integrity_affirmed %>

          <%= f.label :integrity_affirmed,
            "OUR TEAM AGREES TO ABIDE BY THIS HONOR CODE",
            for: :team_submission_integrity_affirmed %>
        </div>

        <div class="actions">
          <p>
            <%= f.submit "Start now!", class: "button" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
