<% provide :title, "#{@team_submission.app_name} by #{@team.name}" %>

<div class="grid">
  <div class="grid__col-sm-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="submission-sidebar">
          <%= render "team_submissions/team_info",
            submission: @team_submission,
            team: @team %>
        </div>
      </div>
    </div>
  </div>

  <div class="grid__col-sm-9">
    <h3 class="submission-title">
      <%= @team_submission.app_name %>
    </h3>

    <%= simple_format @team_submission.app_description %>

    <div class="submission-pieces__screenshots">
      <% @team_submission.screenshots.each do |screenshot| %>
        <div class="submission-pieces__screenshot img-modal">
          <%= image_tag screenshot.image_url,
            data: {
              modal_url: screenshot.image_url(:large),
            } %>
        </div>
      <% end %>
    </div>

    <div class="grid">
      <div class="grid__col-6 grid__col--bleed-y">
        <h3>Pitch</h3>

        <p>
          <%= link_to web_icon(
              "play-circle-o",
              text: "Watch the pitch video"

            ),
            "#",
            data: {
              opens_modal: "video-modal-" +
                            @team_submission.video_id(:pitch),
              modal_fetch: send(
                "#{current_scope}_embed_code_path",
                @team_submission,
                piece: :pitch,
              ),
            } %>
        </p>

        <div
          class="modal"
          id="video-modal-<%= @team_submission.video_id(:pitch) %>"
        >
          <div class="modal-content"></div>
        </div>
      </div>

      <div class="grid__col-6 grid__col--bleed-y source-code">
        <h3>Code</h3>

        <%= link_to_submission_source_code(@team_submission) %>
      </div>

      <div class="grid__col-6 grid__col--bleed-y">
        <h3>Business</h3>

        <% if @team.senior? %>
          <%= link_to web_icon(
              "briefcase",
              text: "Read the business plan",
              remote: true,
              size: 12,
              color: "5ABF94",
            ),
            @team_submission.business_plan_url,
            target: :_blank %>
        <% else %>
          Junior teams do not upload a business plan
        <% end %>
      </div>

      <div class="grid__col-6 grid__col--bleed-y">
        <h3>Regional Pitch Events</h3>

        <% if @team.live_event? %>
          <%= link_to web_icon(
              "area-chart",
              text: "See the presentation slides",
              remote: true,
              size: 12,
              color: "5ABF94",
            ),
            @team_submission.pitch_presentation_url,
            target: :_blank %>
        <% else %>
          Virtual judging teams do not upload presentation slides
        <% end %>
      </div>

      <div class="grid__col-12">
        <p class="paragraph--reset">
          <%= @team.name %> earned
          <strong>
            <%= pluralize(
              @team_submission.total_technical_checklist,
              "point"
            ) %>
          </strong>
          for their code checklist.
        </p>
      </div>

      <div class="grid__col-6 grid__col--bleed-y">
        <h4 class="code_checklist-header">
          Technical Components
        </h4>

        <% if @team_submission.code_checklist.technical.any? %>
          <dl>
            <% @team_submission.code_checklist.technical.each do |item| %>
              <dt><%= item.label %></dt>
              <dd><%= item.explanation %></dd>
            <% end %>
          </dl>
        <% else %>
          <p>No use of technical components was indicated.</p>
        <% end %>
      </div>

      <div class="grid__col-6 grid__col--bleed-y">
        <h4 class="code_checklist-header">
          Databases and Connectivity
        </h4>

        <% if @team_submission.code_checklist.database.any? %>
          <dl>
            <% @team_submission.code_checklist.database.each do |item| %>
              <dt><%= item.label %></dt>
              <dd><%= item.explanation %></dd>
            <% end %>
          </dl>
        <% else %>
          <p>No use of database and connectivity was indicated.</p>
        <% end %>

        <h4 class="code_checklist-header">
          Mobile Features
        </h4>

        <% if @team_submission.code_checklist.mobile.any? %>
          <dl>
            <% @team_submission.code_checklist.mobile.each do |item| %>
              <dt><%= item.label %></dt>
              <dd><%= item.explanation %></dd>
            <% end %>
          </dl>
        <% else %>
          <p>No use of mobile features was indicated.</p>
        <% end %>

        <h4 class="code_checklist-header">
          Pictures of the process
        </h4>

        <% if @team_submission.code_checklist.process.any? %>
          <dl>
            <% @team_submission.code_checklist.process.each do |item| %>
              <dt><%= item.label %></dt>
              <dd><%= render item.partial_path, item: item %></dd>
            <% end %>
          </dl>
        <% else %>
          <p>No pictures of the process were uploaded.</p>
        <% end %>
      </div>
    </div>

    <div class="grid">
      <div class="grid__col-auto submission-footer">
        <% @team_submission.awaiting_publish(current_scope) do %>
          <p>
            <%= link_to "Submit now",
              [
                current_scope,
                :honor_code_review,
                { team_id: current_team.id },
              ],

              class: "button" %>

            or

            <%= link_to "continue editing",
              [
                current_scope,
                @team_submission,
                :section,
                section: :ideation
              ] %>
          </p>

          <p>
            You can still make changes after you submit,
            until <%= Season.deadline %>.
          </p>
        <% end %>

        <% @team_submission.already_published(current_scope) do %>
          <% if SeasonToggles.team_submissions_editable? %>
            <p>
              You can make changes until <%= Season.deadline %>.
            </p>

            <p>
              <%= link_to "Make changes",
                [
                  current_scope,
                  @team_submission,
                  :section,
                  section: :ideation
                ],
                class: "button button--small" %>
            </p>
          <% else %>
            <p>Submissions are not editable at this time.</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
