<% provide :title, "#{@team_submission.app_name} by #{@team.name}" %>

<div class="grid">
  <div class="grid__col-sm-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="submission-sidebar">
          <%= render "team_submissions/team_info",
            submission: @team_submission,
            team: @team %>

          <div class="panel">
            <h6>Marketing</h6>

            <p>
              <%= link_to web_icon(
                  "play-circle-o",
                  text: "Watch the demo video"
                ),
                "#",
                data: {
                  opens_modal: "video-modal-" +
                                @team_submission.video_id(:demo),
                  modal_fetch: send(
                    "#{current_scope}_embed_code_path",
                    @team_submission,
                    piece: :demo,
                  ),
                } %>
            </p>

            <div
              class="modal"
              id="video-modal-<%= @team_submission.video_id(:demo) %>"
            >
              <div class="modal-content"></div>
            </div>

            <p>
              <%= link_to web_icon(
                  "play-circle-o",
                  text: "Watch the pitch video"

                ),
                "#",
                data: {
                  opens_modal: "video-modal-" +
                                @team_submission.video_id(:pitch),
                  modal_fetch: send(
                    "#{current_scope}_embed_code_path",
                    @team_submission,
                    piece: :pitch,
                  ),
                } %>
            </p>

            <div
              class="modal"
              id="video-modal-<%= @team_submission.video_id(:pitch) %>"
            >
              <div class="modal-content"></div>
            </div>

            <h6>Code</h6>

            <p>
              <%= link_to web_icon(
                "code",
                text: "Download the source code",
                remote: true,
                size: 12,
                color: "5ABF94",
              ),
              @team_submission.source_code_url %>
            </p>

            <h6>Business</h6>

            <p>
              <% if @team.senior? %>
                <%= link_to web_icon(
                    "briefcase",
                    text: "Read the business plan",
                    remote: true,
                    size: 12,
                    color: "5ABF94",
                  ),
                  @team_submission.business_plan_url,
                  target: :_blank %>
              <% else %>
                Junior teams do not upload a business plan
              <% end %>
            </p>

            <h6>Reigonal Pitch Events</h6>

            <p>
              <% if @team.live_event? %>
                <%= link_to web_icon(
                    "area-chart",
                    text: "See the presentation slides",
                    remote: true,
                    size: 12,
                    color: "5ABF94",
                  ),
                  @team_submission.pitch_presentation_url,
                  target: :_blank %>
              <% else %>
                Virtual judging teams do not upload presentation slides
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid__col-sm-9">
    <h3 class="submission-title">
      <%= @team_submission.app_name %>
    </h3>

    <%= simple_format @team_submission.app_description %>

    <div class="submission-pieces__screenshots">
      <% @team_submission.screenshots.each do |screenshot| %>
        <div class="submission-pieces__screenshot">
          <%= image_tag screenshot.image_url,
            data: {
              modal_url: screenshot.image_url(:large),
            } %>
        </div>
      <% end %>
    </div>

    <h4 class="code_checklist-header">
      Technical Components
    </h4>

    <dl>
      <dt>Strings</dt>
      <dd>A data type that is text.</dd>
    </dl>

    <h4 class="code_checklist-header">
      Databases and Connectivity
    </h4>

    <dl>
      <dt>Local Database</dt>

      <dd>Databases can store information for later use, even when the app is closed! You can think of databases as a place to store information you can recall later</dd>
    </dl>

    <h4 class="code_checklist-header">
      Mobile Features
    </h4>

    <dl>
      <dt>Location Sensor</dt>

      <dd>This sensor collects the latitude and longitude of the phone's location. This sensor can be useful anytime you need search for businesses or points of interests near the user.</dd>
    </dl>
  </div>

  <div class="grid__col-auto submission-footer">
    <% @team_submission.awaiting_publish do %>
      <p>
        <%= link_to "Submit now",
          [
            current_scope,
            :honor_code_review,
            { team_id: current_team.id },
          ],

          class: "button" %>

        or

        <%= link_to "continue editing",
          [
            current_scope,
            @team_submission,
            :section,
            section: :ideation
          ] %>
      </p>
    <% end %>

    <% @team_submission.already_published do %>
      <% if SeasonToggles.team_submissions_editable? %>
        <p>
          You can make changes until <%= Season.deadline %>.
        </p>

        <p>
          <%= link_to "Make changes",
            [
              current_scope,
              @team_submission,
              :section,
              section: :ideation
            ],
            class: "button button--small" %>
        </p>
      <% else %>
        <p>Submissions are not editable at this time.</p>
      <% end %>
    <% end %>
  </div>
</div>
