<% provide :title, "#{@team_submission.app_name} by #{@team.name}" %>

<div class="grid">
  <div class="grid__col-sm-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="submission-sidebar">
          <%= render "team_submissions/team_info",
            submission: @team_submission,
            team: @team %>
        </div>
      </div>
    </div>
  </div>

  <div class="grid__col-sm-9">
    <div class="panel">
      <h3><%= @team_submission.app_name %></h3>

      <%= simple_format @team_submission.app_description %>

      <div class="submission-pieces__screenshots">
        <% @team_submission.screenshots.each do |screenshot| %>
          <div class="submission-pieces__screenshot">
            <%= image_tag screenshot.image_url,
              data: {
                modal_url: screenshot.image_url(:large),
              } %>

          </div>
        <% end %>
      </div>
    </div>

    <div class="panel">
      <h3>Technical</h3>

      <div class="submission-piece-links__source-code">
        <%= link_to "Download the source code",
          @team_submission.source_code_url %>
      </div>

      <% if false %>
        <div class="submission-piece-links__code-checklist">
          <%= link_to "Read the code checklist",
            [current_scope, :code_checklist, team_id: @team.id],
            class: "button button--small" %>
        </div>
      <% end %>
    </div>

    <div class="panel">
      <h3>Pitch</h3>

      <p>
        <%= link_to web_icon(
            "play-circle-o",
            text: "Watch the pitch video"
          ),
          "#",
          class: "button button--small",
          data: {
            opens_modal: "video-modal-" +
                          @team_submission.video_id(:pitch),
            modal_fetch: send(
              "#{current_scope}_embed_code_path",
              @team_submission,
              piece: :pitch,
            ),
          } %>
      </p>

      <div
        class="modal"
        id="video-modal-<%= @team_submission.video_id(:pitch) %>"
      >
        <div class="modal-content"></div>
      </div>

      <p>
        <%= link_to web_icon(
            "play-circle-o",
            text: "Watch the demo video"
          ),
          "#",
          class: "button button--small",
          data: {
            opens_modal: "video-modal-" +
                          @team_submission.video_id(:demo),
            modal_fetch: send(
              "#{current_scope}_embed_code_path",
              @team_submission,
              piece: :demo,
            ),
          } %>
      </p>

      <div
        class="modal"
        id="video-modal-<%= @team_submission.video_id(:demo) %>"
      >
        <div class="modal-content"></div>
      </div>
    </div>

    <% if @team.senior? %>
      <div class="panel">
        <h3>Entrepreneurship</h3>

        <%= link_to "Read the business plan",
          @team_submission.business_plan_url,
          target: :_blank %>
      </div>
    <% end %>

    <% if @team.selected_regional_pitch_event.live? %>
      <div class="panel">
        <h3>Regional Pitch Events</h3>

        <%= link_to "Open the presentation slides",
          @team_submission.pitch_presentation_url,
          target: :_blank %>
      </div>
    <% end %>

    <% @team_submission.awaiting_publish do %>
      <div class="grid--justify-center">
        <p>
          <%= link_to "Submit now",
            [
              current_scope,
              :honor_code_review,
              { team_id: current_team.id },
            ],

            class: "button" %>

          or

          <%= link_to "continue editing",
            [
              current_scope,
              @team_submission,
              :section,
              section: :ideation
            ] %>
        </p>
      </div>
    <% end %>

    <% @team_submission.already_published do %>
      <div class="grid--justify-center">
        <% if SeasonToggles.team_submissions_editable? %>
          <p>
            You can make changes until <%= Season.deadline %>.
          </p>

          <p>
            <%= link_to "Make changes",
              [
                current_scope,
                @team_submission,
                :section,
                section: :ideation
              ],
              class: "button button--small" %>
          </p>
        <% else %>
          <p>Submissions are not editable at this time.</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
