<%
  method = case params[:days]
           when 1;  :group_by_hour
           when 7;  :group_by_day
           when 30; :group_by_week
           else;    :group_by_month
           end

  range = case params[:days]
          when 1; 24
          when 7; 7
          when 30; 4
          when 90; 3
          when 180; 6
          when 270; 9
          end
%>

<div class="admin-dashboard">
  <div class="admin-dashboard__column">
    <div class="admin-dashboard__header">
      <h1 class="appy-title">Recent activity</h1>

      <h2>Submission deadline: <span id="countdown"></span></h2>

      <label class="no-text-transform">
        Show signups in the past
        <%= select_tag :days,
          options_for_select(
            {
              "Day" => 1,
              "Week" => 7,
              "Month" => 30,
              "3 months" => 90,
              "6 months" => 180,
              "9 months" => 270,
            },
            params[:days]
        ),
        class: "inline",
        data: { reload: true, param: :days } %>
    </label>
    </div>

    <div class="admin-dashboard__quickviews-wrapper">
      <div class="quickview card">
        <div class="card__heading">
          Teams
        </div>

        <div class="card__body">
          <%= line_chart @teams.public_send(method, "teams.created_at", last: range, current: false).count, width: "100%", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "Students", regional_ambassador_profiles_path(type: "Student") %> <%= @students.count %>
        </div>

        <div class="card__body">
          <%= line_chart @students.public_send(method, "accounts.created_at", last: range, current: false).count, width: "100%", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <span>Permitted Students</span> <%= @permitted_students.count %>
      </div>

      <div class="card__body">
        <%= line_chart @permitted_students.public_send(method, "parental_consents.created_at", last: range, current: false).count, width: "100%", height: "150px" %>
      </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "Mentors", regional_ambassador_profiles_path(type: "Mentor") %> <%= @mentors.count %>
        </div>

        <div class="card__body">
          <%= line_chart @mentors.public_send(method, "accounts.created_at", last: range, current: false).count, width: "100%", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <span>Cleared mentors</span> <%= @cleared_mentors.count %>
      </div>

      <div class="card__body">
        <%= line_chart @cleared_mentors.public_send(method, "consent_waivers.created_at", last: range, current: false).count, width: "100%", height: "150px" %>
      </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "RAs", regional_ambassador_profiles_path(type: "RegionalAmbassador") %> <%= @ambassadors.count %>
        </div>

        <div class="card__body">
          <%= line_chart @ambassadors.public_send(method, "accounts.created_at", last: range, current: false).count, width: "100%", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "Judges", regional_ambassador_profiles_path(type: "Judge") %> <%= @judges.count %>
        </div>

        <div class="card__body">
          <%= line_chart @judges.public_send(method, "accounts.created_at", last: range, current: false).count, width: "100%", height: "150px" %>
        </div>
      </div>
    </div>
  </div>

  <div class="admin-dashboard__sidebar">
    <div class="ra-timezone">
      Your timezone is:<br />
      <strong><%= Time.zone %></strong><br />
      <%= link_to "edit", "#", data: { modal_trigger: "ra-timezone" } %>
    </div>

    <div class="modalify" data-heading="Set your timezone" id="ra-timezone">
      <%= simple_form_for [:regional_ambassador, current_ambassador.account], html: { class: "no-simple-form-style" } do |f| %>
        <%= f.input :timezone, collection: Timezone.names, input_html: { class: "chosen" }, label: false %>
        <%= f.submit "Save", class: "appy-button" %>
      <% end %>
    </div>


    <%= render 'account_snapshots', title: "#{Season.current.year} #{current_ambassador.region_name} Snapshot" %>

    <ul class="resources__list">
      <li class="resources__item-wrapper">
        <div class="card">
          <div class="card__heading">
            <%= t("views.application.curriculum") %>
            <%= fa_icon("graduation-cap", class: "card-heading__flair") %>
          </div>

          <div class="card__body">
            <p>
              Check out what the girls will be learning.
            </p>
              <%= link_to "#{Season.current.year} Technovation Curriculum", 
              "http://www.technovationchallenge.org/curriculum-intro/registered", 
              target: "_blank" %>
          </div>
        </div>
      </li>

      <li class="resources__item-wrapper">
        <div class="card">
          <div class="card__heading">
            <%= t("views.application.resources") %>
            <%= fa_icon("globe", class: "card-heading__flair") %>
          </div>

          <div class="card__body">
            <p>
              Use this link to access RA Resources to support events and recruitment throughout the season.
            </p>
              <%= link_to "RA Resources", 
              "http://www.technovationchallenge.org/ra-resources/", 
              target: "_blank" %>
          </div>
        </div>
      </li>

      <li class="resources__item-wrapper">
        <div class="card">
          <div class="card__heading">
            <%= t("views.application.submission_deliverables") %>
            <%= fa_icon "file-text-o", class: "card-heading__flair" %>
          </div>

          <div class="card__body">
            <p>
              See what teams need to do to complete their submissions!
            </p>
              <%= link_to "Submission Deliverables &amp; Guidelines".html_safe,
                "http://www.technovationchallenge.org/submission-guidelines/",
                target: "_blank" %>
          </div>
        </div>
      </li>

      <li class="resources__item-wrapper">
        <div class="card">
          <div class="card__heading">
            <%= t("views.application.judging_rubric") %>
            <%= fa_icon "gavel", class: "card-heading__flair" %>
          </div>

          <div class="card__body">
            <p>
              Check out the 
              <%= Season.current.year %> 
              judging rubric to see how teams will be scored!
            </p>
              <%= link_to "Judging Rubric".html_safe,
                "http://www.technovationchallenge.org/judging-rubric/",
                target: "_blank" %>
          </div>
        </div>
      </li>

    </ul>
  </div>  
</div>

<% provide(:head_js) do %>
  <%= javascript_include_tag "Chart.bundle", "chartkick" %>
<% end %>
