<div class="to-do">
  <h2 class="to-do__heading appy-heading-lg">
    <%= t("views.application.complete_your_profile") %>
  </h2>

  <ul class="to-do__list">
    <%= render 'completion_steps/consent_waiver', account: current_ambassador %>
    <%= render 'completion_steps/background_check', account: current_ambassador %>
    <%= render 'completion_steps/location_details', account: current_ambassador %>
    <%= render 'completion_steps/complete_profile', account: current_ambassador %>
  </ul>
</div>
