<p>We're sorry, but it looks like you don’t fully meet the requirements to become a Regional Ambassador.</p>

<p>There are many other ways to get involved with Technovation. We hope you will consider supporting Technovation in one of the ways listed below.</p>

<p><%= link_to "Become a Mentor", mentor_signup_url %></p>
<p>Guide a team of up to 5 girls through the Technovation curriculum. Coding and mobile app development experience is not required. The most important thing is to be a consistent and supportive role model for your team.</p>

<p><%= link_to "Judge App Submissions", judge_signup_url %></p>
<p>Provide positive and constructive feedback to teams based on the judging rubric, so that they can continue to develop their ideas and take their app submissions to the next level.</p>

<p><%= link_to "Volunteer at events", "https://docs.google.com/forms/d/e/1FAIpQLSda5d6CyDrrpuPMZ7fuKPKVHSYfcVBPJHHpnRkUOM7pmx5LHA/viewform" %></p>
<p>Help with registration, support trainings, and assist with other logistics at our workshops, Regional Pitch Nights, World Pitch Summit, and other events!</p>

<p><%= link_to "Email a Regional Ambassador in your area", "http://www.technovationchallenge.org/chapters/" %></p>
<p>Review the <%= link_to "Chapters webpage", "http://www.technovationchallenge.org/chapters/" %> to see if there is a Regional Ambassador in your area already. Reach out to see how you might support their efforts.</p>

<p>If you have any questions, please reply to this email or email the Technovation Team at <%= mail_to "info@technovationchallenge.org", nil, subject: "RA Follow-up Request" %> and someone will be in touch shortly.</p>

<p>Thank you for supporting young women in technology.</p>
