<h3 class="reset">Resources</h3>

<ul>
  <li>
    <%= link_to "Curriculum",
      "https://www.technovationchallenge.org/curriculum-intro/registered",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "RA Resource Page",
      "http://technovationchallenge.org/ra-resources/",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "RA Handbook",
      "https://technovation.atavist.com/regional-ambassador-handbook-2019-2020",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "Parental Consent PDF",
      ENV.fetch("PARENT_CONSENT_PDF"),
      target: "_blank" %>
  </li>
</ul>


<h3 class="reset">FAQ & Rules</h3>

<ul>
  <li>
    <%= link_to "How do teams submit?",
      "https://iridescentsupport.zendesk.com/hc/en-us/sections/115000630314-Submission",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "Submission Guidelines",
      "https://www.technovationchallenge.org/submission-guidelines/",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "How will team's app be judged?",
      "https://iridescentsupport.zendesk.com/hc/en-us/sections/115000250428-Judging-Pitching-and-Results",
      target: "_blank" %>
  </li>
  <li>
    <%= link_to "Judging Rubric",
      "https://www.technovationchallenge.org/judging-rubric/",
      target: "_blank" %>
  </li>
</ul>
