<h3>Resources</h3>

<div class="panel">
  <h3 class="reset">RA Resource Page</h3>

  <p>
    <%= link_to "See our complete resources for you",
      "http://technovationchallenge.org/ra-resources/",
      target: "_blank" %>
  </p>

  <h3 class="reset">RA Handbook</h3>

  <p>
    <%= link_to "Read the RA Handbook",
      "https://iridescentlearning.atavist.com/technovation-ra-handbook",
      target: "_blank" %>
  </p>

  <h3 class="reset">FAQ & Rules</h3>

  <p>
    <%= link_to "See the FAQ & Rules",
      "https://iridescentsupport.zendesk.com/hc/en-us/categories/115000091348-Technovation",
      target: "_blank" %>
  </p>

  <h3 class="reset">Curriculum</h3>

  <p>
    <%= link_to "Open the Technovation Curriculum",
      "https://www.technovationchallenge.org/curriculum-intro/registered",
      target: "_blank" %>
  </p>

  <h3 class="reset">Parental Consent PDF</h3>

  <p>
    <%= link_to "Download the PDF",
      "https://iridescentsupport.zendesk.com/hc/en-us/articles/115002731034-How-do-I-submit-the-consent-forms-#article-comments",
      target: "_blank" %>
  </p>

  <h3 class="reset">Submission Guide</h3>

  <p>
    <%= link_to "Read the Submission Guidelines",
      "https://www.technovationchallenge.org/submission-guidelines/",
      target: "_blank" %>
  </p>

  <h3 class="reset">Judging Rubric</h3>

  <p>
    <%= link_to "See the Judging Rubric",
      "https://www.technovationchallenge.org/judging-rubric/",
      target: "_blank" %>
  </p>
</div>
