<h3 class="reset">
  <%= current_ambassador.region_name %>
  <%= Season.current.year %>
  recruitment performance
</h3>

<p>
  <%= link_to "View all participants in your region",
    regional_ambassador_participants_path %>
</p>

<hr />

<h3 class="reset">Students</h3>

<dl>
  <dt>Total:</dt>
  <dd><%= @students.count %></dd>
</dl>


<div class="grid">
  <div class="grid__col-6 center">
    <h3>Parental permission</h3>

    <div class="vue-enable-pie-chart">
      <pie-chart
        :chart-classes="{
          'quickview-charts': true,
          'quickview-charts--students-permitted': true,
        }"
        :color-range="{
          start: 'rgba(54, 162, 235, 1)',
          end: 'rgba(255, 99, 132, 1)',
        }"
        :chart-data="{
          labels: [
            'With parental permission – <%= show_percentage(@permitted_students, @students) %>',
            'Without parental permission – <%= show_percentage(@unpermitted_students, @students) %>',
          ],
          data: [
            <%= @permitted_students.count %>,
            <%= @unpermitted_students.count %>,
          ],
          urls: [
            '<%= regional_ambassador_participants_path(
              accounts_grid: {
                scope_names: ["student"],
                parental_consent: "parental_consented",
              }
            ) %>',
            '<%= regional_ambassador_participants_path(
              accounts_grid: {
                scope_names: ["student"],
                parental_consent: "not_parental_consented",
              }
            ) %>',
          ],
        }"
      ></pie-chart>
    </div>
  </div>

  <div class="grid__col-6 center">
    <h3>New vs. Returning</h3>

    <div class="vue-enable-pie-chart">
      <pie-chart
        :chart-classes="{
          'quickview-charts': true,
          'quickview-charts--students-returning': true,
        }"
        :color-range="{
          start: 'rgba(54, 162, 235, 1)',
          end: 'rgba(255, 206, 86, 1)',
        }"
        :chart-data="{
          labels: [
            'Returning students – <%= show_percentage(@returning_students, @students) %>',
            'New students – <%= show_percentage(@new_students, @students) %>',
          ],
          data: [
            <%= @returning_students.count %>,
            <%= @new_students.count %>,
          ],
        }"
      ></pie-chart>
    </div>
  </div>
</div>

<hr />

<h3 class="reset">Mentors</h3>

<dl>
  <dt>Total:</dt>
  <dd><%= @mentors.count %></dd>
</dl>


<div class="grid">
  <div class="grid__col-6 center">
    <% if current_ambassador.country == "US" %>
      <%= render "regional_ambassador/dashboards/quick_view/us_mentors" %>
    <% else %>
      <%= render "regional_ambassador/dashboards/quick_view/international_mentors" %>
    <% end %>
  </div>

  <div class="grid__col-6 center">
    <h3>New vs. Returning</h3>

    <div class="vue-enable-pie-chart">
      <pie-chart
        :chart-classes="{
          'quickview-charts': true,
          'quickview-charts--mentors-returning': true,
        }"
        :color-range="{
          start: 'rgba(54, 162, 235, 1)',
          end: 'rgba(255, 206, 86, 1)',
        }"
        :chart-data="{
          labels: [
            'Returning mentors – <%= show_percentage(@returning_mentors, @mentors) %>',
            'New mentors – <%= show_percentage(@new_mentors, @mentors) %>',
          ],
          data: [
            <%= @returning_mentors.count %>,
            <%= @new_mentors.count %>,
          ],
        }"
      ></pie-chart>
    </div>
  </div>
</div>
