<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8">
    <% if current_ambassador.onboarded? %>
      <div class="panel">
        <h4>
          <%= current_ambassador.full_name %> &ndash;
          <%= current_ambassador.region_name %>
          <%= Season.current.year %>
        </h4>

        <p>
          We are working hard on a brand new Regional Ambassador
          design with updated features.
        </p>

        <p>
          Technovation will email you as updates are released!
        </p>
        <p>
          <%= link_to "Switch to Mentor Mode",
            mentor_dashboard_path,
            class: "button",
            data: { turbolinks: false } %>
        </p>
      </div>
    <% else %>
      <h1>Complete your registration</h1>

      <ul class="steps">
        <%= render 'completion_steps/background_check',
          profile: current_ambassador %>

        <%= render 'completion_steps/location_details',
          profile: current_ambassador %>

        <%= render 'completion_steps/complete_profile',
          profile: current_ambassador %>

        <%= render 'completion_steps/confirm_changed_email',
          profile: current_ambassador %>
      </ul>
    <% end %>
  </div>
</div>

<% if false %>
<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col-auto grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= t("views.application.regional_ambassador_dashboard") %>

        <small>
          <%= link_to "Switch to Mentor Mode",
            mentor_dashboard_path,
            data: { turbolinks: false } %>
        </small>
      </h1>
    </div>
  </div>

  <div class="grid__col-sm-6 grid__col-auto grid__col--bleed-y grid--align-end">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= SeasonToggles.dashboard_text(:regional_ambassador) %>
      </h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__col-md-3">
    <div class="grid__cell">
      <div class="ra-info--dashboard-intro panel">
        <h4 class="reset">Your introduction</h4>

        <p class="hint">
          Participants in your region can see this on their dashboards.
        </p>

        <%= image_tag current_ambassador.profile_image_url,
          class: "grid__cell-img" %>

        <%= render 'image_upload',
          heading: "Upload a profile photo",
          size: "300x300" %>

        <h3 class="reset"><%= current_ambassador.full_name %></h3>

        <%= simple_format current_ambassador.intro_summary %>

        <ul class="regional-links reset">
          <% current_ambassador.regional_links.each do |link| %>
            <li>
              <%= link_to web_icon(link.icon, text: link.display_text),
                link.url,
                title: link.name,
                target: :_blank %>
            </li>
          <% end %>
        </ul>

        <p>
          <%= link_to "Edit your introduction",
            edit_regional_ambassador_introduction_path,
            class: "button small" %>
        </p>
      </div>
    </div>
  </div>

  <div class="grid__col-md-6">
    <div class="grid__cell">
      Something to go here soon...
    </div>
  </div>

  <div class="grid__col-md-3 grid__col--bleed dashboard-sidebar">
    Something else to go here soon, too...
  </div>
</div>
<% end %>
