<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col-auto grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= t("views.application.regional_ambassador_dashboard") %>

        <small>
          <%= link_to "Switch to Mentor Mode",
            mentor_dashboard_path,
            data: { turbolinks: false } %>
        </small>
      </h1>
    </div>
  </div>

  <div class="grid__col-sm-6 grid__col-auto grid__col--bleed-y grid--align-end">
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= SeasonToggles.dashboard_text(:regional_ambassador) %>
      </h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__col-sm-3">
    <div class="col--sticky">
      <div class="panel">
        <%= image_tag current_ambassador.profile_image_url,
          class: "grid__cell-img" %>

        <h3 class="reset"><%= current_ambassador.full_name %></h3>

        <%= link_to "View your profile", regional_ambassador_profile_path %>
      </div>
    </div>
  </div>

  <div class="grid__col-sm-6">
    <div class="col--sticky">
      <% if current_ambassador.onboarded? %>
        <%= render "regional_ambassador/dashboards/onboarded" %>
      <% else %>
        <%= render "regional_ambassador/dashboards/onboarding" %>
      <% end %>
    </div>
  </div>

  <div class="grid__col-sm-3 grid__col--bleed dashboard-sidebar">
    <div class="col--sticky">
      <%= render "dashboards/ra_intro", ra_dashboard: true %>

      <% unless current_ambassador.intro_summary.blank? %>
        <p>
          <%= link_to "Edit your introduction",
            edit_regional_ambassador_introduction_path,
            class: "button secondary small" %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= content_tag :div, class: "modal",
  id: "explain-intro",
  data: {
    width: "750px",
  } do %>
  <div class="modal-content">
    <p>
      Tell the participants in your region about yourself and your regional program!
      Add links to your various social sites, your whatsapp number, website,
      and email so they can get to know you better.
    </p>

    <%= image_tag "ra-intro-explained.png", width: 650 %>
  </div>
<% end %>
