<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Welcome to Technovation Girls Season <%= @season_year %>, <%= @first_name %>!
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Technovation Girls is the world's largest global tech competition and program
          offered by Technovation. Technovation Mentors are an integral part of the Technovation
          Girls program, thank you for joining us! We know from experience that Technovation Girls get
          the most out of this program when they have an encouraging and supportive mentor
          on their team.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          To make the process more manageable for you, we encourage you to
          find a friend or co-worker to join you in supporting a team, as a co-Mentor. It will help the
          girls to have more than one person to turn to for questions and meetings.
        </td>
      </tr>


      <tr>
        <td class="content-block">
          <strong>
            Let's get started! Here are the next steps for you to complete. Finishing them will
            help you start matching with teams and get ready for the season. This is what you can
            do to start matching with teams and get ready for the season, today:
          </strong>

          <ol>
            <li>
             Check out the ‘Getting Started’ section of the
             <%= link_to "Mentor Resource Page",
              ENV.fetch("MENTOR_RESOURCES_URL"),
              itemprop: "url" %>
             to find the mentor pre-season checklist. The checklist includes the following tasks:
               <ul>
                 <li>
                   Complete mentor training if you haven’t done so already!
                   You can access the training on
                   <%= link_to "your dashboard", mentor_dashboard_url, itemprop: "url" %>.
                   It will give an overview of the program, any changes this season, the Mentor role,
                   and a checklist to help you get ready for the season!
                 </li>

                 <li>
                   <%= link_to "Sign the consent waiver", @consent_url, itemprop: "url" %>
                 </li>

                 <li>
                   <%= link_to "Click this link",
                    ENV.fetch("MENTOR_SLACK_SIGNUP_URL"),
                    itemprop: "url" %>
                   to join our online Slack community to meet volunteers from around the world.
                 </li>

                 <li>
                   <%= link_to "Review the important dates and timeline",
                    ENV.fetch("PROGRAM_TIMELINE_URL"),
                    itemprop: "url" %>
                   (2 minutes)
                 </li>

                 <li>
                   Review the mentor curriculum
                 </li>

                 <li>
                   And more!
                 </li>
               </ul>
            </li>

            <li>
              If you are a new Mentor in the United States, Canada, India, or Nigeria, you will need to
              <%= link_to "complete a background check", @background_check_url, itemprop: "url" %>
              (5 minutes).
              <ul>
                <li>Returning Mentors only complete background checks every three years.</li>
                <li>
                  We reserve the right to randomly select Mentors in other countries and territories to provide
                  references, legal certifications, or background checks. If you are selected, we will contact
                  you to complete this process before you can meet with a team.
                </li>
              </ul>
            </li>
          </ol>
        </td>
      </tr>


      <tr>
        <td class="content-block">
          <strong>For returning mentors</strong>

          <ul>
            <li>
              Make sure to review the
              <%= link_to "mentor training",
                ENV.fetch("MENTOR_TRAINING_URL"),
                itemprop: "url" %>
              for this year which has
              updated information for the <%= @season_year %> season. You can access this from
              your <%= link_to "Mentor dashboard", mentor_dashboard_url, itemprop: "url" %>.
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Staying connected:</strong>

          <ul>
            <li>
              Slack: The community consists of over 6000+ mentors from around the world.
              We support this community by using Slack, a free communication tool - you
              can connect with other mentors, share resources, ask questions, and stay informed.
              <%= link_to "Click this link to join today!",
                ENV.fetch("MENTOR_SLACK_SIGNUP_URL"),
                itemprop: "url" %>
            </li>
            <li>
              Newsletters: Every 2-3 weeks we send newsletters to keep you informed throughout
              the season. Add "volunteers@technovation.org" to your Safe Sender or whitelist today
              so you never miss an email from us.
            </li>
            <li>
              Mentor Cohort: Connect with other Mentors for peer learning and support.
              Learn more here. If you are interested,
              <%= link_to "fill out the Cohort Interest form",
                ENV.fetch("MENTOR_COHORT_INTEREST_FORM_URL"),
                itemprop: "url" %>
              to indicate their location, skillset, and preferences for meeting. The Volunteer
              Engagement Team will reach out when you are matched with a Cohort, beginning
              in November 2025.
            </li>
            <li>
              Ambassadors: Check your profile to see if there is a local Chapter or Club Ambassador
              in your area on your Mentor dashboard. If so, send them an email introducing yourself
              and they can provide additional support during the season, and help you connect with
              a team.
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Once again, welcome to our global community. We would like to leave you
          with a final message from Tara Chklovski, Founder and CEO Technovation.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          “There is no online network that can compete with this labor of love.
          It's a movement that has taken time to swell, but is only going to grow,
          because the connections between each one of us here today are for life.
          This community here will help you fight for something larger than
          yourself.”
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <p>Thank you for your support!,</p>
          <p>The Technovation Team</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
