<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Welcome Students"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          We're so glad you're joining Technovation Girls for the <%= @season_year %>
          season! We can't wait to hear how you want to change your community with
          technology, but first, a few reminders and important
          deadlines.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Parent/Guardian Permission:</strong>

          Make sure that your parent or guardian has given you permission to
          participate! There are instructions on how to send a permission and media consent form on
          <%= link_to "your dashboard", @dashboard_url %>.
          Once the forms are signed, you'll be ready to participate in
          Technovation Girls and access the rest of your dashboard.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Internet safety and digital literacy:</strong>

          Technovation Girls is a program with online components, and we want to make sure you know
          how to be safe online. In Technovation Girls, you might be connected with an adult
          mentor to support you as you develop your app or AI prototype.
          Our mentors have been pre-approved to support your team, but we still recommend
          that you take a few minutes to
          <%= link_to "learn how to keep yourself safe", @safety_url %>
          when collaborating online.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Rules and Honor Code:</strong>

          Technovation Girls is a learning experience. By participating in this program, 
          you agree to submit your own team’s work to the competition. You can find more 
          rules and guidelines about what is possible to submit 
          <%= link_to "here.", "https://iridescentsupport.zendesk.com/hc/en-us/articles/115002717413-Submission-rules-for-girls-and-mentors" %> 
          If you are found breaking competition rules or plagiarizing, your team will not be eligible to compete.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <%= link_to "Key Dates",
            "https://technovationchallenge.org/wp-content/uploads/2022/09/2023-ProgramTimeline_vertical.jpg"
          %>
          <br />
          <strong>
            Write these dates on your calendar! All deadlines are firm.
          </strong>

          <ul>
            <li>
              <strong>
                <%= @registration_opens %>:
                Registration Opens:
              </strong>

              You can now register your team and get started
            </li>

            <li>
              <strong>
                <%= @official_start_of_season %>:
                Official start of <%= @season_year %> Season!
              </strong>
            </li>

            <li>
              <strong>
                <%= @team_registration_deadline %>:
                Last Day to register as a student or a mentor
              </strong>

              All members of your team must have
              registered and joined your team on the platform by this date
            </li>

            <li>
              <strong>
                <%= @season_submission_deadline %>:
                Submission Deadline
              </strong>

               All parts of your project must be submitted on
               <%= link_to ENV.fetch("HOST_DOMAIN"), @root_url %>
               (submissions open in <%= @season_submissions_open_month %>)
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          If you have questions, be sure to
          <%= link_to "check our FAQ", @faq_url %>!
          You can also reach out to us at
          <%= mail_to ENV.fetch("HELP_EMAIL") %>.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          When you are ready, you can get started on the Technovation Girls curriculum
          by <%= link_to "logging back into your account", @dashboard_url %>
          or checking out the
          <%= link_to "curriculum page",
            'https://technovationchallenge.org/curriculum-intro/registered/new/'
          %>.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Enjoy the journey,
          <br/>
          The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
