<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Welcome Students"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Welcome to Technovation <%= @season_year %>!
        </td>
      </tr>

      <tr>
        <td class="content-block">
          We're thrilled to have you join the Technovation community for the
          <%= @season_year %> season! We can't wait to hear more from you about
          the types of issues you want to address using technology, and see the
          amazing ideas you bring to life.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Technovation is a learning journey! Congratulations on taking the first
          step in this journey. The Technovation experience is aimed to build
          your curiosity and persistence and support the development of several
          personal and professional skills. We hope that you find this experience
          inspiring and rewarding.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          First things first:

          <ol>
            <li>
              Make sure that your parent or guardian has given you permission
              to participate! There are instructions on how to send a permission
              form on <%= link_to "your dashboard", @dashboard_url %>.
              Once the consent form is signed, you'll be ready to participate
              in Technovation.
            </li>

            <li>
              Please take some time right now to
              <%= link_to "learn about internet safety and digital literacy",
                @safety_url %>
              We want you to be safe and well-informed as you participate in
              online programs!
            </li>

            <li>
              Connect with a mentor: You can find a mentor in your community or
              on the Technovation platform. An adult mentor will support you
              as you develop your app ideas. The Mentors who register on our
              platform have been pre-approved to support your team, but we still
              recommend that you
              <%= link_to "take a few minutes to learn how to keep yourself safe when collaborating online",
                @safety_url %>.
            </li>
          </ol>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          When you're ready, you can get started on the Technovation curriculum by
          <%= link_to "logging into your account", @signin_url %>
          on
          <%= link_to @root_url, @root_url %>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          — The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
