<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Welcome to Technovation Girls Season <%= @season_year %>, <%= @first_name %>!
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Technovation mentors are an integral part of the Technovation Girls program,
          thank you for joining us! We know from experience that Technovation Girls get
          the most out of this program when they have an encouraging and supportive mentor
          on their team.  When possible, find another friend or co-worker to join you in
          supporting a team; it will help the girls to have more than one person to turn to
          for questions and meetings. Thank you in advance for all that you do!
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Technovation Girls is the world's largest global tech competition
          and program offered by Technovation. We are a community of 6,000+ mentors
          from around the world. We maintain this community by using a free
          communication tool called Slack where you can connect with other mentors,
          share resources, ask questions, and stay informed. We also provide newsletters
          from Technovation to keep you and your team informed throughout the season so be
          sure to check your email. Check your profile to connect with your local Chapter
          Ambassador, they can help you find a team to work with and provide support during the season.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Let's get started! This is what you can do in less than 30 minutes
            in order to start matching with teams:</strong>

          <ol>
            <li>
              Finish your mentor training if you haven’t done so already!
              You can access the training on
              <%= link_to "your dashboard", mentor_dashboard_url, itemprop: "url" %>.
            </li>

            <li>
              <%= link_to "Sign the consent waiver", @consent_url, itemprop: "url" %>
            </li>
            
            <li>
              <%= link_to "Click this link", ENV.fetch("MENTOR_SLACK_SIGNUP_URL"), itemprop: "url" %>
              to join our online Slack community to meet mentors from around the world.
            </li>

            <li>
              Check to see if you have a Chapter Ambassador by looking at the top left corner of your Technovation Dashboard. 
              Send an email to your Chapter Ambassador for assistance in finding a team to mentor!
            </li>

            <li>
              <%= link_to "Review the important dates and timeline",
              "https://technovationchallenge.org/wp-content/uploads/2022/09/2023-ProgramTimeline_vertical.jpg",
               itemprop: "url" %>
              (2 minutes)
            </li>

            <li>
              If you are a new mentor in the U.S., you will need to
              <%= link_to "complete a background check", @background_check_url, itemprop: "url" %>
              (5 minutes).
              <ul>
                <li>Returning mentors are all set for 3 years.</li>
                <li>
                  In other countries and territories, we will randomly select
                  mentors to provide references and legal certifications, and to
                  submit to background checks where possible. If you are selected,
                  we will contact you to complete this process. You must consent
                  to this to be allowed and verified on our site.
                </li>
              </ul>
            </li>
          </ol>
        </td>
      </tr>


      <tr>
        <td class="content-block">
          <strong>For returning mentors</strong>

          <ul>
            <li>
              Make sure to review the mentor training for this year which has
              updated information for the <%= @season_year %> season. You can access this from
              your <%= link_to "mentor dashboard", mentor_dashboard_url, itemprop: "url" %>.
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Once again, welcome to our global community. We would like to leave you
          with a final message from Tara Chklovski, Founder and CEO Technovation.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          “There is no online network that can compete with this labor of love.
          It's a movement that has taken time to swell, but is only going to grow,
          because the connections between each one of us here today are for life.
          This community here will help you fight for something larger than
          yourself.”
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <p>Thank you for your support!,</p>
          <p>The Technovation Team</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
