<p>Welcome to Technovation!</p>

<p>We're thrilled that you want to learn more about programming, and that you want to use what you learn to solve a problem in your community.</p>

<p>First things first, make sure you have your parent or guardian's permission to participate in Technovation! They will receive an email with a consent form when you <%= link_to "complete step one of your profile", @dashboard_url %>. Once they sign it, you will be registered and ready to start.</p>

<p>We also recommend taking some time right now to <%= link_to "learn about internet safety and digital literacy", @safety_url %>. We want you to be safe and well-informed as your participate in online programs! Technovation will connect you with an adult mentor to support you as you develop your app. We trust our mentors and have pre-approved them to be mentors, but we still recommend that you take a few minutes to learn how to keep yourself safe when collaborating online.</p>

<p>Begin your Technovation journey with these <%= link_to "introductory activities", @activities_url %> to MIT App Inventor, the language you'll use to create your mobile app.</p>

<p>You can access the full Technovation curriculum from <%= link_to "your dashboard", @dashboard_url %> at <%= @root_url %>.</p>

<p>The Technovation Team</p>
