<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Welcome to Technovation Season <%= @season_year %>, <%= @first_name %>!
        </td>
      </tr>

      <tr>
        <td class="content-block">
          My name is Monica, and I am the Technovation Program Manager.
          I work on a few different projects, but one of my primary
          responsibilities is to support you! I'm here to answer your questions,
          provide training and celebrate your success. More importantly, I'm your
          biggest fan.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Technovation mentors are truly amazing. You will invest a lot of time
          and effort supporting teams that are trying to solve real problems in
          their community. Thank you in advance for all that you do!
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Technovation is the world's largest technology global tech competition
          and program offered by Iridescent. We are a community of 3,500 mentors
          from around the world. We maintain this community by using a free
          communication tool called Slack. You can connect with other mentors,
          ask questions, and stay informed. It is also the best way to receive
          help from the Technovation team.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Here is a list of channels and people that can help you.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Monica @monica_mentormgr<br />
          <strong>Program Manager</strong><br />
          Ask about: General questions, mentor training <br />
          Channels: All channels
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Joe @joemsak<br />
          <strong>Software Developer</strong><br />
          Ask about: Technovation's team and submission platform<br />
          (https://<strong>my.</strong>technovationchallenge.org)<br />
          Channel: #technical
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Katie @katie<br />
          <strong>Partnerships, Manager</strong><br />
          Ask about: Regional Ambassadors, fundraising<br />
          Channel: #general
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Rusty @rusty<br />
          <strong>Curriculum Developer</strong><br />
          Ask about: Master Educators<br />
          Channel: #general
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Alli @alli<br />
          <strong>Curriculum Developer</strong><br />
          Ask about: App Inventor, Girls curriculum<br />
          Channel: #girlscurriculum, #appinventor
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Katy @katy_socialmedia<br />
          <strong>Social Media Manager</strong><br />
          Ask about: Social media, marketing<br />
          Channel: #highlightoftheweek
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Ophélie<br />
          <strong>Program Coordinator</strong><br />
          Ask about: Student Ambassadors<br />
          Channel: #general
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>
            So, let's get started! This is what you can do in less than 30 minutes.
          </strong>

          <ol>
            <li>
              Accept your invitation to join our Slack community
              (it will be a separate email).
            </li>

            <li>
              Review the mentor orientation (5 minutes)<br />
              <%= link_to "Read the mentor orientation", @orientation_url %>
            </li>

            <li>
              Review the important dates and timeline (2 minutes)<br />
              <%= link_to "Review the season timeline", @timeline_url %>
            </li>

            <li>
              Make sure your profile is complete.
              A complete profile increases your chances of finding a team.
              (5 minutes)<br />
              <%= link_to "Complete your profile", @root_url %>
            </li>

            <li>
              Sign the consent form (2 minutes)<br />
              <%= link_to "Sign the consent waiver", @root_url %>
            </li>

            <li>
              Bookmark the mentor ebook. It is your official guide of the season.
              (1 minute)<br />
              <%= link_to "Open the mentor ebook", @ebook_url %>
            </li>

            <li>
              If you are a new mentor in the U.S., you will need to complete a
              background check. Returning mentors are all set for 3 years.
              (5 minutes)<br />
              <%= link_to "Complete a background check", @root_url %>
            </li>
          </ol>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>For returning mentors</strong>

          <ul>
            <li>
              Sustainable Development Goals are no longer a submission requirement.
              However, the goals are still useful for teams to refer to as they
              chose a problem to solve.
            </li>

            <li>
              We have a new team member! Ophelie is the Technovation Coordinator.
              One of her responsibilities is managing Student Ambassadors.
              Her Slack handle is @ophelie
            </li>

            <li>
              We welcomed 75 Student Ambassadors to the program!
              More details coming soon.
            </li>

            <li>
              We listened to your feedback and created a go-to guide.
              Please <%= link_to "review the new ebook", @ebook_url %>.
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Once again, welcome to our global community. We would like to leave you
          with a final message from Madhavi, our Senior Director at
          Technovation & Iridescent.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          “We hugely appreciate the passion, time and effort that mentors bring to
          inspire and support Technovation participants.The life-long friendships
          forged during Technovation are special for the girls and mentors.
          Each mentor makes this learning journey special in his/her unique way.”
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <p>With Love,</p>
          <p>Monica</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
