<table class="table">
  <thead>
    <tr>
      <th><%= t("models.team.name") %></th>
      <th><%= t("models.team.students") %></th>
      <th><%= t("views.application.actions") %></th>
    </tr>
  </head>

  <tbody>
    <% @teams.each do |team| %>
      <% cache(team) do %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.students.collect(&:full_name).to_sentence %></td>
          <td><%= link_to t("views.application.view"), team %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
