<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "mentor/new_dashboards/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Build your team" } do %>
    <% if current_mentor.onboarding? || SeasonToggles.team_building_disabled? %>
      <%= render "explanations/feature_not_available", feature: :team_invites %>
    <% else %>
      <div class="mb-16">
        <h4 class="text-xl font-medium mb-2">Find a Team</h4>
        <p>
          You can request to mentor existing teams of girls, and make yourself available
          for teams to request your mentorship. As a mentor, you may support as many
          teams as you are comfortable with. More than 1 mentor may support a team.
        </p>

        <p class="mb-8">
          To learn more about finding a team, review the
          <%= link_to "Find a team lesson",
            "https://technovationchallenge.org/courses/mentor-training/lessons/mentor-training-find-a-team/",
            class: "tw-link",
            target: "_blank" %>
          from the Mentor Training.
        </p>

        <%= link_to(t("views.profile_requirements.create_join_team.links.join.text"),
          new_mentor_team_search_path,
          class: "tw-green-btn") %>
      </div>

      <div class="mb-16">
        <h4 class="text-xl font-medium mb-2">Create a Team</h4>
        <p class="mb-8">
          Start your own team and invite others to join by email!
        </p>
        <%= link_to(t("views.profile_requirements.create_join_team.links.create.text"),
          new_mentor_team_path,
          class: "tw-green-btn") %>
      </div>
    <% end %>
  <% end %>
</div>