<div class="authentication">
  <dl>
    <dt><%= t('models.basic_profile.full_name') %></dt>
    <dd><%= current_authentication.profile_full_name %></dd>

    <dt><%= t('models.authentication.email') %></dt>
    <dd><%= current_authentication.email %></dd>

    <dt><%= t('models.basic_profile.date_of_birth') %></dt>
    <dd><%= current_authentication.profile_date_of_birth %></dd>

    <dt><%= t('models.basic_profile.address') %></dt>
    <dd><%= current_authentication.profile_address_details %></dd>
  </dl>

  <%= link_to t('views.authentications.show.edit'), edit_authentication_path %>
</div>
