<h3>Summary</h3>

<p>
  <em><%= team.name %> earned <strong><%= score.total_technical_checklist_verified %> points</strong> from their technical checklist.</em>
</p>

<table class="ra-participants-list">
  <thead>
    <tr>
      <th>Ideation</th>
      <th>Technical</th>

      <% if team.division.senior? %>
        <th>Entrepreneurship</th>
      <% end %>

      <th>Pitch</th>
      <th>Overall impression</th>

      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= score.ideation_total %></td>
      <td><%= score.technical_total %></td>

      <% if team.division.senior? %>
        <td><%= score.entrepreneurship_total %></td>
      <% end %>

      <td><%= score.pitch_total %></td>
      <td><%= score.overall_impression_total %></td>

      <td><strong><%= score.total %></strong></td>
    </tr>
  </tbody>
</table>
