<div class="flex-col-md-6">
  <label>
    Sort by:

    <%= select_tag :sort,
      options_for_select([["Highest average score", "avg_score_desc"],
                          ["Lowest average score", "avg_score_asc"],
                          ["Team name", "team_name"]],
                        params.fetch(:sort) { "avg_score_desc" }),
      data: { reload: true } %>
  </label>
</div>

<div class="flex-col-md-6">
  <label>
    Division

    <%= select_tag :division,
      options_for_select(
        Division.names.keys.map { |k| [k.titleize, k] },
        params.fetch(:division) { "senior" }
      ),
      data: { reload: true } %>
  </label>
</div>

<% if scope == :regional_ambassador %>
  <div class="flex-col-md-6">
<% else %>
  <div class="flex-col-md-12">
<% end %>
  <% if events.many? %>
    <label>
      Select an Event

      <%= select_tag :event,
        options_from_collection_for_select(
          events,
          :id,
          scope === :admin ? :name_with_friendly_country_prefix : :name,
          params[:event]
      ),
      class: "chosen-wide",
      data: { reload: true } %>
    </label>
  <% else %>
    <strong>Your event: <%= event.name %>.</strong>
  <% end %>
</div>

<% if scope == :regional_ambassador %>
  <div class="flex-col-md-6">
    <%= form_tag regional_ambassador_exports_path(params.merge(class: "scores")) do %>
      <div class="standalone-buttons">
        <%= button_tag "Email CSV Report", class: "appy-button" %>
      </div>
    <% end %>
  </div>
<% end %>


<div class="flex-col-md-12">
  <%= render 'regional_ambassador/scores/list',
    division: division,
    event: event,
    submissions: submissions,
    scope: scope %>
</div>
