<% teams ||= event.teams.public_send(division) %>

<% if teams.any? %>
  <table class="ra-participants-list">
    <thead>
      <tr>
        <th>Team</th>
        <th>Submission</th>
        <th>Completed scores</th>
        <th>Pending scores</th>
        <th>Average of completed scores</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% teams.order(params.fetch(:sort) { "LOWER(teams.name) asc" }).each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.submission.app_name %></td>
          <td><%= team.submission_scores.complete.count %></td>
          <td><%= team.submission_scores.incomplete.count %></td>
          <td><%= team.submission.average_score %></td>
          <td><%= link_to 'View details',
            regional_ambassador_score_path(team.submission) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No teams were found for the <strong><%= division %></strong> division of the event: <strong><%= event.name %></strong>.
  </p>
<% end %>
