<% if submissions.any? %>
  <table class="ra-participants-list">
    <thead>
      <tr>
        <th>Team</th>
        <th>Submission</th>
        <th>Completed scores</th>
        <th>Pending scores</th>
        <th>Average of completed scores</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% submissions.each do |submission| %>
        <tr>
          <td><%= submission.team.name %></td>

          <td>
            <%= link_to submission.app_name,
              app_path(submission),
              target: :_blank %>
          </td>

          <td>
            <%= submission.submission_scores.send(params[:round]).complete.count %>
          </td>

          <td>
            <%= submission.submission_scores.send(params[:round]).incomplete.count %>
          </td>

          <td>
            <%= submission.send("#{params[:round]}_average_score") %>
          </td>

          <td>
            <%= link_to 'View details',
              send("#{scope}_score_path", submission, round: params[:round]) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination_info" style="padding: 1rem 0 0;">
    <%= page_entries_info submissions,
      model: "#{division.capitalize}_team" %>
  </div>

  <%= will_paginate submissions %>

  <label class="per_page">
    Per page:

    <%= select_tag :per_page,
      options_for_select([15, 25, 50, 100], params[:per_page]),
      data: {
        reload: true,
        param: :per_page,
      } %>
  </label>
<% else %>
  <p>
    No teams were found for the
    <strong><%= division %></strong>
    division of the event:
    <strong><%= event.name %></strong>.
  </p>
<% end %>
