<h1 class="appy-title">Detailed Scores for <%= @team.name %></h1>

<label>
  Judging round:

  <%= select_tag :round,
    options_for_select(SubmissionScore.rounds.keys, params[:round]),
    data: { reload: true } %>
</label>

<p style="padding: 0; margin: 0 0 1rem;">
  <strong>Division:</strong>
  <%= @team.division_name %> |

  <strong>App:</strong>
  <%= @team_submission.app_name || "No name" %> |

  <strong>Average score:</strong>
  <%= @team_submission.public_send("#{params[:round]}_average_score") %>
</p>

<p style="padding: 0; margin: 0 0 1rem;">
  <%= link_to "Open the submission",
    app_path(@team_submission),
    target: :_blank %>
</p>

<% if current_account.admin_profile %>
  <p style="padding: 0; margin: 0 0 1rem;">
    <%= link_to "Edit the submission",
      edit_admin_team_submission_path(@team_submission) %>
  </p>
<% end %>

<p style="padding: 0; margin: 0 0 1rem;">
  <%= link_to 'back', send("#{current_account.type_name}_scores_path",
                           event: @event.id,
                           division: @team.division_name) %>
</p>

<% if @scores.empty? %>
  <p>
    No completed scores are available for this submission.
  </p>
<% else %>
  <div id="ra-scores-detail" class="flex-row tabs tabs-vertical">
    <ul class="flex-col-md-3 tab-menu">
      <% @scores.each do |score| %>
        <li class="tab-link">
          <button
            role="button"
            class="tab-button"
            data-tab-id="ra-scores-score-<%= score.id %>">
            <%= score.judge_profile.full_name %><br />
            <small style="color: #999; font-style: italic;">
              <%= score.event_type %> event -
              Scored <%= score.total %> / <%= score.total_possible %>
            </small>
          </button>
        </li>
      <% end %>
    </ul>

    <div class="content flex-col-md-9">
      <% @scores.each do |score| %>
        <div class="tab-content" id="ra-scores-score-<%= score.id %>">
          <%= render 'regional_ambassador/scores/detail_summary',
            score: score,
            team: @team %>

          <h3>Breakdown</h3>

          <div class="score-section" id="score-section-ideation">
            <%= render 'regional_ambassador/scores/detail/ideation', score: score %>
          </div>

          <div class="score-section" id="score-section-technical">
            <%= render 'regional_ambassador/scores/detail/technical', score: score %>
          </div>

          <% if @team.division.senior? %>
            <div class="score-section" id="score-section-entrepreneurship">
              <%= render 'regional_ambassador/scores/detail/entrepreneurship', score: score %>
            </div>
          <% end %>

          <div class="score-section" id="score-section-pitch">
            <%= render 'regional_ambassador/scores/detail/pitch', score: score %>
          </div>

          <div class="score-section" id="score-section-overall">
            <%= render 'regional_ambassador/scores/detail/overall', score: score %>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
