<%= simple_form_for @program_information,
  url: send(:"#{current_scope}_program_information_path") do |f| %>

  <p class="mb-8">
    All this information is private and will not be publicly displayed. You are required to enter a
    response now, but you can go back later and edit the information. This information helps our
    team support your local chapter to the best of our ability.
    <br>
    <span class="text-red-600 mb-4">
      Note: Your responses will not autosave. Please click "save" at the bottom of the form to
      save responses before exiting the page.
    </span>
  </p>

  <% if current_ambassador.chapterable_type == "chapter" %>
    <div class="mb-8">
      <%= f.association :organization_types,
        collection: OrganizationType.order(:order),
        as: :check_boxes,
        label: t("program_information.chapter.organization_type_question")
      %>
    </div>

    <div class="mb-8">
      <%= f.label :child_safeguarding_policy_and_process,
        t("program_information.chapter.child_safeguarding_policy_and_process_question"),
        for: :child_safeguarding_policy_and_process
      %>
      <p class="text-base"><%= t("program_information.chapter.child_safeguarding_policy_and_process_description") %></p>
      <%= f.input :child_safeguarding_policy_and_process,
        label: false,
        as: :text,
        input_html: {
          rows: 3,
        }
      %>
    </div>
  <% end %>

  <% if current_ambassador.chapterable_type == "club" %>
    <div class="mb-8">
      <%= f.association :meeting_formats,
        as: :check_boxes,
        label: t("program_information.club.meeting_format_question")
      %>
    </div>

    <div class="mb-8">
      <%= f.label :work_related_ambassador,
        t("program_information.club.work_related_ambassador_question"),
        for: :work_related_ambassador %>
      <%= f.select :work_related_ambassador,
        [
          [t("program_information.club.work_related_ambassador_job_option"), true],
          [t("program_information.club.work_related_ambassador_volunteer_option"), false]
        ],
       include_blank: true
      %>
    </div>
  <% end %>

  <div class="mb-8">
    <%= f.input :start_date,
      start_year: Date.today.year ,
      end_year: Date.today.year + 1,
      label: t("program_information.start_date_question"),
      include_blank: true,
      prompt: true
    %>
  </div>

  <div class=" border-l-2 border-energetic-blue bg-blue-50 p-2 mb-8">
    <p class="text-left">
      Please provide the following information on your program to the best
      of your ability. If you’re not sure about any aspects you can select
      the “Uncertain” option and come back later to provide more accurate
      information.
    </p>
  </div>

  <div class="mb-8">
    <%= f.association :meeting_times,
      as: :check_boxes,
      label_method: :time,
      label: t("program_information.meeting_time_question")
    %>
  </div>

  <div class="mb-8">
    <%= f.association :program_length,
      collection: ProgramLength.all,
      as: :select,
      label_method: :length,
      required: false,
      label: t("program_information.program_length_question"),
      prompt: "Select a Program Length"
    %>
  </div>

  <div class="mb-8">
    <%= f.association :meeting_facilitators,
      as: :check_boxes,
      label_method: :name,
      label: t("program_information.#{current_ambassador.chapterable_type}.meeting_facilitator_question")
    %>
  </div>

  <div class="mt-8 w-full flex mx-auto">
    <p class="flex flex-row mx-auto space-x-4">
      <%= f.submit "Save", class: "tw-green-btn cursor-pointer" %>
      <span class="flex flex-col justify-center text-center">or</span>
      <%= link_to "cancel",
        send(:"#{current_scope}_program_information_path"),
        class: "flex flex-col justify-center text-center"
      %>
    </p>
  </div >
<% end %>
