<% provide :title, "Chapter Ambassador Data • Events" %>

<div class="panel panel--left">
  <h1>Regional Pitch Events</h1>

  <div id="app">
    <events-table
      fetch-url="<%= chapter_ambassador_regional_pitch_events_path(
        format: :json
      ) %>"

      manage-attendees="<%= ENV.fetch("MANAGE_EVENTS") { false } %>"

      save-assignments-url="<%=
        chapter_ambassador_event_assignments_path(
          format: :json
        )
      %>"

      judges-list-url="<%= chapter_ambassador_judge_list_path(
        format: :json
      ) %>"

      teams-list-url="<%= chapter_ambassador_team_list_path(
        format: :json
      ) %>"
    ></events-table>

    <event-form
      post-url="<%= chapter_ambassador_regional_pitch_events_path(
        format: :json
      ) %>"
      beginner-division-id="<%= Division.beginner.id %>"
      beginner-division-name="<%= Division.beginner.name %>"
      junior-division-id="<%= Division.junior.id %>"
      junior-division-name="<%= Division.junior.name %>"
      senior-division-id="<%= Division.senior.id %>"
      senior-division-name="<%= Division.senior.name %>"
    ></event-form>
  </div>
</div>

<div class="panel">
  <p class="heading--reset">
    You can only add currently registered judges to an event.
    If you would like to invite someone to register as a judge,
    please have them sign up at <%= signup_url %>
  </p>
  <p>
    Once they are registered, judges who enter a location within
    your chapter's region during their registration process will
    automatically appear in the list of judges you can assign to
    an event.
  </p>
</div>
