<div class="mx-auto" style="width: 556px;">
  <div class="tab-content tw-active">
    <div class="tw-blue-lg-container">
      <div class="sm-header-wrapper bg-energetic-blue text-white p-2">
        <p class="font-bold">Find a Chapter</p>
      </div>

      <div class="p-6">
        <% if @chapters.present? %>
          <div class="prose">
            <%= render "#{current_account.scope_name}_text" %>

            <div class="flex flex-col space-y-6 mt-8">
              <%= simple_form_for @chapter_assignment do |f| %>

                <% @chapters.each do |chapter| %>
                  <div class="flex">
                    <div class="mr-6">
                      <%= radio_button_tag "chapter_id", chapter.id %>
                    </div>

                    <div>
                      <%= label_tag "chapter_id_#{chapter.id}",
                        style: "text-transform: none; letter-spacing: 0; font-size: inherit; font-weight: inherit;" do %>

                        <span class="font-bold text-xl"><%= chapter.name.presence || chapter.organization_name %></span><br>
                        <%= chapter.location %>
                      <% end %>
                    </div>
                  </div>
                <% end %>

                <div class="flex">
                  <div class="mr-6">
                    <%= radio_button_tag "chapter_id", "none_selected", false %>
                  </div>

                  <div>
                    <%= label_tag "chapter_id_none_selected",
                      style: "text-transform: none; letter-spacing: 0; font-size: inherit; font-weight: inherit;" do %>

                      <span class="font-bold text-xl">I'm not sure</span><br>

                      Select this option if none of the chapters are
                      near you or you are not sure which to pick.
                    <% end %>
                  </div>
                </div>

                <% if current_account.scope_name == "mentor" %>
                  <%= render "extra_mentor_form_fields" %>
                <% end %>

                <%= f.submit "Save", class: "tw-green-btn cursor-pointer mt-8" %>
              <% end %>
            </div>

            <hr class="border-t border-gray-300 my-4">

            <p class="font-bold mb-2">
              Working with a chapter that isn't listed?</span>
            </p>

            <p class="mt-2">
              Contact us at <%= mail_to ENV.fetch("HELP_EMAIL"), ENV.fetch("HELP_EMAIL"), class: "tw-link" %>
              and we'll connect your account with that chapter.
            </p>
          </div>
        <% else %>
          <%= render "no_chapters_found" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
