<h4>1. Descripción general y actividades del programa</h4>

<p>Las participantes del Programa Technovation participan en actividades que incluyen: trabajar con profesores, mentores y miembros de su equipo de Technovation; participar en cursos de programación informática (el plan de estudios está disponible en technovationchallenge.org); aprender y realizar investigaciones comunitarias sobre un problema local; desarrollar un proyecto  tecnológico, un  canva de negocios, un prototipo y vídeos de presentación y tecnología; presentar sus proyectos a audiencias y jueces en eventos regionales de presentación (si es que aplica); y, si el equipo es seleccionado, asistir al evento de la Cumbre Mundial (incluido el viaje desde y hacia la ubicación de la Cumbre Mundial).</p>

<p>Technovation (también denominado en este documento como “nosotros”, “nos” y “nuestro”) se compromete a proteger su privacidad en línea. Como parte de este compromiso, hemos adoptado una Política de privacidad (la “Política”) que rige la forma en que protegemos, recopilamos, compartimos, usamos y de otro modo tratamos los datos obtenidos de los clientes que visitan nuestros sitios web, ubicados en

<%= link_to "https://technovation.org", "https://technovationc.org" %>,
<%= link_to "https://iridescentlearning.org", "https://www.iridescentlearning.org" %>,
<%= link_to "https://www.curiositymachine.org", "https://www.curiositymachine.org" %>,
<%= link_to "https://my.technovationchallenge.org", "https://my.technovationchallenge.org" %>,
y
<%= link_to "https://www.technovationchallenge.org", "https://www.technovationchallenge.org" %>
(los “Sitios web”). Esta Política también explica los derechos que puede tener sobre estos datos. Al brindar todos nuestros servicios, nuestro objetivo es proteger su privacidad a través de esta Política, que también garantiza que cumplamos con las regulaciones internacionales de privacidad de datos.</p>

<p>Tenga en cuenta que pueden existir ciertas exenciones a nuestras obligaciones con respecto a los datos obtenidos de los participantes de nuestro programa, dependiendo de la ley aplicable en la jurisdicción pertinente.
Además, debe entenderse que la Política de Privacidad no cubre los productos o servicios que usted pueda utilizar proporcionados por otras empresas u organizaciones que actúen por cuenta propia.</p>


<h4>2. Nuestra Política de Privacidad: ¿Qué información recopila Technovation sobre usted y cuándo recopila Technovation esta información?</h4>

<p>Para mejorar su experiencia en los sitios web de Technovation, podemos recopilar la siguiente información (“Información personal”) que nos proporcione. Esta puede incluir datos o información confidencial de acuerdo con la legislación aplicable. Si bien puede visitar algunas páginas de nuestro sitio web sin proporcionar toda la Información personal que se detalla a continuación, debe proporcionar cierta Información personal para hacer uso de funciones específicas, como compartir sus proyectos, recibir comentarios de nuestros mentores y jueces, recibir puntajes y certificados, y participar en competiciones de proyectos.</p>

<p>Los sitios web pueden recopilar la siguiente información personal:</p>

<ul>
  <li>Nombre</li>
  <li>Ciudad, estado y región de residencia</li>
  <li>Dirección de correo electrónico</li>
  <li>Contraseña</li>
  <li>Fecha de nacimiento</li>
  <li>Dirección de Protocolo de Internet (“IP”)</li> 
  <li>Nombre de la escuela</li>
  <li>Nombres y direcciones de correo electrónico de los padres (para menores)</li>
  <li>Género</li>
  <li>Nombre de la empresa</li>
  <li>Título profesional</li>
  <li>Texto, fotos y vídeos enviados por los usuarios</li>
</ul>

<p>Además, cuando acceda a los Sitios web mediante un dispositivo móvil, podremos recopilar la siguiente Información personal adicional:</p>

  <ul>
  <li>Número de identificación único asociado con su dispositivo (“ID del dispositivo”)</li>
  <li>Operador de telefonía móvil</li>
  <li>Tipo de dispositivo y fabricante</li>
  <li>Número telefónico</li>
  <li>Dependiendo de la configuración de su dispositivo móvil, sus datos de ubicación geográfica, incluidas las coordenadas GPS o información similar sobre la ubicación de su dispositivo móvil</li>
</ul>

<p>Recopilamos esta información personal cuando se registra en los sitios web o solicita productos o servicios que ofrecen los sitios web. Es posible que se le solicite que proporcione información personal si participa en sorteos, concursos o encuestas, o si publica o accede a cualquier contenido en foros de mensajes, salas de chat o blogs operados por Technovation y sus programas. También podemos recopilar esta información personal cuando publica materiales como parte de la presentación de un proyecto.</p>

<p><strong>¿Quiénes son nuestras fuentes de terceros?</strong></p>

<p>Principalmente obtenemos información directamente de usted. De vez en cuando, también podemos obtener información sobre usted de fuentes de terceros.</p>

<p>Solo recopilaremos dicha información cuando los terceros hayan obtenido su consentimiento o estén legalmente autorizados a compartir dicha información. En determinadas circunstancias limitadas, es posible que se les pida a algunos terceros que nos revelen su información personal.</p>

<p><strong>i. Política de Cookies</strong></p>

<p>Los sitios web también recopilan información no identificable personalmente de forma automática mediante el uso de herramientas electrónicas como las "cookies". Las cookies ayudan a proporcionar una experiencia web personalizada al permitirnos identificar a los usuarios que visitan nuestro sitio web.</p>

<p>Los tipos de cookies que utilizamos en los sitios web de Technovation:</p>

<ul>
  <li>
    <strong>Estrictamente necesarias:</strong> estas cookies son esenciales para brindarle los servicios del sitio web de Technovation y permitirle utilizar algunas de sus funciones. Por ejemplo, las cookies son necesarias para mantenerle conectado a su cuenta de Technovation y acceder al currículum. Por ese motivo, sin estas cookies, el sitio web de Technovation no puede brindarle sus servicios.
  </li>

  <li>
    <strong>Cookies de funcionalidad:</strong> Las cookies de funcionalidad recuerdan sus preferencias y configuraciones cuando regresa a nuestro sitio. Esto nos ayuda a brindarle una experiencia más eficaz y personalizada. Por ejemplo, si se encuentra en el Reino Unido, nuestro sitio web le proporcionará información específica del Reino Unido, en lugar de información sobre otros países.
  </li>

  <li>
    <strong>Cookies de seguimiento/rendimiento/publicidad:</strong> estas cookies se utilizan para rastrear información sobre el tráfico al sitio web de Technovation y para recopilar información sobre lo que hace en nuestro sitio web. Esto incluye el contenido que vio, los enlaces que siguió y en los que hizo clic, el tipo de dispositivo que está usando y su dirección IP. Estas cookies se utilizan para optimizar nuestro sitio web y las campañas de marketing. Estas cookies son administradas por terceros como Google y YouTube. Cuando un tercero recopila datos personales a través de una cookie de publicidad o segmentación colocada a través de nuestro sitio web, el uso que hace el tercero de sus datos personales se rige por la política de privacidad del tercero. No olvide consultar los sitios web de estos proveedores para conocer sus normas de protección de datos.
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th>Nombre de la cookie</th>
      <th>Objetivo</th>
      <th>Estrictamente necesario</th>
      <th>Caduca</th>
    </tr>
  </thead>

<tbody>
    <tr>
      <td>__stripe_mid</td>
      <td>Stripe establece esta cookie para procesar pagos.</td>
      <td>Sí</td>
      <td>1 año</td>
    </tr>
    <tr>
      <td>__stripe_sid</td>
      <td>Stripe establece esta cookie para procesar pagos.</td>
      <td>Sí</td>
      <td>30 minutos</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-advertisement</td>
      <td>Establecida por el complemento de consentimiento de cookies de RGPD, esta cookie se utiliza para registrar el consentimiento del usuario para las cookies en la categoría "Publicidad".</td>
      <td>Sí</td>
      <td>1 año</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-analytics</td>
      <td>Esta cookie está configurada por el complemento RGPD Cookie Consent. La cookie se utiliza para almacenar el consentimiento del usuario para las cookies en la categoría "Analíticas".</td>
      <td>Sí</td>
      <td>11 meses</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-functional</td>
      <td>La cookie está configurada por el consentimiento de cookies de RGPD para registrar el consentimiento del usuario para las cookies en la categoría "Funcional".</td>
      <td>Sí</td>
      <td>11 meses</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-necessary</td>
      <td>Esta cookie está configurada por el complemento RGPD Cookie Consent. Las cookies se utilizan para almacenar el consentimiento del usuario para las cookies en la categoría "Necesarias".</td>
      <td>Sí</td>
      <td>11 meses</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-others</td>
      <td>Esta cookie está configurada por el complemento RGPD Cookie Consent. La cookie se utiliza para almacenar el consentimiento del usuario para las cookies en la categoría "Otros".</td>
      <td>Sí</td>
      <td>11 meses</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-performance</td>
      <td>Esta cookie está configurada por el complemento RGPD Cookie Consent. La cookie se utiliza para almacenar el consentimiento del usuario para las cookies en la categoría "Rendimiento".</td>
      <td>Sí</td>
      <td>11 meses</td>
    </tr>
    <tr>
      <td>CookieLawInfoConsent</td>
      <td>Registra el estado predeterminado del botón de la categoría correspondiente y el estado de la CCPA. Funciona únicamente en coordinación con la cookie principal.</td>
      <td>Sí</td>
      <td>1 año</td>
    </tr>
    <tr>
      <td>viewed_cookie_policy</td>
      <td>La cookie está configurada por el complemento RGPD Cookie Consent y se utiliza para almacenar si el usuario ha dado su consentimiento o no para el uso de cookies. No almacena ningún dato personal.</td>
      <td>Sí</td>
      <td>11 meses</td>
    </tr>
    <tr>
      <td>_ga</td>
      <td>La cookie _ga, instalada por Google Analytics, calcula los datos de visitantes, sesiones y campañas y también realiza un seguimiento del uso del sitio para el informe analítico del sitio. La cookie almacena información de forma anónima y asigna un número generado aleatoriamente para reconocer a los visitantes únicos.</td>
      <td>No</td>
      <td>2 años</td>
    </tr>
    <tr>
      <td>_gat_gtag_UA_4055471_11</td>
      <td>Establecido por Google para distinguir a los usuarios.</td>
      <td>No</td>
      <td>1 minuto</td>
    </tr>
    <tr>
      <td>_gcl_au</td>
      <td>Proporcionado por Google Tag Manager para experimentar la eficiencia publicitaria de los sitios web que utilizan sus servicios.</td>
      <td>No</td>
      <td>3 meses</td>
    </tr>
    <tr>
      <td>_gid</td>
      <td>Instalada por Google Analytics, la cookie _gid almacena información sobre cómo los visitantes utilizan un sitio web y, al mismo tiempo, crea un informe analítico del rendimiento del sitio web. Algunos de los datos que se recopilan incluyen el número de visitantes, su fuente y las páginas que visitan de forma anónima.</td>
      <td>No</td>
      <td>1 día</td>
    </tr>
  </tbody>
</table

<p><strong>ii. Cómo puede optar por no tener cookies instaladas en un dispositivo:</strong></p>

<p>Si no desea que Technovation rastree o utilice sus cookies, puede ajustar la configuración de seguridad de su navegador de Internet para rechazar las cookies. Sin embargo, rechazar las cookies puede limitar su capacidad para acceder a ciertas páginas disponibles en el sitio web y puede impedirle disfrutar de las funciones de nuestro sitio web habilitadas por las cookies. Puede cambiar su preferencia en cualquier momento. Si desea eliminar las cookies almacenadas anteriormente, borre el historial de cookies de su navegador.</p>

<p>Los sitios web pueden emplear gifs transparentes (también conocidos como balizas web) que se utilizan para rastrear de manera anónima los patrones de uso en línea de nuestros usuarios. Además, también podemos utilizar gifs transparentes en correos electrónicos basados en HTML enviados a nuestros usuarios para rastrear qué correos electrónicos se abren y en qué enlaces hacen clic los destinatarios. La información permite generar informes más precisos y mejorar los sitios web. También podemos recopilar datos analíticos o utilizar herramientas analíticas de terceros para ayudarnos a medir el tráfico y las tendencias de uso. Estas herramientas recopilan información enviada por su navegador o dispositivo móvil, incluidas las páginas que visita, su uso de aplicaciones de terceros y otra información que nos ayuda a analizar y mejorar los sitios web.</p>

<h4>3. Finalidades de la Recopilación de Información</h4>

<p>Para mejorar su experiencia en los sitios web, recopilamos la siguiente información personal que usted nos proporciona. Si bien puede visitar algunas páginas de nuestro sitio web sin proporcionar toda la información personal que se detalla a continuación, debe proporcionar cierta información para aprovechar funciones específicas, como compartir sus proyectos, recibir comentarios de nuestros mentores y jueces, recibir puntajes y certificados y participar en concursos de proyectos.</p>

<p>En concreto, utilizamos su información personal para lograr los siguientes fines legítimos:</p>

<ul>
  <li>Comunicarnos con usted con respecto a nuestros programas, características y servicios disponibles a través de los Sitios web.</li>

  <li>Compartiendo nuestro currículo.</li>

  <li>Ayudándole a participar en proyectos y concursos como parte de nuestro programa.</li>

  <li>Ayudar a las estudiantes y mentores a construir relaciones saludables para llevar a cabo actividades y competencias en equipo, incluida la conexión de estudiantes y mentores mediante servicios de comunicación de terceros, como correo electrónico, videollamadas y Slack.</li>

  <li>Comunicarnos con usted con respecto a productos, características y servicios que ofrecen nuestros afiliados y socios comerciales.</li>

  <li>Enviar boletines informativos por correo electrónico sobre otros temas que creemos que pueden ser de interés, como oportunidades de Technovation, pasantías y/o becas.</li>

  <li>Solución de problemas y administración de sitios web.</li>

  <li>Technovation adapta los anuncios en plataformas de terceros a las participantes y antiguas participantes en función de la información que hemos recibido de usted, como su nombre e información de contacto. Por ejemplo, podemos publicar anuncios en redes sociales que se adapten a usted en función de su relación con Technovation, utilizando la información que nos haya proporcionado previamente o si ha dado su consentimiento para esos anuncios dirigidos. Un ejemplo de un anuncio dirigido puede ser información sobre un taller de desarrollo profesional de Technovation que aparece cuando esté conectado a LinkedIn. Puede oponerse a este uso de sus datos al optar por no recibir cookies de "publicidad" en la configuración de cookies en https://www.technovation.org o enviando un correo electrónico a <%= mail_to ENV.fetch("PRIVACY_EMAIL_ADDRESS") %>. Tenga en cuenta que la publicidad dirigida no incluye, por ejemplo, publicidad dirigida a usted en respuesta a su solicitud de información o comentarios, anuncios basados en actividades dentro de nuestros propios sitios web o aplicaciones en línea, o anuncios basados en el contexto de su consulta de búsqueda actual, visita a un sitio web o aplicación en línea, o procesamiento de información personal únicamente para medir o informar el rendimiento, el alcance o la frecuencia de la publicidad.</li>

  <li>Cumplir con una obligación legal cuando sea necesario, como por ejemplo cuando una agencia policial o gubernamental nos obliga a compartir información personal.</li>
</ul>

<p>Algunos datos personales proporcionados por los participantes registrados en my.technovationchallenge.org también pueden compartirse con el embajador del capítulo de su región con el fin de proporcionar información específica del país sobre el programa. Todos los embajadores del capítulo deben firmar un acuerdo de confidencialidad antes de poder ver cualquier información personal relacionada con los participantes de su país.</p>
     
<h4>4. Consentimiento para la recopilación y el uso de información personal</h4>

<p>Es posible que no siempre se le pida que nos proporcione la información personal que le solicitamos; toda la información personal que se requiere está claramente marcada como obligatoria. Cuando no desee compartir cierta información personal con nosotros, simplemente puede no proporcionárnosla o rechazar el procesamiento de su información personal cuando se le ofrezca esta opción. Sin embargo, si elige no proporcionar cierta información personal, es posible que no pueda beneficiarse de nuestro programa para el cual es necesario proporcionar dicha información personal. Es posible que le pidamos que nos proporcione información personal para cumplir con ciertos requisitos legales. En tales casos, se lo notificaremos a su debido tiempo y le informaremos si su información personal es obligatoria o no (así como de las posibles consecuencias si no proporciona su información personal).</p>

<p><em>A. Consentimiento de adultos (mayores de 18 años)</em></p>

<p>Al proporcionarnos información de la manera descrita en la Sección 2 (“Nuestra Política de Privacidad”), usted acepta que utilicemos su Información Personal para los fines explícitos enumerados en la Sección 3 (“Finalidades de la Recopilación de Información”) de la Política de Privacidad. Puede retirar su consentimiento en cualquier momento mediante cualquiera de los siguientes métodos:</p>

<p>Todos los usuarios del sitio web que nos proporcionen información personal pueden darse de baja de nuestros servicios por completo en cualquier momento cancelando la suscripción a las comunicaciones de marketing o ajustando la configuración de cookies. Si lo hace, eliminaremos cualquier información personal que hayamos recopilado de usted en función de su consentimiento.
Para las participantes de Technovation Girls se requiere una inscripción anual para permanecer en el programa. Si decide no inscribirse en un año determinado, conservaremos su información de contacto en caso de que decida inscribirse en años futuros, pero no recopilaremos ninguna información adicional. Puede comunicarse con nosotros si desea que eliminemos permanentemente su información de contacto. De lo contrario, eliminaremos su información periódicamente, como se describe en nuestra política de retención de datos en la Sección 5(C)(i) (“Retención de datos”) de la Política de Privacidad a continuación.</p>

<p>Por favor, espere hasta 30 días hábiles para que podamos procesar su solicitud. Después de cancelar su suscripción, es posible que aún reciba mensajes de correo electrónico sobre el estado de su cuenta, para resolver problemas técnicos o para confirmar una membresía renovada.</p>

<p><em>B. Consentimiento de los padres/tutores para menores de edad (menores de 18 años)</em></p>

<p>Necesitamos el consentimiento de un padre, madre o tutor antes de que una niña menor de 18 años pueda participar en cualquier programa o actividad de Technovation. El uso de los sitios web a veces requiere que compartamos su información con otros usuarios de los sitios web y voluntarios capacitados. El consentimiento de los padres/tutores otorgado por los siguientes métodos incluye el consentimiento para que Technovation recopile y use la información personal de la menor según se indica en la Sección 2 ("Nuestra Política de Privacidad") para los fines explícitos que se indican en la Sección 3 ("Finalidades de la Recopilación de Información") de la Política de Privacidad.</p>

<p>Los padres/tutores pueden dar su consentimiento firmando este formulario digitalmente, por correo electrónico o por correo postal para que sus hijas menores nos proporcionen información de identificación personal. El consentimiento de los padres/tutores permite que las niñas menores de 18 años participen en los programas o actividades de Technovation. Los formularios de consentimiento de los padres/tutores se envían por correo electrónico a los padres/tutores cuando los estudiantes se registran en Technovation Girls. Alternativamente, los formularios de consentimiento se pueden descargar para Technovation Girls desde el panel de control del usuario. Una vez recibido el formulario de consentimiento de los padres/tutores, Technovation desbloqueará las cuentas de las estudiantes y estas podrán participar en nuestros programas.</p>

<p>Se recomienda encarecidamente a los padres/tutores que den su consentimiento mediante la opción de firma digital o subiendo el formulario de consentimiento a la plataforma de Technovation desde la cuenta de su hija. Sin embargo, para dar su consentimiento por correo electrónico o correo postal, los padres/tutores deben completar el formulario de consentimiento de los padres/tutores, firmarlo y enviar una foto o un escaneo a Technovation a:</p>

<p>Correo electrónico: 
<%= mail_to ENV.fetch("HELP_EMAIL") %>
con el asunto: “Consentimiento de los padres para [nombre de la niña]”</p>

<p>O enviar el original por correo postal:</p> 

Technovation<br>
#1120<br>
700 El Camino Real Suite 120<br>
Menlo Park, CA 94025<br>

<p>Si nos enteramos de que hemos recopilado o recibido Información Personal personal de una niña menor de 18 años sin el consentimiento de los padres/tutores, eliminaremos de inmediato la información. Si cree que podríamos tener alguna información de o sobre una niña sin el consentimiento de los padres/tutores, comuníquese con nosotros a través de los métodos que se enumeran en la sección “Contáctenos” al final de esta Política de Privacidad.</p>

<p>Además de cualquier otra ley de privacidad aplicable descrita en este documento, recopilaremos, procesaremos y utilizaremos cualquier información personal relacionada con una niña conocido de conformidad con la Ley de Protección de la Privacidad Infantil en Línea federal, 15 USC § 6501 y siguientes (“COPPA”).</p>

<h4>5. Sus derechos relacionados con la privacidad</h4>

<p>La protección de su Información Personal es una parte esencial de nuestras actividades. Con el fin de brindarle una experiencia personalizada, aplicaremos las leyes de protección de datos de su país y/o región de residencia. Este enfoque también será coherente con las leyes de consumo del país y/o región de su residencia habitual y, por lo tanto, nos permitirá cumplir mejor con sus expectativas en cuanto a la protección de su Información Personal.</p>

<p>Si usted es residente de alguno de los países y/o regiones identificados a continuación, asegúrese de consultar la información específica aplicable a su jurisdicción.</p>

<p><em>A. Sus derechos de privacidad en la UE</em></p>

<p>Los residentes de la UE tienen ciertos derechos que les otorga el Reglamento General de Protección de Datos de la UE ((UE) 2016/679) (“RGPD”).</p>

<p>i. Transferencias fuera del Espacio Económico Europeo</p>

<p>Nuestra sede está en Menlo Park, California, y los sitios web están alojados por terceros que también tienen su sede en los Estados Unidos. En consecuencia, cuando nos proporciona información personal, esta se transfiere fuera del Espacio Económico Europeo (“EEE”). Para garantizar que se brinde un grado adecuado de protección a su Información Personal cuando se transfiere fuera del EEE, solo transferimos su Información Personal a los Estados Unidos y solo con su consentimiento, como se describe en la Política de Privacidad. Además, solo transferiremos su información personal a los Estados Unidos con la condición de que sus derechos estén protegidos y que tenga acceso a un recurso legal efectivo.</p>

<p>ii. Sus derechos legales en la UE</p>

<p>Tiene derecho a:</p>

<ul>
  <li>Solicitar acceso a su Información Personal. Le enviaremos una copia de la información personal que tenemos registrada, lo que le permitirá comprobar que la estamos utilizando de acuerdo con los lineamientos legales de la Política de Privacidad. Por motivos de seguridad de los datos, se le solicitará que proporcione cierta información para verificar su identidad antes de recibir la copia de su Información Personal.</li>

  <li>Solicitar la corrección de la Información Personal que tenemos sobre usted, cuando la información sea incorrecta.
  Solicitar la eliminación de su Información Personal. Como se indicó anteriormente, esto puede implicar dejar de participar en los programas de Technovation.</li>


  <li>Oponerse a que utilicemos su Información Personal. Puede oponerse si considera que esto afecta a sus derechos y libertades fundamentales o si considera que estamos utilizando su información personal con fines de marketing directo. En algunos casos, podemos demostrar que tenemos fundamentos legítimos sólidos para procesar su Información Personal que prevalecen sobre sus derechos y libertades.</li>


  <li>Solicitar la restricción de nuestro uso de su Información Personal. Puede realizar esta solicitud (a) si desea que establezcamos la exactitud de los datos; (b) cuando nuestro uso de los datos sea ilegal pero no desee que los borremos; (c) cuando necesite que conservemos los datos incluso si ya no los necesitamos porque los necesita para establecer, ejercer o defender reclamos legales; o (d) se ha opuesto a nuestro uso de sus datos pero necesitamos verificar si tenemos fundamentos legítimos sólidos para usarlos.</li>

  <li>Solicitar la transferencia de su Información Personal a usted o a un tercero. Le proporcionaremos a usted o a un tercero que haya elegido su Información Personal en un formato estructurado, de uso común y legible por máquina. Tenga en cuenta que este derecho sólo se aplica a la información automatizada para la cual usted inicialmente nos dio su consentimiento para que la usemos o cuando usamos la información para ejecutar un contrato con usted.</li>

  <li>Presentar una reclamación ante la autoridad de supervisión competente.</li>
</ul>

<p>Si desea ejercer alguno de estos derechos, póngase en contacto con nosotros en <%= mail_to ENV.fetch("PRIVACY_EMAIL_ADDRESS") %>.
Es posible que necesitemos solicitarle información adicional para ayudarnos a confirmar su identidad. Intentamos responder a todas las solicitudes legítimas en el plazo de un mes. Puede que tardemos más en responder a su solicitud si esta es especialmente compleja o si ha realizado varias solicitudes. En ese caso, se lo notificaremos y le mantendremos informado sobre el estado de su solicitud.</p>

<p><em>B. Sus derechos de privacidad en California</em></p>

<p>Si reside en California, puede solicitar información sobre la divulgación de su información personal a terceros para fines de marketing directo. Dichas solicitudes deben enviarse por correo electrónico a <%= mail_to ENV.fetch("PRIVACY_EMAIL_ADDRESS") %>.

<p>Dentro de los cuarenta y cinco días siguientes a la recepción de dicha solicitud, le proporcionaremos una lista de las categorías de información de identificación personal divulgada a terceros con fines de marketing directo durante el año calendario inmediatamente anterior, junto con los nombres y direcciones de estos terceros. Esta solicitud no podrá realizarse más de dos veces por año calendario. Nos reservamos el derecho de no responder a las solicitudes presentadas de otra manera que no sea la especificada en el párrafo anterior.</p>

<p>Los usuarios menores de edad registrados de los Sitios web en California pueden eliminar o solicitar la eliminación de cualquier contenido que publiquen en los Sitios web o aplicaciones, sujeto a ciertas excepciones. Para solicitar que se elimine el contenido proporcionado por el usuario, comuníquese con <%= mail_to ENV.fetch("PRIVACY_EMAIL_ADDRESS") %>. Tenga en cuenta que eliminar o solicitar la eliminación de contenido no garantiza la eliminación completa o integral del contenido de los Sitios web o aplicaciones.</p>

<p><em>C. Otros derechos de privacidad</em></p>
 
<p>Las siguientes disposiciones se aplican a todos los usuarios de los Sitios web, independientemente de su ubicación.</p>

<p>i. Retención de Datos</p>

<p>Solo conservaremos su información personal durante el tiempo que sea necesario para cumplir con los fines para los que la recopilamos (es decir, para brindarle los beneficios de participar en nuestros programas) o para cumplir con los requisitos legales, impositivos y/o contables pertinentes en la jurisdicción pertinente. Periódicamente, y al menos una vez cada cuatro años, eliminamos la información personal de las personas que ya no participan, y conservamos sólo la información personal suficiente para garantizar que las personas que optaron por no recibir comunicaciones de Technovation no vuelvan a optar por recibir dichas comunicaciones.</p>

<p>ii. Notificación de Violación de Datos</p>

<p>En caso de que se produzca una vulneración de datos, se lo notificaremos a usted y a cualquier organismo regulador aplicable cuando estemos obligados legalmente a hacerlo. En el caso de los interesados de la UE, notificaremos a la autoridad de control competente cualquier vulneración de datos que pueda suponer un riesgo para los derechos y libertades de las personas físicas en un plazo de 72 horas a partir de la vulneración, o bien acompañaremos nuestra notificación con los motivos de la demora. Esta notificación describirá la naturaleza de la Información Personal en riesgo, incluidas las categorías y el número aproximado de interesados afectados, el nombre y los datos de contacto del responsable de la protección de datos, las posibles consecuencias de la vulneración y las medidas adoptadas para abordarla. También le notificaremos sin demora indebida cualquier vulneración de datos que pueda suponer un alto riesgo para sus derechos y libertades.</p>

iii. Actualizaciones de la Política de Privacidad

<p>Technovation puede modificar la Política de privacidad en cualquier momento, según sea necesario para cumplir con los estándares y regulaciones internacionales en evolución sobre privacidad de datos. Revise la página de Política de privacidad ( https://www.technovation.org/privacy-policy/ ) periódicamente para conocer los cambios. Publicaremos un aviso en este sitio web si y cuando esta política cambie para alertar a los visitantes de que hay una nueva política vigente. También revisaremos el "Registro de cambios" publicado en la parte superior de esta Política para reflejar la fecha de la actualización más reciente. La información recopilada antes del momento en que se publique cualquier cambio se utilizará de acuerdo con la política de privacidad y las leyes aplicables vigentes en el momento en que se recopiló la información. En la medida en que lo permita la ley aplicable, su uso continuo de los Sitios web indica su aceptación de la Política de privacidad actualizada.</p>

<h4>6. Seguridad</h4>

<p>Para evitar el acceso no autorizado, mantener la precisión de los datos y garantizar el uso adecuado de toda la información personal, incluida la de los usuarios menores de edad, hemos implementado procedimientos físicos, electrónicos y administrativos para proteger la información personal que recopilamos en línea. Sin embargo, no se puede garantizar que ninguna transmisión de datos a través de Internet sea completamente segura. Si bien nos esforzamos por proteger su información personal, Technovation no puede garantizar ni asegurar por completo la seguridad de la información de identificación personal que nos proporcione.</p>

<h4>7. Privacidad Escolar</h4>

<p>En algunas circunstancias, podemos permitir que una escuela registre a los estudiantes en nuestro servicio con el fin de brindar servicios educativos. Debido a que Technovation proporciona los sitios web a las escuelas para beneficiar y mejorar el plan de estudios de la escuela, Technovation depende de que la escuela obtenga y brinde el consentimiento correspondiente, si es necesario, para recopilar información personal de los estudiantes.</p>

<h4>8. Enlaces de Terceros</h4>

<p>Los sitios web interactúan actualmente con los siguientes servicios de terceros que pueden tener acceso a la información personal proporcionada por el usuario como parte de la creación de una cuenta en los sitios web. Utilizamos estos terceros para proporcionar servicios en nuestro nombre, ayudarnos a proporcionar nuevas funciones, beneficios o mejoras de servicio; mejorar la publicidad dirigida en función de sus actividades de navegación, intereses y ubicación geográfica relevante; aplicar estudios de mercado para generar información sobre la audiencia; y desarrollar y mejorar programas y productos.</p>

<p>Technovation no es responsable de las prácticas de privacidad de estos servicios de terceros, aunque intentamos proporcionar la información personal mínima necesaria para utilizarlos. Tenga en cuenta que esta Política de Privacidad no se aplica a esos sitios web o servicios, por lo que debe asegurarse de revisar las políticas de datos de terceros aplicables:</p>

<ul>
  <li>Meta (Facebook and Instagram) https://www.facebook.com/privacy/policy/ (publicidad)</li>
  <li>Google Analytics: https://marketingplatform.google.com/about/analytics/terms/us/ (análisis de usuarios del sitio web)</li>
  <li>Heroku - https://www.heroku.com/policy/security (alojamiento de sitios web)</li>
  <li>LearnWorlds - https://www.learnworlds.com/privacy-policy/ (acceso al plan de estudios)</li>
  <li>LinkedIn - https://www.linkedin.com/legal/privacy-policy (publicidad)</li>
  <li>Mailchimp - https://www.intuit.com/privacy/statement/ (difusión de boletines informativos)</li>
  <li>Salesforce - https://www.salesforce.com/company/privacy/ (comunicación por correo electrónico)</li>
  <li>X - https://x.com/en/privacy (publicidad)</li>
</ul>

<p>Si realiza una transacción en un sitio web de terceros, no somos responsables del contenido ni de la disponibilidad del sitio web vinculado. Si realiza una transacción en el sitio web de terceros, no representamos ni al tercero ni a usted. Le recomendamos que lea las políticas de privacidad y los términos y condiciones de cualquier sitio web de terceros vinculado o referenciado al que ingrese. Estos sitios web de terceros pueden utilizar sus propias cookies y dispositivos de seguimiento, registrar su dirección IP y, de otro modo, recopilar datos o solicitar su información personal.</p>

<h4>9. Norma de Privacidad desde el Diseño</h4>

<p>En todas nuestras operaciones y programas, nos comprometemos a proteger la privacidad de su Información Personal. Con este fin, no se implementará ningún proyecto o programa sin tener en cuenta los riesgos para la privacidad de los datos y la implementación de las medidas necesarias para proteger sus derechos de privacidad.</p>

<h4>10. Implementación y Sanciones</h4>

<p>Cualquier empleado, voluntario, proveedor de servicios o contratista de Technovation que tenga acceso a Información Personal deberá recibir capacitación sobre el contenido de la Política de Privacidad y deberá aceptar no utilizar la Información Personal recopilada para un propósito no autorizado por esta política.
Technovation realiza revisiones y monitoreo periódico del uso y divulgación de información personal por parte de sus empleados.
En la medida en que Technovation contrate la recepción de servicios de cualquier proveedor de servicios o contratista, el contrato entre Technovation y el proveedor de servicios o contratista incluirá disposiciones para garantizar el cumplimiento de las leyes de privacidad aplicables.</p>

<h4>11. Contáctenos</h4>

<p>Si desea aclarar o conversar sobre cualquier tema relacionado con la privacidad o su Información Personal que nos ha proporcionado, desea ejercer cualquiera de los derechos descritos en la Política de Privacidad, o tiene alguna pregunta o comentario con respecto a la Política de Privacidad, contáctenos en 
<%= mail_to ENV.fetch("PRIVACY_EMAIL_ADDRESS") %>.

<h4>12. Exención de Responsabilidad</h4>

<p>La Participante del Programa comprende y acepta que la participación en Technovation es completamente voluntaria y se realiza con pleno conocimiento de los riesgos involucrados. La Participante del Programa acepta y asume todos los riesgos de naturaleza imprevisible, incluidos, entre otros, los riesgos de lesiones personales o pérdidas financieras. Technovation no será responsable de ninguna lesión imprevisible, ya sea que involucre lesiones físicas, pérdidas de propiedad u otros daños que se aleguen como ocurridos en relación con cualquier actividad, programa o evento patrocinado por Technovation. LA  PARTICIPANTE DEL PROGRAMA POR EL PRESENTE LIBERA, RENUNCIA, DESCARGA Y ACUERDA NO DEMANDAR A TECHNOVATION, SUS EMPLEADOS, FUNCIONARIOS, DIRECTORES, ENTIDADES RELACIONADAS Y AGENTES (COLECTIVAMENTE, "EXENCIONADOS") de toda y cualquier responsabilidad que surja de o esté relacionada con la participación en programas, actividades y eventos patrocinados por Technovation, incluidas todas y cada una de las pérdidas, daños, responsabilidades, deficiencias, reclamos, acciones, sentencias, acuerdos, intereses, premios, sanciones, multas, costos o gastos de cualquier tipo, incluidos los honorarios de abogados, en la medida máxima permitida por la ley, incluidos, entre otros, los que resulten de la participación en esta actividad, ya sea causada por cualquier acto negligente u omisión de los exonerados o de otro modo. LA PARTICIPANTE DEL PROGRAMA ACEPTA POR EL PRESENTE EXONERAR DE RESPONSABILIDAD Y EXIMIR DE RESPONSABILIDAD a los exonerados de toda responsabilidad, reclamos, demandas, causas de acción, cargos, gastos y honorarios de abogados que resulten de la participación en esta actividad, ya sea causada por cualquier acto u omisión negligente de los exonerados o de otro modo. LA PARTICIPANTE DEL PROGRAMA ASUME POR EL PRESENTE TODA RESPONSABILIDAD Y RIESGO DE LESIONES CORPORALES, MUERTE O DAÑOS MATERIALES mientras participa en la actividad o usa las instalaciones y equipos de Technovation, ya sea causada por cualquier acto u omisión negligente de los exonerados o de otro modo. El abajo firmante acepta expresamente que la exención y renuncia anteriores, el acuerdo de indemnización y la asunción de riesgos tienen la intención de ser tan amplios e inclusivos como lo permita la ley de California. En cualquier demanda que surja de o esté relacionada con este Acuerdo, el investigador de hechos no puede otorgar ningún daño incidental, indirecto, consecuente, lucro cesante, punitivo, ejemplar, no económico o angustia emocional. La Participante del Programa renuncia expresamente a las disposiciones de la sección 1542 del Código Civil de California, que establece lo siguiente: “Una liberación general no se extiende a reclamos que el acreedor o la parte liberadora no conoce o sospecha que existen a su favor al momento de ejecutar la liberación y que, de haberlos conocido, habrían afectado materialmente su acuerdo con el deudor o la parte liberada”.</p>

<h4>13. Acuerdo Completo</h4>

<p>Este Acuerdo constituye el único y completo acuerdo de Technovation y la Participante del Programa y reemplaza todos los acuerdos, entendimientos, representaciones y garantías anteriores y contemporáneos, tanto escritos como orales.</p>


<h4>14. Divisibilidad</h4>

<p>Si algún término o disposición de este Acuerdo se considera inválido, ilegal o inaplicable en cualquier jurisdicción, dicha invalidez, ilegalidad o inaplicabilidad no afectará a ningún otro término o disposición de este Acuerdo ni invalidará o hará inaplicable dicho término o disposición en cualquier otra jurisdicción.</p>


<h4>15. Efecto Vinculante</h4>

<p>Este Acuerdo es vinculante para Technovation y la Participante del Programa y sus respectivos sucesores y cesionarios.</p>

<h4>16. Ley aplicable y cláusula de selección obligatoria de foro y renuncia a demanda colectiva</h4>

<p>Este contrato se regirá por las leyes del estado de California, con exclusión de las normas de conflicto de leyes o de elección de la ley de California. Cualquier reclamación que surja de este Acuerdo o esté relacionada con él, ya sea por contrato, agravio, estatuto o de otro modo, se presentará en los tribunales estatales o federales ubicados en el condado de San Mateo, California. 
CUALQUIER RECLAMO QUE SURJA DE ESTE ACUERDO O SE RELACIONE CON ÉL SE DEBERÁ LLEVAR A CABO ÚNICAMENTE DE FORMA INDIVIDUAL Y NO COMO DEMANDANTE O MIEMBRO DE UNA CLASE EN CUALQUIER SUPUESTA ACCIÓN O PROCEDIMIENTO COLECTIVO, CONSOLIDADO O REPRESENTATIVO. NINGUNA PARTE PUEDE CONSOLIDAR O UNIRSE A MÁS DE UN RECLAMO Y NINGUNA AUTORIDAD DE RESOLUCIÓN DE DISPUTAS PUEDE PRESIDIR CUALQUIER FORMA DE PROCEDIMIENTO CONSOLIDADO, REPRESENTATIVO O COLECTIVO. CUALQUIER COMPENSACIÓN OTORGADA NO PUEDE AFECTAR A OTROS PARTICIPANTES DEL PROGRAMA.</p>

<h4>17. Contrapartes</h4>

<p>Este Acuerdo puede ejecutarse en línea o electrónicamente (en formato PDF) en uno o más ejemplares, cada uno de los cuales se considerará un original, pero todos constituirán un solo y mismo acuerdo.
AL FIRMAR, RECONOZCO HABER LEÍDO Y ENTENDIDO TODOS LOS TÉRMINOS DE ESTE ACUERDO Y QUE RENUNCIO VOLUNTARIAMENTE A DERECHOS LEGALES SUSTANCIALES, INCLUYENDO EL DERECHO A DEMANDAR A LA COMPAÑÍA.</p>
