<p>
<strong>THIS RELEASE OF LIABILITY AND CONSENT AGREEMENT</strong> (this “Agreement”) is made as of the date on the signature page, between Technovation, a California nonprofit corporation (“Technovation”) located at #1120 700 El Camino Real Suite 120 Menlo Park, CA 94025, and the program participant named on the signature page (“Program Participant”) or their guardian if the participant is not yet 18 years of age or older. In order to participate in the Technovation program provided by Technovation, the Program Participant agrees to all terms and conditions in this Agreement.
</p>

<h4>1. Program Activities</h4>
<p>
Technovation Program Participants participate in activities including: working with Technovation teachers, mentors, and team members; participating in computer programming courses (curriculum available at <%= link_to "technovationchallenge.org", "https://technovationchallenge.org/" %>); learning and doing community research about a local problem; developing a mobile application or AI project, business plan, prototype, and pitch and tech videos; pitching to audiences and judges at Regional Pitch Events; and, if selected, attending the World Summit event (including traveling to and from the World Summit location).
</p>

<h4>2. Privacy Policy: What Information Does Technovation Collect From You?</h4>
<p>
To enhance your experience on Technovation Websites, we collect the following information (“Personal Information”) that you provide to us. Although you may visit some pages on our website without providing all of the Personal Information listed below, you must provide certain information to take advantage of particular features, such as sharing your projects, receiving feedback from our mentors and judges, receiving scores and certificates, and participating in project competitions.
</p>

<p>The Websites collect the following Personal Information:</p>
<ul>
  <li>Name</li>
  <li>City, state, and region of residence</li>
  <li>Email address</li>
  <li>Password</li>
  <li>Date of birth</li>
  <li>IP address</li>
  <li>School name</li>
  <li>Parents’ names and email addresses (for minors)</li>
  <li>Gender</li>
  <li>Company Name</li>
  <li>Job Title</li>
  <li>User-submitted text, photos, and videos</li>
</ul>

<p>Additionally, when you access the Websites using a mobile device, we may collect the following additional information:</p>

<ul>
  <li>Unique identification number associated with your device (“Device ID”)</li>
  <li>Mobile carrier</li>
  <li>Device type and manufacturer</li>
  <li>Telephone number</li>
  <li>Depending on your mobile device settings, your geographical location data, including GPS coordinates or similar information regarding the location of your mobile device</li>
</ul>

<p>
We collect this information from you when you register on the Websites or request products or services that the Websites offer. You may be asked to provide information if you participate in any sweepstakes, contests, or surveys, or if you post or access any content on message boards, chat rooms, or blogs operated by Technovation and its programs. We may also collect this information when you post materials as part of a project submission.
</p>


<p><strong>Cookies Policy</strong></p>

<p>
The Websites also collect non-personally identifiable information automatically through the use of electronic tools such as “cookies”. Cookies help provide a customized web experience by enabling us to identify web users who visit our website.
</p>

<p>The types of cookies we use on Technovation websites:</p>

<ul>
  <li>
    <strong>Strictly Necessary</strong>: These cookies are essential to provide you with the services on the Technovation website and to enable you to use some of its features. For example, cookies are necessary to keep you logged into your Technovation account and access curriculum. For that reason, without these cookies, the Technovation website cannot provide you with its services.
  </li>
  <li>
    <strong>Functionality Cookies</strong>: Functionality cookies remember your preferences and settings when you return to our site. This helps us provide you with a more efficient, personalized experience. For example, if you are in the United Kingdom, our website will provide information specific to the UK, rather than information about other countries.
  </li>
  <li>
    <strong>Tracking/Performance/Advertising Cookies</strong>: These cookies are used to track information about traffic to the Technovation website and to collect information about what you do on our website. This includes what content you viewed, the links you followed and clicked on, the type of device you’re on, and your IP address. These cookies are used to optimize our website and marketing campaigns. These cookies are administered by third-parties like Google and YouTube. Where a third party collects personal data through an advertising or targeting cookie placed through our website, the third party’s use of your personal data is governed by the third party’s privacy policy. Do not forget to check the websites of these providers for their data protection regulations.
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th>Name of Cookie</th>
      <th>Purpose</th>
      <th>Strictly Necessary</th>
      <th>Expires</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>__stripe_mid</td>
      <td>Stripe sets this cookie cookie to process payments.</td>
      <td>Yes</td>
      <td>1 year</td>
    </tr>
    <tr>
      <td>__stripe_sid</td>
      <td>Stripe sets this cookie cookie to process payments.</td>
      <td>Yes</td>
      <td>30 minutes</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-advertisement</td>
      <td>Set by the GDPR Cookie Consent plugin, this cookie is used to record the user consent for the cookies in the "Advertisement" category.</td>
      <td>Yes</td>
      <td>1 year</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-analytics</td>
      <td>This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category "Analytics".</td>
      <td>Yes</td>
      <td>11 months</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-functional</td>
      <td>The cookie is set by GDPR cookie consent to record the user consent for the cookies in the category "Functional".</td>
      <td>Yes</td>
      <td>11 months</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-necessary</td>
      <td>This cookie is set by GDPR Cookie Consent plugin. The cookies is used to store the user consent for the cookies in the category "Necessary".</td>
      <td>Yes</td>
      <td>11 months</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-others</td>
      <td>This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category "Other.</td>
      <td>Yes</td>
      <td>11 months</td>
    </tr>
    <tr>
      <td>cookielawinfo-checkbox-performance</td>
      <td>This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category "Performance".</td>
      <td>Yes</td>
      <td>11 months</td>
    </tr>
    <tr>
      <td>CookieLawInfoConsent</td>
      <td>Records the default button state of the corresponding category & the status of CCPA. It works only in coordination with the primary cookie.</td>
      <td>Yes</td>
      <td>1 year</td>
    </tr>
    <tr>
      <td>viewed_cookie_policy</td>
      <td>The cookie is set by the GDPR Cookie Consent plugin and is used to store whether or not user has consented to the use of cookies. It does not store any personal data.</td>
      <td>Yes</td>
      <td>11 months</td>
    </tr>
    <tr>
      <td>qa</td>
      <td>The _ga cookie, installed by Google Analytics, calculates visitor, session and campaign data and also keeps track of site usage for the site's analytics report. The cookie stores information anonymously and assigns a randomly generated number to recognize unique visitors.</td>
      <td>No</td>
      <td>2 years</td>
    </tr>
    <tr>
      <td>_gat_gtag_UA_4055471_11</td>
      <td>Set by Google to distinguish users.</td>
      <td>No</td>
      <td>1 minute</td>
    </tr>
    <tr>
      <td>_gcl_au</td>
      <td>Provided by Google Tag Manager to experiment advertisement efficiency of websites using their services.</td>
      <td>No</td>
      <td>3 months</td>
    </tr>
    <tr>
      <td>_gid</td>
      <td>Installed by Google Analytics, _gid cookie stores information on how visitors use a website, while also creating an analytics report of the website's performance. Some of the data that are collected include the number of visitors, their source, and the pages they visit anonymously.</td>
      <td>No</td>
      <td>1 day</td>
    </tr>
    <tr>
      <td>CONSENT</td>
      <td>YouTube sets this cookie via embedded youtube-videos and registers anonymous statistical data.</td>
      <td>No</td>
      <td>2 years</td>
    </tr>
    <tr>
      <td>test_cookie</td>
      <td>The test_cookie is set by doubleclick.net and is used to determine if the user's browser supports cookies.</td>
      <td>No</td>
      <td>15 minutes</td>
    </tr>
    <tr>
      <td>VISITOR_INFO1_LIVE</td>
      <td>A cookie set by YouTube to measure bandwidth that determines whether the user gets the new or old player interface.</td>
      <td>No</td>
      <td>5 months, 27 days</td>
    </tr>
    <tr>
      <td>YSC</td>
      <td>YSC cookie is set by YouTube and is used to track the views of embedded videos on Youtube pages.</td>
      <td>No</td>
      <td>Session</td>
    </tr>
    <tr>
      <td>yt-remote-connected-devices</td>
      <td>YouTube sets this cookie to store the video preferences of the user using embedded YouTube video.</td>
      <td>No</td>
      <td>Never</td>
    </tr>
    <tr>
      <td>yt-remote-device-id</td>
      <td>YouTube sets this cookie to store the video preferences of the user using embedded YouTube video.</td>
      <td>No</td>
      <td>Never</td>
    </tr>
    <tr>
      <td>yt.innertube::nextId</td>
      <td>This cookie, set by YouTube, registers a unique ID to store data on what videos from YouTube the user has seen.</td>
      <td>No</td>
      <td>Never</td>
    </tr>
    <tr>
      <td>yt.innertube::requests</td>
      <td>This cookie, set by YouTube, registers a unique ID to store data on what videos from YouTube the user has seen.</td>
      <td>No</td>
      <td>Never</td>
    </tr>
  </tbody>
</table>

<p>How you can opt out of having cookies placed on a device:</p>

<p>
If you do not want Technovation to track or use your Cookies, you can adjust your internet browser security settings to refuse cookies. Refusing cookies, however, may limit your ability to access certain pages available on the Website and may prevent you from enjoying the features on our website enabled by cookies. You can change your preference at any time. If you wish to remove previously stored cookies, please clear your cookie browser history.
</p>

<p>
The Websites may employ clear gifs (also known as web beacons) which are used to anonymously track the online usage patterns of our users. In addition, we may also use clear gifs in HTML-based emails sent to our users to track which emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and improvement of the Websites. We may also collect analytics data, or use third-party analytics tools, to help us measure traffic and usage trends. These tools collect information sent by your browser or mobile device, including the pages you visit, your use of third-party applications, and other information that assists us in analyzing and improving the Websites.
</p>

<h4>3. Purposes of Information Collection</h4>
<p>
To enhance your experience on the Websites, we collect the following information (“Personal Information”) that you provide to us. Although you may visit some pages on our website without providing all of the Personal Information listed below, you must provide certain information to take advantage of particular features, such as sharing your projects, receiving feedback from our mentors and judges, receiving scores and certificates, and participating in project competitions.
</p>

<p>Specifically, we use your Personal Information to accomplish the following legitimate purposes:</p>

<ul>
  <li>Communicating with you regarding our programs, features, and services available through the Websites.</li>
  <li>Sharing our curriculum.</li>
  <li>Helping you participate in projects and competitions as part of our program.</li>
  <li>Helping students and mentors build healthy relationships to carry out team exercises and competitions, including connecting students and mentors using third-party communication services such as email, video calls, and Slack.</li>
  <li>Communicating with you regarding products, features, and services that are offered by our affiliates and business partners.</li>
  <li>Issuing email newsletters on other topics we think may be of interest, such as Technovation opportunities, internships, and/or scholarships.</li>
  <li>Troubleshooting and website administration.</li>
  <li>Technovation tailors advertisements on third party platforms to participants and former participants based on information that we have received from you, like your name and contact information. For example, we may run ads on social media that are tailored to you based on your relationship with Technovation, using information you have previously supplied to us, or if you have consented to those targeted ads. An example of a targeted ad may be information about a Technovation career development workshop appearing when you are logged into LinkedIn. You may object to this use of your data by opting out of “advertisement” cookies in the cookie settings at <%= link_to "https://www.technovation.org", "https://www.technovation.org" %> or emailing <%= mail_to "privacy@technovation.org" %>. </li>
  <li>Complying with a legal obligation where necessary, such as being compelled to share Personal Information by a law enforcement or government agency.</li>
</ul>

<h4>4. Consent for Collection and Use of Personal Information</h4>
<p><em>A. Consent by Adults (Aged 18 and over)</em></p>
<p>
By providing information to us in the manner described in Section 2 (“Our Privacy Policy”), you consent for us to use your Personal Information for the explicit purposes listed in Section 3 (“Purposes of Information Collection”) of the Privacy Policy. You may withdraw your consent at any time by any of the following methods:
</p>

<ul>
  <li>
    For all website users who provide us with Personal Information, you may opt-out from our services completely at any time by unsubscribing from marketing communications or adjusting your cookie settings. If you do so, we shall remove any Personal Information that we have collected from you based on your consent.
  </li>
  <li>
    For Technovation Girls and Technovation Families participants, annual registration is required to remain in the program. If you choose not to register in a given year, we shall retain your contact information in case you choose to register in future years, but we will not collect any additional information. You may communicate with us if you wish for us to permanently delete your contact information. Otherwise, we will delete your information periodically, as outlined by our data retention policy under Section 5(C)(i) (“Data Retention”) of the Privacy Policy below.
  </li>
</ul>

<p>
  Please allow up to 30 business days for us to process your request. After opting out, you may still receive email messages about the status of your account, to resolve technical issues, or to confirm a renewed membership.
</p>

<p><em>B. Parental Consent for Minors (Aged under 18)</em></p>

<p>
We require a parent or guardian to consent before a child under the age of 18 can participate in any Technovation programs or activities. Use of the Websites sometimes requires us to share your information with other users of the Websites and trained volunteers. Parental consent granted by the following methods includes consent for Technovation to collect and use the minor’s Personal Information as listed Section 2 (“Our Privacy Policy”) for the explicit purposes listed in Section 3 (“Purposes of Information Collection”) of the Privacy Policy.
</p>

<p>
Parents can provide consent by signing this form digitally, via email, or by postal mail for their children to provide personally identifiable information to us. The parental consent enables children under age 18 to participate in Technovation’s programs or activities. Parental Consent forms are emailed to parents when students register in Technovation Girls. Alternatively, consent forms can be downloaded for Technovation Families and Technovation Girls from the user’s dashboard. Upon receipt of the parental consent form, Technovation will unlock student accounts, and students will be eligible to participate in our programs.
</p>

<p>
Parents are highly encouraged to provide consent through the digital signature option. However, to provide consent by email or postal mail, parents should fill out the parental consent form, sign it, and send a picture or scan to Technovation at:
</p>

<p>Email: <%= mail_to ENV.fetch("HELP_EMAIL") %> with subject line: “Parental Consent for [Name of Child]”</p>

<p>Or send the original via mail:</p>
Technovation<br>
#1120<br>
700 El Camino Real Suite 120<br>
Menlo Park, CA 94025<br>

<h4>5. Your Privacy-Related Rights</h4>
<p><em>A. Your EU Privacy Rights</em></p>
<p>Residents of the EU have certain rights afforded to them by the EU General Data Protection Regulation ((EU) 2016/679) (“GDPR”).</p>

<p>i. Transfers out of the European Economic Area</p>

<p>We are based in Menlo Park, CA, and the Websites are hosted by third parties that are also based in the United States. Accordingly, when you provide Personal Information to us, it is transferred outside of the European Economic Area (“EEA”). To ensure an adequate degree of protection is afforded to your Personal Information when it is transferred outside of the EEA, we only transfer your Personal Information to the United States, and only with your consent as outlined in the Privacy Policy. Additionally, we will only transfer your Personal Information to the United States on the condition that your rights are protected and that you have access to an effective legal remedy.
</p>

<p>ii. Your EU legal rights</p>

<ul>
  <li>
    Request access to your Personal Information. We will send you a copy of your Personal Information that we have on record, which will enable you to check that we are using it within the lawful guidelines of the Privacy Policy. For data security purposes, you will be required to provide some information to verify your identity prior to receiving the copy of your Personal Information.
  </li>
  <li>
    Request correction of the Personal Information that we hold about you, where the information is incorrect.
  </li>
  <li>
    Request deletion of your Personal Information. As noted above, this may involve ending further participation in Technovation’s programs.
  </li>
  <li>
    Object to us using your Personal Information. You may object on grounds that you feel it impacts your fundamental rights and freedoms, or on grounds that we are using your Personal Information for direct marketing purposes. In some cases, we may demonstrate that we have compelling legitimate grounds to process your Personal Information which overrides your rights and freedoms.
  </li>
  <li>
    Request restriction of our use of your Personal Information. You may make this request (a) if you want us to establish the data’s accuracy; (b) where our use of the data is unlawful but you do not want us to erase it; (c) where you need us to hold the data even if we no longer require it as you need it to establish, exercise or defend legal claims; or (d) you have objected to our use of your data but we need to verify whether we have overriding legitimate grounds to use it.
  </li>
  <li>
    Request the transfer of your Personal Information to you or a third party. We will provide to you, or a third party you have chosen, your Personal Information in a structured, commonly used, machine-readable format. Note that this right only applies to automated information which you initially provided consent for us to use or where we used the information to perform a contract with you.
  </li>
  <li>
    Lodge a complaint with the appropriate supervisory authority
  </li>
</ul>

<p>
If you wish to exercise any of these rights, please contact us at <%= mail_to "privacy@technovation.org" %>. We may need to request additional information from you to help us confirm your identity. We try to respond to all legitimate requests within one month. It may take us longer to respond to your request if your request is particularly complex or if you have made multiple requests. In that case, we will notify you and keep you updated on the status of your request.
</p>

<p><em>B. Your California Privacy Rights</em></p>

<p>
If you reside in California, you may request information about our disclosures of your Personal Information to third parties for their direct marketing purposes. Such requests must be submitted to us by email at <%= mail_to "privacy@technovation.org" %>.
</p>

<p>
Within thirty days of receiving such a request, we will provide a list of the categories of personally identifiable information disclosed to third parties for direct marketing purposes during the immediately preceding calendar year, along with the names and addresses of these third parties. This request may be made no more than once per calendar year. We reserve the right not to respond to requests submitted other than as specified in the above paragraph.
</p>

<p>
Registered minor users of the Websites in California may remove, or request removal of, any content that they post to the Websites or applications, subject to certain exceptions. In order to request that user-supplied content be removed, please contact <%= mail_to "privacy@technovation.org" %>. Note that removing, or requesting removal of, content does not ensure complete or comprehensive removal of the content from the Websites or applications.
</p>

<p><em>C. Other Privacy Rights</em></p>

<p>The following provisions apply to all users of the Websites, regardless of location.</p>

<p>i. Data Retention</p>
<p>
We will only retain your Personal Information for as long as necessary to fulfill the purposes we collected it for; namely, to provide you with the benefits of participating in our programs. Periodically, and at least once every four years, we delete Personal Information of persons who no longer participate, retaining only enough Personal Information to ensure that persons who have opted out of Technovation communications are not opted back in to receive such communications.
</p>

<p>ii. Data Breach Notification</p>
<p>
In the event of any data breach, we will notify you and any applicable regulator of a breach where we are legally required to do so. For EU data subjects, we shall notify the competent supervisory authority of any data breach that is likely to result in a risk to the rights and freedoms of natural persons within 72 hours of the breach, or else accompany our notification with reasons for the delay. This notification shall describe the nature of the Personal Information at risk, including the categories and approximate number of data subjects concerned, the name and contact details of the data protection officer, the likely consequences of the breach, and the measures taken to address the breach. We will also notify you without undue delay of any data breach that is likely to result in a high risk to your rights and freedoms.
</p>

<p>iii. Updates to the Privacy Policy</p>
<p>
Technovation may amend the Privacy Policy at any time, as necessary to comply with evolving international data privacy standards and regulations. Please check the Privacy Policy page (<%= link_to "https://www.technovation.org/privacy-policy/", "https://www.technovation.org/privacy-policy/" %>) periodically for changes. We will post a notice on this website if and when this policy changes to alert visitors that a new policy is in place. Information collected prior to the time any change is posted will be used according to the privacy policy and applicable laws in place at the time the information was collected. Your continued use of the Websites indicates your acceptance of the updated Privacy Policy.
</p>

<h4>6. Security</h4>
<p>
To prevent unauthorized access, maintain data accuracy, and ensure the appropriate use of all Personal Information, including that of child users, we have put in place physical, electronic, and administrative procedures to protect the Personal Information we collect online. No data transmission over the Internet, however, can be guaranteed to be completely secure. While we strive to protect your Personal Information, Technovation cannot completely ensure or warrant the security of personally identifiable information you provide to us.
</p>

<h4>7. School Privacy</h4>
<p>
In some circumstances, we may permit a school to register students to our service for the purpose of providing educational services. Because Technovation provides the Websites to schools to benefit and enhance the school’s curriculum, Technovation relies on the school to obtain and provide appropriate consent, if needed, to collect Personal Information of students.
</p>

<h4>8. Third-Party Links</h4>
<p>
The Websites currently interact with the following third-party services that may have access to the Personal Information provided by the user as part of creating an account on the Websites. We use these third-parties to provide services on our behalf, assist us in providing new features, benefits, or service enhancements; enhance targeted advertising based on your browsing activities, interests and relevant geographical location; apply market research to generate audience insights; and develop and improve programs and products.
</p>

<p>
Technovation is not responsible for the privacy practices of these third-party services although we try to provide the minimal Personal Information necessary to use them. Please review the applicable third-party data policies:
</p>

<ul>
  <li>Facebook - https://www.facebook.com/about/privacy/update (advertising)</li>
  <li>Google Analytics - https://marketingplatform.google.com/about/analytics/terms/us/ (website user analytics)</li>
  <li>Heroku - https://www.heroku.com/policy/security (website hosting)</li>
  <li>LearnWorlds - https://www.learnworlds.com/privacy-policy/ (curriculum access)</li>
  <li>LinkedIn - https://www.linkedin.com/legal/privacy-policy (advertising)</li>
  <li>Mailchimp - https://www.intuit.com/privacy/statement/ (newsletter outreach)</li>
</ul>

<h4>9. Privacy By Design Standard</h4>
<p>
As we carry out all of our operations and programs, we are committed to protecting the privacy of your Personal Information. To this end, no project or program shall be implemented without consideration of the risks to data privacy and implementation of any necessary measures to protect your privacy rights.
</p>

<h4>10. Implementation and Sanctions</h4>
<p>
Any Technovation employee or volunteer who has access to Personal Information shall be trained on the content of the Privacy Policy and shall agree not to use the Personal Information collected for a purpose not authorized by this policy.
</p>

<p>
Technovation conducts regular reviews and monitoring of its workforce members’ use and disclosure of Personal Information.
</p>

<h4>11. Contact</h4>
<p>
If you wish to discuss any issues relating to privacy or your Personal Information that you have provided to us, would like to exercise any of the rights outlined in the Privacy Policy, or have any questions or comments regarding the Privacy Policy, please contact us at <%= mail_to "privacy@technovation.org" %>.
</p>

<h4>12. Liability Release</h4>
<p>
The Program Participant understands and agrees that participation in Technovation is entirely voluntary and is entered into with full knowledge of the risks involved. The Program Participant agrees to accept and assume any and all risks of unforeseeable nature, including, without limitation, risks of personal injury or financial loss. Technovation will not be responsible for any unforeseeable injuries, whether involving physical injury, property loss or other damages claimed to occur in connection with any activity, program or event sponsored by Technovation. THE PROGRAM PARTICIPANT HEREBY RELEASES, WAIVES, DISCHARGES AND COVENANTS NOT TO SUE TECHNOVATION, ITS EMPLOYEES, OFFICERS, DIRECTORS, RELATED ENTITIES, AND AGENTS (COLLECTIVELY, “RELEASEES”)  from any and all liability arising out of or relating to the participation in Technovation sponsored programs, activities and events, including any and all losses, damages, liabilities, deficiencies, claims, actions, judgments, settlements, interest, awards, penalties, fines, costs, or expenses of whatever kind, including attorney fees, to the maximum extent permitted by law, including without limitation resulting from involvement in this activity whether caused by any negligent act or omission of the releasees or otherwise. THE PROGRAM PARTICIPANT HEREBY AGREES TO INDEMNIFY AND HOLD HARMLESS the releasees from all liability, claims, demands, causes of action, charges, expenses, and attorney fees resulting from involvement in this activity whether caused by any negligent act or omission of the releasees or otherwise. THE PROGRAM PARTICIPANT HEREBY ASSUMES FULL RESPONSIBILITY FOR AND RISK OF BODILY INJURY, DEATH OR PROPERTY DAMAGE while participating in the activity or using any Technovation facilities and equipment whether caused by any negligent act or omission of releasees or otherwise. The undersigned expressly agrees that the foregoing release and waiver, indemnity agreement and assumption of risk are intended to be as broad and inclusive as permitted by California law. In any lawsuit arising from or relating to this Agreement, the fact-finder may not award any incidental, indirect, consequential, lost profits, punitive, exemplary, non-economic, or emotional distress damages. The Program Participant expressly waives the provisions of California Civil Code section 1542, which provides as follows: “A general release does not extend to claims that the creditor or releasing party does not know or suspect to exist in his or her favor at the time of executing the release and that, if known by him or her, would have materially affected his or her settlement with the debtor or released party.”
</p>

<h4>13. Entire Agreement</h4>
<p>
This Agreement constitutes the sole and entire agreement of the Technovation and Program Participant and replaces all prior and contemporaneous understandings, agreements, representations, and warranties, both written and oral.
</p>

<h4>14. Severability</h4>
<p>
If any term or provision of this Agreement is held invalid, illegal, or unenforceable in any jurisdiction, such invalidity, illegality or unenforceability shall not affect any other term or provision of this Agreement or invalidate or render unenforceable such term or provision in any other jurisdiction.
</p>

<h4>15. Binding Effect</h4>
<p>
This Agreement is binding on Technovation and Program Participant and their respective successors and assigns.
</p>

<h4>16. Governing Law and Mandatory Forum Selection Clause and Class Action Waiver</h4>
<p>
This contract shall be governed by the laws of the State of California, exclusive of California’s conflict or choice of law rules.  Any claim arising out of or relating to this Agreement, whether sounding in contract, tort, statute or otherwise, shall be filed in the state or federal courts located in San Mateo County, California.  
</p>
 
<p>
ANY CLAIM ARISING FROM OR RELATING TO THIS AGREEMENT SHALL BE CONDUCTED ONLY ON AN INDIVIDUAL BASIS AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, CONSOLIDATED OR REPRESENTATIVE ACTION OR PROCEEDING. NO PARTY CAN CONSOLIDATE OR JOIN MORE THAN ONE CLAIM AND NO DISPUTE RESOLUTION AUTHORITY CAN OTHERWISE PRESIDE OVER ANY FORM OF A CONSOLIDATED, REPRESENTATIVE, OR CLASS PROCEEDING. ANY RELIEF AWARDED CANNOT AFFECT OTHER PROGRAM PARTICIPANTS.
</p>

<h4>17. Counterparts</h4>
<p>
This Agreement may be executed online or electronically (in PDF format) in one or more counterparts, each of which will be deemed an original, but all of which shall constitute one and the same agreement.
</p>

<p class="page-break-before"><strong>BY SIGNING, I ACKNOWLEDGE THAT I HAVE READ AND UNDERSTOOD ALL OF THE TERMS OF THIS AGREEMENT AND THAT I AM VOLUNTARILY GIVING UP SUBSTANTIAL LEGAL RIGHTS, INCLUDING THE RIGHT TO SUE THE COMPANY.</strong></p>
