<h2>¡Bienvenidos a la comunidad de Technovation Girls!</h2>

<p>Estimado padre/madre/tutor(es):</p>

<p>¡Bienvenidos a la comunidad de Technovation Girls!</p>

<p>
  Gracias por apoyar la participación de su hija en Technovation Girls,
  el programa de emprendimiento tecnológico y competencia para
  <%= link_to "niñas",
    ENV.fetch("DEI_STATEMENT_URL"),
    target: "_blank" %>
  ofrecido por
  <%= link_to "Technovation",
    "https://www.technovation.org",
    target: "_blank" %>,
  una organización sin fines de lucro de educación tecnológica.
</p>

<p>
  Durante el programa, su hija aprenderá los conceptos básicos de
  codificación e inteligencia artificial, y creará una aplicación
  móvil o un proyecto de IA que resuelva un problema en su comunidad.
  ¡Aprenderá a ser una emprendedora tecnológica! Technovation Girls
  es más que un programa de codificación; es una oportunidad para que
  su hija desarrolle una variedad de habilidades profesionales y de
  vida, y se desafíe a sí misma.
</p>

<p>
  No siempre será fácil, pero se sentirá alentada a perseverar cuando
  se enfrente a la adversidad y los obstáculos. Completar el programa
  Technovation Girls es un gran logro para cada participante. Cuando
  termine, habrá completado las primeras etapas de la formación de una
  empresa tecnológica en la vida real. El aprendizaje de su hija es el
  centro de todo lo que hacemos. Compartimos su compromiso con el éxito
  de su hija y hemos creado una página para ayudarle a comprender
  <%= link_to "más sobre el programa Technovation",
    ENV.fetch("PARENT_RESOURCES_URL"),
    target: "_blank" %>
  y cómo puede ayudar a respaldar la participación de su hija. Nos
  tomamos la seguridad en serio y le invitamos a revisar nuestras pautas
  de seguridad y otros recursos útiles
  <%= link_to "aquí",
    ENV.fetch("INTERNET_SAFETY_URL"),
    target: "_blank" %>.
</p>

<p>
  Ya sea que su hija elija trabajar en equipo o por su cuenta, le
  recomendamos que cuente con el apoyo de un mentor (un educador, un
  padre/madre/tutor o un profesional de la industria). Además de
  completar el plan de estudios en línea de Technovation, se espera
  que su hija envíe los resultados de su proyecto en línea. Su hija
  puede trabajar y comunicarse con su mentor en línea o en sesiones
  presenciales. Los padres/madres/tutores siempre son bienvenidos a
  asistir a cualquier sesión y monitorear todas las comunicaciones;
  aquí hay un
  <%= link_to "ejemplo de plan de comunicación",
    ENV.fetch("PARENT_SAMPLE_COMMUNICATION_PLAN_URL"),
    target: "_blank" %>.
</p>

<p>
  Una vez que el equipo de su hija presente su idea, los jueces
  de Technovation, que son profesionales de la tecnología y el
  emprendimiento, revisarán la propuesta del equipo y proporcionarán
  comentarios sobre su trabajo. Después del proceso de evaluación,
  si su hija es seleccionada como finalista del programa, ella y su
  equipo serán invitados a asistir a la Cumbre Mundial (en persona o en
  línea) y presentar su propuesta en vivo ante un panel de jueces.
</p>

<p>
  Estamos encantados de ayudar a fomentar el interés y el desarrollo
  de su hija en la tecnología y el espíritu emprendedor y es un honor
  para nosotros trabajar con estudiantes de todo el mundo a medida que
  desarrollan nuevas habilidades y autoconfianza.
</p>

<p>
  Si tiene alguna pregunta en cualquier momento, no dude en contactarnos
  en <%= mail_to ENV.fetch("HELP_EMAIL") %>
</p>

<p>
  Un cordial saludo,<br>
  El equipo de Technovation
</p>
