<% provide :title, "My profile" %>

<div class="container mx-auto flex flex-col lg:flex-row justify-center gap-6 student-tab-container">
  <%= render 'chapter_ambassador/profiles/menu' %>

  <div class="tab">
    <div id="basic-tab-content" class="tab-content tw-active">
      <%= render 'chapter_ambassador/profiles/basic' %>
    </div>

    <div id="location-tab-content" class="tab-content">
      <%= render 'chapter_ambassador/profiles/location' %>
    </div>

    <div id="email-tab-content" class="tab-content">
      <%= render 'chapter_ambassador/profiles/email' %>
    </div>

    <div id="pw-tab-content" class="tab-content">
      <%= render 'profiles/rebrand/password' %>
    </div>
  </div>
</div>
