<% provide :title, "My profile" %>

<div id="chapter-ambassador-profile-tabs" class="grid tabs tabs--vertical">
  <div class="grid__col-sm-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="hidden-xs hidden-xxs">
          <h3><%= current_ambassador.full_name %></h3>
          <div>
            <%= render 'profiles/filestack_profile_image_tag' %>
          </div>
          <div>
            <%= render 'profiles/filestack_profile_image_upload' %>
          </div>
        </div>

        <%= render 'chapter_ambassador/profiles/menu' %>
      </div>
    </div>
  </div>

  <div class="tabs__content grid__col-sm-9 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="tabs__tab-content" id="basic">
          <%= render 'chapter_ambassador/profiles/basic' %>
        </div>

        <div class="hidden-sm hidden-md hidden-lg tabs__tab-content" id="avatar">
          <div>
            <%= render 'profiles/filestack_profile_image_tag' %>
          </div>
          <div>
            <%= render 'profiles/filestack_profile_image_upload' %>
          </div>
        </div>

        <div class="tabs__tab-content" id="location">
          <%= render 'chapter_ambassador/profiles/location' %>
        </div>

        <div class="tabs__tab-content" id="change-email">
          <%= render 'profiles/email' %>
        </div>

        <div class="tabs__tab-content" id="change-password">
          <%= render 'profiles/password' %>
        </div>
      </div>
    </div>
  </div>
</div>
