<% if current_student.is_on_team? and not current_student.team_has_mentor? %>
  <li class="card">
    <div class="card__heading">
      <%= t("views.profile_requirements.find_mentor.heading") %>
      <%= fa_icon("user", class: "card-heading__flair") %>
    </div>

    <div class="card__body">
      <%= t("views.profile_requirements.find_mentor.label") %><br>

      <%= link_to t("views.profile_requirements.find_mentor.links.pre_unit.text"),
        "http://www.technovationchallenge.org/curriculum/findamentor/",
        target: "_blank" %>

      <%= t("views.profile_requirements.find_mentor.links.pre_unit.postfix") %>

      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to t("views.profile_requirements.find_mentor.links.browse.text"),
          new_student_mentor_search_path,
          class: "appy-button" %>
      </div>
    </div>
  </li>
<% end %>
