<% unless current_student.is_on_team? %>
  <% path_prefix ||= 'student/dashboards/completion_steps' %>

  <li>
    <h1 class="content-heading">
      <%= t("views.profile_requirements.create_join_team.heading") %>
    </h1>

    <p>
      <%= t("views.profile_requirements.create_join_team.labels.student") %>
    </p>

    <% if current_student.join_requests.pending.any? %>
      <%= render partial: "#{path_prefix}/join_request",
        collection: current_student.join_requests.pending %>
    <% elsif current_student.team_member_invites.pending.any? %>
      <%= render "#{path_prefix}/invitations",
        invites: current_student.team_member_invites.pending %>
    <% else %>
      <%= render "#{path_prefix}/join_create_team" %>
    <% end %>

    <p>
      Use our

      <%= link_to "guide to team building",
        "http://www.technovationchallenge.org/curriculum/buildateam/",
        target: "_blank" %>

      if you need some help to get started.
    </p>
  </li>
<% end %>
