<% unless current_student.parental_consent.present? %>
  <li class="card">
    <div class="card__heading">
      <%= t("views.profile_requirements.parental_consent.heading") %>
      <span class="card-heading__flair fa fa-exclamation-circle"><!--Fontawesome--></span>
    </div>

    <div class="card__body">
      <p><%= t("views.profile_requirements.parental_consent.label") %></p>

      <% if current_student.parent_guardian_email.present? %>
        <p>
          <%= t("views.profile_requirements.parental_consent.links.trouble.prefix") %>
          <%= link_to t("views.profile_requirements.parental_consent.links.trouble.text"),
            edit_student_profile_path(anchor: "account-profile-details") %>
        </p>

        <p><%= t("views.profile_requirements.parental_consent.links.trouble.postfix").html_safe %></p>

        <div class="card__actions-row card__actions-row--pos-end">
          <%= link_to t("views.profile_requirements.parental_consent.links.resend.text"),
            student_parental_consent_notice_path,
            data: { method: :post },
            class: "appy-button" %>
        </div>
      <% else %>
        <%= mail_to "info@technovationchallenge.org",
          t("views.profile_requirements.parental_consent.links.contact_us.text"),
          subject: "Parental consent form help" %>

        <%= t("views.profile_requirements.parental_consent.links.contact_us.postfix") %>

        <div class="card__actions-row card__actions-row--pos-end">
          <%= link_to t("views.profile_requirements.parental_consent.links.send_link.text"),
            new_student_parental_consent_notice_path,
            class: "appy-button" %>
        </div>
      <% end %>
    </div>
  </li>
<% end %>
