<h1 class="content-heading">Select a Pitching Event</h1>

<% if not current_team.submission.present? %>
  <p>
    Your team needs to start a submission in
    order to select an event.
  </p>

<% elsif !current_team.live_event? && @regional_events.any? %>
  <p>
    Attend a pitching event in your area to pitch
    your submisison to a live panel of judges!
  </p>

  <%= render 'regional_pitch_events/dashboard_disclaimer' %>

  <div class="step-actions margin--t-large">
    <%= link_to 'Select an Event',
        student_regional_pitch_events_path,
        class: "button" %>
  </div>
<% elsif current_team.live_event? %>
  <p>
    You are attending
    <strong><%= current_team.event_name %></strong>.
    If this is a mistake or you want to attend a
    different event please contact your regional ambassador.
  </p>

  <%= render 'regional_pitch_events/dashboard_disclaimer' %>

  <div class="step-actions margin--t-large">
    <%= link_to 'View full details',
      [current_scope, current_team.selected_regional_pitch_event],
      class: "button" %>
  </div>
<% else %>
  <p>
    There are no pitching events in your region.
    When you submit, your work will be judged online.
  </p>
<% end %>