<div class="grid grid--justify-center">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <div class="panel">
      <div class="grid">
        <div class="grid__col-12">
          <h3><%= @club.name %></h3>
        </div>

        <div class="grid__col-6">
          <dl>
            <dt>Name</dt>
            <dd><%= @club.name %></dd>

            <dt>Primary Contact</dt>
            <dd>
              <%= @club.primary_contact.present? ? (link_to @club.primary_contact.full_name, admin_participant_path(@club.primary_contact)) : "Not Set" %>
            </dd>

            <dt>Summary</dt>
            <dd>
              <%= simple_format h(@club.summary.presence || "-") %>
            </dd>

            <dt>Location</dt>
            <dd>
              <%= @club.address_details.presence || "-" %>

              <p>
              <%= link_to "Edit location",
                edit_admin_club_location_path(
                  @club,
                  return_to: admin_club_path(@club)
                ),
                class: "button secondary small"
              %>
              </p>
            </dd>

            <%= render partial: "admin/chapterables/season_status",
              locals: { chapterable: @club } %>

            <dt>Seasons</dt>
            <dd><%= @club.seasons.to_sentence.presence || "No seasons" %></dd>
          </dl>
        </div>
      </div>

      <%= button_to "Edit Club",
        edit_admin_club_path(@club),
        method: "get",
        class: "button"
      %>
    </div>
  </div>
</div>

<%= render "admin/clubs/club_onboarding",
  club: @club
%>

<%= render "admin/clubs/club_ambassadors",
  club: @club
%>

<%= render "admin/chapterables/stats_overview",
  chapterable: @club,
  chapterable_type: "club"
%>
