<% provide :title, "Electronic Media Release Consent Form" %>

<%= render partial: "parental_consents/consent_status",
  locals: {
    parental_consent: @parental_consent,
    media_consent: @media_consent
  }
%>

<%= simple_form_for @media_consent,
  html: {class: "consent-form"},
  url:  media_consent_path(@media_consent, anchor: "media-consent-form") do |f| %>

  <%= render "errors", record: @media_consent %>

  <div class="prose consent-document prose-sm w-full max-w-full mt-8">
    <h3 class="border-b border-gray-600">Media Consent</h3>

    <%= render "consent_terms" %>
  </div>

  <div class="w-full border-gray-400 my-8"></div>

  <div id="media-consent-form" style="my-4">
    <%= f.input :consent_provided,
      as: :radio_buttons,
      label: "",
      collection:
      [
        [t("views.media_consents.consent_provided.consent_yes"), true],
        [t("views.media_consents.consent_provided.consent_no"), false]
      ]
    %>
  </div>

  <div class="my-4">
    <%= label_tag t("views.parental_consents.student_name.label") %>
    <%= text_field_tag nil, f.object.student_profile.full_name, disabled: "disabled" %>
  </div>

  <div class="my-4">
    <%= f.input :electronic_signature,
      label: t("views.parental_consents.electronic_signature.label"),
      input_html: {
        placeholder: t("views.parental_consents.electronic_signature.placeholder")
      }
    %>
  </div>

  <div>
    <%= f.input :token, as: :hidden, input_html: { name: :token, value: params[:token] } %>
    <%= f.submit t("views.media_consents.submit"), class: "tw-green-btn cursor-pointer" %>
  </div>
<% end %>
