<h1>Season Schedule Settings</h1>
<h2>For toggling user features on and off throughout the season</h2>

<%= form_with(
  scope: :season_toggles,
  url: admin_season_schedule_settings_path,
  method: :patch,
  local: true
) do |f| %>

  <fieldset>
    <legend>Signups</legend>

    <% %w{student mentor judge regional_ambassador}.each do |scope| %>
      <p class="inline-checkbox">
        <%= f.check_box "#{scope}_signup",
          id: "season_toggles_#{scope}_signup",
          checked: SeasonToggles.signup_enabled?(scope) %>

        <%= f.label "#{scope}_signup" %>
      </p>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Dashboard headlines</legend>

    <div class="notice info hint">
      Keep these short! 3 or 4 words only, please!
    </div>

    <% %w{student mentor judge}.each do |scope| %>
      <p>
        <%= f.label "#{scope}_dashboard_text" %>

        <%= f.text_field "#{scope}_dashboard_text",
          id: "season_toggles_#{scope}_dashboard_text",
          value: SeasonToggles.dashboard_text(scope) %>
      </p>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Survey links</legend>

    <div class="notice info hint">
      It's on you to enter a correctly formatted URL.
      (ex: https://google.com, not google.com)<br />
      Text *and* URL must both be filled in for the link to appear
    </div>


    <% %w{student mentor}.each do |scope| %>
      <%= f.fields_for "#{scope}_survey_link" do |s| %>
        <p>
          <%= s.label :text, scope.pluralize.capitalize %>

          <%= s.text_field :text,
            placeholder: "Text",
            value: SeasonToggles.survey_link(scope, :text) %>

          <%= s.text_field :url,
            placeholder: "URL",
            value: SeasonToggles.survey_link(scope, :url) %>
        </p>
      <% end %>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Submissions, Events, Judging, & Scores</legend>

    <p class="inline-checkbox">
      <%= f.check_box :team_submissions_editable,
        id: :season_toggles_team_submissions_editable,
        checked: SeasonToggles.team_submissions_editable? %>

      <%= f.label :team_submissions_editable,
        "Make Team Submissions Editable?" %>
    </p>

    <p class="inline-checkbox">
      <%= f.check_box :select_regional_pitch_event,
        id: :season_toggles_select_regional_pitch_event,
        checked: SeasonToggles.select_regional_pitch_event? %>

      <%= f.label :select_regional_pitch_event,
        "Regional Pitch Event Selection Enabled?" %>
    </p>
  </fieldset>

  <div class="notice warning">
    The changes you make on this page will affect the experience of end users!<br />
    Please double check before hitting save!
  </div>

  <p>
    <%= f.submit "Save", class: "appy-button" %>
  </p>
<% end %>
