<h1>Season Schedule Settings</h1>
<h2>For toggling user features on and off throughout the season</h2>

<%= form_with(
  id: "season_schedule",
  scope: :season_toggles,
  url: admin_season_schedule_settings_path,
  local: true,
  method: :patch
) do |f| %>

  <fieldset>
    <legend>Signups Allowed</legend>

    <% %w{student mentor judge regional_ambassador}.each do |scope| %>
      <p class="inline-checkbox">
        <%= f.check_box "#{scope}_signup",
          id: "season_toggles_#{scope}_signup",
          checked: SeasonToggles.signup_enabled?(scope) %>

        <%= f.label "#{scope}_signup", scope.humanize.pluralize.titleize %>
      </p>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Dashboard Headlines</legend>

    <div class="notice info hint">
      Please keep these short!<br />
      ex: "Submission Deadline: April 26" or "Round One Judging Is Open!"
    </div>

    <% %w{student mentor judge}.each do |scope| %>
      <p>
        <%= f.label "#{scope}_dashboard_text", scope.pluralize.capitalize %>

        <%= f.text_field "#{scope}_dashboard_text",
          id: "season_toggles_#{scope}_dashboard_text",
          value: SeasonToggles.dashboard_text(scope) %>
      </p>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Survey Links</legend>

    <div class="notice info hint">
      Please use a full URL with correct formatting.<br />
      (i.e., you must include the "https://" part)
    </div>

    <% %w{student mentor}.each do |scope| %>
      <%= f.fields_for "#{scope}_survey_link" do |s| %>
        <p>
          <%= s.label :text, scope.pluralize.capitalize %>

          <%= s.text_field :text,
            data: { part_of_many: true },
            placeholder: "Text",
            value: SeasonToggles.survey_link(scope, :text) %>

          <%= s.text_field :url,
            data: { part_of_many: true },
            placeholder: "URL",
            value: SeasonToggles.survey_link(scope, :url) %>
        </p>

        <div class="notice info hint">
          The text *and* URL must both be filled in or nothing will appear.
        </div>
      <% end %>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Judging Round</legend>

    <p>
      <%= f.collection_radio_buttons :judging_round, [
        ["Off", :off],
        ["Quarterfinals", :qf],
        ["Semifinals", :sf]
      ],
      :last,
      :first do |b| %>

        <p class="inline-radio">
          <%= b.radio_button(
            id: "season_toggles_judging_round_#{b.value}",
            checked: SeasonToggles.judging_round.to_s == b.value.to_s
          ) %>
          <%= b.label %>
        </p>
      <% end %>
    </p>
  </fieldset>

  <fieldset>
    <legend>Submissions, Events, & Scores</legend>

    <p class="inline-checkbox">
      <%= f.check_box :team_building_enabled,
        data: { blocked_by_judging: true },
        disabled: SeasonToggles.judging_enabled?,
        id: :season_toggles_team_building_enabled,
        checked: SeasonToggles.team_building_enabled? %>

      <%= f.label :team_building_enabled, "Team Building Enabled" %>
    </p>

    <p class="inline-checkbox">
      <%= f.check_box :team_submissions_editable,
        data: { blocked_by_judging: true },
        disabled: SeasonToggles.judging_enabled?,
        id: :season_toggles_team_submissions_editable,
        checked: SeasonToggles.team_submissions_editable? %>

      <%= f.label :team_submissions_editable, "Team Submissions Editable" %>
    </p>

    <p class="inline-checkbox">
      <%= f.check_box :select_regional_pitch_event,
        data: { blocked_by_judging: true },
        disabled: SeasonToggles.judging_enabled?,
        id: :season_toggles_select_regional_pitch_event,
        checked: SeasonToggles.select_regional_pitch_event? %>

      <%= f.label :select_regional_pitch_event,
        "Regional Pitch Event Selection Enabled" %>
    </p>

    <p class="inline-checkbox">
      <%= f.check_box :display_scores,
        data: { blocked_by_judging: true },
        disabled: SeasonToggles.judging_enabled?,
        id: :season_toggles_display_scores,
        checked: SeasonToggles.display_scores? %>

      <%= f.label :display_scores, "Scores & Certificates Accessible" %>
    </p>
  </fieldset>

  <div class="notice warning">
    The changes you make on this page will affect the experience of end users!<br />
    Please double check before hitting save!
  </div>

  <p>
    <%= f.submit "Review settings",
      class: "appy-button",
      data: { modal_trigger: "schedule-review" } %>
    or
    <%= link_to "cancel", admin_dashboard_path %>
  </p>

  <div
    class="modalify modalify--fixed"
    data-heading="Review Season Settings"
    id="schedule-review"
  >

    <div id="season_review"></div>

    <button
      class="appy-button"
      data-submit-form="#season_schedule"
    >
      Save these settings
    </button>

    or

    <%= link_to "cancel", '#', class: "modalify__close" %>

  </div>
<% end %>
