<h3><%= t("views.team_member_invites.show.greeting", name: @invite.team_name) %></h3>

<p><%= t("views.team_member_invites.show.message") %></p>

<div class="update-invite">
  <div class="accept-invite">
    <%= button_to t("controllers.team_member_invites.update.accept",
                    name: @invite.team_name),
                  url,
                  {
                    params: {
                      "team_member_invite[status]" => :accepted,
                    },
                    method: :put,
                    data: {
                      confirm: t("views.team_member_invites.form.confirm_accept"),
                    },
                  } %>
  </div>

  <div class="decline-invite">
    <%= button_to t("controllers.team_member_invites.update.decline",
                    name: @invite.team_name),
                  url,
                  {
                    class: "secondary-button",
                    params: {
                      "team_member_invite[status]" => :declined,
                    },
                    method: :put,
                    data: {
                      confirm: t("views.team_member_invites.form.confirm_decline"),
                    },
                  } %>
  </div>
</div>

<%= render 'teams/public_show', team: @invite.team %>
