<div class="mx-auto w-full lg:w-1/2">
  <%= render layout: "application/templates/dashboards/energetic_container", locals: {heading: "Team Invite"} do %>
    <h3 class="mb-4 font-medium">
      <%= t("views.team_member_invites.show.greeting", name: @invite.team_name) %>
    </h3>
    <p><%= t("views.team_member_invites.show.message") %></p>

    <%= render "teams/rebrand/public_show", team: @invite.team %>

    <div class="flex flex-col items-center space-y-2 md:space-y-0 md:flex-row md:justify-between">

      <%= button_to(
        t("controllers.team_member_invites.update.decline", name: @invite.team_name),
        send("#{current_scope}_team_member_invite_path", @invite),
        class: "tw-red-btn cursor-pointer",
        params: {
          "team_member_invite[status]" => :declined,
        },
        method: :put,
        data: {
          confirm: t("views.team_member_invites.form.confirm_decline"),
        })
      %>

      <%= button_to(
        t("controllers.team_member_invites.update.accept", name: @invite.team_name),
        send("#{current_scope}_team_member_invite_path", @invite),
        class: "tw-green-btn cursor-pointer",
        params: {
          "team_member_invite[status]" => :accepted,
        },
        method: :put,
        data: {
          confirm: t("views.team_member_invites.form.confirm_accept"),
          positive: true,
        })
      %>
    </div>
  <% end %>
</div>
