<% provide :title, "Sign in" %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8 grid__col-md-5">
    <h2><%= t('views.signins.new.title') %></h2>

    <%= simple_form_for @signin, url: signins_path do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>

      <%= f.button :submit,
        t('views.signins.form.signin'),
        class: "button" %>

      <p>
        <%= t("controllers.signins.new.no_account") %>
        <%= link_to t("controllers.signups.new.link"), root_path %>
      </p>

      <p>
        <%= t("controllers.password_resets.new.text") %>
        <%= link_to t("controllers.password_resets.new.link"),
          new_password_reset_path %>
      </p>
    <% end %>
  </div>
</div>
