<div class="account signin-page">
  <h2><%= t('views.signins.new.title') %></h2>

  <%= simple_form_for @signin, url: signins_path do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <p><%= link_to t("controllers.password_resets.new.link"),
                   new_password_reset_path %></p>
    <%= f.button :submit, t('views.signins.form.signin') %>
  <% end %>
</div>
