<% provide :title, "Sign in" %>
<% provide :main_header, render('application/templates/tg_green_header', heading: "Welcome Back") %>
<% provide :global_nav_links, render('application_rebrand/global_nav_links') %>

<%= render 'public/dashboards/homepage_banner' if ENV.fetch("ENABLE_HOMEPAGE_BANNER", false) %>

<div class="w-11/12 lg:w-1/2 mx-auto">
  <%= render layout: 'application/templates/dashboards/energetic_container', locals: { heading: t('views.signins.new.title')} do %>
    <%= simple_form_for @signin, url: signins_path do |f| %>

      <%= f.input :email, label_html: {class: 'tw-label'} %>
      <%= f.input :password,label_html: {class: 'tw-label'} %>

      <p>
        <%= check_box_tag :remember_me, '1', true %>
        <%= label_tag nil, "Remember me for future visits", for: :remember_me, class: 'tw-label' %>
      </p>

      <%= f.button :submit,
                   t('views.signins.form.signin'),
                   class: "tw-green-btn my-8 cursor-pointer" %>

      <p>
        <%= t("controllers.signins.new.no_account") %>
        <%= link_to t("controllers.signups.new.link"), signup_path,
                    data: { turbolinks: false },
                    class: "tw-link" %>
      </p>

      <p>
        <%= t("controllers.password_resets.new.text") %>
        <%= link_to t("controllers.password_resets.new.link"),
                    new_password_reset_path,
                    class: "tw-link" %>
      </p>
    <% end %>
  <% end %>
</div>
