<% if submission.complete? %>
  <div class="team-submission__complete-actions">
    <% unless Rails.env.production? %>
      <%= render 'student/team_submissions/assign_regional_pitch_event' %>
    <% end %>

    <p class="publish-submission progress-help">
      Your submission is complete* and ready to share!<br />

      <%= link_to "See the public version",
        app_path(submission),
        class: "appy-button",
        target: :_blank %>

        <span>
          *you can still make edits until 5:00pm (17h) US/Pacific (PST) time
          on  Wednesday, April 26
        </span>
    </p>
  </div>
<% end %>

<div class="team-submissions-progress">
  <h3>Submission progress</h3>

  <p class="progress-help">
    Need help? Check the
    <%= link_to "submission guidelines",
      "http://www.technovationchallenge.org/submission-guidelines/",
      target: :_blank %>
  </p>

  <div class="progress-bar">
    <%# see app/helpers/student_helper for SUBPROG function %>

    <div class="progress-item <%= subprog(submission, "team-photo") %>">
      Team photo
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "app-info") %>">
      Name & Description
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "sdg") %>">
      Sustainable Development Goal
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "pitch") %>">
      Pitch Video
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "demo") %>">
      Demo Video
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "screenshots") %>">
      Screenshots
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "technical-checklist") %>">
      Technical Checklist
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "source-code") %>">
      Source Code
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "development-platform") %>">
      Development Platform
      <%= fa_icon 'check' %>
    </div>

    <% if submission.team.division.senior? %>
      <div class="progress-item <%= subprog(submission, "business-plan") %>">
        Business Plan
        <%= fa_icon 'check' %>
      </div>
    <% end %>
  </div>
</div>
