<div class="team-submissions-progress">
  <h3>Submission progress</h3>

  <p class="progress-help">
    Need help? Check the
    <%= link_to "submission guidelines",
      "http://www.technovationchallenge.org/submission-guidelines/",
      target: :_blank %>
  </p>

  <div class="progress-bar">
    <%# see app/helpers/student_helper for SUBPROG function %>

    <div class="progress-item <%= subprog(submission, "team-photo") %>">
      Team photo
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "app-info") %>">
      Name & Description
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "sdg") %>">
      Sustainable Development Goal
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "pitch") %>">
      Pitch Video
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "demo") %>">
      Demo Video
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "screenshots") %>">
      Screenshots
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "technical-checklist") %>">
      Technical Checklist
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "source-code") %>">
      Source Code
      <%= fa_icon 'check' %>
    </div>

    <div class="progress-item <%= subprog(submission, "development-platform") %>">
      Development Platform
      <%= fa_icon 'check' %>
    </div>

    <% if submission.team.division.senior? %>
      <div class="progress-item <%= subprog(submission, "business-plan") %>">
        Business Plan
        <%= fa_icon 'check' %>
      </div>
    <% end %>

    <% if submission.team.selected_regional_pitch_event.live? %>
      <div class="progress-item <%= subprog(submission, "pitch-presentation") %>">
        Pitch Presentation
        <%= fa_icon 'check' %>
      </div>
    <% end %>
  </div>

  <center>
    <small>
      <strong>Edit your submission</strong> to update this progress bar.<br />
      <strong>Incomplete</strong> items are grey.
      <strong>Complete</strong> items are green with a checkmark.
    </small>
  </center>
</div>
