<%= simple_form_for send("#{current_account.type_name}_team_submission_path",
                        submission,
                        team_id: current_team.id) do |f| %>
  <%= render 'errors', record: @team_submission %>

  <%= f.input :source_code_external_url,
    label: t("models.team_submission.source_code_external_url") %>

  <p class="appy-hint">
    <%= t("views.team_submissions.form.source_code_external_url_help") %>
  </p>

  <%= f.button :submit, t("views.application.continue"), class: "appy-button" %>
<% end %>

<%= direct_upload_form_for @file_uploader do |f| %>
  <%= f.label :source_code, t("models.team_submission.source_code") %>
  <%= f.file_field :source_code %>
  <%= f.submit t("views.application.upload"), class: "appy-button" %>
<% end %>
