<h1 class="appy-title">
  Technical Checklist
</h1>

<div class="technical-checklist">
  <div class="technical-checklist__checklist">
    <div class="simple-card">
      <div class="tc-intro">
        <p>
          You can earn up to <strong>10 points</strong> in this section.
          All of the coding concepts on this checklist are available to learn for free in the curriculum.
        </p>

        <p>
          Check off and explain the components you used in your app with a simple sentence. You only need to explain one instance where you used it.
        </p>

        <p>
          For example:<br>
          <strong>Strings</strong><br>
          "<em>We used a string to display the user’s name at the top of the screen.</em>"
        </p>
        <hr class="tc-intro__spacer" />
      </div>



      <%= simple_form_for [:student, team_submission],
                          html: {
                            class: 'no-simple-form-style',
                            id: 'student-technical-checklist-form'
                          } do |f| %>
        <%= f.fields_for :technical_checklist do |t| %>

        <div class="tc-form-group" data-group-name="Technical Components" >

          <h3>Technical Components - Four Points</h3>
          <h4>Use at least 4 (1 point each, 4 points max)</h4>

          <p><%= link_to "Learn in Code 2", "http://www.technovationchallenge.org/curriculum/coding-unit-2", target: :_blank %></p>

          <div class="tc-form-group__item tc-form-group__item--is-checked">
            <%= t.input :used_strings, as: :boolean %>
            <%= t.input :used_strings_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_numbers, as: :boolean %>
            <%= t.input :used_numbers_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_variables, as: :boolean %>
            <%= t.input :used_variables_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_lists, as: :boolean %>
            <%= t.input :used_lists_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_booleans, as: :boolean %>
            <%= t.input :used_booleans_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_loops, as: :boolean %>
            <%= t.input :used_loops_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_conditionals, as: :boolean %>
            <%= t.input :used_conditionals_explanation %>
          </div>

        </div>

        <h3>Databases and Connectivity - One Point</h3>
        <h4>Use at least 1 (1 point each, 1 point max)</h4>
        <p><%= link_to "Learn in Code 2", "http://www.technovationchallenge.org/curriculum/coding-unit-2", target: :_blank %></p>

        <div class="tc-form-group" data-group-name="Databases and Connectivity" >

          <div class="tc-form-group__item">
            <%= t.input :used_local_db, as: :boolean %>
            <%= t.input :used_local_db_explanation %>
          </div>

          <p><%= link_to "Learn in Code 4", "http://www.technovationchallenge.org/curriculum/coding-unit-4", target: :_blank %></p>
          <div class="tc-form-group__item">
            <%= t.input :used_external_db, as: :boolean %>
            <%= t.input :used_external_db_explanation %>
          </div>

          <h3>Mobile Features - Two Points</h3>
          <h4>Use at least 1 (1 point each, 2 points max)</h4>

          <p><%= link_to "Learn in Code 4", "http://www.technovationchallenge.org/curriculum/coding-unit-4", target: :_blank %></p>
          <div class="tc-form-group__item">
            <%= t.input :used_location_sensor, as: :boolean %>
            <%= t.input :used_location_sensor_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_camera, as: :boolean %>
            <%= t.input :used_camera_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_accelerometer, as: :boolean %>
            <%= t.input :used_accelerometer_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_sms_phone, as: :boolean %>
            <%= t.input :used_sms_phone_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_sound, as: :boolean %>
            <%= t.input :used_sound_explanation %>
          </div>

          <div class="tc-form-group__item">
            <%= t.input :used_screen_orientation, as: :boolean %>
            <%= t.input :used_screen_orientation_explanation %>
          </div>

        </div>

        <h3>Pictures of your process - Three Points</h3>
        <h4>Use all 3 for full points</h4>
        <p><%= link_to "Learn in Code 5", "http://www.technovationchallenge.org/curriculum/coding-unit-5", target: :_blank %></p>

        <div class="tc-form-group" data-group-name="Pictures of Process" >
          <div class="tc-form-group__photo-item">
            <%= t.label :paper_prototype %>
            <%= image_tag(t.object.paper_prototype_url, width: 200) if t.object.paper_prototype.present? %>
            <%= t.file_field :paper_prototype %>
            <%= t.input :paper_prototype_cache, as: :hidden %>
          </div>

          <div class="tc-form-group__photo-item">
            <%= t.label :event_flow_chart %>
            <%= image_tag(t.object.event_flow_chart_url, width: 200) if t.object.event_flow_chart.present? %>
            <%= t.file_field :event_flow_chart %>
            <%= t.input :event_flow_chart_cache, as: :hidden %>
          </div>
        </div>

        <p>
          At least <strong>two</strong> app screenshots.<br>
          Your team has uploaded <%= pluralize f.object.screenshots.count, "screenshot" %>.
        </p>
        <% end %>

        <%= f.button :submit, class: "appy-button technical-checklist__submit-button" %>
      <% end %>
    </div>
  </div>
  <div class="technical-checklist__progress">
    <!--
      Add a sidebar item that shows the number of items completed
      per section, and a progress bar showing whether or not they've
      met the max number of items in that section
    -->
  </div>
</div>
