<% provide :title, "My team's submission" %>

<h1 class="page-heading">
  <%= t("views.team_submissions.show.title", team_name: @team_submission.team.name) %>
</h1>

<div class="notice">ALLI & RUBY: THIS PAGE IS STILL A WORK IN PROGRESS!!!!!!</div>

<dl>
  <dt>Your app's name</dt>
  <dd>
    <%= link_to "Set your app's name",
      edit_student_team_submission_path(@team_submission, piece: :app_name) %>
  </dd>

  <dt>A description of your app</dt>
  <dd>
    <%= link_to "Add your app's description",
      edit_student_team_submission_path(@team_submission, piece: :app_description) %>
  </dd>

  <dt>Demo video</dt>
  <dd>
    <%= link_to "Add the demo video link",
      edit_student_team_submission_path(@team_submission, piece: :demo_video_link) %>
  </dd>

  <dt>Pitch video</dt>
  <dd>
    <%= link_to "Add the pitch video link",
      edit_student_team_submission_path(@team_submission, piece: :pitch_video_link) %>
  </dd>

  <dt>Development platform</dt>
  <dd>
    <%= link_to "Select the development platform that your team used",
      edit_student_team_submission_path(@team_submission, piece: :development_platform) %>
  </dd>

  <dt>Source code</dt>
  <dd>
    <%= link_to "Upload your app's source code",
      edit_student_team_submission_path(@team_submission, piece: :source_code) %>
  </dd>

  <dt>Screenshots</dt>
  <dd>
    <%= link_to "Upload screenshots of your app",
      edit_student_team_submission_path(@team_submission, piece: :screenshots) %>
  </dd>

  <dt>Business plan</dt>
  <dd>
    <% if current_team.senior? %>
      <%= link_to "Upload your team's business plan",
        edit_student_team_submission_path(@team_submission, piece: :business_plan) %>
    <% else %>
      <p>
        <%= current_team.name %> is a <%= current_team.division_name.humanize %> Division team.
      </p>

      <p>
        Uploading a business plan is not required in the Junior Division.
        If your team has put one together, that is awesome!
        You can hold on to it for your own records and be extremely proud!
      </p>
    <% end %>
  </dd>

  <dt>Pitch presentation slides</dt>
  <dd>
    <% if current_team.selected_regional_pitch_event.live? %>
      <%= link_to "Upload the pitch presentation slides for your live event",
        edit_student_team_submission_path(@team_submission, piece: :pitch_presentation) %>
    <% else %>
      <p>
        <%= current_team.name %> is not currently set to attend a live regional pitch event.
      </p>

      <p>
        If your team is invited to a live regional pitch event and you plan to attend, you will be required to upload your pitch presentation slides.
      </p>

      <p class="hint">
        (by the way, Regional Pitch Event invitations will take place in March and April)
      </p>
    <% end %>
  </dd>
</dl>
