<h1 class="appy-title">
  <%= t("views.team_submissions.show.title") %>
</h1>

<div data-team-submissions class="team-submissions">
  <div class="team-submissions__row-left">
    <%= render 'student/team_submissions/steps/team_photo',
      uploader: @team_photo_uploader %>
  </div>

  <div class="team-submissions__row-center">
    <%= render 'student/team_submissions/steps/app_description',
      submission: @team_submission %>

    <%= render 'student/team_submissions/steps/screenshots',
      submission: @team_submission %>
  </div>

  <div class="team-submissions__row-right">
    <%= render 'student/team_submissions/steps/source_code',
      submission: @team_submission %>

    <%= render 'student/team_submissions/steps/technical_checklist',
      submission: @team_submission %>

    <%= render 'student/team_submissions/steps/affirm_integrity',
      submission: @team_submission %>
  </div>
</div>
