<h1 class="appy-title">
  <%= t("views.team_submissions.show.title", team_name: @team_submission.team.name) %>
</h1>

<div data-team-submissions class="team-submissions">
  <div class="team-submissions__row-left submissions-col">
    <div class="team-submissions__fixed-col">
      <%= render 'team_submissions/team_photo', submission: @team_submission %>
    </div>
  </div>

  <div class="team-submissions__row-center submissions-col">
    <%= render 'team_submissions/app_description', submission: @team_submission %>
    <%= render 'team_submissions/sustainable_development_goal', submission: @team_submission %>
    <%= render 'team_submissions/demo_pitch_videos', submission: @team_submission %>
    <%= render 'team_submissions/screenshots', submission: @team_submission %>
  </div>

  <div class="team-submissions__row-right submissions-col">
    <div class="team-submissions__fixed-col">
      <%= render 'team_submissions/development_platform', submission: @team_submission %>

      <%= render 'team_submissions/source_code', submission: @team_submission %>

      <% if Division.for(@team_submission.team).senior? %>
        <%= render 'team_submissions/business_plan', submission: @team_submission %>
      <% end %>

      <% if @team_submission.team.selected_regional_pitch_event.live? %>
        <%= render 'student/team_submissions/steps/pitch_presentation', submission: @team_submission %>
      <% end %>
    </div>
  </div>
</div>
