<p class="flash-notice">THIS IS A WORK IN PROGRESS ACCESSIBLE ON QA ONLY - NOT READY FOR TESTING - FEEL FREE TO PLAY AROUND WITH IT THOUGH</p>

<h1 class="appy-title"><%= t("views.team_submissions.show.title") %></h1>

<div class="team-submission__step-cards">
  <div class="card team-submission__step-card">
    <div class="card__heading">
      Submission Step: Integrity
      <span class="card-heading__flair fa fa-check-circle"></span>
    </div>

    <div class="card__body">
      <% if @team_submission.integrity_affirmed? %>
        <p>This step is complete</p>
        <p>You have promised that your submission will be worked on solely by students on your team.</p>
      <% else %>
        <p>This step is not complete</p>

        <div class="card__actions-row card__actions-row--pos-end">
          <%= link_to "Affirm Submission Integrity", [:edit, :student, @team_submission, step: :integrity_affirmed], class: "appy-button" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card team-submission__step-card">
    <div class="card__heading">
      Submission Step: Source Code
      <span class="card-heading__flair fa fa-check-circle"></span>
    </div>

    <div class="card__body">
      <% if @team_submission.source_code.present? %>
        <p>This step is complete</p>
        <p><%= link_to @team_submission.source_code_url, @team_submission.source_code_url, target: "_blank" %></p>

        <div class="card__actions-row card__actions-row--pos-end">
          <%= link_to "Edit", [:edit, :student, @team_submission, step: :source_code], class: "appy-button" %>
        </div>
      <% elsif @team_submission.source_code_external_url.present? %>
        <p>This step is complete</p>
        <p><%= link_to @team_submission.source_code_external_url, @team_submission.source_code_external_url, target: "_blank" %></p>

        <div class="card__actions-row card__actions-row--pos-end">
          <%= link_to "Edit", [:edit, :student, @team_submission, step: :source_code], class: "appy-button" %>
        </div>
      <% else %>
        <p>This step is not complete</p>

        <div class="card__actions-row card__actions-row--pos-end">
          <%= link_to "Attach Source Code", [:edit, :student, @team_submission, step: :source_code], class: "appy-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
