<h1>
  <span class="<%= 'locked' unless unlocked %> <%= 'complete' if complete %>">
    <%= web_icon('lock') %>
    <%= web_icon('check-circle') %>
    <%= web_icon('circle-o') %>
  </span>
  Find a mentor
</h1>
<% if complete %>
  <p>
    Your team has <%= mentors.count %> mentor<%= "s" if mentors.count > 1 %>.
  </p>
<% else %>
  <p>
    If you join a team that does not have a mentor, find one on the platform or in your community.
  </p>
<% end %>
