<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Review Team Invitation"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Hi there!
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <%= @greeting %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          You can learn more about what Technovation Girls is
          <%= link_to "here", "https://technovationchallenge.org/", target: :_blank %>,
          or check out what teams have created in past Technovation Girls seasons
          <%= link_to "here", "https://www.technovation.org/blogs/2021-finalists-regional-winners/", target: :_blank %>.
          By joining that team, you will spend the next 12 weeks learning
          and building together to create an app that can help solve a problem you care about.
        </td>
      </tr>
      <tr>
        <td class="content-block">
          We hope you decide to join team <%= @team_name %>! To do so, you'll first need to register
          for Technovation - it's free and it won't take long. After you complete the onboarding steps, 
          go to your dashboard and click on "Find your team" from the sidebar to see the invitation.
          You can register at the link below:
        </td>
      </tr>
      <tr>
        <td
          class="content-block"
          itemprop="handler"
          itemscope
          itemtype="http://schema.org/HttpActionHandler"
        >
          <%= link_to @link_text, @url, class: "btn-primary", itemprop: "url" %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Best,<br />
          The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
