<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Hi <%= @first_name %>!
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Good news! <%= @team_name %> accepted your request to be <%= @role_name %>!
        </td>
      </tr>
      <tr>
        <td class="content-block">
          You can see your new team and their contact information here:
        </td>
      </tr>
      <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <%= link_to "Visit Your New Team", @url, class: "btn-primary", itemprop: "url" %>
        </td>
      </tr>
      <% if @role_name.include? 'mentor' %>
        <tr>
          <td class="content-block">
            <p>
              Next steps:
              <br>
              Now that you have joined the team, it is time to introduce yourself via email. Here is an example:
            </p>
            <p>Hi <%= @team_name %>,</p>
            <p>
              It is wonderful that you have taken the initiative to join Technovation, there is a lot that we can learn together!
              I am excited to help you along this journey and want to set up our first meeting so we can get to know each other.
            </p>
            <p>
              <%= link_to "Here", "https://www.technovation.org/wp-content/uploads/2019/10/Mentorship-Communications-Parental-Consent.pdf" %>
              is a form that will help me set-up our communication, please share this with your parents as well so we can make
              sure that everyone is comfortable moving forward. [Share your schedule/times that you can meet and if you will meet in
              person or virtually]. Looking forward to working with you!
            </p>

            <p>
              Best,
              <br>
              <%= @first_name %>
            </p>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="content-block">
          Best,<br />
          The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
