<% provide :title, "Submission: Technical Elements" %>

<% provide :back_link_txt, "Pitch" %>
<% provide :back_link, send(
  "#{current_scope}_team_submission_section_path",
  @team_submission,
  section: :pitch
) %>

<% provide :next_link_txt, "Entrepreneurship" %>
<% provide :next_link, send(
  "#{current_scope}_team_submission_section_path",
  @team_submission,
  section: :business
) %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Submission Type",
  scope: current_scope,
  attribute: :submission_type,
  cta_when_empty: "Select your submission type",
  cta_when_filled: "Change your selection" do %>

  <p>
    <%= @team_submission.submission_type %>
  </p>

  <% if @team_submission.submission_type == "Mobile App" %>
    <% if @team_submission.developed_on?("Other") %>
      <p>
        <%= @team_submission.development_platform_other %>
      </p>
    <% else %>
      <p>
        <%= @team_submission.development_platform %>
      </p>
    <% end %>

    <% if @team_submission.developed_on?("Thunkable") %>
      <%= @team_submission.development_platform_text %>

      <p>
        Project url:
        <%= link_to @team_submission.thunkable_project_url,
        @team_submission.thunkable_project_url %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render 'application/templates/tw_thick_rule'%>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Technical Additions",
  scope: current_scope,
  attribute: :source_code_url,
  cta_when_empty: "Upload your technical work",
  cta_when_filled: "Change your upload" do %>
  <% if @team_submission.developed_on?("Thunkable") %>
    <p>
      Project url:
      <%= link_to @team_submission.thunkable_project_url,
        @team_submission.thunkable_project_url %>
    </p>
  <% else %>
    <p>
      Your team has uploaded:
      <%= link_to @team_submission.source_code_filename,
        @team_submission.source_code_url %>
    </p>
  <% end %>
<% end %>
