<% provide :title, "Submission: Ideation" %>

<% provide :back_link_txt, "Start" %>
<% provide :back_link, send(
  "#{current_scope}_team_submission_section_path",
  @team_submission,
  section: :start
) %>

<% provide :next_link_txt, "Pitch" %>
<% provide :next_link, send(
  "#{current_scope}_team_submission_section_path",
  @team_submission,
  section: :pitch
) %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Name Your Product",
  scope: current_scope,
  attribute: :app_name,
  cta_when_empty: "Set your app's name",
  cta_when_filled: "Change your app's name" %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Describe Your Product",
  scope: current_scope,
  attribute: :app_description,
  cta_when_empty: "Add your app's description",
  cta_when_filled: "Change your app's description" do %>

  <%= simple_format(@team_submission.app_description) %>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Learning Journey",
  scope: current_scope,
  attribute: :learning_journey,
  cta_when_empty: "Add your learning journey",
  cta_when_filled: "Update your learning journey" do %>

  <%= simple_format(@team_submission.learning_journey) %>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Images",
  scope: current_scope,
  attribute: :screenshots,
  link_options: { data: { turbolinks: false } },
  cta_when_empty: "Upload images of your app",
  cta_when_filled: "Make changes to your images" do %>
  <div class="submission-pieces__screenshots">
    <% @team_submission.screenshots.each do |screenshot| %>
      <% if screenshot.image_url.present? %>
        <div class="submission-pieces__screenshot">
          <%= image_tag screenshot.image_url,
            data: {
            modal_url: screenshot.image_url(:large),
          } %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Additional Information",
  scope: current_scope,
  attribute: :app_details,
  cta_when_empty: "Add details about your app",
  cta_when_filled: "Update details about your app" do %>

  <%= render 'team_submissions/app_details',
    team_submission: @team_submission %>
<% end %>
