<% provide :title, "Submission: Marketing" %>

<% provide :back_link_txt, "Ideation" %>
<% provide :back_link, send(
  "#{current_scope}_team_submission_section_path",
  @team_submission,
  section: :ideation
) %>

<% provide :next_link_txt, "Code" %>
<% provide :next_link, send(
  "#{current_scope}_team_submission_section_path",
  @team_submission,
  section: :code
) %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Demo video",
  scope: current_scope,
  attribute: :demo_video_link,
  yield_block: true,
  cta_when_empty: "Add the demo video link",
  cta_when_filled: "Change the demo video link" do %>
  <%= @team_submission.embed_code(:demo_video_link).html_safe %>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Pitch video",
  scope: current_scope,
  yield_block: true,
  attribute: :pitch_video_link,
  cta_when_empty: "Add the pitch video link",
  cta_when_filled: "Change the pitch video link" do %>
  <%= @team_submission.embed_code(:pitch_video_link).html_safe %>
<% end %>

<%= render 'team_submissions/pieces/piece',
  submission: @team_submission,
  title: "Screenshots",
  scope: current_scope,
  yield_block: true,
  attribute: :screenshots,
  link_options: { data: { turbolinks: false } },
  cta_when_empty: "Upload screenshots of your app",
  cta_when_filled: "Make changes to your screenshots" do %>
  <div class="submission-pieces__screenshots">
    <% @team_submission.screenshots.each do |screenshot| %>
      <div class="submission-pieces__screenshot">
        <%= image_tag screenshot.image_url,
          data: {
            modal_url: screenshot.image_url(:large),
          } %>
      </div>
    <% end %>
  </div>
<% end %>
