<% provide :title, "Submission: Regional events" %>

<% if SeasonToggles.team_submissions_editable? %>
  <% provide :back_link_txt, "Business" %>
  <% provide :back_link, send(
    "#{current_scope}_team_submission_section_path",
    @team_submission,
    section: :business
  ) %>
<% end %>

<div
  id="<%= dom_id(@team_submission) %>_pitch_presentation"
  class="
    submission-piece
    <%= completion_css(
      @team_submission,
      :pitch_presentation_url
    ) %>
  "
>
  <h3 class="font-semibold mb-4">
    Pitch presentation slides
  </h3>

  <% if @team.selected_regional_pitch_event.live? %>
    <% if @team_submission.pitch_presentation_url_complete? %>
      <p>
        Your team has uploaded:
        <%= link_to @team_submission.pitch_presentation_filename,
          @team_submission.pitch_presentation_url %>
      </p>

      <div class="mt-4">
        <%= link_to "Change your upload",
          send(
            "edit_#{current_scope}_team_submission_path",
            @team_submission,
            piece: :pitch_presentation
          ),
          class: "tw-gray-btn small" %>
      </div>
    <% else %>
      <p class="tw-hint">
        There's nothing here yet,
        but your team can update this part whenever it's ready!
      </p>

      <div>
        <%= link_to(
          "Upload the pitch presentation slides " +
          "for your live event",
          send(
            "edit_#{current_scope}_team_submission_path",
            @team_submission,
            piece: :pitch_presentation
          ),
          class: "tw-green-btn small"
        ) %>
      </div>
    <% end %>
  <% else %>
    <p class="tw-hint-strong">
      No team will submit pitch presentation slides here because all
      official Regional Pitch Events are canceled due to COVID this season.
    </p>

    <p>
      If you are attending a local celebration or unofficial pitch event, your
      Chapter Ambassador may ask you to share your pitch presentation slides with
      them before the event. Coordinate with them directly and good luck!
    </p>
  <% end %>
</div>
