<% provide :title, "Starting your submission" %>

<% provide :next_link_txt, "Ideation" %>
<% provide :next_link, send(
  "#{current_scope}_team_submission_section_path",
  @team_submission,
  section: :ideation
) %>

  <h1 class="text-xl">
    <%= Season.current.year %> Technovation Honor Code
  </h1>
  <%= render "team_submissions/honor_code" %>

  <%= render 'application/templates/tw_thick_rule' %>

  <div class="flex flex-col mx-auto justify-center">
    <%= render 'team_submissions/pieces/piece',
               submission: @team_submission,
               title: "Your Team Photo",
               scope: current_scope,
               attribute: :team_photo,
               cta_when_empty: "Upload your team photo",
               cta_when_filled: "Change your team photo" do %>
    <%= image_tag @team.team_photo_url, class: "w-full lg:w-1/4" %>
    <% end %>
  </div>
