<% provide :title, "Manage Admin Staff" %>

<% if current_admin.super_admin? %>
  <p><%= link_to "Setup a new admin", new_admin_admin_path, class: "button" %></p>
<% end %>

<table class="datagrid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Last logged in</th>
      <th>Status</th>
      <th colspan="3">Permissions</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
        <td><%= safe_time_ago_in_words(admin.last_logged_in_at, 'ago') %></td>
        <td><%= admin.admin_status.humanize %></td>
        <td><%= admin.admin_profile.super_admin? ? "Super Admin" : "Admin"%></td>
        <% if Account.full_admin.size > 1 && current_admin.super_admin? %>
          <td>
            <%= link_to 'delete',
                        admin_admin_path(admin),
                        class: "button button--remove-bg button--danger",
                        data: {
                          method: :delete,
                          confirm: "You are DELETING #{admin.name}!",
                        } %>
          </td>
          <td>
            <% if !admin.admin_profile.super_admin? %>
              <%= link_to 'make super admin',
                          admin_admin_make_super_admin_path(admin),
                          class: "button button--remove-bg button--danger",
                          data: {
                            method: :patch,
                            confirm: "You are UPDATING #{admin.name} to a SUPER ADMIN!",
                          } %>
            <% else %>
              <p class="text-align--center">N/A</p>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>