<% provide :title, "Manage Admin Staff" %>

<% if current_admin.super_admin? %>
  <p><%= link_to "Setup a new admin", new_admin_admin_path, class: "button" %></p>
<% end %>

<table class="datagrid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Last logged in</th>
      <th >Status</th>
      <th colspan="2">Permissions</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
        <td><%= safe_time_ago_in_words(admin.last_logged_in_at, 'ago') %></td>
        <td><%= admin.admin_status.humanize %></td>
        <td><%= admin.admin_profile.admin_type.titleize %></td>
        <% unless Account.full_admin.one? %>
          <td>
            <%= link_to 'delete',
              admin_admin_path(admin),
              class: "button button--remove-bg button--danger",
              data: {
                method: :delete,
                confirm: "You are DELETING #{admin.name}!",
              } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>