<div class="panel">
  <div class="grid">
    <% if current_scope != "judge" and
          event.at_team_capacity? and
            not current_team.attending_event?(event) %>
        <div class="grid__col-12">
          <div class="flash flash-info margin--none">
            This event is currently full.
          </div>
        </div>
    <% end %>

    <div class="grid__col-auto">
      <h3><%= event.name %></h3>

      <dl>
        <dt>Time:</dt>
        <dd>
          <%= event.starts_at
            .in_time_zone(event.timezone)
            .strftime("%A, %B %e") %>

          <br />

          <%= event.starts_at
            .in_time_zone(event.timezone)
            .strftime("%-I:%M%P") %>

          &ndash;

          <%= event.ends_at
            .in_time_zone(event.timezone)
            .strftime("%-I:%M%P %Z") %>
        </dd>

        <dt>Address:</dt>
        <dd>
          <%= event.venue_address %>
          <br />
          <%= event.city %>
        </dd>

        <% unless event.event_link.blank? %>
          <dt>Event link:</dt>
          <dd>
            <%= link_to "#{event.name}",
              event.event_link,
              target: :_blank %>
          </dd>
        <% end %>

        <dt>Status:</dt>
        <dd>
        <%= event.officiality.capitalize %>
        </dd>
      </dl>
    </div>

    <div class="grid__col-auto">
      <p>
        Events will be confirmed as either Regional Pitch Events or
        Celebration Events after <%= ImportantDates.rpe_officiality_finalized.strftime("%B %-d") %>.
        For more information, please check out the
        <%= link_to 'Technovation FAQ',
          'https://iridescentsupport.zendesk.com/hc/en-us/sections/360007469154-Regional-Pitch-Events'
        %> or contact your regional ambassador.
      </p>

      <dl>
        <dt>Name:</dt>
        <dd><%= event.ambassador.name  %></dd>

        <dt>Email:</dt>
        <dd><%= mail_to event.ambassador.email %></dd>
      </dl>

      <% if current_scope != "judge" and
              not current_team.attending_event?(event) and
                SeasonToggles.select_regional_pitch_event? and
                  not event.at_team_capacity? %>
        <p>
          <%= link_to "Select this event",
            [
              current_scope,
              :regional_pitch_event_selection,
              { event_id: event.id, team_id: current_team.id },
            ],
            class: "button small",
            data: {
              disable_with: "Selecting event...",
              positive: true,
              method: :post,
              confirm: "Are you sure you want to attend #{event.name}? " +
              "<p><strong>You cannot change this.</strong></p>"
            } %>
        </p>
      <% end %>
    </div>
  </div>
</div>
