<% if current_scope == "mentor" %>
  <div class="grid grid--justify-space-around">
    <div class="grid__col-8">
      <h4 class="content-heading">Select a Regional Pitch Event</h4>

        <div class="panel">
          <%= render "mentor/teams/team_list_item_content",
                     team: current_team %>
        </div>

        <%= render partial: 'regional_pitch_events/event',
                   collection: @regional_events %>
        <p>
          <%= link_to 'Go back',
                      back_from_event_path,
                      class: "button small" %>
        </p>
    </div>
  </div>
<% else %>
  <div class="container mx-auto flex w-full lg:w-3/4">
    <%= render layout: 'application/templates/dashboards/energetic_container', locals: { heading: 'Available Events'} do %>
      <section class="mb-8">
        <p class="mb-4">
          <%= link_to 'Go back!',
                      back_from_event_path,
                      class: "tw-gray-btn text-sm" %>
        </p>
        <p>These are the available events in your area. </p>
        <p>
          Events will be confirmed as either Regional Pitch Events or
          Celebration Events after <%= ImportantDates.rpe_officiality_finalized.strftime("%B %-d") %>.
          For more information, please check out the
          <%= link_to 'Technovation FAQ', 'https://iridescentsupport.zendesk.com/hc/en-us/sections/360007469154-Regional-Pitch-Events' %>
          or contact your chapter ambassador.
        </p>
      </section>
      <%= render partial: 'regional_pitch_events/rebrand/event',
                 locals: { multiple_events: true },
                 collection: @regional_events %>
    <% end %>
  </div>
<% end %>
