<div class="grid grid--justify-center">
  <div class="grid__col-8">
    <div class="panel panel--left">
    <h1 class="content-heading "><%= @regional_pitch_event.name %></h1>
      <div class="grid">
        <div class="grid__col-6 ">
            <p>
              <strong>Time:</strong>
              <br />
              <%= @regional_pitch_event.starts_at
                .in_time_zone( @regional_pitch_event.timezone)
                .strftime("%A, %B %e") %>

              <br />

              <%=  @regional_pitch_event.starts_at
                .in_time_zone( @regional_pitch_event.timezone)
                .strftime("%-I:%M%P") %>

              &ndash;

              <%=  @regional_pitch_event.ends_at
                .in_time_zone( @regional_pitch_event.timezone)
                .strftime("%-I:%M%P %Z") %>
                </p>
            </p>


            <p>
              <strong>Address:</strong><br />
              <%= @regional_pitch_event.venue_address %> <br />
              <%= @regional_pitch_event.city %><br />
            </p>

            <% unless @regional_pitch_event.eventbrite_link.blank? %>
              <p>
                <strong>Eventbrite link:</strong>
                <%= link_to "#{@regional_pitch_event.name}",
                  @regional_pitch_event.eventbrite_link,
                  target: :_blank %>
              </p>
            <% end %>

            <% if current_account.student_profile.present? and current_student %>
              <% if SeasonToggles.select_regional_pitch_event? %>
                <p>
                  <%= link_to "Remove #{current_team.name} from this event",
                    student_regional_pitch_event_selection_path,
                    class: "cta-link",
                    data: {
                      method: :delete,
                      confirm: "Are you sure you want to remove your team from the event: #{@regional_pitch_event.name}?",
                    } %>
                </p>
              <% end %>
            <% end %>
          </div>
          <div class="grid__col-6">
            <p><strong>Questions? </strong></p>
            <p>Please contact your regional ambassador. </p>
            <p><strong> Name: </strong> <%= @regional_pitch_event.ambassador.name  %> </p>
            <p><strong> Email: </strong> <%= mail_to @regional_pitch_event  .ambassador.email %> </p>
          </div>
        <div>
      </div>
    </div>
  </div>
  <div class="grid__col-2">
  <p>
    <%= link_to 'Back',
      public_send("#{current_account.scope_name}_dashboard_path"),
      class: "button small" %>
  </p>
  </div>
