 <div class="container mx-auto flex w-full lg:w-3/4">
  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Event Details"} do %>
    <div class="mb-12">
      <p class="mb-4">
        <%= link_to "Go back!",
          back_from_event_path,
          class: "tw-gray-btn text-sm" %>
      </p>

      <%= render "regional_pitch_events/rebrand/event", event: @regional_pitch_event %>

      <% if SeasonToggles.pitch_presentation_needed?(current_team) %>
        <%= render "team_submissions/pieces/pitch_presentation",
          team: current_team,
          submission: current_team.submission %>
      <% end %>
    </div>

    <div class="tw-hint">
      <%= render "regional_pitch_events/dashboard_disclaimer" %>
    </div>
  <% end %>
</div>
