<h1 class="appy-title"><%= @regional_pitch_event.name %></h1>

<p>
  <strong>Division:</strong> <%= @regional_pitch_event.divisions.map(&:name).to_sentence %>
</p>

<p>
  <strong>Time:</strong>
  <%= @regional_pitch_event.starts_at.in_time_zone(@regional_pitch_event.timezone).strftime("%A, %B %e, %-I:%M%P") %> &ndash;
  <%= @regional_pitch_event.ends_at.in_time_zone(@regional_pitch_event.timezone).strftime("%-I:%M%P %Z") %>
</p>

<p>
  <strong>City:</strong> <%= @regional_pitch_event.city %>
</p>

<p>
  <strong>Venue address:</strong> <%= @regional_pitch_event.venue_address %>
</p>

<% unless @regional_pitch_event.eventbrite_link.blank? %>
  <p>
    <strong>Eventbrite link:</strong>
    <%= link_to @regional_pitch_event.eventbrite_link,
      @regional_pitch_event.eventbrite_link,
      target: :_blank %>
  </p>
<% end %>

<% if current_account.student_profile.present? and current_student %>
  <div class="standalone-buttons">
    <div class="regional-pitch-event-selection-info">
      <% if current_team.selected_regional_pitch_event == @regional_pitch_event %>
        <p><strong><%= current_team.name %> is attending this event!</strong></p>

        <p>
          <%= link_to 'Check how your submission looks to judges',
            app_path(current_team.submission),
            target: :_blank %>
        </p>
      <% else %>
        <p>
          <strong>
            <%= current_team.name %>
            is currently attending
            <%= link_to current_team.selected_regional_pitch_event_name,
              student_regional_pitch_event_path(current_team.selected_regional_pitch_event) %>
          </strong>
        </p>
      <% end %>
    </div>

    <p><%= link_to 'Go to your dashboard', student_dashboard_path(anchor: "live-events") %></p>
  </div>
<% end %>

<% if (current_account.judge_profile.present? and current_judge rescue false) %>
  <div class="standalone-buttons">
    <div class="regional-pitch-event-selection-info">
      <% if current_judge.selected_regional_pitch_event == @regional_pitch_event %>
        <p><strong>You are attending this event!</strong></p>
      <% else %>
        <p>
          <strong>
            You are currently attending
            <%= link_to current_judge.selected_regional_pitch_event_name,
              judge_regional_pitch_event_path(current_judge.selected_regional_pitch_event) %>
          </strong>
        </p>
      <% end %>
    </div>

    <p><%= link_to 'Go to your dashboard', judge_dashboard_path %></p>
  </div>
<% end %>
