<div class="card">
  <div class="card__body">
    <h1><%= t("views.application.curriculum") %></h1>

    <p>
      <%= link_to "Get Started on the Technovation Curriculum",
        "http://www.technovationchallenge.org/curriculum-intro/registered",
        target: "_blank" %>
    </p>

    <p>
      <%= link_to "Read the Technovation Challenge Primer",
        "http://www.technovationchallenge.org/curriculum/madewithcodeprimer",
        target: "_blank" %>
      (if you came from Made With Code)
    </p>

    <h1><%= t("views.application.submission_deliverables") %></h1>

    <p>
      Make sure you have everything ready to submit your app to Technovation!
    </p>

    <p>
      <%= link_to "Submission Deliverables &amp; Guidelines".html_safe,
        "http://www.technovationchallenge.org/submission-guidelines/",
        target: "_blank" %>
    </p>

    <h1><%= t("views.application.judging_rubric") %></h1>

    <p>
      Check out the 
      <%= Season.current.year %> 
      judging rubric to see how you will be scored!
    </p>  

    <p>
      <%= link_to "Judging Rubric".html_safe,
        "http://www.technovationchallenge.org/judging-rubric/",
        target: "_blank" %>
    </p>
  </div>
</div>
