<div class="flex-col-md-8">
  <% if current_student.team.present? %>
    <% if current_student.team.mentors.empty? %>
      <h1><%= t("views.profile_requirements.find_mentor.heading") %></h1>

      <p>
        <%= t("views.profile_requirements.find_mentor.label") %><br>
      </p>

      <p>
        <%= link_to t("views.profile_requirements.find_mentor.links.pre_unit.text"),
          "http://www.technovationchallenge.org/curriculum/findamentor/",
          target: "_blank" %>
      </p>

      <p>
        <%= t("views.profile_requirements.find_mentor.links.pre_unit.postfix") %>
      </p>

      <p>
        <%= link_to t("views.profile_requirements.find_mentor.links.browse.text"),
          new_student_mentor_search_path,
          class: "appy-button" %>
      </p>
    <% end %>

    Team requests/invites management stuff
  <% else %>
      uh
  <% end %>
</div>

<%= render 'student/dashboards/info_sidebar' %>
