<% if current_student.requested_to_join?(@team) %>
  <p><%= t("views.student.join_requests.new.already_requested") %></p>
<% elsif current_student.is_on?(@team) %>
  <p><%= t("views.student.join_requests.new.already_joined") %></p>
<% elsif current_student.is_invited_to_join?(@team) %>
  <p><%= t("views.student.join_requests.new.already_invited",
                          link: link_to(t("views.application.review_now"),
                                        student_team_member_invite_path(current_student.pending_invitation_for(@team)))).html_safe %></p>
<% else %>
  <p><%= button_to t("controllers.student.join_requests.create.link", name: @team.name),
                    student_join_requests_path(team_id: @team.id) %></p>
<% end %>

<%= render "teams/public_show", team: @team %>
