<div class="signin-page">
  <%= simple_form_for(@password) do |f| %>
    <h2><%= t("views.passwords.new.title") %></h2>

    <%= f.hidden_field :token %>

    <%= f.input :password, label: t("models.account.password") %>

    <p class="appy-hint"><%= t("models.account.password_hint") %>

    <%= f.input :password_confirmation,
                label: t('views.signups.form.confirm_password') %>

    <%= f.button :submit, t("views.application.save"), class: "appy-button" %>
  <% end %>
</div>
