<% provide :title, "Reset your password" %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8 grid__col-md-5">
    <h1><%= t("views.passwords.new.title") %></h1>

    <%= simple_form_for(@password) do |f| %>
      <%= f.hidden_field :token %>

      <%= f.input :password, label: t("models.account.password") %>

      <p class="hint">
        <%= t("models.account.password_hint") %>
      </p>

      <%= f.input :password_confirmation,
        label: t('views.signups.form.confirm_password') %>

      <%= f.button :submit,
        t("views.application.save"),
        class: "button" %>
    <% end %>
  </div>
</div>
