<nav class="bg-white">
  <div class="w-full lg:w-3/4 mx-auto px-1">
    <div class="flex justify-between">
      <div>
        <a href="/" class="flex items-center py-4 px-2">
          <%= image_tag "new_registration/tg-girls-logo.png", alt:"Technovation Girls Logo", id:"tg-logo", class:"w-44 md:w-52"%>
        </a>
      </div>
      <div class="flex space-x-7 py-4" id="student-nav">
        <div class="flex items-center space-x-1" id="student-nav-wrapper">
            <a class="tw-hidden" href="/student/dashboard#/curriculum">Curriculum</a>
            <a class="tw-hidden" href="https://www.technovation.org/about/">About</a>
            <% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
              <%= link_to SeasonToggles.survey_link(current_scope, "text"),
                          SeasonToggles.survey_link(
                            current_scope, "url",
                            format_url: true,
                            account: current_account
                          ),
                          target: "_blank",
                          class: "tw-hidden"
              %>
            <% end %>
          <div class="flex items-center justify-center">
            <div class="relative inline-block text-left tw-dropdown" id="student-dropdown-wrapper">
              <span class="flex cursor-pointer hover:text-energetic-blue"><%= current_student.first_name %>
                <img src="https://icongr.am/fontawesome/caret-down.svg?size=12" alt="">
              </span>

              <div class="tw-dropdown-menu">
                <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none">
                  <div class="p-4">
                    <ul class="text-sm" id="student-dropdown-list">
                      <li class="tw-mobile-show"><a href="/student/dashboard#/curriculum">Curriculum</a></li>
                      <li class="tw-mobile-show"><a href="https://www.technovation.org/about/">About</a></li>
                      <li><a href="https://youtu.be/whZjfiB3vgQ">Using Your Dashboard</a></li>
                      <li><a href="https://www.technovation.org/safety/internet-safety-tips-for-children/">Safety Information</a></li>
                      <li><a href="https://www.technovationchallenge.org/submission-guidelines/">Submission Guide</a></li>
                      <li><a href="https://www.technovationchallenge.org/judging-rubric/">Judging Rubrics</a></li>
                      <li><% if SeasonToggles.survey_link_available?(current_scope, current_account) %>
                        <%= link_to SeasonToggles.survey_link(current_scope, "text"),
                                    SeasonToggles.survey_link(
                                      current_scope, "url",
                                      format_url: true,
                                      account: current_account
                                    ),
                                    target: "_blank"
                        %>
                        <% end %></li>
                      <li>
                        <% if current_account.authenticated? %>
                          <%= link_to t('views.application.signout'), signout_path, class: 'text-sm' %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <%= image_tag current_student.profile_image_url,
                          class: "rounded-bl-3xl rounded-tr-3xl w-14",
                          id: "profile-image" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
