<ul class="unstyled mb-4">
  <li>
    <%= web_icon("facebook-square") %>
    <%= link_to "Facebook", "https://www.facebook.com/technovationglobal",
                class: "tw-link",
                target: :_blank %>
  </li>

  <li>
    <%= web_icon("twitter-square") %>
    <%= link_to "Twitter", "https://twitter.com/technovation",
                class: "tw-link",
                target: :_blank %>
  </li>

  <li>
    <%= web_icon("instagram") %>
    <%= link_to "Instagram", "https://www.instagram.com/technovationglobal",
                class: "tw-link",
                target: :_blank %>
  </li>

  <li>
    <%= web_icon("youtube") %>
    <%= link_to "YouTube", "https://www.youtube.com/channel/UCvxNjrhfz_M68fwT2QcurjQ",
                class: "tw-link",
                target: :_blank %>
  </li>
</ul>