<% division ||= nil %>

<p>
  Selecting <%= division %> <%= participant_type.pluralize %> for <strong><%= event.name %></strong>.
</p>

<table class="ra-participants-list">
  <thead>
    <tr>
      <th>Name</th>

      <% if participant_type == "Team" %>
        <th>Submission</th>
      <% end %>

      <th>City</th>

      <% if current_ambassador.country != "US" %>
        <th>State / Province</th>
      <% end %>

      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="5">
        Listing <%= division %> <%= participant_type.pluralize %> which are not already attending another event.
      </td>
    </tr>

    <% if participants.any? %>
      <% participants.each do |participant| %>
        <tr>
          <td>
            <% if participant_type == "Team" %>
              <%= link_to participant.name,
                regional_ambassador_team_path(participant),
                target: :_blank %>
            <% else %>
              <%= link_to participant.full_name,
                regional_ambassador_user_path(participant.account),
                target: :_blank %>
            <% end %>
          </td>

          <% if participant_type == "Team" %>
            <td>
              <% if participant.submission.present? %>
                <%= link_to participant.submission.app_name || "(no name yet)",
                  app_url(participant.submission),
                  target: :_blank %>
              <% else %>
                <span class="has-danger">not started!</span>
              <% end %>
            </td>
          <% end %>

          <td>
            <%= participant.city %>
          </td>

          <% if current_ambassador.country != "US" %>
            <td>
              <%= participant.state_province %>
            </td>
          <% end %>

          <td>
            <%= link_to fa_icon('plus', text: 'Add'),
              regional_ambassador_regional_pitch_event_participations_path(
                event_id: event.id,
                participant_id: participant.id,
                participant_type: participant.class.name,
                referring_anchor: anchor,
              ),
              data: {
                method: :post,
              } %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">
          There are no more <%= division %> <%= participant_type.pluralize %> available to select for <strong><%= event.name %></strong>.
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <%= link_to fa_icon('arrow-left', text: 'Go back'), regional_ambassador_regional_pitch_event_path(event), class: "modalify__close" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
