<h3 class="mb-4">Uploading Consent Forms</h3>

<% if @parental_consent.uploaded_at.present? && @parental_consent.upload_approval_status_pending? %>
  <div class="container px-4 py-4 mb-8 bg-blue-100 border-l-4 border-energetic-blue">
    <h4 class="mb-3 text-base text-gray-600">Thank you for uploading your consent form!</h2>

    <p class="mb-3 text-base text-gray-500">
      We will review it as soon as possible, and you will receive
      an email when the form is accepted or if we need additional
      information.
    </p>
  </div>
<% end %>

<% if @parental_consent.uploaded_at.blank? || @parental_consent.upload_approval_status_rejected? %>
  <p>
    If your parent or guardian does not have an email address to sign the
    permission and media consent forms online, you can upload the signed
    forms here. Please print the forms and have your guardian sign them.
  </p>

  <ul class="list-disc my-6 ml-12">
    <li>
      <%= link_to "Parental Consent Form",
        student_downloadable_parental_consent_path(format: :pdf),
        target: :_blank,
        class: "tw-link"
      %>
    </li>

    <li>
      <%= link_to "Media Consent Form",
        "https://s3.amazonaws.com/curiositymachine/units/resources/TGMediaConsent.pdf",
        target: :_blank,
        class: "tw-link"
      %>
    </li>
  </ul>

  <p class="mb-6">
    We must be able to view the signature on the final page of the form so
    please make sure the shadow of your phone or camera does not cover the
    signature when you photograph the page.

    Please contact
    <%= mail_to ENV.fetch("HELP_EMAIL"),
      "support@technovation.org",
      subject: "Parental consent signed form",
      class:"tw-link"
    %>
    with any questions.
  </p>

  <%= form_for @parental_consent, url: student_paper_consent_upload_path, html: { multipart: true } do |f| %>
    <%= f.label :uploaded_consent_form, "Upload parental consent form" %>
    <%= f.file_field :uploaded_consent_form, label: "Upload your", class: "tw-file-upload" %>

    <%= f.fields_for @media_consent do |media_consent_fields| %>
      <%= media_consent_fields.label :uploaded_consent_form, "Upload media consent form", class: "mt-8" %>
      <%= media_consent_fields.file_field :uploaded_consent_form, label: "Upload your", class: "tw-file-upload" %>
    <% end %>

    <%= f.submit "Upload", class: "mt-4 tw-green-btn" %>
  <% end %>
<% end %>
