<% provide :main_header, render('application/templates/tg_hero_header') %>
<% provide :global_nav_links, render('application_rebrand/global_nav_links') %>

<%= render 'public/dashboards/homepage_banner' if ENV.fetch("ENABLE_HOMEPAGE_BANNER", false) %>

<div class="w-full lg:w-1/2 mx-auto border-2 shadow-md rounded">
  <div class="p-8">
    <% if SeasonToggles.judging_enabled_or_between? %>
      <%= render 'judging_open_splash' %>
    <% elsif SeasonToggles.judging_finished? %>
        <%= render 'off_season_splash' %>
    <% elsif  SeasonToggles.registration_open? %>
        <%= render 'landing' %>
    <% else %>
        <%= render 'off_season_splash' %>
    <% end %>
  </div>
</div>