<h3 class="reset">Inactivity notices</h3>

<%= link_to "View all activity in your area",
  chapter_ambassador_activities_path %>

<hr />

<h3>3 most inactive mentors</h3>

<ul class="feed">
  <% @top_inactive_mentors.each do |mentor| %>
    <li class="feed--item">
      <%= image_tag mentor.profile_image_url,
        width: 40,
        class: "thumbnail-xs" %>

      <%= link_to mentor.name,
        chapter_ambassador_participant_path(mentor) %>

      hasn't been active

      <% if mentor.activities.any? %>
        for <%= time_ago_in_words(mentor.activities.last.created_at) %>
      <% end %>
    </li>
  <% end %>
</ul>

<hr />

<h3>3 most inactive students</h3>

<ul class="feed">
  <% @top_inactive_students.each do |student| %>
    <li class="feed--item">
      <%= image_tag student.profile_image_url,
        width: 40, class: "thumbnail-xs" %>

      <%= link_to student.name,
        chapter_ambassador_participant_path(student) %>

      hasn't been active

      <% if student.activities.any? %>
        for <%= time_ago_in_words(student.activities.last.created_at) %>
      <% end %>
    </li>
  <% end %>
</ul>

<hr />

<h3>3 most inactive teams</h3>

<ul class="feed">
  <% @top_inactive_teams.each do |team| %>
    <li class="feed--item">
      <%= image_tag team.team_photo_url,
        width: 40, class: "thumbnail-xs" %>

      <%= link_to team.name, chapter_ambassador_team_path(team) %>

      hasn't been active

      <% if team.activities.any? %>
        for <%= time_ago_in_words(team.activities.last.created_at) %>
      <% end %>
    </li>
  <% end %>
</ul>
