<h3 class="reset">
  <%= current_ambassador.region_name %>
  <%= Season.current.year %>
  recruitment performance
</h3>

<p>
  <%= link_to "View all participants in your region",
    chapter_ambassador_participants_path %>
</p>

<hr />

<div id="chapter-ambassador-admin-students-section">
  <students-section
    :chart-endpoints="{
      onboarding_students: '<%= chapter_ambassador_data_analysis_path(:onboarding_students) %>',
      returning_students: '<%= chapter_ambassador_data_analysis_path(:returning_students) %>',
    }"
  />
</div>
