<div class="overflow-y-auto h-full">
  <div class="mb-4">
    <p class="font-semibold"><%= t("chapter.chapter_program_information.organization_type_question") %></p>
    <% if current_chapter.chapter_program_information.organization_types.any? %>
      <ul class="list-disc">
        <% current_chapter.chapter_program_information.organization_types.each do |organization_type| %>
          <li><%= organization_type.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-red-500">Missing</p>
    <% end %>
  </div>

  <div class="mb-4">
    <p class="font-semibold"><%= t("chapter.chapter_program_information.child_safeguarding_policy_and_process_question") %></p>
    <p>
      <%= current_chapter.chapter_program_information.child_safeguarding_policy_and_process.presence || raw('<span class="text-red-500">Missing</span>') %>
    </p>
  </div>

  <div class="mb-4">
    <p class="font-semibold"><%= t("chapter.chapter_program_information.start_date_question") %></p>
    <p>
      <%= current_chapter.chapter_program_information.start_date.presence || raw('<span class="text-red-500">Missing</span>') %>
    </p>
  </div>

  <div class="mb-4">
    <p class="font-semibold"><%= t("chapter.chapter_program_information.meeting_time_question") %></p>
    <% if current_chapter.chapter_program_information.meeting_times.any? %>
      <ul class="list-disc">
        <% current_chapter.chapter_program_information.meeting_times.each do |meeting_time| %>
          <li><%= meeting_time.time %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-red-500">Missing</p>
    <% end %>
  </div>

  <div class="mb-4">
    <p class="font-semibold"><%= t("chapter.chapter_program_information.program_length_question") %></p>
    <p>
      <%= current_chapter.chapter_program_information.program_length&.length.presence || raw('<span class="text-red-500">Missing</span>')%>
    </p>
  </div>

  <div class="mb-4">
    <p class="font-semibold"><%= t("chapter.chapter_program_information.meeting_facilitator_question") %></p>
    <% if current_chapter.chapter_program_information.meeting_facilitators.any? %>
      <ul class="list-disc">
        <% current_chapter.chapter_program_information.meeting_facilitators.each do |meeting_facilitator| %>
          <li><%= meeting_facilitator.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-red-500">Missing</p>
    <% end %>
  </div>
</div>
