<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City, State, Country</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pending_regional_ambassadors.each do |ambassador| %>
      <tr>
        <td><%= ambassador.full_name %></td>
        <td><%= ambassador.email %></td>
        <td><%= ambassador.address_details %></td>
        <td>
          <%= link_to "approve",
                      admin_pending_regional_ambassador_path(ambassador,
                                                             status: :approved),
                      data: { method: :put } %>&nbsp;|
          <%= link_to "reject",
                      admin_pending_regional_ambassador_path(ambassador,
                                                             status: :rejected),
                      data: { method: :put } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
