<% if @account.assigned_to_chapter? %>
  <dt>Chapter (Program name)</dt>
  <dd>
    <%= link_to(@account.friendly_chapter_program_name,
      admin_chapter_path(@account.current_chapter)) %>
  </dd>

  <dt>Chapter Organization</dt>
  <dd>
    <%= @account.friendly_chapter_organization_name %>
  </dd>

  <p>
    <% case @account.current_primary_chapterable_assignment.profile_type %>
    <% when "StudentProfile" %>
      <% link_text = "Edit chapter" %>
    <% when "MentorProfile" %>
      <% link_text = "Edit chapter for mentor" %>
    <% else %>
      <% link_text = "Edit chapter for ChA" %>
    <% end %>

    <%= link_to link_text,
      edit_admin_account_chapter_account_assignment_path(
        @account,
        @account.current_primary_chapterable_assignment
      ),
      class: "button secondary small" %>
  </p>
<% elsif @account.assigned_to_club? %>
  <dt>Club</dt>
  <dd>
    <%= link_to(@account.current_club.name.presence,
      admin_club_path(@account.current_club)) %>
  </dd>

  <%= link_to "Edit club",
    edit_admin_account_chapterable_account_assignment_path(
      @account,
      @account.current_primary_chapterable_assignment
    ),
    class: "button secondary small" %>
<% end %>