<h4 class="reset"><%= Season.current.year %> Certificates</h4>

<div class="panel">
  <% if @certificates.any? || @needed_certificates.any? %>
    <dl>
      <% @certificates.each do |certificate| %>
        <dt><%= certificate.description %></dt>
        <dd>
          <%= web_icon("check-circle icon-green") %>
          <%= link_to "See certificate",
            admin_certificate_path(certificate),
            :target => "_blank" %>
        </dd>
      <% end %>
      <% @needed_certificates.each do |recipient| %>
        <dt><%= recipient.description %></dt>
        <dd>
          <%= web_icon("check-circle", text: "Will be generated") %>
        </dd>
      <% end %>
    </dl>
  <% else %>
    <p>There are no generated certificates for this user for <%= Season.current.year %>.</p>
  <% end %>
</div>