<div class="panel">
  <%= render "chapter_ambassador_onboarding", chapter_ambassador: profile %>

  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <dl>
      <% unless profile.account.mentor_profile.present? %>
        <dt>Browser / OS Info</dt>
        <dd>
          <%= [profile.browser_name,
              profile.browser_version,
              profile.os_name,
              profile.os_version].compact.join(' - ') %>
        </dd>
      <% end %>

      <dt>Status</dt>

      <dd>
        <%= form_with model: profile,
          url: admin_chapter_ambassador_status_path(profile),
          local: true do |f| %>

          <%= f.select :status,
            ChapterAmbassadorProfile.statuses.keys.map { |k| [k.humanize, k] } %>

          <p>
            <%= f.submit "Change status", class: "button small" %>
          </p>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
