<div class="panel">
  <dl>
    <% unless profile.account.mentor_profile.present? %>
      <dt>Browser / OS Info</dt>
      <dd>
        <%= [profile.browser_name,
            profile.browser_version,
            profile.os_name,
            profile.os_version].compact.join(' - ') %>
      </dd>

      <dt>
        Background Check Invitation Status
      </dt>
      <dd>
        <%= render 'admin/participants/background_check_invitation_status',
                   profile: @account.chapter_ambassador_profile %>
      </dd>

      <dt>Background Check</dt>
      <dd>
        <%= render 'admin/participants/background_check_status',
                   profile: @account.chapter_ambassador_profile %>
      </dd>
    <% end %>

    <dt>Status</dt>

    <dd>
      <%= form_with model: profile,
        url: admin_chapter_ambassador_status_path(profile),
        local: true do |f| %>

        <%= f.select :status,
          ChapterAmbassadorProfile.statuses.keys.map { |k| [k.humanize, k] } %>

        <p>
          <%= f.submit "Change status", class: "button small" %>
        </p>
      <% end %>
    </dd>
  </dl>
</div>
