<div class="panel">
  <% if current_account.admin? %>
    <%= render "admin/participants/chapter_ambassador_onboarding", chapter_ambassador: profile %>

    <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
      <% if current_account.is_admin? && ((profile.requires_background_check? && !profile.background_check_complete?) || profile.background_check_exemption?) %>
        <%= render "admin/participants/background_check_exemption", profile: profile %>
        <hr style="height: 1px; width: 100%;">
      <% end %>

      <% if current_account.is_admin? && !profile.volunteer_agreement_complete? %>
        <%= render "admin/participants/off_platform_chapter_volunteer_agreement", profile: profile %>
        <hr style="height: 1px; width: 100%;">
      <% end %>

      <dl>
        <dt>Chapter Onboarding Status</dt>
        <dd>
          <span class="hint">
            Chapter Ambassadors must also complete the Chapter onboarding process to access Chapter Admin Activity.
          </span>
          <% if profile&.chapter.present? %>
            <% if profile.chapter.onboarded? %>
              <div>
                <%= web_icon("check-circle icon-green") %>
                Complete
              </div>
            <% else %>
              <div>
                <%= web_icon("exclamation-circle icon-red") %>
                Chapter not onboarded.
                <%= link_to "View details",
                admin_chapter_path(profile.chapter) %>
            </div>
          <% end %>
        <% else %>
          <p>Chapter Ambassador not assigned to a chapter</p>
        <% end %>
        </dd>
      </dl>
      <hr style="height: 1px; width: 100%;">
    </div>
  <% end %>

  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <dl>
      <% unless profile.account.mentor_profile.present? %>
        <dt>Browser / OS Info</dt>
        <dd>
          <%= [profile.browser_name,
              profile.browser_version,
              profile.os_name,
              profile.os_version].compact.join(' - ') %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
