<div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
  <h4 class="reset">Required onboarding steps:</h4>
  <p class="hint">
    Club Ambassadors must complete these items to be considered onboarded:
  </p>

  <dl>
    <%= render "admin/participants/email_confirmed_status", account: club_ambassador.account %>
    <%= render "admin/participants/onboarding/background_check", profile: club_ambassador %>
    <%= render "admin/participants/onboarding/training", profile: club_ambassador %>
    <%= render "admin/participants/onboarding/sign_volunteer_agreement", profile: club_ambassador %>
    <%= render "admin/participants/onboarding/view_community_connections", profile: club_ambassador %>
  </dl>

  <hr style="height: 1px; width: 100%;">
</div>
