<dl class="profile-info">
  <dt><%= t('models.judge_profile.company_name') %></dt>
  <dd><%= profile.company_name %></dd>

  <dt><%= t('models.judge_profile.job_title') %></dt>
  <dd><%= profile.job_title %></dd>

  <dt><%= t('models.judge_profile.judge_types') %></dt>
  <dd>
    <ul>
      <% profile.judge_types.each do |judge_type| %>
        <li><%= judge_type.name %></li>
      <% end %>
    </ul>
  </dd>
</dl>
