<div class="panel">
  <p class="hint">
    This person has a judge profile.
    Here are some common issues related to judge profiles:
  </p>

  <dl>
    <% if current_account.is_admin? %>
      <dt>Suspended?</dt>
      <dd>
        <% if profile.suspended? %>
          <%= web_icon(
            "exclamation-circle icon-red",
            text: "This judge has been suspended!"
          ) %>
        <% else %>
          <%= web_icon("check-circle icon-green", text: "No, not suspended") %>
        <% end %>
      </dd>
    <% end %>

    <dt>Consent signed?</dt>
    <dd>
      <% if profile.consent_signed? %>
        <%= web_icon("check-circle icon-green", text: "Signed! Yay!") %>
      <% else %>
        <%= web_icon(
          "exclamation-circle icon-red",
          text: "Not signed... boo..."
        ) %>
      <% end %>
    </dd>

    <dt>Location entered?</dt>
    <dd>
    <% if profile.valid_coordinates? %>
        <%= web_icon("check-circle icon-green", text: "Yes!") %>
      <% else %>
        <%= web_icon(
          "exclamation-circle icon-red",
          text: "No"
        ) %>
      <% end %>
    </dd>

    <dt>Survey completed?</dt>
    <dd>
      <% if profile.survey_completed? %>
        <%= web_icon("check-circle icon-green", text: "Yes!") %>
      <% else %>
        <%= web_icon(
          "exclamation-circle icon-red",
          text: "No"
        ) %>
      <% end %>
    </dd>

    <dt>Training completed?</dt>
    <dd>
      <% if profile.training_completed? %>
        <%= web_icon("check-circle icon-green", text: "Yes!") %>
      <% else %>
        <%= web_icon(
          "exclamation-circle icon-red",
          text: "No"
        ) %>
      <% end %>
    </dd>
  </dl>
</div>

<% if current_account.is_admin? %>
  <h4 class="reset">Judge suspension</h4>

  <div class="panel">
    <p class="hint">
      Suspending a judge does not mean that their scores will be deleted, but
      they will not be able to create new ones. Please note any changes you make
      here in the appropriate tracking sheet.
    </p>

    <% if profile.suspended? %>
      <%= link_to(
        "Enable this judge",
        admin_judge_unsuspend_path(profile),
        class: "button danger",
        data: {
          method: :patch,
          confirm: "You are about to ENABLE this suspended judge"
        }
      ) %>
    <% else %>
      <%= link_to(
        "Suspend this judge",
        admin_judge_suspend_path(profile),
        class: "button danger",
        data: {
          method: :patch,
          confirm: "You are about to SUSPEND this judge"
        }
      ) %>
    <% end %>
  </div>
<% end %>

<% unless profile.mentor_profile.present? %>
  <h4 class="reset">Environment information</h4>

  <div class="panel">
    <dl>
      <dt>Browser / Operating System Info</dt>
      <dd>
        <%= [profile.browser_name,
            profile.browser_version,
            profile.os_name,
            profile.os_version].compact.join(' - ') %>
      </dd>
    </dl>
  </div>
<% end %>
