<% if scores.any? %>
  <table class="width--100-percent">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Submission Name</th>
        <th>Score</th>
        <th>Completed?</th>
        <th>Deleted?</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <% scores.each do |score| %>
        <tr class="<%= score.deleted? ? "background-color--subtle-red" : "" %>">
          <td><%= score.team_name %></td>
          <td>
            <%= link_to score.team_submission_app_name,
                        admin_team_submission_path(score.team_submission_id),
                        class: "cta-link" %>
          </td>
          <td><%= score.total %> / <%= score.total_possible %></td>
          <td class="completed-info">
            <%= score.complete? ? "yes" : "no"%>
          </td>
          <td class="deleted-info">
            <%=
              if score.deleted?
                if score.dropped?
                  "dropped"
                else
                  "deleted"
                end
              end
            %>
          </td>
          <td>
            <%= link_to 'View',
                        admin_score_path(score),
                        class: "cta-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No scores
  </p>
<% end %>
