<div class="debug mentor-debug">
  <dl>
    <dt>Has judge profile?</dt>
    <dd><%= profile.account.judge_profile.present? ? "yes" : "no" %></dd>

    <dt>Consent waiver</dt>
    <dd><%= profile.consent_signed? ? 'signed' : 'not signed' %></dd>

    <dt>Background check</dt>
    <dd>
      <% if profile.background_check %>
        <%= profile.background_check.status %>
      <% elsif profile.country != "US" %>
        International mentor! No BG Check needed
      <% else %>
        Not submitted
      <% end %>
    </dd>

    <dt>Browser / OS Info</dt>
    <dd>
      <%= [profile.browser_name,
          profile.browser_version,
          profile.os_name,
          profile.os_version].compact.join(' - ') %>
    </dd>

    <dt>Searchable to students?</dt>

    <dd>
      <% if profile.searchable? %>
        <%= profile.accepting_team_invites? ? 'yes' : 'no' %>

        <span class="hint">
          To change this, mentors should toggle 
          <strong>
            Allow teams to find you in search results and invite you to join
          </strong>
          on their profile page
        </span>
      <% else %>
        no

        <span class="hint">
          Mentors can change this setting themselves when they finish onboarding
        </span>
      <% end %>
    </dd>

    <dt>Searchable to other mentors?</dt>

    <dd>
      <% if profile.searchable? %>
        <%= profile.connect_with_mentors? ? 'yes' : 'no' %>

        <span class="hint">
          To change this, mentor should toggle
          <strong>
            Allow other mentors to find you in search
            results and connect via email
          </strong>
          on their profile page
        </span>
      <% else %>
        no

        <span class="hint">
          Mentors can change this setting themselves when they finish onboarding
        </span>
      <% end %>
    </dd>

    <dt>Virtual mentoring enabled?</dt>

    <dd>
      <%= profile.virtual? ? 'yes' : 'no' %>

      <span class="hint">
        To change this, mentors should toggle
        <strong>
          Indicate to teams that you can be an online, remote mentor
        </strong>
        on their profile page
      </span>
    </dd>
  </dl>

  <%= form_tag(admin_team_memberships_path) do %>
    <%= hidden_field_tag :account_id, profile.account_id %>

    <h6>Add <%= profile.full_name %> to a team</h6>

    <p>
      <%= select_tag "team_id",
          options_from_collection_for_select(Team.current, "id", "name"),
          prompt: "Select a team",
          required: true,
          class: "chosen" %>
    </p>

    <p>
      <%= submit_tag 'Add', class: "button" %>
    </p>
  <% end %>
</div>
