<div class="panel">
  <p class="hint">
    This person has a mentor profile.
    Here are some common issues to check with mentors:
  </p>

  <h4 class="reset">Required onboarding steps:</h4>

  <p class="hint">
    Mentors must do these things to be searchable and join teams
  </p>

  <dl>
    <dt>Mentor training</dt>
    <dd class="mentor-training">
      <% if profile.training_complete? %>
        <%= web_icon("check-circle icon-green", text: "Complete") %>
      <% elsif profile.training_required? %>
        <%= web_icon("exclamation-circle icon-red", text: "Incomplete") %>
      <% else %>
        <%= web_icon("exclamation-circle", text: "Not required") %>
      <% end %>
    </dd>

    <dt>Consent waiver</dt>
    <dd>
      <% if profile.consent_signed? %>
        <%= web_icon("check-circle icon-green", text: "Signed! Yay!") %>
      <% else %>
        <%= web_icon("exclamation-circle icon-red",
                     text: "Not signed... boo...") %>
      <% end %>
    </dd>

    <dt>Background check</dt>
    <dd>
      <% if profile.background_check %>
        <% if profile.background_check.clear? %>
          <%= web_icon(
            "check-circle icon-green",
            text: profile.background_check.status
          ) %>
        <% else %>
          <%= web_icon(
            "check-circle",
            text: profile.background_check.status
          ) %>
        <% end %>
      <% elsif profile.country != "US" %>
        <%= web_icon(
          "check-circle icon-green",
          text: "International mentor! No BG Check needed"
        ) %>
      <% else %>
        <%= web_icon("exclamation-circle icon-red", text: "Not submitted") %>
      <% end %>
    </dd>

    <dt>Location</dt>
    <dd>
      <% if profile.address_details.empty? %>
        <%= web_icon("exclamation-circle icon-red", text: "Must be filled in") %>
      <% else %>
        <%= web_icon("check-circle icon-green", text: "Has been filled in") %>
      <% end %>
    </dd>

    <dt>Bio</dt>
    <dd>
      <% if profile.bio.to_s.empty? %>
        <%= web_icon("exclamation-circle icon-red", text: "Must be filled in") %>
      <% else %>
        <%= web_icon("check-circle icon-green", text: "Has been filled in") %>
      <% end %>
    </dd>
  </dl>

  <% if ENV.fetch("CONVERT_MENTORS") { false } and profile.current_teams.none? %>
    <hr />

    <p>
      <%= profile.name %> is not on any teams. If you'd like to
      invite them as a judge at your live event, you may delete
      their mentor profile by converting their account.
    </p>

    <p>
      <%= link_to "Convert to a judge-only account",
        [
          current_scope,
          :mentor_to_judge_conversions,
          { account_id: profile.account_id },
        ],
        class: 'button',
        data: {
          method: :post,
          confirm: "Convert #{profile.name} to a judge?" +
                   "<p>This will delete their mentor profile</p>",
        } %>
    </p>
  <% end %>
</div>

<h4 class="reset">Environment information</h4>

<div class="panel">
  <dl>
    <dt>Browser / Operating System Info</dt>
    <dd>
      <%= [profile.browser_name,
          profile.browser_version,
          profile.os_name,
          profile.os_version].compact.join(' - ') %>
    </dd>
  </dl>
</div>

<h4 class="reset">Settings mentors can change on their profile page</h4>
<p class="hint reset">
  (once they have finished onboarding, they can change these settings)
</p>

<div class="panel">
  <dl>
    <dt>Searchable to students?</dt>

    <dd>
      <% if profile.searchable? %>
        <%= profile.accepting_team_invites? ? 'yes' : 'no' %>

        <p class="hint">
          To change this, mentors should toggle
          <strong>
            Allow teams to find you in search results and invite you to join
          </strong>
          on their profile page
        </p>
      <% else %>
        no

        <p class="hint">
          Mentors can change this setting themselves when they finish onboarding
        </p>
      <% end %>
    </dd>

    <dt>Searchable to other mentors?</dt>

    <dd>
      <% if profile.searchable? %>
        <%= profile.connect_with_mentors? ? 'yes' : 'no' %>

        <p class="hint">
          To change this, mentor should toggle
          <strong>
            Allow other mentors to find you in search
            results and connect via email
          </strong>
          on their profile page
        </p>
      <% else %>
        no

        <p class="hint">
          Mentors can change this setting themselves when they
          finish onboarding
        </p>
      <% end %>
    </dd>

    <dt>Virtual mentoring enabled?</dt>

    <dd>
      <%= profile.virtual? ? 'yes' : 'no' %>

      <p class="hint">
        To change this, mentors should toggle
        <strong>
          Indicate to teams that you can be an online, remote mentor
        </strong>
        on their profile page
      </p>
    </dd>
  </dl>
</div>

<h4 class="reset">Help them with their team matching</h4>

<div class="panel">
  <%= form_tag(send("#{current_scope}_team_memberships_path")) do %>
    <%= hidden_field_tag :account_id, profile.account_id %>

    <h6>Add <%= profile.full_name %> to a team</h6>

    <p>
      <%= select_tag "team_id",
          options_from_collection_for_select(@teams, "id", "name"),
          prompt: "Select a team",
          required: true,
          class: "chosen" %>
    </p>

    <p>
      <%= submit_tag 'Add', class: "button" %>
    </p>
  <% end %>
</div>