<div class="panel">
  <h4 class="reset">Required onboarding steps:</h4>

  <p class="hint">
    Students must do these things to be eligible to compete
  </p>

  <dl>
    <dt>Parental consent</dt>
    <dd>
      <% if profile.consent_signed? %>
        <%= web_icon("check-circle icon-green", text: "Signed! Yay!") %>
      <% else %>
        <%= web_icon("exclamation-circle icon-red",
                     text: "Not signed... boo...") %>
      <% end %>
    </dd>

    <dt>Parent information</dt>
    <dd>
      <% if profile.parent_guardian_email.blank? %>
        <%= web_icon(
          "exclamation-circle icon-red",
          text: "Not filled in... boo..."
        ) %>
      <% else %>
        <%= web_icon(
          "check-circle icon-green",
          text: "Filled in! Yay!"
        ) %>
      <% end %>
    </dd>

    <dt>Location</dt>
    <dd>
      <% if profile.address_details.empty? %>
        <%= web_icon("exclamation-circle icon-red", text: "Must be filled in") %>
      <% else %>
        <%= web_icon("check-circle icon-green", text: "Has been filled in") %>
      <% end %>
    </dd>
  </dl>
</div>

<h4 class="reset">Environment information</h4>

<div class="panel">
  <dl>
    <dt>Browser / Operating System Info</dt>
    <dd>
      <%= [profile.browser_name,
          profile.browser_version,
          profile.os_name,
          profile.os_version].compact.join(' - ') %>
    </dd>
  </dl>
</div>

<% if not profile.team.present? %>
  <h4 class="reset">Help them with their team matching</h4>

  <div class="panel">
    <%= form_tag(send("#{current_scope}_team_memberships_path")) do %>
      <%= hidden_field_tag :account_id, profile.account_id %>

      <h6>Add <%= profile.full_name %> to a team</h6>

      <p>
        <%= select_tag "team_id",
            options_from_collection_for_select(@teams, "id", "name"),
            prompt: "Select a team",
            required: true,
            class: "chosen" %>
      </p>

      <p>
        <%= submit_tag 'Add', class: "button" %>
      </p>
    <% end %>
  </div>
<% end %>

<% if (current_account.is_admin? && profile.age >= 14) ||
        (current_account.is_chapter_ambassador? && profile.age >= 18) %>
  <div class="panel">
    <%= link_to "Convert to a mentor",
      [
        current_scope,
       :student_conversions,
        student_profile_id: profile.id,
      ],
      data: {
        method: :post,
        confirm: "You're about to convert #{profile.name} to a mentor",
      },
      class: "button" %>
  </div>
<% end %>
