<%= javascript_tag do %>
  function onFileUploadFinished(data) {
    const mainProfileImg = document.getElementById("main-profile-image");
    mainProfileImg.src = filestack_client.transform(data.handle);
  }
<% end %>
<div class="panel">
  <%= form_with model: @account,
    url: admin_participant_path(@account),
    local: true do |f| %>

    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :date_of_birth %>
      <%= f.date_select :date_of_birth,
        {
          prompt: true,
          start_year: Season.current.year,
          end_year: Season.current.year - 100,
        },
        class: "chosen dob_field" %>
    </p>

    <p>
      <%= f.label :gender,
        "#{t('models.account.gender')} #{t('views.application.optional')}" %>

      <%= f.select :gender,
        collection: Account.genders.keys %>
    </p>

    <p>
      <%= f.label :profle_image %>

      <%= image_tag @account.profile_image_url,
                    id: "main-profile-image",
                    class: "filestack-profile-img og-style-filestack-img" %>
      <br>

      <%= f.filestack_field :profile_image,
                              "Change Image",
                              id: "profile-image-filepicker",
                              pickerOptions: {
                                uploadConfig: {
                                  intelligent: true,
                                },
                                fromSources: ["local_file_system","webcam", "url"],
                                onFileUploadFinished: 'onFileUploadFinished',
                                storeTo: {
                                  location: "s3",
                                  container: ENV.fetch("AWS_BUCKET_NAME"),
                                  path: "uploads/account/profile_image/#{@account.id}/",
                                  region: "us-east-1"
                                }
                              } %>
    </p>

    <% if f.object.mentor_profile.present? %>
      <%= f.fields_for :mentor_profile do |m| %>
        <p>
          <%= m.label :mentor_type %>

          <%= m.select :mentor_type,
            MentorProfile.mentor_types.keys,
            prompt: "Choose one..." %>
        </p>
      <% end %>
    <% end %>


    <p>
      <%= f.submit "Save changes", class: "button" %>
    </p>
  <% end %>
</div>
