<div class="panel">
  <%= form_with model: @account,
    url: admin_participant_path(@account),
    local: true do |f| %>

    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :date_of_birth %>
      <%= f.date_select :date_of_birth,
        {
          prompt: true,
          start_year: Season.current.year,
          end_year: Season.current.year - 100,
        },
        class: "chosen dob_field" %>
    </p>

    <p>
      <%= f.label :gender,
        "#{t('models.account.gender')} #{t('views.application.optional')}" %>

      <%= f.select :gender,
        collection: Account.genders.keys %>
    </p>

    <% if f.object.mentor_profile.present? %>
      <%= f.fields_for :mentor_profile do |m| %>
        <p>
          <%= m.label :mentor_type %>

          <% if f.object.mentor_profile.errors[:mentor_type].present? %>
            <div class="field_with_errors">
              <span class="error"><%= f.object.mentor_profile.errors[:mentor_type].to_sentence %></span>
            </div>
          <% end %>

          <%= m.select :mentor_type,
            MentorProfile.mentor_types.keys,
            prompt: "Choose one...",
            selected: f.object.mentor_profile.mentor_type %>
        </p>
      <% end %>
    <% end %>


    <p>
      <%= f.submit "Save changes", class: "button" %>
    </p>
  <% end %>
</div>
