<% provide :title, "Viewing #{@account.scope_name.titleize}" %>

<div class="grid">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <div class="panel">
      <div class="grid">
        <div class="grid__col-4">
          <% if params[:review_before] || params[:back] %>
            <div class="grid__cell">
              <%= link_to params[:back] ||= :back, class: "button secondary" do %>
                <span class="back-btn"></span>
                <%= params[:back_title] ||= "Search results" %>
              <% end %>
            </div>
          <% end %>

          <%= image_tag @account.profile_image_url,
            class: "thumbnail-lg grid__cell-img" %>

          <h3 class="reset" style="margin-top: 1rem;"><%= @account.full_name %></h3>
          <h5 class="reset"><%= @account.scope_name.titleize %> Profile</h5>

          <p>
            <%= link_to "Login as #{@account.full_name}",
              admin_participant_session_path(@account),
              class: "button secondary small" %>
          </p>
        </div>

        <div class="grid__col-4">
          <dl class="profile-info">
            <dt><%= t('models.account.full_name') %></dt>
            <dd><%= @account.full_name %></dd>

            <dt><%= t('models.account.email') %></dt>
            <dd><%= mail_to @account.email %></dd>

            <dt><%= t('models.account.age') %></dt>
            <dd><%= @account.age %></dd>

            <% unless @account.student_profile.present? %>
              <dt><%= t('models.account.gender') %></dt>
              <dd><%= @account.gender %></dd>
            <% end %>

            <dt><%= t('models.account.address') %></dt>
            <dd>
              <%= @account.address_details %>

              <p>
                <%= link_to "Edit location",
                  edit_admin_profile_location_path(@account),
                  class: "button secondary small" %>
              </p>
            </dd>
          </dl>
        </div>

        <div class="grid__col-4">
          <%= render(
            "admin/participants/#{@account.scope_name.sub(/^\w+_r/, "r")}_profile",
            profile: @account.public_send("#{@account.scope_name}_profile")
          ) %>

          <%= link_to 'Edit participant',
            edit_admin_participant_path(@account),
            class: "button secondary small" %>
        </div>

        <% if @account.regional_ambassador_profile || @account.mentor_profile %>
          <div class="grid__col-12 grid__col--bleed-y">
            <dl>
              <dt><%= t('models.profile.bio') %></dt>

              <dd>
                <%= simple_format (
                  @account.regional_ambassador_profile || @account.mentor_profile
                ).bio %>
              </dd>
            </dl>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <h3 class="reset">Profile debugging</h3>

    <% if @account.student_profile %>
      <%= render 'admin/participants/student_debugging',
        profile: @account.student_profile %>
    <% end %>

    <% if @account.regional_ambassador_profile %>
      <%= render 'admin/participants/ra_debugging',
        profile: @account.regional_ambassador_profile %>
    <% end %>

    <% if @account.mentor_profile %>
      <%= render 'admin/participants/mentor_debugging',
        profile: @account.mentor_profile %>
    <% end %>

    <% if @account.judge_profile %>
      <%= render 'admin/participants/judge_debugging',
        profile: @account.judge_profile %>
    <% end %>

    <% if @account.mentor_profile || @account.student_profile %>
      <div class="panel">
        <h6>
          <%= t("views.student.mentors.show.teams",
                name: @account.first_name) %>
        </h6>

        <% if @account.current_teams.any? %>
          <ul class="reset">
            <%= render partial: 'student/mentors/team_preview',
              collection: @account.current_teams,
              locals: {
                admin: true,
                profile: @account.mentor_profile || @account.student_profile
              } %>
          </ul>
        <% else %>
          <p>
            <%= t("views.student.mentors.show.no_teams",
                  name: @account.first_name) %>
          </p>
        <% end %>
      </div>
    <% end %>

    <% if parental_consent_pending? %>
      <div class="panel">
        <h5>
          Indicate that a paper parental consent is on file
        </h5>

        <%= link_to "Create paper consent",
          admin_paper_parental_consent_path(
            id: @account.student_profile.id
          ),
          class: "button button--secondary",
          data: {
            method: :post,
            confirm: "You are marking #{@account.full_name} " +
                     "as having a paper parental consent on file.",
          } %>
      </div>
    <% end %>

    <div class="panel">
      <%= link_to(
        "Delete #{@account.name} from Technovation",
        admin_participant_path(@account),
        class: "button danger",
        data: {
          method: :delete,
          confirm: "ALERT! You are about to DELETE #{@account.name}!",
        }
      ) %>
    </div>
  </div>
</div>
