<div class="flex-col-md-4 dashboard-sidebar border-left">
  <% if ENV["ENABLE_SUBMISSION_SCORES"] %>
    <h3>Score Submissions</h3>

    <% if current_judge.submission_scores.incomplete.any? %>
      <p>
        <%= link_to "Resume scoring",
          edit_judge_submission_score_path(current_judge.submission_scores.incomplete.last.id) %>
        <%= current_judge.submission_scores.incomplete.last.name %>
      </p>
    <% elsif quarterfinals? and current_judge.selected_regional_pitch_event.live? %>
      <p>
        Choose a submission from among the
        <%= current_judge.selected_regional_pitch_event.division_names %>
        teams to get started.
      </p>
    <% elsif current_judge.submission_scores.incomplete.empty? %>
      <p>
        <%= link_to 'Start a new score', new_judge_submission_score_path %>
      </p>
    <% end %>
  <% end %>

  <h3>Judge Training</h3>

  <p>
    Confused? Not sure where to start?
    <br>
    <%= link_to "Complete the Judge Training",
      'http://technovationchallenge.org/judge-training/',
      target: "_blank" %>
  </p>

  <h3>Judging Rubric</h3>

  <p>
    Check out the
    <%= Season.current.year %>
    judging rubric.
    <br>
    <%= link_to "Read the Judging Rubric",
    "http://www.technovationchallenge.org/judging-rubric/",
    target: "_blank" %>
  </p>

  <% if current_judge.mentor_profile or current_judge.created_at <= Date.new(2017, 3, 8) %>
    <h3>Mentor Dashboard</h3>

    <p>
      <%= link_to "Go to the Mentor Dashboard", mentor_dashboard_path %>
    </p>
  <% end %>
</div>
