<div class="flags">
  <span class="flag flag-registration">
    Registration
  </span>
</div>

<h1 class="heading--reset">Judge profile required steps</h1>

<ul class="list--reset list-items--margin-sm">
  <% if current_judge.valid_coordinates? %>
    <li>
      <%= web_icon(
        "check-circle",
        class: "icon--green",
        text: "Your location is updated!",
      ) %>
    </li>
  <% else %>
    <li>
      <p>
        <%= link_to "Set your location",
          [
            current_scope,
            :location_details,
            { return_to: request.fullpath },
          ] %>
      </p>
    </li>
  <% end %>

  <% if current_judge.consent_signed? %>
    <li>
      <%= web_icon(
        "check-circle",
        class: "icon--green",
        text: "Consent has been signed!",
      ) %>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign the consent form",
        new_judge_consent_waiver_path(
          token: current_judge.account.consent_token
        ) %>
    </li>
  <% end %>

  <% if current_judge.survey_completed? %>
    <li>
      <%= web_icon(
        "check-circle",
        class: "icon--green",
        text: "Survey questions answered!",
      ) %>
    </li>
  <% else %>
    <li>
      <%= link_to "Answer a couple of short survey questions",
        new_judge_survey_answers_path %>
    </li>
  <% end %>

  <% if current_judge.training_completed? %>
    <li>
      <%= web_icon(
        "check-circle",
        class: "icon--green",
        text: "Training complete!",
      ) %>
    </li>
  <% elsif ENV.fetch("JUDGE_TRAINING_READY") { false } %>
    <li>
      <%= link_to "Complete the training",
        ENV.fetch("JUDGE_TRAINING_URL") %>
    </li>
  <% else %>
    <li>
      <h6 class="heading--reset">
        Judge training will be ready in mid-March.
      </h6>

      <p>
        Technovation will announce the opening of our judge training.
        You will have access through a link published here.
      </p>

      <p>
        All judges are required to complete the training
        <strong>before <%= ImportantDates.quarterfinals_judging_begins.strftime("%B %-d") %></strong>.
      </p>
    </li>
  <% end %>
</ul>
