<div class="to-do">
  <h2 class="to-do__heading appy-heading-lg">
    <%= t("views.application.to_do") %>
  </h2>

  <ul class="to-do__list">
    <%= render 'completion_steps/consent_waiver', account: current_judge %>
    <%= render 'completion_steps/location_details', account: current_judge %>
  </ul>

  <div class="card">
    <div class="card__heading">
      Judge Training
      <%= fa_icon("calendar-check-o", class: "card-heading__flair") %>
    </div>
    <div class="card__body">
      <p>
        Confused? Not sure where to start? Check out our judge training.
      </p>

      <%= link_to 'Complete the Judge Training',
        'http://technovationchallenge.org/judge-training/',
        target: :_blank %>
    </div>
  </div>
</div>
