<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col-xs-12 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        Judge Dashboard

        <small>
          <%= link_to "Switch to Mentor mode", mentor_dashboard_path %>
        </small>
      </h1>
    </div>
  </div>

  <div
    class="
      grid__col-sm-6
      grid__col-xs-12
      grid__col--bleed-y
      grid--align-end
    "
  >
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= SeasonToggles.dashboard_text(:judge) %>
      </h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__col-md-3">
    <div class="grid__cell">
      <div class="panel">
        <%= image_tag current_judge.profile_image_url,
          class: "grid__cell-img" %>

        <h3 class="reset"><%= current_judge.full_name %></h3>

        <%= link_to "View your profile", judge_profile_path %>
      </div>
    </div>
  </div>

  <div class="grid__col-md-6">
    <div class="grid__cell">

      <% if !!ENV.fetch("JUDGE_ONBOARDING_ENABLED") { false } %>
        <ul class="steps">
          <%= render 'completion_steps/confirm_changed_email',
            profile: current_judge %>
        </ul>
      <% end %>

      <div class="panel panel--left">
        <% if !!ENV.fetch("JUDGE_ONBOARDING_ENABLED") { false } %>
          <% if current_judge.onboarding? %>
            <%= render "judge/dashboards/onboarding" %>
          <% else %>
            <%= render "judge/dashboards/onboarded" %>
          <% end %>
        <% else %>
          <h1>The judging section is not currently available.</h1>

          <p>
            Technovation is changing how we are doing judging this year.
          </p>

          <p>
            We will email you when updates are ready,
            and you can apply to be a judge.
          </p>

          <p>
            Stay tuned for more details.
          </p>

          <p>
            In the meantime, if you're interested, you can
            <%= link_to "become a mentor instead",
              mentor_dashboard_path %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div
    class="
      grid__col-md-3
      grid__col--bleed
      dashboard-sidebar
      col--sticky-parent
    "
  >
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="grid__cell--padding-md-y">
          <%= render "judge/dashboards/info_sidebar" %>
        </div>
      </div>
    </div>
  </div>
</div>
