<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col-xs-12 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        Judge Dashboard

        <small>
          <%= link_to "Switch to Mentor mode", mentor_dashboard_path %>
        </small>

        <% if current_judge.is_an_ambassador? %>
          <small>
            <%= link_to "Switch to RA mode",
              regional_ambassador_dashboard_path,
              data: { turbolinks: false } %>
          </small>
        <% end %>
      </h1>
    </div>
  </div>

  <div class="grid__col-sm-6 grid__col-xs-12 grid__col--bleed-y grid--align-end vue-top-section-header">
    <top-section-header>
      <% if !SeasonToggles.dashboard_text(:judge).blank? %>
        <template slot="title">
          <%= SeasonToggles.dashboard_text(:judge) %>
        </template>
      <% end %>
      <template slot="content">
        <h6>
          Get support
          <small>
            <%= link_to "Join our chat community for judges",
              ENV.fetch("JUDGE_SLACK_SIGNUP_URL"),
              target: "_blank" %>
          </small>
        </h6>
        <h6>
          Judge training
          <small>
            <%= link_to "Review your judge training",
              ENV.fetch("JUDGE_TRAINING_URL"),
              target: "_blank" %>
          </small>
        </h6>
      </template>
    </top-section-header>
  </div>
</div>

<div class="grid">
  <div class="grid__col-md-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="panel">
          <%= image_tag current_judge.profile_image_url,
            class: "grid__cell-img" %>

          <h3 class="reset"><%= current_judge.full_name %></h3>

          <%= link_to "View your profile", judge_profile_path %>
        </div>

        <% if current_judge.onboarded? %>
          <div class="panel panel--left">
            <%= render "judge/dashboards/info_sidebar" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="grid__col-md-9">
    <div class="grid__cell">
      <ul class="steps">
        <%= render 'completion_steps/confirm_changed_email',
          profile: current_judge %>
      </ul>

      <%= render 'judge/dashboards/onboarded/events' %>

      <% if current_judge.onboarding? %>
        <div class="panel panel--left">
          <%= render "judge/dashboards/onboarding" %>
          <%= render "judge/dashboards/info_sidebar" %>
        </div>
      <% else %>
        <%= render 'judge/dashboards/onboarded/scores' %>
        <%= render 'judge/dashboards/onboarded/certificates' %>
      <% end %>
    </div>
  </div>
</div>
