<div class="grid dashboard-notices">
  <div class="grid__col-sm-6 grid__col-xs-12 grid__col--bleed-y">
    <div class="grid__cell">
      <h1 class="page-heading">
        Judge Dashboard

        <small>
          <%= link_to "Switch to Mentor mode", mentor_dashboard_path %>
        </small>

        <% if current_judge.is_an_ambassador? %>
          <small>
            <%= link_to "Switch to RA mode",
              regional_ambassador_dashboard_path,
              data: { turbolinks: false } %>
          </small>
        <% end %>
      </h1>
    </div>
  </div>

  <div
    class="
      grid__col-sm-6
      grid__col-xs-12
      grid__col--bleed-y
      grid--align-end
    "
  >
    <div class="grid__cell">
      <h1 class="page-heading">
        <%= SeasonToggles.dashboard_text(:judge) %>
      </h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__col-md-3 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="panel">
          <%= image_tag current_judge.profile_image_url,
            class: "grid__cell-img" %>

          <h3 class="reset"><%= current_judge.full_name %></h3>

          <%= link_to "View your profile", judge_profile_path %>
        </div>

        <% if current_judge.onboarded? %>
          <div class="panel panel--left">
            <%= render "judge/dashboards/info_sidebar" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="grid__col-md-9">
    <div class="grid__cell">
      <ul class="steps">
        <%= render 'completion_steps/confirm_changed_email',
          profile: current_judge %>
      </ul>

      <%= render 'judge/dashboards/onboarded/scores' %>

      <ul class="steps">
        <%= render 'judge/dashboards/onboarded/events' %>
      </ul>

      <% if current_judge.onboarding? %>
        <div class="panel panel--left">
          <%= render "judge/dashboards/onboarding" %>
          <%= render "judge/dashboards/info_sidebar" %>
        </div>
      <% end %>
    </div>

    <div class="grid panel">
      <div class="grid__col-6">
        <h2>Thank you!</h2>

        <p>Thank you for being a judge this season!</p>

        <p>
          We appreciate your thoughtful feedback and the time you spent
          supporting teams around the world.
        </p>

        <%= link_to 'View your certificate',
          judge_scores_path,
          class: "button button--margin-top-lg" %>
      </div>

      <div class="grid__col-6">
        <%= image_tag "tc-judge-icon.svg", class: 'grid__cell-img' %>

        <h1>TC Judge</h1>
      </div>
    </div>
  </div>
</div>
