<h1 class="appy-title">
  <%= t("views.application.dashboard") %>
</h1>

<h2 class="appy-subtitle">
  Judging will open on Monday, May 1, 2017
</h2>


<div class="dashboard flex-row">
  <div class="flex-col-sm-8 dashboard__main">
    <% unless current_judge.full_access_enabled? %>
      <div class="to-do">
        <h2 class="to-do__heading appy-heading-lg">
          <%= t("views.application.to_do") %>
        </h2>

        <ul class="to-do__list">
          <%= render 'completion_steps/consent_waiver', account: current_judge %>
          <%= render 'completion_steps/location_details', account: current_judge %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="flex-col-sm-4 dashboard__sidebar">
    <% if current_judge.mentor_profile || current_judge.created_at < Date.new(2017, 3, 8) %>
      <div class="card">
        <div class="card__heading">
          <%= t("views.application.mentor_mode") %>
          <%= fa_icon("refresh", class: "card-heading__flair") %>
        </div>

        <div class="card__body">
          <p><%= t("views.judge.dashboards.show.switch_to_mentor_mode") %></p>
          <p>
            <%= link_to t("views.application.switch_now"), mentor_dashboard_path %>
            <br />
            <small><em>(you can switch back and forth repeatedly)</em></small>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
