<div class="judge-dashboard">
  <div class="flex-row">
    <div class="flex-col-md-6">
      <h1 class="appy-title">
        <%= t("views.application.judge_dashboard") %>

        <% if current_judge.mentor_profile or
            current_judge.created_at < Date.new(2017, 3, 8) %>
          <small>
            <%= link_to fa_icon('refresh', text: "Switch to Mentoring"),
              mentor_dashboard_path %>
          </small>
        <% end %>
      </h1>
    </div>

    <div class="flex-col-md-6 align-right">
      <h1 class="appy-title">
        Judging is open until May 15!

        <small>
          <%= link_to fa_icon('gavel', text: 'Complete Judge Training'),
            'http://technovationchallenge.org/judge-training/',
            target: :_blank %>
        </small>
      </h1>
    </div>
  </div>

  <% if current_judge.full_access_enabled? %>
    <%= render 'judge/dashboards/full_access' %>
  <% else %>
    <%= render 'judge/dashboards/to_do' %>
  <% end %>
</div>
