<div class="pagination_info">
  <%= page_entries_info @signup_attempts,
    model: params[:status] == "All" ? "SignupAttempt" : "#{params[:type]} Signup Attempts" %>
</div>

<%= will_paginate @signup_attempts %>

<label class="no-text-transform per_page">
  Per page:

  <%= select_tag :per_page,
    options_for_select([15, 25, 50, 100], params[:per_page]),
    data: {
      reload: true,
      param: :per_page,
    } %>
</label>

<div class="clearfix admin-search__export-options">
  <hr />

  <%= form_tag admin_signup_invitations_path do %>
    <%= button_tag "Invite:", class: "appy-button" %>
    <%= email_field_tag :email, "", placeholder: "Email address", class: "export-to-email" %>
  <% end %>
</div>
