<h1 class="appy-title">Signup Attempts</h1>

<div class="wrapper__report_table">
  <label class="no-text-transform">
    Per page:
    <%= select_tag :per_page,
                   options_for_select([10, 25, 50, 100], params[:per_page]),
                   class: "inline",
                   data: { reload: true, param: :per_page } %>
  </label>

  <label class="no-text-transform">
    Status:
    <%= select_tag :status,
                   options_for_select(SignupAttempt.statuses.keys, params[:status]),
                   class: "inline",
                   data: { reload: true, param: :status } %>
  </label>


  <div class="pagination_info">
    <%= page_entries_info @signup_attempts, model: "#{params[:status]} signup attempt" %>
  </div>

  <%= will_paginate @signup_attempts %>

  <table class="table__report_table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @signup_attempts.each do |attempt| %>
        <% cache(attempt) do %>
          <tr>
            <td><%= attempt.email %></td>
            <td><%= attempt.status %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @signup_attempts %>
</div>
