<h1 class="appy-title">Signup Attempts</h1>

<div class="wrapper__report_table">
  <label class="no-text-transform">
    Per page:
    <%= select_tag :per_page,
                   options_for_select([15, 25, 50, 100], params[:per_page]),
                   class: "inline",
                   data: { reload: true, param: :per_page } %>
  </label>

  <label class="no-text-transform">
    Status:
    <%= select_tag :status,
                   options_for_select(SignupAttempt.statuses.keys, params[:status]),
                   class: "inline",
                   data: { reload: true, param: :status } %>
  </label>


  <div class="pagination_info">
    <%= page_entries_info @signup_attempts, model: "#{params[:status]} signup attempt" %>
    (<%= number_to_percentage @signup_attempts.count / SignupAttempt.count.to_f * 100, precision: 0 %>)
  </div>

  <%= will_paginate @signup_attempts %>

  <table class="table__report_table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Status</th>
      </tr>
      <tr>
        <td colspan="2">
          <%= link_to "Export these results", admin_exports_path(params.merge(class: "signup_attempt")), data: { method: :post } %>
        </td>
      </tr>
    </thead>

    <tbody>
      <% @signup_attempts.each do |attempt| %>
        <tr>
          <td><%= attempt.email %></td>
          <td><%= attempt.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @signup_attempts %>
</div>
