<div class="flex-row">
  <div class="flex-col-md-4">
    <div class="admin-search__filter-options">
      <%= render 'admin/signup_attempts/filter_options' %>
    </div>
  </div>

  <div class="flex-col-md-8 wrapper__report-column">
    <div class="admin-results-table">
      <div class="admin-results-header-table">
        <div class="header">Actions</div>
        <div class="header">Status</div>
        <div class="header">Email</div>
        <div class="header">Account</div>
      </div>

      <div class="admin-results-data-table">
        <% @signup_attempts.order('signup_attempts.created_at DESC').each do |attempt| %>
          <div class="row">
            <div class="cell">
              <% if %w{pending active}.include?(attempt.status) and attempt.admin_permission_token.blank? %>
                <%= link_to "Invite to sign up",
                  admin_signup_invitations_path(email: attempt.email),
                  data: { method: :post } %>
              <% elsif %w{pending active}.include?(attempt.status) %>
                <%= text_field_tag "special_link_#{attempt.id}",
                  signup_url(admin_permission_token: attempt.admin_permission_token),
                  readonly: true %>

                <button
                 class="clipboard-btn appy-button appy-button--sm"
                 data-clipboard-action="copy"
                 data-clipboard-target="#special_link_<%= attempt.id %>">
                  Copy
                </button>
              <% else %>
                  &nbsp;
                <% end %>
            </div>

            <div class="cell">
              <%= attempt.status %>
            </div>

            <div class="cell">
              <%= attempt.email %>
            </div>

            <div class="cell">
              <% if attempt.account %>
                <%= link_to attempt.account.full_name, admin_profile_path(attempt.account) %>
              <% else %>
                &nbsp;
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="wrapper__report-footer">
      <%= render 'admin/signup_attempts/footer' %>
    </div>
  </div>
</div>
