<label>
  Division:
  <%= select_tag :division,
    options_for_select(['all', Division.senior.name, Division.junior.name],
                      params[:division]) %>
</label>

<label>
  SDG:
  <%= select_tag :sdg,
    options_for_select(['all', 'not selected'] + TeamSubmission.stated_goals.keys,
                      params[:sdg]) %>
</label>

<label>
  Has a name:
  <%= select_tag :has_name,
    options_for_select(['all', 'yes', 'no'], params[:has_name]) %>
</label>

<label>
  Technical checklist started:
  <%= select_tag :technical_checklist,
    options_for_select(['all', 'started', 'not started', 'complete'],
                      params[:technical_checklist]) %>
</label>

<div class="clearfix admin-search__export-options">
  <%= form_tag regional_ambassador_exports_path(params.merge(class: "team_submissions")) do %>
    <strong>Export with active filters</strong>
    <%= button_tag "Email CSV Report", class: "appy-button" %>
  <% end %>
</div>
