<h1><%= current_ambassador.region_name %> Team Submissions</h1>

<table class="ra-participants-list">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Division</th>
      <th>City</th>
      <th>State/Province</th>
      <th>App Name</th>
      <th>Description</th>
      <th>SDG</th>
      <th>Demo video</th>
      <th>Pitch video</th>
      <th>Screenshots</th>
      <th>Technical checklist</th>
      <th>Source Code</th>
      <th>Platform</th>
      <th>Business plan</th>
      <th>Pitch presentation</th>
    </tr>
  </thead>

  <tbody>
    <% @team_submissions.order('team_submissions.created_at DESC').each do |submission| %>
      <% submission.app_name = "(no name yet)" if submission.app_name.blank? %>

      <tr>
        <td><%= submission.team_name %></td>
        <td><%= submission.team_division_name %></td>
        <td><%= submission.team_city %></td>
        <td><%= submission.team_state_province %></td>

        <td>
          <%= link_to submission.app_name,
            regional_ambassador_team_submission_path(submission) %>
        </td>

        <td><%= truncate(submission.app_description) %></td>
        <td><%= submission.stated_goal %></td>

        <td>
          <% if submission.demo_video_link %>
            yes
          <% else %>
            no
          <% end %>
        </td>

        <td>
          <% if submission.pitch_video_link %>
            yes
          <% else %>
            no
          <% end %>
        </td>

        <td><%= submission.screenshots.count %></td>
        <td><%= submission.technical_checklist_started? ? 'started' : 'not started!' %></td>
        <td><%= submission.source_code_url_text ? "yes" : "no" %></td>
        <td><%= submission.development_platform_text ? "yes" : "no" %></td>

        <td>
          <% if submission.team_division_name == "senior" %>
            <%= submission.business_plan_url_text ? "yes" : "no" %>
          <% else %>
            Not required
          <% end %>
        </td>

        <td>
          <% if submission.team.selected_regional_pitch_event.live? %>
            <%= submission.pitch_presentation_url_text ? "yes" : "no" %>
          <% else %>
            Not required
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flex-row">
  <div class="admin-search__filter-options flex-col-md-6">
    <%= render 'regional_ambassador/team_submissions/filter_options' %>
  </div>

  <div class="wrapper__report-footer flex-col-md-6">
    <%= render 'regional_ambassador/team_submissions/footer' %>
  </div>
</div>
