<h1>Team Submission Details</h1>

<dl class="flex-row">
  <div class="flex-col-md-6">
    <dt>Team:</dt>
    <dd><%= link_to @team_submission.team_name, [:regional_ambassador, @team_submission.team] %></dd>

    <dt>Division:</dt>
    <dd><%= @team_submission.team_division_name %></dd>
  </div>

  <div class="flex-col-md-6">
    <dt>App name:</dt>
    <dd><%= @team_submission.app_name %></dd>

    <dt>Status:</dt>
    <dd><%= @team_submission.status %></dd>
  </div>
</dl>

<p><%= link_to 'See the public/judge version', app_path(@team_submission), target: :_blank %></p>

<div>
  <strong>Description</strong>
  <%= simple_format @team_submission.app_description %>
</div>

<div>
  <strong>Sustainable Development Goal:</strong>
  <%= @team_submission.stated_goal %>
  <%= simple_format @team_submission.stated_goal_explanation %>
</div>

<p>
  <strong>Demo video:</strong>
  <% if @team_submission.demo_video_link %>
    <%= link_to @team_submission.demo_video_link, @team_submission.demo_video_link, target: :_blank %>
  <% end %>
</p>

<p>
  <strong>Pitch video:</strong>
  <% if @team_submission.pitch_video_link %>
    <%= link_to @team_submission.pitch_video_link, @team_submission.pitch_video_link, target: :_blank %>
  <% end %>
</p>

<p>
  <strong>Screenshots:</strong>
  <%= @team_submission.screenshots.count %>
</p>

<p>
  <strong>Technical checklist started?</strong>
  <%= @team_submission.technical_checklist_started? ? 'yes' : 'no' %>
</p>

<p>
  <strong>Source code</strong>
  <% if @team_submission.source_code_url_text %>
    <%= link_to @team_submission.source_code_url_text, @team_submission.detect_source_code_url %>
  <% end %>
</p>

<p>
  <strong>Development platform</strong>
  <%= @team_submission.development_platform_text %>
</p>

<p>
  <strong>Business plan</strong>
  <% if @team_submission.team_division_name == "junior" %>
    Junior team: no business plan required!
  <% end %>

  <% if @team_submission.business_plan %>
    <%= link_to @team_submission.business_plan_url_text, @team_submission.business_plan_url %>
  <% end %>
</p>

<p>
  <strong>Pitch presentation</strong>
  <% if @team_submission.team.selected_regional_pitch_event.live? %>
    <% if @team_submission.pitch_presentation %>
      <%= link_to @team_submission.pitch_presentation_url_text,
        @team_submission.pitch_presentation_url %>
    <% end %>
  <% else %>
    Not attending a live event: no pitch presentation required
  <% end %>
</p>

<% unless @team_submission.technical_checklist_started? %>
  <p>Technical checklist <strong>not started!</strong>. They must <strong>at least</strong> start it for judging eligibility.</p>
<% end %>

<% if @team_submission.technical_checklist_started? %>
  <p>
    This team has at least started their technical checklist and will so far earn
    <strong><%= @team_submission.total_technical_checklist %> points</strong>
    from it.
  </p>

  <table class="admin-table__team-submissions-checklist">
    <caption>Technical checklist</caption>
    <thead>
      <tr>
        <th>Checklist item</th>
        <th>Using?</th>
        <th>Explanation</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="3">
          <strong>Technical components</strong>
        </td>
      </tr>

      <% @team_submission.technical_checklist.technical_components.each do |method| %>
        <tr>
          <td><%= method.to_s.titleize %></td>
          <td><%= @team_submission.technical_checklist.public_send(method) %></td>
          <td><%= @team_submission.technical_checklist.public_send("#{method}_explanation") %></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="3">
          <strong>Database components</strong>
        </td>
      </tr>

      <% @team_submission.technical_checklist.database_components.each do |method| %>
        <tr>
          <td><%= method.to_s.titleize %></td>
          <td><%= @team_submission.technical_checklist.public_send(method) %></td>
          <td><%= @team_submission.technical_checklist.public_send("#{method}_explanation") %></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="3">
          <strong>Mobile components</strong>
        </td>
      </tr>

      <% @team_submission.technical_checklist.mobile_components.each do |method| %>
        <tr>
          <td><%= method.to_s.titleize %></td>
          <td><%= @team_submission.technical_checklist.public_send(method) %></td>
          <td><%= @team_submission.technical_checklist.public_send("#{method}_explanation") %></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="3">
          <strong>Pictures of process</strong>
        </td>
      </tr>

      <% @team_submission.technical_checklist.pics_of_process.each do |method| %>
        <tr>
          <td><%= method.to_s.titleize %></td>
          <td colspan="2"><%= @team_submission.technical_checklist.public_send(method).present? %></td>
        </tr>
      <% end %>

      <tr>
        <td>Screenshots</td>
        <td colspan="2"><%= @team_submission.screenshots.count %></td>
      </tr>
    </tbody>
  </table>
<% end %>
