<% provide :title, "RA Data • Participants" %>

<%= render 'regional_ambassador/participants/sub_menu' %>

<div class="panel">
  <%= datagrid_form_for @accounts_grid,
    data: { turbolinks: false },
    url: regional_ambassador_participants_path %>

  <h6><%= pluralize(@accounts_grid.assets.count, "account") %> found</h6>

  <p>
    <%= link_to "Export current table to CSV",
      url_for(format: 'csv', accounts_grid: params[:accounts_grid].to_unsafe_h),
      class: "button secondary small" %>
  </p>

  <%= datagrid_table(@accounts_grid) %>

  <%= will_paginate @accounts_grid.assets %>
</div>
