<% provide :title, "RA Data • Participants" %>

<%= render 'regional_ambassador/participants/sub_menu' %>

<div class="panel">
  <%= datagrid_form_for @accounts_grid,
    data: { turbolinks: false },
    url: regional_ambassador_participants_path %>

  <h6><%= pluralize(@accounts_grid.assets.count, "account") %> found</h6>

  <%= datagrid_table(@accounts_grid) %>

  <%= will_paginate @accounts_grid.assets %>
</div>
