<% provide(
  :js,
  javascript_include_tag(
    "location-based-search",
    'data-turbolinks-track' => true
  )
) %>

<% f ||= false %>

<%= label_tag :nearby, t("views.application.search_near") %>

<div class="location-based-search">
  <% if f # TODO: shim until team search is updated %>
    <%= f.text_field :nearby,
      class: "search-by-text",
      value: params[:nearby],
      data: { location_field: true } %>
  <% else %>
    <%= text_field_tag :nearby,
      params[:nearby],
      class: "search-by-text",
      data: { location_field: true } %>
  <% end %>
  <p class="hint">Press enter after typing</p>

  <p class="buttons">
    <%= link_to t('views.application.near_me'), '#',
      class: "button small",
      data: { update_location: account.address_details } %>

    <%= link_to t('views.application.anywhere'), '#',
      class: "button small secondary",
      data: { update_location: "anywhere" } %>
  </p>
</div>
