<p class="reset">
  <%= f.radio_button :needs_team,
    1,
    checked: params[:needs_team] == "1",
    id: :needs_team_1,
    class: "toggle-based-search" %>

  <%= f.label :needs_team_1, "Yes" %>
</p>

<p class="reset">
  <%= f.radio_button :needs_team,
    0,
    checked: params[:needs_team] == "0",
    id: :needs_team_0,
    class: "toggle-based-search" %>

  <%= f.label :needs_team_0, "No" %>
</p>

<p class="reset">
  <%= f.radio_button :needs_team,
    -1,
    checked: params[:needs_team] == "-1",
    id: :needs_team_2,
    class: "toggle-based-search" %>

  <%= f.label :needs_team_2, "Both" %>
</p>
