<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Download your file"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear <%= @name %>,
        </td>
      </tr>

      <% if @regarding_url %>
        <tr>
          <td class="content-block">
            This is a message from your Regional Ambassador regarding<br />
            <strong><%= @regarding_name %></strong>.
          </td>
        </tr>

        <tr>
          <td class="content-block"
              itemprop="handler"
              itemscope
              itemtype="http://schema.org/HttpActionHandler">
            <%= link_to @regarding_link_text,
              @regarding_url,
              class: "btn-primary",
              role: "url" %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td class="content-block">
          <%= simple_format @body %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Your Ambassador,<br />
          <%= @sender_name %><br />
          <%= mail_to @sender_email %>
        </td>
      </tr>
    </table>
  </td>
</tr>
