<div class="flex-col-sm-12">
  <center id="cert_appreciation">
    <h1>Thank you!</h1>

    <p>
      You completed the <%= Season.current.year %> Technovation program!
    </p>

    <p>
      Download your certificate as proof of your participation as a
      Technovation Mentor.
    </p>

    <% if current_mentor.certificates.appreciation.empty? %>
      <%= form_with url: mentor_certificates_path, local: true do |f| %>
        <%= f.hidden_field :type, value: :appreciation %>

        <p>First, we need to prepare your certificate for you.</p>

        <p class="standalone-buttons">
          <%= f.submit "Prepare my certificate", class: "appy-button" %>
        </p>
      <% end %>
    <% else %>
      <p class="standalone-buttons">
        <%= link_to "Download my certificate",
          current_mentor.certificates.appreciation.current.file_url,
          class: "appy-button" %>
      </p>
    <% end %>
  </center>
</div>
