<% if scores.present? %>
  <table class="width--70-percent">
    <tbody>
      <% scores.each do |score| %>
        <tr class="<%= (current_account.admin? && score.deleted?) ? "background-color--subtle-red" : "" %>">
          <td><%= score.total %> / <%= score.total_possible %></td>
          <td>
            <%= link_to score.judge_name,
              [current_scope, :participant, id: score.judge_profile.account_id] %>
          </td>
          <td class="official-info"><%= score.official? ? "official" : "unofficial" %></td>

          <% if current_account.admin? %>
            <td class="deleted-info">
              <%=
                if score.deleted?
                  if score.dropped?
                    "dropped"
                  else
                    "deleted"
                  end
                end
              %>
            </td>
          <% end %>

          <td>
            <%= link_to 'View score',
              [current_scope, :score, id: score.id],
              data: { turbolinks: false } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  — No scores —
<% end %>
