<div class="antialias">
  <h1><%= @submission.team_name %></h1>

  <dl>
    <dt>Rank:</dt>
    <dd><%= @submission.contest_rank %></dd>

    <dt>Event:</dt>
    <dd><%= @submission.team.event.name %></dd>

    <% if current_account.is_admin? or SeasonToggles.display_scores? %>
      <% if @submission.semifinalist? %>
        <dt>Semifinals average:</dt>
        <dd><%= @submission.semifinals_average_score %></dd>
      <% end %>
    <% end %>

    <dt>Quarterfinals average:</dt>
    <dd>
      <%= @submission.quarterfinals_average_score %> /
      <%= @submission.total_possible_score %>
    </dd>

    <% if @submission.submission_scores.unofficial.any? %>
      <dt>Quarterfinals unofficial:</dt>
      <dd><%= @submission.average_unofficial_score %></dd>
    <% end %>
  </dl>

  <% scores = current_account.admin? ? @submission.scores_including_deleted : @submission.scores %>

  <% if current_account.is_admin? or SeasonToggles.display_scores? %>

    <h5>Complete Semifinals scores</h5>
    <div id="complete-semifinal-scores">
      <%= render 'chapter_ambassador/score_details/scores_table',
        scores: scores.semifinals.complete %>
    </div>

    <h5>Incomplete Semifinals scores</h5>
    <div id="incomplete-semifinal-scores">
      <%= render 'chapter_ambassador/score_details/scores_table',
        scores: scores.semifinals.incomplete %>
    </div>

  <% end %>

  <h5>Complete Quarterfinal scores</h5>
  <div id="complete-quarterfinal-scores">
    <%= render 'chapter_ambassador/score_details/scores_table',
      scores: scores.quarterfinals.complete %>
  </div>

  <h5>Incomplete Quarterfinal scores</h5>
  <div id="incomplete-quarterfinal-scores">
    <%= render 'chapter_ambassador/score_details/scores_table',
      scores: scores.judge_not_deleted.quarterfinals.incomplete %>
  </div>

  <% if current_account.is_admin? %>
    <h5>Recusals</h5>
    <div>
      <%= render "admin/participants/score_details_judge_recused_scores", recused_scores: @recused_scores %>
    </div>
  <% end %>

  <p class="margin--b-xlarge">
    <%= link_to 'Back to scores',
      [current_scope, :scores],
      data: { turbolinks: false },
      class: "button button--small" %>
  </p>

  <%= render "admin/team_submissions/judge_assignment", current_account: @current_account, submission: @submission %>
</div>
