<div class="flex-row">
  <div class="flex-col-md-4">
    <div class="admin-search__filter-options">
      <%= render 'admin/regional_pitch_events/filter_options' %>
    </div>
  </div>

  <div class="flex-col-md-8 wrapper__report-column">
    <div class="admin-results-table">
      <div class="admin-results-header-table">
        <div class="header">RA</div>
        <div class="header">Name</div>
        <div class="header">Date / Time</div>
        <div class="header">Division</div>
        <div class="header">City</div>
        <div class="header">State / Province</div>
        <div class="header">Country</div>
      </div>

      <div class="admin-results-data-table">
        <% @events.order('regional_pitch_events.created_at DESC').each do |event| %>
          <div class="row">
            <div class="cell"><%= event.regional_ambassador_profile.full_name %></div>
            <div class="cell"><%= link_to event.name, [:admin, event] %></div>
            <div class="cell"><%= event.date_time %></div>
            <div class="cell"><%= event.division_names %></div>
            <div class="cell"><%= event.city %></div>
            <div class="cell"><%= event.state_province %></div>
            <div class="cell"><%= event.country %></div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="wrapper__report-footer">
      <%= render 'admin/regional_pitch_events/footer' %>
    </div>
  </div>
</div>
