<h1>Regional Pitch Event: <%= @event.name %></h1>
<h2>RA: <%= @event.regional_ambassador_profile.full_name %></h2>

<p>
  <strong>Division:</strong> <%= @event.division_names %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.date_time %>
</p>

<p>
  <strong>City:</strong> <%= @event.city %>
</p>

<p>
  <strong>Venue address:</strong> <%= @event.venue_address %>
</p>

<p>
  <strong>Eventbrite link:</strong>

  <% unless @event.eventbrite_link.blank? %>
    <%= link_to @event.eventbrite_link,
      @event.eventbrite_link,
      target: :_blank %>
  <% end %>
</p>

<p>
  <%= link_to 'List all events', admin_regional_pitch_events_path %>
</p>

<%= simple_form_for([:admin, @event]) do |f| %>
  <%= f.input :unofficial, label: "Mark this event as unofficial (internally)" %>
<% end %>

<div class="pitch-event__registered-teams">
  <h1>Teams intending to go</h1>

  <ol>
    <% @event.teams.each do |team| %>
      <li>
        <%= link_to team.name, [:admin, team] %> —
        Submission:
        <% if team.submission.present? %>
          <%= link_to team.submission.app_name, [:admin, team.submission] %> —
          Complete? <%= team.submission.complete? ? "yes" : "no" %>
        <% else %>
          <em>&lt;not started&gt;</em>
        <% end %>
      </li>
    <% end %>
  </ol>

  <% if @event.teams.empty? %>
    <p>No teams signed up yet</p>
  <% end %>
</div>
