<div class="grid grid--justify-center">
  <div class="grid__col-12">
    <div class="panel">
      <h3><%= @event.name %></h3>
      <% if current_account.chapter_ambassador? %>
        <%= link_to(
          "Edit",
          edit_chapter_ambassador_event_path(@event),
          class: "button small",
          data: {turbo: false}) %>
      <% end %>

      <div class="grid grid--bleed margin--t-large">
        <div class="grid__col-auto">
          <dl>
            <dt>Official event?</dt>

            <dd>
              <%= @event.unofficial? ? "no" : "yes" %>

              <% if current_account.admin? %>
                <p>
                  <%= link_to "Toggle official",
                    admin_event_path(
                      @event,
                      {
                        regional_pitch_event: {
                          unofficial: !@event.unofficial
                        }
                      }
                    ),
                    data: {
                      method: :patch,
                      confirm: "You are about to mark #{@event.name} as " +
                        "<strong>" +
                        (@event.unofficial? ? 'OFFICIAL' : 'UNOFFICIAL') +
                        "</strong>"
                    },
                    class: "button small" %>
                </p>
              <% end %>
            </dd>

            <dt>Division</dt>

            <dd><%= @event.division_name %></dd>

            <% if current_account.admin? %>
              <dt>Ambassador:</dt>

              <dd>
                <%= link_to @event.ambassador.name,
                  admin_participant_path(@event.ambassador.account) %>
              </dd>
            <% end %>

            <dt>Time:</dt>

            <dd>
              <%= @event.starts_at
                .in_time_zone(@event.timezone)
                .strftime("%A, %B %e") %>

              <br />

              <%= @event.starts_at
                .in_time_zone(@event.timezone)
                .strftime("%-I:%M%P") %>

              &ndash;

              <%= @event.ends_at
                .in_time_zone(@event.timezone)
                .strftime("%-I:%M%P %Z") %>
            </dd>

            <dt>Address:</dt>

            <dd>
              <%= @event.venue_address %>
              <br />
              <%= @event.city %>
            </dd>

          </dl>
        </div>

        <div class="grid__col-auto">
          <dl>
            <dt>Event link:</dt>

            <% unless @event.event_link.blank? %>
              <dd>
                <%= link_to "#{@event.name}",
                  @event.event_link,
                  target: :_blank %>
              </dd>
            <% else %>
              <dd>No link provided.</dd>
            <% end %>
          </dl>

          <dl>
            <dt>Created at</dt>

            <dd>
              <%= @event.created_at.strftime("%Y-%m-%d %H:%M %Z") %>
            </dd>

            <dt>Updated at</dt>

            <dd>
              <%= @event.updated_at.strftime("%Y-%m-%d %H:%M %Z") %>
            </dd>
          </dl>
        </div>
      </div>

      <hr>

      <% if current_account.chapter_ambassador? %>
        <%= turbo_frame_tag "available-teams-frame" do %>
          <%= link_to "Add Teams",
            available_teams_chapter_ambassador_event_path(@event),
            class: "button small",
            data: { turbo_frame: "available-teams-frame" } %>
        <% end %>
      <% end %>

      <%= render "admin/regional_pitch_events/registered_teams", event: @event %>
      <%= render "admin/regional_pitch_events/bulk_add_teams", event: @event %>
    </div>

    <% if current_account.admin? %>
      <p>
        <%= link_to 'Go back',
          back_from_event_path,
          class: "button small" %>
      </p>
    <% end %>
  </div>
</div>
