<% chapter_ambassador_dashboard ||= false %>

<% if chapter_ambassador.provided_intro? %>
  <% if chapter_ambassador_dashboard %>
    <h5 class="reset">Introduce yourself to your area</h5>
  <% else %>
    <div class="chapter-ambassador-intro">
      <%= image_tag chapter_ambassador.profile_image_url,
        class: "grid__cell-img" %>

      <h6><%= chapter_ambassador.full_name %></h6>
  <% end %>

  <h5><%= chapter_ambassador.program_name %></h5>

  <%= simple_format chapter_ambassador.intro_summary %>

  <ul class="reset">
    <% chapter_ambassador.regional_links.each do |link| %>
      <li>
        <% if link.name == "email" %>
          <%= mail_to link.value, web_icon("envelope-o", text: link.value) %>
        <% else %>
          <%= link_to web_icon(link.icon, text: link.display_text), link.url %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% unless chapter_ambassador_dashboard %>
    </div>
  <% end %>
<% end %>
