<%
  attendee ||= current_team
  other_events = events - [attendee.selected_regional_pitch_event]
%>

<div class="grid__cell">
  <div class="grid">
    <div class="grid__col-sm-6">
      <% if attendee.is_a?(Team) %>
        <%= render 'dashboards/team_info',
          team: attendee,
          submission: submission %>
      <% end %>
    </div>

    <div class="grid__col-sm-6">
      <div class="blurb">
        <h5>You are currently attending:</h5>
        <p><%= attendee.selected_regional_pitch_event_name %></p>
      </div>
    </div>

    <div class="grid__col-sm-6">
      <%= render 'dashboards/selected_event_info', attendee: attendee %>
    </div>

    <div class="grid__col-sm-6">
      <%= render 'dashboards/selected_event_more_info', attendee: attendee %>
    </div>

    <div class="grid__col-auto">
      <% if other_events.any? %>
        <%= render 'dashboards/other_events', events: other_events %>
      <% else %>
        <p class="help">There are no other pitch events in your region.</p>
      <% end %>
    </div>
  </div>
</div>
