<% unless Rails.env.production? %>
  <li class="card">
    <div class="card__heading">
      Select a Regional Pitch Event!
      <%= fa_icon("flash", class: "card-heading__flair") %>
    </div>

    <div class="card__body">
      <p>
        Your team information:<br />
        <strong>Region:</strong> <%= current_team.region_name %><br />
        <strong>Division:</strong> <%= current_team.division_name %><br />

        <strong>Selected Event:</strong>
        <%= current_team.selected_regional_pitch_event_name %>

        <span class="small-action-bar">
          <%= link_to 'view full details',
            student_regional_pitch_event_path(current_team.selected_regional_pitch_event) %>

          <% if current_team.selected_regional_pitch_event.live? %>
            &nbsp;|&nbsp;
            <%= link_to 'remove',
              student_regional_pitch_event_selection_path,
              data: {
                method: :delete,
                confirm: "Are you sure you want to remove your team from the event: #{current_team.selected_regional_pitch_event_name}?",
              } %>
          <% end %>
        </span>
      </p>

      <% if events.any? %>
        <ul class="regional-event-selection-list">
          <% events.each do |event| %>
            <li><%= event.name %></li>
          <% end %>
        </ul>
      <% else %>
        <p>
          There are no live events scheduled in your region.<br />
          <strong>Your team's submission will be judged online.</strong>
        </p>
      <% end %>

      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to 'See how your submission looks to the judges',
          app_path(submission),
          class: "appy-button",
          target: :_blank %>
      </div>
    </div>
  </li>
<% end %>
