<% user ||= current_team %>

<div class="regional-event-selection card">
  <div class="card__heading">
    <% if events.any? %>
      Select a Regional Pitch Event!
    <% else %>
      Virtual Judging begins on May 1!
    <% end %>

    <%= fa_icon("flash", class: "card-heading__flair") %>
  </div>

  <div class="card__body">
    <% if user.is_a?(Team) %>
      <p>
        Your team, <strong><%= user.name %></strong>, is in the <strong><%= user.region_name %></strong> region
        and the <strong><%= user.division_name.titleize %></strong> division.
      </p>

      <hr />
    <% end %>

    <% if events.any? %>
      <p>
        <strong>Your currently selected event:</strong>
        <%= user.selected_regional_pitch_event_name %>

        <span class="small-action-bar">
          <%= link_to 'view full details',
            [user.type_name, user.selected_regional_pitch_event] %>

          <% if user.selected_regional_pitch_event.live? %>
            &nbsp;|&nbsp;
            <%= link_to 'remove',
              [user.type_name, :regional_pitch_event_selection],
              data: {
                method: :delete,
                confirm: "Are you sure you want to remove your team from the event: #{user.selected_regional_pitch_event_name}?",
              } %>
          <% end %>
        </span>
      </p>

      <% if (events - [user.selected_regional_pitch_event]).any? %>
        <hr />

        <strong>Select a different event to attend:</strong>

        <ul class="regional-event-selection-list">
          <% (events - [user.selected_regional_pitch_event]).each do |event| %>
            <li>
              <%= event.name %><br />
              <%= event.city %><br />
              <strong><%= event.starts_at.in_time_zone(event.timezone).strftime("%A, %B %e") %></strong><br />

              <%= event.starts_at.in_time_zone(event.timezone).strftime("%-I:%M%P") %>
              &ndash;
              <%= event.ends_at.in_time_zone(event.timezone).strftime("%-I:%M%P %Z") %><br />

              <%= link_to 'view full details', [user.type_name, event] %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <hr />
    <% else %>
      <p>
        Because there are <strong>no live events</strong> scheduled in your region,
        <% if user.is_a?(Team) %>
          <strong>your team's submission will be judged online.</strong>
        <% else %>
          <strong>you will judge submissions online.</strong>
        <% end %>
      </p>
    <% end %>

    <% if user.is_a?(Team) %>
      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to 'See how your submission looks to the judges',
          app_path(submission),
          class: "appy-button",
          target: :_blank %>
      </div>
    <% end %>
  </div>
</div>
