<% model ||= current_team %>

<div class="flex-row">
  <% if model.is_a?(Team) %>
    <div class="flex-col-md-6">
      <dl class="regional-pitch-team-info">
        <div>
          <dt>Your team:</dt>
          <dd><%= model.name %></dd>
        </div>

        <div>
          <dt>Division:</dt>
          <dd><%= model.division_name %></dd>
        </div>

        <div>
          <dt>Region:</dt>
          <dd><%= model.region_name %></dd>
        </div>

        <div>
          <dt>Your submission:</dt>
          <dd>
            <p>
              <%= link_to 'Edit your submission', student_team_submission_path(submission) %>
            </p>

            <p>
              <%= link_to 'See how it looks to the judges',
                  app_path(submission),
                  target: :_blank %>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  <% end %>

  <div class="flex-col-md-6">
    <div class="regional-pitch-selected-blurb">
      <h3>You are currently attending:</h3>
      <p><%= model.selected_regional_pitch_event_name %></p>
    </div>
  </div>
</div>

<div class="regional-pitch-selected-full">
  <dl class="regional-pitch-details flex-row">
    <div class="flex-col-md-6">
      <dt>Your pitch event:</dt>
      <dd><%= model.selected_regional_pitch_event.name %></dd>

      <dt>Division:</dt>
      <dd><%= model.selected_regional_pitch_event.divisions.map(&:name).to_sentence %></dd>

      <dt>Date / Time:</dt>
      <dd>
        <% if model.selected_regional_pitch_event.live? %>
          <%= model.selected_regional_pitch_event.starts_at.in_time_zone(model.selected_regional_pitch_event.timezone).strftime("%A, %B %e") %>

          <br />

          <%= model.selected_regional_pitch_event.starts_at.in_time_zone(model.selected_regional_pitch_event.timezone).strftime("%-I:%M%P") %>
          &ndash;
          <%= model.selected_regional_pitch_event.ends_at.in_time_zone(model.selected_regional_pitch_event.timezone).strftime("%-I:%M%P %Z") %>
        <% else %>
          <%= model.selected_regional_pitch_event.starts_at.in_time_zone(model.selected_regional_pitch_event.timezone).strftime("%A, %B %e") %>
          through
          <%= model.selected_regional_pitch_event.ends_at.in_time_zone(model.selected_regional_pitch_event.timezone).strftime("%A, %B %e") %>
        <% end %>
      </dd>
    </div>

    <div class="flex-col-md-6">
      <dt>City:</dt>
      <dd><%= model.selected_regional_pitch_event.city %></dd>

      <dt>Venue address:</dt>
      <dd><%= model.selected_regional_pitch_event.venue_address %></dd>

      <% unless model.selected_regional_pitch_event.eventbrite_link.blank? %>
        <dt>Eventbrite link:</dt>
        <dd>
          <%= link_to model.selected_regional_pitch_event.eventbrite_link,
            model.selected_regional_pitch_event.eventbrite_link,
            target: :_blank %>
        </dd>
      <% end %>

      <% if model.selected_regional_pitch_event.live? %>
        <p class="standalone-buttons">
          <%= link_to 'remove your team from this event',
            [model.type_name, :regional_pitch_event_selection],
            class: "has-danger",
            data: {
              method: :delete,
              confirm: "Are you sure you want to remove your team from the event: #{model.selected_regional_pitch_event_name}?",
            } %>
        </p>
      <% end %>
    </div>
  </dl>
</div>

<% if (events - [model.selected_regional_pitch_event]).any? %>
  <div class="regional-pitch-others">
    <h3>Other pitch events in your region:</h3>

    <ul class="regional-event-selection-list">
      <% (events - [model.selected_regional_pitch_event]).each do |event| %>
        <li>
          <%= event.name %><br />
          <%= event.city %><br />
          <strong><%= event.starts_at.in_time_zone(event.timezone).strftime("%A, %B %e") %></strong><br />

          <%= event.starts_at.in_time_zone(event.timezone).strftime("%-I:%M%P") %>
          &ndash;
          <%= event.ends_at.in_time_zone(event.timezone).strftime("%-I:%M%P %Z") %><br />

          <%= link_to 'view full details', [model.type_name, event] %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="regional-pitch-others">
    <h3>There are no other pitch events in your region.</h3>
  </div>
<% end %>
