<h1>Regional Ambassadors</h1>

<label class="no-text-transform">
  See RAs by status:
  <%= select_tag :status,
                 options_for_select([:pending, :approved, :declined], params[:status]),
                 class: "inline",
                 data: {
                   reload: true,
                   param: :status,
                 } %>
</label>

<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Email</th>
      <th>City, State, Country</th>
      <% if "declined" == params[:status] %>
        <th>Spam</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @regional_ambassadors.each do |ambassador| %>
      <% cache(ambassador) do %>
        <tr>
          <td><%= image_tag ambassador.profile_image_url, width: 80, height: 80 %></td>
          <td><%= link_to ambassador.full_name, admin_regional_ambassador_path(ambassador) %></td>
          <td><%= ambassador.email %></td>
          <td><%= ambassador.address_details %></td>
          <% if "declined" == params[:status] %>
            <td class="danger">
              <%= link_to 'Mark spam', admin_regional_ambassador_path(ambassador, status: :spam), data: { method: :put, confirm: "Mark #{ambassador.full_name} as spam?" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
