<div class="flex-row">
  <div class="flex-col-md-4">
    <div class="admin-search__filter-options">
      <%= render 'admin/regional_ambassadors/filter_options' %>
    </div>
  </div>

  <div class="flex-col-md-8 wrapper__report-column">
    <div class="admin-results-table">
      <div class="admin-results-header-table">
        <div class="header">Photo</div>
        <div class="header">Quick view</div>
        <% if "declined" == params[:status] %>
          <div class="header">Spam</div>
        <% end %>
      </div>

      <div class="admin-results-data-table">
        <% @regional_ambassadors.order('created_at DESC').each do |ambassador| %>
          <% cache(ambassador) do %>
            <div class="row">
              <div class="cell">
                <%= image_tag ambassador.profile_image_url, width: 80, height: 80 %>
              </div>

              <div class="cell">
                <p>
                  <strong>
                    <%= link_to ambassador.full_name,
                      admin_regional_ambassador_path(ambassador) %>
                  </strong>
                </p>

                <p>
                  <%= mail_to ambassador.email %>
                </p>

                <p>
                  <%= ambassador.address_details %>
                </p>

                <p>
                  <em>Applied <%= time_ago_in_words(ambassador.created_at) %> ago</em>
                </p>
              </div>

              <% if "declined" == params[:status] %>
                <div class="cell danger">
                  <%= link_to 'Mark spam',
                    admin_regional_ambassador_path(ambassador, status: :spam),
                    data: {
                      method: :put,
                      confirm: "Mark #{ambassador.full_name} as spam?",
                    } %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="wrapper__report-footer">
      <%= render 'admin/regional_ambassadors/footer' %>
    </div>
  </div>
</div>
