<%= simple_form_for current_chapterable,
  url: club_ambassador_public_information_path do |f| %>

  <%= f.label :name, "Club Name" %>
  <%= f.text_field :name %>

  <%= f.input :summary,
    label: "Program summary",
    as: :text,
    input_html: {
      rows: 3,
    } %>

  <div class="flex flex-col lg:flex-row justify-between mb-4">
    <span class="text-sm italic">
      Give your participants a short introduction to your program.
      Use up to 1000 characters.
    </span>

    <%= content_tag :span, data: { keep_count_of: "#club_summary", down_from: 1000, } do %>
      <span>
        <%= (f.object.summary || "").length %>
      </span>

      <span>
        <%= "character".pluralize((f.object.summary || "").length) %>
      </span>
    <% end %>
  </div>

  <div>
    <%= f.input :primary_account_id,
      collection: current_chapterable.current_ambassadors,
      prompt: "Select a primary contact",
      label: "Primary Contact",
      value_method: :id,
      label_method: :full_name,
      selected: current_chapterable.primary_contact&.id %>

    <p class="text-sm italic mb-4">This Club Ambassador is the primary contact displayed to students and mentors</p>
  </div>

  <div>
    <h3 class="mt-8 mb-4">Public Map Visibility</h3>

    <p class="text-base">
      By default, this club will be included on the publicly visible
      club map on the Technovation website. We will include
      the following information:
    </p>

    <ul class="list-disc text-base mb-4">
      <li class="ml-8">Club Name</li>
      <li class="ml-8">Name of the club ambassador set as the primary contact</li>
      <li class="ml-8">Address of the organization headquarters</li>
    </ul>

    <%= f.input :visible_on_map,
      as: :radio_buttons,
      collection: [["Yes, display my club information", true], ["No, do not display my club information", false]],
      label: false %>
  </div>

  <p class="mt-8">
    <%= f.submit "Save", class: "tw-green-btn" %>
      or
    <%= link_to "cancel", club_ambassador_public_information_path %>
  </p>
<% end %>
