<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Copy of Parental Consent"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Estimado/a <%= @student_profile.parent_guardian_name %>,
        </td>
      </tr>

      <tr>
        <td class="content-block">
          A continuación, encontrará una copia del formulario de consentimiento de participación firmado por el padre, madre o tutor para la participación de <%= @student_profile.account.full_name %> en Technovation Girls <%= Season.current.year %>.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Gracias.<br>
          — El equipo de Technovation
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <%= render "parental_consents/consent" %>

          <%= render "parental_consents/signature_footer",
            student_profile: @student_profile,
            consent: @parental_consent
          %>
        </td>
      </tr>
    </table>
  </td>
</tr>
