<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear <%= @name %>,
        </td>
      </tr>

      <tr>
        <td class="content-block">
          We are writing to let you know that your daughter,
          <strong><%= @student_name %></strong>,
          has registered for Technovation Girls, a global mobile app, technology,
          and entrepreneurship program for girls.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Technovation Girls, a flagship program of non-profit Technovation, is the
          world’s largest global tech entrepreneurship competition for girls.
          The program offers girls around the world the opportunity to learn the
          necessary skills to emerge as tech entrepreneurs and leaders.
          Every year, Technovation Girls challenges 10 to 18 year old girls to build
          a business plan and mobile app that will address a community problem.
          In 2020, 5,400 girls from 62 countries collectively created 1,520 mobile apps,
          which addressed problems ranging from climate change, to medical access at
          refugee camps, to COVID-19. 
        </td>
      </tr>

      <tr>
        <td class="content-block">
          To participate, she needs your permission. Please review the
          permission form at this link and sign electronically as soon as possible.
          Once you sign the form, you will receive a copy via email within 3 days.
        </td>
      </tr>

      <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <%= link_to "Sign the Permission Form", @url, class: "btn-primary", itemprop: "url" %>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Please use the "Sign the Permission Form" button above;
          <strong>do not reply</strong> to this email to give consent.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          If you have any questions, or you cannot use the link above,
          reply to this email immediately, which is <%= mail_to ENV.fetch("HELP_EMAIL") %>.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Your daughter will not be able to participate in this program until we
          have your permission. For more information on our program, please see
          <%= link_to nil, 'https://technovationchallenge.org', itemprop: "url" %>.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          — The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
