<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear <%= @name %>,
        </td>
      </tr>

      <tr>
        <td class="content-block">
          We are writing to let you know that your daughter,
          <strong><%= @student_name %></strong>,
          has registered for Technovation Girls, a global technology
          entrepreneurship program for girls.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Technovation Girls, a flagship program of non-profit Technovation, is the
          world’s largest global tech entrepreneurship competition for girls.
          The program offers girls around the world the opportunity to learn the
          necessary skills to emerge as tech entrepreneurs and leaders.
          Every year, Technovation Girls challenges 8 to 18 year old girls to build
          a business plan and mobile app that will address a community problem.
          In 2021, nearly 5,900 girls from more than 60 countries collectively created 1,700 mobile apps,
          which addressed problems they care about most, including domestic violence, water pollution, 
          access to education, and more.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          To participate, she needs your permission. Please review the
          permission form and media consent form at this link and sign electronically as soon as possible.
          Once you sign the forms, you will receive copies via email within 3 days.
        </td>
      </tr>

      <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <%= link_to "Sign the Forms", @url, class: "btn-primary", itemprop: "url" %>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Please use the "Sign the Forms" button above;
          <strong>do not reply</strong> to this email to give consent.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          If you cannot use the button above, your daughter can resend this email or
          download the form from her
          <%= link_to "dashboard", @dashboard_url, itemprop: "url" %>.
          If you still have questions, email us at <%= mail_to ENV.fetch("HELP_EMAIL") %> immediately.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Your daughter will not be able to participate in this program until we
          have your permission. For more information on our program, please see
          <%= link_to nil, 'https://technovationchallenge.org', itemprop: "url" %>.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          — The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
