<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear <%= @student_profile.parent_guardian_name %>,
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Welcome to the Technovation Girls community! We're so glad your daughter is
          joining us this season. In this email you can learn more about
          Technovation Girls, what your daughter will be doing,
          and what you can do to support her.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>About Technovation Girls</strong><br /><br />

          <%= link_to "Technovation Girls", @technovation_url %>
          is a free technology entrepreneurship program for girls ages 8-18
          that offers girls around the world the opportunity to learn
          the skills they need to become problem solvers and leaders who 
          aren't afraid to learn new technologies.
          Every year we invite girls to identify a problem in their community,
          and then challenge and support them to solve it.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Girls work in teams to build a mobile app or web app along with
          a <%= t("submissions.business_plan") %> to bring the solution to the world. Girls are supported
          by mentors and guided by our curriculum. In April, teams submit their app,
          pitch, and other
          <%= link_to "submission materials", "https://technovationchallenge.org/submission-guidelines/" %> 
          online.  Your daughter may be able to participate in a nearby in-person regional pitch event in
          May if her chapter has organized one, and parents are encouraged to attend as guests. Otherwise,
          judges from around the world provide written feedback to teams to help them make
          their ideas even better in the future!
        </td>
      </tr>

      <tr>
        <td class="content-block">
          After all the submissions have been judged, all participants and their families (including you!)
          are invited to attend our virtual end-of-season celebration and announcement event. Finalist teams will be
          invited to pitch their ideas live to finalist judges to see who will win a special prize in October during
          the World Summit (all costs for the teams are covered by Technovation).
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Your daughter will learn&hellip;</strong>

          <ul>
            <li>How to identify and solve a problem</li>
            <li>New technology: How to code and use AI to create web and mobile apps</li>
            <li>What it takes to bring an idea or business to life!</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          <strong>Your daughter will&hellip;</strong>

          <ul>
            <li>Develop a mobile or web app/li>
            <li>
              Work with other girls and one or more mentors to find the best approach 
              to solving their chosen problem taking constraints into account
            </li>
            <li>Make a <%= t("submissions.business_plan") %> and revenue model, or user adoption plan</li>
            <li>Gather user feedback from community members about her idea and prototype(s)</li>
            <li>Create pitch and technical videos to show her ideas</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Check out the Parent Resource page
          <%= link_to "here" , "https://technovationchallenge.org/parent-resources/"%>
          for ideas on supporting your daughter and her team.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Thank you again for encouraging your daughter to dream big and develop
          real solutions to community problems.
        </td>
      </tr>

      <tr>
        <td class="content-block">
          Warmly,<br />
          The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
