<div class="flex-col-md-8">
  <div class="flex-row">
    <div id="judge-scores-menu" class="flex-col-md-3 tabs tabs-vertical">
      <ul class="tab-menu">
        <li class="tab-link">
          <button
            role="button"
            class="tab-button"
            data-tab-id="in-progress">
            In progress (<%= current_judge.submission_scores.incomplete.count %>)
          </button>
        </li>

        <% if current_judge.selected_regional_pitch_event.live? %>
          <% if current_judge.selected_regional_pitch_event.teams.senior.any? %>
            <li class="tab-link">
              <button
                role="button"
                class="tab-button"
                data-tab-id="senior-submissions">
                Senior Teams (<%= current_judge.selected_regional_pitch_event.teams.senior.count %>)
              </button>
            </li>
          <% end %>

          <% if current_judge.selected_regional_pitch_event.teams.junior.any? %>
            <li class="tab-link">
              <button
                role="button"
                class="tab-button"
                data-tab-id="junior-submissions">
                Junior Teams (<%= current_judge.selected_regional_pitch_event.teams.junior.count %>)
              </button>
            </li>
          <% end %>
        <% end %>

        <li class="tab-link">
          <button
            role="button"
            class="tab-button"
            data-tab-id="completed">
            Completed (<%= current_judge.submission_scores.complete.count %>)
          </button>
        </li>
      </ul>
    </div>

    <div class="flex-col-md-9 content">
      <div class="tab-content" id="in-progress">
        <% if current_judge.submission_scores.incomplete.empty? %>
          <p>You don't have any scores currently in progress.</p>

          <% if current_judge.selected_regional_pitch_event.live? %>
            <p>
              Choose a submission from among the
              <%= current_judge.selected_regional_pitch_event.division_names %>
              teams to get started.
            </p>
          <% else %>
            <p><%= link_to 'Start a new score now', new_judge_submission_score_path %></p>
          <% end %>
        <% end %>

        <% current_judge.submission_scores.incomplete.each do |score| %>
          <div class="incomplete-score">
            <h1><%= score.name %></h1>
            <p><strong>Location:</strong> <%= score.team_submission_team_primary_location %></p>
            <p><strong>Division:</strong> <%= score.team_submission_team_division_name %></p>
            <p><strong>Ages:</strong> <%= score.team_submission_team_ages.to_sentence %></p>
            <p>
              <strong>Score so far:</strong>
              <%= score.total %> / <%= score.total_possible %>
            </p>

            <p>
              <%= link_to "Resume scoring #{score.name}",
                edit_judge_submission_score_path(score) %>
            </p>
          </div>
        <% end %>
      </div>

      <div class="tab-content" id="senior-submissions">
        <% current_judge.selected_regional_pitch_event.teams.junior.each do |team| %>
          <div class="choose-senior-score">
            <h1><%= team.team_submissions.last.app_name %></h1>
            <p><strong>Team:</strong> <%= team.name %></p>
            <p><strong>Location:</strong> <%= team.primary_location %></p>
            <p><strong>Division:</strong> <%= team.division_name %></p>
            <p><strong>Ages:</strong> <%= team.ages.to_sentence %></p>

            <% if current_judge.submission_scores.incomplete.flat_map(&:team).include?(team) %>
              <p>
                <%= link_to "Resume scoring this submission",
                  edit_judge_submission_score_path(
                    current_judge.submission_scores.find_by(team_submission_id: team.team_submissions.last.id)
                  ) %>
              </p>
            <% elsif current_judge.submission_scores.complete.flat_map(&:team).include?(team) %>
              <p>
                <%= link_to "Review & edit your score for this submission",
                  edit_judge_submission_score_path(
                    current_judge.submission_scores.find_by(team_submission_id: team.team_submissions.last.id),
                    review: true
                  ) %>
              </p>
            <% else %>
              <p>
                <%= link_to "Start scoring this submission",
                  new_judge_submission_score_path(team_submission_id: team.team_submissions.last.id) %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="tab-content" id="junior-submissions">
        <% current_judge.selected_regional_pitch_event.teams.senior.each do |team| %>
          <div class="choose-junior-score">
            <h1><%= team.team_submissions.last.app_name %></h1>
            <p><strong>Team:</strong> <%= team.name %></p>
            <p><strong>Location:</strong> <%= team.primary_location %></p>
            <p><strong>Division:</strong> <%= team.division_name %></p>
            <p><strong>Ages:</strong> <%= team.ages.to_sentence %></p>

            <% if current_judge.submission_scores.incomplete.flat_map(&:team).include?(team) %>
              <p>
                <%= link_to "Resume scoring this submission",
                  edit_judge_submission_score_path(
                    current_judge.submission_scores.find_by(team_submission_id: team.team_submissions.last.id)
                  ) %>
              </p>
            <% elsif current_judge.submission_scores.complete.flat_map(&:team).include?(team) %>
              <p>
                <%= link_to "Review & edit your score for this submission",
                  edit_judge_submission_score_path(
                    current_judge.submission_scores.find_by(team_submission_id: team.team_submissions.last.id),
                    review: true
                  ) %>
              </p>
            <% else %>
              <p>
                <%= link_to "Start scoring this submission",
                  new_judge_submission_score_path(team_submission_id: team.team_submissions.last.id) %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="tab-content" id="completed">
        <% if current_judge.submission_scores.complete.empty? %>
          <p>You haven't completed any scores yet.</p>

          <% if current_judge.submission_scores.incomplete.any? %>
            <p>
              <%= link_to(
                "Resume scoring #{current_judge.submission_scores.incomplete.last.name}",
                edit_judge_submission_score_path(
                  current_judge.submission_scores.incomplete.last.id
                )) %>
            </p>
          <% end %>
        <% end %>

        <% current_judge.submission_scores.complete.each do |score| %>
          <div class="complete-score">
            <h1><%= score.name %></h1>
            <p><strong>Location:</strong> <%= score.team_submission_team_primary_location %></p>
            <p><strong>Division:</strong> <%= score.team_submission_team_division_name %></p>
            <p><strong>Ages:</strong> <%= score.team_submission_team_ages.to_sentence %></p>
            <p>
              <strong>Score:</strong>
              <%= score.total %> / <%= score.total_possible %>
            </p>

            <p>
              <%= link_to "Review & Edit this score",
                edit_judge_submission_score_path(score, review: true) %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'judge/dashboards/info_sidebar' %>
