<div class="flex-col-md-8">
  <div class="flex-row">
    <div id="<%= event_type %>-judge-scores-menu" class="flex-col-md-3 tabs tabs-vertical">
      <ul class="tab-menu">
        <li class="tab-link">
          <button
            role="button"
            class="tab-button"
            data-tab-id="<%= event_type %>-in-progress">
            In progress (<%= current_judge.submission_scores
                                          .public_send(event_type)
                                          .current_round
                                          .incomplete
                                          .count %>)
          </button>
        </li>

        <% if event_type == :live and quarterfinals? %>
          <% if assigned_teams(current_judge).senior.any? %>
            <li class="tab-link">
              <button
                role="button"
                class="tab-button"
                data-tab-id="senior-submissions">
                Senior Teams (<%= assigned_teams(current_judge).senior.count %>)
              </button>
            </li>
          <% end %>

          <% if assigned_teams(current_judge).junior.any? %>
            <li class="tab-link">
              <button
                role="button"
                class="tab-button"
                data-tab-id="junior-submissions">
                Junior Teams (<%= assigned_teams(current_judge).junior.count %>)
              </button>
            </li>
          <% end %>
        <% end %>

        <li class="tab-link">
          <button
            role="button"
            class="tab-button"
            data-tab-id="<%= event_type %>-completed">
            Completed (<%= current_judge.submission_scores
                                        .public_send(event_type)
                                        .current_round
                                        .complete
                                        .count %>)
          </button>
        </li>
      </ul>
    </div>

    <div class="flex-col-md-9 content">
      <div class="tab-content" id="<%= event_type %>-in-progress">
        <% if current_judge.submission_scores
                           .public_send(event_type)
                           .current_round
                           .incomplete
                           .empty? %>
          <p>You don't have any <%= event_type %> scores currently in progress.</p>

          <% if event_type == :live and assigned_teams(current_judge).all? { |t|
            t.submission_scores.where(judge_profile_id: current_judge.id).all?(&:complete?)
          } %>

            <p>Thank you for judging all of your live teams! Great job! You're invited to keep judging virtually in <strong>Virtual Scores</strong>!</p>

          <% elsif event_type == :live and quarterfinals? %>
            <p>
              Choose a submission from among the
              <%= current_judge.selected_regional_pitch_event.division_names %>
              teams to get started.
            </p>

          <% elsif assigned_teams(current_judge).any? { |t|
            t.submission_scores.where(judge_profile_id: current_judge.id).none? or
              t.submission_scores.where(judge_profile_id: current_judge.id,  completed_at: nil).any?
          } %>

            <p>Please complete your Live Event scores to gain access to virtual judging.</p>
          <% else %>
            <p><%= link_to 'Start a new score now',
              new_judge_submission_score_path(event_type: event_type) %></p>
          <% end %>
        <% end %>

        <%= render partial: 'judge/dashboards/full_access_content/score',
          collection: current_judge.submission_scores
                                   .public_send(event_type)
                                   .current_round
                                   .incomplete,
          locals: { type: :incomplete } %>
      </div>

      <% if event_type == :live and quarterfinals? %>
        <div class="tab-content" id="senior-submissions">
          <%= render 'judge/dashboards/full_access_content/live_scores', division: :senior %>
        </div>

        <div class="tab-content" id="junior-submissions">
          <%= render 'judge/dashboards/full_access_content/live_scores', division: :junior %>
        </div>
      <% end %>

      <div class="tab-content" id="<%= event_type %>-completed">
        <% if current_judge.submission_scores
                           .public_send(event_type)
                           .current_round
                           .complete
                           .empty? %>
          <p>You haven't completed any <%= event_type %> scores yet.</p>

          <% if current_judge.submission_scores
                             .public_send(event_type)
                             .current_round
                             .incomplete
                             .any? %>
            <p>
              <%= link_to(("Resume scoring " +
                           current_judge.submission_scores
                                        .public_send(event_type)
                                        .current_round
                                        .incomplete
                                        .last
                                        .name),
                edit_judge_submission_score_path(
                  current_judge.submission_scores
                               .public_send(event_type)
                               .current_round
                               .incomplete
                               .pluck(:id)
                               .last,
                  anchor: :window
                )) %>
            </p>

          <% elsif assigned_teams(current_judge).any? { |t|
            t.submission_scores.where(judge_profile_id: current_judge.id).none? or
              t.submission_scores.where(judge_profile_id: current_judge.id,  completed_at: nil).any?
          } %>

            <p>Please complete your Live Event scores to gain access to virtual judging.</p>

          <% end %>
        <% end %>

        <%= render partial: 'judge/dashboards/full_access_content/score',
          collection: current_judge.submission_scores
                                   .public_send(event_type)
                                   .current_round
                                   .complete,
          locals: { type: :complete } %>
      </div>
    </div>
  </div>
</div>

<%= render 'judge/dashboards/info_sidebar' %>
