<div class="signup_page">
  <h2>
    <%= t('views.signups.new.title') %>
    <span class="accent"><%= t("views.signups.new.roles.student") %></span>
  </h2>

  <div class="signup-form">
    <%= simple_form_for(@student) do |f| %>
      <%= render 'signups/basic_profile_fields',
                 f: f,
                 start_year: Date.today.year - 19,
                 end_year: Date.today.year - 11 %>
      <%= render 'signups/student_profile_fields', f: f %>

      <%= f.input :password %>
      <%= f.input :password_confirmation, label: t('views.signups.form.confirm_password') %>
      <%= f.button :submit, t('views.signups.form.signup'), class: "primary-button" %>
    <% end %>
  </div>
</div>
