<div class="signup_page">
  <h2><%= t('views.signups.new.title') %> as a <span class="accent">Student</span></h2>

  <div class="signup-form">
    <%= simple_form_for(@student) do |f| %>
      <div class="basic_fields">
        <%= render 'signups/basic_profile_fields', f: f %>
        <%= render 'signups/student_profile_fields', f: f %>
      </div>

      <div class="specialized_fields">

        <div class="half-field">
          <%= f.input :password %>
        </div>

        <div class="half-field">
          <%= f.input :password_confirmation,
                      label: t('views.signups.form.confirm_password') %>
        </div>

        <div class="full-field">
          <%= f.button :submit, t('views.signups.form.signup'), {class: "primary-button"} %>
        </div>
      </div>
    <% end %>
  </div>

</div>
