<div class="background-check__columns">
  <div class="background-check__column-form">
    <h1 class="appy-title"><%= t("views.background_checks.new.title") %></h1>

    <%= simple_form_for @candidate, url: url do |f| %>
      <%= render 'errors', record: @candidate %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>

      <%= f.input :email, as: :email %>

      <%= f.input :zipcode, as: :integer %>

      <%= f.input :date_of_birth, placeholder: "YYYY-MM-DD" %>

      <%= f.input :ssn, as: :password, placeholder: '123-45-6789' %>

      <p class="appy-hint" id="show-ssn">
        <%= link_to 'Show SSN', '#', class: "appy-button" %>
      </p>

      <%= f.input :driver_license_state, placeholder: "XX" %>

      <%= f.input :copy_requested, as: :boolean, label: "I want a copy of my report from Checkr when it's completed" %>

      <%= f.button :submit, "Submit your background check", class: "appy-button" %>
    <% end %>
  </div>

  <div class="background-check__column-security-info">
    <div class="card">
      <div class="card__heading">
        Security Information
        <%= fa_icon "lock", class: "card-heading__flair" %>
      </div>

      <div class="card__body">
        <p><strong>TECHNOVATION DOES NOT STORE YOUR PRIVATE INFORMATION</strong></p>

        <p>
          This form is submitted directly and securely to our third-party screening service
          <%= link_to "Checkr", "https://checkr.com/product/screenings/",
            rel: "noopener noreferrer",
            target: "_blank" %>.
        </p>

        <p>
        <strong>How can I be sure?</strong>
        <ul>
          <li>Check that the URL starts with: <strong>https://my.technovationchallenge.org</strong></li>
          <li>Look for a green lock icon</li>
          <li>Click on the icon to verify our security certificate</li>
          <li><%= link_to "Google Chrome security", "https://support.google.com/chrome/answer/95617?hl=en", target: "_blank" %></li>
          <li><%= link_to "Firefox security", "https://support.mozilla.org/en-US/kb/how-do-i-tell-if-my-connection-is-secure", target: "_blank" %></li>
          <li><%= link_to "Microsoft IE/Edge security", "https://www.microsoft.com/en-us/safety/online-privacy/trusted-sites.aspx", target: "_blank" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
