<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Invited to event" />
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          Dear <%= @invite.name %>,
        </td>
      </tr>
      <tr>
        <td class="content-block">
          A Regional Ambassador has just added you to the event:
          <strong><%= @event.name %></strong>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <strong>Date / time:</strong>
          <%= @event.starts_at.in_time_zone(@event.timezone).strftime("%A, %B %e %-I:%M%P") %> -
          <%= @event.ends_at.in_time_zone(@event.timezone).strftime("%-I:%M%P %Z") %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <strong>City:</strong> <%= @event.city %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Your event will be confirmed as either a Regional Pitch Event or Celebration Event
          after <%= ImportantDates.rpe_officiality_finalized.strftime("%B %-d") %>. Please sign
          into your account to verify the status of your event after that date. For more
          information about pitch events, please check out the
          <%= link_to "Technovation FAQ",
            "https://iridescentsupport.zendesk.com/hc/en-us/sections/360007469154-Regional-Pitch-Events"
          %>.
        </td>
      </tr>
      <tr>
        <td class="content-block"
            itemprop="handler"
            itemscope
            itemtype="http://schema.org/HttpActionHandler">
          <%= link_to @invite.friendly_status,
            @url,
            class: "btn-primary", itemprop: "url" %>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Send an email to the ambassador who invited you,
          <%= @ambassador_name %>,
          at <%= mail_to @ambassador_email %>
          if you have questions.
        </td>
      </tr>
      <tr>
        <td class="content-block">
          Regards,<br />
          The Technovation Team
        </td>
      </tr>
    </table>
  </td>
</tr>
