<% score = Score.new(@rubric, field_name) %>

<div class="panel panel-default">
  <div class="panel-body score-panel-body">
    <table class="table score-table">
      <thead>
        <tr>
          <th colspan="2"><%= score.label %></th>
        </tr>
        <tr>
          <th width="100">Your score</th>
          <th>Explanation</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="value"><%= score.value %></td>
          <td class="explanation"><%= score.explanation %></td>
        </tr>

        <tr>
          <th colspan="2">Judge's comment</th>
        </tr>

        <tr>
          <td colspan="2">
            <% if @rubric.public_send("#{score.field_name}_comment").blank? %>
              No comment
            <% else %>
              <%= @rubric.public_send("#{score.field_name}_comment") %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <%= link_to "Show other possible scores",
                        "#scores_#{score.field_name}",
                        data: { toggle: 'content' } %>
            <ul id="<%= "scores_#{score.field_name}" %>", class="content-toggle">
              <% score.possible_scores.each do |possible_score| %>
                <li><%= possible_score.value %> &ndash; <%= possible_score.explanation %></li>
              <% end %>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
