<% unless current_user.judging_region.nil? %>
  <h5>
    You are judging teams from <%= current_user.judging_region.division_description %> - <%= current_user.judging_region.region_name %>
  </h5>

  <% unless event.nil? %>
    <h4>Teams competing in <%= event.name %></h4>
  <% end %>

  <%= render 'teams', teams: teams %>

  <h4>Previously judged teams</h4>

  <p>You may want to return and edit your scoring for previous teams, to ensure that your scoring is fair.</p>

  <%= render 'rubrics', rubrics: rubrics %>
<% end %>
