<div class="print-button">
  <button class="button" onclick="window.print()">
    <img src="https://icongr.am/fontawesome/print.svg?size=16&color=ffffff" />
    Print your event roster
  </button>
</div>

<% @groups.each do |group| %>
  <div class="cover-page">
    <div class="cover-page-content">
      <h1><%= @event.name %></h1>

      <div class="cover-page-teams">
        <h1>Teams</h1>

        <ul>
          <% group[:teams].each do |team| %>
            <li><%= team.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="cover-page-judges">
        <h1>Judges</h1>

        <ul>
          <% group[:judges].each do |judge| %>
            <li><%= judge.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="cover-page cover-page--blank">
    This page has been intentionally left blank.
  </div>

  <% group[:judges].each do |judge| %>
    <% group[:teams].each do |team| %>
      <% unless score = @scores.find { |score| score.judge_profile_id == judge.id && score.team == team }
        score = SubmissionScore.new(judge_profile: judge, team_submission: team.submission)
      end %>
      <div class="page <%= team.division_name %>">
        <header>
          <h3><%= judge.name %></h3>
          <h4><%= team.name %></h4>

          <table>
            <tr>
              <td>Ideation</td>
              <td><%= score.ideation_total %></td>
              <td></td>
            </tr>

            <tr>
              <td>Technical</td>
              <td><%= score.technical_total %></td>
              <td></td>
            </tr>

            <tr>
              <td>Pitch</td>
              <td><%= score.pitch_total %></td>
              <td></td>
            </tr>

            <% if team.senior? %>
              <tr>
                <td>Entrepreneurship</td>
                <td><%= score.entrepreneurship_total %></td>
                <td></td>
              </tr>
            <% end %>

            <tr>
              <td>Overall</td>
              <td><%= score.overall_impression_total %></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Final:</th>
              <td><%= score.total %></td>
              <td></td>
            </tr>
          </table>
        </header>

        <div class="sections">
          <h3>Ideation</h3>

          <table>
            <% Questions.for(score).in_section(:ideation).each do |question| %>
              <tr>
                <td><%= question.text %></td>
                <td><%= question.score %></td>
                <td></td>
              </tr>
            <% end %>
          </table>

          <h3>Technical</h3>

          <table>
            <% Questions.for(score).in_section(:technical).each do |question| %>
              <tr>
                <td><%= question.text %></td>
                <td><%= question.score %></td>
                <td></td>
              </tr>
            <% end %>
          </table>

          <h3>Pitch</h3>

          <table>
            <% Questions.for(score).in_section(:pitch).each do |question| %>
              <tr>
                <td><%= question.text %></td>
                <td><%= question.score %></td>
                <td></td>
              </tr>
            <% end %>
          </table>

          <% if team.senior? %>
            <h3>Entrepreneurship</h3>

            <table>
              <% Questions.for(score).in_section(:entrepreneurship).each do |question| %>
                <tr>
                  <td><%= question.text %></td>
                  <td><%= question.score %></td>
                  <td></td>
                </tr>
              <% end %>
            </table>
          <% end %>

          <h3>Overall Impression</h3>

          <table>
            <% Questions.for(score).in_section(:overall).each do |question| %>
              <tr>
                <td><%= question.text %></td>
                <td><%= question.score %></td>
                <td></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="page <%= team.division_name %> page-comments">
        <h2>Comments given for <%= team.name %> by <%= judge.name %></h2>
        <h3>(they may be shortened to fit the page)</h3>

        <h3>Ideation</h3>
        <%= simple_format(truncate(score.ideation_comment, length: 500)) %>

        <h3>Technical</h3>
        <%= simple_format(truncate(score.technical_comment, length: 500)) %>

        <h3>Pitch</h3>
        <%= simple_format(truncate(score.pitch_comment, length: 500)) %>

        <% if team.senior? %>
          <h3>Entrepreneurship</h3>
          <%= simple_format(truncate(score.entrepreneurship_comment, length: 500)) %>
        <% end %>

        <h3>Overall Impression</h3>
        <%= simple_format(truncate(score.overall_comment, length: 500)) %>
      </div>
    <% end %>
  <% end %>
<% end %>