<h1>
  <%= t("views.profile_requirements.background_check.label") %>
</h1>

<% if profile.requires_background_check? %>
  <% if profile.background_check.requesting_invitation? %>
    <%= render "background_checks/rebrand/statuses/requesting_invitation" %>
  <% elsif profile.background_check.error? %>
    <%= render "background_checks/rebrand/statuses/error" %>
  <% elsif profile.background_check.invitation_pending? %>
    <%= render "background_checks/rebrand/statuses/invitation_pending" %>
  <% elsif profile.background_check_submitted? %>
    <%= render "background_checks/rebrand/statuses/bg_check_submitted" %>
  <% else %>
    <%= render "background_checks/rebrand/statuses/bg_check_required" %>
  <% end %>
<% else %>
  <%= render "background_checks/rebrand/statuses/bg_check_not_required" %>
<% end %>
