<p class="mb-4">
  The Chapter Volunteer Agreement serves as the formal agreement between
  Technovation and you, as the Chapter Ambassador representing an
  organization with whom Technovation is working.
</p>

<p class="mb-8">
  After you have read all guidelines and policies below, please click
  the link to sign the Chapter Volunteer Agreement.
</p>

<div class="ml-8 mb-8">
  <ol role="list" class="space-y-4">
    <%= render "application/templates/sub_checklist_item",
               name: "Brand Guidelines",
               url: ENV.fetch("CHAPTER_AMBASSADOR_BRAND_GUIDELINES_URL"),
               new_tab: true,
               is_complete: false
    %>

    <%= render "application/templates/sub_checklist_item",
               name: "Social Media Guidelines",
               url: ENV.fetch("CHAPTER_AMBASSADOR_SOCIAL_MEDIA_GUIDELINES_URL"),
               new_tab: true,
               is_complete: false
    %>

    <%= render "application/templates/sub_checklist_item",
               name: "Code of Conduct",
               url: ENV.fetch("CHAPTER_AMBASSADOR_CODE_OF_CONDUCT_URL"),
               new_tab: true,
               is_complete: false
    %>

    <%= render "application/templates/sub_checklist_item",
               name: "Safety Page",
               url: ENV.fetch("INTERNET_SAFETY_URL"),
               new_tab: true,
               is_complete: false
    %>
  </ol>
</div>

<% if params[:chapter_volunteer_agreement_sent].present? || current_ambassador.chapter_volunteer_agreement.present? %>
  <p>The Chapter Volunteer Agreement has been sent to you, if you have not received it or you are experiences issues, please reach out to <%= mail_to ENV.fetch("HELP_EMAIL") %>.</p>
<% else %>
  <div class="text-center">
    <%= button_to "Review and Sign",
      chapter_ambassador_chapter_volunteer_agreement_path,
      method: "post",
      class: "tw-green-btn",
      onclick: "this.disabled=true; this.form.submit();"
    %>
  </div>
<% end %>
