<div>
  <p class="mb-4">
    Check out all our resources for running the Technovation program on the
    <%= link_to "Ambassador Resource Page",
                ENV.fetch("CHAPTER_AMBASSADOR_RESOURCE_PAGE_URL"),
                class: "tw-link" %>!
  </p>

  <p class="mb-4">
    Join Technovation’s global community of ambassadors to stay connected and up-to-date with the
    latest news and best practices.
  </p>

  <p class="mb-4">
    We have added you to our email list to receive information about training, program deadlines,
    and other relevant information to support leading a Technovation chapter.
  </p>

  <p>
    You can also join our Global Community of Ambassadors by participating in the following groups:
  </p>
  <ul class="list-disc mb-8">
    <li class="ml-8">
      Join out global ambassador's
      <%= link_to "LinkedIn Group",
                  ENV.fetch("CHAPTER_AMBASSADOR_LINKEDIN_GROUP_URL"),
                  class: "tw-link",
                  target: "_blank" %>!
    </li>
    <li class="ml-8">
      Connect with other ambassadors and mentors on our
      <%= link_to "Slack group",
                  ENV.fetch("CHAPTER_AMBASSADOR_SLACK_URL"),
                  class: "tw-link",
                  target: "_blank" %>!
      If you're a new ambassador, look out for an email to join the group.
    </li>
    <li class="ml-8">
      Join our Whatsapp group and join a regional community (Coming soon)
    </li>
  </ul>

  <p class="font-semibold">Please answer these questions so our team can better support you.</p>

  <div class="my-4">
    <p class="font-medium">Your selected availability to join councils, trainings, etc <span class="text-sm italic">(*optional)</span></p>
    <% if current_ambassador.community_connection&.availability_slots&.any? %>
      <ul class="list-disc ml-8">
        <% current_ambassador.community_connection.availability_slots.each do |availability_slot| %>
          <li><%= availability_slot.time %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-red-500 ml-8">None added</p>
    <% end %>
  </div>

  <div class="my-4">
    <p class="font-medium">Topics you are interested in sharing <span class="text-sm italic">(*optional)</span></p>
    <p class="ml-8"><%= current_ambassador.community_connection&.topic_sharing_response.presence || raw('<span class="text-red-500">None added</span>')%></p>
  </div>

  <div class="w-full lg:w-1/3 flex mt-8 mx-auto">
    <% if current_ambassador.community_connection.present? %>
      <%= link_to "Update community connections",
                  edit_club_ambassador_community_connections_path,
                  class: "tw-green-btn mx-auto" %>
    <% else %>
      <%= link_to "Add community connections",
                  new_club_ambassador_community_connections_path,
                  class: "tw-green-btn mx-auto" %>
    <% end %>
  </div>
</div>
