<p class="mb-4">
  The Memorandum of Understanding serves as the formal agreement between Technovation and you,
  as the Chapter Ambassador representing a non-profit organization with whom Technovation is working.
</p>

<p class="mb-8">Please confirm that you have read each of these policies and then click the link
  to sign the Memorandum of Understanding.
</p>

<div class="ml-8 mb-8">
  <ol role="list" class="space-y-4">
    <%= render "application/templates/completion_step_checklist_item",
               name: "Non-Disclosure Agreement",
               url: "#",
               is_complete: false
    %>

    <%= render "application/templates/completion_step_checklist_item",
               name: "Brand Guidelines",
               url: "#",
               is_complete: false
    %>

    <%= render "application/templates/completion_step_checklist_item",
               name: "Social Media Admin Agreement",
               url: "#",
               is_complete: false
    %>

    <%= render "application/templates/completion_step_checklist_item",
               name: "Social Media Policy",
               url: "#",
               is_complete: false
    %>

    <%= render "application/templates/completion_step_checklist_item",
               name: "Technovation Code of Conduct",
               url: "#",
               is_complete: true
    %>

    <%= render "application/templates/completion_step_checklist_item",
               name: "Reviewed Safety Page",
               url: "#",
               is_complete: false
    %>
  </ol>
</div>

<div class="text-center">
  <%= link_to "Review and Sign",
              "/",
              class: "tw-green-btn" %>
</div>
