<label>
  Search by name or email:
  <%= text_field_tag :text, params[:text], placeholder: "Press enter after typing" %>
</label>

<label>
  Season:
  <%= select_tag :season,
    options_for_select(Season.pluck(:year).sort.reverse, params[:season]) %>
</label>

<label>
  Account type:
  <%= select_tag :type,
    options_for_select(%w{All Mentor Student RegionalAmbassador Judge}, params[:type]) %>
</label>

<% if params[:type] == "Student" %>
  <label>
    Parental Consent Status:
    <%= select_tag :parental_consent_status,
      options_for_select(%w{All Signed Sent No\ Info\ Entered},
                         params[:parental_consent_status]) %>
  </label>
<% end %>

<% if params[:type] == "Mentor" %>
  <label>
    On a team:
    <%= select_tag :team_status,
      options_for_select(%w{All On\ a\ team No\ team}, params[:team_status]) %>
  </label>

  <label>
    Cleared status:
    <%= select_tag :cleared_status,
    options_for_select(%w{All
                       Consent\ Signed,\ BG\ Check\ Clear
                       Background\ Check\ Pending
                       Background\ Check\ Consider
                       Background\ Check\ Suspended
                       Background\ Check\ Not\ Started
                       Consent\ Waiver\ Not\ Signed
                       }, params[:cleared_status]) %>
  </label>
<% end %>

<div class="clearfix admin-search__export-options">
  <%= form_tag regional_ambassador_exports_path(params.merge(class: "accounts")) do %>
    <strong>Export with active filters</strong>
    <%= button_tag "Email CSV Report", class: "appy-button" %>
  <% end %>
</div>
