<h1 class="appy-title">Users</h1>

<p class="appy-subtitle">
  You're browsing users in your region: <%= current_ambassador.region_name %>.
</p>

<div class="flex-row">
  <div class="flex-col-md-4">
    <div class="admin-search__filter-options">
      <label class="no-text-transform">
        Search by name or email:
        <%= text_field_tag :text, params[:text], class: "submit-on-enter",
        placeholder: "Press enter after typing",
        data: { param: :text } %>
      </label>

      <label class="no-text-transform">
        Season:
        <%= select_tag :season,
          options_for_select(Season.pluck(:year).sort.reverse, params[:season]),
          data: { reload: true, param: :season } %>
      </label>

      <label class="no-text-transform">
        Account type:
        <%= select_tag :type,
          options_for_select(%w{All Mentor Student RegionalAmbassador Judge}, params[:type]),
          data: { reload: true, param: :type } %>
      </label>

      <% if params[:type] == "Student" %>
        <label class="no-text-transform">
          Parental Consent Status:
          <%= select_tag :parental_consent_status,
            options_for_select(%w{All Signed Sent No\ Info\ Entered},
                               params[:parental_consent_status]),
          data: { reload: true, param: :parental_consent_status } %>
        </label>
      <% end %>

      <% if params[:type] == "Mentor" %>
        <label class="no-text-transform">
          On a team:
          <%= select_tag :team_status,
            options_for_select(%w{All On\ a\ team No\ team}, params[:team_status]),
            data: { reload: true, param: :team_status } %>
        </label>

        <label class="no-text-transform">
          Cleared status:
          <%= select_tag :cleared_status,
            options_for_select(%w{All Clear Needs\ background\ check Needs\ consent\ waiver}, params[:cleared_status]),
            data: { reload: true, param: :cleared_status } %>
        </label>
      <% end %>

      <div class="clearfix admin-search__export-options">
        <hr />

        <%= form_tag regional_ambassador_exports_path(params.merge(class: "accounts")) do %>
          <%= button_tag "Email CSV Report", class: "appy-button" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex-col-md-8 wrapper__report-column">
    <div class="scrolly-table">
      <div class="scrolly-table__overflow-handler">
        <table>
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Email</th>
              <th>Team Name(s)</th>
              <th>School / Company</th>
              <th>Division</th>
              <th>Location</th>
            </tr>
          </thead>

          <tbody>
            <% @accounts.order('accounts.created_at DESC').each do |account| %>
              <% cache(account) do %>
                <tr>
                  <td><%= account.type_name %></td>
                  <td><%= account.full_name %></td>
                  <td><%= account.email %></td>
                  <td><%= account.teams.current.flat_map(&:name).to_sentence %></td>
                  <td><%= account.get_school_company_name %></td>
                  <td><%= account.division %></td>
                  <td><%= account.address_details %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="wrapper__report-footer">
      <div class="pagination_info">
        <%= page_entries_info @accounts,
          model: params[:type] == "All" ? "Account" : params[:type] %>
      </div>

      <%= will_paginate @accounts %>

      <label class="no-text-transform per_page">
        Per page:
        <%= select_tag :per_page,
        options_for_select([10, 25, 50, 100], params[:per_page]),
        data: {
          reload: true,
          param: :per_page,
        } %>
      </label>
    </div>
  </div>
</div>
