<p class="appy-subtitle">
  You're browsing users in your region: <%= current_ambassador.region_name %>.
</p>

<div class="flex-row">
  <div class="flex-col-md-4">
    <div class="admin-search__filter-options">
      <%= render 'regional_ambassador/profiles/filter_options' %>
    </div>
  </div>

  <div class="flex-col-md-8 wrapper__report-column">
    <div class="admin-results-table">
      <div class="admin-results-header-table">
        <div class="header">Type</div>
        <div class="header">Signed up</div>
        <div class="header">Name</div>
        <div class="header">Email</div>

        <% if params[:type] == "Student" %>
          <div class="header">Parent Email</div>
        <% end %>

        <div class="header">School / Company name</div>
        <div class="header">Division</div>
        <div class="header">Referred by</div>
        <div class="header">Location</div>
      </div>

      <div class="admin-results-data-table">
        <% @accounts.order('accounts.created_at DESC').each do |account| %>
          <% cache(account) do %>
            <div class="row">
              <div class="cell">
                <%= account.type_name %>
              </div>

              <div class="cell">
                <% if account.created_at.year == Time.current.year %>
                  <%= time_ago_in_words(account.created_at) %> ago
                <% else %>
                  <%= account.created_at.strftime("%b %e, %Y") %>
                <% end %>
              </div>

              <div class="cell">
                <%= account.full_name %>
              </div>

              <div class="cell">
                <%= mail_to account.email %>
              </div>

              <% if params[:type] == "Student" %>
                <div class="cell"><%= mail_to account.student_profile.parent_guardian_email %></div>
              <% end %>

              <div class="cell">
                <%= account.get_school_company_name %>
              </div>

              <div class="cell">
                <%= account.division %>
              </div>

              <div class="cell">
                <%= account.referred_by %>
                <%= account.referred_by_other %>
              </div>

              <div class="cell">
                <%= account.address_details %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="wrapper__report-footer">
      <%= render 'regional_ambassador/profiles/footer' %>
    </div>
  </div>
</div>
