<h1 class="appy-title">Edit location details</h1>

<h2><%= @account.type_name.titleize %> - <%= @account.full_name %></h2>

<%= simple_form_for @profile, url: admin_profile_path(@profile) do |f| %>
  <%= f.fields_for :account do |a| %>
    <%= a.input :city %>
    <%= a.input :state_province %>

    <%= a.input :country,
      collection: CountryStateSelect.countries_collection,
      input_html: {
        class: "chosen",
      } %>

    <%= a.input :location_confirmed, as: :boolean, input_html: {
      checked: true,
      value: "1",
    } %>
  <% end %>

  <%= f.submit "Save location details", class: "appy-button" %>
<% end %>
