<div class="panel">
  <h1 class="page-heading">Edit location details</h1>

  <h3><%= @account.scope_name.titleize %> - <%= @account.full_name %></h3>

  <%= simple_form_for @account, url: admin_participant_path(@account) do |f| %>
    <%= f.input :city %>
    <%= f.input :state_province %>

    <p>
      <%= f.input :country,
        collection: CountryStateSelect.countries_collection,
        input_html: {
          class: "chosen",
        } %>
    </p>

    <p>
      <%= f.input :location_confirmed,
        as: :boolean,
        input_html: {
          checked: true,
          value: "1",
        } %>
    </p>

    <%= f.submit "Save location details", class: "button" %>
  <% end %>
</div>
