<%= turbo_stream.remove(@judge) %>
<%= turbo_stream.remove("no-judges-found") %>

<%= turbo_stream.append "judges-assigned-to-team",
  partial: "admin/regional_pitch_events/judges/judge_assigned_to_team",
  locals: {judge: @judge, team: @team }
%>

<%= turbo_stream.append "flash-messages" do %>
  <%= render "flash_messages" %>
<% end %>

<%= turbo_stream.replace dom_id(@team, :judge_count) do %>
  <span id="<%= dom_id(@team, :judge_count) %>">
    <%= @team.assigned_judges.count %>
  </span>
<% end %>

<%= turbo_stream.replace dom_id(@judge, :teams_count) do %>
  <span id="<%= dom_id(@judge, :teams_count) %>">
    <%= @judge.assigned_teams_for_event(@team.event).count %>
  </span>
<% end %>