<%= turbo_stream.remove(@judge) %>

<%= turbo_stream.append "available-judges",
  partial: "admin/regional_pitch_events/judges/judge_available_for_team_assignment", 
  locals: {judge: @judge, team: @team}
%>

<%= turbo_stream.append "flash-messages" do %>
  <%= render "flash_messages" %>
<% end %>

<%= turbo_stream.replace dom_id(@team, :judge_count) do %>
  <span id="<%= dom_id(@team, :judge_count) %>">
    <%= @team.assigned_judges.count %>
  </span>
<% end %>

<%= turbo_stream.replace dom_id(@judge, :teams_count) do %>
  <span id="<%= dom_id(@judge, :teams_count) %>">
    <%= @judge.assigned_teams_for_event(@team.event).count %>
  </span>
<% end %>