<h3 class="reset">
  <%= current_ambassador.chapterable_type.titleize %> Resources
</h3>

<ul>
  <li>
    <%= link_to "#{current_ambassador.scope_name.humanize.titleize} Resource Page",
      "https://technovationchallenge.org/ambassador-resources/",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "Platform Overview Video",
      "https://app.screencastify.com/v3/watch/AnfFGugdo2hz3xOongkv",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "Safety Information",
      "https://www.technovation.org/safety/",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "Season Timeline",
      "https://technovationchallenge.org/wp-content/uploads/2024/07/24-25-Timeline-English.pdf",
      target: "_blank"
    %>
  </li>
</ul>

<h3 class="reset">Mentor Resources</h3>

<ul>
  <li>
    <%= link_to "Mentor Curriculum",
      "https://technovationchallenge.org/mentor-curriculum/",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "Mentor Resources",
      "https://technovationchallenge.org/mentor-resources/",
      target: "_blank"
    %>
  </li>
</ul>

<h3 class="reset">Student Resources</h3>

<ul>
  <li>
    Student Curricula
    <ul>
      <li>
        <%= link_to "Beginner",
          "https://technovationchallenge.org/courses/beginner-division-curriculum/",
          target: "_blank"
        %>
        <br>
      </li>

      <li>
        <%= link_to "Junior",
          "https://technovationchallenge.org/courses/junior-division-curriculum/",
          target: "_blank"
        %>
      </li>

      <li>
        <%= link_to "Senior",
          "https://technovationchallenge.org/courses/senior-division-curriculum/",
          target: "_blank"
        %>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li>
    <%= link_to "How do teams submit?",
      "https://iridescentsupport.zendesk.com/hc/en-us/sections/115000630314-Submission",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "Submission Guidelines",
      "https://www.technovationchallenge.org/submission-guidelines/",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "How will a team's project be judged?",
      "https://iridescentsupport.zendesk.com/hc/en-us/sections/115000250428-Judging-Pitching-and-Results",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "Judging Rubrics for all divisions",
      "https://www.technovationchallenge.org/judging-rubric/",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "Judge Recruitment",
      "https://technovationchallenge.org/get-involved/judges/",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "Award Structure",
      "https://technovationchallenge.org/award-structure/",
      target: "_blank"
    %>
  </li>

  <li>
    <%= link_to "FAQ",
      "https://iridescentsupport.zendesk.com/hc/en-us/categories/115000091348-Technovation-Girls",
      target: "_blank"
    %>
  </li>
</ul>
