<div class="flex-row">
  <dl class="flex-col-md-6">
    <dt>Description</dt>
    <dd><%= simple_format submission.app_description %></dd>

    <dt>Sustainable Development Goal:</dt>
    <dd>
      <%= submission.stated_goal %>
      <%= simple_format submission.stated_goal_explanation %>
    </dd>
  </dl>

  <dl class="flex-col-md-6">
    <dt>Demo video:</dt>
    <dd>
      <% if submission.demo_video_link %>
        <%= link_to submission.demo_video_link,
          submission.demo_video_link,
          target: :_blank %>
      <% end %>
    </dd>

    <dt>Pitch video:</dt>
    <dd>
      <% if submission.pitch_video_link %>
        <%= link_to submission.pitch_video_link,
          submission.pitch_video_link,
          target: :_blank %>
      <% end %>
    </dd>

    <% if submission.team_division_name == "senior" %>
      <dt>Business plan (Senior division only)</dt>
      <dd>
        <% if submission.business_plan %>
          <%= link_to submission.business_plan_url_text,
            submission.business_plan_url,
            target: :_blank %>
        <% end %>
      </dd>
    <% end %>

    <dt>Screenshots (at least 2 required):</dt>
    <dd><%= submission.screenshots.count %></dd>

    <dt>Technical checklist started?</dt>
    <dd><%= submission.technical_checklist_started? ? 'yes' : 'no' %></dd>

    <dt>Source code</dt>
    <dd>
      <% if submission.source_code_url_text %>
        <%= link_to submission.source_code_url_text,
          submission.detect_source_code_url,
          target: :_blank %>
      <% end %>
    </dd>

    <dt>Development platform</dt>
    <dd><%= submission.development_platform_text %></dd>

    <% if submission.team.selected_regional_pitch_event.live? %>
      <dt>Pitch presentation (live event teams only)</dt>
      <dd>
        <% if submission.pitch_presentation %>
          <%= link_to submission.pitch_presentation_url_text,
            submission.pitch_presentation_url,
            target: :_blank %>
        <% end %>
      </dd>
    <% end %>
  </dl>
</div>

<% unless submission.technical_checklist_started? %>
  <p>
    Technical checklist
    <strong>not started!</strong>.
    They must <strong>at least</strong> start it for judging eligibility.
  </p>
<% end %>

<% if submission.technical_checklist_started? %>
  <p>
    This team has at least started their technical checklist and will earn
    up to 10 points for it.
  </p>

  <table class="admin-table__team-submissions-checklist">
    <caption>Technical checklist</caption>
    <thead>
      <tr>
        <th>Checklist item</th>
        <th>Using?</th>
        <th>Explanation</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="3">
          <strong>Technical components</strong>
          1 point each, maximum 4 points
        </td>
      </tr>

      <% submission.technical_checklist.technical_components.each do |method| %>
        <tr>
          <td><%= method.to_s.titleize %></td>
          <td><%= submission.technical_checklist.public_send(method) %></td>
          <td><%= submission.technical_checklist.public_send("#{method}_explanation") %></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="3">
          <strong>Database components</strong>
          1 point each, maximum 1 point
        </td>
      </tr>

      <% submission.technical_checklist.database_components.each do |method| %>
        <tr>
          <td><%= method.to_s.titleize %></td>
          <td><%= submission.technical_checklist.public_send(method) %></td>
          <td><%= submission.technical_checklist.public_send("#{method}_explanation") %></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="3">
          <strong>Mobile components</strong>
          2 points each, maximum 2 points
        </td>
      </tr>

      <% submission.technical_checklist.mobile_components.each do |method| %>
        <tr>
          <td><%= method.to_s.titleize %></td>
          <td><%= submission.technical_checklist.public_send(method) %></td>
          <td><%= submission.technical_checklist.public_send("#{method}_explanation") %></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="3">
          <strong>Pictures of process</strong>
          All 3 required for 3 points
        </td>
      </tr>

      <% submission.technical_checklist.pics_of_process.each do |method| %>
        <tr>
          <td><%= method.to_s.titleize %></td>
          <td colspan="2"><%= submission.technical_checklist.public_send(method).present? %></td>
        </tr>
      <% end %>

      <tr>
        <td>At least 2 Screenshots</td>
        <td colspan="2"><%= submission.screenshots.count %></td>
      </tr>
    </tbody>
  </table>
<% end %>
