<p>Recent registration report:</p>

<label class="no-text-transform">
  Show signups in the past
  <%= select_tag :days,
                 options_for_select(
                   {
                     "Day" => 1,
                     "Week" => 7,
                     "Month" => 30,
                     "3 months" => 90,
                     "6 months" => 180,
                     "9 months" => 270,
                   },
                   params[:days]
                 ),
                 class: "inline",
                 data: { reload: true, param: :days } %>
</label>


<dl>
  <dt><%= link_to "Accounts", admin_accounts_path %></dt>
  <dd><%= @accounts.count %></dd>

  <dt><%= link_to "Students", admin_accounts_path(type: "Student") %></dt>
  <dd><%= @students.count %></dd>

  <dt><%= link_to "Mentors", admin_accounts_path(type: "Mentor") %></dt>
  <dd><%= @mentors.count %></dd>

  <dt><%= link_to "RAs", admin_regional_ambassadors_path %></dt>
  <dd><%= @ambassadors.count %></dd>

  <dt><%= link_to "Judges", admin_accounts_path(type: "Judge") %></dt>
  <dd><%= @judges.count %></dd>
</dl>
