<%
  method = case params[:days]
           when 1;  :group_by_hour
           when 7;  :group_by_day
           when 30; :group_by_week
           else;    :group_by_month
           end

  range = case params[:days]
          when 1; 24
          when 7; 7
          when 30; 4
          when 90; 3
          when 180; 6
          when 270; 9
          end
%>

<div class="admin-dashboard">
  <div class="admin-dashboard__column">
    <div class="admin-dashboard__header">
      <h1 class="appy-title">Recent activity</h1>

      <label class="no-text-transform">
        Show signups in the past
        <%= select_tag :days,
                      options_for_select(
                        {
                          "Day" => 1,
                          "Week" => 7,
                          "Month" => 30,
                          "3 months" => 90,
                          "6 months" => 180,
                          "9 months" => 270,
                        },
                        params[:days]
                      ),
                      class: "inline",
                      data: { reload: true, param: :days } %>
      </label>
    </div>

    <div class="admin-dashboard__quickviews-wrapper">
      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "Teams", admin_teams_path %> <%= @teams.count %>
        </div>

        <div class="card__body">
          <%= line_chart @teams.public_send(method, "teams.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "Students", admin_accounts_path(type: "Student") %> <%= @students.count %>
        </div>

        <div class="card__body">
          <%= line_chart @students.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <span>Permitted Students</span> <%= @permitted_students.count %>
        </div>

        <div class="card__body">
          <%= line_chart @permitted_students.public_send(method, "parental_consents.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "Mentors", admin_accounts_path(type: "Mentor") %> <%= @mentors.count %>
        </div>

        <div class="card__body">
          <%= line_chart @mentors.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <span>Cleared mentors</span> <%= @cleared_mentors.count %>
        </div>

        <div class="card__body">
          <%= line_chart @cleared_mentors.public_send(method, "consent_waivers.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "RAs", admin_regional_ambassadors_path %> <%= @ambassadors.count %>
        </div>

        <div class="card__body">
          <%= line_chart @ambassadors.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
        </div>
      </div>

      <div class="quickview card">
        <div class="card__heading">
          <%= link_to "Judges", admin_accounts_path(type: "Judge") %> <%= @judges.count %>
        </div>

        <div class="card__body">
          <%= line_chart @judges.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
        </div>
      </div>
    </div>
  </div>

  <div class="admin-dashboard__sidebar">
    <%= render 'account_snapshots', title: "#{Season.current.year} Snapshot" %>
  </div>
</div>
