<% provide :title, "Admin dashboard" %>

<h1>Technovation <%= Season.current.year %></h1>

<div id="admin-dashboard">
  <admin-dashboard
    :chart-endpoints="{
      onboarding_students: '<%= admin_data_analysis_path(:onboarding_students) %>',
      returning_students: '<%= admin_data_analysis_path(:returning_students) %>',
      onboarding_mentors: '<%= admin_data_analysis_path(:onboarding_mentors) %>',
      returning_mentors: '<%= admin_data_analysis_path(:returning_mentors) %>',
      top_countries: '<%= admin_data_analysis_path(:top_countries) %>',
    }"
  />
</div>