<% provide :title, "Admin dashboard" %>

<div class="grid">
  <div class="grid__col-10">
    <h1>Technovation <%= Season.current.year %></h1>

    <div class="panel">
      <h3>Students</h3>

      <dl>
        <dt>Total:</dt>
        <dd><%= number_with_delimiter @students.count %></dd>
      </dl>

      <h3>Parental permission</h3>

      <%= content_tag :canvas, nil,
        class: "quickview-charts quickview-charts--students-permitted",
        data: {
          chart_data: {
            labels: [
              "With parental permission – #{show_percentage(@permitted_students, @students)}",
              "Without parental permission – #{show_percentage(@unpermitted_students, @students)}",
            ],
            datasets: [
              {
                data: [
                  @permitted_students.count,
                  @unpermitted_students.count,
                ],
                backgroundColor: [
                  'rgba(54, 162, 235, 0.7)',
                  'rgba(255, 99, 132, 0.7)',
                ],
                hoverBackgroundColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 99, 132, 1)',
                ],
                urls: [
                  admin_participants_path(
                    accounts_grid: {
                      scope_names: ["student"],
                      parental_consent: "parental_consented",
                    }
                  ),
                  admin_participants_path(
                    accounts_grid: {
                      scope_names: ["student"],
                      parental_consent: "not_parental_consented",
                    }
                  ),
                ],
              },
            ],
          },
        } %>
    </div>

    <div class="panel">
      <h3>New vs. Returning</h3>

      <%= content_tag :canvas, nil,
        class: "quickview-charts quickview-charts--students-returning",
        data: {
          chart_data: {
            labels: [
              "Returning students – #{show_percentage(@returning_students, @students)}",
              "New students – #{show_percentage(@new_students, @students)}",
            ],
            datasets: [
              {
                data: [
                  @returning_students.count,
                  @new_students.count,
                ],
                backgroundColor: [
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                ],
                hoverBackgroundColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                ],
              },
            ],
          },
        } %>
    </div>

    <div class="panel">
      <h3>Mentors</h3>

      <dl>
        <dt>Total:</dt>
        <dd><%= number_with_delimiter @mentors.count %></dd>
      </dl>

      <h3>Background check / consent waivers</h3>

      <%= content_tag :canvas, nil,
        class: "quickview-charts quickview-charts--mentors",
        data: {
          chart_data: {
            labels: [
              "Signed consent & cleared a background check, if required – #{show_percentage(@cleared_mentors, @mentors)}",
              "Only signed consent – #{show_percentage(@signed_consent_mentors, @mentors)}",
              "Only cleared bg check, if required – #{show_percentage(@cleared_bg_check_mentors, @mentors)}",
              "Have done niether – #{show_percentage(@niether_mentors, @mentors)}",
            ],
            datasets: [
              {
                data: [
                  @cleared_mentors.count,
                  @signed_consent_mentors.count,
                  @cleared_bg_check_mentors.count,
                  @niether_mentors.count,
                ],
                backgroundColor: [
                  'rgba(255, 99, 132, 0.7)',
                  'rgba(54, 162, 235, 0.7)',
                  'rgba(255, 206, 86, 0.7)',
                  'rgba(75, 192, 192, 0.7)',
                ],
                hoverBackgroundColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                ],
                urls: [
                  admin_participants_path(
                    accounts_grid: {
                      scope_names: ["mentor"],
                      background_check: "bg_check_clear",
                      consent_waiver: "consent_signed",
                    }
                  ),
                  admin_participants_path(
                    accounts_grid: {
                      scope_names: ["mentor"],
                      background_check: "bg_check_submitted",
                      consent_waiver: "consent_signed",
                    }
                  ),
                  admin_participants_path(
                    accounts_grid: {
                      scope_names: ["mentor"],
                      background_check: "bg_check_clear",
                      consent_waiver: "consent_not_signed",
                    }
                  ),
                  admin_participants_path(
                    accounts_grid: {
                      scope_names: ["mentor"],
                      background_check: "bg_check_unsubmitted",
                      consent_waiver: "consent_not_signed",
                    }
                  ),
                ],
              },
            ],
          },
        } %>
    </div>

    <div class="panel">
      <h3>New vs. Returning</h3>

      <%= content_tag :canvas, nil,
        class: "quickview-charts quickview-charts--mentors-returning",
        data: {
          chart_data: {
            labels: [
              "Returning mentors – #{show_percentage(@returning_mentors, @mentors)}",
              "New mentors – #{show_percentage(@new_mentors, @mentors)}",
            ],
            datasets: [
              {
                data: [
                  @returning_mentors.count,
                  @new_mentors.count,
                ],
                backgroundColor: [
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                ],
                hoverBackgroundColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                ],
              },
            ],
          },
        } %>
    </div>
  </div>
</div>
