<%
  method = case params[:days]
           when 1;  :group_by_hour
           when 7;  :group_by_day
           when 30; :group_by_week
           else;    :group_by_month
           end

  range = case params[:days]
          when 1; 24
          when 7; 7
          when 30; 4
          when 90; 3
          when 180; 6
          when 270; 9
          end
%>

<p>Recent registration report:</p>

<label class="no-text-transform">
  Show signups in the past
  <%= select_tag :days,
                 options_for_select(
                   {
                     "Day" => 1,
                     "Week" => 7,
                     "Month" => 30,
                     "3 months" => 90,
                     "6 months" => 180,
                     "9 months" => 270,
                   },
                   params[:days]
                 ),
                 class: "inline",
                 data: { reload: true, param: :days } %>
</label>


<dl>
  <dt>
    <%= link_to "Accounts", admin_accounts_path %> &mdash; <%= @accounts.count %>
  </dt>

  <dd>
    <%= line_chart @accounts.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
  </dd>

  <dt>
    <%= link_to "Students", admin_accounts_path(type: "Student") %> &mdash; <%= @students.count %>
  </dt>

  <dd>
    <%= line_chart @students.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
  </dd>

  <dt>
    <%= link_to "Mentors", admin_accounts_path(type: "Mentor") %> &mdash; <%= @mentors.count %>
  </dt>

  <dd>
    <%= line_chart @mentors.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
  </dd>

  <dt>
    <%= link_to "RAs", admin_regional_ambassadors_path %> &mdash; <%= @ambassadors.count %>
  </dt>

  <dd>
    <%= line_chart @ambassadors.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
  </dd>

  <dt>
    <%= link_to "Judges", admin_accounts_path(type: "Judge") %> &mdash; <%= @judges.count %>
  </dt>

  <dd>
    <%= line_chart @judges.public_send(method, "accounts.created_at", last: range, current: false).count, width: "300px", height: "150px" %>
  </dd>
</dl>
