<% provide :title, "Admin dashboard" %>

<h1>Technovation <%= Season.current.year %></h1>

<div class="panel">
  <h3>Students</h3>

  <dl>
    <dt>Total:</dt>
    <dd><%= @students.count %></dd>

    <dt>With parental permission:</dt>
    <dd><%= @permitted_students.count %></dd>

    <dt>Returning students:</dt>
    <dd><%= @returning_students.count %></dd>

    <dt>New students:</dt>
    <dd><%= @new_students.count %></dd>
  </dl>
</div>

<div class="panel">
  <h3>Mentors</h3>

  <dl>
    <dt>Total:</dt>
    <dd><%= @mentors.count %></dd>

    <dt>With consent waiver and background check, if required:</dt>
    <dd><%= @cleared_mentors.count %></dd>

    <dt>Returning mentors:</dt>
    <dd><%= @returning_mentors.count %></dd>

    <dt>New mentors:</dt>
    <dd><%= @new_mentors.count %></dd>
  </dl>
</div>
