Copy and paste the following snippet for a semifinalist blog post:
---

<%
  [
    { title: "Senior Division", columns: @senior_columns, id: "senior" },
    { title: "Junior Division", columns: @junior_columns, id: "junior" }
  ].each do |section|
%>
  <div class="row">
    <div class="col-12">
      <h2 id="<%= section[:id] %>"><%= section[:title] %></h2>
    </div>
    <% section[:columns].each do |column| %>
      <div class="col-12 col-sm-12 col-md-6">
        <table class="table">
          <tbody>
            <% column.each do |entry| %>
              <tr
                id="<%= entry[:country].downcase %>"
                class="country"
                style="background-color: #43b02a; color: white; font-weight: bold;"
              >
                <td><%= entry[:friendly_name] %></td>
                <td></td>
              </tr>
              <% entry[:submissions].each do |sub| %>
                <tr class="semifinalist">
                  <td><%= sub.team.name %></td>
                  <td><%= sub.app_name %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
