<h4><%= t("views.application.availability") %>:</h4>

<% if mentor.virtual? %>
  <p><%= t("views.student.mentors.show.virtual", name: mentor.first_name) %></p>
<% else %>
  <p><%= t("views.student.mentors.show.in_person", location: mentor.address_details,
                                                    name: mentor.first_name) %></p>
<% end %>

<%= form_for [:student, mentor_invite] do |f| %>
  <%= f.hidden_field :invitee_email, value: mentor.email %>
  <%= f.submit t("views.mentors.show.invite_to_team", name: mentor.first_name), class: "appy-button" %>
<% end %>
