<strong><%= t("views.application.availability") %>:</strong>

<% if mentor.virtual? %>
  <p><%= mentor.first_name %> will mentor teams from anywhere.</p>
<% else %>
  <p><%= mentor.first_name %> will only mentor teams from <%= mentor.address_details %>.</p>
<% end %>

<%= form_for [:student, mentor_invite] do |f| %>
  <%= f.hidden_field :invitee_email, value: mentor.email %>
  <%= f.submit "Ask #{mentor.first_name} to mentor your team",
    class: "button" %>
<% end %>
