<% provide :title, t("views.student.mentors.show.title") %>

<div class="grid grid--justify-space-around">
  <div class="panel grid__col-sm-8">
    <% if params[:review_before] %>
      <div class="grid__cell">
        <%= link_to :back, class: "button secondary" do %>
          <span class="back-btn"></span>
          Search results
        <% end %>

        <p>
          Review this mentor's profile before asking them to join your team below.
        </p>
      </div>
    <% end %>

    <%= render 'profiles/public_show',
      title: t("views.student.mentors.show.title"),
      account: @mentor %>

    <strong>
      <%= t("views.student.mentors.show.teams", name: @mentor.first_name) %>
    </strong>

    <% if @mentor.teams.current.any? %>
      <ul class="unstyled">
        <%= render partial: 'student/mentors/team_preview',
          collection: @mentor.teams.current,
          locals: { profile: @mentor } %>
      </ul>
    <% else %>
      <p>
        <%= t("views.student.mentors.show.no_teams",
              name: @mentor.first_name) %>
      </p>
    <% end %>

    <% if current_team.present? and SeasonToggles.team_building_enabled? %>
      <%= render "student/mentors/#{mentor_invitation_template(current_student.team, @mentor)}",
        mentor_invite: @mentor_invite,
        mentor: @mentor,
        team: current_student.team %>

      <% # #mentor_invitation_template defined in app/helpers/student_helper.rb %>
    <% end %>
  </div>
</div>
