<%= render 'accounts/public_show', title: t("views.student.mentors.show.title"), account: @mentor %>

<h4><%= t("views.student.mentors.show.teams", name: @mentor.first_name) %></h4>

<% if @mentor.teams.current.any? %>
  <ul>
    <%= render partial: 'student/mentors/team_preview',
              collection: @mentor.teams.current,
              cached: true %>
  </ul>
<% else %>
  <p><%= t("views.student.mentors.show.no_teams", name: @mentor.first_name) %></p>
<% end %>

<%= render "student/mentors/#{mentor_invitation_template(current_student.team, @mentor)}",
           mentor_invite: @mentor_invite,
           mentor: @mentor,
           team: current_student.team %>

<% # See app/helpers/student_helper.rb %>
