<%= render 'accounts/show', title: t("views.student.mentors.show.title"),
                            account: @mentor %>

<h4><%= t("views.student.mentors.show.teams") %></h4>
<ul>
  <%= render partial: 'student/mentors/team_preview', collection: @mentor.teams %>
</ul>

<p>
  <% if current_student.invited_mentor?(@mentor) %>
    <%= t("views.mentors.show.already_invited") %>
  <% else %>
    <%= form_for [:student, @mentor_invite] do |f| %>
      <%= f.hidden_field :invitee_email, value: @mentor.email %>
      <%= f.submit t("views.mentors.show.invite_to_team") %>
    <% end %>
  <% end %>
</p>
