<% provide :title, t("views.student.mentors.show.title") %>

<div class="container mx-auto flex flex-col lg:flex-row justify-around w-full lg:w-1/2">
  <%= render layout: 'application/templates/dashboards/energetic_container', locals: { heading: 'Mentor Details'} do %>
    <%= render 'profiles/rebrand/public_show',
               title: t("views.student.mentors.show.title"),
               account: @mentor %>

    <%= render "application/templates/tw_thick_rule" %>

    <section class="my-8">
      <h3 class="font-bold text-2xl"><%= t("views.student.mentors.show.teams", name: @mentor.first_name) %></h3>

      <% if @mentor.teams.current.any? %>
        <ul class="unstyled">
          <%= render partial: "student/mentors/team_preview",
                     collection: @mentor.teams.current,
                     locals: { profile: @mentor } %>
        </ul>
      <% else %>
        <p>
          <%= t("views.student.mentors.show.no_teams",
                name: @mentor.first_name) %>
        </p>
      <% end %>
    </section>

    <%= render "application/templates/tw_thick_rule" %>

    <section class="my-8">
      <% if current_team.present? and SeasonToggles.team_building_enabled? %>
        <%= render(
              "student/mentors/#{mentor_invitation_template(current_team, @mentor)}",
              mentor_invite: @mentor_invite,
              mentor: @mentor,
              team: current_team
            ) %>
      <% end %>
    </section>
  <% end %>
</div>
