<div class="mentor">
  <h1>
    <%= link_to mentor_preview.full_name, mentor_preview %>

    <span>
      <%= mentor_preview.school_company_name %>
      &mdash;
      <%= mentor_preview.address_details %>
    </span>
  </h1>

  <% mentor_preview.expertises.each do |expertise| %>
    <span class="badge-<%= @search_filter.badge_css(expertise) %>">
      <%= expertise.name %>
    </span>
  <% end %>
</div>
