<div class="mx-auto" style="width: 556px;">
  <div class="tab-content tw-active">
    <div class="tw-blue-lg-container">
      <div class="sm-header-wrapper bg-energetic-blue text-white p-2">
        <% if current_account.assigned_to_chapterable? %>
          <p class="font-bold">
            Update or Confirm your <%= current_account.assigned_to_chapter? ? "Chapter" : "Club" %>
          </p>
        <% else %>
          <p class="font-bold">Find a Chapter or Club</p>
        <% end %>
      </div>

      <div class="p-6">
        <% if current_account.assigned_to_chapterable? %>
          <h3 class="mb-2 text-2xl">
            Your Current <%= current_account.assigned_to_chapter? ? "Chapter" : "Club" %>
          </h3>

          <div class="p-2 border bg-blue-50">
            <%= render "chapterable_details", chapterable: current_account.current_chapterable %>
          </div>

          <div class="flex justify-between mt-10">
            <% if @chapters.values.flatten.present? || @clubs.values.flatten.present? %>
              <div>
                <%= link_to "Update",
                  "#",
                  onclick: "event.preventDefault(); document.getElementById('chapertable-selection').style.display='block';",
                  class: "tw-gray-btn"
                %>
              </div>
            <% end %>

            <div>
              <%= link_to "Confirm",
                send("#{current_account.scope_name}_dashboard_path"),
                class: "tw-green-btn"
              %>
            </div>
          </div>
        <% end %>

        <% if @chapters.values.flatten.present? || @clubs.values.flatten.present? %>
          <div id="chapertable-selection" class="prose" style="display: <%= current_account.assigned_to_chapterable? ? "none" : "block" %>">
            <% if current_account.assigned_to_chapterable? %>
              <hr class="border-t border-gray-300 my-8">
            <% else %>
              <%= render "chapterable_account_assignments/#{current_account.scope_name}/chapters_found_intro_text" %>
            <% end %>

            <% if @primary_chapters.empty? && @primary_clubs.empty? %>
              <p class="m-0 font-bold">
                There aren’t any Chapters or Clubs based in your area.

                <% if @additional_chapters.present? && @additional_clubs.present? %>
                  Click below to show all Chapters or Clubs in your country.
                <% elsif @additional_chapters.present? && @additional_clubs.empty? %>
                  Click below to show all Chapters in your country.
                <% elsif @additional_chapters.empty? && @additional_clubs.present? %>
                  Click below to show all Clubs in your country.
                <% end %>
              </p>
            <% end %>

            <% if current_account.country == "Spain" %>
              <%= render "chapterable_account_assignments/additional_info/spain" %>
            <% end %>

            <div class="flex flex-col space-y-6 mt-8">
              <%= simple_form_for @chapterable_assignment do |f| %>

                <% if @primary_chapters.present? || @primary_clubs.present? %>
                  <h2 style="font-size: 1.875rem; font-weight: 600; color: #1f2937; margin-top: 0;">
                    Chapters
                  </h2>

                  <% @primary_chapters.each do |chapter| %>
                    <%= render "chapterable_form_field", chapterable: chapter %>
                  <% end %>

                  <%= render "additional_chapters" %>

                  <% if @primary_clubs.present? %>
                    <h2 style="font-size: 1.875rem; font-weight: 600; color: #1f2937; margin-top: 0;">
                      Clubs
                    </h2>

                    <% @primary_clubs.each do |club| %>
                      <%= render "chapterable_form_field", chapterable: club %>
                    <% end %>

                    <%= render "additional_clubs" %>
                  <% else %>
                    <h2 style="font-size: 1.875rem; font-weight: 600; color: #1f2937; margin-top: 0;">
                      Clubs
                    </h2>

                    <%= render "additional_clubs" %>
                  <% end %>
                <% else %>
                  <% if @additional_chapters.present? %>
                    <h2 style="font-size: 1.875rem; font-weight: 600; color: #1f2937; margin-top: 0;">
                      Chapters
                    </h2>

                    <%= render "additional_chapters" %>
                  <% end %>

                  <% if @additional_clubs.present? %>
                    <h2 style="font-size: 1.875rem; font-weight: 600; color: #1f2937; margin-top: 0;">
                      Clubs
                    </h2>

                    <%= render "additional_clubs" %>
                  <% end %>
                <% end %>

                <%= render "none_of_the_above_option" %>
                <%= render "chapterable_account_assignments/mentor/extra_form_fields" %>

                <%= f.submit "Save", class: "tw-green-btn cursor-pointer mt-8" %>
              <% end %>
            </div>

            <hr class="border-t border-gray-300 my-4">

            <p class="font-bold mb-2">
              Working with a Chapter or Club that isn't listed?
            </p>

            <p class="mt-2">
              Contact us at <%= mail_to ENV.fetch("HELP_EMAIL"), ENV.fetch("HELP_EMAIL"), class: "tw-link" %>
              and we'll connect your account with them.
            </p>
          </div>
        <% else %>
          <%= render "chapterable_account_assignments/#{current_account.scope_name}/no_chapterables_found" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
