<h1 class="appy-title"><%= Season.current.year %> Technovation Honor Code</h1>

<p>Technovation’s mission is to educate and empower young women to make a difference in their community using technology. In order to maintain a fair, safe, fun and friendly competition for all involved, it is important that all participants agree to support young women in realizing this mission. By indicating that you agree and signing below, you promise that all elements of your <%= Season.current.year %> Technovation submission were created solely by the students on your <%= Season.current.year %> Technovation team. Students may receive assistance from mentors in learning new skills and finding resources, but mentors will not create, design, develop or write any aspect of the team’s submission deliverables. Finally, you will not use any code, writing or other materials previously created by other individuals as a part of your team’s <%= Season.current.year %> Technovation submission.</p>

<%= simple_form_for @honor_code_agreement, url: [:student, @honor_code_agreement] do |f| %>
  <%= f.input :agreement_confirmed, as: :boolean, label: "I agree to the statement above" %>
  <%= f.input :electronic_signature %>
  <%= f.button :submit, "Agree" %>
<% end %>
