<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render "mentor/scores/side_nav" %>

  <%= render layout: "application/templates/dashboards/energetic_container", locals: { heading: "Scores & Certificates" } do %>

    <% if current_mentor.onboarded? && SeasonToggles.display_scores? %>
      <% if @current_teams.any? %>
        <%= render "mentor/scores/team_scores_and_certificates", current_teams: @current_teams %>
      <% else %>
        <%= render "mentor/scores/no_teams" %>
      <% end %>
    <% else %>
      <%= render "explanations/feature_not_available", feature: :scores %>
    <% end %>

  <% end %>
</div>