<h3 class="reset">Team debugging</h3>

<div class="panel submission">
  <h6>Submission</h6>

  <% if team.submission.present? %>
    <p>
      View this team's submission:
      <%= link_to team.submission.app_name, send("#{current_scope}_team_submission_path", team.submission) %>
    </p>

    <%= submission_progress_bar(team.submission) %>
  <% else %>
    <p>This team has not started their submission</p>
  <% end %>
</div>

<div class="panel">
  <p>
    <strong>Searchable to students?</strong>

    <%= team.accepting_student_requests? ? "Yes" : "No" %>

    <p class="hint">
      To change this, a team member should toggle
      <br />
      <strong>
        Allow other students to find our team and request to join us
      </strong>
      <br />
      on the students tab of their team page
    </p>
  </p>

  <p>
    <strong>Searchable to mentors?</strong>

    <%= team.accepting_mentor_requests? ? 'Yes' : 'No' %>

    <p class="hint">
      To change this, a team member should toggle
      <br />
      <strong>
        Allow other mentors to find our team and request to join us
      </strong>
      <br />
      on the mentors tab of their team page
    </p>
  </p>
</div>

<h4 class="reset">Team Member Invites</h4>
<p class="hint reset">
  Invites go <strong>from the team</strong> to a student or mentor
</p>

<div class="panel">
  <% if team.team_member_invites.any? %>
    <table class="datagrid">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>User type</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% team.team_member_invites.each do |invite| %>
          <tr>
            <td><%= invite.id %></td>
            <td><%= invite.invitee_email %></td>

            <% if invite.invitee %>
              <td><%= invite.invitee_type %></td>
            <% else %>
              <td>Not yet registered</td>
            <% end %>

            <td><%= invite.status %></td>
            <td>
              <% if invite.pending? %>
                <%= link_to(
                  "Delete invitation",
                  send("#{current_scope}_team_member_invite_path", invite),
                  data: {
                    method: :delete,
                    confirm: t(
                      "controllers.invites.destroy.confirm",
                      name: invite.invitee_name
                    )
                  }
                ) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>None</p>
  <% end %>
</div>

<h4 class="reset">Join Requests</h4>
<p class="hint reset">
  Join Requests go <strong>from a student or mentor</strong> to the team
</p>

<div class="panel">
  <% if team.join_requests.any? %>
    <table class="datagrid">
      <thead>
        <tr>
          <th>ID</th>
          <th>Account Type</th>
          <th>Account ID</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% team.join_requests.each do |join_request| %>
          <tr>
            <td><%= join_request.requestor_id %></td>

            <% if join_request.requestor_type == "StudentProfile" && join_request.requestor_scope_name.blank? %>
              <% student_profile = StudentProfile.with_deleted.find(join_request.requestor_id) %>

              <td><%= student_profile.scope_name %></td>
              <td><%= student_profile.account_id %></td>
              <td><%= student_profile.full_name %></td>
            <% else %>
              <td><%= join_request.requestor_scope_name %></td>
              <td><%= join_request.requestor_account_id %></td>
              <td><%= join_request.requestor_full_name %></td>
            <% end %>

            <td><%= join_request.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>None</p>
  <% end %>
</div>
