<div class="flex-row">
  <div class="flex-col-md-4">
    <div class="admin-search__filter-options">
      <%= render 'admin/teams/filter_options' %>
    </div>
  </div>

  <div class="flex-col-md-8 wrapper__report-column">
    <div class="admin-results-table">
      <div class="admin-results-header-table">
        <div class="header">Name</div>
        <div class="header">Division</div>
        <div class="header">Has mentor(s)</div>
        <div class="header">Created</div>
        <div class="header">City</div>
        <div class="header">State</div>
        <div class="header">Country</div>
      </div>

      <div class="admin-results-data-table">
        <% @teams.order('teams.created_at DESC').each do |team| %>
          <div class="row">
            <div class="cell"><%= link_to team.name, admin_team_path(team) %></div>
            <div class="cell"><%= team.division_name %></div>
            <div class="cell"><%= team.mentors.any? ? 'yes' : 'no' %></div>
            <div class="cell"><%= time_ago_in_words(team.created_at) %> ago</div>
            <div class="cell"><%= team.city %></div>
            <div class="cell"><%= team.state_province %></div>
            <div class="cell"><%= team.country %></div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="wrapper__report-footer">
      <%= render 'admin/teams/footer' %>
    </div>
  </div>
</div>
