<h1><%= t('views.judge.scores.new.title') %></h1>

<%= render @submission %>

<%= simple_form_for [:judge, @submission, @score] do |f| %>
  <%= render partial: 'judge/scores/form_fields/score_category',
             collection: @categories,
             cached: true,
             locals: { f: f } %>

  <%= f.button :submit, t('views.application.save') %>
<% end %>
