<p>
  <strong><%= title %></strong><br />
  <%= Time.current.strftime("%A, %b %e, %H:%M %Z") %>
</p>

<p><strong><%= @snapshot_accounts.count %></strong> total Accounts</p>

<p><strong><%= @snapshot_teams.count %></strong> total Teams</p>

<div class="snapshot__cards">
  <div class="card">
    <div class="card__heading">
      Students
      <%= fa_icon "graduation-cap", class: "card-heading__flair" %>
    </div>
    <div class="card__body">
      <strong><%= @snapshot_students.count %></strong> total<br />
      <strong><%= @snapshot_students.joins(:parental_consent).where("parental_consents.voided_at IS NULL").count %></strong> with parental consent on file
    </div>
  </div>

  <div class="card">
    <div class="card__heading">
      Mentors
      <%= fa_icon "compass", class: "card-heading__flair" %>
    </div>
    <div class="card__body">
      <strong><%= @snapshot_mentors.count %></strong> total<br />
      <strong><%= @snapshot_mentors.full_access.count %></strong> with consent waiver, cleared background check (US only) on file
    </div>
  </div>

  <div class="card">
    <div class="card__heading">
      RAs
      <%= fa_icon "globe", class: "card-heading__flair" %>
    </div>
    <div class="card__body">
      <strong><%= @snapshot_ambassadors.count %></strong> total<br />
      <strong><%= @snapshot_ambassadors.full_access.count %></strong> with consent waiver, cleared background check (US only) on file
    </div>
  </div>

  <div class="card">
    <div class="card__heading">
      Judges
      <%= fa_icon "legal", class: "card-heading__flair" %>
    </div>
    <div class="card__body">
      <strong><%= @snapshot_judges.count %></strong> total<br />
      <strong><%= @snapshot_judges.full_access.count %></strong> with consent waiver on file
    </div>
  </div>

  <%= yield %>
</div>
