<% urls ||= {} %>

<% if steps.any? %>
  <h1><%= t("views.application.complete_your_profile") %></h1>

  <ul class="completion-steps">
    <% steps.each do |step| %>
      <li class="completion-step status-<%= step.completion_status %>">
        <span class="checkbox"><%= step.checkmark %></span>
        <%= step.label %>
        <%= render 'step_links', step: step, urls: urls %>
      </li>
    <% end %>
  </ul>
<% end %>
