<%
  try_again ||= false
  cta ||= "Change image"
  modal_id ||= "profile-image-upload"
  image_id ||= "profile-image"
  param_root ||= "#{current_scope}_profile"
  param_child ||= "account_attributes"
  param_child_id ||= current_account.id
  update_url ||= send("#{current_scope}_profile_path")
  choose_from_defaults ||= false
  current_image_path ||= nil
%>

<p>
  <% if try_again %>
    <%= link_to "Try a different image", '#',
      data: {
        opens_modal: modal_id,
      },
      class: "link-button link-button-neutral" %>
  <% else %>
    <%= link_to cta, '#',
      data: {
        opens_modal: modal_id,
      },
      class: "link-button link-button-neutral" %>
  <% end %>
</p>

<%= content_tag :div,
  class: "modal",
  id: modal_id,
  data: {
    heading: heading,
  } do %>

  <div class="modal-content">
    <%= direct_upload_form_for @uploader do |f| %>
      <label class="file-field" for="<%= modal_id %>_file_field">
        <div class="button secondary">Choose from your computer</div>

        <input type="hidden" name="utf8">
        <%= f.file_field :image, id: "#{modal_id}_file_field" %>
      </label>

      <p class="hint">
        <%= t("controllers.accounts.update.change_image_hint",
              size: size) %>
      </p>

      <div class="preview hidden">
        <small>Preview:</small>

        <div class="preview__img">
          <div class="remove hidden-xs hidden-xxs">
            <%= web_icon "close" %>
          </div>

          <img />

          <div class="danger remove hidden-sm hidden-md hidden-lg">
            remove
          </div>
        </div>
      </div>

      <%= f.submit t("views.application.upload"),
        class: "submit button small hidden" %>

      <% if choose_from_defaults %>
        <hr />

        or choose from our icon set...

        <%= content_tag :div,
          class: "icon-picker",
          data: {
            update_url: update_url,
            update_image: image_id,
            update_param_root: param_root,
            update_param_child: param_child,
            update_param_child_id: param_child_id,
          } do %>

          <% (21..24).each do |n| %>
            <% src = "placeholders/avatars/#{n}.svg" %>
            <%= image_tag src,
              class: ('selected' if current_image_path == image_path(src)) %>
          <% end %>

          <% (1..20).each do |n| %>
            <% src = "placeholders/avatars/#{n}.svg" %>
            <%= image_tag src,
              class: ('selected' if current_image_path == image_path(src)) %>
          <% end %>
        <% end %>

        <p>
          <small>
            Icons designed by
            <%= link_to "Icon Pond",
              "//www.flaticon.com/authors/popcorns-arts",
              target: :_blank %>
            and
            <%= link_to "Freepik",
              "//www.flaticon.com/authors/freepik",
              target: :_blank %>
            at
            <%= link_to "Flaticon", "//www.flaticon.com", target: :_blank %>
          </small>
        </p>

        <div style="display: none;" class="button save-icon">Save your icon</div>
      <% end %>
    <% end %>
  </div>
<% end %>
