<header
  class="grid grid--bleed navigation <%= "logged-in" if current_account.authenticated? %>"
>
  <%= web_icon("navicon") %>

  <div class="grid__col-9 grid__col-sm-3">
    <%= link_to "Technovation",
      content_for?(:root_path) ? yield(:root_path) : root_path,
      class: "logo" %>
  </div>

  <div class="grid__col-3 grid__col-sm-9 grid--align-end">
    <nav class="menu horizontal">
      <%= web_icon("close") %>

      <% if content_for?(:menu) %>
        <%= yield :menu %>
      <% elsif current_account.authenticated? %>
        <%= link_to t('views.application.signout'), signout_path %>
      <% else %>
        <%= link_to t('views.application.signin'),
          signin_path,
          class: al(signin_path) %>
      <% end %>
    </nav>
  </div>
</header>
