<header class="navigation" role="banner">
  <div class="container">
    <div class="navigation__content-wrapper">
      <%= link_to image_tag("tc-logo-white-tm.png"),
                  content_for?(:root_path) ? yield(:root_path) : application_dashboard_path,
                  class: "logo" %>

      <nav>
        <% if content_for?(:menu) %>
          <% unless Rails.env.staging? or Rails.env.production? %>
            <div class="navigation__locale-switcher">
              <%= form_tag locale_switch_url, data: { fancy: true } do %>
                <%= label_tag :locale, t("views.application.language") %>

                <%= select_tag :locale,
                  options_for_select(locale_names, current_account.locale) %>
              <% end %>
            </div>
          <% end %>

          <ul class="navigation__links-list">
            <%= yield :menu %>
          </ul>

          <a class="navigation__mobile-toggle fa fa-bars" id="mobile-menu-toggle">
            <!--FontAwesome-->
          </a>
        <% else %>
          <ul class="navigation__links-list navigation__links-list--no-mobile-menu">
            <li class="nav-link <%= al(signin_path) %>">
              <%= link_to t('views.application.signin'), signin_path %>
            </li>
          </ul>
        <% end %>
      </nav>
    </div>
  </div>
</header>
