<h1 class="appy-title">Technovation Girls</h1>

<h2>Registration is currently closed</h2>

<p>Thanks for your interest in Technovation Girls — we can't wait for you to be part of our global community!</p>

<p>
  <strong>
    Registration for Technovation Girls will open again in October. Please
    <%= link_to "sign up", "http://eepurl.com/gTS2KL" %>
    to receive a reminder email when registration opens.
  </strong>
</p>

<p>Until then, you can join the Technovation community by following:</p>

<ul class="unstyled">
  <li>
    <%= web_icon("facebook-square") %>
    <%= link_to "Facebook", 'https://www.facebook.com/technovationglobal' %>
  </li>

  <li>
    <%= web_icon("twitter-square") %>
    <%= link_to "Twitter", 'https://twitter.com/technovation' %>
  </li>

  <li>
    <%= web_icon("instagram") %>
    <%= link_to "Instagram", 'https://www.instagram.com/technovationglobal' %>
  </li>

  <li>
    <%= web_icon("youtube") %>
    <%= link_to "YouTube", 'https://www.youtube.com/channel/UCvxNjrhfz_M68fwT2QcurjQ' %>
  </li>
</ul>

<p>Want to learn about artificial intelligence (AI)? Learn to solve a problem in your community and build an AI prototype by signing up for our sister program, <%= link_to "Technovation Families", "http://www.curiositymachine.org/" %>.</p>

<p>Let's learn and build a better world together!</p>
