<h1 class="appy-title">Technovation</h1>

<h2>Registration is currently closed</h2>

<p>We're so excited you want to join Technovation — we can't wait for you to be part of our global community of 15,000 girls and 6,000 mentors!</p>

<p>
  <strong>
    Registrations for the Technovation
    <%= Season.next.year %>
    season will open on October 4, 2017.
    Please
    <%= link_to "sign up for our newsletter",
      "https://confirmsubscription.com/h/d/15B1DBF38F40C405" %>
    to receive registration information and season updates.
  </strong>
</p>

<p>Until then, get to know Technovation and get ready for the season!</p>

<p>Learn about the Technovation community on:</p>

<ul>
  <li>
    <%= fa_icon("facebook-square") %>
    <%= link_to "facebook.com/TechChal",
      'https://www.facebook.com/TechChal' %>
  </li>

  <li>
    <%= fa_icon("twitter-square") %>
    <%= link_to "@technovation", 'https://twitter.com/technovation' %>
  </li>

  <li>
    <%= fa_icon("instagram") %>
    <%= link_to "@techchal", 'https://www.instagram.com/techchal/' %>
  </li>

  <li>
    <%= fa_icon("youtube") %>
    <%= link_to "Technovation YouTube Channel",
      'https://www.youtube.com/channel/UCv2tGPHTx_RNQVJ6Ejc_3Bg' %>
  </li>
</ul>

<p>Host a screening of Codegirl, the documentary about Technovation</p>

<ul>
  <li>
    <%= link_to "Watch the trailer",
      "https://www.youtube.com/watch?v=cRb5iel-3Ck" %>
  </li>

  <li>
    <%= link_to "Request a screening", "http://www.codegirlmovie.com/" %>
  </li>
</ul>

<p>Get your mind in shape to solve big problems by building a hands-on STEM project offered through our sister program, <%= link_to "Curiosity Machine", "http://www.curiositymachine.org/" %>.</p>
