<h1 class="appy-title">Technovation Girls</h1>

<h2>Registration for the 2021-2022 season will open soon!</h2>

<p>Thanks for your interest in Technovation Girls — we can't wait for you to be part of our global community!</p>

<p>
  <strong>
    We can't wait for you to join our global community for the 2021-2022 season, whether you're new to Technovation
    Girls or returning for the 2nd, 3rd, 4th, 5th... or more times! Make sure to
    <%= link_to "sign up here", "http://eepurl.com/hvwHLP" %> so we can email you as soon as registration opens in
    early December.
  </strong>
</p>

<p>
  If you want to get an early start, check out our
  <%= link_to "updated submission guidelines", "https://technovationchallenge.org/submission-guidelines/" %>, our
  <%= link_to "Jr/Sr curriculum page", "https://technovationchallenge.org/curriculum-intro/registered/new/" %>, and
  last season's
  <%= link_to "live classes", "https://technovationchallenge.org/technovation-2021-live-classes/" %> to start
  deciding on your idea and don't forget to follow us on social for more updates:
</p>

<ul class="unstyled">
  <li>
    <%= web_icon("facebook-square") %>
    <%= link_to "Facebook", 'https://www.facebook.com/technovationglobal' %>
  </li>

  <li>
    <%= web_icon("twitter-square") %>
    <%= link_to "Twitter", 'https://twitter.com/technovation' %>
  </li>

  <li>
    <%= web_icon("instagram") %>
    <%= link_to "Instagram", 'https://www.instagram.com/technovationglobal' %>
  </li>

  <li>
    <%= web_icon("youtube") %>
    <%= link_to "YouTube", 'https://www.youtube.com/channel/UCvxNjrhfz_M68fwT2QcurjQ' %>
  </li>
</ul>

<p>Let's learn and build a better world together!</p>
