<div class="font-bold text-center mb-8">
  <h1 class="text-4xl">Technovation Girls</h1>

  <h2 class="text-3xl text-energetic-blue">Registration is currently closed</h2>
</div>

<p class="mb-4">Thanks for your interest in Technovation Girls — we can't wait for you to be part of our global community!</p>

<p class="mb-4">Teams who submitted a project, mentors, and judges may log in between July 12 and Sept 1 to view scores and download certificates.</p>

<p class="mb-4">
  Registration for Technovation Girls will open again by October. Please
  <%= link_to "sign up", "https://eepurl.com/hZMS2n", class: 'tw-link-magenta' %>
  to receive a reminder email when registration opens.
  You can start working on your next project now by checking out the
  <%= link_to "curriculum", "https://technovationchallenge.org/curriculum-intro/registered/new/", class: "tw-link-magenta" %>!
</p>

<p>
  You can learn more about <%= link_to "Technovation", "https://technovationchallenge.org/", class: "tw-link-magenta" %>
  on our website or follow us at:
</p>

<ul class="unstyled mb-4">
  <li>
    <%= web_icon("facebook-square") %>
    <%= link_to "Facebook", 'https://www.facebook.com/technovationglobal',
                class: 'tw-link-magenta' %>
  </li>

  <li>
    <%= web_icon("twitter-square") %>
    <%= link_to "Twitter", 'https://twitter.com/technovation',
                class: 'tw-link-magenta' %>
  </li>

  <li>
    <%= web_icon("instagram") %>
    <%= link_to "Instagram", 'https://www.instagram.com/technovationglobal',
                class: 'tw-link-magenta' %>
  </li>

  <li>
    <%= web_icon("youtube") %>
    <%= link_to "YouTube", 'https://www.youtube.com/channel/UCvxNjrhfz_M68fwT2QcurjQ',
                class: 'tw-link-magenta' %>
  </li>
</ul>

<p>Let's learn and build a better world together!</p>
