<div class="grid grid--justify-space-around">
  <div class="panel grid__col-md-9">
    <h1 class="appy-title">Thanks for your interest!</h1>

    <p>
      Registration is now closed for
      students, mentors, and regional ambassadors for the
      <%= Season.current.year %>
      season. Check back in the Fall for details about the
      <%= Season.next.year %>
      season. Feel free to email
      <%= mail_to ENV.fetch("ADMIN_EMAIL") %>
      or check out our
      <%= link_to "FAQ page", "http://www.technovationchallenge.org/faq/" %>
      for more information.
    </p>

    <p>
      In the meantime, stay connected! Follow us.
    </p>

    <%= render 'social_icon_links' %>

    <p>
      -The Technovation Team
    </p>
  </div>
</div>
