<% if step.ready? && step.links.any? %>
  <ul>
    <% step.links.each do |link| %>
      <li class="<%= link.completion_state(account) %>">
        <%= link.prefix %>
        <%= link_to link.text, link.url(urls), link.options %>
        <%= link.postfix %>
      </li>
    <% end %>
  </ul>
<% elsif step.future? %>
  <span><%= t("views.profile_requirements.links.complete_previous_steps") %></span>
<% end %>
