<div class="team-activity">
  <%= unlocked_content_tag account, send("new_#{account.type_name}_team_search_path"), :div do %>
    <div class="pending-team-invitations">
      <h4><%= t("views.application.dashboards.show.pending_team_invitations") %></h4>

      <% if account.pending_team_invitations.any? %>
        <ul>
          <% account.pending_team_invitations.each do |invitation| %>
            <li>
              <%= invitation.team_name %>&nbsp;&mdash;
              <%= link_to t("views.application.review"),
                          send("#{account.type_name}_#{invite_type}_invite_path", invitation) %>
            </li>
          <% end %>
        </ul>
      <% elsif account.can_join_a_team? %>
        <p><%= t("views.application.dashboards.show.no_pending_team_invitations") %></p>
      <% else %>
        <p><%= t("views.application.dashboards.show.no_more_invites") %></p>
      <% end %>

      <hr />

      <h4><%= t("views.application.dashboards.show.pending_team_requests") %></h4>

      <% if account.pending_team_requests.any? %>
        <ul>
          <% account.pending_team_requests.each do |team_request| %>
            <li><%= link_to team_request.joinable_name, team_request.joinable %></li>
          <% end %>
        </ul>
      <% elsif account.can_join_a_team? %>
        <p><%= t("views.application.dashboards.show.no_pending_team_requests") %></p>
        <%= unlocked_link_to account,
                            t("controllers.#{account.type_name}.team_searches.new.link"),
                            send("new_#{account.type_name}_team_search_path"),
                            class: "primary-button" %>
      <% else %>
        <p><%= t("views.application.dashboards.show.no_more_requests") %></p>
      <% end %>
    </div>
  <% end %>
</div>
