<% if account.full_access_enabled? %>
  <div class="team-invitations">
    <div class="team-invitations__incoming">
      <h4 class="appy-heading-lg">
        <%= t("views.application.dashboards.show.pending_team_invitations") %>
      </h4>

      <% if account.pending_team_invitations.any? %>
        <ul class="team-invitations__list">
          <% account.pending_team_invitations.each do |invitation| %>
            <li class="team-invitations__invitation card">
              <div class="team-invitations__team-photo">
                <%= image_tag invitation.team.team_photo, width: 100, height: 100 %>
              </div>

              <div class="team-invitations__team-info">
                <div class="team-invitations__team-name">
                  <%= invitation.team_name %>
                </div>

                <div class="team-invitations__team-description">
                  <%= invitation.team.description.blank? ?
                    "This team has not written a summary." :
                    invitation.team.description %>
                </div>

                <div class="card__actions-row card__actions-row--pos-fill">
                  <%= link_to t("views.application.view_team"),
                    send("#{current_scope}_#{invite_type}_invite_path", invitation),
                    class: "appy-button" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% elsif account.can_join_a_team? %>
        <p class="team-invitations__no-action">
          <%= t("views.application.dashboards.show.no_pending_team_invitations") %>
        </p>
      <% else %>
        <p class="team-invitations__no-action">
          <%= t("views.application.dashboards.show.no_more_invites") %>
        </p>
      <% end %>
    </div>

    <div class="team-invitations__outgoing">
      <h4 class="appy-heading-lg">
        <%= t("views.application.dashboards.show.pending_team_requests") %>
      </h4>

      <% if account.pending_team_requests.any? %>
        <ul class="team-invitations__list">
          <% account.pending_team_requests.each do |team_request| %>
            <li class="team-invitations__invitation card">
              <div class="team-invitations__team-info team-invitations__team-info--no-photo">
                <div class="team-invitations__team-name">
                  <%= team_request.joinable_name %>
                </div>

                <div class="card__actions-row card__actions-row--pos-fill">
                  <%= link_to t("views.application.view_team"),
                    team_request.joinable,
                    class: "appy-button"
                  %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% elsif account.can_join_a_team? %>
        <p class="team-invitations__no-action">
          <%= t("views.application.dashboards.show.no_pending_team_requests") %>
        </p>
      <% else %>
        <p class="team-invitations__no-action">
          <%= t("views.application.dashboards.show.no_more_requests") %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
