<% provide(:title, "Chapter Ambassador Signup") %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-sm-8 panel">
    <h1>
      Confirm your Chapter Ambassador details
    </h1>

    <%= simple_form_for(
      @chapter_ambassador_profile,
      url: chapter_ambassador_profile_details_confirmation_path
    ) do |f| %>
      <%= render 'errors', record: @chapter_ambassador_profile %>

      <%= f.input :id, as: :hidden %>

      <%= render 'signups/basic_profile_fields', f: f %>

      <%= render "signups/chapter_ambassador_profile_fields", f: f %>

      <h6 class="signup-section"><%= t("models.account.password") %></h6>

      <%= f.fields_for :account do |a| %>
        <%= a.input :password, label: t("models.account.password") %>
      <% end %>

      <p class="hint"><%= t("models.account.password_hint") %></p>

      <%= f.button :submit,
        t('views.signups.form.create_account'),
        class: 'button' %>
    <% end %>
  </div>
</div>
