<h1 class="content-heading">
  <%= t("views.profile_requirements.background_check.label") %>
</h1>

<% if profile.requires_background_check? %>
  <% if @job.present? && @job.status == "queued" %>
    <%= render "background_checks/statuses/invitation_job_queued" %>
  <% else %>
    <% if profile.background_check.invitation_pending? %>
      <%= render "background_checks/statuses/invitation_pending" %>
    <% elsif profile.background_check_submitted? %>
      <%= render "background_checks/statuses/bg_check_submitted" %>
    <% else %>
      <%= render "background_checks/statuses/bg_check_required" %>
    <% end %>
  <% end %>
<% else %>
  <%= render "background_checks/statuses/bg_check_not_required" %>
<% end %>
