<li class="completion-step status-<%= account.is_on_team? ? "complete" : account.can_join_a_team? ? "ready" : "future" %>">
  <span class="checkbox"><%= account.is_on_team? ? fa_icon("check 2x") : nil %></span>

  <%= t("views.profile_requirements.create_join_team.heading") %>

  <% if account.can_join_a_team? and not account.is_on_team? %>
    <ul>
      <li>
        <%= link_to t("views.profile_requirements.create_join_team.links.join.text"),
                    [:new, account.type_name, :team_search] %>
      </li>

      <li>
        <%= link_to t("views.profile_requirements.create_join_team.links.create.text"),
                    [:new, account.type_name, :team] %>
      </li>
    </ul>
  <% elsif not account.is_on_team? %>
    <span><%= t("views.profile_requirements.links.complete_previous_steps") %></span>
  <% end %>
</li>
