<h3 class="margin--t-large">Invites from teams</h3>

<% if hidden ||= false %>
  <%= render 'explanations/feature_not_available', feature: :team_invites %>
<% else %>
  <% if SeasonToggles.judging_enabled_or_between? %>
    <p><%= t("views.team_member_invites.show.invites_disabled_by_judging") %></p>
  <% elsif invites.any? %>
    <p>You have been invited!</p>

    <% if current_scope == :student and invites.many? %>
      <p class="hint">You can only accept one!</p>
    <% end %>

    <% invites.each do |invite| %>
      <%= content_tag :div, id: dom_id(invite) do %>
        <div class="grid grid--bleed margin--t-large">
          <div class="grid__col-4">
            <div class="grid__cell">
              <%= image_tag invite.team.team_photo.url,
                            class: "thumbnail-md grid__cell-img" %>
            </div>
          </div>

          <div class="grid__col-8">
            <div class="grid__cell">
              <strong>From team: <%= invite.team_name %></strong>

              <p>
                <%= link_to "Open this invitation",
                            send("#{current_scope}_team_member_invite_path", invite) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>
      You have no pending invitations. When a team invites you to join,
      you will see the invitation here.
    </p>
  <% end %>
<% end %>