<% if requests.any? %>
  <h4 class="text-xl font-medium mb-2">Pending Join Requests</h4>

  <p class="mb-4">You have asked to join a team!</p>

  <% requests.each do |join_request| %>
    <%= content_tag :div,
      class: "join_request mb-6",
      id: dom_id(join_request) do %>

      <div class="flex flex-row">
        <div class="h-16 my-auto">
          <%= image_tag join_request.team_team_photo_url, class: "h-full object-cover my-auto" %>
        </div>
        <div class="ml-4">
          <p><%= join_request.team_name %></p>
          <p><%= join_request.team_primary_location %></p>
          <p>Division: <%= join_request.team_division_name.humanize %></p>
          <p>
            <%= link_to "Cancel my request to join this team",
              send("#{current_scope}_join_request_path", { id: join_request.review_token }),
              data: {
                method: :delete,
                confirm: t("controllers.student.join_requests.destroy.confirm")
              },
              class: "danger small"
            %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>