<div class="print-button">
  <button class="button" onclick="window.print()">
    <img src="https://icongr.am/fontawesome/print.svg?size=16&color=ffffff" />
    Print your event roster
  </button>
</div>

<% @groups.each do |group| %>
  <div class="cover-page">
    <div class="cover-page-content">
      <h1><%= @event.name %></h1>

      <div class="cover-page-teams">
        <h1>Teams</h1>

        <ul>
          <% group[:teams].each do |team| %>
            <li><%= team.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="cover-page-judges">
        <h1>Judges</h1>

        <ul>
          <% group[:judges].each do |judge| %>
            <li><%= judge.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="cover-page cover-page--blank">
    This page has been intentionally left blank.
  </div>

  <% group[:judges].each do |judge| %>
    <% group[:teams].each do |team| %>
      <% unless score = @scores.find { |score| score.judge_profile_id == judge.id && score.team == team }
        score = SubmissionScore.new(judge_profile: judge, team_submission: team.submission)
      end %>

      <% sections = Questions.sections_for(division: team.division_name) %>

      <div class="page <%= team.division_name %>">
        <header>
          <h3><%= judge.name %></h3>
          <h4><%= team.name %></h4>

          <table>
            <% sections.each do |section_lookup_key, section_display_name| %>
              <tr>
                <td><%= section_display_name %></td>
                <td><%= eval("score.#{section_lookup_key}_total") %></td>
                <td></td>
              </tr>
            <% end %>

            <tr>
              <th scope="row">Final:</th>
              <td><%= score.total %></td>
              <td></td>
            </tr>
          </table>
        </header>

        <div class="sections">
          <% sections.each do |section_lookup_key, section_display_name| %>
            <h3><%= section_display_name %></h3>

            <table>
              <% Questions.for(score).in_section(section_lookup_key).each do |question| %>
                <tr>
                  <td><%= question.text %></td>
                  <td><%= question.score %></td>
                  <td></td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      </div>

      <div class="page <%= team.division_name %> page-comments">
        <h2>Comments given for <%= team.name %> by <%= judge.name %></h2>
        <h3>(they may be shortened to fit the page)</h3>

        <% sections.each do |section_lookup_key, section_display_name| %>
          <h3><%= section_display_name %></h3>
          <%= simple_format(truncate(eval("score.#{section_lookup_key}_comment"), length: 500)) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
