<tr>
  <% if activity.trackable %>
    <td>
      <%= image_tag activity.trackable.profile_image_url,
        class: "thumbnail-xs" %>
    </td>
    <td><%= activity.trackable.scope_name.humanize %></td>
    <td>
      <%= link_to activity.trackable.name,
          send("#{current_scope}_participant_path", activity.trackable),
          data: { turbolinks: false } %>
    </td>
  <% else %>
    <td>–</td>
    <td>–</td>
  <% end %>

  <td>left the team</td>

  <% if activity.recipient %>
    <td>
      <%= link_to activity.recipient.name,
        send("#{current_scope}_participant_path", activity.trackable),
        data: { turbolinks: false } %>
    </td>
  <% else %>
    <td>–</td>
  <% end %>

  <td><%= time_ago_in_words(activity.created_at) %> ago</td>
</tr>
