<h3><%= t("views.mentor_searches.filter_options") %></h3>

<%= form_with url: request.fullpath, method: :get, local: true do |f| %>
  <label>Search by name</label>

  <%= f.text_field :text, class: "search-by-text", value: params[:text] %>
  <p class="hint">(press enter/return after typing)</p>

  <%= render 'searches/location_options', account: account, f: f %>

  <div class="search-toggles">
    <h3>Needs a team?</h3>

    <%= render 'searches/toggle_mentor_needs_team', account: account, f: f %>

    <h3>Only virtual mentors?</h3>

    <%= render 'searches/toggle_mentor_virtual', f: f %>

    <h3>Gender Identity</h3>

    <%= collection_check_boxes :search_filter, :gender_identities,
      @gender_identities, :second, :first do |b| %>
      <p>
        <%= b.check_box(
          id: "gender_#{b.value}",
          class: "toggle-based-search",
          checked: gender_identity_params.include?(b.value),
        ) %>

        <%= b.label text: b.text, for: "gender_#{b.value}" %>
      </p>
    <% end %>

    <h3>Expertise</h3>

    <%= collection_check_boxes :search_filter,
      :expertise_ids, @expertises, :id, :name do |b| %>
      <p>
        <%= b.check_box(
          id: "expertise_#{b.value}",
          class: "toggle-based-search",
          checked: params[:search_filter][:expertise_ids].map(&:to_i).include?(
            b.value
          )
        ) %>

        <%= b.label text: b.text, for: "expertise_#{b.value}" %>
      </p>
    <% end %>
  </div>
<% end %>
