<div class="search-filters__heading">
  <h4><%= t("views.mentor_searches.filter_options") %></h4>
</div>

<div class="search-filters__form-wrapper">
  <%= form_tag request.fullpath, method: :get do %>

    <div class="search-filters__text">
      <label>Search by name</label>
      <%= text_field_tag :text, params[:text], placeholder: "Press enter after typing" %>
    </div>

    <div class="search-filters__location">
      <%= render 'searches/location_options', account: account %>
    </div>

    <% if account.type_name == "student" %>
      <%= render 'searches/toggle_mentor_needs_team', account: account %>
      <%= render 'searches/toggle_mentor_virtual' %>
    <% end %>

    <%= collection_check_boxes :search_filter,
      :expertise_ids, @expertises, :id, :name do |b| %>
      <%= b.label do %>
        <%= b.check_box %>
        <%= fa_icon "check", class: "pseudo-checkbox" %>
        <%= b.text %>
      <% end %>
    <% end %>

    <div class="search-filters__button-wrapper">
      <%= button_tag t('views.application.filter'), class: "appy-button appy-button--sm" %>
    </div>
  <% end %>
</div>
