<div class="grid__col-sm-4 grid__col--bleed">
  <div class="search-result-head">
    <%= image_tag mentor_preview.profile_image_url, class: "grid__cell-img" %>

    <h3>
      <%= mentor_preview.full_name %>
    </h3>

    <p><%= mentor_preview.address_details %></p>

    <p><%= mentor_preview.school_company_name %></p>

    <div class="badges">
      <% mentor_preview.expertises.each do |expertise| %>
        <span class="badge badge-<%= @search_filter.badge_css(expertise) %>">
          <%= expertise.name %>
        </span>
      <% end %>
    </div>

    <div class="flags">
      <% if mentor_preview.is_on_team? %>
        <span class="flag flag-notice">
          <%= t("views.mentor_searches.new.mentor_preview.on_team") %>
        </span>
      <% else %>
        <span class="flag flag-success">
          <%= t("views.mentor_searches.new.mentor_preview.needs_team") %>
        </span>
      <% end %>

      <% if mentor_preview.virtual? %>
        <span class="flag flag-success">
          <%= t("views.mentor_searches.new.mentor_preview.virtual") %>
        </span>
      <% else %>
        <span class="flag flag-notice">
          <%= t("views.mentor_searches.new.mentor_preview.in_person") %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="search-result-foot grid--justify-center grid__cell-footer">
    <%= link_to "Ask #{mentor_preview.first_name} to mentor your team",
      send(
        "#{account.scope_name}_mentor_path",
        mentor_preview,
        { review_before: true }
      ),
      class: 'button' %>
  </div>
</div>
