<div class="mentor-search">
  <h1 class="appy-title"><%= t("views.mentor_searches.title") %></h1>
  <p class="appy-subtitle"><%= t("views.mentor_searches.intro") %></p>

  <div class="mentor-search__feature-wrapper">
    <div class="mentor-search__filters search-filters">
      <%= render "mentor_searches/filter_options", account: account %>
    </div>

    <div class="mentor-search__results">
      <h2 class="mentor-search__results-heading">Available Mentors</h2>

      <div class="mentor-search__mentors-wrapper">
        <%= render(partial: "mentor_searches/mentor_preview",
                   collection: @mentors,
                   locals: { account: account }) or
              t("views.mentor_searches.none_found") %>
      </div>
      <%= will_paginate @mentors %>
    </div>
  </div>
</div>
