<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        color: #333;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.2;
        padding: 2em;
      }

      img.logo {
        width: 300px;
        margin-right: 1em;
        float: right;
      }

      .content {
        clear: both;
      }

      h6 {
        font-size: 1em;
        margin-bottom: 0;
      }

      label {
        display: block;
        margin-top: 2.5em;
        font-size: 1rem;
        font-weight: bold;
      }

      input {
        background: none;
        border: 0;
        border-bottom: 1px solid #b5b5b5;
        display: block;
        font-size: 1rem;
        margin-top: .75rem;
        padding: 0 0 3px 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <%= image_tag(
      "tg-logo-color.png",
      class: "logo"
    ) %>

    <div class="content">
      <%= render 'parental_consents/consent' %>
    </div>

    <label>Participant’s Name, EXACTLY as it appears on participant’s Technovation Girls’ profile:</label>
    <%= text_field_tag nil, current_student.name %>

    <label>Participant Email address, EXACTLY as it appears on participant’s Technovation Girls’ profile:</label>
    <%= text_field_tag nil, current_student.email %>

    <label>Parent’s Name, EXACTLY as it appears on child’s Technovation Girls’ profile:</label>
    <%= text_field_tag nil, current_student.parent_guardian_name %>

    <label>Date:</label>
    <%= text_field_tag nil, nil %>

    <label>Signature:</label>
    <%= text_field_tag nil, nil %>
  </body>
</html>
