<%
  value_is_blank = submission.public_send(attribute).blank?
  base_path_name = "edit_#{scope}_team_submission_path"
  completion_css_class = value_is_blank ? :incomplete : :complete
  yield_block ||= false
%>

<div id="<%= dom_id(submission) %>_<%= attribute %>" class="panel">
  <h3 class="panel--heading submission-piece--name"><%= title %></h3>

  <div class="submission-piece--value <%= attribute %> <%= completion_css_class %>">
    <% if value_is_blank %>
      <p class="scent">
        There's nothing here yet, but your team can add content whenever it's ready!
      </p>

      <div class="panel--footer">
        <%= link_to cta_when_empty,
          send(base_path_name, submission, piece: attribute),
          class: "button small" %>
      </div>
    <% else %>
      <% if yield_block %>
        <%= yield %>
      <% else %>
        <p class="value"><%= submission.public_send(attribute) %></p>
      <% end %>

      <div class="panel--footer">
        <%= link_to cta_when_filled,
          send(base_path_name, submission, piece: attribute),
          class: "button small secondary" %>
      </div>
    <% end %>
  </div>
</div>
