<%
  value_is_complete = RequiredField.for(submission, attribute).complete?
  base_path_name = "edit_#{scope}_team_submission_path"
  completion_css_class = value_is_complete ? :complete : :incomplete
  link_options ||= {}
  attribute = :development_platform if attribute == :submission_type
%>

<div
  id="<%= dom_id(submission) %>_<%= attribute %>"
  class="my-8" <%= completion_css_class %>
>
  <h3 class="font-semibold mb-4"><%= title %></h3>

  <div
    class="
      submission-piece--value
      <%= attribute %>
      <%= completion_css_class %>
    "
  >
    <div class="ml-8">
      <% if value_is_complete %>
        <% if yield.blank? %>
          <p class="value"><%= submission.public_send(attribute) %></p>
        <% else %>
          <%= yield %>
        <% end %>

        <div class="mt-4">
          <%= link_to cta_when_filled,
            send(base_path_name, submission, piece: attribute),
            { class: "tw-green-btn small" }.merge(link_options) %>
        </div>
      <% else %>
        <p class="tw-hint">
          There's nothing here yet, but your team can
          update this part whenever it's ready!
        </p>

        <div>
          <%= link_to cta_when_empty,
            send(base_path_name, submission, piece: attribute),
            { class: "tw-gray-btn small" }.merge(link_options) %>
        </div>
      <% end %>

    </div>
  </div>
</div>
