<% provide :title, "Pitch Presentation Slides" %>

<div>
  <% if team.selected_regional_pitch_event.live? %>
    <% if submission.pitch_presentation_url_complete? %>
      <div class="field__existing-value">
        Your team has uploaded:
        <%= link_to submission.pitch_presentation_filename,
          submission.pitch_presentation_url %>
      </div>
    <% end %>

    <p class="tw-hint">File types allowed: *.ppt, *.pptx, *.pdf</p>

    <%= form_with model: submission,
      url: send("#{current_scope}_team_submission_path", submission, multipart: true),
      id: "team-submission-pitch-presentation-dropzone",
      class: "dropzone" do |f| %>

      <div class="fallback">
        <%= f.label :pitch_presentation,
          "Upload your team's pitch presentation slides" %>

        <%= f.file_field :pitch_presentation,
          id: "team_submission_pitch_presentation" %>

        <%= f.hidden_field :pitch_presentation_cache %>

        <%= f.submit "Upload", class: "button" %>
      </div>
    <% end %>

    <p class="dropzone-save mt-8" style="display: none;">
      <%= link_to "Save this upload",
        send("#{current_scope}_team_submission_path", submission,
        :section,
        section: @submission_section),
        class: "tw-green-btn"
      %>
    </p>

    <p class="after-dropzone-save mt-4 flex flex-row justify-end">
      <%= link_to "cancel",
        send("#{current_scope}_team_submission_path", submission,
        :section,
        section: @submission_section),
        class: "tw-gray-btn small"
      %>
    </p>

    <p class="py-2">
      Get some help putting your slides together in the
      <%= link_to "pitch presentation unit",
        "https://technovationchallenge.org/curriculum/pitch-4-create-a-pitch-presentation/",
        target: "_blank",
        class: "tw-link"
      %>
    </p>
  <% else %>
    <p class="tw-hint-strong">
      No team will submit pitch presentation slides here because all
      official Regional Pitch Events are canceled due to COVID this season.
    </p>

    <p>
      If you are attending a local celebration or unofficial pitch event, your
      Chapter Ambassador may ask you to share your pitch presentation slides with
      them before the event. Coordinate with them directly and good luck!
    </p>
  <% end %>
</div>
