<% provide :title, "Additional Information" %>

<% if @team_submission.errors.full_messages.any? %>
    <div class="notice notice--alert">
      Sorry, there was a problem saving your responses.<br>
      Please check the fields below.
    </div>
  <% end %>

  <%= form_with(
    model: @team_submission,
    url: send("#{current_scope}_team_submission_path"),
    local: true
  ) do |f| %>
    <%= hidden_field_tag :piece, piece_name %>

    <p class="tw-hint-strong font-xl italic mb-8">
      **Judges will not see these answers and this section will NOT affect your judge scores**
    </p>

    <div class="field">
      <%= f.label :ai,
        "Does your submission use artificial intelligence?",
        for: :team_submission_ai %>

      <%= f.select :ai,
        [["Yes", true], ["No", false]],
        { include_blank: true },
        data: {
          toggles: {
            "true": "#ai_description"
          },
        },
        class: "width--20-percent",
        id: :team_submission_ai %>

      <div id="ai_description">
        <p class="hint margin--b-none">Please explain how:</p>

        <%= f.text_area :ai_description,
          id: :team_submission_ai_description,
          data: {
            word_count: true,
            word_count_limit: 100,
            word_count_details_container: "ai-word-count"
          },
          rows: 5 %>

        <p id="ai-word-count" class="scent word-counter">
          Number of words typed:
          <br>
          <span class="word-count__total word-count--plenty-remaining">
            0
          </span>
          /
          <span class="word-count__limit"></span>
        </p>
      </div>
    </div>

    <div class="field margin--t-large">
      <%= f.label :climate_change,
        "Does your submission help solve climate change?",
        for: :team_submission_climate_change %>

      <%= f.select :climate_change,
        [["Yes", true], ["No", false]],
        { include_blank: true },
        data: {
          toggles: {
            "true": "#climate_change_description"
          },
        },
        class: "width--20-percent",
        id: :team_submission_climate_change %>

      <div id="climate_change_description">
        <p class="hint margin--b-none">Please explain how:</p>

        <%= f.text_area :climate_change_description,
          id: :team_submission_climate_change_description,
          data: {
            word_count: true,
            word_count_limit: 100,
            word_count_details_container: "climate-change-word-count"
          },
          rows: 5 %>

        <p id="climate-change-word-count" class="scent word-counter">
          Number of words typed:
          <br>
          <span class="word-count__total word-count--plenty-remaining">
            0
          </span>
          /
          <span class="word-count__limit"></span>
        </p>
      </div>
    </div>

    <div class="field margin--t-large">
      <%= f.label :game,
        t("submissions.solves_hunger_or_food_waste_question"),
        for: :team_submission_solves_hunger_or_food_waste %>

      <%= f.select :solves_hunger_or_food_waste,
        [["Yes", true], ["No", false]],
        { include_blank: true },
        data: {
          toggles: {
            "true": "#solves_hunger_or_food_waste_description"
          },
        },
        class: "width--20-percent",
        id: :team_submission_solves_hunger_or_food_waste %>

      <div id="solves_hunger_or_food_waste_description">
        <p class="hint margin--b-none">Please explain how:</p>

        <%= f.text_area :solves_hunger_or_food_waste_description,
          id: :team_submission_solves_hunger_or_food_waste_description,
          data: {
            word_count: true,
            word_count_limit: 100,
            word_count_details_container: "solves-hunger-or-food-waste-word-count"
          },
          rows: 5 %>

        <p id="solves-hunger-or-food-waste-word-count" class="scent word-counter">
          Number of words typed:
          <br>
          <span class="word-count__total word-count--plenty-remaining">
            0
          </span>
          /
          <span class="word-count__limit"></span>
        </p>
      </div>
    </div>

    <div class="field margin--t-large">
      <%= f.label :game,
        t("submissions.uses_open_ai_question"),
        for: :team_submission_game %>

      <%= f.select :uses_open_ai,
        [["Yes", true], ["No", false]],
        { include_blank: true },
        data: {
          toggles: {
            "true": "#uses_open_ai_description"
          },
        },
        class: "width--20-percent",
        id: :team_submission_game %>

      <div id="uses_open_ai_description">
        <p class="hint margin--b-none">Please explain how:</p>

        <%= f.text_area :uses_open_ai_description,
          id: :team_submission_uses_open_ai_description,
          data: {
            word_count: true,
            word_count_limit: 100,
            word_count_details_container: "uses-open-ai-word-count"
          },
          rows: 5 %>

        <p id="uses-open-ai-word-count" class="scent word-counter">
          Number of words typed:
          <br>
          <span class="word-count__total word-count--plenty-remaining">
            0
          </span>
          /
          <span class="word-count__limit"></span>
        </p>
      </div>
    </div>

    <div class="actions mt-8 submission-actions">
      <p class="btn-wrapper">
        <%= f.submit "Save my responses", class: "tw-green-btn cursor-pointer" %>
        or
        <%= link_to "cancel",
          send(
            "#{current_scope}_team_submission_section_path",
            @team_submission,
            section: @submission_section
          ) %>
      </p>
    </div>
  <% end %>
