<% provide :title, "Description" %>

<%= form_with(
  model: @team_submission,
  url: send("#{current_scope}_team_submission_path"),
  local: true
) do |f| %>
  <%= hidden_field_tag :piece, piece_name %>

  <div class="field">
    <%= f.label :app_description,
      "Describe your #{t("submissions.app")} in a few sentences (100 words or less)",
      for: :team_submission_app_description %>

    <%= f.text_area :app_description,
      id: :team_submission_app_description,
      data: {
        word_count: true,
        word_count_limit: 100,
      },
      rows: 6 %>

    <p class="scent scent--strong">
      <strong>Remember:</strong>
      only write a few sentences!
      The judges will have a lot of these to read, so keep it short!
    </p>
  </div>

  <div class="actions submission-actions">
    <p class="btn-wrapper">
      <%= f.submit "Save this description", class: "tw-green-btn cursor-pointer" %>
      or
      <%= link_to "cancel",
        send(
          "#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) %>
    </p>

    <p class="scent word-counter">
      Number of words typed:
      <br />
      <span class="word-count__total word-count--plenty-remaining">
        0
      </span>
      /
      <span class="word-count__limit"></span>
    </p>
  </div>
<% end %>

