<% provide :title, "Additional Information" %>

<% if @team_submission.errors.full_messages.any? %>
    <div class="notice notice--alert">
      Sorry, there was a problem saving your responses.<br>
      Please check the fields below.
    </div>
  <% end %>

  <%= form_with(
    model: @team_submission,
    url: send("#{current_scope}_team_submission_path"),
    data: { turbo: false },
    local: true
  ) do |f| %>
    <%= hidden_field_tag :piece, piece_name %>

    <p class="tw-hint-strong font-xl italic mb-8">
      **Judges will not see these answers and this section will NOT affect your judge scores**
    </p>

    <div class="field">
      <%= f.label :ai,
        "Does your submission use artificial intelligence?",
        for: :team_submission_ai %>

      <%= f.select :ai,
        [["Yes", true], ["No", false]],
        { include_blank: true },
        data: {
          toggles: {
            "true": "#ai_description"
          },
        },
        class: "w-full lg:w-full lg:w-1/5",
        id: :team_submission_ai %>

      <div id="ai_description" class="mt-4">
        <p class="tw-hint">Please explain how:</p>

        <%= f.text_area :ai_description,
          id: :team_submission_ai_description,
          data: {
            word_count: true,
            word_count_limit: 100,
            word_count_details_container: "ai-word-count"
          },
          rows: 5 %>

        <p id="ai-word-count" class="tw-hint word-counter">
          Number of words typed:
          <br>
          <span class="word-count__total word-count--plenty-remaining">
            0
          </span>
          /
          <span class="word-count__limit"></span>
        </p>
      </div>
    </div>

    <div class="field mt-4">
      <%= f.label :climate_change,
        "Does your submission help solve climate change?",
        for: :team_submission_climate_change %>

      <%= f.select :climate_change,
        [["Yes", true], ["No", false]],
        { include_blank: true },
        data: {
          toggles: {
            "true": "#climate_change_description"
          },
        },
        class: "w-full lg:w-1/5",
        id: :team_submission_climate_change %>

      <div id="climate_change_description" class="mt-4">
        <p class="tw-hint">Please explain how:</p>

        <%= f.text_area :climate_change_description,
          id: :team_submission_climate_change_description,
          data: {
            word_count: true,
            word_count_limit: 100,
            word_count_details_container: "climate-change-word-count"
          },
          rows: 5 %>

        <p id="climate-change-word-count" class="tw-hint word-counter">
          Number of words typed:
          <br>
          <span class="word-count__total word-count--plenty-remaining">
            0
          </span>
          /
          <span class="word-count__limit"></span>
        </p>
      </div>
    </div>

    <div class="field mt-4">
      <%= f.label :education,
        t("submissions.solves_education_question"),
        for: :team_submission_solves_education %>

      <%= f.select :solves_education,
        [["Yes", true], ["No", false]],
        { include_blank: true },
        data: {
          toggles: {
            "true": "#solves_education_description"
          },
        },
        class: "w-full lg:w-1/5",
        id: :team_submission_solves_education %>

      <div id="solves_education_description" class="mt-4">
        <p class="tw-hint">Please explain how:</p>

        <%= f.text_area :solves_education_description,
          id: :team_submission_solves_education_description,
          data: {
            word_count: true,
            word_count_limit: 100,
            word_count_details_container: "solves-education-word-count"
          },
          rows: 5 %>

        <p id="solves-education-word-count" class="tw-hint word-counter">
          Number of words typed:
          <br>
          <span class="word-count__total word-count--plenty-remaining">
            0
          </span>
          /
          <span class="word-count__limit"></span>
        </p>
      </div>
    </div>

    <div class="field mt-4">
      <%= f.label :promotes_wellbeing,
        t("submissions.promotes_wellbeing_question"),
        for: :team_submission_promotes_wellbeing %>
      <p class="tw-hint">
        Learn more
        <a href="https://technovationchallenge.org/award-structure/" target="_blank">here</a>
      </p>

      <%= f.select :promotes_wellbeing,
        [["Yes", true], ["No", false]],
        { include_blank: true },
        data: {
         toggles: {
           "true": "#promotes_wellbeing_description"
         },
        },
        class: "w-full lg:w-1/5",
        id: :team_submission_promotes_wellbeing %>

      <div id="promotes_wellbeing_description" class="mt-4">
        <p class="tw-hint">
          Please describe how your app gives users control, helps users protect
          their focus, helps them be their best self, and helps make real connections
          between people.
        </p>

        <%= f.text_area :promotes_wellbeing_description,
          id: :team_submission_promotes_wellbeing_description,
          data: {
            word_count: true,
            word_count_limit: 100,
            word_count_details_container: "promotes-wellbeing-word-count"
          },
          rows: 5 %>

        <p id="promotes-wellbeing-word-count" class="tw-hint word-counter">
          Number of words typed:
          <br>
          <span class="word-count__total word-count--plenty-remaining">
              0
            </span>
          /
          <span class="word-count__limit"></span>
        </p>
      </div>
    </div>

    <div class="actions mt-8 submission-actions">
      <p class="btn-wrapper">
        <%= f.submit "Save my responses", class: "tw-green-btn cursor-pointer" %>
        or
        <%= link_to "cancel",
          send(
            "#{current_scope}_team_submission_section_path",
            @team_submission,
            section: @submission_section
          ) %>
      </p>
    </div>
  <% end %>