<div class="panel">
  <h3 class="panel--heading">Description</h3>

  <%= form_with(
    model: [current_scope, @team_submission],
    local: true
  ) do |f| %>
    <%= hidden_field_tag :piece, piece_name %>

    <div class="field">
      <%= f.label :app_description,
        "Describe your app in only a few sentences or less",
        for: :team_submission_app_description %>

      <%= f.text_area :app_description,
        id: :team_submission_app_description,
        data: {
          word_count: true,
          word_count_limit: 100,
        },
        rows: 6 %>

      <p class="scent scent--strong">
        <strong>Remember:</strong>
        only write a few sentences!
        The judges will have a lot of these to read, so keep it short!
      </p>
    </div>

    <div class="actions">
      <p>
        <%= f.submit "Save this description", class: "button" %>
        or
        <%= link_to "cancel",
          [
            current_scope,
            @team_submission,
            :section,
            section: @submission_section,
          ] %>
      </p>

      <p class="scent word-counter">
        Number of words typed:
        <br />
        <span class="word-count__total word-count--plenty-remaining">
          0
        </span>
        /
        <span class="word-count__limit"></span>
      </p>
    </div>
  <% end %>

  <p class="grid__cell--padding-sm-y">
    Get some help writing your app description in the
    <%= link_to(
      "ideation curriculum unit.",
      "https://technovationchallenge.org/curriculum/ideation-6/",
      target: "_blank"
    ) %>
  </p>
</div>
