<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <%= form_with model: [:student, @team_submission], local: true do |f| %>
        <div class="field">
          <%= f.label :app_name, "Your app's name" %>
          <%= f.text_field :app_name, id: :team_submission_app_name %>
        </div>

        <div class="actions">
          <p>
            <%= f.submit "Save this name", class: "button" %>
            or
            <%= link_to "cancel", student_team_submission_path(@team_submission) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
