<% provide :title, @team.junior? ? "User Adoption Plan" : "Business Plan" %>

  <% if @team.senior? || @team.junior? %>
    <% if @team_submission.business_plan_url_complete? %>
      <div class="field-existing-value">
        Your team has previously uploaded
        <%= link_to @team_submission.business_plan_filename,
          @team_submission.business_plan_url %>
      </div>
    <% end %>

    <p class="hint">
      <% if @team.junior? %>
        Submit your 1 to 2 page user adoption plan
      <% else %>
        Submit your 5 to 10 page business plan
      <% end %>

      as a <span class="font-medium">PDF file</span>.
    </p>

    <%= form_with model: @team_submission,
      url: send("#{current_scope}_team_submission_path", multipart: true),
      id: "team-submission-business-plan-dropzone",
      class: "dropzone" do |f| %>

      <div class="fallback">
        <%= f.label :business_plan, "Upload your team's plan", for: :team_submission_business_plan %>
        <%= f.file_field :business_plan, id: "team_submission_business_plan" %>
        <%= f.hidden_field :business_plan_cache %>
        <%= f.submit "Upload", class: "tw-green-btn" %>
      </div>

    <% end %>

    <p class="dropzone-save mt-8" style="display: none;">
      <%= link_to "Save this upload",
        send(
          "#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) ,
          class: "tw-green-btn" %>
    </p>

    <p class="after-dropzone-save flex flex-row justify-end">
      <%= link_to "cancel",
        send(
          "#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) %>
    </p>

    <p class="py-2">
      <% if @team.senior? %>
        Get some help writing your business plan in the
        <%= link_to(
          "business plan curriculum unit.",
          "https://technovationchallenge.org/curriculum/entrepreneurship-9-business-plan/",
          target: "_blank",
          class: "tw-link"
        ) %>

    <% elsif @team.junior? %>
      Check out what to include in your user adoption plan
      <%= link_to(
        "here",
        "https://docs.google.com/document/d/1VWqsYbForZO5PERUUwCwkUUmlijl_pkAOvGg3WVkwSs/edit?usp=sharing",
        target: "_blank",
        class: "tw-link"
      ) %>
  <% end %>
    </p>
  <% else %>
    <p class="tw-hint-strong">
      Your team is in the
      <strong>
        <%= @team.division_name.humanize %>
        Division
      </strong>
    </p>

    <p class="tw-hint">
      Uploading a business plan is
      <strong>not required</strong>
      for the Beginner Division.
    </p>

    <p class="tw-hint">
      If your team has put one together, that is awesome!
      Hold onto your work and incorporate it into your pitch.
    </p>

    <%= link_to "go back",
      send(
        "#{current_scope}_team_submission_path",
        @team_submission,
        :section,
        section: @submission_section,
      )
    %>
  <% end %>
