<div class="panel">
  <h3 class="panel--heading">
    Business plan
  </h3>

  <% if @team.senior? %>
    <% if @team_submission.business_plan_url_complete? %>
      <div class="field__existing-value">
        Your team has previously uploaded
        <%= link_to @team_submission.business_plan_filename,
          @team_submission.business_plan_url %>
      </div>
    <% end %>

    <p class="hint">
      Submit your 5 to 10 page business plan as a <strong>PDF file</strong>.
    </p>

    <%= form_with model: @team_submission,
      url: send("#{current_scope}_team_submission_path", multipart: true),
      id: "team-submission-business-plan-dropzone",
      class: "dropzone" do |f| %>

      <div class="fallback">
        <%= f.label :business_plan, "Upload your team's business plan", for: :team_submission_business_plan %>
        <%= f.file_field :business_plan, id: "team_submission_business_plan" %>
        <%= f.hidden_field :business_plan_cache %>
        <%= f.submit "Upload", class: "button" %>
      </div>

    <% end %>

    <p class="dropzone-save" style="display: none;">
      <%= link_to "Save this upload",
        send(
          "#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) ,
          class: "button" %>
    </p>

    <p class="after-dropzone-save">
      <%= link_to "cancel",
        send(
          "#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) %>
    </p>

    <p class="grid__cell--padding-sm-y">
      Get some help writing your business plan in the
      <%= link_to(
        "business plan curriculum unit.",
        "https://technovationchallenge.org/curriculum/entrepreneurship-9-business-plan/",
        target: "_blank"
      ) %>
    </p>
  <% else %>
    <p class="scent--strong">
      Your team is in the
      <strong>
        <%= @team.division_name.humanize %>
        Division
      </strong>
    </p>

    <p class="scent">
      Uploading a business plan is
      <strong>not required</strong>
      in the Junior Division.
    </p>

    <p class="scent">
      If your team has put one together, that is awesome!
      Hold onto your work and incorporate it into your pitch.
    </p>

    <%= link_to "go back",
      send(
        "#{current_scope}_team_submission_path",
        @team_submission,
        :section,
        section: @submission_section,
      )
    %>
  <% end %>
</div>
