<div class="panel">
  <h3 class="panel--heading">
    <% if @team.junior? %>
      User Adoption Plan
    <% else %>
      Business plan
    <% end %>
  </h3>

  <% if @team.senior? || @team.junior? %>
    <% if @team_submission.business_plan_url_complete? %>
      <div class="field__existing-value">
        Your team has previously uploaded
        <%= link_to @team_submission.business_plan_filename,
          @team_submission.business_plan_url %>
      </div>
    <% end %>

    <p class="hint">
      Submit your 5 to 10 page

      <% if @team.junior? %>
        user adoption plan
      <% else %>
        business plan
      <% end %>

      as a <strong>PDF file</strong>.
    </p>

    <%= form_with model: @team_submission,
      url: send("#{current_scope}_team_submission_path", multipart: true),
      id: "team-submission-business-plan-dropzone",
      class: "dropzone" do |f| %>

      <div class="fallback">
        <%= f.label :business_plan, "Upload your team's plan", for: :team_submission_business_plan %>
        <%= f.file_field :business_plan, id: "team_submission_business_plan" %>
        <%= f.hidden_field :business_plan_cache %>
        <%= f.submit "Upload", class: "button" %>
      </div>

    <% end %>

    <p class="dropzone-save" style="display: none;">
      <%= link_to "Save this upload",
        send(
          "#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) ,
          class: "button" %>
    </p>

    <p class="after-dropzone-save">
      <%= link_to "cancel",
        send(
          "#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) %>
    </p>

    <p class="grid__cell--padding-sm-y">
      <% if @team.senior? %>
        Get some help writing your business plan in the
        <%= link_to(
          "business plan curriculum unit.",
          "https://technovationchallenge.org/curriculum/entrepreneurship-9-business-plan/",
          target: "_blank"
        ) %>

    <% elsif @team.junior? %>
      Check out what to include in your user adoption plan
      <%= link_to(
        "here",
        "https://docs.google.com/document/d/1VWqsYbForZO5PERUUwCwkUUmlijl_pkAOvGg3WVkwSs/edit?usp=sharing",
        target: "_blank"
      ) %>
  <% end %>
    </p>
  <% else %>
    <p class="scent--strong">
      Your team is in the
      <strong>
        <%= @team.division_name.humanize %>
        Division
      </strong>
    </p>

    <p class="scent">
      Uploading a business plan is
      <strong>not required</strong>
      for the Beginner Division.
    </p>

    <p class="scent">
      If your team has put one together, that is awesome!
      Hold onto your work and incorporate it into your pitch.
    </p>

    <%= link_to "go back",
      send(
        "#{current_scope}_team_submission_path",
        @team_submission,
        :section,
        section: @submission_section,
      )
    %>
  <% end %>
</div>
