<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <h3 class="panel--heading">
        Business plan
      </h3>

      <% if @team_submission.business_plan_url_complete? %>
        <div class="field__existing-value">
          Your team has previously uploaded
          <%= link_to @team_submission.business_plan_filename,
            @team_submission.business_plan_url %>
        </div>
      <% end %>

      <p class="hint">File types allowed: *.doc, *.docx, *.pdf</p>

      <%= form_with model: [current_scope, @team_submission],
        multipart: true,
        id: "team-submission-business-plan-dropzone",
        class: "dropzone" do |f| %>
        <%= f.hidden_field "business_plan_attributes[id]",
          value: @team_submission.business_plan.id %>

        <div class="fallback">
          <%= f.fields_for :business_plan do |b| %>
            <%= b.label :uploaded_file,
              "Upload your team's business plan" %>

            <%= b.file_field :uploaded_file,
              id: "team_submission_business_plan_attributes_" +
                  "uploaded_file" %>
          <% end %>

          <%= f.submit "Upload", class: "button" %>
        </div>
      <% end %>

      <p class="dropzone-save" style="display: none;">
        <%= link_to "Save this upload",
          [current_scope, @team_submission],
          class: "button" %>
      </p>

      <p class="after-dropzone-save">
        <%= link_to "cancel", [current_scope, @team_submission] %>
      </p>

<<<<<<< HEAD
      <p class="grid__cell--padding-sm-y">
<<<<<<< HEAD
        Stuck? Get some help writing your business plan in the
=======
        Get some help writing your business plan in the
<<<<<<< HEAD
>>>>>>> add curriculum links to submission pieces (#1399)
=======
=======
      <p>
        <br>
        Stuck? Get some help writing your business plan in the
>>>>>>> add curriculum links to submission peices
>>>>>>> add curriculum links to submission peices
         <%= link_to("business plan curriculum unit.",
                     "http://technovationchallenge.org/curriculum/business-4/",
                     target: "_blank") %>
      </p>
<<<<<<< HEAD

=======
>>>>>>> add curriculum links to submission peices
    </div>
  </div>
</div>
