<div class="grid">
  <div class="grid__col-8">
    <div class="panel">
      <h3 class="panel--heading">
        Code Checklist
      </h3>

      <p>
        You can earn up to <strong>10 points</strong> in this section.
        All of the coding concepts on this checklist are available to
        learn for free in the curriculum.
      </p>

      <p>
        Check off and explain the components you used in your app with a
        simple sentence. You only need to explain one instance where you
        used it.
      </p>

      <p>
        For example:<br>
        <strong>Strings</strong><br>
        "
          <span class="scent">
            We used a string to display the user’s name
            at the top of the screen.
          </span>
        "
      </p>
    </div>

    <%= simple_form_for @code_checklist,
      method: :patch,
      url: [
        current_scope,
        :code_checklist,
        team_submission_id: @team_submission.id
      ],
      html: {
        class: "no-simple-form-style",
        id: "code-checklist-form",
      } do |f| %>
      <%= render 'errors', record: f.object %>

      <div
        class="tc-form-group"
        data-group-name="technical-components"
        data-possible="4"
        data-points-each="1"
      >
        <h3 class="reset">Technical Components - Four Points</h3>
        <h4 class="reset">Use at least 4 (1 point each, 4 points max)</h4>

        <small>
          <%= link_to "Learn basic components in Code 2",
            "http://www.technovationchallenge.org/curriculum/code-2",
            target: :_blank %>
        </small>

        <br />

        <small>
          <%= link_to "Learn advanced components in Code 3",
            "http://www.technovationchallenge.org/curriculum/code-3",
            target: :_blank %>
        </small>

        <div class="panel">
          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_strings,
            label: "Strings",
            placeholder: "strings" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_numbers,
            label: "Numbers",
            placeholder: "numbers" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_variables,
            label: "Variables",
            placeholder: "variables" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_lists,
            label: "Lists or Arrays",
            placeholder: "lists" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_booleans,
            label: "Booleans",
            placeholder: "booleans" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_loops,
            label: "Loops",
            placeholder: "loops" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_conditionals,
            label: "Conditional Statements",
            placeholder: "conditionals" %>
        </div>
      </div>

      <div
        class="tc-form-group"
        data-group-name="database"
        data-possible="1"
        data-points-each="1"
      >
        <h3 class="reset">Databases and Connectivity - One Point</h3>
        <h4 class="reset">Use at least 1 (1 point each, 1 point max)</h4>

        <small>
          <%= link_to "Learn local databases in Code 2",
            "http://www.technovationchallenge.org/curriculum/code-2",
            target: :_blank %>
        </small>

        <br />

        <small>
          <%= link_to "Learn external databases and APIs in Code 4",
            "http://www.technovationchallenge.org/curriculum/code-4",
            target: :_blank %>
        </small>

        <div class="panel">
          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_local_db,
            label: "Local Database",
            placeholder: "a local database" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_external_db,
            label: "External Database or API",
            placeholder: "an external database" %>
        </div>
      </div>

      <div
        class="tc-form-group"
        data-group-name="mobile"
        data-possible="2"
        data-points-each="2"
      >
        <h3 class="reset">Mobile Features - Two Points</h3>
        <h4 class="reset">
          Use at least 1 (2 points each, 2 points max)
        </h4>

        <small>
          <%= link_to "Learn in Code 4",
            "http://www.technovationchallenge.org/curriculum/code-4",
            target: :_blank %>
        </small>

        <div class="panel">
          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_location_sensor,
            label: "Location Sensor",
            placeholder: "the location sensor" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_camera,
            label: "Camera or Video",
            placeholder: "the camera" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_accelerometer,
            label: "Accelerometer",
            placeholder: "the accelerometer" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_sms_phone,
            label: "Text Messaging or Phone Call",
            placeholder: "SMS or phone call features" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_sound,
            label: "Sound or Speaker",
            placeholder: "sound" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_sharing,
            label: "Sharing",
            placeholder: "sharing" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_clock,
            label: "Clock",
            placeholder: "the clock" %>

          <%= render "code_checklists/checklist_item",
            f: f,
            name: :used_canvas,
            label: "Canvas",
            placeholder: "the canvas" %>
        </div>
      </div>

      <div
        class="tc-form-group"
        data-group-name="process-pics"
        data-possible="3"
        data-points-each="1"
        data-all-required="true"
      >
        <h3 class="reset">Pictures of your process - Three Points</h3>

        <h4 class="reset">Do all 3 for full points</h4>

        <small>
          <%= link_to "Learn prototyping in Code 5",
            "http://www.technovationchallenge.org/curriculum/code-5",
            target: :_blank %>
        </small>

        <br />

        <small>
          <%= link_to "Learn flowcharts in Code 6",
            "http://www.technovationchallenge.org/curriculum/code-6",
            target: :_blank %>
        </small>

        <div class="panel">
          <%= f.label :paper_prototype %>

          <p class="hint">
            You <strong>only have to attach one</strong>,
            so choose your best example!
          </p>

          <% verb = "Choose" %>

          <% if f.object.paper_prototype.present? %>
            <%= image_tag(f.object.paper_prototype_url, width: 200) %>
            <% verb = "Replace with" %>
          <% end %>

          <label class="file-field" for="paper_prototype_file_field">
            <div class="img-preview"></div>
            <div class="button button--secondary button--small">
              <%= verb %> a file from your computer
            </div>

            <%= f.file_field :paper_prototype,
              class: "provide-preview",
              id: "paper_prototype_file_field" %>
          </label>

          <%= f.input :paper_prototype_cache, as: :hidden %>
        </div>

        <div class="panel">
          <%= f.label :event_flow_chart, "Flowchart or Pseudocode" %>

          <p class="hint">
            You <strong>only have to attach one</strong>,
            so choose your best example!
          </p>

          <% verb = "Choose" %>

          <% if f.object.event_flow_chart.present? %>
            <%= image_tag(f.object.event_flow_chart_url, width: 200) %>
            <% verb = "Replace with" %>
          <% end %>

          <label class="file-field" for="event_flow_chart_file_field">
            <div class="img-preview"></div>
            <div class="button button--secondary button--small">
              <%= verb %> a file from your computer
            </div>

            <%= f.file_field :event_flow_chart,
              class: "provide-preview",
              id: "event_flow_chart_file_field" %>
          </label>

          <%= f.input :event_flow_chart_cache, as: :hidden %>
        </div>

        <div class="panel">
          <%= hidden_field_tag nil, nil, data: {
            count_needed: 2,
            count_has: f.object.team_submission.screenshots.count,
          } %>

          <p>
            At least <strong>two</strong> app screenshots.<br>
            Your team has uploaded
            <strong>
              <%= pluralize f.object.team_submission.screenshots.count,
                "screenshot" %>
            </strong>
          </p>

          <p class="scent">
            You can add/edit your screenshots on the the submission page.
            <br />
            Saving this checklist will take you back to that page.
          </p>
        </div>
      </div>

      <%= f.button :submit,
        "Save checklist",
        class: "button code-checklist__submit-button" %>
    <% end %>
  </div>

  <div class="grid__col-4 col--sticky-parent">
    <div class="col--sticky-spacer">
      <div class="col--sticky">
        <div class="indicator" data-name="technical-components">
          <h4 class="reset">Technical Components</h4>
          <span class="total"></span>/<span class="possible"></span>
          points
          <%= web_icon "check-circle", class: "icon-green" %>
        </div>

        <div class="indicator" data-name="database">
          <h4 class="reset">Databases & Connectivity</h4>
          <span class="total"></span>/<span class="possible"></span>
          points
          <%= web_icon "check-circle", class: "icon-green" %>
        </div>

        <div class="indicator" data-name="mobile">
          <h4 class="reset">Mobile Features</h4>
          <span class="total"></span>/<span class="possible"></span>
          points
          <%= web_icon "check-circle", class: "icon-green" %>
        </div>

        <div class="indicator" data-name="process-pics">
          <h4 class="reset">Pictures of your process</h4>
          <span class="total"></span>/<span class="possible"></span>
          points
          <%= web_icon "check-circle", class: "icon-green" %>
        </div>
      </div>
    </div>
  </div>
</div>
