<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <h3 class="panel--heading">
        Demo video
      </h3>

      <%= form_with model: [current_scope, @team_submission], local: true do |f| %>
        <div class="field">
          <%= f.label :demo_video_link, "Youtube or Vimeo URL" %>
          <%= f.text_field :demo_video_link, id: :team_submission_demo_video_link %>
        </div>

        <div class="actions">
          <p>
            <%= f.submit "Save this demo video link", class: "button" %>
            or
            <%= link_to "cancel", [current_scope, @team_submission] %>
          </p>
        </div>
      <% end %>
<<<<<<< HEAD
<<<<<<< HEAD

      <p class="grid__cell--padding-sm-y">
<<<<<<< HEAD
        Stuck? Get some help making your demo video in the
=======
        Get some help making your demo video in the
<<<<<<< HEAD
>>>>>>> add curriculum links to submission pieces (#1399)
=======
=======
      <p>
        <br>
=======
      <p class="grid__cell--padding-sm-y">
>>>>>>> replace line breaks with CSS, update CSS library
        Stuck? Get some help making your demo video in the
>>>>>>> add curriculum links to submission peices
>>>>>>> add curriculum links to submission peices
        <%= link_to("demo video curriculum unit.",
                    "http://technovationchallenge.org/curriculum/pitch-2/",
                    target: "_blank") %>
      </p>

    </div>

    <% unless @team_submission.demo_video_link.blank? %>
      <div class="panel">
        <p>Your team has previously linked this video:</p>
        <%= @team_submission.embed_code(:demo_video_link).html_safe %>
      </div>
    <% end %>
  </div>
</div>
