<% embedded ||= false %>
<% provide :title, "Coding Language" %>

<div id="development-platform">
  <% if embedded %>
    <p>
      To upload your technical work,
      we need to know about your development platform first.
    </p>
  <% end %>

  <p class="tw-hint-strong italic mb-8">
    Please indicate which type of coding language you used. This will affect how you are judged.
  </p>

  <%= form_with(
    model: @team_submission,
    url: send("#{current_scope}_team_submission_path"),
    local: true
  ) do |f| %>
    <%= hidden_field_tag :piece, piece_name %>

    <div id="mobile-app" class="mt-8">
      <div class="field">
        <%= f.label :development_platform,
          "Which coding language did your team use?",
          for: :team_submission_development_platform %>

        <%= f.select :development_platform,
                     TeamSubmission.development_platform_options(@team_submission),
        { include_blank: true },
        data: {
          toggles: {
            "App Inventor": "#app_inventor_fields",
            "Thunkable": "#thunkable_fields",
            "Other": "#other",
            "Scratch": "#scratch_fields"
          },
        },
        id: :team_submission_development_platform %>
      </div>

      <% if @team_submission.junior_division? || @team_submission.senior_division? %>
        <div class="field">
          <%= f.label :ai_usage,
            "Did you use AI to help with your coding and/or to help you build your machine learning model?",
            for: :team_submission_ai_usage %>

        <%= f.select :ai_usage,
          [["Yes", true], ["No", false]],
          { include_blank: true },
          class: "w-full lg:w-full lg:w-1/5" %>
        </div>
      <% end %>

      <div id="app_inventor_fields" class="mt-8">
        <%= f.label :app_inventor_app_name,
          "What is your App Inventor Project Name?",
          for: :team_submission_app_inventor_app_name %>

        <%= f.text_field :app_inventor_app_name,
        id: :team_submission_app_inventor_app_name %>

        <p class="tw-hint">
          We are keeping this information private; it will help us improve how
          our program works with App Inventor.
        </p>
      </div>

      <div id="thunkable_fields" class="mt-8">
        <%= f.label :thunkable_project_url,
          "What is the URL to your Thunkable project detail page?",
          for: :team_submission_thunkable_project_url %>

        <%= f.text_field :thunkable_project_url,
          id: :team_submission_thunkable_project_url %>

        <p class="tw-hint">
          To get the URL to your Thunkable Project page, go to "Share" and select "Project Details Page."
          <a href="https://iridescentsupport.zendesk.com/hc/en-us/articles/360019590314-How-do-I-submit-my-source-code-"
             target="_blank" class="tw-link">For more information, go here.</a>
        </p>
      </div>

      <div id="other">
        <%= f.label :development_platform_other,
          "Please write the coding language your team used:" %>

        <%= f.text_field :development_platform_other %>
      </div>
    </div>

    <div id="scratch_fields" class="mt-8">
      <p class="tw-hint">
        We want to ask you one question about your use of
        Scratch.
      </p>

      <%= f.label :scratch_project_url,
                  "What is the URL for your Scratch project page?",
                  for: :team_submission_scratch_project_url %>

      <p class="tw-hint">
        or just click Save to upload an SB3 file on the next page.
      </p>

      <%= f.text_field :scratch_project_url,
                       id: :team_submission_scratch_project_url %>

      <p class="tw-hint">
        Enter the Scratch project page URL. To create a project page, click the orange
        "Share" button in your Scratch project. Then when the project page appears,
        click the Copy Link button. This is the URL you will enter here.
      </p>
    </div>

    <div class="submission-actions">
      <p class="btn-wrapper">
        <%= f.submit "Save",
          class: "tw-green-btn cursor-pointer" %>
        or
        <%= link_to "cancel",
        send("#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) %>
      </p>
    </div>
  <% end %>
</div>
