<% embedded ||= false %>

<div class="<%= 'panel' if !embedded %>">
  <% if embedded %>
    <p>
      To upload your source code,
      we need to know about your development platform first.
    </p>
  <% else %>
    <h3 class="panel--heading">
      Development platform
    </h3>
  <% end %>

  <%= form_with(
    model: [current_scope, @team_submission],
    local: true
  ) do |f| %>
    <%= hidden_field_tag :piece, piece_name %>

    <div class="field">
      <%= f.label :development_platform,
        "Which development platform did your team use?" %>

      <%= f.select :development_platform,
        TeamSubmission.development_platform_keys,
        { include_blank: true },
        data: {
          toggles: {
            "App Inventor": "#app_inventor_fields",
            "Thunkable": "#thunkable_fields",
          },
        },
        id: :team_submission_development_platform %>
    </div>

    <div id="app_inventor_fields">
      <p class="scent">
        We want to ask you two questions about your use of
        App Inventor.
      </p>

      <%= f.label :app_inventor_app_name,
        "What is your App Inventor Project Name?" %>

      <%= f.text_field :app_inventor_app_name,
        id: :team_submission_app_inventor_app_name %>

      <%= f.label :app_inventor_gmail,
        "What is the gmail address of the App Inventor " +
        "account that your team is using?" %>

      <%= f.text_field :app_inventor_gmail,
        id: :team_submission_app_inventor_gmail %>

      <p class="hint">
        We are keeping this information private; it will help us improve how
        our program works with App Inventor.
      </p>
    </div>

    <div id="thunkable_fields">
      <p class="scent">
        We want to ask you two questions about your use of Thunkable.
      </p>

      <p class="flash flash-info">
        For more information on how to get started with Thunkable, click
        <%= link_to "here",
          :general_info_get_started_with_thunkable,
          role: "url" %>.
      </p>

      <%= f.label :thunkable_account_email,
        "What is the email address of your team's Thunkable account?" %>

      <%= f.text_field :thunkable_account_email,
        id: :team_submission_thunkable_account_email %>

      <%= f.label :thunkable_project_url,
       "What is the shareable URL of your Thunkable project?" %>

      <%= f.text_field :thunkable_project_url,
        id: :team_submission_thunkable_project_url %>

      <div class="flash flash-info">
        <h5>How to Find the Shareable URL</h5>
        <p>
          Click the Share button at the top, click generate link, and copy the link that appears.
          Or check out <a href="https://iridescentsupport.zendesk.com/hc/en-us/articles/360019590314-How-do-I-submit-source-code-from-a-Thunkable-X-project-" target="_blank">this article</a> for help on how to find the correct link.
        </p>
      </div>

      <p class="hint">
        We are keeping this information private; it will help us improve how
        our program works with Thunkable.
      </p>
    </div>

    <div class="actions">
      <p>
        <%= f.submit "Save this development platform selection",
          class: "button" %>
        or
        <%= link_to "cancel",
          [
            current_scope,
            @team_submission,
            :section,
            section: @submission_section,
          ] %>
      </p>
    </div>
  <% end %>
</div>
