<% embedded ||= false %>

<div class="<%= 'panel' if !embedded %>">
  <% if embedded %>
    <p>
      To upload your technical work,
      we need to know about your development platform first.
    </p>
  <% else %>
    <h3 class="panel--heading">
      Submission Type
    </h3>
  <% end %>

  <p class="scent scent--strong">
    Please indicate which type of submission this is. This will affect how you are judged.
  </p>

  <%= form_with(
    model: @team_submission,
    url: send("#{current_scope}_team_submission_path"),
    local: true
  ) do |f| %>
    <%= hidden_field_tag :piece, piece_name %>

    <div class="field">
      <%= f.label :submission_type,
        "Submission type",
        for: :team_submission_submission_type %>

      <%= f.select :submission_type,
        TeamSubmission::SUBMISSION_TYPES,
        { include_blank: true },
        data: {
          toggles: {
            "Mobile App": "#mobile-app"
          },
        },
        id: :team_submission_submission_type %>

    </div>

    <div id="mobile-app">
      <div class="field">
        <%= f.label :development_platform,
          "Which coding language did your team use?",
          for: :team_submission_development_platform %>

        <%= f.select :development_platform,
        TeamSubmission::DEVELOPMENT_PLATFORMS,
        { include_blank: true },
        data: {
          toggles: {
            "App Inventor": "#app_inventor_fields",
            "Thunkable": "#thunkable_fields",
            "Other": "#other",
          },
        },
        id: :team_submission_development_platform %>
      </div>

      <div id="app_inventor_fields">
        <p class="scent">
          We want to ask you two questions about your use of
          App Inventor.
        </p>

        <%= f.label :app_inventor_app_name,
          "What is your App Inventor Project Name?",
          for: :team_submission_app_inventor_app_name %>

        <%= f.text_field :app_inventor_app_name,
        id: :team_submission_app_inventor_app_name %>

      <%= f.label :app_inventor_gmail,
        "What is the gmail address of the App Inventor " +
        "account that your team is using (optional)?",
        for: :team_submission_app_inventor_gmail %>

      <%= f.text_field :app_inventor_gmail,
        id: :team_submission_app_inventor_gmail %>

      <p class="hint">
        We are keeping this information private; it will help us improve how
        our program works with App Inventor.
      </p>
      </div>

      <div id="thunkable_fields">
        <p class="scent">
          We want to ask you two questions about your use of Thunkable.
        </p>

        <%= f.label :thunkable_account_email,
          "What is the email address of your team's Thunkable account (optional)?",
          for: :team_submission_thunkable_account_email %>

        <%= f.text_field :thunkable_account_email,
          id: :team_submission_thunkable_account_email %>

        <%= f.label :thunkable_project_url,
          "What is the URL to your Thunkable project? detail page?",
          for: :team_submission_thunkable_project_url %>

        <%= f.text_field :thunkable_project_url,
          id: :team_submission_thunkable_project_url %>

        <p class="hint">
          Copy your URL in the address bar of your
          Thunkable project detail page and paste that in the field above.
          <a href="https://iridescentsupport.zendesk.com/hc/en-us/articles/360019590314-How-do-I-submit-my-source-code-"
             target="_blank">For more information, go here.</a>
        </p>
      </div>

      <div id="other">
        <%= f.label :development_platform_other,
          "Please write the coding language your team used:" %>

        <%= f.text_field :development_platform_other %>
      </div>
    </div>

    <div class="actions">
      <p>
        <%= f.submit "Save",
          class: "button" %>
        or
        <%= link_to "cancel",
        send("#{current_scope}_team_submission_section_path",
          @team_submission,
          section: @submission_section
        ) %>
      </p>
    </div>
  <% end %>
</div>
