<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <%= form_with model: [:student, @team_submission], local: true do |f| %>
        <div class="field">
          <%= f.label :pitch_video_link, "Youtube or Vimeo URL" %>
          <%= f.text_field :pitch_video_link, id: :team_submission_pitch_video_link %>
        </div>

        <div class="actions">
          <p>
            <%= f.submit "Save this pitch video link", class: "button" %>
            or
            <%= link_to "cancel", student_team_submission_path(@team_submission) %>
          </p>
        </div>
      <% end %>
    </div>

    <% unless @team_submission.pitch_video_link.blank? %>
      <div class="panel">
        <p>Your team has previously linked this video:</p>
        <%= @team_submission.embed_code(:pitch_video_link).html_safe %>
      </div>
    <% end %>
  </div>
</div>
