<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <h3 class="panel--heading">Pitch Video</h3>

      <%= form_with model: [current_scope, @team_submission], local: true do |f| %>
        <div class="field">
          <%= f.label :pitch_video_link, "Youtube or Vimeo URL" %>
          <%= f.text_field :pitch_video_link, id: :team_submission_pitch_video_link %>
        </div>

        <div class="actions">
          <p>
            <%= f.submit "Save this pitch video link", class: "button" %>
            or
            <%= link_to "cancel", [current_scope, @team_submission] %>
          </p>
        </div>
      <% end %>

      <p class="grid__cell--padding-sm-y">
        Stuck? Get some help making your pitch video in the
        <%= link_to("pitch video curriculum unit.",
                    "http://technovationchallenge.org/curriculum/pitch-1/",
                    target: "_blank") %>
      </p>

    </div>

    <% unless @team_submission.pitch_video_link.blank? %>
      <div class="panel">
        <p>Your team has previously linked this video:</p>
        <%= @team_submission.embed_code(:pitch_video_link).html_safe %>
      </div>
    <% end %>
  </div>
</div>
