<div class="panel">
  <h3 class="panel--heading">
    Source code
  </h3>

  <% if @team_submission.source_code_url_complete? %>
    <div class="field__existing-value">
      Your team has previously uploaded
      <%= link_to @team_submission.source_code_filename,
        @team_submission.source_code_url %>
    </div>
  <% end %>

  <% if @team_submission.developed_on?("Thunkable") %>
    <%= form_with model: @team_submission,
      url: send("#{current_scope}_team_submission_path", @team_submission),
      local: true do |f| %>
      <p>
        <%= f.label :source_code_external_url %>
        <%= f.text_field :source_code_external_url %>
      </p>

      <p>
        Help for submitting your source code is
        <a href="https://iridescentsupport.zendesk.com/hc/en-us/articles/360019590314-How-do-I-submit-my-source-code-" target="_blank">here</a>
        or take a look at the
        <a href="https://technovationchallenge.org/curriculum/coding-14-debugging-tips-in-app-inventor-and-thunkable/" target="_blank">debugging curriculum</a>
        unit for more resources.
      </p>

      <%= f.submit "Save", class: "button" %>
    <% end %>
  <% elsif @team_submission.development_platform.blank? %>
    <%= render template: 'team_submissions/pieces/development_platform',
      locals: {
         submission: @team_submission,
         embedded: true,
      } %>
  <% else %>
    <p class="hint">File types allowed: *.zip or *.aia</p>

    <%= direct_upload_form_for @source_code_uploader, html: { multipart: true, class: 'source-code-uploader' } do |f| %>
      <%= f.label :file, "Upload your app's source code" %>
      <%= f.file_field :file, accept: ".aia,.zip", class: 'source-code-uploader__file' %>

      <div class="flash flash--alert source-code-uploader__error hidden">
        Sorry, you tried to upload an invalid file type.
      </div>

      <%= f.submit "Upload", class: "button source-code-uploader__submit-button" %>
    <% end %>

    <p class="grid__cell--padding-sm-y">
      Help for submitting your source code is
      <a href="https://iridescentsupport.zendesk.com/hc/en-us/articles/360019590314-How-do-I-submit-my-source-code-" target="_blank">
        here
      </a>
      or take a look at the
      <a href="https://technovationchallenge.org/curriculum/coding-14-debugging-tips-in-app-inventor-and-thunkable/" target="_blank">
        debugging curriculum unit
      </a>
      for more resources.
    </p>
  <% end %>
</div>
