<div class="panel">
  <h3 class="panel--heading">
    Technical Additions
  </h3>

  <% if @team_submission.source_code_url_complete? %>
    <div class="field__existing-value">
      Your team has previously uploaded
      <%= link_to @team_submission.source_code_filename,
        @team_submission.source_code_url %>
    </div>
  <% end %>

  <% if @team_submission.submission_type.blank? || (@team_submission.submission_type == "Mobile App" && @team_submission.development_platform.blank?) %>
    <%= render template: 'team_submissions/pieces/development_platform',
      locals: {
        submission: @team_submission,
        embedded: true,
      } %>
  <% else %>
    <% if @team_submission.submission_type == "Mobile App" && @team_submission.developed_on?("Thunkable") %>
      <%= form_with model: @team_submission,
        url: send("#{current_scope}_team_submission_url", @team_submission),
        local: true do |f| %>
        <p>
          <%= f.label :source_code_external_url %>
          <%= f.text_field :source_code_external_url %>
        </p>

        <%= f.submit "Save", class: "button" %>
      <% end %>
    <% elsif @team_submission.submission_type == "Mobile App" %>
      <p>Mobile App source code should be submitted depending on the language used:</p>
      <ul>
        <li><em>.aia</em> file (MIT App Inventor) OR <em>.zip</em> file (other languages)</li>
      </ul>
      <br>

      <%= direct_upload_form_for @source_code_uploader, html: { multipart: true, class: 'source-code-uploader' } do |f| %>
        <input type="hidden" name="utf8">
        <%= f.label :file, "Upload your technical work" %>
        <%= f.file_field :file, accept: ".aia,.zip", class: 'source-code-uploader__file' %>

        <div class="flash flash--alert source-code-uploader__error hidden">
          Sorry, you tried to upload an invalid file type.
        </div>

        <%= f.submit "Upload", class: "button source-code-uploader__submit-button" %>
      <% end %>

    <% elsif @team_submission.submission_type == "AI Project" %>
      <p>AI Projects should include 1 zip file that contains:</p>
      <ul>
        <li>Screenshot of dataset training (ML4Kids, TeachableMachine, App Inventor, etc.) or spreadsheet or link to images/sounds folder</li>
        <li>Picture(s) of prototype (cardboard model, drawings, devices)</li>
        <li>(For online inventions) Any link with demo login information</li>
      </ul>
      <br>

      <%= direct_upload_form_for @source_code_uploader, html: { multipart: true, class: 'source-code-uploader' } do |f| %>
        <input type="hidden" name="utf8">
        <%= f.label :file, "Upload your technical work" %>
        <%= f.file_field :file, accept: ".zip", class: 'source-code-uploader__file' %>

        <div class="flash flash--alert source-code-uploader__error hidden">
          Sorry, you tried to upload an invalid file type.
        </div>

        <%= f.submit "Upload", class: "button source-code-uploader__submit-button" %>
      <% end %>
    <% end %>

    <p class="grid__cell--padding-sm-y">
      For help submitting your technical work, check
      <a href="https://iridescentsupport.zendesk.com/hc/en-us/articles/360019590314-How-do-I-submit-my-source-code-" target="_blank">
        here
      </a>
      or take a look at the
      <a href="https://technovationchallenge.org/curriculum/coding-14-debugging-tips-in-app-inventor-and-thunkable/" target="_blank">
        debugging curriculum unit
      </a>
      for more resources.
    </p>
  <% end %>
</div>
