<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <h3 class="panel--heading">
        Source code
      </h3>

      <% if @team_submission.source_code_url_complete? %>
        <div class="field__existing-value">
          Your team has previously uploaded
          <%= link_to @team_submission.source_code_filename,
            @team_submission.source_code_url %>
        </div>
      <% end %>

      <p class="hint">File types allowed: *.zip or *.aia</p>

      <%= form_with model: [current_scope, @team_submission],
        local: true,
        multipart: true,
        id: "team-submission-sourcecode-dropzone",
        class: "dropzone" do |f| %>
        <div class="fallback">
          <%= f.label :source_code, "Upload your app's source code" %>
          <%= f.file_field :source_code, id: :team_submission_source_code %>
          <%= f.submit "Upload", class: "button" %>
        </div>
      <% end %>

      <p class="dropzone-save" style="display: none;">
        <%= link_to "Save this upload",
          [current_scope, @team_submission],
          class: "button" %>
      </p>

      <p class="after-dropzone-save">
      <%= link_to "cancel", [current_scope, @team_submission] %>
      </p>

<<<<<<< HEAD
      <p class="grid__cell--padding-sm-y">
<<<<<<< HEAD
        Stuck? Get some help making your source code in the
=======
        Get some help making your source code in the
>>>>>>> add curriculum links to submission pieces (#1399)
        <%= link_to("code planning curriculum unit.",
=======
      <p>
        <br>
        Stuck? Get some help making your source code in the
<<<<<<< HEAD
        <%= link_to("curriculum.",
>>>>>>> add curriculum links to submission peices
=======
        <%= link_to("code planning curriculum unit.",
>>>>>>> name for code planning curriculum
                    "http://technovationchallenge.org/curriculum/code-6/",
                    target: "_blank") %>
      </p>

    </div>
  </div>
</div>
