<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <h3 class="panel--heading">
        Source code
      </h3>

      <% if @team_submission.source_code_url_complete? %>
        <div class="field__existing-value">
          Your team has previously uploaded
          <%= link_to @team_submission.source_code_filename,
            @team_submission.source_code_url %>
        </div>
      <% end %>

      <p class="hint">File types allowed: *.zip or *.aia</p>

      <%= form_with model: [:student, @team_submission],
        id: "team-submission-sourcecode-dropzone",
        class: "dropzone" do |f| %>
        <div class="fallback">
          <%= f.label :source_code, "Upload your app's source code" %>
          <%= f.file_field :source_code, id: :team_submission_source_code %>
          <%= f.submit "Upload", class: "button" %>
        </div>
      <% end %>

      <p class="dropzone-save" style="display: none;">
        <%= link_to "Save this upload",
          student_team_submission_path(@team_submission),
          class: "button" %>
      </p>

      <p class="after-dropzone-save">
        <%= link_to "cancel", student_team_submission_path(@team_submission) %>
      </p>
    </div>
  </div>
</div>
