<% provide :title, "Technical Additions" %>

  <% if @team_submission.source_code_url_complete? %>
    <div class="field-existing-value">
      Your team has previously uploaded
      <%= link_to @team_submission.source_code_filename,
        @team_submission.source_code_url %>
    </div>
  <% end %>

  <% if @team_submission.development_platform.blank? %>
    <%= render template: "team_submissions/pieces/development_platform",
      locals: {
        submission: @team_submission,
        embedded: true,
      } %>
  <% else %>
    <% if @team_submission.developed_on?("Thunkable") %>
      <%= render "team_submissions/pieces/source_code_pieces/thunkable",
        submission: @team_submission %>
    <% elsif @team_submission.developed_on?("App Inventor") ||  @team_submission.developed_on?("Other") %>
      <%= render "team_submissions/pieces/source_code_pieces/app_inventor_or_other",
        source_code_uploader: @source_code_uploader %>
    <% elsif @team_submission.developed_on?("Scratch") %>
      <%= render "team_submissions/pieces/source_code_pieces/scratch",
        submission: @team_submission,
        source_code_uploader: @source_code_uploader %>
    <% elsif @team_submission.developed_on?("Code.org App Lab") %>
      <%= render "team_submissions/pieces/source_code_pieces/code_org_app_lab",
        submission: @team_submission %>
    <% end %>

    <p class="py-2">
      For help submitting your technical work, check
      <a href="https://iridescentsupport.zendesk.com/hc/en-us/articles/360019590314-How-do-I-submit-my-source-code-" target="_blank" class="tw-link">
        here
      </a>.
    </p>
  <% end %>
