<dl>
  <dt><%= t("chapter.chapter_program_information.organization_type_question") %></dt>
  <dd>
    <% if @chapter.chapter_program_information.organization_types.any? %>
      <ul>
        <% @chapter.chapter_program_information.organization_types.each do |organization_type| %>
          <li><%= organization_type.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Missing</p>
    <% end %>
  </dd>

  <dt><%= t("chapter.chapter_program_information.child_safeguarding_policy_and_process_question") %></dt>
  <dd>
    <%= @chapter.chapter_program_information.child_safeguarding_policy_and_process.presence || raw('<span>Missing</span>') %>
  </dd>

  <dt class="font-semibold"><%= t("chapter.chapter_program_information.start_date_question") %></dt>
  <dd>
    <%= @chapter.chapter_program_information.start_date.presence || raw('<span class="text-red-500">Missing</span>') %>
  </dd>

  <dt><%= t("chapter.chapter_program_information.meeting_time_question") %></dt>
  <dd>
    <% if @chapter.chapter_program_information.meeting_times.any? %>
      <ul>
        <% @chapter.chapter_program_information.meeting_times.each do |meeting_time| %>
          <li><%= meeting_time.time %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Missing</p>
    <% end %>
  </dd>

  <dt><%= t("chapter.chapter_program_information.program_length_question") %></dt>
  <dd>
    <%= @chapter.chapter_program_information.program_length&.length.presence || raw('<span>Missing</span>')%>
  </dd>

  <dt><%= t("chapter.chapter_program_information.meeting_facilitator_question") %></dt>
  <dd>
    <% if @chapter.chapter_program_information.meeting_facilitators.any? %>
      <ul>
        <% @chapter.chapter_program_information.meeting_facilitators.each do |meeting_facilitator| %>
          <li><%= meeting_facilitator.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Missing</p>
    <% end %>
  </dd>
</dl>
