<% provide :title, "My profile" %>

<div id="judge-profile-tabs" class="grid tabs tabs--vertical">
  <div class="grid__col-sm-3">
    <div class="hidden-xs hidden-xxs">
      <h3><%= current_judge.full_name %></h3>

      <%= image_tag current_judge.profile_image_url,
        id: "profile-image",
        class: "grid__cell-img" %>

      <%= render 'image_upload',
        choose_from_defaults: (
          not current_account.chapter_ambassador_profile.present?
        ),
        current_image_path: current_judge.profile_image_url,
        modal_id: "image_upload_desktop",
        heading: "Upload a profile photo",
        size: "300x300" %>
    </div>

    <%= render 'judge/profiles/menu' %>
  </div>

  <div class="tabs__content grid__col-sm-9">
    <div class="tabs__tab-content" id="basic">
      <%= render 'judge/profiles/basic' %>
    </div>

    <div class="hidden-sm hidden-md hidden-lg tabs__tab-content" id="avatar">
      <%= image_tag current_judge.profile_image_url,
        class: "grid__cell-img" %>

      <%= render 'image_upload',
        choose_from_defaults: (
          not current_account.chapter_ambassador_profile.present?
        ),
        current_image_path: current_judge.profile_image_url,
        image_id: "profile-image-xs",
        modal_id: "image_upload_mobile",
        heading: "Upload a profile photo",
        size: "300x300" %>
    </div>

    <div class="tabs__tab-content" id="survey-answers">
      <%= render 'judge/profiles/survey_answers' %>
    </div>

    <div class="tabs__tab-content" id="location">
      <%= render 'judge/profiles/location' %>
    </div>

    <div class="tabs__tab-content" id="change-email">
      <%= render 'profiles/email' %>
    </div>

    <div class="tabs__tab-content" id="change-password">
      <%= render 'profiles/password' %>
    </div>
  </div>
</div>
