<% provide :title, "My profile" %>

<span class="dashboard-notice"></span>

<div class="container mx-auto flex flex-col lg:flex-row justify-around gap-6 w-full lg:w-3/4">
  <%= render layout: 'application/templates/dashboards/side_nav', locals: { heading: 'To-do'} do%>
    <div id="tab-wrapper" class="p-6">
      <%= render 'judge/profiles/rebrand/side_nav_content' %>
    </div>
  <% end %>
  <%= render layout: 'application/templates/dashboards/energetic_container', locals: { heading: 'Basic Information'} do %>
    <div class="tab">
      <div class="tab-content tw-active" id="judge-basic">
        <%= render 'judge/profiles/rebrand/basic' %>
      </div>

      <div class="tab-content" id="judge-location">
        <%= render 'judge/profiles/rebrand/location' %>
      </div>

      <div class="tab-content" id="judge-change-email">
        <%= render 'judge/profiles/rebrand/email' %>
      </div>

      <div class="tab-content" id="judge-change-password">
        <%= render 'judge/profiles/rebrand/password' %>
      </div>
    </div>
  <% end %>
</div>
