<div class="card team-submission__step-card team-submission__app-description-card">
  <div class="card__heading">
    App Description

    <% if submission.app_description.present? %>
      <%= fa_icon("check-circle", class: "card-heading__flair") %>
    <% else %>
      <%= fa_icon("circle-o", class: "card-heading__flair") %>
    <% end %>
  </div>

  <div class="card__body">
    <% if submission.app_description.present? %>
      <%= simple_format submission.app_description %>

      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to "Edit", [:edit, :student, submission, step: :app_description], class: "appy-button" %>
      </div>
    <% else %>
      <p>In 100 to 200 words, give us a description of your application.</p>

      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to "Add Description", [:edit, :student, submission, step: :app_description], class: "appy-button" %>
      </div>
    <% end %>
  </div>
</div>
