<%
  if current_team.junior?
    type = "report"
    optional_text = "(optional)"
  else
    type = "plan"
    optional_text = ""
  end
%>

<div class="card">
  <div class="card__heading submission-step__business">
    Business <%= type.titleize %> <%= optional_text %>

    <button data-modal-trigger="business-plan-upload-modal"
            role="button"
            class="unbutton">
      <%= fa_icon("wrench") %>
    </button>
  </div>
  <div class="card__body">
    <% if submission.business_plan %>
      <p>
        <%= link_to "Your business #{type}", submission.business_plan.file_url %>

        <br />

        <small>
          <em>updated <%= time_ago_in_words(submission.business_plan.updated_at) %> ago</em>
        </small>
      </p>
    <% else %>
      Please add your business <%= type %> (.pdf) <%= optional_text %>
    <% end %>
  </div>
</div>

<%= content_tag :div,
  class: "modalify",
  id: "business-plan-upload-modal",
  data: { heading: "Business #{type.titleize} (.pdf) #{optional_text}" } do %>
  <%= direct_upload_form_for @business_plan_uploader,
                             html: { class: 'fancy-file-upload' },
                             data: { type: 'application/pdf' } do |f| %>
    <%= f.file_field :business_plan %>
    <%= f.submit t("views.application.upload"), class: "appy-button" %>
  <% end %>
<% end %>
