<div class="card">
  <div class="card__heading submission-step__code">
    Source Code

    <button data-modal-trigger="source-code-upload-modal"
            role="button"
            class="unbutton">
      <%= fa_icon("wrench") %>
    </button>
  </div>
  <div class="card__body">
    <p>
      <% if submission.source_code.present? ||
              submission.source_code_external_url.present? %>
        <%= link_to "Your source code",
          submission.source_code_url || submission.source_code_external_url,
          target: "_blank" %>
      <% else %>
        Upload, your source code (.aia or .zip file)
      <% end %>
    </p>
  </div>
</div>

<div class="modalify"
     id="source-code-upload-modal"
     data-heading="Source Code (.aia or .zip)">
  <%= direct_upload_form_for @source_code_uploader,
    html: { class: 'fancy-file-upload' },
    data: { type: 'application/zip,application/aia' } do |f| %>
    <%= f.file_field :source_code %>
    <%= f.submit t("views.application.upload"), class: "appy-button" %>
  <% end %>
</div>
