<div class="card">
  <div class="card__heading submission-step__code">
    Source Code

    <button data-modal-trigger="source-code-upload-modal"
            role="button"
            class="appy-button">
      Edit
    </button>
  </div>
  <div class="card__body">
    <p>
      <% if submission.detect_source_code_url %>
        <%= link_to submission.source_code_url_text,
          submission.detect_source_code_url,
          target: "_blank" %>
      <% else %>
        Upload, your source code (.aia, .zip file, or URL)
      <% end %>
    </p>
  </div>
</div>

<div class="modalify alternative-forms"
     id="source-code-upload-modal"
     data-heading="Source Code (.aia, .zip, or URL)">
  <%
    if submission.source_code_file_uploaded?
      file_css = "active"
      url_css = ""
      switch_text = "Use a URL"
    else
      file_css = ""
      url_css = "active"
      switch_text = "Upload a file"
    end
  %>

  <%= direct_upload_form_for @source_code_uploader,
    html: { class: "fancy-file-upload alternative-form #{file_css}" },
    data: { switch_text: 'Use a URL' } do |f| %>
    <%= f.file_field :source_code %>
    <%= f.submit t("views.application.upload"), class: "appy-button" %>
  <% end %>

  <%= simple_form_for [current_account.type_name, submission],
    html: { class: "no-simple-form-style alternative-form #{url_css}" },
    data: { switch_text: "Upload a file" } do |f| %>

    <%= hidden_field_tag :team_id, current_team.id %>

    <%= f.input :source_code_external_url,
      label: "Or, copy/paste your source code URL here",
      placeholder: "https://" %>

    <%= f.submit t("views.application.save"), class: "appy-button" %>
  <% end %>

  <button class="alternative-form-switch">
    <%= switch_text %>
  </button>
</div>
