<div class="card">
  <div class="card__heading">
    Source Code

    <% if submission.source_code.present? or submission.source_code_external_url.present? %>
      <%= fa_icon("check-circle", class: "card-heading__flair") %>
    <% else %>
      <%= fa_icon("circle-o", class: "card-heading__flair") %>
    <% end %>
  </div>

  <div class="card__body">
    <% if submission.source_code.present? %>
      <p><%= link_to "Your source code", submission.source_code_url, target: "_blank" %></p>

      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to "Edit", [:edit, :student, submission, step: :source_code], class: "appy-button" %>
      </div>
    <% elsif submission.source_code_external_url.present? %>
      <p><%= link_to submission.source_code_external_url, submission.source_code_external_url, target: "_blank" %></p>

      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to "Edit", [:edit, :student, submission, step: :source_code], class: "appy-button" %>
      </div>
    <% else %>
      <div class="card__actions-row card__actions-row--pos-end">
        <%= link_to "Attach Source Code", [:edit, :student, submission, step: :source_code], class: "appy-button" %>
      </div>
    <% end %>
  </div>
</div>
