<%= content_tag :div,
  class: 'card ajax-form',
  role: 'form',
  data: {
    ajax_form: true,
    object_name: "team_submission",
    update_url: student_team_submission_path(submission)
  } do %>

  <div class="card__heading submission-step__ideation">
    Sustainable Development Goal
    <button type="button" data-action="edit" class="unbutton">
      edit
    </button>
  </div>

  <div class="card__body">
    <div class="ajax-form__static-input ajax-form-helper__static-mode"
         data-display-for="stated_goal">
      <% if submission.stated_goal %>
        <%= submission.stated_goal %>
      <% else %>
        No goal selected
      <% end %>
    </div>

    <div class="ajax-form-helper__edit-mode">
      <%= select_tag :stated_goal,
        options_for_select(TeamSubmission.stated_goals.keys, submission.stated_goal),
        prompt: "Select one" %>
    </div>

    <%= label_tag :stated_goal_explanation, "Explanation" %>

    <div class="ajax-form__static-input ajax-form-helper__static-mode"
         data-display-for="stated_goal_explanation">
      <% if submission.stated_goal_explanation %>
        <%= submission.stated_goal_explanation %>
      <% else %>
        In one or two sentences, explain your choice.
      <% end %>
    </div>

    <div class="ajax-form-helper__edit-mode">
      <%= text_area_tag :stated_goal_explanation,
        submission.stated_goal_explanation,
        placeholder: "In one or two sentences, explain your choice." %>
    </div>
  </div>
<% end %>
