<!--This is now maybe broader than just 'team_photo' so maybe we should rename it-->

<div class="ts-about-team simple-card">
  <%= direct_upload_form_for uploader, html: { class: 'fancy-upload' } do |f| %>

    <% if team.team_photo.present? %>
      <a
        data-uploader="true"
        class="ts-about-team__photo"
        style="background-image: url(<%= team.team_photo_url %>)">
        <div class="ts-about-team__edit-photo-text">
          Edit Team Photo
          <span class="fa fa-camera"><!--FontAwesome--></span>
        </div>
      </a>
    <% else %>
      <a
        data-uploader="true"
        class="ts-about-team__photo ts-about-team__photo--no-photo"
        style="background-image: url(<%= team.team_photo_url %>)">
        <div class="ts-about-team__edit-photo-text">
          Add Team Photo
          <span class="fa fa-camera"><!--FontAwesome--></span>
        </div>
      </a>
    <% end %>

    <!--
    <p class="appy-hint"><%#= t("controllers.teams.update.change_image_hint") %></p>
    -->

    <%= f.file_field :team_photo, data: { fancy: true } %>
    <%= f.submit t("views.application.save"), class: "appy-button" %>
  <% end %>

  <div class="ts-about-team__name">
    <%= team.name %>
  </div>

  <div class="ts-about-team__description">
    <%= team.description %>
  </div>

  <a href="/student/teams/<%= team.id %>" class="ts-about-team__team-quick-link">
    Go To Your Team Page
  </a>
</div>
