<%= simple_form_for chapter, url: admin_chapter_path(chapter), local: true do |f| %>
  <% if chapter.errors.any? %>
    <div class="notice notice--error">
      <ul class="reset">
        <% chapter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :legal_contact_full_name, "Name" %>
    <%= f.text_field :legal_contact_full_name %>
  </div>

  <div class="field">
    <%= f.label :legal_contact_email_address, "Email" %>
    <%= f.text_field :legal_contact_email_address %>
  </div>

  <div class="field">
    <%= f.label :legal_contact_phone_number, "Phone Number" %>
    <%= f.text_field :legal_contact_phone_number %>
  </div>

  <div class="field">
    <%= f.label :legal_contact_job_title, "Job Title" %>
    <%= f.text_field :legal_contact_job_title %>
  </div>

  <div class="actions margin--t-xlarge">
    <%= f.submit chapter.legal_contact_full_name.blank? ? "Save" : "Update", class: "button" %>
  </div>
<% end %>
