<div class="grid">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <h3>
      Legal Contact
    </h3>

    <div class="panel">
      <% if chapter.legal_contact.present? %>
        <dl>
          <dt>Name</dt>
          <dd><%= chapter.legal_contact.full_name %></dd>

          <dt>Email</dt>
          <dd><%= chapter.legal_contact.email_address %></dd>

          <dt>Phone Number</dt>
          <dd><%= chapter.legal_contact.phone_number.presence || "-" %></dd>

          <dt>Job Title</dt>
          <dd><%= chapter.legal_contact.job_title.presence || "-" %></dd>
        </dl>

        <div style="display: flex; justify-content: flex-start; column-gap: 2rem;" >
          <div>
            <%= link_to "Edit",
              edit_admin_chapter_legal_contact_path(@chapter),
              class: "button"
            %>
          </div>

          <% if params[:affiliation_agreement_job_scheduled].blank? %>
            <% if @chapter.affiliation_agreement.blank? %>
              <%= button_to "Send Chapter Affiliation Agreement",
                admin_chapter_affiliation_agreement_path(@chapter),
                method: "post",
                class: "button",
                onclick: "this.disabled=true; this.form.submit();"
              %>

            <% elsif !@chapter.affiliation_agreement.signed? && !@chapter.affiliation_agreement.off_platform? %>
              <%= button_to "Void Chapter Affiliation Agreement",
                void_admin_chapter_affiliation_agreement_path(@chapter),
                method: "patch",
                class: "button",
                onclick: "this.disabled=true; this.form.submit();"
              %>
            <% end %>
          <% end %>
        </div>

        <% if @chapter.affiliation_agreement.blank? && params[:affiliation_agreement_job_scheduled].blank? %>
          <h4 class="margin--t-xxlarge">Create Off-platform Affiliation Agreement</h4>
          <%= form_with url: admin_chapter_off_platform_affiliation_agreement_path(@chapter), method: :post do %>

            <%= select_tag :seasons_valid,
              options_for_select({
                "Valid for 1 season": "1",
                "Valid for 2 seasons": "2",
                "Valid for 3 seasons": "3"
              })
            %>

          <%= submit_tag "Submit",
            method: "post",
            class: "button",
            onclick: "this.disabled=true; this.form.submit();"
          %>
      <% end %>
    <% end %>
      <% else %>
        <%= render "admin/chapters/legal_contacts/form", chapter: @chapter, legal_contact: @chapter.build_legal_contact %>
      <% end %>
    </div>
  </div>
</div>
