<div class="grid">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <h3>
      Legal Contact
    </h3>

    <div class="panel">
      <% if chapter.legal_contact_full_name.present? ||
          chapter.legal_contact_email_address.present? ||
          chapter.legal_contact_phone_number.present? ||
          chapter.legal_contact_job_title.present?
      %>
        <dl>
          <dt>Name</dt>
          <dd><%= chapter.legal_contact_full_name %></dd>

          <dt>Email</dt>
          <dd><%= chapter.legal_contact_email_address %></dd>

          <dt>Phone Number</dt>
          <dd><%= chapter.legal_contact_phone_number %></dd>

          <dt>Job Title</dt>
          <dd><%= chapter.legal_contact_job_title %></dd>
        </dl>

        <div style="display: flex; justify-content: flex-start; column-gap: 2rem;" >
          <div>
            <%= link_to "Edit",
              edit_admin_chapter_path(@chapter),
              class: "button"
            %>
          </div>

          <% if chapter.legal_contact_email_address.present? %>
            <%= button_to "Send MOU",
              admin_chapter_memorandum_of_understanding_path(@chapter),
              method: "post",
              class: "button"
            %>
          <% end %>
        </div>
      <% else %>
        <%= render "edit_legal_contact_form", chapter: @chapter %>
      <% end %>
    </div>
  </div>
</div>
