<div class="grid">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <h3>
      Legal Contact
    </h3>

    <div class="panel">
      <% if chapter.legal_contact_full_name.present? %>
        <dl>
          <dt>Name</dt>
          <dd><%= chapter.legal_contact_full_name %></dd>

          <dt>Email</dt>
          <dd><%= chapter.legal_contact_email_address %></dd>

          <dt>Phone Number</dt>
          <dd><%= chapter.legal_contact_phone_number %></dd>

          <dt>Job Title</dt>
          <dd><%= chapter.legal_contact_job_title %></dd>
        </dl>

        <%= link_to "Edit",
          edit_admin_chapter_path(@chapter),
          class: "button"
        %>
      <% else %>
        <%= render "edit_legal_contact_form", chapter: @chapter %>
      <% end %>
    </div>
  </div>
</div>
