<div class="grid grid--justify-center">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <div class="panel">
      <div class="grid__col-4">
        <h3><%= @chapter.name.presence || "TBD" %></h3>

        <dl>
          <dt>Organization</dt>
          <dd><%= @chapter.organization_name %></dd>

          <dt>Organization Headquarters Location</dt>
          <dd><%= @chapter.organization_headquarters_location.presence || "Not Set" %></dd>

          <dt>Primary Contact</dt>
          <dd>
            <%= @chapter.primary_contact.present? ? (link_to @chapter.primary_contact.full_name, admin_participant_path(@chapter.primary_contact.account)) : "Not Set" %>
          </dd>

          <dt>Location</dt>
          <dd><%= @chapter.address_details.presence || "-" %></dd>

          <dt>Public Map Visibility</dt>
          <dd>
            <%= @chapter.visible_on_map? ?  "Display on map" : "Do not display on map" %>
          </dd>

          <dt>Chapter Links</dt>
          <dd>
            <ul>
              <li></li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="grid__col-12 grid__col--bleed-y">
        <dl>
          <dt>Summary</dt>

          <dd>
            <%= simple_format h(@chapter.summary.presence || "-") %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<%= render "chapter_ambassadors",
  chapter: @chapter,
  pending_chapter_invites: @pending_chapter_invites,
  chapter_invite: @chapter_invite
%>

<%= render "legal_contact", chapter: @chapter %>
