<div class="grid grid--justify-center">
  <div class="grid__col-auto grid__col--bleed-x grid__col--bleed-y">
    <div class="panel">
      <div class="grid">
        <div class="grid__col-12">
          <h3><%= @chapter.name.presence || "TBD" %></h3>
        </div>

        <div class="grid__col-6">
          <dl>
            <dt>Organization</dt>
            <dd><%= @chapter.organization_name %></dd>

            <dt>Organization Headquarters Location</dt>
            <dd><%= @chapter.organization_headquarters_location.presence || "Not Set" %></dd>

            <dt>Primary Contact</dt>
            <dd>
              <%= @chapter.primary_contact.present? ? (link_to @chapter.primary_contact.full_name, admin_participant_path(@chapter.primary_contact)) : "Not Set" %>
            </dd>

            <dt>Location</dt>
            <dd>
              <%= @chapter.address_details.presence || "-" %>

              <p>
                <%= link_to "Edit location",
                  edit_admin_chapter_location_path(
                    @chapter,
                    return_to: admin_chapter_path(@chapter)
                  ),
                  class: "button secondary small" %>
              </p>
            </dd>

            <dt>Public Map Visibility</dt>
            <dd>
              <%= @chapter.visible_on_map? ?  "Display on map" : "Do not display on map" %>
            </dd>

            <dt>Chapter Links</dt>
            <dd>
              <% if @chapter.chapter_links.present? %>
                <ul style="list-style: none; padding: 0;">
                  <% @chapter.chapter_links.each do |link| %>
                    <li>
                      <% if link.name == "email" %>
                        <%= mail_to link.value, web_icon(link.icon, text: link.value), style: "font-weight: lighter; color: black;" %>
                      <% else %>
                        <%= link_to web_icon(link.icon, text: link.value), link.url, style: "font-weight: lighter; color: black;" %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                -
              <% end %>
            </dd>

            <%= render partial: "admin/chapterables/season_status",
              locals: { chapterable: @chapter } %>

            <%= render partial: "admin/chapterables/seasons_list",
              locals: { chapterable: @chapter } %>
          </dl>
        </div>

        <div class="grid__col-6">
          <h3>Chapter Affiliation Agreement</h3>

          <dl>
            <dt>Status</dt>
            <dd>
              <% if @chapter.legal_contact.present? %>
                <% if @chapter.affiliation_agreement.present? %>
                  <% if @chapter.affiliation_agreement_complete? %>
                    <% if @chapter.affiliation_agreement.signed? %>
                      Signed <%= @chapter.affiliation_agreement.signed_at.strftime("%b %d, %Y") %>
                  <% elsif @chapter.affiliation_agreement.off_platform? %>
                      Completed off-platform

                  <% end %>
                  <% else %>
                    Not signed
                  <% end %>
                <% else %>
                  Not sent
                <% end %>
              <% else %>
                Not sent (no legal contact has been setup yet)
              <% end %>
            </dd>

            <dt>Season Signed</dt>
            <dd>
              <%= @chapter.affiliation_agreement&.season_signed.presence || "-" %>
            </dd>

            <dt>Season Expires</dt>
            <dd>
              <%= @chapter.affiliation_agreement&.season_expires.presence || "-" %>
            </dd>

            <dt>Seasons Valid For</dt>
            <dd>
              <% if @chapter.affiliation_agreement.present? && @chapter.seasons_chapter_affiliation_agreement_is_valid_for.present? %>
                <%= @chapter.seasons_chapter_affiliation_agreement_is_valid_for.to_sentence %>
              <% else %>
                -
              <% end %>
            </dd>
          </dl>
        </div>
      </div>

      <div class="grid__col-12">
        <dl>
          <dt>Summary</dt>

          <dd>
            <%= simple_format h(@chapter.summary.presence || "-") %>
          </dd>
        </dl>
      </div>

      <%= button_to "Edit Chapter",
        edit_admin_chapter_path(@chapter),
        method: "get",
        class: "button"
      %>
    </div>
  </div>
</div>

<%= render "admin/chapters/chapter_onboarding",
  chapter: @chapter
%>

<%= render "admin/chapters/chapter_ambassadors",
  chapter: @chapter,
  pending_chapter_invites: @pending_chapter_invites,
  chapter_invite: @chapter_invite
%>

<%= render "admin/chapters/legal_contact", chapter: @chapter %>

<%= render "admin/chapterables/stats_overview",
  chapterable: @chapter,
  chapterable_type: "chapter"
%>

<%= render "admin/chapterables/program_information",
  chapterable: @chapter,
  chapterable_type: "chapter"
%>