<div class="flex-row">
  <div class="flex-col-md-4">
    <h1 class="appy-title">
      All Scores
    </h1>
  </div>

  <div class="flex-col-md-4">
    <h1 class="appy-title">
      <%= pluralize SubmissionScore.complete.count, "complete score" %>
    </h1>
  </div>

  <div class="flex-col-md-4">
    <h1 class="appy-title">
      <%= pluralize SubmissionScore.incomplete.count, "pending score" %>
    </h1>
  </div>

  <div class="flex-col-md-12">
    <label>
      Judging round:

      <%= select_tag :round,
        options_for_select([["Quarterfinals", "quarterfinals"],
                            ["Semifinals", "semifinals"]],
                          params.fetch(:round)),
        data: { reload: true } %>
    </label>
  </div>
  <%= render 'regional_ambassador/scores/index',
    submissions: @submissions,
    event: @event,
    events: @events,
    division: @division,
    judging_round: params.fetch(:round),
    scope: :admin %>

  <div class="flex-col-md-12">
    <h2>Export all scores</h2>

    <%= form_tag admin_exports_path(params.merge(class: "score")) do %>
      <span class="inline-radio">
        <%= radio_button_tag(:type, "summary", true) %>
        <%= label_tag(:type_summary, "Summary") %>
      </span>
      <span class="inline-radio">
        <%= radio_button_tag(:type, "detail") %>
        <%= label_tag(:type_detail, "Detail") %>
      </span>
      <%= button_tag "Email CSV Summary Report to:", class: "appy-button" %>
      <%= email_field_tag :export_email, cookies[:export_email], class: "export-to-email" %>
    <% end %>
  </div>
</div>
