<h1 class="appy-title">
  All Scores
</h1>

<label>
  Sort all results by:

  <%= select_tag :sort,
    options_for_select([["Highest average score", "avg_score_desc"],
                        ["Lowest average score", "avg_score_asc"],
                        ["Team name", "team_name"]],
                       params.fetch(:sort) { "avg_score_desc" }),
    data: { reload: true } %>
</label>

<div style="padding: 1rem 0;">
  Select an Event

  <%= select_tag "event",
    options_from_collection_for_select(
      @events,
      'id',
      'name_with_friendly_country_prefix',
      params[:event]
    ),
    class: "chosen-wide",
    data: {
      reload: true,
      param: :event,
    } %>
</div>

<div class="tabs" id="admin-scores">
  <ul class="tab-menu">
    <% if @senior_teams.any? %>
      <li class="tab-link">
        <button
          role="button"
          class="tab-button"
          data-tab-id="ra-event-<%= @event.id %>-senior">
          Senior Division
        </button>
      </li>
    <% end %>

    <% if @junior_teams.any? %>
      <li class="tab-link">
        <button
          role="button"
          class="tab-button"
          data-tab-id="ra-event-<%= @event.id %>-junior">
          Junior Division
        </button>
      </li>
    <% end %>
  </ul>

  <div class="content" style="margin-top: -2px; padding: 1rem 0;">
    <% if @senior_teams.any? %>
      <div class="tab-content"
            id="ra-event-<%= @event.id %>-senior"
            style="background-color: white;">
        <%= render 'regional_ambassador/scores/list',
          division: :senior,
          event: @event,
          teams: @senior_teams,
          scope: :admin %>
      </div>
    <% end %>

    <% if @junior_teams.any? %>
      <div class="tab-content"
           id="ra-event-<%= @event.id %>-junior"
           style="margin-top: -1px; background-color: white;">
        <%= render 'regional_ambassador/scores/list',
          division: :junior,
          event: @event,
          teams: @junior_teams,
          scope: :admin %>
      </div>
    <% end %>
  </div>
</div>

<div class="admin-search__export-options">
  <label class="no-text-transform per_page">
    Per page:

    <%= select_tag :per_page,
      options_for_select([15, 25, 50, 100], params[:per_page]),
      data: {
        reload: true,
        param: :per_page,
      } %>
  </label>

  <h2>Export all scores</h2>

  <%= form_tag admin_exports_path(params.merge(class: "score")) do %>
    <span class="inline-radio">
      <%= radio_button_tag(:type, "summary", true) %>
      <%= label_tag(:type_summary, "Summary") %>
    </span>

    <span class="inline-radio">
      <%= radio_button_tag(:type, "detail") %>
      <%= label_tag(:type_detail, "Detail") %>
    </span>

    <%= button_tag "Email CSV Report to:", class: "appy-button" %>
    <%= email_field_tag :export_email, cookies[:export_email], class: "export-to-email" %>
  <% end %>

</div>
