<% provide :title, "Review Score" %>
<% is_privileged = current_account.admin? ||
                     current_account.chapter_ambassador_profile.present? %>

<div class="panel">
  <header class="admin-score-header">
    <h3>
      <span>Team</span>
      <%= link_to_if current_scope == "mentor",
        @score.team_name,
        send("mentor_team_path", @score.team)
      %>
    </h3>

    <h3>
      <span>Division</span>
      <%= @score.team.division_name.humanize %>
    </h3>

    <h3>
      <span>Submission</span>
      <%= link_to @score.team_submission.app_name,
        project_path(@score.team_submission),
        data: { turbolinks: false },
        target: "_blank"
      %>
    </h3>

    <h4><span>Score</span> <%= @score.total %> / <%= @score.total_possible %></h4>

    <% if is_privileged %>
      <h4><span>Judge </span>
        <%= link_to @score.judge_name,
                    send("#{current_scope}_participant_path", @score.judge_profile.account_id),
                    data: { turbolinks: false }
        %>
      </h4>
    <% end %>

    <h5>
      <span>Score comes from</span>
      <%= @score.judge_profile.address_details %>
    </h5>

    <% if current_account.admin? %>
      <h5>
        <span>Clicked Pitch Video</span>
        <%= @score.clicked_pitch_video? ? "Yes" : "No" %>
      </h5>

      <h5>
        <span>Clicked Demo Video</span>
        <%= @score.clicked_demo_video? ? "Yes" : "No" %>
      </h5>

      <h5>
        <span>Downloaded Source Code</span>
        <%= @score.downloaded_source_code? ? "Yes" : "No" %>
      </h5>

      <% if @score.team.senior? || @score.team.junior? %>
        <h5>
          <span>
            Downloaded
            <%= @score.team.senior? ? "Business Plan" : "User Adoption Plan" %>
          </span>
          <%= @score.downloaded_business_plan? ? "Yes" : "No" %>
        </h5>
      <% end %>
    <% end %>
  </header>
  <br>

  <% questions = Questions.for(@score) %>

  <div class="admin-score-sections">
    <% questions.sections_for(division: @score.team.division_name).each do |section| %>
      <h3>
        <% if section === "ideation" %>
          Learning Journey
        <% elsif section === "entrepreneurship" %>
          <%= @score.team.senior? ? "Business Plan" : "User Adoption Plan" %>
        <% else %>
          <%= section.titlecase %>
        <% end %>
        <span>(<%= @score.total_points_for_section(@score.team.division_name, section) %>)</span>
      </h3>

      <table>
        <% questions.in_section(section).each do |question| %>
          <tr>
            <td><%= question.text.html_safe %></td>
            <td><%= @score.total_for_question(question) %></td>
          </tr>
        <% end %>
      </table>

      <%= simple_format @score.comment_for_section(section) %>
    <% end %>
  </div>

  <%= render partial: "admin/scores/score_controls",
    locals: { score: @score, current_account: current_account } %>

</div>
