<% provide :title, "Review Score" %>
<% is_privileged = current_account.admin? ||
                     current_account.chapter_ambassador_profile.present? %>

<div class="panel">
  <header class="admin-score-header">
    <h3>
      <span>Team</span>
      <%= link_to_if current_scope == "mentor",
        @score.team_name,
        [
          current_scope,
          @score.team
        ]
      %>
    </h3>

    <h3>
      <span>Submission</span>
      <%= link_to @score.team_submission.app_name,
        app_path(@score.team_submission),
        data: { turbolinks: false },
        target: "_blank"
      %>
    </h3>

    <h4><span>Score</span> <%= @score.total %> / <%= @score.total_possible %></h4>

    <% if is_privileged %>
      <h4><span>Judge</span> <%= @score.judge_name %></h4>
    <% end %>

    <h5><span>Score comes from</span> <%= @score.judge_profile.address_details %></h5>
  </header>

  <% questions = Questions.for(@score) %>

  <div class="admin-score-sections">
    <% questions.sections.each do |section| %>
      <h3>
        <%= section.titlecase %>
        <span>(<%= @score.total_for_section(section) %>)</span>
      </h3>

      <% if section == "technical" %>
        <p>
          <strong>Clicked Demo Video:</strong>
          <%= @score.clicked_demo_video? ? "Yes" : "No" %>
        </p>

        <p>
          <strong>Downloaded Source Code:</strong>
          <%= @score.downloaded_source_code? ? "Yes" : "No" %>
        </p>
      <% elsif section == "pitch" %>
        <p>
          <strong>Clicked Pitch Video:</strong>
          <%= @score.clicked_pitch_video? ? "Yes" : "No" %>
        </p>
      <% elsif section == "entrepreneurship" &&  @score.team.senior? %>
        <p>
          <strong>Downloaded Business Plan:</strong>
          <%= @score.downloaded_business_plan? ? "Yes" : "No" %>
        </p>
      <% end %>

      <table>
        <% questions.in_section(section).each do |question| %>
          <tr>
            <td><%= question.text.html_safe %></td>
            <td><%= @score.total_for_question(question) %></td>
          </tr>
        <% end %>
      </table>

      <%= simple_format @score.comment_for_section(section) %>
    <% end %>
  </div>

  <%= render partial: "admin/scores/score_controls",
    locals: { score: @score, current_account: current_account } %>

</div>
