<% provide :title, "Review Score" %>
<% is_privileged = current_account.admin? ||
                     current_account.regional_ambassador_profile.present? %>

<div class="panel">
  <header class="admin-score-header">
    <h3>
      <span>Team</span>
      <%= link_to_if current_scope == "mentor",
        @score.team_name,
        [
          current_scope,
          @score.team
        ]
      %>
    </h3>

    <h3>
      <span>Submission</span>
      <%= link_to @score.team_submission.app_name,
        app_path(@score.team_submission),
        data: { turbolinks: false },
        target: "_blank"
      %>
    </h3>

    <h4><span>Score</span> <%= @score.total %> / <%= @score.total_possible %></h4>

    <% if is_privileged %>
      <h4><span>Judge</span> <%= @score.judge_name %></h4>
    <% end %>

    <h5><span>Score comes from</span> <%= @score.judge_profile.address_details %></h5>
  </header>

  <% questions = Questions.for(@score) %>

  <div class="admin-score-sections">
    <% questions.sections.each do |section| %>
      <h3>
        <%= section.titlecase %>
        <span>(<%= @score.total_for_section(section) %>)</span>
      </h3>

      <table>
        <% questions.in_section(section).each do |question| %>
          <tr>
            <td><%= question.text %></td>
            <td><%= @score.total_for_question(question) %></td>
          </tr>
        <% end %>

        <% if section.to_sym === :technical %>
          <tr>
            <td>
              The team automatically earned
              <%= pluralize(@score.total_technical_checklist, "points") %>
              from their code checklist
            </td>
            <td><%= @score.total_technical_checklist %></td>
          </tr>
        <% end %>
      </table>

      <%= simple_format @score.comment_for_section(section) %>
    <% end %>
  </div>

  <% @score.awaiting_review(current_account) do %>
    <div class="admin-score-actions">
      <%= button_to "Approve this score",
        admin_score_approvals_path(id: @score.id),
        method: "post",
        class: "button",
        data: {
          confirm: "You are about to APPROVE this score",
          positive: "true",
        }
      %>

      <%= button_to "Delete this score",
        admin_score_path(@score),
        method: "delete",
        class: "button button--danger",
        data: {
          confirm: "You are about to DELETE this score",
        }
      %>
    </div>
  <% end %>
</div>
