<%= will_paginate(@accounts) %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>School / Company name</th>
      <th>Division</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.first_name %></td>
        <td><%= account.last_name %></td>
        <td><%= account.email %></td>
        <td><%= account.get_school_company_name %></td>
        <td><%= account.division %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@accounts) %>
