<%= render 'regional_ambassador/accounts/sub_menu' %>

<div class="grid">
  <div class="grid__col-sm-6">
    <div class="panel preview-list">
      <h1 class="content-heading">Students without a team</h1>

      <div class="grid grid--bleed previews">
        <% @unmatched_students.each do |student| %>
          <div class="grid__col-2" id=<%= dom_id(student) %>>
            <div class="grid__cell">
              <%= image_tag student.profile_image_url,
                class: "thumbnail-sm grid__cell-img" %>
            </div>
          </div>

          <div class="grid__col-5">
            <%= student.full_name %><br />
            <%= student.email %><br />
            <%= student.address_details %>
          </div>

          <div class="grid__col-5">
            invites<br />
            requests<br />
            last activity: 3 days ago...
          </div>
        <% end %>
      </div>

      <div class="preview-list-footer">
        Showing the most recent 15 students without a team.
        <%= link_to 'view all', regional_ambassador_unmatched_students_path %>
      </div>
    </div>
  </div>

  <div class="grid__col-sm-6">
    <div class="panel">
      <h1 class="content-heading">Mentors without a team</h1>
    </div>
  </div>

  <div class="grid__col-sm-6">
    <div class="panel">
      <h1 class="content-heading">Teams without a mentor</h1>
    </div>
  </div>

  <div class="grid__col-sm-6">
    <div class="panel">
      <h1 class="content-heading">Teams without students</h1>
    </div>
  </div>
</div>
