<p>
  You're seeing all users in your region for the <%= Season.current.year %> season.
  In the U.S., your region is your state. For everyone else, it's your country.
</p>

<label>
  View per page:
  <%= select_tag :per_page,
                 options_for_select(%w{10 25 50 100 250}, params[:per_page]),
                 class: "inline",
                 data: { reload: true, param: :per_page } %>
</label>

<div class="wrapper__regional_ambassador_accounts">
  <%= will_paginate(@accounts) %>

  <table class="table__regional_ambassador_accounts sortable">
    <thead>
      <tr>
        <th>ID</th>
        <th>User type</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Team name(s)</th>
        <th>School / Company name</th>
        <th>Division</th>
      </tr>

      <tr>
        <td colspan="8">
          <%= link_to "Export to CSV", regional_ambassador_account_exports_path, data: { method: :post } %>
        </td>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <% cache(account) do %>
          <tr>
            <td><%= account.id %></td>
            <td><%= account.type_name %></td>
            <td><%= account.first_name %></td>
            <td><%= account.last_name %></td>
            <td><%= account.email %></td>
            <td><%= account.teams.current.flat_map(&:name).to_sentence %></td>
            <td><%= account.get_school_company_name %></td>
            <td><%= account.division %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate(@accounts) %>
</div>
