<% if can_generate_certificate?(:student, :completion) %>
  <div class="certs-sidebar">
    <h1>Certificates</h1>

    <% if can_generate_certificate?(:student, :rpe_winner) %>
      <h3>Congratulations!</h3>

      <p>
        Your team is a Regional Pitch Grand Winner!
        Download a certificate to showcase your win.
      </p>

      <div id="student_winner_cert">
        <% if current_student.certificates.rpe_winner.empty? %>
          <%= form_with url: student_certificates_path,
                        local: true do |f| %>
            <%= f.hidden_field :type, value: :rpe_winner %>

            <p>First, we need to prepare your certificate for you.</p>

            <%= f.submit "Prepare my certificate" %>
          <% end %>
        <% else %>
          <%= link_to "Download my certificate",
            current_student.certificates.rpe_winner.current.file_url %>
        <% end %>
      </div>
    <% else %>
      <h3>You made it!</h3>

      <p>
        You finished the <%= Season.current.year %> Technovation program!
      </p>

      <p>
        Download a participation certificate you can share with others to
        let them know you finished the Technovation program.
      </p>

      <div id="student_completion_cert">
        <% if current_student.certificates.completion.empty? %>
          <%= form_with url: student_certificates_path, local: true do |f| %>
            <%= f.hidden_field :type, value: :completion %>

            <p>First, we need to prepare your certificate for you.</p>

            <%= f.submit "Prepare my certificate" %>
          <% end %>
        <% else %>
          <%= link_to "Download my certificate",
            current_student.certificates.completion.current.file_url %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
