<div class="grid__col-md-8">
  <% if current_team.present? and current_team.submission.present? %>
    <%= render 'dashboards/select_regional_pitch_event',
      submission: current_team.submission,
      events: @regional_events %>

  <% elsif current_team.present? and
    SeasonToggles.team_submissions_editable? %>

    <center>
      <p>
        Before you can access regional pitch events,
        your team needs to start a submission.
      </p>
    </center>

    <%= render 'student/dashboards/start_team_submission' %>

  <% elsif not current_team.present? and
    SeasonToggles.team_building_enabled? %>
    <p>Before you can access regional pitch events, you need to be on a team.</p>

    <%= render 'student/dashboards/join_create_team' %>

  <% elsif not current_team.present? %>
    <p>
      In order to select a live pitch event, you must be on a team.
    </p>

    <p>
      <strong>But at this time</strong>, team building is not enabled.
    </p>

    <p>
      Contact
      <%= mail_to ENV.fetch("HELP_EMAIL") %>
      if you have questions.
    </p>
  <% elsif current_team.present? %>
    <p>
      In order to select a live pitch event,
      your team must have started a submission.
    </p>

    <p>
      <strong>But at this time</strong>, starting submissions is not enabled.
    </p>

    <p>
      Contact
      <%= mail_to ENV.fetch("HELP_EMAIL") %>
      if you have questions.
    </p>
  <% end %>
</div>

<%= render 'student/dashboards/info_sidebar' %>
