<div class="flex-col-md-8">
  <h1>Your Score: <%= current_team.submission.quarterfinals_average_score %></h1>
  <table class="ra-participants-list">
    <thead>
      <tr>
        <th>Ideation</th>
        <th>Technical</th>
        <% if current_team.division.senior? %>
          <th>Entrepreneurship</th>
        <% end %>
        <th>Pitch</th>
        <th>Overall Impression</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @ideation_average %></td>
        <td><%= @technical_average %></td>
        <td><%= @pitch_average %></td>
        <% if current_team.division.senior? %>
          <td><%= @entrepreneurship_average %></td>
        <% end %>
        <td><%= @overall_impression_average %></td>
        <td><strong><%= current_team.submission.quarterfinals_average_score %></strong></td>
      </tr>
    </tbody>
  </table>

  <p>
    <em>You earned <strong><%= @scores.first.total_technical_checklist_verified %> points</strong> from your technical checklist.</em>
  </p><br>

  <h3> Best category: <%= @best_category  %></h3> <br>

  <table class="ra-participants-list" style="align:center">
    <thead>
      <tr>
        <th>Judge</th>
        <th>Location </th>
        <th>Score</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% @scores.each do |score| %>
        <tr>
        <td><%= score.judge_profile.full_name %></td>
        <td><%= score.judge_profile.address_details %></td>
        <td><%= score.total %> </td>
          <td><%= link_to 'View details', student_score_path(score.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'student/dashboards/comments_sidebar' %>

