<div class="flex-col-md-8">
  <% if current_team.present? %>
    <div class="student-manage-submission-cta">
      <% if current_team.submission.present? %>
        <%= render 'student/dashboards/team_submission_progress',
          submission: current_team.submission %>
      <% else %>
        <%= render 'student/dashboards/start_team_submission' %>
      <% end %>
    </div>
  <% else %>
    <h1><%= t("views.profile_requirements.create_join_team.heading") %></h1>

    <p>
      <%= t("views.profile_requirements.create_join_team.labels.student") %>
    </p>

    <p>
      <%= link_to t("views.profile_requirements.create_join_team.links.pre_unit.text"),
        "http://www.technovationchallenge.org/curriculum/buildateam/",
        target: "_blank" %>
      <%= t("views.profile_requirements.create_join_team.links.pre_unit.postfix") %>
    </p>

    <p class="standalone-buttons">
      <%= link_to t("views.profile_requirements.create_join_team.links.join.text"),
        [:new, :student, :team_search],
        class: "appy-button" %>

      <%= link_to t("views.profile_requirements.create_join_team.links.create.text"),
        [:new, :student, :team],
        class: "appy-button" %>
    </p>
  <% end %>
</div>

<%= render 'student/dashboards/info_sidebar' %>
