<table class="ra-participants-list" style="align:center">
  <thead>
  Official Scores - These scores counted
    <tr>
      <th>Score</th>
      <th>Judge Location </th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |score| %>
      <% if score.official? %>
      <tr>
        <td><%= score.total %> </td>
        <td><%= score.judge_profile.address_details %></td>
        <td><%= link_to 'View details', student_score_path(score.id) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table class="ra-participants-list" style="align:center">
  <thead>
  Unofficial Scores - These scores are from a celebration event
    <tr>
      <th>Score</th>
      <th>Judge Location </th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |score| %>
      <% if !score.official? %>
      <tr>
        <td><%= score.total %> </td>
        <td><%= score.judge_profile.address_details %></td>
        <td><%= link_to 'View details', student_score_path(score.id) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>