<%
    submit ||= t("views.application.get_started")
    url ||= signup_attempts_url
%>

<%= simple_form_for attempt, url: url do |f| %>
  <%= render 'errors', record: attempt %>

  <%= f.input :email, as: :email, placeholder: "Example: janie.doe@gmail.com", label: t("models.signup_attempt.email") %>

  <p class="appy-hint">
    Please choose a personal, permanent email. A school or company email might block us from sending important messages to you.
  </p>

  <% if attempt.new_record? %>
    <%= f.input :password, placeholder: "Use 8 characters or more", label: t("models.account.password") %>
  <% end %>

  <p><%= f.button :submit, submit %></p>
<% end %>
