<%= link_to image_tag("tc-logo-white-tm.png"),
  regional_ambassador_dashboard_path,
  class: "logo" %>

<nav class="main-nav">
  <%= link_to "Dashboard",
    regional_ambassador_dashboard_path,
    class: al(regional_ambassador_dashboard_path) %>

  <% if current_ambassador.onboarded? %>
    <%= link_to "Users",
      regional_ambassador_accounts_path,
      class: al(regional_ambassador_accounts_path) %>

    <%= link_to "Teams",
      regional_ambassador_teams_path,
      class: al(regional_ambassador_teams_path) %>

    <%= link_to "Team Submissions",
      regional_ambassador_team_submissions_path,
      class: al(regional_ambassador_team_submissions_path) %>

    <%= link_to "Regional Pitch Events",
      regional_ambassador_regional_pitch_events_path,
      class: al(regional_ambassador_regional_pitch_events_path) %>

    <% if ENV["ENABLE_RA_SCORES"] %>
      <%= link_to "Scores",
        regional_ambassador_scores_path,
        class: al(regional_ambassador_scores_path) %>
    <% end %>

    <%= link_to "My Account",
      regional_ambassador_profile_path,
      class: al(regional_ambassador_profile_path) %>
  <% end %>

  <%= link_to "Logout", logout_path, data: { method: :delete } %>
</nav>
