<% if current_account.authenticated? and current_account.regional_ambassador_profile and current_account.regional_ambassador_profile.full_access_enabled? %>
  <li class="nav-link <%= al(regional_ambassador_accounts_path) %>">
    <%= link_to t("views.application.dashboards.menu.accounts"), regional_ambassador_accounts_path %>
  </li>

  <li class="nav-link <%= al(regional_ambassador_teams_path) %>">
    <%= link_to t("views.application.dashboards.menu.teams"), regional_ambassador_teams_path %>
  </li>
<% end %>

<li class="nav-link <%= al(regional_ambassador_profile_path) %>">
  <%= link_to t("views.application.dashboards.menu.my_account"), regional_ambassador_profile_path %>
</li>

<li class="nav-link">
  <%= link_to t('views.application.signout'), signout_path, method: :delete %>
</li>
