<header class="navigation" role="banner">
  <div class="container">
    <div class="navigation__content-wrapper">
      <%= link_to image_tag("tc-logo-white-tm.png"),
        regional_ambassador_dashboard_path,
        class: "logo" %>

      <nav>
        <ul class="navigation__links-list">
          <li class="nav-link <%= al(regional_ambassador_dashboard_path) %>">
            <%= link_to "Dashboard", regional_ambassador_dashboard_path %>
          </li>

          <% if current_ambassador.full_access_enabled? %>
            <li class="nav-divider"></li>

            <li class="nav-link <%= al(regional_ambassador_profiles_path) %>">
              <%= link_to "Users", regional_ambassador_profiles_path %>
            </li>

            <li class="nav-divider"></li>

            <li class="nav-link <%= al(regional_ambassador_teams_path) %>">
              <%= link_to "Teams", regional_ambassador_teams_path %>
            </li>

            <li class="nav-link <%= al(regional_ambassador_team_submissions_path) %>">
              <%= link_to "Team Submissions", regional_ambassador_team_submissions_path %>
            </li>

            <li class="nav-divider"></li>

            <li class="nav-link <%= al(regional_ambassador_regional_pitch_events_path) %>">
              <%= link_to "Regional Pitch Events", regional_ambassador_regional_pitch_events_path %>
            </li>

            <% if ENV["ENABLE_RA_SCORES"] %>
              <li class="nav-link <%= al(regional_ambassador_team_submissions_path) %>">
                <%= link_to "Scores", regional_ambassador_scores_path %>
              </li>
            <% end %>

            <li class="nav-divider"></li>

            <li class="nav-link <%= al(regional_ambassador_profile_path) %>">
              <%= link_to "My Account", regional_ambassador_profile_path %>
            </li>
          <% end %>

          <li class="nav-divider"></li>

          <li class="nav-link logout">
            <%= link_to "Logout", logout_path, data: { method: :delete } %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
