<% provide :title, "Fix location data" %>

<% provide :subnav, render('chapter_ambassador/participants/sub_menu') %>

<div class="grid grid--justify-space-around">
  <div class="grid__col-8">
    <div class="panel">
      <h3 class="content-heading">
        Edit location details for
        <%= @account.scope_name.titleize %>
        –
        <%= @account.full_name %>
      </h3>

      <%= form_with(
        model: @account,
        url: chapter_ambassador_missing_participant_location_path(@account)
      ) do |f| %>

        <%= f.label :city %>
        <%= f.text_field :city %>

        <%= f.label :state_province, "State / Province" %>

        <% if current_ambassador.country_code == "US" %>
          <%= FriendlySubregion.(current_ambassador.account) %>
        <% else %>
          <%= f.text_field :state_province %>
        <% end %>

        <p>
          <%= f.label :country %>
          <%= FriendlyCountry.(current_ambassador.account) %>
        </p>

        <%= f.submit "Save location details", class: "button" %>
      <% end %>
    </div>
  </div>
</div>
