<!DOCTYPE html>
<html>
  <head>
    <%= render 'meta' %>

    <title>
      <%= content_for?(:title) ?
        "#{yield(:title)} • #{t("views.application.site_title")}" :
        t("views.application.site_title_default") %>
    </title>

    <%= stylesheet_link_tag 'admin', media: 'all' %>

    <%= stylesheet_packs_with_chunks_tag("application", "admin", data: { turbolinks_track: :reload }) %>

    <%= csrf_meta_tags %>

    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>

    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
    <%= javascript_packs_with_chunks_tag("application", "admin", data: { turbolinks_track: :reload }) %>
  </head>

  <body>
    <div class="grid">
      <div class="grid__col-10">
        <%= render 'flash_messages' %>

        <%= yield %>
      </div>

      <div class="grid__col-2 col--sticky-parent">
        <div class="col--sticky-spacer">
          <div class="col--sticky">
            <%= render 'admin/navigation' %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'application/queued_jobs' %>
  </body>
</html>
