<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= t('views.application.site_title') %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'admin/navigation' %>

    <div class="container">
      <%= render 'flash_messages' %>
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
