<!DOCTYPE html>
<html>
  <head>
    <%= render 'meta' %>

    <title>
      <%= content_for?(:title) ?
        "#{yield(:title)} • #{t("views.application.site_title")}" :
        t("views.application.site_title_default") %>
    </title>

    <%= stylesheet_link_tag 'admin', media: 'all' %>

    <%= stylesheet_link_tag(
      '//cloud.webtype.com/css/fea72f17-6c81-4c13-9e34-58b54a440d85.css',
      media: :all
    ) %>

    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="grid">
      <div class="grid__col-3">
        <div class="col--sticky">
          <%= render 'admin/navigation' %>
        </div>
      </div>

      <div class="grid__col-9">
        <%= render 'flash_messages' %>

        <%= yield %>
      </div>
    </div>

    <div id="queued-jobs">
      <div class="while-waiting">
        <%= web_icon(
          "spinner2 spin",
          text: "
            You have an export waiting, and
            a download link will appear here soon.
            You may do other things while you wait.
          ") %>
      </div>

      <div class="when-ready"></div>
    </div>
  </body>
</html>
