<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= t('views.application.site_title') %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag '//cloud.webtype.com/css/fea72f17-6c81-4c13-9e34-58b54a440d85.css', media: :all %>

    <%= favicon_link_tag 'favicons/apple-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57' %>
    <%= favicon_link_tag 'favicons/apple-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60' %>
    <%= favicon_link_tag 'favicons/apple-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72' %>
    <%= favicon_link_tag 'favicons/apple-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76' %>
    <%= favicon_link_tag 'favicons/apple-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114' %>
    <%= favicon_link_tag 'favicons/apple-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120' %>
    <%= favicon_link_tag 'favicons/apple-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144' %>
    <%= favicon_link_tag 'favicons/apple-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152' %>
    <%= favicon_link_tag 'favicons/apple-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180' %>
    <%= favicon_link_tag 'favicons/android-icon-192x192.png', rel: 'icon', type: 'image/png',  sizes: '192x192' %>
    <%= favicon_link_tag 'favicons/favicon-32x32.png', rel: 'icon', type: 'image/png',  sizes: '32x32' %>
    <%= favicon_link_tag 'favicons/favicon-96x96.png', rel: 'icon', type: 'image/png',  sizes: '96x96' %>
    <%= favicon_link_tag 'favicons/favicon-16x16.png', rel: 'icon', type: 'image/png',  sizes: '16x16' %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="main">
      <%= render 'application/navigation' %>

      <div class="container">
        <%= render 'application/flash_messages' %>
        <%= yield :subnav %>
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'application', data: { turbolinks_eval: false } %>
  </body>
</html>
