<!DOCTYPE html>
<html>
  <head>
    <%= render 'meta' %>

    <title>
      <%= content_for?(:title) ?
        "#{yield(:title)} • #{t("views.application.site_title")}" :
        t("views.application.site_title_default") %>
    </title>

    <%= render 'favicons' %>

    <%= stylesheet_link_tag determine_manifest %>

    <%= stylesheet_link_tag(
      '//cloud.webtype.com/css/fea72f17-6c81-4c13-9e34-58b54a440d85.css',
      media: :all
    ) %>

    <%= javascript_include_tag determine_manifest,
      'data-turbolinks-track' => true %>

    <%= yield :js %>
  </head>

  <body>
    <%= render 'application/navigation' %>

    <%= render 'application/flash_messages' %>

    <%= yield %>

    <%= render 'application/footer' %>

    <div id="modal-shade"></div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4055471-6', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
