<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= t('views.application.site_title') %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= stylesheet_link_tag '//cloud.webtype.com/css/fea72f17-6c81-4c13-9e34-58b54a440d85.css', media: :all %>

    <%= render 'favicons' %>
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="http://my.technovationchallenge.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Technovation Challenge — Girls for a change." />
    <meta property="og:description" content="Every year, Technovation invites teams of girls from all over the world to learn and apply the skills needed to solve real-world problems through technology. Be a part of the community." />
    <meta property="og:image" content="<%= asset_url "social-sharing-preview-image.png" %>" />

    <%= csrf_meta_tags %>

    <%= yield :head_js %>
  </head>

  <body>
    <%= render 'application/navigation' %>

    <div class="container">
      <%= render 'application/flash_messages' %>

      <div class="main-content">
        <%= yield %>
      </div>

      <footer id="site-footer">
        <p>
          Technovation Challenge<br />

          <%= link_to t("views.application.terms_of_use"),
            "http://iridescentlearning.org/terms-of-use/" %>&nbsp;|

          <%= link_to t("views.application.privacy_policy"),
            "http://iridescentlearning.org/privacy-policy/" %>&nbsp;|

          <%= link_to "Help & Support",
            "https://iridescentsupport.zendesk.com/hc/en-us",
            target: :_blank %>
        </p>

        <p>
          <%= link_to fa_icon("facebook-square 2x"),
              'https://www.facebook.com/TechChal',
              target: :_blank %>

          <%= link_to fa_icon("instagram 2x"),
              'https://www.instagram.com/techchal/',
              target: :_blank %>

          <%= link_to fa_icon("twitter-square 2x"),
              'https://twitter.com/technovation',
              target: :_blank %>

          <%= link_to fa_icon("linkedin-square 2x"),
              'https://www.linkedin.com/company/technovation',
              target: :_blank %>
        </p>
      </footer>
    </div>

    <%= javascript_include_tag 'application' %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4055471-6', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
