<!DOCTYPE html>
<html id="<%= yield :html_id %>">
  <head>
    <%= render "meta" %>

    <title>
      <%= content_for?(:title) ?
        sanitize(
          "#{yield(:title)} • " +
          t("views.application.site_title")
        ) : t("views.application.site_title_default") %>
    </title>

    <%= render "favicons" %>

    <%= javascript_packs_with_chunks_tag "application_rebrand" %>
    <%= stylesheet_pack_tag "application_rebrand", "data-turbolinks-track": "reload" %>

    <% if ENV.fetch("ENABLE_HEAP", false).present? %>
      <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};

        heap.load("<%= ENV.fetch("HEAP_APP_ID") %>");

        <% if current_account.authenticated? && !current_session.authenticated? %>
          heap.identify("<%= current_account.id %>");
          heap.addUserProperties({"email": "<%= current_account.email %>"});
        <% end %>
      </script>
    <% end %>
  </head>

  <body>
    <div class="w-full h-4 bg-energetic-blue"></div>

    <div class="max-w-prose mx-auto px-8">
      <%= image_tag "new_registration/tg-girls-logo.png", alt:"Technovation Girls Logo", id:"tg-logo", class:"w-72 -ml-6"%>

      <%= render "application/flash_messages" %>

      <%= yield %>
    </div>

    <%= render "application_rebrand/footer" %>
  </body>
</html>
