<% if current_session.authenticated? %>
  <% provide :session_bar, render("layouts/session_bar") %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <%= render 'meta' %>

    <title>
      <%= content_for?(:title) ?
        sanitize(
          "#{yield(:title)} • " +
          t("views.application.site_title")
        ) : t("views.application.site_title_default") %>
    </title>

    <%= render 'favicons' %>

    <%= stylesheet_link_tag 'printable_scores', media: :all %>

  <body>
    <%= yield %>
  </body>
</html>
