<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= t('views.application.site_title') %></title>

    <%= stylesheet_link_tag :regional_ambassador, media: 'all' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag(
      '//cloud.webtype.com/css/fea72f17-6c81-4c13-9e34-58b54a440d85.css',
      media: :all
    ) %>

    <%= javascript_include_tag :regional_ambassador,
      'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="grid">
      <div class="grid__col-sm-3">
        <%= render 'regional_ambassador/navigation/global_nav' %>
      </div>

      <div class="grid__col-sm-9">
        <%= render 'flash_messages' %>
        <%= yield %>
      </div>
    </div>

    <%= render 'footer' %>

    <div id="modal-shade"></div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4055471-6', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
