<% if current_session.authenticated? %>
  <% provide :session_bar, render("layouts/session_bar") %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <%= render 'meta' %>

    <title>
      <%= content_for?(:title) ?
        sanitize(
          "#{yield(:title)} • " +
          t("views.application.site_title")
        ) : t("views.application.site_title_default") %>
    </title>

    <%= render 'favicons' %>

    <%= stylesheet_link_tag determine_manifest %>

    <%= yield :additional_css %>

    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>

    <%= javascript_include_tag determine_manifest,
      'data-turbolinks-track' => true %>

    <%= javascript_packs_with_chunks_tag "application", "submissions" %>
    <%= javascript_packs_with_chunks_tag "application_rebrand" %>
    <%= stylesheet_pack_tag 'application_rebrand', 'data-turbolinks-track': 'reload' %>

    <%= yield :js %>
  </head>

  <body>
    <div>
      <%= yield :session_bar %>
      <%= render 'application_rebrand/global_nav' %>
      <%= yield :main_header %>
    </div>

    <div id="main-content" class="main-container bg-white pt-8">
      <%= render 'application/flash_messages' %>

      <%= yield :notifications %>

      <div class="container mx-auto" id="submission-container">
        <div class="flex flex-col lg:flex-row gap-6">
          <div class="w-full lg:w-1/3">
            <div class="h-auto mb-10 lg:mb-auto rounded-md border-solid border-4 border-energetic-blue">
              <div class="bg-energetic-blue text-white p-2">
                <p class="font-bold">Submission Checklist</p>
              </div>
              <div class="p-4">
                <%= render "team_submissions/menu",
                           submission: @team_submission,
                           embedded: true %>
              </div>
            </div>
          </div>

          <%= render layout: "application/templates/dashboards/energetic_container",
                     locals: {
                       heading: yield(:title),
                       css_class: "#{SeasonToggles.team_submissions_editable? ? 'w-full' : 'lg:w-3/4 mx-auto'}"
                     } do %>

            <%= yield %>

            <nav class="submission-nav pt-8 flex flex-row space-between">
              <% if content_for?(:back_link) %>
                <%= link_to "Back: #{yield(:back_link_txt)}",
                            yield(:back_link),
                            data: { turbolinks: false },
                            class: "submission-nav__back-btn w-auto px-4 py-2 rounded bg-tg-green text-white font-medium0"
                %>
              <% else %>
                <span></span>
              <% end %>

              <% if content_for?(:next_link) %>
                <%= link_to "Next: #{yield(:next_link_txt)}",
                            yield(:next_link),
                            data: { turbolinks: false },
                            class: "submission-nav__next-btn w-auto px-4 py-2 rounded bg-tg-green text-white font-medium" %>
              <% end %>
            </nav>
          <% end %>
        </div>
      </div>

     <%= render 'application_rebrand/footer' %>
    </div>

    <% if ENV.fetch("GOOGLE_ANALYTICS_ID", nil).present? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= ENV.fetch("GOOGLE_ANALYTICS_ID") %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </body>
</html>
