<% title ||= t("views.accounts.show.title") %>

<div class="dashboard-page-info">
  <h3><%= title %></h3>
</div>

<div class="well profile-avatar">
  <%= image_tag account.profile_image_url %>
</div>

<div class="account-info">
  <dl class="account-basic">
    <dt><%= t('models.account.first_name') %></dt>
    <dd><%= account.first_name %></dd>

    <dt><%= t('models.account.address') %></dt>
    <dd><%= account.address_details %></dd>
  </dl>

  <div class="account-special">
    <dl>
      <%= render "#{account.type_name}/accounts/public_profile", account: account %>
    </dl>
  </div>
</div>
