<% title ||= account.type_name.titleize %>

<div class="flex-row">
  <div class="flex-col-sm-3 well profile-avatar">
    <%= image_tag account.profile_image_url, width: 175 %>
    <h3><%= account.first_name %></h3>
    <h5><%= title %></h5>
  </div>

  <div class="flex-row flex-col-sm-9 account-info">
    <dl class="flex-col-sm-6 account-basic">
      <% if account.type != "StudentAccount" %>
        <dt><%= t('models.account.gender') %></dt>
        <dd><%= account.gender %></dd>
      <% end %>

      <dt><%= t('models.account.address') %></dt>
      <dd><%= account.address_details %></dd>
    </dl>

    <div class="flex-col-sm-6 account-special">
      <dl>
        <%= render "#{account.type_name}/accounts/public_profile", account: account %>
      </dl>
    </div>

    <% if account.respond_to?(:bio) %>
      <div class="flex-row">
        <div class="flex-col-sm-12">
          <dl>
            <dt><%= t('models.regional_ambassador_profile.bio.label') %></dt>
            <dd><%= simple_format account.bio %></dd>
          </dl>
        </div>
      </div>
    <% end %>
  </div>
</div>
