<% url ||= false %>
<% edit ||= false %>
<% title ||= t("views.accounts.show.title") %>

<div class="dashboard-page-info">
  <h3><%= title %></h3>
</div>

<div class="flex-row">
  <div class="flex-col-sm-3 well profile-avatar">
    <%= image_tag account.profile_image_url %>
    <% if url %>
      <%= render 'accounts/profile_image_upload', url: url %>
    <% end %>
  </div>

  <div class="flex-row flex-col-sm-9 account-info">
    <dl class="flex-col-sm-6 account-basic">
      <dt><%= t('models.account.full_name') %></dt>
      <dd><%= account.full_name %></dd>

      <dt><%= t('models.account.email') %></dt>
      <dd><%= account.email %></dd>

      <dt><%= t('models.account.date_of_birth') %></dt>
      <dd><%= account.date_of_birth %></dd>

      <% if account.type != "StudentAccount" %>
        <dt><%= t('models.account.gender') %></dt>
        <dd><%= account.gender %></dd>
      <% end %>

      <dt><%= t('models.account.address') %></dt>
      <dd><%= account.address_details %></dd>
    </dl>

    <div class="flex-col-sm-6 account-special">
      <dl>
        <%= render "#{account.type_name}/accounts/profile", account: account %>
      </dl>

      <% if edit %>
        <%= link_to t('views.accounts.show.edit'), edit_account_path %>
      <% end %>
    </div>

    <% if account.respond_to?(:bio) %>
      <div class="flex-row">
        <div class="flex-col-sm-12">
          <% if edit and account.type == "MentorAccount" %>
            <%= simple_form_for account, html: { class: "full-size" }, remote: true do |f| %>
              <%= f.fields_for :mentor_profile do |m| %>
                <%= m.input :accepting_team_invites, as: :boolean, label: t("models.mentor_profile.accepting_team_invites") %>
                <%= m.input :virtual, as: :boolean, label: t("models.mentor_profile.virtual") %>
              <% end %>
            <% end %>
          <% end %>

          <dl>
            <dt><%= t('models.regional_ambassador_profile.bio.label') %></dt>
            <dd><%= simple_format account.bio %></dd>
          </dl>
        </div>
      </div>
    <% end %>
  </div>
</div>
