<div class="profile-pages student-dashboard">
  <%= render 'student/dashboards/navigation' %>

  <%= simple_form_for @account do |f| %>
    <%= render 'signups/basic_profile_fields', f: f %>

    <%= f.input :existing_password,
                label: t('views.accounts.edit.existing_password') %>

    <%= f.input :password,
                label: t('views.accounts.edit.new_password') %>

    <%= f.input :password_confirmation,
                label: t('views.accounts.edit.confirm_new_password') %>

    <%= f.button :submit, t('views.application.save') %>
  <% end %>
</div>
