<div class="profile-pages student-dashboard">
  <!-- I should be an include! -->
  <h2>Dashboard</h2>
  <nav class="profile">
    <ul>
      <li><a href="#">home</a></li>
      <li><a href="#">my profile</a></li>
      <li><a href="#">my team</a></li>
    </ul>
  </nav>

  <div class="dashboard-page-info">
    <h3>Account Info</h3>
  </div>
  <!-- end include -->

  <div class="well profile-avatar">
    <%= image_tag("placeholders/natasha-avatar.jpg") %>
    <a href="#" class="transparent-accent-button">change image</a>
  </div>

  <div class="account-info">
    <dl>
      <dt><%= t('models.account.full_name') %></dt>
      <dd><%= account.full_name %></dd>

      <dt><%= t('models.account.email') %></dt>
      <dd><%= account.email %></dd>

      <dt><%= t('models.account.date_of_birth') %></dt>
      <dd><%= account.date_of_birth %></dd>

      <dt><%= t('models.account.address') %></dt>
      <dd><%= account.address_details %></dd>
    </dl>

    <%= link_to t('views.accounts.show.edit'), edit_account_path %>
  </div>
</div>
