<div id="judge-information-wrapper" class="flex flex-col-reverse lg:flex-row lg:justify-between">
  <div id="information-details">
    <dl>
      <dt>Name</dt>
      <dd><%= current_judge.full_name %></dd>

      <dt>Gender identity</dt>
      <dd><%= current_judge.gender || "Not specified" %></dd>

      <dt>Birthdate</dt>
      <dd><%= current_judge.date_of_birth.strftime("%B %e, %Y") %></dd>

      <dt>Company name</dt>
      <dd><%= current_judge.company_name %></dd>

      <dt>Job title</dt>
      <dd><%= current_judge.job_title %></dd>
    </dl>

    <span class="mt-8">
      <%= link_to "Change your basic profile details",
                  edit_profile_path,
                  class: "tw-green-btn" %>
    </span>

  </div>

  <div id="profile-picture" class="flex flex-col items-center self-start mb-4">
    <div>
      <%= render 'profiles/filestack_profile_image_tag' %>
    </div>
    <div>
      <%= render 'profiles/filestack_profile_image_upload' %>
    </div>
  </div>
</div>
