<div id="judge-information-wrapper" class="flex flex-col-reverse lg:flex-row lg:justify-between">
  <div id="information-details">
    <dl>
      <dt>Name</dt>
      <dd><%= current_judge.full_name %></dd>

      <dt>Gender identity</dt>
      <dd><%= current_judge.gender || "Not specified" %></dd>

      <dt>Birthdate</dt>
      <dd><%= current_judge.date_of_birth.strftime("%B %e, %Y") %></dd>

      <dt>Company name</dt>
      <dd><%= current_judge.company_name %></dd>

      <dt>Job title</dt>
      <dd><%= current_judge.job_title %></dd>
    </dl>

    <span class="mt-8">
      <%= link_to "Change your basic profile details",
                  edit_profile_path,
                  class: "tw-green-btn" %>
    </span>

  </div>

  <div id="profile-picture" class="flex flex-col items-center self-start mb-4">
    <div class="">
      <%= image_tag current_judge.profile_image_url,
                    class: "w-24 h-24 rounded-bl-3xl rounded-tr-3xl mb-3",
                    id: "profile-image" %>
    </div>

    <div>
      <%= render 'image_upload',
                 choose_from_defaults: true,
                 current_image_path: current_judge.profile_image_url,
                 modal_id: "image_upload_desktop",
                 heading: "Upload a profile photo",
                 size: "300x300" %>
    </div>
  </div>
</div>
