<div class="tw-tab-content">
  <a id="dashboard-tab" href="#dashboard-tab-content" data-heading="Judge Dashboard">Dashboard</a>
  <div class="whitespace-nowrap">
    <% if current_judge.consent_signed? %>
      <%= web_icon(
            "check-circle",
            class: "icon--green ml-4",
            text: "Consent Signed"
          ) %>
    <% else %>
      <%= web_icon(
            "circle-o",
            class: "ml-4"
          ) %>
      <%= link_to "Consent Waiver",
                  new_judge_consent_waiver_path(
                    token: current_judge.account.consent_token
                  ) %>
    <% end %>
  </div>

  <div class="whitespace-nowrap">
    <% if current_judge.training_completed? %>
      <%= web_icon(
            "check-circle",
            class: "icon--green ml-4"
          ) %>
    <% else %>
      <%= web_icon(
            "circle-o",
            class: "ml-4"
          ) %>
    <% end  %>

    <% if SeasonToggles.judging_enabled? || SeasonToggles.judge_registration_open? %>
      <%= link_to "Judge Training",
                  "https://technovationchallenge.org/judge-training/",
                  target: "_blank" %>
    <% else %>
      <span class="has-tooltip cursor-not-allowed">
        <span class="tooltip-text">Currently not available</span>
        Judge Training
      </span>
    <% end %>
  </div>
</div>

<% if current_judge.onboarded?%>
  <% if SeasonToggles.judging_enabled? %>
    <%= render 'application/templates/tw_thick_rule' %>

    <div class="tw-tab-content whitespace-nowrap">
      <a id="judge-submissions-tab" href="#judge-submissions-tab-content" data-heading="Online Judging">Judge Submissions</a>
    </div>
  <%end %>

  <%= render 'application/templates/tw_thick_rule' %>

  <div class="tw-tab-content whitespace-nowrap">
    <a id="scores-tab" href="#scores-tab-content" data-heading="Your Judge Certificate">Your judge certificate</a>
  </div>
<% end %>
