<div class="tw-tab-content list-none">
  <% if current_judge.consent_signed? %>
    <li>
      <%= web_icon(
            "check-circle",
            class: "icon--green",
            text: "Consent has been signed!",
            ) %>
    </li>
  <% else %>
    <li>
      <%= web_icon("circle-o") %>
      <%= link_to "Consent Waiver",
                  new_judge_consent_waiver_path(
                    token: current_judge.account.consent_token
                  )
      %>
    </li>
  <% end %>
</div>

<%= render 'application/templates/tw_thick_rule' %>

<div class="tw-tab-content">
  <% if current_judge.training_completed? %>
    <%= web_icon(
          "check-circle",
          class: "icon--green",
          ) %>
  <% else %>
    <%= web_icon("circle-o") %>
  <% end  %>
  <%= link_to "Judge Training",
              "https://technovationchallenge.org/judge-training/",
              target: "_blank",
              id: "judge-training-tab"
  %>
</div>

<% if current_judge.onboarded? && SeasonToggles.judging_enabled? %>
  <%= render 'application/templates/tw_thick_rule' %>

  <div class="tw-tab-content">
    <a id="judge-submissions-tab" href="#judge-submissions-tab-content">Judge Submissions</a>
  </div>

  <%= render 'application/templates/tw_thick_rule' %>

  <div class="tw-tab-content">
    <a id="scores-tab" href="#scores-tab-content">Find your scores & certificates</a>
  </div>
<% end %>